---
layout: post
title: 法媒调查道达尔集团如何为缅甸军方提供非法融资 - 今日经济
date: 2021-05-05 21:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E4%BB%8A%E6%97%A5%E7%BB%8F%E6%B5%8E/20210505-%E6%B3%95%E5%AA%92%E8%B0%83%E6%9F%A5%E9%81%93%E8%BE%BE%E5%B0%94%E9%9B%86%E5%9B%A2%E5%A6%82%E4%BD%95%E4%B8%BA%E7%BC%85%E7%94%B8%E5%86%9B%E6%96%B9%E6%8F%90%E4%BE%9B%E9%9D%9E%E6%B3%95%E8%9E%8D%E8%B5%84
categories: rfi
---

<div>05/05/2021 - 15:07</div><img src="https://s.rfi.fr/media/display/1fc1c1d0-a617-11eb-93d0-005056a964fe/w:310/p:16x9/AP21114405308913.jpg"><div class="t-content__body u-clearfix" >
                    <p> 不过，道达尔与缅甸政府究竟签署了一个什么样的合作协议？法国的世界报日前刊登长篇调查报道，介绍了道达尔集团如何在避税天堂设立复杂的金融机制，将本因交付给缅甸政府的税金，提供给缅甸军队的成员。</p><p>道达尔集团从1998年开始在缅甸通往泰国的海岸<em>缅甸</em>亚达纳(<em>Yadana</em>)<em>油田开发</em>天然气，从缅甸通往泰国的346公里的天然气输送管道是缅甸军方盗窃缅甸政府，获得巨额非法收入的一大渠道。今年二月一日缅甸发生政变之后，超过12万份有关缅甸官方的资料与数据被流向缅甸境外。其中就包括Moattama Gas Transportation Company (MGTC), Moattama天然气运输集团的金融账目清单，该运输集团的最大的股东就是道达尔集团，缅甸的公营能源企业MOGE也是其中的股东之一。世界报经过调查之后发现，事实上，缅甸油气田的税收其中仅有想当一小部分被直接交付给缅甸政府，而绝大部分资金都通过一个于1994年设立在北美的避税天堂百慕達（<em>Bermuda</em>）的公司转向其他股东的账户，而缅甸政府对上述股东不征收任何税赋。对此，道达尔集团回应说，对三十年前在百慕達设立金融公司的具体原因不太了解，但是，可以肯定的是，2012年之后，道达尔集团没有任何分公司在避税天堂注册。</p><p>通过此一复杂的财务组合，道达尔集团去年缴纳给缅甸政府的税金仅仅为其分发给缅甸的公营企业MOGE的四分之一，而缅甸公营能源集团是一家完全由缅甸军队掌控的企业。根据世界报的调查，该集团在缅甸完全是国中之国，2016年昂山素季上台之后，曾经试图夺取掌控权，增加集团的透明化，但是，两年之后，她便放弃了此一目标，对<em>缅甸</em>籍的澳洲科廷大学（Curtin University）国际企业专家Htwe Htwe Thein泰恩来说，昂山素季一定是遇到了重重阻力，最终不得不放弃。澳洲非政府还披露说，缅甸国营能源企业对军队掌控的企业提供优惠价格，同样，对亲近军队的企业例如雅高等集团也提供优惠价格。</p><p>多年来，缅甸公营能源集团的财务账目完全是黑相操作，支出用途无法查询。例如，2013年，该集团的其他费用栏目的费用超过14亿美元，远远超出了缅甸全国一年的教育以及医疗卫生的经费，2018年，其他费用栏目的总金额达到45亿美元，而外界对这些经费的用途一无所知。再加上这些金额被转向设立再避税天堂的账户，外界更是无法查询。对此，缅甸公营集团的解释是在缅甸遭受制裁期间，为了购买设备等等，缅甸不得不通过设立在中国或者新加坡的银行账户来购买。</p><p>这一复杂的金融组合，不仅对缅甸军方有利，而且也有利于法国的道达尔集团，那么，当初在避税天堂设立公司究竟是道达尔的提议还是缅甸军政府的决策？今天无从查询，有消息人士向世界报表示，这是道达尔集团的一手操办。不过，今天的当务之急是这些属于缅甸人民的财富应该回归于缅甸人民，缅甸正义组织的发言人向世界报表示，可悲的是这些财富不仅未能受惠于民，而且还被军队用来作为镇压人民的资本。 </p>
                </div>
            
                                <br>
