---
layout: post
title: 研究人员是否正在开发对抗新冠变异毒株的新疫苗？
date: 2021-05-02 13:36:05.000000000 +08:00
link: http://chinese.aljazeera.net/medicine/2021/3/2/%e7%a0%94%e7%a9%b6%e4%ba%ba%e5%91%98%e6%98%af%e5%90%a6%e6%ad%a3%e5%9c%a8%e5%bc%80%e5%8f%91%e5%af%b9%e6%8a%97%e6%96%b0%e5%86%a0%e5%8f%98%e5%bc%82%e6%af%92%e6%a0%aa%e7%9a%84%e6%96%b0%e7%96%ab%e8%8b%97
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/Snipaste_2021-03-02_12-21-22.png?resize=770%2C513" srcSet="/wp-content/uploads/2021/03/Snipaste_2021-03-02_12-21-22.png?resize=120%2C80 120w, /wp-content/uploads/2021/03/Snipaste_2021-03-02_12-21-22.png?resize=270%2C180 270w, /wp-content/uploads/2021/03/Snipaste_2021-03-02_12-21-22.png?resize=375%2C250 375w, /wp-content/uploads/2021/03/Snipaste_2021-03-02_12-21-22.png?resize=570%2C380 570w, /wp-content/uploads/2021/03/Snipaste_2021-03-02_12-21-22.png?resize=770%2C513 770w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, (max-width: 770px) 770px, 770px" alt="<div class="wysiwyg wysiwyg--all-content"><p>新冠病毒变异毒株对研究人员和疫苗生产商构成了巨大挑战，特别是在发现新冠疫苗针对部分变异毒株有效性降低之后，是否正在开发新疫苗？3位德国科学家回答了这个问题。</p>
<p>新冠病毒变异毒株数量不断增加，这对研究人员、疫苗生产商和疫苗许可机构构成了重大挑战，这是3位德国著名病毒学家得出的结论， 他们受到“科学媒体中心”(Science Media Center)邀请参加了2021年2月23日召开的视频新闻发布会，结果于2月28日公布在<a href="https://www.dw.com/ar/%D9%87%D9%84-%D9%8A%D8%B7%D9%88%D8%B1-%D8%A7%D9%84%D8%A8%D8%A7%D8%AD%D8%AB%D9%88%D9%86-%D9%84%D9%82%D8%A7%D8%AD%D8%A7%D8%AA-%D8%AC%D8%AF%D9%8A%D8%AF%D8%A9-%D8%B6%D8%AF-%D8%B7%D9%81%D8%B1%D8%A7%D8%AA-%D9%81%D9%8A%D8%B1%D9%88%D8%B3-%D9%83%D9%88%D8%B1%D9%88%D9%86%D8%A7/a-56674637">德国之声</a>网站上。</p>
<p>科学家克劳斯·切索泰克（Klaus Ceschotek）、玛丽莲·阿多（Marilyn Ado）和乌古尔·沙欣（Ugur Shaheen）参加了本次会议。</p>
<p>这份报告中称，我们可以保持冷静，因为每个人都同意以下几点，即“我们在一年之内就有3种已获批准的疫苗”，正如汉堡埃彭多夫大学医学中心病毒学教授玛丽莲·阿多证实。</p>
<p>玛丽莲·阿多强调称，“这是一项伟大的成就，在现在的负面讨论中，我们忘记了庆祝我们每天取得的成功。”阿多继续解释她的观点称，即使新冠病毒继续突变，也不会使医学变得无能为力，这位医学教授表示，“疫苗为我们提供了一个很好的平台和工具，使我们能够应对变化。”</p>
<h3>可以调整疫苗应对新突变吗？</h3>
<p>这体现在疫苗生产商的作用，到目前为止，已经批准的基于信使核糖核酸（Messenger-RNA）技术的两种疫苗，分别是辉瑞-BioNTech疫苗和Moderna疫苗，而阿斯利康-牛津疫苗则是基于“病毒载体”。</p>
<p>所有疫苗都可以通过新序列并相对快速地配备所谓的“插入物”，此后，这些“插入物”简单地引发适合于变异病毒的免疫应答。从理论上讲，最快速方法是使用信使核糖核酸疫苗，但如果在实验室中使用基于载体的疫苗进行此过程，则该过程也将相对较快，但请不要着急！</p>
<p>实际上，还不是下一代疫苗。德国BioNTech公司首席执行官乌尔·萨欣（Ugur Sahin）及其同事一直在进行新冠病毒变异毒株的研究，但现在的重点是，已获批准的疫苗“作为我们研究人员在不断调整新版本并进行病毒中和测试，以确定抗体是否能够识别和中和病毒。”</p>
<p><img class="aligncenter size-fantasia-770 wp-image-175938" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/Snipaste_2021-03-02_12-22-57.png?w=770&amp;resize=770%2C402" data-recalc-dims="1" /></p>
<p>根据沙欣说法称，但成功的关键还在于，“对于英国新冠变异毒株而言，问题不在于可用疫苗对此有效性不佳”，他并补充说，“问题在于这种变异毒株更具传染性”。另一方面，任何新的疫苗也不会有所帮助，但真正有用的是“继续采取封锁措施，直到有更多人接种疫苗为止”。这类似于巴西出现的变异毒株，当前的疫苗接种保护措施有助于减少这种情况。从原则上讲，总体而言，研究人员在针对不同病毒的免疫防御中观察到了强大的连锁免疫力。</p>
<p>沙欣强调称，仅凭南非变异毒株的出现，某些疫苗就不能提供如此好的保护。 “我们还没有任何事实数据，也无法对此发表评论。”但疫苗开发者绝不悲观，他表示，尽管实验室的免疫反应显示出较弱结果，但他公司开发的疫苗仍有助于提供保护作用，沙欣表示，“我们认为，T细胞反应在这里也能提供足够的保护作用。”</p>
<p>当前，正在努力为尽可能多的人提供经过批准的疫苗，并且“到目前为止，市场上仍然没有批准新的疫苗”，因为这需要进行临床研究。</p>
<p>但这并不意味着适应突变的新疫苗将很快面市，玛丽莲·阿多预计，开发新疫苗可能需要大约6周时间，并且可能会需要另外两个月时间获得批准。</p>
<p>沙欣表示，制造商目前正在利用其所有功能将最大数量疫苗推向市场，只要有效，总是比过早改变生产更好。沙欣表示，“我们不希望开发一种可以对抗变异毒株的新疫苗，而之后将无法对抗原始病毒。”</p>
<p>阿多认为，没有必要急于行事，她并表示，“我们不必明天就购买新疫苗，重要的是，我们有很好的工具来跟上事态发展。” 更重要的是确保疫苗的公平分配，她并表示，“我们必须确保疫苗也分发到工业化国家之外，否则大流行将再次发生。”</p>
<p><img class="aligncenter size-fantasia-770 wp-image-175940" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/image-1.jpg?w=770&amp;resize=770%2C433" data-recalc-dims="1" /></p>
<h3>可以混合接种新冠疫苗吗？</h3>
<p>增强针对新冠病毒变异毒株免疫反应的另一种可能性是，使用第二种新冠疫苗，保罗·埃利希研究所（Paul Ehrlich Institute）负责人克劳斯·肖蒂克（Klaus Schottik）表示，尽管尚未收到德国免疫常务委员会的正式建议，但保罗·埃利希研究所仍在与同事进行磋商。</p>
<p>玛丽莲·阿多认为，也可以考虑将信使RNA疫苗与载体疫苗相结合，这位医生强调称，“我们将看到令人兴奋的结果，并开始科学之旅。”目前正在进行研究，但“预计不会因免疫反应而出现任何异常副作用”。</p>
<p>对于载体疫苗而言，也不存在接种两种不同疫苗可以阻止不同病毒传播，这可以帮助抵抗潜在的媒介免疫力，即人体拒绝接种疫苗的风险。例如，俄罗斯卫星五号（Sputnik V）已经使用了不同载体，阿多强调称，埃博拉疫苗的经验也不错。</p>
<h3>新冠疫苗两针剂疫苗接种间隔时间可以延长吗？</h3>
<p>阿多和克劳斯·切索泰克对此持有相同观点，即必须遵守第一剂和第二剂之间的建议接种间隔时间，而且，许多人只接种第一剂疫苗而不接种第二针剂疫苗的想法，并不是一个好主意，阿多表示，仅接种一剂新冠疫苗，接种人甚至没有得到50％的保护作用，但接种第二针剂疫苗之后，就会得到全部保护作用。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台+德国之声</div>
