---
layout: post
title: 巴西博索纳罗2021年五一节取代工会
date: 2021-05-02 23:15:01.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%94%BF%E6%B2%BB/20210502-rfi-%E6%B3%95%E5%B9%BF-%E5%B0%BC%E5%8F%A4%E6%8B%89-brazil-coronavirus-%E5%B7%B4%E8%A5%BF%E5%8D%9A%E7%B4%A2%E7%BA%B3%E7%BD%972021%E5%B9%B4%E4%BA%94%E4%B8%80%E8%8A%82%E5%8F%96%E4%BB%A3%E5%B7%A5%E4%BC%9A
categories: rfi
---

<div>02/05/2021 - 16:42</div><img src="https://s.rfi.fr/media/display/fff81aec-aad1-11eb-bf62-005056a9b1a7/w:310/p:16x9/2021-05-01T155540Z_2019204185_RC237N947HB8_RTRMADP_3_BRAZIL-POLITICS.JPG"><div class="t-content__body u-clearfix" >
                    <p>巴西在Covid-19病毒大流行的背景下，总统博索纳罗（Jair Bolsonaro）取代工会，成为2021年“五一”国际劳动节的中心人物。巴西工会组织鉴于疫情，没有组织上街游行，而是博索纳罗与其支持者走上了街头，但遭到指责其应对病毒在巴西造成杀戮承责的批评者的诋毁。</p><p>据本台RFI记者马丁·贝尔纳（Martin BERNARD）2021年5月2日星期天发自圣保罗（Sao Paulo）报道，博索纳罗的支持者今年“五一”节走在了前面。他们在多座城市示威。而工会方面则由于疫情，选择不上街。不过，在大城市里还是可以看到稀疏的红色游行队伍。</p><p>工会方面组织了类似虚拟的脱口秀节目展示内部团结，支持接种疫苗，帮助最弱势团体，并团结一致面对被认为应为卫生危机管理负有重大责任的博索纳罗。</p><p>巴西前总统卢拉（Lula）,从政前是一名工会领袖。他在一段视讯中表达了悲伤之情。卢拉认为，这是一个悲哀的日子，因为，Covid-19夺取了40万人的生命。其中许多人是由于博索纳罗政府拒绝了提供给它的疫苗。</p><p>卢拉的表述，如同他已在竞选，而今距下届总统选举仅有18个月。巴西左派的所有领袖都在说，面对博索纳罗，团结最重要。甚至包括卢拉的老竞争对手西罗·戈麦斯（Ciro Gomes） 都说，只有团结在一起，为巴西找到最好的解决办法，人们才可能尽快走出危机。西罗·戈麦斯高呼，打倒博索纳罗，种族灭绝者！</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image RFI Archive- Ciro Gomes"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/24541a5e-a988-11ea-923f-005056bf18d4\/&quot;,&quot;filename&quot;:&quot;Ciro%20Gomes.JPG&quot;,&quot;ratio&quot;:&quot;p:16x9&quot;,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/24541a5e-a988-11ea-923f-005056bf18d4/Ciro%20Gomes.JPG" alt="Image RFI Archive- Ciro Gomes"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >法广存档图片：巴西前财长西罗·戈麦斯 
Image d&#039;archive RFI : Ciro Gomes dans une interview avec RFI.</span>                <span class="m-figure__caption__credits">© CAPTURA DE TELA / RFI Archive 法广存档图片</span>            </figcaption>
            </figure>

        </div><p>另据介绍，现年63岁的戈麦斯曾多次成为巴西政府阁员，不仅出任过财长，也在卢拉的总统任内，担任过一体化部长。</p>
                </div>
