---
layout: post
title: '拿破仑与中国1/6: 中法拉丁文大辞典的前世今生 - 特别节目'
date: 2021-05-04 18:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E7%89%B9%E5%88%AB%E8%8A%82%E7%9B%AE/20210421-%E6%8B%BF%E7%A0%B4%E4%BB%91%E4%B8%8E%E4%B8%AD%E5%9B%BD1-6-%E4%B8%AD%E6%B3%95%E6%8B%89%E4%B8%81%E6%96%87%E5%A4%A7%E8%BE%9E%E5%85%B8%E7%9A%84%E5%89%8D%E4%B8%96%E4%BB%8A%E7%94%9F
categories: rfi
---

<div>21/04/2021 - 17:25</div><img src="https://s.rfi.fr/media/display/2f7fef4e-a2b5-11eb-b2e6-005056bf87d6/w:310/p:16x9/1-3.JPG"><div class="t-content__body u-clearfix" >
                    <p><strong>Ninan Wang</strong>: 希克斯教授您好，您是历史学家，也是拿破仑基金会（Fondation Napoléon）的国际事务负责人。这个基金会专门研究，弘扬所有有关拿破仑的历史，尤其是今年，2021年是拿破仑去世200周年。欧洲在罗马时期就将远在东方的中国称作“美味之国”，称中国人为“制丝绸者”，当时的欧洲和中国已经有一些往来。但是第一本中文-拉丁文-法语词典，是在拿破仑时期出版的，这一词典有一本现存于法国阿尔萨斯地区的米卢斯工业博物馆当中，承载着十分珍贵的历史，是当时法国向东探索的一个见证物。这本传奇性的词典，是怎么问世的？当时的情况是怎样的？</p><p><strong>Peter Hicks</strong>： 我们知道，在法国执政府这一阶段的早期，一位在米兰出生的德语区的汉学家，名叫约瑟夫-黑叶，为法国执政府做事，当时是1802年，法国执政府要他出一本（中文）词典，为此，法国执政府给了约瑟夫-黑叶6000法郎作为酬金，这个数字已经不错了，约瑟夫-黑叶本人也因他对中国的了解而有点名气，后来到了1805年，约瑟夫-黑叶出了一本有关中文的书，这本书在法国国家图书馆里，当时名叫法国皇家图书馆，约瑟夫-黑叶在前言里面写道，他几乎就能出版一本拉丁文-中文的词典了，但只是“几乎就要出版”，却还没能出版，事情是这样的:他并非法国人，当时懂得中国字的欧洲人不多，不过有意大利人，有德国人，还有法国人，有一个意大利人，参与过英国马戛尔尼伯爵1792-1795年的出使中国任务，这个意大利人做过一些把文件资料从英文翻译到中文的工作，这个意大利人激烈地批评当时忙于中文词典工作的，生于米兰的德语区汉学家约瑟夫-黑叶，他批评说，约瑟夫-黑叶根本不懂中文，对中国的了解也不充分，并以此敦促法国挑选一个合格的人来编中文词典，这个意大利人名叫梦都奇，来自意大利的锡耶纳，他很想拿到这份编写中文词典的工作，可是，到了1808年，历经一些磋商，法国内政部长科特雷（Emmanuel Crétet）任命了一个法国人，来继续编写中文词典，意大利人梦都奇非常想得到这份工作，但是他却并没能如愿，意大利人梦都奇成功地“赶走了”约瑟夫-黑叶，但法国政府没让梦都奇接任，而是指派了一个法国人，而这个法国人，就是德金（De Guignes），1808年10月法国政府通过政令，宣布他编写中文词典，德金就这样，继续这份由黑叶在1802年开始的工作，并在1813年成功地完成并推出了标有拿破仑的大辞典。</p><p>当时，著名的汉学家之间常常吵架，（有关中文的）工作很少，所有的汉学家都想做第一个推出中文大辞典的人，所以，当1813年中文大辞典问世的时候，没能拿到这份工作的汉学家们，对德金发起了攻击，他们说，这个大辞典很糟糕，有错误，人们对德金这本大辞典的诟病，还包括说他没引用信息来源。所幸的是，印刷所用的中文字块已经被刻出来了，否则工程会更加浩大，工人们花费了15到30多年来刻这些字块，在18世纪，从路易14到1746年，我记得是有四五个专家，耗费毕生心血在刻字上面。</p><p>但是其他汉学家对德金的指控则是基于手稿部分，德金参考的手稿来自一名叫巴西洛-博罗洛（Basilio Brollo, 叶尊孝）的神父，德金拿到了叶尊孝神父的（中文-拉丁文）词典文稿，然后使用已经刻好的字块，把它们印刷出来，人们指责德金，说他没有说明他的中文大辞典来自于叶尊孝神父，这属于抄袭剽窃，说德金抄袭了叶尊孝神父，事实上，德金在中文大辞典的来源上含糊其辞，如果说他全然没有提及叶尊孝神父，那也是不公平的，但的确，这本词典的来源并不是十分清楚。不过，德金的贡献，的确是给这本中文-拉丁文的词典加上了法语解释，叶尊孝神父的词典是从中文翻译到拉丁文，而德金是基于此，加上了法语翻译部分，成就了著名的中法拉丁文词典。</p><p>汉学，或者说对中国的研究，在法国得到了很早的开发，比如说，1813年出版的德金编纂的中拉法大辞典，当中使用的中文字块，它们的制作时间比大辞典问世的时间早了100年，这批中文字块，是在路易14的治下定做的，这些中文字，被刻在了一只只木块上，总共有成千上万只刻有中文字的木头。18世纪中期，刻字工作完成了，这些木头被运送到了巴黎的法国国家图书馆里面保存，当时这个图书馆被称为法国皇家图书馆，直到1802年，这些木刻中文字块才被运出图书馆，被送到了印刷厂。</p><p>当然了，法国和英国之间有争吵，两方争做最佳汉学家。诚然，英国人比法国人开始的要早，英国有马戛尔尼伯爵访华，还有阿美士德伯爵访华，因此英国人对中国是前后派出过两次使团，所以说法国人想要在了解中国这件事上做点什么成绩出来。这也是为什么，中拉法语大辞典的问世，对法国人来说是一次强有力的行动，这意味着法国人领先于英国人了，因为英国人当时也在编写一部中英词典，然而1813年的中拉法大辞典更加丰富，这意味着“法国人超过了英国人”。</p>
                </div>
            
                                <br>
