---
layout: post
title: 波克夏哈萨威副董阿贝尔出线 将成巴菲特接班人 – 法国国际广播电台 - RFI
date: 2021-05-04 17:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B3%A2%E5%85%8B%E5%A4%8F%E5%93%88%E8%90%A8%E5%A8%81%E5%89%AF%E8%91%A3%E9%98%BF%E8%B4%9D%E5%B0%94%E5%87%BA%E7%BA%BF-%E5%B0%86%E6%88%90%E5%B7%B4%E8%8F%B2%E7%89%B9%E6%8E%A5%E7%8F%AD%E4%BA%BA
categories: rfi
---

<div>04/05/2021 - 11:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社纽约3日电）    美国财经媒体CNBC今天报导，知名美国投资人巴菲特表示，一旦他不再视事，他的投资公司波克夏哈萨威计划提名现任非保险业务副董事长阿贝尔（Greg Abel）接任执行长一职。</p><p>    有「股神」封号的巴菲特（Warren Buffett）是在波克夏哈萨威（Berkshire Hathaway）周末召开年度股东大会后，对媒体证实这项接班人计画。</p><p>    现年90岁的巴菲特告诉CNBC：「董事们同意，如果今夜我出了什么事，明天一早会由葛瑞格（阿贝尔）接手。」</p><p>    59岁的阿贝尔在1992年进入波克夏哈萨威，对公司业务有充分了解。</p><p>    根据富比世杂志（Forbes magazine）排名，巴菲特目前以1037亿美元（约新台币3兆800亿元）的个人财富居全球第6大富豪。他和现年97岁的波克夏哈萨威副董事长孟格（Charlie Munger）一同领导公司已数十年。</p><p>    巴菲特是美国商界一号独特人物。他对大企业采取直言不讳的态度，对私人生活则低调。因此即使波克夏哈萨威在美国保险业和公用事业买下大量资产，并持有美国许多企业的大笔股票，他在美国民间仍普遍受欢迎。</p><p>    巴菲特受访时还透露，69岁的波克夏哈萨威副董事长詹恩（Ajit Jain）是第二顺位接班人，若阿贝尔无法视事将接手领导公司。詹恩在1986年进入波克夏哈萨威，对各项业务也相当熟悉。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
