---
layout: post
title: 联合国：疫情促进2020年电子商务 营收增逾2成 – 法国国际广播电台 - RFI
date: 2021-05-03 19:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E8%81%94%E5%90%88%E5%9B%BD-%E7%96%AB%E6%83%85%E4%BF%83%E8%BF%9B2020%E5%B9%B4%E7%94%B5%E5%AD%90%E5%95%86%E5%8A%A1-%E8%90%A5%E6%94%B6%E5%A2%9E%E9%80%BE2%E6%88%90
categories: rfi
---

<div>03/05/2021 - 13:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社日内瓦3日电）    联合国（UN）今天公布的研究发现，2019冠状病毒疾病（COVID-19）疫情促进去年的电子商务，营收成长逾2成，但这笔数位意外之财并非由所有国家平均分享。</p><p>    联合国贸易和发展会议（UNCTAD）发表报告指出：「尽管尚需一段时间，方能完全了解2019冠状病毒疾病对电子商务的影响…但许多发展显示，电子商务在2020 年强劲成长。」</p><p>    这项研究分析澳洲、英国、加拿大、中国、新加坡、韩国及美国等7国数据，约占全球网路贸易2/3。澳洲、英国、美国及中国网路销售分别增加59%、46.7%、32.4%及14.6%。</p><p>    联合国贸易和发展会议表示，去年全球电子商务营收增加22.4%，达2.5兆美元，而2018至2019年期间成长约15%。</p><p>    报告作者佛瑞里克森（Torbjorn Fredriksson）告诉法新社：「这些统计数据显示，网路活动的重要性日增。」</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
