---
layout: post
title: 美国休斯敦发现近百移民遭非法禁锢
date: 2021-05-03 03:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E6%B4%B2/20210502-rfi-%E6%B3%95%E5%B9%BF-%E5%B0%BC%E5%8F%A4%E6%8B%89-usa-societe-%E7%BE%8E%E5%9B%BD%E4%BC%91%E6%96%AF%E6%95%A6%E5%8F%91%E7%8E%B0%E8%BF%91%E7%99%BE%E7%A7%BB%E6%B0%91%E9%81%AD%E9%9D%9E%E6%B3%95%E7%A6%81%E9%94%A2
categories: rfi
---

<div>02/05/2021 - 21:22</div><img src="https://s.rfi.fr/media/display/cbafab1a-a0ae-11eb-a448-005056a9b1a7/w:310/p:16x9/03857177ae42c99a2421c9713b2d0895c895764c.jpg"><div class="t-content__body u-clearfix" >
                    <p>美国德克萨斯州当局表示，人口贩运是该州边境警卫队几乎每天都要面对的非法入境案例。</p><p>据本台RFI法广记者托马·哈姆斯（<strong>Thomas Harms</strong>）周日（2021年5月2日）发自休斯敦（<em>Houston</em>）报道，警察几乎是意外地抓到了这一贩运人口的活动。他们拿着侦察一桩绑架案的逮捕令，却遇到了近百名移民被禁锢在一座房子里。</p><p><strong>遭禁锢者生命已处于危险边缘</strong></p><p>在休斯敦南部的这一街区，主要居住了一些退休者。斯沃特特警队（S.W.A.T.）发现了一些已经多日没有进食，处于脱水状况下的移民，大部分人已无法站立，其中有几人表现出感染Covid-19病毒的症状，至少五人之后确诊呈阳性。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image d&#039;archive RFI  - Mexique - Ciudad Juarez- Des migrants"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/e3f4b34c-98a1-11eb-9a8f-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;AP21082822141700.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/e3f4b34c-98a1-11eb-9a8f-005056bf87d6/AP21082822141700.jpg" alt="Image d&#039;archive RFI  - Mexique - Ciudad Juarez- Des migrants"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >Image d&#039;archive RFI : Des migrants qui tentent de passer la frontière entre le Mexique et les États-Unis sont débarqués à Ciudad Juarez, le 23 mars 2021.</span>                <span class="m-figure__caption__credits">AP - Christian Chavez / RFI Archive</span>            </figcaption>
            </figure>

        </div><p>报警的人是其中一名遭非法禁锢者的家属。人口贩子曾向他索要赎金，才释放他的亲人。当局表示，在德克萨斯州，这是边境警卫队几乎每天都要面对的非法入境的一个案例。</p><p><strong>移民和隔离墙照旧是选举议题</strong></p><p>现在距离美国德州竞选新一届州长还有不到一年时间。这一发现有利共和党人。他们自拜登(<strong>Joe Biden</strong>)于今年元月上任以来，一直要求继续修筑隔离墙，并批评新政府的对与墨西哥接壤边境的移民管理。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image d&#039;archive RFI : Le président Joe Biden s&#039;entretient avec le gouverneur du Texas, Greg Abbott"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/83a30b2a-78f7-11eb-b106-005056bff430\/&quot;,&quot;filename&quot;:&quot;AP21057707630448.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/83a30b2a-78f7-11eb-b106-005056bff430/AP21057707630448.jpg" alt="Image d&#039;archive RFI : Le président Joe Biden s&#039;entretient avec le gouverneur du Texas, Greg Abbott"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >Image d&#039;archive RFI : Le président Joe Biden s&#039;entretient avec le gouverneur du Texas, Greg Abbott, alors qu&#039;ils visitent le centre des opérations d&#039;urgence du comté de Harris, le vendredi 26 février 2021, à Houston.</span>                <span class="m-figure__caption__credits">AP - Patrick Semansky / RFI Archive</span>            </figcaption>
            </figure>

        </div><p>美国德州州长阿伯特（<strong>Greg Abbott</strong>）在一条现已删除的推文（<em>tweet</em>）中宣布，加强其辖区内的边境警察，并还有意把发票寄给总统拜登。</p>
                </div>
