---
layout: post
title: 印度确诊数直逼2千万 等不到氧气传多人丧命 – 法国国际广播电台 - RFI
date: 2021-05-03 21:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%8D%B0%E5%BA%A6%E7%A1%AE%E8%AF%8A%E6%95%B0%E7%9B%B4%E9%80%BC2%E5%8D%83%E4%B8%87-%E7%AD%89%E4%B8%8D%E5%88%B0%E6%B0%A7%E6%B0%94%E4%BC%A0%E5%A4%9A%E4%BA%BA%E4%B8%A7%E5%91%BD
categories: rfi
---

<div>03/05/2021 - 15:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社新德里3日电）    印度2019冠状病毒疾病（COVID-19）确诊总数今天直逼2000万，而医院缺乏氧气加剧毁灭性的第二波疫情，幸而急需的外国援助持续涌入印度。</p><p>    印度卫生部今天公布的数据显示，过去24小时新增36万8147个确诊病例，染疫人数总计已达1993万人；此外，新增3417人病故，死亡人数累计21万8959人。</p><p>    根据官方数据，自3月底以来，确诊人数激增约800 万人。不过，许多人怀疑这些数据遭到大大低估。</p><p>    印度资金不足的医疗保健系统面临重大压力，严重缺乏床位、药物和氧气，导致一些人在首都新德里和其他城市的医院外排起长长队伍等候治疗的过程中死亡。</p><p>    根据媒体报导和消息人士透露，南部卡纳塔卡省（Karnataka）一家医院2日晚间缺乏氧气，造成24人死亡。不过，地区行政当局否认是因缺乏氧气而导致这些病患死亡。</p><p>    据报导，首都新德里一家医院1日在氧气耗尽后，也有12人死亡。</p><p>    几家医院连夜在社群媒体上发出亟需氧气的呼吁后，配送的氧气才在最后一刻及时送达。</p><p>    德里一家儿童诊所推文发出警报，声称缺氧已导致约25到30名新生儿和儿童处于危险中。</p><p>    外国援助源源不绝涌入，包括来自德国和法国的援助，这两个国家在上周末送来包括氧气机在内的医疗设备。（译者：林沂锋/核稿：林治平）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
