---
layout: post
title: 黎智英与两高层2022年开审
date: 2021-05-07 15:45:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210507-%E9%BB%8E%E6%99%BA%E8%8B%B1%E4%B8%8E%E4%B8%A4%E9%AB%98%E5%B1%822022%E5%B9%B4%E5%BC%80%E5%AE%A1
categories: rfi
---

<div>07/05/2021 - 09:35</div><img src="https://s.rfi.fr/media/display/ade8475e-979e-11eb-bedf-005056bff430/w:310/p:16x9/hk-3105.jpg"><div class="t-content__body u-clearfix" >
                    <p>身为指定法官一员的陈广池透露，控方昨（5 日）去信法庭，申请将本案交由国安法指定法官审理。控方表示，本案由国安处调查，黎智英、周达权曾因涉及国安法被捕，黎智英更加被控国安法。虽然黄伟强无就国安法被拘捕或起诉，但三人一同审讯，加上案件在裁判处提堂时均由指定法官处理。</p><p>控方续指，本案涉及大量证物，其中亦会依赖警方国家安全处去年 8 月 10 日，搜查壹传媒大楼和被告住所时检取的证物作为案情一部分。控方称，被告已向高等法院挑战有关证物的检取、处理和合法性，而高院的审讯亦由指定法官处理。</p><p>控方预料，本案审讯期间，辩方相当可能争议证物是否合法地被检取、其性质可否被呈堂等，这些挑战涉及国安法下的检取和处理证物权。控方指，即使辩方在审讯中无提出这些争议，但指定法官是“司法部仼命，受正式委任，妥为宣誓的人员”，有权限审理本案。因此，在稳妥和小心的情况下，希望直接由指定法官审理。</p><p>法官明言，控方的说法“本末倒置”，指出国安法订明，只有涉及危害国家安全犯罪的案件，才可以由指定法官处理。本案控罪并非在国安法之下，亦不涉及危害国家安全，质问控方本案“喺边个层面涉及国安法？”。</p><p>法官认为，控方提出的搜证挑战，都属于证物呈堂的问题，影响的是控方举证，与国安法下的检取证物权、要求指定法官是两回事。法官指出，即使非指定法官亦有权裁定证物能不能够呈堂，“呢样嘢喺普通法下都成日发生”，与国安法无关。</p><p>法官明言，如果要“发大到搜证（争议）都用指定法官”，将影响往后案件，认为控方不能因举证困难而将本案引伸到国安法。法官指，如果控方觉得举证有困难，就要取舍。</p><p>法官举例，如果 10 件证物中有 3 件由国安处检取，控方应该考虑另外 7 件证物是否足以将被告定罪，而不是因为希望 10 件证物全部呈堂，“就发大指定法官权力”。</p><p>控方表明“不能认同”法官的例子，坚持应该由指定法官审理。法官及后认为，控辩双方应就是否由指定法官审理本案提交书面陈词，并择日处理，而非在排期阶段申请。</p><p>法官排期于 2021 年 12 月 21 日再提堂，处理争议。审讯则定于 2022 年 3 月 14 日开审，审期为 25 日，双方于 2022 年 2 月 21 日作审前覆核。</p><p>黎智英撤销本案担保，其余两人准继续保释，并获减少报到时间。</p><p>被告黎智英（73 岁）、周达权（63 岁）、黄伟强（59 岁）同被控一项欺诈罪。</p><p>控罪指，三名被告于 2016 年 6 月 27 日至 2020 年 5 月 22 日期间，在香港，借作欺骗，即：（1）向香港科技园公司（“科技园公司”）隐瞒，没有或曾经没有在香港工业邨公司（现为科技园公司）与苹果日报印刷有限公司在 1999 年 5 月 25 日订立的租契（“该租契”）所容许下而使用在将军澳工业邨骏盈街8 号的处所（“该处所”）或该处所的部分；（2）向科技园公司虚假地表示，在该租契所容许下而使用或曾经使用该处所或该处所的部分；并意图诈骗而诱使科技园公司有不作为或一连串的不作为，即就执行科技园公司在该租契下的权利未有采取行动，导致该苹果日报印刷有限公司及/或力高顾问有限公司获得利益；或导致科技园公司蒙受不利或有相当程度的可能性会蒙受不利。</p>
                </div>
            
                                <br>
