---
layout: post
title: 林培瑞：中国官媒驻美记者至少部分是特务
date: 2021-05-03 02:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%94%BF%E6%B2%BB/20210502-%E6%9E%97%E5%9F%B9%E7%91%9E-%E4%B8%AD%E5%9B%BD%E5%AE%98%E5%AA%92%E9%A9%BB%E7%BE%8E%E8%AE%B0%E8%80%85%E8%87%B3%E5%B0%91%E9%83%A8%E5%88%86%E6%98%AF%E7%89%B9%E5%8A%A1
categories: rfi
---

<div>02/05/2021 - 20:26</div><img src="https://s.rfi.fr/media/display/f160c592-122f-11ea-b197-005056a99247/w:310/p:16x9/2_2_1.jpeg"><div class="t-content__body u-clearfix" >
                    <p>联合国教科文组织说，今年世界新闻自由日的主题是“信息是公共产品”，并“着重强调信息与虚假信息、仇恨言论、娱乐信息和数据信息等其他传播内容之间的重要区别。”</p><p>本周三（4月28日），美国国务卿布林肯与外国媒体记者就新闻自由等问题举行线上圆桌会议是时指出：美国真正关切的是中国对内对外采取的截然不同的“两手策略”。“北京通过国营媒体企业和平台在海外进行宣传和造谣，其目的是在一定程度上干涉或破坏民主，而同时又在中国限制新闻和言论自由。”</p><p>美国加州大学河滨分校特聘教授、汉学家林培瑞(Perry Link)对美国之音表示，他赞成布林肯的主张并指出：中国国营媒体在美的一些雇员“他们很多实际上不是记者。”</p><p>他强调说：“当然我不是说所有的，有良心的记者中国也有，一直有。但是派到美国来，拿美国签证做记者的人，一部分——我不知道多少——至少一部分，只能说是特务，不是记者。”</p><p>林培瑞教授承认，目前美中双方媒体的布局是很不对等的。“中国利用美国的自由空间这是肯定的，到美国来把他想散发的信息用自由的媒体把它散发出来，自由世界的自由媒体当然允许，这是自由媒体的本意。而相反的你要是美国的《华盛顿邮报》、《纽约时报》到中国把它的信息散发到中国去，那是根本不可能，根本不可能。所以，这是个绝然不平衡的一个情况。”</p><p>但林培瑞教授不赞成用禁止的做法。他认为，对于故意散布的虚假信息必须加以控制，但是，“要控制这个局面的话不是不让它发言，是让他发言，然后拆他的台，让大家知道这是说谎。以后他继续说谎的话，美国和世界老百姓会对他有一种免疫力，知道这个很可能是胡说八道。这个方法我觉得比禁止他说还更好。”</p>
                </div>
            
                                <br>
