---
layout: post
title: 新冠疫苗大战 其将如何永久改变全球经济面貌？
date: 2021-05-02 07:06:04.000000000 +08:00
link: http://chinese.aljazeera.net/opinions/long-reads/2021/4/13/%e6%96%b0%e5%86%a0%e7%96%ab%e8%8b%97%e5%a4%a7%e6%88%98%e5%85%b6%e5%b0%86%e5%a6%82%e4%bd%95%e6%b0%b8%e4%b9%85%e6%94%b9%e5%8f%98%e5%85%a8%e7%90%83%e7%bb%8f%e6%b5%8e%e9%9d%a2%e8%b2%8c
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/لقاح-رئيسية-444444.jpg?resize=570%2C380" srcSet="/wp-content/uploads/2021/04/لقاح-رئيسية-444444.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/04/لقاح-رئيسية-444444.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/04/لقاح-رئيسية-444444.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/04/لقاح-رئيسية-444444.jpg?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content"><h3>前言</h3>
<p>《外交事务》杂志发表了一份<a href="https://www.foreignaffairs.com/articles/europe/2021-04-05/new-age-protectionism">分析</a>报告，着眼于当前西方国家就新冠疫苗制药公司研发而爆发的冲突特征。分析认为，冲突不会是短暂的，也不会随着大流行的结束而结束，并认为这种冲突将扩大影响到全球所有经济领域。来自约翰·霍普金斯大学国际关系和高等教育学院Agora研究所的Stavros Nearchus机构教授亨利·法雷尔（Henry Farrell），以及乔治城大学埃德蒙德·沃尔什外事服务学院教授亚伯拉罕·纽曼共同撰写了该分析报告。</p>
<h3>正文</h3>
<p>英国首相鲍里斯·约翰逊<a href="https://www.ft.com/content/2a332a32-26d2-493e-9c52-6c73f5106688">上周</a>警告说，英国将对欧洲发起“新冠疫苗迫在眉睫的战争”。几天前，欧盟采取了一系列措施，这些措施将破坏向拒绝出口疫苗的国家——例如英国——运送阿斯利康疫苗的行动。欧盟内部市场专员蒂埃里·布雷顿（Thierry Breton）表示，除非供应增加或英国改变其出口疫苗的立场，否则“没有一剂疫苗”将穿越英吉利海峡，布雷顿并补充说，此事“不可谈判”。</p>
<p>欧盟提出的限制表示其立场发生了令人惊讶的变化。直到最近，欧盟执行机构欧盟委员会一直发出支持开放贸易体系最强有力国际声音之一，多年来，欧盟委员会一直与右翼民粹主义者对抗，例如对自由贸易提出质疑的美国前总统唐纳德·特朗普，以及许多左派人士，这些左派人士巴欧盟委员会的商业管理视为所谓的新自由主义指挥中心。欧盟委员会目前正在倡导一种相反类型的贸易保护主义（旨在保护本国产品不受外国竞争的贸易政策），在这种贸易保护中，各国不阻止进口商品进入，而是禁止敏感产品出口到国外。</p>
<figure id="attachment_185558" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-185558" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-12T102813.167.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" />欧盟委员会与阿斯利康签署的42页合同副本，用于在欧盟生产、购买和供应新冠疫苗</figure>
<p>欧盟突然从全球市场撤军是大流行所带来更广泛全球转移的一部分。英国和美国被认为是采取新的严格贸易政策的先驱，这些政策是由公民对疫苗的需求以及政府决定以任何方式提供疫苗举动所决定的。伦敦和华盛顿依靠与疫苗生产商的秘密合同，华盛顿特别依靠《国防生产法》赋予的权利，对疫苗的出口实行<a href="https://www.bloomberg.com/news/articles/2021-03-24/biden-uses-trump-s-america-first-vaccine-plan-to-corner-market">事实上的禁令</a>。而中国和俄罗斯等其他国家则采取了另一个方向，这是不同的，但同样是坚定的，即将疫苗作为具有国际影响力的工具。</p>
<p>这些决定已经开始改变曾经似乎不可避免的全球化进程。在获取疫苗和国家安全受到威胁之际，富裕的民主政府放弃了自由市场原则，转而采取严厉的限制措施，旨在响应新的内部政治要求。这种基于利益的行为使联盟破裂，从而使得对全球市场开放国家干预成为正常现象，达到了近期记忆中未曾见过的程度。将来，其他国家可能会寻求类似的方法来保护自己，而放弃遵守国际法律，这些国家认为国际法律已经被操控。</p>
<h3>未预料到的后果</h3>
<p>抗击新冠病毒的疫苗是科学奇迹，但是一个具有令人不愉快政治副作用的奇迹。问题仅在于，在未来两年内，愿意拿起武器来接种新冠疫苗的人数将超过可供他们使用的疫苗数量，这取决于病毒的发展方式，供应可能要等到2022年至2023年之间的某个时候才能跟上需求的步伐，这对人们来说是一个漫长的等待期，特别是在他们生命的紧要关头。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-185562" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/لقاح-11.jpg?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>疫苗短缺导致残酷的行为，富裕国家缺乏对任何限制向本国公民提供疫苗能力合作体系的承诺，这阻碍了早期协调全球生产的努力。随着大流行的爆发，英国和美国等国家通过先前的大量订单，并通过向达成协议的制药公司施压，要求对他们首先供应，从而使得这些国家跃升到疫苗等待线前列。现在，几个月后，发达国家终于承诺通过世界卫生组织共同资助的一项倡议，即被称为全球疫苗免疫联盟COVAX机制，提供长期合作与援助。 “让所有人免费获得疫苗”。</p>
<p>相比之下，由于其高度复杂的内部政策，欧盟的行动更加缓慢。在大流行开始时，欧盟成员国在个人防护设备的短缺各不相同，然后，欧盟最终实施了一系列临时出口禁令。在经历了这种灾难性经历之后，欧盟各国就疫苗问题达成了一致的共同战略，并授权欧盟委员会代表欧盟所有成员国与制药公司进行谈判。但是，许多政府在重要问题上仍然存在分歧，包括疫苗成本问题，其中部分成员国不愿支付像德国等富裕国家生产疫苗所需的昂贵费用，而许多国家医疗机构则拒绝放弃控制质量的权力。</p>
<p>结果是引发了组织层面的混乱状态，导致欧盟获得的疫苗分发数量大大低于其预期数量。这其中部分原因是由于坏运气，因为布鲁塞尔大大赌注于法国制药巨头赛诺菲（Sanofi），后者生产疫苗的计划失败了，但这些政治辩论也不起作用。欧盟希望使牛津大学研究人员研制的牛津疫苗更加便宜，且更加有效，欧盟的希望几乎得以实现，但该公司在2月份宣布将推迟为欧盟提供疫苗的最后期限。另一方面，欧洲委员会强烈谴责该公司，声称应该提供给欧盟的疫苗剂量正在提供给英国。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-185564" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-12T094706.542.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>这些阻碍使欧盟的真正问题更加复杂：欧盟决定坚持对全球市场的承诺，而伦敦和华盛顿从这些承诺中解脱出来。英国和美国都没有正式的出口禁令，但其通过签署合同悄无声息地实施了这项禁令，而美国则利用了《国防生产法》，这项法律允许政府强迫私营公司优先考虑国内需求。相反，欧洲工厂仍然暴露于全球市场，并且根据合同要求，这些欧洲工厂为世界其他地区生产数千万剂疫苗。欧洲公司可以自由地将疫苗出售给世界各地，直到欧盟于3月底介入为止，而英国和美国却没有采取这种措施。尽管如此，日益增加的民众压力正在将欧洲推向贸易保护主义。</p>
<h3>领导者肩上的责任</h3>
<p>布鲁塞尔、伦敦、华盛顿和其他地方的民主政客正在对政治激励措施的根本变化做出回应，数十年来，他们认为可以安全地将有关供需的敏感经济决策委托给全球市场和国际技术专家，尽管政府为制药公司设定了安全标准，有时甚至试图为其国家医疗保健计划讨价还价，但其却将供应链管理的核心问题交给了私营部门。</p>
<p>现在，在大流行中，公民要求领导人对系统的失败直接负责。政客们开始担心采购合同和全球疫苗供应链的复杂性，这些都是政客们有一天可以外包给外部资源的任务，如果那些政客想重新任命或选举，他们需要监督购买、储存和运输疫苗的高度复杂过程，并确保其人民可以接种这些疫苗，与疫苗制造商先前签订合同清单未能按时交付，这可能会使民选官员失去职位。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-185566" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-12T100905.709.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>这种新的政治气氛有助于解释为什么民主党领导人如此不愿将疫苗出口到国外。例如，欧盟在透露已经出口了数千万剂疫苗之前<a href="https://www.nytimes.com/2021/03/10/world/europe/eu-exports-covid-vaccine.html">犹豫</a>了一下，担心这个消息会引起渴望接种疫苗的欧洲人的愤怒。另一方面，美国拥有<a href="https://www.nytimes.com/2021/03/18/world/americas/usa-mexico-vaccine-coronavirus.html">数千万剂</a>的牛津-阿斯利康（AstraZeneca）疫苗，或永远不会使用这些疫苗，这是美国立法者尚未批准的疫苗。此外，在墨西哥政府<a href="https://www.washingtonpost.com/national-security/biden-mexico-immigration-coronavirus-vaccine/2021/03/18/a63a3426-8791-11eb-8a67-f314e5fcf88d_story.html">作出让步</a>以及美墨边界不断升级人道主义危机之后，美国同意与南部邻国墨西哥分享一些疫苗剂量。尽管一再要求，但华盛顿尚未向其欧洲盟友提供任何剂量的疫苗。</p>
<p>相比之下，独裁统治者与众不同，与民主国家相比，这些独裁统治者更希望将疫苗作为影响工具。尽管有关俄罗斯卫星五号（Sputnik V）疫苗有效性数据仍然不确定，但俄罗斯已使得匈牙利和斯洛伐克批准使用这款疫苗，从而引发了斯洛伐克的<a href="https://www.ft.com/content/1e14f3a1-1636-4931-90b6-3eb2394ad20d">政治危机</a>。另一方面，中国则将其科兴生物疫苗出口到一些非洲、亚洲、欧洲和拉丁美洲国家，与此同时，北京最近还宣布了针对已接种科兴生物疫苗游客的<a href="https://edition.cnn.com/travel/article/covid-vaccine-travel-visa-rules-intl-hnk/">新签证政策</a>。尽管民主国家批评中国做法，但其仍然<a href="https://www.washingtonpost.com/politics/biden-vaccine-global-distribution/2021/03/11/62039c40-81db-11eb-81db-b02f0398f49a_story.html">不愿意</a>提供其现成的疫苗作为替代品。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-185568" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-12T101506.313.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<h3>政权筹码</h3>
<p>民主国家之间的冲突可能很快就会平息，除非发生意想不到的意外，否则欧盟将在<a href="https://www.ft.com/content/43b95016-7bee-4f17-b2b2-ea7efa9bcec2">6月底</a>之前收到3亿至3.5亿剂疫苗，这种库存将削弱欧盟委员会扩大对出口限制决定的决心，而这将破坏欧盟的经济和政治<a href="https://www.ft.com/content/2a332a32-26d2-493e-9c52-6c73f5106688">关系</a>，并在未来破坏疫苗供应链。</p>
<p>尽管如此，出口管制仍将产生持久的后果。政治家现在意识到，接种疫苗对于国家安全至关重要，在危机时期无法信任全球供应，这种认识将重塑强国之间的关系。正如印度血清和疫苗血清研究所执行主任<a href="https://www.theguardian.com/global-development/2021/feb/14/we-took-a-huge-risk-the-indian-firm-making-more-covid-jabs-than-anyone">阿达尔</a>·波纳瓦拉（Adar Poonawala）所说，“几乎所有国家现在都希望在当地开展生产，这样就不必再竞争新冠疫苗了。”此外，研究人员<a href="https://cadmus.eui.eu/bitstream/handle/1814/70363/RSC%202021_36.pdf?sequence=1&amp;isAllowed=y">确定</a>了所谓的“疫苗俱乐部”中的13个国家，这些国家在生产网络中起着举足轻重的作用，其中的每一个国家无疑都希望建立自己的生产设施，这样其他成员就不会威胁到它。同时，具有足够经济影响力的其他国家也将试图加入这个组织。</p>
<p>但是，强国之间的战斗掩盖了这些弱国首先获得任何疫苗所面临的巨大困难，此后，重要的问题将笼罩在这个俱乐部之外成员，那些没有机会成为该俱乐部成员的国家。在疫苗竞赛中，富裕国家迅速<a href="https://www.ft.com/content/fffe8e68-238a-4a4b-bcad-47417882e0ed">绕过</a>了COVAX机制努力，并与制药厂达成了私下交易，而COVAX机制目前正<a href="https://www.nature.com/articles/d41586-021-00044-9">努力</a>在2022年之前向任何水平的发展中国家提供疫苗。华盛顿最近<a href="https://www.nytimes.com/2021/03/12/us/politics/covid-19-vaccine-global-shortage.html">宣布</a>，其将与澳大利亚、印度和日本，共同努力提高疫苗生产的步伐（或许是为了对抗中国的影响）。但是，美国在完成对公民免疫之前，基本上避免捐赠疫苗。印度也改变了立场，<a href="https://www.ft.com/content/5349389c-8313-41e0-9a67-58274e24a019">暂时禁止</a>出口打算运往COVAX机制和英国的“血清”疫苗。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-185570" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-12T110002.526.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>即使美国放松了分享疫苗的立场，慷慨也有局限性，英国和欧盟也是如此，也许强大的国家会为短期疫苗分配而争吵，但他们同意政治和经济力量的长期分配。 3月，一个庞大的发展中国家联盟呼吁世界贸易组织（WTO）<a href="https://www.law360.com/lifesciences/articles/1363457/wto-fails-to-reach-deal-on-covid-ip-waiver-proposal-again">放弃</a>疫苗的国际知识产权要求，这从原则上允许发展中国家生产自己所需的疫苗，但英国、美国和欧盟均表示反对，阻止了任何可能的协议。西方大国也不大可能同意限制苛刻的政治和经济影响举措，以使重要物资或疫苗可以重新分配给国内使用，即使这种行为<a href="https://www.bloombergquint.com/business/largest-vaccine-maker-warns-of-delays-as-u-s-prioritizes-pfizer">威胁</a>到发展中国家的疫苗生产。</p>
<h3>背后之手</h3>
<p>欧盟最近对逆向保护主义的转移带来了一场隐藏的影响力之战，并在公开场合得到证明。这场战斗所涉及的不仅仅是竞争疫苗，因为其揭示了全球化性质中的根本问题，这些问题将很难被视而不见。各国现在将全球经济视为疲软的根源，增长也是如此，在这个舞台上，他们必须减少对其他国家的依赖，同时利用竞争国家的依赖。地缘政治正在这里进行有力而缓慢的干预，以摧毁自由市场关系。尽管在这个新世界中，霸权国家和富裕的民主国家可能幸存下来，甚至可能蓬勃发展，但较弱和较贫穷的国家必须决定如何更好地保护自己的利益。</p>
<p>当然，影响力和自身利益一直隐藏在全球经济的保护伞下。长期以来，自由贸易一直与投资者和知识产权诉讼相吻合，而这些定律很少符合弱国的利益。但随着这种影响和那些利益浮出水面，现有体系的优势正在逐渐消失。贫穷国家将竭尽所能保护自己，其可能会开始退出阻止其对紧急情况做出反应并生产自己供应品的全球知识产权规则，强大的国家可能会屈服或转向强迫以实现其目标。约翰逊警告过的所谓“疫苗之战”，实际上只是在少数强国组成的小型俱乐部之中的短暂战斗，迫在眉睫的问题是，这场斗争是否会引发一场将吞噬全球化经济的大火。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->电子网站</div><br>
