---
layout: post
title: 方济各支持暂时豁免疫苗专利
date: 2021-05-09 05:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%AC%A7%E6%B4%B2/20210508-%E6%96%B9%E6%B5%8E%E5%90%84%E6%94%AF%E6%8C%81%E6%9A%82%E6%97%B6%E8%B1%81%E5%85%8D%E7%96%AB%E8%8B%97%E4%B8%93%E5%88%A9
categories: rfi
---

<div>08/05/2021 - 22:41</div><img src="https://s.rfi.fr/media/display/ad9617ec-b03d-11eb-b53d-005056a964fe/w:310/p:16x9/a1-23738455-123738455.png"><div class="t-content__body u-clearfix" >
                    <p>英国哈利王子（Prince Harry）及洛佩兹（Jennifer Lopez）等流行巨星参与的“Vax Live：团结世界演唱会”（Vax Live: The Concert to Reunite The World），呼吁全球更快速、更公平地推动新冠疫苗接种计划。</p><p> </p><p>阿根廷出生的教宗方济各在影像讯息中，以他的母语西班牙语表示，他支持“疫苗取得普及化及暂时中止（疫苗）知识产权”。</p><p>方济各曾一再谈及分享疫苗的必要性，他在这次影像讯息中谴责“个人主义病毒使我们对他人痛苦漠不关心”。</p><p>在方济各发出上述声明前，美国意外宣布支持全球豁免新冠疫苗专利，但主要药厂强烈反对这项措施。</p><p>欧洲理事会主席米歇尔（Charles Michel）指出，一旦细节明确，欧洲联盟就准备讨论美国提出豁免新冠疫苗专利的提议。</p><p>欧盟领袖在葡萄牙波尔图（Porto）讨论上述议题之际，米歇尔表示：“一旦具体提案搬上檯面，我们将准备就此议题进行讨论。”</p><p>但米歇尔也警告，欧盟质疑这项构想并非“短期灵丹妙药”。他指出，扩大全球疫苗分配的最快方法是出口，欧盟鼓励“所有伙伴促进疫苗出口”。</p>
                </div>
            
                                <br>
