---
layout: post
title: 法国将逐步解禁 餐饮准备恢复营业 - 今日经济
date: 2021-05-03 17:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E4%BB%8A%E6%97%A5%E7%BB%8F%E6%B5%8E/20210503-%E6%B3%95%E5%9B%BD%E5%B0%86%E9%80%90%E6%AD%A5%E8%A7%A3%E7%A6%81-%E9%A4%90%E9%A5%AE%E5%87%86%E5%A4%87%E6%81%A2%E5%A4%8D%E8%90%A5%E4%B8%9A
categories: rfi
---

<div>03/05/2021 - 11:31</div><img src="https://s.rfi.fr/media/display/8aaf4a98-a9ba-11eb-8a1c-005056a964fe/w:310/p:16x9/AP21117464492822.jpg"><div class="t-content__body u-clearfix" >
                    <p><strong>分步解禁</strong></p><p>法国总统马克龙于4月29日表示，博物馆、剧院、电影院和音乐厅将于5月19日重新开放。此外，一些商店以及咖啡馆和餐馆的户外座位也将重新开放。他补充说，咖啡馆和餐馆需要等到6月9日才能在室内为客户提供服务。</p><p>马克龙还表示，宵禁将逐步放宽，从5月19日起，宵禁的时间限制将从目前的晚上7时推延至晚上9时；6月9日则延迟至晚上11时。宵禁措施将在6月30日全面解除。</p><p>具体说就是根据疫情情况，法国民众将逐渐不受限制自由行动，第一阶段将解除民众跨区旅游限制，初中和高中生分批回学校上课。</p><p>第二阶段法国将从5月19日起逐步解禁，咖啡馆和餐馆露天座位开放、电影院及其他文化场所和企业将分阶段开放，不过限制人数。旅馆可以为入驻客人在单独的房间提供饮食。</p><p>第三阶段从6月9日开始，将根据法国疫情的情况来决定是否重新开放餐馆的内部设施，宵禁时间推迟到晚间11点，文化和体育场所恢复开放，并将允许外国游客入境，但是需要有健康通行证明。</p><p>第四阶段从6月30日开始，将解除宵禁，文化和体育场馆全面开放，但是需要限制参观人数，不过夜总会和夜店等不能开放。</p><p>法国5月1日消息，境内医院新增195人染疫不治，较前一天的270死减少，同时重症病房收治的新冠染疫重症病患连续第5天下降。法国政府目前继续加快疫苗接种速度，预计法国境内疫情状况将得到改善。</p><p>法国负责旅游的国务秘书让-巴蒂斯特·勒莫恩5月初（Jean-Baptiste Lemoyne）表示法国人今年夏天可以出国旅游，同时从6月9日开始外国游客可以进入法国，他同时呼吁出行要格外小心，保持社交距离并且佩戴口罩。</p><p>评论指出，餐馆开放会方便游客度假，法国全国酒店、餐饮及外卖行业独立联盟主席帕斯卡尔·穆塞特（Pascal Mousset）强调，虽然从5月19日允许餐馆重开，但是预计巴黎地区的餐馆一半会继续关闭。这主要因为不是所有的餐馆都有露天座位，而且如果晚上9点就要关门会影响咖啡馆营业效果，特别是现在大多数法国人在家远程办公，让城市中心的办公楼空空如也，也影响餐馆中午的客源，因此绝大多数餐馆选择6月底重新营业，到时候关门时间将是晚11点。</p><p>法国包括餐馆、咖啡厅等在内的餐饮业已经停业将近7个月，法国政府对其补助将持续到5月底，随后补助将逐渐减少，法国经济部的官员将与餐饮行业的人协调讨论如何走出餐饮业危机的措施。</p><p><strong>加倍消费带动经济反弹</strong></p><p>与此同时，法国公共财务预算部长，奥利维尔·达索普（Olivier Dussopt）5月初预测法国经济今年将出现反弹式迅速回升，如法国在去年第一次限足导致国内生产总值第二季度下滑13.8%，限足结束后，法国经济去年第三季度反弹18.2%。</p><p>分析指出在禁足期间，受益于法国政府救助和失业补助等措施让法国人生活水平没有受到太多影响，同时法国人在疫情期间储蓄增长，如2020年增长大约为20.3%，法国央行行长德加洛(Francois Villeroy de Galhau)表示解禁后要让法国人有信心，把储蓄用在投资经济上。预计本次法国人在解禁后继续加大消费力度，会让法国经济反弹一直持续到2022年。</p>
                </div>
            
                                <br>
