---
layout: post
title: 表达美国力挺  布林肯访乌克兰 – 法国国际广播电台 - RFI
date: 2021-05-06 22:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E8%A1%A8%E8%BE%BE%E7%BE%8E%E5%9B%BD%E5%8A%9B%E6%8C%BA-%E5%B8%83%E6%9E%97%E8%82%AF%E8%AE%BF%E4%B9%8C%E5%85%8B%E5%85%B0
categories: rfi
---

<div>06/05/2021 - 16:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社基辅6日电）    美国国务卿布林肯今天到访乌克兰，呼吁俄罗斯摒弃以「鲁莽与侵略的行动」对付乌克兰，并说俄罗斯在与乌克兰交界处仍维持「重兵」，重申美国力挺乌克兰主权与领土完整的承诺。</p><p>    这是美国总统拜登（Joe Biden）就任后美方高层官员首度造访，布林肯（Antony Blinken）会见乌克兰总统泽伦斯基（Volodymyr Zelensky）表示：「我们坚定支持你…并且我们期盼俄罗斯摒弃鲁莽与侵略行动。」</p><p>    他说：「我们已知俄罗斯从与乌克兰交界处撤离若干部队，但我们也看到，那里仍有重兵。」</p><p>    布林肯稍早曾会见乌克兰外长库列巴（Dmytro Kuleba），虽然他表达力挺乌克兰对抗俄罗斯，但也强调乌克兰必须致力于改革贪腐。</p><p>    他告诉库列巴：「我在这里的理由的确非常简单，那就是代表总统拜登坚定重申我们对两国之间伙伴关系的承诺，我们对乌克兰主权、领土完整与独立自主的承诺。」</p><p>    布林肯另指出，美国将「与你们合作并继续强化你们所拥有的民主，建立机制，以促进你们对抗贪腐的改革」。</p><p>    库列巴告诉布林肯，乌克兰「非常感激」美国援助，以支持他们在乌东对付亲俄罗斯分离主义分子的战斗。普遍认为乌东分离主义分子获得俄罗斯军事与政治的支持。</p><p>    布林肯展开访乌一日行之前，俄罗斯上个月在乌克兰边境集结10万大军，这是2014年俄罗斯并吞俄罗斯人占多数的克里米亚（Crimea）半岛及乌东爆发战事以来，俄军最大规模的动员。</p><p>    不过最近一次的大军部署后，俄罗斯随即宣布撤兵，以致若干专家认为，俄国总统蒲亭（Vladimir Putin ）意在测试拜登的意志，以及试图加强对乌克兰施压。（译者：曹宇帆/核稿：陈政一）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
