---
layout: post
title: 巴西小镇爆攻击案 托儿所3童2员工遭杀害 – 法国国际广播电台 - RFI
date: 2021-05-05 18:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%B7%B4%E8%A5%BF%E5%B0%8F%E9%95%87%E7%88%86%E6%94%BB%E5%87%BB%E6%A1%88-%E6%89%98%E5%84%BF%E6%89%803%E7%AB%A52%E5%91%98%E5%B7%A5%E9%81%AD%E6%9D%80%E5%AE%B3
categories: rfi
---

<div>05/05/2021 - 12:34</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社巴西绍达迪镇4日电）    巴西南方小镇绍达迪（Saudades）警方今天表示，一名18岁男子持类似武士刀利刃闯入一家日间托儿所，杀害3名幼童和两名工作人员。此案震惊了这座约有一万人口的小镇。</p><p>    位于圣卡塔里纳州（Santa Catarina）的绍达迪镇当局表示，嫌疑人犯案后，持刀划伤自己的颈部、腹部和躯体。警方在声明中说，嫌疑人立即被送医，状况危急。</p><p>    官员并未说明这起攻击案的犯案动机，仅说行凶者并无前科。</p><p>    紧急救援人员艾可（Leonardo Ecco）受访时表示：「消防员抵达这家日间托儿所时，看到极残忍的场面。已经有孩子和工作人员丧命了。」</p><p>    27岁的托儿所员工毕亚泽贝提（Aline Biazebetti ）住在托儿所附近，当时正好在家，她描述了得知出事时的恐怖感觉。</p><p>    「我听到惨叫和求救声，我告诉父亲：『托儿所出事了。』我走到外面，看见同事呼救说：『拜托报警，有人带武器闯入，在杀害孩子们。』」</p><p>    当局并未公布受害儿童的年龄。当地媒体提到，这家托儿所专门招收6个月到两岁大的孩子。</p><p>    除了3名幼童丧命之外，警察局长费瑞拉（Jeronimo Marcal Ferreira）在案发地点外受访时说，还有一个孩子受轻伤。</p><p>    一名警员形容凶器类似武士刀，还向媒体展示装着这把刀的证物袋，刀身已用黄色塑胶布包裹，可以说是长刀，也可以说是短剑。</p><p>    圣卡塔里纳州长雷纳（Daniela Reinehr）宣布全州为这起事件哀悼3天。</p><p>    巴西上一次发生致命校园攻击案是在2019年3月，地点在大城圣保罗（Sao Paulo）附近的苏沙诺市（Suzano）一所中学，两名离校学生持枪击毙8人，然后自杀。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
