---
layout: post
title: 经中国官媒狠批 港大学生会「被割席」 「九大」批校方成败坏自由共犯
date: 2021-05-01 17:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210501-%E7%BB%8F%E4%B8%AD%E5%9B%BD%E5%AE%98%E5%AA%92%E7%8B%A0%E6%89%B9-%E6%B8%AF%E5%A4%A7%E5%AD%A6%E7%94%9F%E4%BC%9A-%E8%A2%AB%E5%89%B2%E5%B8%AD-%E4%B9%9D%E5%A4%A7-%E6%89%B9%E6%A0%A1%E6%96%B9%E6%88%90%E8%B4%A5%E5%9D%8F%E8%87%AA%E7%94%B1%E5%85%B1%E7%8A%AF
categories: rfi
---

<div>01/05/2021 - 10:23</div><img src="https://s.rfi.fr/media/display/d46e0382-16df-11ea-92a7-005056a99247/w:310/p:16x9/20131231143804960.jpg"><div class="t-content__body u-clearfix" >
                    <p>曾任港大学生会会长的现任港大校友关注组副召集人麦东荣批评校方「以行政措施执行政治任务」，并质疑校方能否单凭未知狮否经过正确程序的「决定」而收回学生会相关权力。若决定最终落实，将会削弱学生会的代表性。另有教员忧虑，若学生会因未能自行向所有逾万名学生收取会费，不能代表整体本科生利益，学生会代表在校内不同组织的席位可能亦会被剔除，例如纪律委员会。</p><p>继中文大学学生会3月遭校方「割席」后，港大成为第二个与学生会「厘清」责任的大学。港大在昨(4月30日)天发表的声明中指出，港大学生会作为一个独立于港大的注册社会团体，近年行事日趋政治化，其言论不单破坏与校方的互信，亦令大学的整体利益和声誉蒙损，大学对此予以强烈谴责。 声明续称，校方不能容忍学生会一方面利用学校提供的服务和场所，另一方面漠视校方的劝喻和整体港大社群利益，为大学带来违法风险。因此，大学决定不再代学生会收取会员费用等多项措施。相关措施，与中大校方采取的相若。</p><p>港大此举是在中国《人民日报》狠批港大学生会后的第18天作出，事缘学生会上月先后两度发表声明，先是对人大常委会「亲自终结香港选举制度表示强烈愤慨」；其后又向校长张翔发公开信，批评校方与其他大学及教育局商讨在大学内推行国安法及国安教育，是「挂国家安全为幌子，行政治任务为实」，「断送院校自主」；而且大陆那套「一元意识」的爱国教育，有违大学启迪思想、明德格物的责任，然而校方「向政权折腰，甘作傀儡，扼杀学术」。事隔两日，即上月18日，《人民日报》发表言辞激烈的评论文章，狠批港大学生会「贼心不死、逆势而行」，是要切除的「毒瘤」；又说，「如此学生会已到了非管不可的时候」。</p><p><strong>学生组织批港大沦学店 大公赞校方拨乱反正吁其他大学仿效</strong></p><p>九间大学的学生会及临时行政委员会发表联合声明，强烈谴责港大校方出于政治考虑的决定，批评校方行为不但严重打压学生参与社会事务与发表言论的自由，更是将白色恐怖带入校园，「欲以莫须有之罪名整肃校园学生组织」，形容此等漠视学生权利的「蛮横行径」，「令人不齿」。</p><p>声明续称，港大校方近日屡屡打压学生，包括「日前强拆连侬墙、剥削同学在校内发表言论的自由；现在更与港大学生会割席、因政治压迫而摧毁同学在校的自治权利。」批评港大「为虎作伥，甘愿依附政权，成为败坏自由及人权的共犯，彻底沦为以剥夺学生权利换取利益的学店」。</p><p>港大校友关注组副召集人麦东荣批评校方「以行政措施执行政治任务」，其手段短期不会影响学生会运作，因为该会的独立银行户口有上千万元存款；但长期会因难以收取全体学生会费而令其代表性被削，而资产日缩的结果，亦会影响现时逾百个属会的拨款以致举办活动。</p><p>他质疑，学生会会室及其他设施虽属校方拥有，但港大学生会大楼旧址于上世纪八十年代拆迁时，校方曾承诺大楼交由学生会管理，现在收回是违背协议，促校方公开文件厘清权责。他又说，相关设施数十年来均由学生会管理，校方的不作为其实已确认此权力，校方不能单凭一个决定便收回学生会相关权力。</p><p>不过，北京在港媒体《大公报》以「拨乱反正」为题报道校方做法，在整版篇幅中配以属建制阵营的教育组织者的访问，呼吁其他大学效法港大校方。另外，该报又以《港大与学生会「割席」是出于关爱学生》为题作社评，细数港大学生会不是之处，若明知学生做错却不直斥其非，「甚至为博得『开明』表象而无原则妥协，最终只会害了学生。」社评质疑，若校方对学生会早些严加管理，便不会有学生卷入各种「非法」活动，而落得被捕判刑的下场。</p>
                </div>
            
                                <br>
