---
layout: post
title: 国际科学家再次呼吁世卫进一步调查新冠病毒起源
date: 2021-05-01 22:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210501-%E5%9B%BD%E9%99%85%E7%A7%91%E5%AD%A6%E5%AE%B6%E5%86%8D%E6%AC%A1%E5%91%BC%E5%90%81%E4%B8%96%E5%8D%AB%E8%BF%9B%E4%B8%80%E6%AD%A5%E8%B0%83%E6%9F%A5%E6%96%B0%E5%86%A0%E7%97%85%E6%AF%92%E8%B5%B7%E6%BA%90
categories: rfi
---

<div>01/05/2021 - 16:37</div><img src="https://s.rfi.fr/media/display/cf0fabee-8993-11ea-863a-005056bf87d6/w:310/p:16x9/2020-04-04T111226Z_1320944533_RC2NXF9W201V_RTRMADP_3_HEALTH-CORONAVIRUS-USA.JPG"><div class="t-content__body u-clearfix" >
                    <p>国际科学家再次呼吁世卫组织进一步调查新冠病毒起源。据美国之音今天报道称，一组国际科学家和学者在星期五（4月30日）发表的一封公开信中再次呼吁世界卫生组织更深入的挖掘新冠病毒的起源，公开信说，“了解这次大流行病的起源对于解决我们的脆弱性和防止未来的危机至关重要。不幸的是，正如3月4日和4月7日发表的公开信所概述的那样，世卫组织召集的新冠病毒的起源进行的联合研究在结构、程序和分析方面存在的缺陷，为这个理解制造了不必要的障碍，”这封信说。</p><p>这封信得到25名科学家和学者的签名，发起者包括华盛顿智库大西洋理事会高级研究员杰米·梅泽尔(Jamie Metzl)、法国一所生物研究所的进化遗传学家以及新西兰银行的一位工程师和数据科学家。</p><p>据该报道，世界卫生组织的一个专家小组在2019年12月武汉报告了首例病例一年多后，于2021年1月至2月在中国对冠状病毒的来源进行了调查。调查小组做出结论说，新冠病毒最有可能源于动物，但他们尚未确定最初的传播是如何发生的以及何时发生的。他们还认为，病毒极不可能由武汉的实验室泄露出来。</p><p>美国情报总监海恩斯(Avril Haines)最近在国会作证时表示，美国情报机构没有确定新冠病毒的起源，但是不排除新冠病毒是武汉实验室泄露的可能性。</p><p>据美国之音说，世卫组织总干事谭德塞(Tedros Adhanom Ghebreyesus)曾在一次新闻发布会上表示，仍有必要调查病毒由实验室泄露的可能性。他当时表示，调查病毒来源的专家将展开后续的工作。</p><p>新冠疫情已在全世界造成1亿5000多万人染疫，320多万人死亡。</p>
                </div>
            
                                <br>
