---
layout: post
title: 西班牙取消紧急状态 得见久违家人民众热泪盈框 – 法国国际广播电台 - RFI
date: 2021-05-09 22:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E8%A5%BF%E7%8F%AD%E7%89%99%E5%8F%96%E6%B6%88%E7%B4%A7%E6%80%A5%E7%8A%B6%E6%80%81-%E5%BE%97%E8%A7%81%E4%B9%85%E8%BF%9D%E5%AE%B6%E4%BA%BA%E6%B0%91%E4%BC%97%E7%83%AD%E6%B3%AA%E7%9B%88%E6%A1%86
categories: rfi
---

<div>09/05/2021 - 16:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社马德里9日电）    西班牙今天起解除自2020年10月以来对抗2019冠状病毒疾病（COVID-19）而实施的紧急状态，几个月来首度允许民众在不同地区间旅行，睽违数月的亲人得以重聚。</p><p>    解除宵禁在巴塞隆纳受到欢呼声、掌声和音乐的欢迎。28岁的科贝拉（Oriol Corbella）：「这就像新年一样。」</p><p>    他说：「我们恢复一点正常，一点自由，但我们必须记住，病毒仍然在周遭。」</p><p>    珠宝设计师巴尔斯（Blaca Valls）8日告诉法新社：「我受够了不能离开马德里。」这呼应许多人因限制放宽感到松了口气的想法。</p><p>    46岁的巴尔斯说：「遭到封锁、没有自由，令我感到沮丧。」他计划下周末去西北部加利西亚（Galicia）庆生。</p><p>    也是马德里居民但不愿透露姓氏的萝拉（Laura），今天在阿托查（Atocha）车站等待来自中部卡斯提亚曼加地区（Castilla La Mancha）的家人时热泪盈眶。</p><p>    45岁的萝拉说：「我们已经有8个月没见到他们，这一切都非常令人激动。」（译者：林沂锋/核稿：林治平）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
