---
layout: post
title: 安特托昆博伤愈归队轰49分 公鹿力克篮网 – 法国国际广播电台 - RFI
date: 2021-05-03 12:15:01.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%AE%89%E7%89%B9%E6%89%98%E6%98%86%E5%8D%9A%E4%BC%A4%E6%84%88%E5%BD%92%E9%98%9F%E8%BD%B049%E5%88%86-%E5%85%AC%E9%B9%BF%E5%8A%9B%E5%85%8B%E7%AF%AE%E7%BD%91
categories: rfi
---

<div>03/05/2021 - 06:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社密尔瓦基2日电）    NBA「字母哥」安特托昆博今天伤愈复出，随即轰下个人本季新高49分，助公鹿117比114险胜篮网。</p><p>美国职篮NBA密尔瓦基公鹿前场比赛对上芝加哥公牛，阵中头号王牌安特托昆博（Giannis Antetokounmpo）因为脚踝伤势缺席，他今天伤愈归队，在对上布鲁克林篮网这场比赛，立刻有爆炸性演出。</p><p>这是安特托昆博生涯至今单场得分第3高的比赛，他单场得分最多的前两场比赛，分别是2019年3月17日对上费城76人之战轰下52分，及2019年11月25日对犹他爵士一役飙进50分。</p><p>篮网的杜兰特（Kevin Durant）今天轰下42分追平他本季单场得分最高的纪录，但在比赛终了前30秒内，接连两次有机会追平比数的三分球他都失手。</p><p>安特托昆博此役表现全面，除轰下49分，还有8篮板、4助攻、3阻攻、1抄截的表现；密道顿（Khris Middleton）则有26分、11篮板、6助攻的演出；哈勒戴（Jrue Holiday）、福布斯（Bryn Forbes）分别为公鹿攻下18分、12分。</p><p>篮网方面，杜兰特今天有42分、10篮板的「双十」演出；厄文（Kyrie Irving）有20分、7篮板、6助攻进帐；沙米特（Landry Shamet）、葛里芬（Blake Griffin）分别为篮网攻下17分、11分；乔丹（DeAndre Jordan）则有10分、11篮板的「双十」成绩。</p><p>东区的排名上，费城76人战绩42胜21败，以胜率6成67排名第1；篮网43胜22败、胜率6成62排在第2；公鹿今天赢球，战绩40胜24败，暂居东区第3，仍有机会在季后赛前攀上东区龙头位置。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
