---
layout: post
title: 阿富汗政府军激战塔利班 超过百名叛乱分子死亡 – 法国国际广播电台 - RFI
date: 2021-05-03 08:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E9%98%BF%E5%AF%8C%E6%B1%97%E6%94%BF%E5%BA%9C%E5%86%9B%E6%BF%80%E6%88%98%E5%A1%94%E5%88%A9%E7%8F%AD-%E8%B6%85%E8%BF%87%E7%99%BE%E5%90%8D%E5%8F%9B%E4%B9%B1%E5%88%86%E5%AD%90%E6%AD%BB%E4%BA%A1
categories: rfi
---

<div>03/05/2021 - 02:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社喀布尔2日电）    美国5月1日正式开始从阿富汗撤军，但阿富汗国防部今天表示，政府军与民兵组织塔利班（Taliban）在境内各地发生冲突，过去24小时内有超过100名叛乱分子丧命。</p><p>    阿富汗国防部指出，塔利班与政府军在境内数省进行战斗。</p><p>    国防部提到，还有52名塔利班战斗人员在冲突中受伤，但没有提供政府军人员伤亡的详细资讯。</p><p>    塔利班没有对这些武装冲突发表任何评论，但众所周知，政府军与塔利班往往都会夸大对方的伤亡数据。（译者：陈彦钧）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
