---
layout: post
title: 协助抗疫 印度央行释67亿美元低息融资 – 法国国际广播电台 - RFI
date: 2021-05-05 19:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%8D%8F%E5%8A%A9%E6%8A%97%E7%96%AB-%E5%8D%B0%E5%BA%A6%E5%A4%AE%E8%A1%8C%E9%87%8A67%E4%BA%BF%E7%BE%8E%E5%85%83%E4%BD%8E%E6%81%AF%E8%9E%8D%E8%B5%84
categories: rfi
---

<div>05/05/2021 - 13:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社孟买5日电）    印度中央银行今天宣布，将为疫苗制造商、医院与其他医疗企业释出67亿美元低息融资，以对抗境内爆冲的2019冠状病毒疾病（COVID-19）疫情。</p><p>    印度储备银行（Reserve Bank of India）总裁达斯（Shaktikanta Das）表示，低利率贷款将提供至明年3月31日；并矢言若危机恶化，将采取「非常规措施」因应。</p><p>    就在央行做此宣布之际，印度通报过去24小时新增3780人病故，创下新高；另新增38万2000人确诊。</p><p>    达斯表示，许多医院都存在氧气、病床和疫苗严重短缺情形，新措施的目标就是要提升在疫情期间的紧急管道，让银行更容易提供低息贷款给医院、氧气制造商，甚至病患。</p><p>    达斯说：「立即性目标就是透过任何可能手段，挽救人命与恢复生计。」</p><p>    印度经费不足的医疗体系在这波疫情中濒临崩溃，许多病患苦等不到医院病床和氧气，就在医院停车场断气。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
