---
layout: post
title: 美增派轰炸机战斗机 护卫美国和联军撤离阿富汗 – 法国国际广播电台 - RFI
date: 2021-05-07 10:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E5%A2%9E%E6%B4%BE%E8%BD%B0%E7%82%B8%E6%9C%BA%E6%88%98%E6%96%97%E6%9C%BA-%E6%8A%A4%E5%8D%AB%E7%BE%8E%E5%9B%BD%E5%92%8C%E8%81%94%E5%86%9B%E6%92%A4%E7%A6%BB%E9%98%BF%E5%AF%8C%E6%B1%97
categories: rfi
---

<div>07/05/2021 - 04:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿6日电）    五角大厦今天表示，美国军方已增派重型轰炸机和战斗机保护美国和联盟部队自阿富汗撤离，美军和联军到目前为止未遭受直接攻击。</p><p>    法新社报导，美国国防部长奥斯汀（Lloyd Austin ）告诉记者：「不到1周期间，撤离行动按计画进行中。」</p><p>    美国参谋首长联席会议主席密利（Mark Milley）表示，为保护部队安全撤离，6架B-52长程轰炸机和12架F-18战斗机已奉令提供应急支援。</p><p>    密利说，尽管塔利班（Taliban）叛乱团体每天对阿富汗政府目标发动80至120次攻击，但自5月1日撤军行动展开以来，「并未出现针对美军和联盟部队的攻击」。</p><p>    美国在2001年9月11日遭遇恐怖攻击后挥师阿富汗，推翻包庇盖达组织首脑宾拉登（Osama bin Laden）的塔利班政权。今年适逢911事件20周年，美国总统拜登4月下令撤离驻守阿富汗的2500名美军和1万6000名民间承包商，并将撤离阿富汗的最后期限定于9月11日。</p><p>    奥斯汀和密利强调，虽然美国持续与阿富汗安全部队密切合作，双方关系将随着这波撤军有所调整。</p><p>    奥斯汀表示，美国将继续透过挹注资金，以及驻守数百公里外的美军基地和船舰提供军事支援。</p><p>    在外界广泛担忧美军撤离后塔利班恐自阿富汗政府夺权下，密利表示，不应认定阿富汗部队无用武之地。密利说：「阿富汗国家安全部队（Afghan National Security Forces）及阿富汗政府目前仍团结一致。」「美国总统打算对两者提供支援。」</p><p>    密利还说，美国与阿富汗政府正进行讨论，如何让阿富汗空军持续对地面政府军提供有效支援。</p><p>    阿富汗空军相当依赖外国技术人员，目前正陆续撤离的1万6000名承包商就包括这些技术人员。（译者：徐睿承/核稿：卢映孜）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
