---
layout: post
title: 中国长五B残骸最终落入印度洋 史上第4大人造物体失控坠地 法新社批美国故弄玄虚
date: 2021-05-09 23:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210509-%E4%B8%AD%E5%9B%BD%E9%95%BF%E4%BA%94b%E6%AE%8B%E9%AA%B8%E6%9C%80%E7%BB%88%E8%90%BD%E5%85%A5%E5%8D%B0%E5%BA%A6%E6%B4%8B-%E5%8F%B2%E4%B8%8A%E7%AC%AC4%E5%A4%A7%E4%BA%BA%E9%80%A0%E7%89%A9%E4%BD%93%E5%A4%B1%E6%8E%A7%E5%9D%A0%E5%9C%B0-%E6%B3%95%E6%96%B0%E7%A4%BE%E6%89%B9%E7%BE%8E%E5%9B%BD%E6%95%85%E5%BC%84%E7%8E%84%E8%99%9A
categories: rfi
---

<div>09/05/2021 - 16:58</div><img src="https://s.rfi.fr/media/display/1eae289a-b0c3-11eb-a460-005056bff430/w:310/p:16x9/000_98Y2UM.jpg"><div class="t-content__body u-clearfix" >
                    <p>据法新社今天报道称，中国于4月29日在海南的文昌发射长征五B火箭，将天和核心舱送入地球轨道构建中国太空站。</p><p>北京官员先前虽已表示，长五B的残骸对人群造成的风险微乎其微，但美国国家航空暨太空总署（NASA）与部分西方专家彷佛惟恐天下不乱，不断称如此庞大的失控的火箭掉落，恐酿灾损。</p><p>1979年NASA重达76吨的Skylab太空站残骸摔落地球，部分残骸掉入澳大利亚土地，近年还曾发生SpaceX火箭残骸掉回地球后，落在人口居住地带。</p><p>中国载人航天工程办公室发布声明指出，经监测分析，上午10时24分，长征五B遥二运载火箭末级残骸已再入大气层，绝大部分器件于重返大气层过程中烧毁，部分掉落在马尔地夫群岛附近的印度洋海域。使用美军资料追踪的Space-Track网站表示，美国系统最后记录到长五B残骸的位置是在沙乌地阿拉伯上空。Space-Track推文道：“相关操作人员确认，火箭残骸确实落入马尔地夫群岛北方的印度洋水域。”</p><p>法新社说，尽管如此，美军的太空司令部却故弄玄虚，只说长五B残骸是在北京时间上午10时15分飞越阿拉伯半岛，“不确定掉在陆地或海里”。</p><p>据自由时报今天报道称，中国长征五号B遥二运载火箭其重达21吨的核心火箭段，不受控制坠落地球，由于为1990年代以来，坠落地球的最大太空飞行器，引发各界关注，在坠落前一刻中国航太机构才首度公告状况，中国估计长征火箭残骸将于今（9日）早10点12分前后15分钟重返大气层，预估坠落处在希腊克里特岛周边。</p><p>中国载人航天官网今早公告，长征五号B遥二运载火箭末级残骸再人大气层情况，此为该机构首度针报告长征火箭残骸状态，公告指出今早7点24分，长征五号B遥二运载火箭末级残骸在近地点高度约130公里、远地点高度约160公里轨道上，其倾角为41.5度，预计重返大气层时间为今上午10点12分前后15分钟，再入区域中心点位于东经28.38度、北纬34.43度，也就是在希腊克里特岛东方海域。</p><p>该报道称，与日前中国目标飞行器“天宫一号”坠落时，中国官方每日、每周更新“天宫一号”当前状态相比，中国载人航天在中国长征火箭不受控重返大气层前一刻才首度公告其在地球低轨道上状态。</p><p>中国载人航天官网今公告，长征五号B遥二运载火箭末级残骸于上午10点24分再入大气层，落于于北纬2.65度、东经72.47度，也就是在印度洋、马尔代夫北方海域，中国称绝大部分器件在再入大气层过程中烧蚀销毁。</p><p>美国太空司令部也发布声明指出，在台湾时间上午10点15分确认长征火箭残骸在阿拉伯半岛上空再入大气层，并落入马尔代夫以北海域；哈佛天文物理学家麦道威（Jonathan McDowell）表示，长征火箭残骸长约30公尺、宽5公尺、重达21吨，是史上第4大不受控坠入地球人造物体。</p><p>有民众在推特上分享疑似长征火箭残骸坠落画面，穆罕默德·埃桑（Muhammad Ehsan）在推特上PO出一段影片，只见一个不明物体在高空，拖着一条长尾移动，他声称这是中国火箭越过沙特阿拉伯上空的画面。</p><p>据中央社今天报道称，中国长征五号B遥二火箭残骸今天坠落在印度洋海域，让全球虚惊一场。但对照中方提供位置，残骸坠落地点是在马尔代夫西南方近海，距最近的有人居住岛屿仅约42公里，仍具备一定的危险性。</p><p>按中国央视消息，中国载人航天工程办公室近中午公布，经过监测，长征五号B遥二火箭残骸已于台北时间上午10 时24分，坠入北纬2.65度、东经72.47度的印度洋海域。在落海前，绝大部分器件于重返大气层过程中烧毁。</p><p>对照海图，中国方面公布的上述火箭残骸坠落位置，是在马尔代夫西南部的达卢环礁（Dhaalu Atoll）的西南方外海。而达卢环礁是马尔代夫知名的旅游岛屿之一。达卢环礁由56座岛礁组成，其中7座有常住居民，另有一些岛礁则供饭店专用。经对照发现，长征五号B遥二火箭残骸的坠落海面，距离最近的有人岛礁加迪福里（Gadifuri）岛仅约42公里，而当地就是供渡假饭店专用的岛礁。</p><p>同时，加迪福里岛距离达卢环礁的最大岛、有常住居民、且唯一拥有机场供观光客进出的库达胡瓦杜（Kudahuvadhoo）岛，距离不到5公里；而库达胡瓦杜岛距离残骸坠落海面，也只有近46公里。</p><p>一般定义中，距陆地40余公里的海面，仍属“近海”，况且是有人居住的陆地。相较于其他国家发射火箭产生的残骸，坠落位置通常被设定在距最近陆地数百公里、甚至上千公里远的偏远海域，例如有“太空坟场”之称的东南太平洋。</p><p>相形之下，长征五号B遥二火箭残骸坠落海面距陆地仅40余公里，有可能是渔船作业地点，或是商船途经之地，仍具一定程度的危险性。</p><p>据中央社说，事实上，中国火箭还曾发生过残骸坠落在陆地的情事。2020年5月发射的长征五号B火箭，残骸便坠落在非洲科特迪瓦内陆的一个村庄，造成多幢建筑物毁损，残骸中还包括一根12公尺长的金属管线，所幸无人伤亡。</p><p>在此之前，重达76吨的美国Skylab太空站残骸，1979年坠落在印度洋东部海域与澳洲西部偏僻陆地，也无人伤亡，是最著名的太空残骸坠落意外。</p><p>美国天体物理学家麦道威（Jonathan McDowell）日前表示，自1990年以来，没有任何超过10吨的太空残骸不受控重返大气层，而长征五号B遥二火箭的净重，已达21吨。</p>
                </div>
            
                                <br>
