---
layout: post
title: 我们的大脑在不断发展 如何提高你的大脑学习能力？
date: 2021-05-01 17:06:05.000000000 +08:00
link: http://chinese.aljazeera.net/opinions/long-reads/2021/4/14/%e6%88%91%e4%bb%ac%e7%9a%84%e5%a4%a7%e8%84%91%e5%9c%a8%e4%b8%8d%e6%96%ad%e5%8f%91%e5%b1%95%e5%a6%82%e4%bd%95%e6%8f%90%e9%ab%98%e4%bd%a0%e7%9a%84%e5%a4%a7%e8%84%91%e5%ad%a6%e4%b9%a0%e8%83%bd%e5%8a%9b
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/الدماغ-111111.jpg?resize=570%2C380" srcSet="/wp-content/uploads/2021/04/الدماغ-111111.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/04/الدماغ-111111.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/04/الدماغ-111111.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/04/الدماغ-111111.jpg?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content"><blockquote><p>“想象一下，来到一个新国家的移民，他们可以在短短几个月内轻松掌握一门新语言，而又不会带着不同口音，也可以想象一下，如果退休的老年人能够像他们童年时一样积极学习一项新技能，他们的生活将发生怎样的变化？”</p></blockquote>
<p>在一些研究人员看来，这种想象似乎并不是幻想，他们认为我们大脑所拥有的潜力远比我们实际用来建立自己能力的潜力要大得多，他们追踪了大脑令人惊讶的能力，并发现了许多秘密。也许神经科学家有一天会取得的成就之一就是，拥有与童年时相同程度的学习能力，并拥有与童年时相同程度的轻松度，我们不断发展我们大脑的学习能力，以便我们能够尽可能以最佳方式使用大脑。</p>
<h3>我们的大脑不断学习如何学习</h3>
<p>我们的大脑永远不会停止变化，特别是在关键的发育阶段，在这个阶段，神​​经系统对环境刺激特别敏感，大脑皮层非常灵活，一旦受到新的刺激，其结构很容易改变，因此，婴幼儿能够在短时间内发展语言，并从他们父母那里听到语言后立即学习单词，事实上，在这个关键时期之后，成年人仍然可以学习其他语言，但是成年人将不得不更加努力地保持注意力。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-185750" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2020-10-13T032717.932-1.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>正如诺曼·道奇（Norman Doidge）在他的著作《大脑及如何发展其结构和性能》中告诉我们的那样，关键时期的大脑可塑性与成人大脑可塑性之间的差异在于，关键时期的脑图可以通过简单地暴露给世界来改变，因为学习机制一直持续不断，婴儿不知道什么对他们重要和什么不重要，因此，他们会对所有事情全神贯注。</p>
<p>关键时期的学习很容易，因为基底神经节一直处于正常状态，这是神经可塑性最杰出专家米歇尔·米尔兹尼奇（Michel Mirznich）在他的实验中所得，在他的实验中，人工激活了成年大鼠的基底核，以观察其脑图的巨大扩展，其工作模式类似于关键时期的大脑工作，这样，就能够找到一种方法来恢复成年人在关键时期的大脑效率，通过使用某些化学物质的电极或ICSI或药物，人们可以简单地通过短时间暴露于科学或历史和手工艺中来学习的事实。</p>
<p>由于他的实验，米尔兹尼奇成功注册多项技术专利，这些技术有望使成年人有机会学习语言技能而不会产生记忆压力，并强调称，实践一项新技能可以改变大脑图中神经元之间成千上万甚至数十亿个连接，米尔兹尼奇强调称，大脑会根据我们所做的事情适应自身，并始终“学习如何学习”。</p>
<h3>挑战你的大脑以保持其可塑性</h3>
<p><img class="aligncenter size-fantasia-770 wp-image-185752" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2020-10-13T032912.190-1.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p><a href="https://www.goodreads.com/book/show/39878177">可塑性</a>被定义为服从以及改变和适应的能力，这是一个术语，指的是我们大脑和神经系统中神经元的可塑性和改变能力。科学家表明，我们天生的心理能力不是固定的，受损的大脑可以自我区分，因此，如果其中一部分无法正常工作，一个部分可以代替另一个部分工作，鉴于此，<a href="https://www.cognifit.com/ar/brain-plasticity-and-cognition">神经可塑性</a>使大脑得以再生，支持其记忆和重组的能力，并减少了结构失衡的影响，而这种失衡会导致多种疾病，例如多发性硬化症、帕金森氏症、阿尔茨海默氏病、多动症等。</p>
<p>大脑可以通过思维和活动来改变其结构的想法是具有深远影响的革命之一，这将使人类对爱、悲伤、人际关系、学习、成瘾、文化和技术的理解加深，并且这种影响将扩展到社会学、人文科学和物理科学等所有领域。</p>
<p>我们通常认为，成年后，我们的身体在青春期停止变化后就处于稳定状态，并且我们变得熟练于工作，这意味着我们已经失去了有效学习新事物的能力，但事实很可能是，我们继续工作了很多年，在掌握了这些知识之后，不再需要我们的注意力，我们将母语，并重复使用我们所学到的技能，并且我们不会根据自己的意识来试图学习新知识，我们七十岁时就会发现，近50年来，我们可能一直没有使用可塑性调节系统。</p>
<blockquote><p>“脑部锻炼与治疗精神分裂症等严重疾病的药物一样有用，可塑性从出生到死亡一直存在，认知功能的显着改善——我们如何学习、如何思考、如何理解和如何记住——可以实现，甚至是老年人也可能实现。”</p></blockquote>
<p>随着年龄的增长，我们对学习的忽视削弱了调节和控制可塑性的大脑系统，而并非这些系统的自然弱点妨碍了我们的学习能力，正如我们以前所认为的那样，而神经科学家已经能够进行大脑锻炼治疗与年龄有关的认知能力下降。正如米歇尔·米尔兹尼奇告诉我们的那样，学习需要重点关注或解决挑战我们思维难题的活动，或者改变需要掌握新技能的职业，促使控制可塑性组织继续工作，他并强调称，年轻大脑可以做的所有事情都可以在年长大脑中发生，前提是这个人获得足够的奖赏或惩罚，以引起他的注意并避免无聊。</p>
<h3>高级学习是掌握技能的捷径</h3>
<p><img class="aligncenter size-fantasia-770 wp-image-185754" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2020-10-13T033409.823.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>高级学习意味着达到标准成就水平后继续进行技能训练，例如，当标准是罚球中在10次尝试中成功投入10次，那么球员继续训练，直到他在15次尝试中达到成功投入15次，这意味着他已经达到卓越学习标准的50％。</p>
<p>根据其他观点，“高级学习”一词有时指的是继续进行技能训练，而不管结果是否有所改善。例如，即使个人达到了所需的能力，即10次尝试中有10次成功投篮，将继续进行其他技能培训以加强学习，而且，无论多么复杂，都可以随时轻松地执行这项操作，从而使这项技能被遗忘的可能性降低。</p>
<p>更重要的是，需要注意，随着人的成长达到一定水平，绩效的提高速度会逐渐且明显地降低，成就是有极限的，而随着人的能力达到最高水平，学习程度就会开始下降，也就是说，一个人越熟练地学习技能，改进和进步的空间就越小，并且他需要花费更长时间来突破成就的界限。例如，如果他继续训练以便能够在20次尝试中达到20次成功投篮的能力水平，那么随后的训练将不会以与训练“额外”花费时间相称的速度增加他的进步或保持表现的能力。</p>
<p>随着时间的流逝，一个人超越自己极限的能力变得越来越弱，其他人开始取得更好的成就，并打破了他无法达到的数字，这就是为什么人们会失去对高级学习渴望的原因，部分原因是学过程变得无聊，而持续不断地学习并不会带来很多改善。</p>
<p>一些研究人员认为，高级学习将使我们在学习快速运动技能——例如篮球或芭蕾舞——方面受益更多，至于我们通常依赖记忆的其他技能——例如学习语言或真理学习，高级学习还没有得到精准地测试，因为其在处理大脑内部信息时使用的是不太专业的质量。</p>
<h3>小憩 你在睡觉，而你的大脑非常活跃</h3>
<p><img class="aligncenter size-fantasia-770 wp-image-185756" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2020-10-13T033858.424.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p><a href="https://lamenteesmaravillosa.com/la-red-neuronal-por-defecto-nuestro-piloto-automatico-cerebral/">神经科学家马库斯·赖希勒</a>（Marcus Reichle）在1990年代发现了我们大脑中独特的能量，当时他使用磁共振成像进行了一系列实验，在实验过程中，他观察了人们在休息时坐着什么也不做时的状态，也许他们在白日做梦，在这些时刻，大脑表现出特殊的生命和惊人的功能。</p>
<p>即使在我们什么都不做或我们认为没有思考的时候，我们的大脑仍然沉迷于其高度复杂的活动中，在明显的认知不活跃和与世界脱节的时刻，所谓的假设神经网络被激活，这使大脑能够继续工作并从事无止尽的复杂活动。</p>
<p>研究表明，睡眠在巩固记忆和取得结果以支持运动学习方面具有重要意义，就像高级学习在改善视觉学习方面一样，实验参与者在两次训练之间小睡了90分钟即可达到与高级学习相似的结果，即使大多数人在学习技能时无法小睡90分钟，但将睡眠和高级学习结合起来可能是学习和保存记忆的良好计划，尽管如此，如果你无法练习高级学习或正确调节睡眠，而且你必须同时学习一种以上的技能，专业人士建议你需要做的最重要的事情就是，避免同时学习所有类似技能，以便可以保留所有这些技能。</p>
<p>最后，专家建议一些锻炼和技巧，这些刺激和方法可以激发大脑发挥最大潜能，并改善大脑的神经可塑性，其中最突出的是：</p>
<ul>
<li>
<h3><a href="https://www.vidapotencial.com/neuroplasticidad-mejorar-cerebro/">智力刺激</a></h3>
</li>
</ul>
<p>观察新事物，例如阅读和收听包含我们以前不知道信息的音频，参加展览或与人们交谈，告诉我们新事物。简而言之，当我们的思想与新事物相遇时，所有这些都有助于激活神经回路和大脑工作模式，从而增加你的神经可塑性。</p>
<ul>
<li>
<h3>体育运动</h3>
</li>
</ul>
<p><img class="aligncenter size-fantasia-770 wp-image-185758" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2020-10-13T034204.599.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>神经可塑性是可以持续获得的事务，没有哪一个年龄可以说我们无法对其进行补救，我们的大脑总是产生新的联系，在一项针对70岁至80岁人群进行的一项研究中，我们对他们在诸如对数独和填字游戏等智力技能以及诸如走路等体育运动的反应进行了对比，结果令人惊讶的是，与从事大脑训练的人群相比，那些徒步旅行的人变得更聪明，并且大脑特定区域更活跃。</p>
<ul>
<li>
<h3>探索新路径</h3>
</li>
</ul>
<p>提高大脑灵活性的一个非常简单的技巧就是采用新路径或新途径，我们总是倾向于从同一条路去上班和去健身房，但是走另一条路，或者至少穿过一条使我们感到不舒服的街道，或者由于害怕未知而面临的一些挑战，都会刺激我们的大脑发展。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台</div><br>
