---
layout: post
title: 哥伦比亚反政府示威迈入第2周 警射催泪弹镇压 – 法国国际广播电台 - RFI
date: 2021-05-06 12:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%93%A5%E4%BC%A6%E6%AF%94%E4%BA%9A%E5%8F%8D%E6%94%BF%E5%BA%9C%E7%A4%BA%E5%A8%81%E8%BF%88%E5%85%A5%E7%AC%AC2%E5%91%A8-%E8%AD%A6%E5%B0%84%E5%82%AC%E6%B3%AA%E5%BC%B9%E9%95%87%E5%8E%8B
categories: rfi
---

<div>06/05/2021 - 06:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社波哥大5日电）    哥伦比亚全国反政府示威活动今天进入第8天，群众攻击首都波哥大（Bogota）警察局，镇暴警察发射催泪弹，用以压制部分试图闯进国会的示威者。</p><p>    最初号召抗议是为了反对税制改革计画，但示威群众已将诉求扩大，包括要求政府采取行动对抗贫穷和警察暴力，及卫生和教育系统的不平等。</p><p>    群众示威加上议员反对，促使政府撤回税改案，也让财政部长下台。然而，示威引发至少24死，其中半数与警察暴力有关，使得国际组织纷纷出面示警。</p><p>    然而，连日来的抗议活动和道路封锁，已导致主要出口农作物咖啡出货受阻，哥伦比亚中央银行技术主管今天指出，这恐对经济造成影响。（译者：徐睿承/核稿：蔡佳敏）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
