---
layout: post
title: 台湾前国安高官早就叛逃大陆？ 疑携带机密名单与文件
date: 2021-05-07 22:45:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%94%BF%E6%B2%BB/20210507-%E5%8F%B0%E6%B9%BE%E5%89%8D%E5%9B%BD%E5%AE%89%E9%AB%98%E5%AE%98%E6%97%A9%E5%B0%B1%E5%8F%9B%E9%80%83%E5%A4%A7%E9%99%86-%E7%96%91%E6%90%BA%E5%B8%A6%E6%9C%BA%E5%AF%86%E5%90%8D%E5%8D%95%E4%B8%8E%E6%96%87%E4%BB%B6
categories: rfi
---

<div>07/05/2021 - 16:20</div><img src="https://s.rfi.fr/media/display/50d0f2d8-af3f-11eb-9c94-005056bff430/w:310/p:16x9/tanj94.jpg"><div class="t-content__body u-clearfix" >
                    <p>据新头壳报道称，前上校刘冠军在职期间担任台湾国安局出纳组长，负责管理秘密情报活动“奉天”与“当阳”等专案经费，涉嫌利用职务之便侵吞近2亿元。2000年8月，法务部调查局洗钱防制中心调查，认为刘冠军的财产来源极为可疑，准备展开逮捕；但刘冠军疑似用国安局工作护照抢先一步潜逃出境，外界推测其可能潜逃加拿大，但国安最新局证实他逃往大陆。</p><p>国安局近期根据情资，发现刘冠军当年出境即将“奉天”、“当阳”与“明德”等三专案机密文件交给中共，严重危害国安。今年2月再增列“投敌”等罪函送，案经高检署侦处后发布通缉，高检署更强调：投敌状态持续，没有时效消灭问题。“投敌罪”依陆海空军刑法第24条第1项规定，得“处死刑、无期徒刑或十年以上有期徒刑”。</p><p>刘冠军业管的机密专案预算，分别是国安局编列专供元首使用的秘密费用“奉天专案”，及奉天专案项下编列以学术合作支援外围单位的“当阳专案”、对美日外交的“明德专案”。这些机密外交文件，揭露台湾秘密外交专案经费、途径与对象，重创国安与侵害秘密外交人员安全。</p><p>消息没有提及刘冠军在台湾失踪以及叛逃中国大陆时间等进一步消息。</p>
                </div>
            
                                <br>
