---
layout: post
title: 中国修改海上交通安全法 引忧虑
date: 2021-05-01 23:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210501-%E4%B8%AD%E5%9B%BD%E4%BF%AE%E6%94%B9%E6%B5%B7%E4%B8%8A%E4%BA%A4%E9%80%9A%E5%AE%89%E5%85%A8%E6%B3%95-%E5%BC%95%E5%BF%A7%E8%99%91
categories: rfi
---

<div>01/05/2021 - 17:01</div><img src="https://s.rfi.fr/media/display/30ae9214-33eb-11eb-94c4-005056bff430/w:310/p:16x9/nh-1.jpg"><div class="t-content__body u-clearfix" >
                    <p>中国全国人民代表大会官网公告，新修订的“海上交通安全法”将在今年9月1日施行，全文共10章、122条。据中央社报道称，中国修海上交通安全法，学者指扩大灰色冲突地带。</p><p>据新版“海上交通安全法”第53条，中国国务院交通运输主管部门为维护海上交通安全，保护海洋环境，可以会同有关主管部门采取必要措施，防止和制止外国籍船舶在领海的非无害通过。第54条，特定船舶在进出中国领海时，应向中国海事管理机构报告，且须持有有关证书，并接受指令和监督。</p><p>第92条则规定，外国籍船舶可能威胁中国内水、领海安全的，海事管理机构有权责令其离开。外国籍船舶违反中国海上交通安全或者防治船舶污染的法律、行政法规的，海事管理机构可以依法行使“紧追权”。“紧追权”是指，沿海国主管当局有充分理由认为外国船舶违反本国法律规定，因而对其进行追赶直到公海，并加以拿捕，带回本国港口审讯的权利。</p><p>另据中国全国人大宪法和法律委员会发布的关于“中华人民共和国海上交通安全法（修订草案）”审议结果报告，由于“海警法”、“海洋环境保护法”也已使用“管辖海域”表述，因此将“海上交通安全法”中的“沿海水域”修改为“管辖海域”。</p><p>据台湾国防安全研究院军事战略暨产业所所长苏紫云周五接受中央社记者电访时分析，“海上交通安全法”与“海警法”都是中共行政宣示、维护国家主权及发展利益的工具。中共利用法律扩大灰色冲突空间，更让各国忧心这会成为海上冲突的不定时炸弹。苏紫云指出，中共的“管辖海域”是指“中华人民共和国内水、领海、毗连区、专属经济区、大陆架，以及中华人民共和国管辖的其他海域”，定义比“沿海水域”更宽，是官方文书、法律用语的扩大适用。不过中共在南海建造许多人工岛礁，并称周边12海浬皆为领海，形成强制排他性，让中共在各国执行自由航行任务时有执法借口，“是国际比较伤脑筋的部分”。</p>
                </div>
            
                                <br>
