---
layout: post
title: 澳洲因Covid暂时拒本国公民印度返回
date: 2021-05-03 01:15:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%A4%BE%E4%BC%9A/20210502-rfi-%E6%B3%95%E5%B9%BF-%E5%B0%BC%E5%8F%A4%E6%8B%89-inde-coronavirus-%E6%BE%B3%E6%B4%B2%E5%9B%A0covid%E6%9A%82%E6%97%B6%E6%8B%92%E6%9C%AC%E5%9B%BD%E5%85%AC%E6%B0%91%E5%8D%B0%E5%BA%A6%E8%BF%94%E5%9B%9E
categories: rfi
---

<div>02/05/2021 - 18:49</div><img src="https://s.rfi.fr/media/display/28546ec6-a91c-11eb-9dd4-005056bff430/w:310/p:16x9/crematorium-Sarai-Kale-Khan-New-Delhi-inde-covid-avril-2021.jpg"><div class="t-content__body u-clearfix" >
                    <p>据本台RFI法广记者<strong>Grégory Plesse </strong>星期天（2021年5月2日）发自悉尼（<strong><em>Sydney</em></strong>）报道，违反堪培拉政府新规的澳洲公民，最高可被判入狱5年和4万欧元以上的罚款。这就是所有目前被困在印度的澳洲公民试图回国的待遇。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image RFI Archive - l&#039;aéroport de Sydney"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/f4ae3c68-ab06-11eb-9870-005056a9b1a7\/&quot;,&quot;filename&quot;:&quot;000_8R24HA.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/f4ae3c68-ab06-11eb-9870-005056a9b1a7/000_8R24HA.jpg" alt="Image RFI Archive - l&#039;aéroport de Sydney"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >Image d&#039;archive RFI : Covid-19: les Australiens qui arrivent d&#039;Inde encourent une amende et de la prison. Ici, l&#039;aéroport de Sydney. (Photo d&#039;illustration)</span>                <span class="m-figure__caption__credits">AFP - DAVID GRAY / RFI Archive</span>            </figcaption>
            </figure>

        </div><p>澳洲政府认为，这是一种“严厉但有必要的”措施，旨在避免当前所有入境者都必须遵守的隔离机制出现饱和。还有就是要防止那些在印度，企图绕过停飞直航，通过第三国迂回入境的澳大利亚公民。</p><p><strong>一项临时决定</strong></p><p>尽管这一决定只是暂时的，应该在两周后的5月15日解除，但依然造成许多澳洲人道组织的震惊。澳洲人权委员会也对这一在当今世界独一无二的新罪名表示严重不安。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image RFI Archive - australie-nouvelle-zelande-bulle-voyage-ouverture"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/fdb39bba-a0c4-11eb-a484-005056bff430\/&quot;,&quot;filename&quot;:&quot;nouvelle-zelande-australie-bulle-voyage-ouverture.jpg&quot;,&quot;ratio&quot;:&quot;p:4x3&quot;,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/fdb39bba-a0c4-11eb-a484-005056bff430/nouvelle-zelande-australie-bulle-voyage-ouverture.jpg" alt="Image RFI Archive - australie-nouvelle-zelande-bulle-voyage-ouverture"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >Image d&#039;archive RFI : Retrouvailles émues entre familles séparées par la pandémie à l&#039;aéroport de Sydney en provenance de Nouvelle-Zélande, à l&#039;ouverture la «bulle» de voyage entre les deux pays, le 19 avril 2021. (Photo d&#039;illustration)</span>                <span class="m-figure__caption__credits">AP - Rick Rycroft / RFI Archive</span>            </figcaption>
            </figure>

        </div><p>一名前打击歧视专员注意到，尽管美国和欧洲国家的疫情在几个月前绝对不是更佳，但也没有祭出如此暴力的惩罚措施。</p><p>现在有9000多名澳洲公民滞留在印度。</p>
                </div>
