---
layout: post
title: 川普脸书帐号封杀令 监督委员会宣布继续停权 – 法国国际广播电台 - RFI
date: 2021-05-05 22:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%B7%9D%E6%99%AE%E8%84%B8%E4%B9%A6%E5%B8%90%E5%8F%B7%E5%B0%81%E6%9D%80%E4%BB%A4-%E7%9B%91%E7%9D%A3%E5%A7%94%E5%91%98%E4%BC%9A%E5%AE%A3%E5%B8%83%E7%BB%A7%E7%BB%AD%E5%81%9C%E6%9D%83
categories: rfi
---

<div>05/05/2021 - 16:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿5日电）    美国前总统川普（Donald Trump）的脸书等社群网站帐号，在1月6日国会大厦暴力事件之后都被封锁，脸书的监督委员会今天宣布，将继续维持这项封锁令。</p><p>    但监督委员会（Oversight Board）还要求脸书在6 个月内重新审视「无限期停权」的标准，并选择具一致性、且与其他脸书规则相同的标准，依照违反规定的情节重大性给予惩处。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
