---
layout: post
title: 美国代表团访问中东讨论地区问题 沙特与伊朗在巴格达举行会谈
date: 2021-05-02 20:36:03.000000000 +08:00
link: http://chinese.aljazeera.net/news/2021/5/2/%e7%be%8e%e5%9b%bd%e4%bb%a3%e8%a1%a8%e5%9b%a2%e8%ae%bf%e9%97%ae%e4%b8%ad%e4%b8%9c%e8%ae%a8%e8%ae%ba%e5%9c%b0%e5%8c%ba%e9%97%ae%e9%a2%98%e6%b2%99%e7%89%b9%e4%b8%8e%e4%bc%8a%e6%9c%97%e5%9c%a8%e5%b7%b4
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/a3a6f776-a99b-4596-ac68-372e33935e05.jpeg?resize=570%2C380" srcSet="/wp-content/uploads/2021/05/a3a6f776-a99b-4596-ac68-372e33935e05.jpeg?resize=120%2C80 120w, /wp-content/uploads/2021/05/a3a6f776-a99b-4596-ac68-372e33935e05.jpeg?resize=270%2C180 270w, /wp-content/uploads/2021/05/a3a6f776-a99b-4596-ac68-372e33935e05.jpeg?resize=375%2C250 375w, /wp-content/uploads/2021/05/a3a6f776-a99b-4596-ac68-372e33935e05.jpeg?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content"><p>美国宣布，国务院、国防部和国家安全委员会的高级官员代表团周六开始了为期一周的中东之行；《纽约时报》引述伊拉克和伊朗官员的话，沙特阿拉伯和伊朗的高级安全官员上个月开始在巴格达举行秘密会谈。</p>
<p>国务院声明说，美国代表团将访问阿布扎比、安曼、开罗和利雅得，并会见政府高级官员。</p>
<p>声明补充说，代表团将在阿布扎比和安曼讨论区域问题，加强与阿联酋和约旦的战略伙伴关系，然后将与埃及官员在开罗就地区安全、经济合作和人权方面进行讨论。</p>
<p>声明说，在利雅得，代表团将讨论为解决也门冲突而正在进行的外交努力，以及人权问题、沙特为实现经济现代化和多样化的努力以及气候合作。</p>
<h3>沙特阿拉伯和伊朗</h3>
<p>另一方面，《纽约时报》引用伊拉克和伊朗官员的话说，沙特情报部门负责人哈立德·本·阿里·胡迈丹于4月9日在巴格达与伊朗国家安全最高委员会副秘书长赛义德·伊尔瓦尼进行了秘密会谈。</p>
<p>美国报纸报道说，会谈议题是一些有争议的问题，包括也门战争和伊朗支持的伊拉克民兵。</p>
<p>该报说，官员们同意今年五月在巴格达举行更多会谈，很可能是大使级别的会谈。</p>
<p>后来，《纽约时报》表示，沙特政府对沙伊秘密会谈的报告发表了评论。</p>
<p>沙特政府在回应声明中表示，只要伊朗表现出善意并停止其恶意活动，沙特政府将抓住一切机会促进该地区的和平与稳定。声明并未确认或否认美国报纸报道的谈话。</p>
<p>4月18日，英国《金融时报》报道说，沙特阿拉伯和伊朗的高级官员在断绝了4年的外交关系后举行了直接对话，以试图修复关系。但是，沙特官员立即向报纸否认了双方举行会谈的报道。之后，沙特和伊朗表示，此类会谈未经官方确认也可举行。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->通讯社</div><br>
