---
layout: post
title: 中共庆百年 中国又热兴红色旅游
date: 2021-05-08 17:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210508-%E4%B8%AD%E5%85%B1%E5%BA%86%E7%99%BE%E5%B9%B4-%E4%B8%AD%E5%9B%BD%E5%8F%88%E7%83%AD%E5%85%B4%E7%BA%A2%E8%89%B2%E6%97%85%E6%B8%B8
categories: rfi
---

<div>08/05/2021 - 11:11</div><img src="https://s.rfi.fr/media/display/6033a1e6-afdd-11eb-ab8e-005056a964fe/w:310/p:16x9/hsld.jpg"><div class="t-content__body u-clearfix" >
                    <p>中共百年党庆前夕，红色旅游热潮席卷全国。而结合了教育和旅游经济双重目的“红色旅游”迎来新一波热潮，相关宣传铺天盖地。</p><p>据中央社今天引述报道称，4月初，四川启动红色旅游年，发布11条红色旅游精品路线、40个红色旅游经典景点；广州当局则编制“红色文化传承弘扬示范区发展规划”；还有航空公司推出红色旅游订制服务，由专人规划路线；全国各地铁路部门也推出“红色专列”，安排客人穿上红军军装，登上窗花贴满革命故事的专属列车。多个旅游网站也上架大量红色旅游路线，例如“革命摇篮井冈山3天游”。</p><p>中共当局于2004年正式提出红色旅游；官方并于隔年底正式规划实施红色旅游，认为发展红色旅游可加强革命传统教育，增强人民、尤其青少年的爱国情感。过去10多年，红色旅游成为中国特有现象，参加人次从最初的1.4亿人次，增至2019年的14.1亿人次。有中共革命根据地之称、人口17万的井冈山2019年共有1900多万人次游客，旅游收益达人民币160亿元。报道引述分析说，红色文化和产业相结合，既有教育宣传作用，也拉动市场消费需求。</p><p>新冠病毒疫情下，中国旅游业遭受沉重打击，红色旅游也未能幸免，华尔街日报稍早前引述井冈山官员说，当地革命博物馆去年游客数量下降一半以上，跌至89万人次。有分析人士认为，疫情切断海外旅游人潮情况下，中国当局全力鼓励红色旅游，可谓“一石二鸟”，一方面刺激经济，另方面则透过吹捧中共先贤以增强中共领导权威。</p><p>红色旅游近年持续蓬勃发展离不开中共总书记习近平的支持和推动，江西井冈山革命博物馆就展示著习近平讲话的题词，“坚定执著追理想，实事求是闯新路，艰苦奋斗攻难关，依靠群众求胜利”。</p><p>据中央社说，提到红色旅游和红色教育，不能不提中国最大城市上海。上海市委宣传部统计，作为中共的诞生地，全市现存610多个红色遗址和纪念设施。当地官员形容，红色文化已融入城市基因。</p>
                </div>
            
                                <br>
