---
layout: post
title: G7外长会议公报呼吁中国在新疆香港尊重人权
date: 2021-05-06 05:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210505-g7%E5%A4%96%E9%95%BF%E4%BC%9A%E8%AE%AE%E5%85%AC%E6%8A%A5%E5%91%BC%E5%90%81%E4%B8%AD%E5%9B%BD%E5%9C%A8%E6%96%B0%E7%96%86%E9%A6%99%E6%B8%AF%E5%B0%8A%E9%87%8D%E4%BA%BA%E6%9D%83
categories: rfi
---

<div>05/05/2021 - 22:55</div><img src="https://s.rfi.fr/media/display/2517bec6-ade4-11eb-93ed-005056bff430/w:310/p:16x9/2021-05-05T152919Z_157957077_RC2R9N979N35_RTRMADP_3_BRITAIN-G7-FOREIGN.JPG"><div class="t-content__body u-clearfix" >
                    <p>法新社消息，为期三天的七国集团外长会议周一在英国首都伦敦举行。在距G7领导人峰会于一个举行一个月前，此次G7外长会议也标志着经过数月的视频会议以及美国新政府宣称的多边主义之后，各国领导人直接展开面对面会议的开始。</p><p>G7伦敦外长会议在1万2400字的会议公报中指出，对中国侵犯人权状况，特别是新疆维吾尔少数民族以及其他宗教及少数民族团体的人权"极为担忧"。公报并指责中国在香港从根本上侵害了香港民主选举制度。七国外长会议公报呼吁中国尊重人权以及基本自由。</p><p>G7外长会议公报强调，七大工业国将加强集体行动，阻止中国的"强制性经济政策"，并且对抗俄罗斯散播的假讯息。</p><p>公报并指责俄罗斯“大大加强了在乌克兰边界和非法吞并的克里米亚大批部署俄罗斯军事力量”，谴责莫斯科“利用虚假信息等旨在破坏其他国家民主制度的恶意活动”。</p><p>关于伊朗，七国集团欢迎为挽救美国前总统特朗普撤回的2015年核协议而进行的讨论，但七国集团要求德黑兰无条件释放被拘留的英国伊朗双重国籍人士拉特克利夫，他刚刚被判处新的徒刑。 </p><p>另据路透社消息，七国集团外长会议公报称，七国集团"支持台湾有意义地参与世界卫生组织论坛及世界卫生大会。</p><p>G7外长会议公报指出："我们重视台湾海峡和平及稳定的重要性，并且鼓励和平解决两岸问题。"</p><p>论及两岸问题，G7外长会议公报表示："我们重申，我们强烈反对可能升高紧张及破坏区域稳定的任何片面行动。"</p>
                </div>
            
                                <br>
