---
layout: post
title: 美第五舰队在北阿拉伯海查获俄式中式非法武器
date: 2021-05-09 22:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%9B%BD%E9%99%85/20210509-%E7%BE%8E%E7%AC%AC%E4%BA%94%E8%88%B0%E9%98%9F%E5%9C%A8%E5%8C%97%E9%98%BF%E6%8B%89%E4%BC%AF%E6%B5%B7%E6%9F%A5%E8%8E%B7%E4%BF%84%E5%BC%8F%E4%B8%AD%E5%BC%8F%E9%9D%9E%E6%B3%95%E6%AD%A6%E5%99%A8
categories: rfi
---

<div>09/05/2021 - 16:40</div><img src="https://s.rfi.fr/media/display/76ef7994-b0d4-11eb-9dc4-005056a9b1a7/w:310/p:16x9/mdw3.jpeg"><div class="t-content__body u-clearfix" >
                    <p>据法新社今天报道称，美国海军第五舰队（Fifth Fleet）今天表示，美军日前在北阿拉伯海（North Arabian Sea）国际海域一艘无国籍帆船上，查获大批非法的俄罗斯和中国式武器。总部设在巴林的第五舰队表示，美国弹道导弹巡洋舰蒙特瑞号（USS Monterey）在5月6日、7日的两天行动中拦截这艘帆船，并进行例行登船检查，查获大批武器。</p><p>声明表示：「这批武器包括数十枚俄制先进反战车飞弹、数以千计的中国56式自动步枪，以及数百把PKM机枪、狙击步枪和火箭推进榴弹发射器。」</p><p>声明提到，武器现由美方保管，来源与目的地仍在调查中；美方在所有非法货物搬除后评估帆船适航性，并在讯问船员后提供他们食物和水，接着予以释放。</p><p>该报道称，声明并未指明帆船可能的出发地，但提到美国海军在区域内定期巡逻，「阻扰了非法货物的运输，这类货物经常用以资助恐怖主义和违法活动」。</p>
                </div>
            
                                <br>
