---
layout: post
title: G7重点讨论中国后 布林肯转往美俄另一博弈战场━乌克兰 - 要闻解说
date: 2021-05-05 20:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E8%A6%81%E9%97%BB%E8%A7%A3%E8%AF%B4/20210505-g7%E9%87%8D%E7%82%B9%E8%AE%A8%E8%AE%BA%E4%B8%AD%E5%9B%BD%E5%90%8E-%E5%B8%83%E6%9E%97%E8%82%AF%E8%BD%AC%E5%BE%80%E7%BE%8E%E4%BF%84%E5%8F%A6%E4%B8%80%E5%8D%9A%E5%BC%88%E6%88%98%E5%9C%BA%E2%94%81%E4%B9%8C%E5%85%8B%E5%85%B0
categories: rfi
---

<div>05/05/2021 - 14:03</div><img src="https://s.rfi.fr/media/display/b985e974-accd-11eb-84db-005056a9b1a7/w:310/p:16x9/2021-05-03T132219Z_131625042_RC2D8N907PZP_RTRMADP_3_BRITAIN-G7-FOREIGN.JPG"><div class="t-content__body u-clearfix" >
                    <p>G7伦敦外长会议举行时恰逢北约军队撤离阿富汗，若真是如此，那么G7外长会上讨论中俄议题的时长为阿富汗问题的3倍。</p><p>路透社报道则称，在当地时间5月4日举行的会谈中，中俄成为G7外长讨论的主要议题。会谈前，美国国务卿布林肯表示，“我们的目的不是遏制中国或者破坏中国的发展。”</p><p>据了解，4日上午的讨论主要聚焦中国，而下午的主要议题是俄罗斯。今天的焦点则放在抗击新冠疫情，特别是疫苗如何更公平的配发问题。</p><p><strong>日媒：G7联合声明拟将载明支持台湾国际参与</strong></p><p>与此同时，中央社援引日本朝日新闻报导，美国国务院官员表示，G7外长会议联合声明将载明支持台湾国际参与的原因，是因为台湾不仅有权利参与WHO等国际组织，台湾所拥有的防疫经验，可对全世界做出贡献，“排除他们（台湾）参与是自取灭亡”。</p><p>台湾虽然要求以观察员身分参与世界卫生大会（WHA），日本与美国也表态支持，但因中国反对而无法参与。但，预料联合声明将会引起中国反弹。</p><p>该报道也同时援引这名官员说，4日G7外长会议的讨论内容，与中国相关问题是讨论重心；在外长会议必须讨论的多项重大议题中，中国问题是最为重要的议题。各国对中国的人权问题、中国以其经济能力施压各国、在南海频繁的军事活动等，都表达了强烈的疑虑。</p><p><strong>乌克兰成美俄博弈的另一焦点</strong></p><p>继出席G7伦敦外长会议后，美国国务卿将在今天到访基辅，为期2天。据报道，布林肯乌克兰之行旨在展现美国“坚定”支持乌克兰，他将向乌克兰总统泽伦斯基传达美国支持乌克兰在面对俄国持续侵犯下的主权和领土完整性的立场。</p><p>日前，欧洲议会也通过决议称，如果俄罗斯入侵乌克兰，欧盟将切断俄与SWIFT（环球银行金融电信协会）的联系，并立刻停止从俄进口石油和天然气。欧洲议会还呼吁欧盟减少对俄罗斯的能源依赖，停止“北溪-2”项目。据俄国家杜马（议会下院）国际事务委员会主席斯卢茨基认为，这些欧洲国家的举动是追随美国反俄政策的表现。</p><p>此外，美俄关系目前处于冷战后最低谷。4月中旬以来，拜登政府对俄罗斯实施大规模制裁及驱逐外交人员等强硬举措。俄罗斯则坚决展开对等反击。总统普京4月23日还签署了针对外国不友好行为的法令，限制“不友好”国家的外交使团等机构与俄个人签订劳务合同等，美国也在名单之中。</p><p>有分析认为，乌克兰将是美俄博弈的另一焦点。尤其过去半个月来，乌克兰东部局势一度高度紧张。俄乌两国分别指责对方在边境集结军队。美国则多次联合欧洲盟国密集发声支持乌克兰。4月底，俄罗斯宣布结束在俄乌边境及克里米亚地区举行的军事演习，参演部队撤回基地。乌克兰欢迎俄方撤军决定。</p><p>法新社此前报道称，俄罗斯2014年兼并克里米亚半岛后，基辅政府就开始在乌克兰东部的顿内茨克（Donetsk）和卢甘斯克（Lugansk）地区对抗亲俄分离主义分子。</p><p>去年7月确立的停火在今年遭到破坏。自1月起，乌克兰部队与分离主义分子的冲突剧烈升温。这些分离主义分子被外界认为获得俄国政治和军事上的支持，但莫斯科当局否认。乌东冲突至今已夺走逾1万3000人性命。</p><p>大西洋的另一边，美国总统拜登在当地时间5月4日的讲话中表示，他预计将在6月举行的G7首脑峰会期间会见俄罗斯总统普京，他对此次会见表示期望。</p><p>2021年G7峰会将于6月在英国康沃尔郡举行，这将是拜登担任总统后的首次海外访问。</p>
                </div>
            
                                <br>
