---
layout: post
title: 偷渡船加州外海翻覆 3死27伤 – 法国国际广播电台 - RFI
date: 2021-05-03 15:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%81%B7%E6%B8%A1%E8%88%B9%E5%8A%A0%E5%B7%9E%E5%A4%96%E6%B5%B7%E7%BF%BB%E8%A6%86-3%E6%AD%BB27%E4%BC%A4
categories: rfi
---

<div>03/05/2021 - 09:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社洛杉矶2日电）    美国加州圣地牙哥当局表示，一艘过度拥挤的偷渡船今天在加州外海沉没，造成3人死亡，27人伤势不等，送医治疗。</p><p>    美国海关与边境保护局（Customs and Border Protection）公共事务室的史蒂芬生（Jeff Stephenson）表示：「这是一艘偷渡船。边境巡逻队（Border Patrol）人员正在讯问据信为人蛇的男子。」</p><p>    他说：「人蛇集团根本不在乎这些人的死活。他们只在乎赚钱。对他们来说这些人不过是商品罢了。」（译者：李佩珊）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
