---
layout: post
title: 埃及将向法国订购30架阵风战斗机
date: 2021-05-04 05:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B3%95%E5%9B%BD/20210503-%E5%9F%83%E5%8F%8A%E5%B0%86%E5%90%91%E6%B3%95%E5%9B%BD%E8%AE%A2%E8%B4%AD30%E6%9E%B6%E9%98%B5%E9%A3%8E%E6%88%98%E6%96%97%E6%9C%BA
categories: rfi
---

<div>03/05/2021 - 23:17</div><img src="https://s.rfi.fr/media/display/fe4be788-a486-11eb-b027-005056a9b1a7/w:310/p:16x9/AP21034317593810.jpg"><div class="t-content__body u-clearfix" >
                    <p>法新社指出，阵风战斗机的制造商达索（Dassault）目前不想对这一标志着阵风战机再度取得重大商业成功的信息发表评论。</p><p>法国政府消息人士则对法新社表示说：“实际上，正在与埃及进行非常深入的讨论，很快就会有相关的宣布。”</p><p>根据法国调查新闻媒体Disclose的披露，法国和埃及于4月26日签署了一项总额为39.5亿欧元的合同，其中包括30架阵风战斗机以及另外两个合同。</p><p>一个埃及代表团应该于周一在巴黎签署这一协议。</p><p>一位了解此事的消息人士向法新社确认说，有30架战斗机，但他没有指明财务方面的情况。</p><p>法新社指出，此次销售将进一步确认法国阵风战斗机迟到的但却是实实在在的出口成功。在埃及订购后，卡塔尔和印度也订购了阵风战斗机，一月份时，希腊也购买了18架，其中的12架是旧机。</p><p>调查媒体Disclose援引埃及政府的文件说，为购买这些战斗机，埃及获得了法国担保高达85％的贷款。也即是说，万一埃及违约，法国纳税人就要掏腰包了。</p>
                </div>
            
                                <br>
