---
layout: post
title: 长征火箭即将重返大气层 五角大厦：正密切追踪 – 法国国际广播电台 - RFI
date: 2021-05-06 12:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E9%95%BF%E5%BE%81%E7%81%AB%E7%AE%AD%E5%8D%B3%E5%B0%86%E9%87%8D%E8%BF%94%E5%A4%A7%E6%B0%94%E5%B1%82-%E4%BA%94%E8%A7%92%E5%A4%A7%E5%8E%A6-%E6%AD%A3%E5%AF%86%E5%88%87%E8%BF%BD%E8%B8%AA
categories: rfi
---

<div>06/05/2021 - 06:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿5日电）    针对中国上星期发射的长征5号B遥二火箭偏离轨道，近日可能坠落地球一事，美国防部表示正密切追踪火箭方位。</p><p>    长征5号B遥二运载火箭（Long March 5B）4月29日从海南岛发射升空，把名为「天和」、设计给3位太空人当作生活场所的中国天宫太空站核心舱送上预计轨道，但火箭于完成任务后开始偏离，预估在未来几天至几周内重返大气层坠回地表。</p><p>    目前还不清楚长征5号B遥二重返大气层的确切位置。美国国防部表示，美国太空司令部（U.S. Space Command）正在追踪火箭方位，火箭重返大气层的时间点预计将落在5月8日左右。</p><p>    五角大厦表示，「所有碎片都可能会对太空飞行安全与太空领域构成威胁」，又说加州的第18太空控制中队（18th Space Control Squadron）将自5月4日起对火箭方位提供每日最新资讯。</p><p>    白宫表示，美国致力于解决太空碎片泛滥成灾引发的各项风险，希望与国际社会合作，「提升领导力与负责的太空行为」。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
