---
layout: post
title: 长征5B火箭装置将失控坠落地球引发广泛关注 - 要闻解说
date: 2021-05-08 21:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E8%A6%81%E9%97%BB%E8%A7%A3%E8%AF%B4/20210508-%E9%95%BF%E5%BE%815b%E7%81%AB%E7%AE%AD%E8%A3%85%E7%BD%AE%E5%B0%86%E5%A4%B1%E6%8E%A7%E5%9D%A0%E8%90%BD%E5%9C%B0%E7%90%83%E5%BC%95%E5%8F%91%E5%B9%BF%E6%B3%9B%E5%BF%A7%E8%99%91
categories: rfi
---

<div>08/05/2021 - 15:21</div><img src="https://s.rfi.fr/media/display/ec14e82e-af55-11eb-861b-005056bf87d6/w:310/p:16x9/2021-05-05T160400Z_1781140956_RC2S9N96K923_RTRMADP_3_SPACE-EXPLORATION-CHINA-ROCKET.JPG"><div class="t-content__body u-clearfix" >
                    <p>引发不安的火箭残骸是运送核心舱火箭的末级装置。该装置在距离地球300公里的太空飞行多日之后，受地心引力影响，将重新进入大气层。 问题是它重返大气层的轨道完全不受任何控制。国际通行的做法是各国太空机构控制各自发射器脱离太空轨道的轨迹，保证他们坠落在海面。但现实中，还是有不少运载 装置在没有任何控制的状态下，重新进入大气层。运送天和核心舱的长征5号B运载火箭末级装置显然就属于这种情况。该装置长大约30米，重20多吨。这可能是无序重返大气层的最大发射器残骸之一。</p><p>根据美国国防部的最新预测，长征火箭残片进入大气层的时间可能是5月8日国际标准时间23点，也就是巴黎时间9日凌晨1点。但这个估测可以有好几个小时的时间差。</p><p>据专家介绍，这个失去控制的飞行物目前正以每小时两万七千公里的速度在大约170到370公里的高空无序飞行，几乎每一个半小时，即可绕地球一周。它不仅将以高速度进入大气层，而且没有人可以准确预测它重返大气层的时间和地点，因为有太多的因素随时可以影响它的飞行轨迹。法国国家太空研究中心专家Christophe Bonnal向法国RTL电台表示，坠落时间预测误差一分钟，预测坠落地点与实际地点的距离就可能相当于法国国土的长度 ！</p><p><strong>“造成危害的概率极低”</strong></p><p>连日来，长征火箭残骸重返地球轨迹失控的消息在中国之外吵得沸沸扬扬。中国外交部沉默多日后终于在7日表示，火箭末级已经过钝化技术处理，绝大部分器件将会在重新进入大气层的过程中烧蚀销毁，“对航空活动及地面造成危害的概率极低”。</p><p>中国外交部希望安抚各方不安的解释并非没有道理。地球表面70%的区域是海洋，很多其他区域也或是荒漠，或是森林，人口聚集的区域只占全球面积大约3%。因此，长城火箭残骸，像众多其他飞行物残骸一样，坠入海洋的可能性非常高。而且，飞行物大部分器件在进入大气层时会因摩擦产生的高温而融化。估计只有10%的剩余物质会解体成无数大大小小的残片坠落地球。Christophe Bonnal解释说，其实历史上有很多次飞行物重返大气层的事件。到目前为止，还从未发生过太空飞行物残片伤人的事件。欧洲航天局专家Nicolas Bobrinsky也向法新社表示，残骸坠落在有人居住区域的可能性微乎其微。</p><p><strong>可能性不大并不意味着不可能</strong></p><p>美国专门研究太空飞行物残骸的天文物理学专家Jonathan McDowell也认为没必要对长征运载火箭残片失控过于担心。但他也同时指出，让如此多的金属碎片，以数百公里的时速冲击地球的做法不好，中国应当重新思考长征5B火箭的设计，避免这样的问题。美国国防部长奥斯丁也就此暗示中国没有周密设计其火箭发射。他表示，此事件显示，在太空开发过程中必须遵从安全和严密思考的方式，安排行动时应当方方面面都加以考虑。</p><p>事实上，这并不是中国太空发射首次出现残骸失控坠落问题，而且残骸坠落有人居住地区的事件也有发生。2020年，就曾发生长征火箭残片坠落非洲国家科特迪瓦村庄的事件，虽有房屋损坏，但索性没有造成人员伤亡。2018年初，长征3B火箭的残片竟然坠落在广西一个有四百万人居住的区域……这些不速之客即使不造成人员伤亡，也会在坠落过程中，将具有很高毒性的燃料元素散播开来。但中国官方媒体极少报道这类消息。2009年，中国导演张赞波曾制作纪录片“天降”，讲述湖南绥宁县自90年代起数十次成为火箭残骸落点给当地村民带来的困扰。但影片遭到当局封杀。</p>
                </div>
            
                                <br>
