---
layout: post
title: 俄总统蒲亭阅兵 宣示坚定捍卫国家利益 – 法国国际广播电台 - RFI
date: 2021-05-09 19:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BF%84%E6%80%BB%E7%BB%9F%E8%92%B2%E4%BA%AD%E9%98%85%E5%85%B5-%E5%AE%A3%E7%A4%BA%E5%9D%9A%E5%AE%9A%E6%8D%8D%E5%8D%AB%E5%9B%BD%E5%AE%B6%E5%88%A9%E7%9B%8A
categories: rfi
---

<div>09/05/2021 - 13:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社莫斯科9日电）    俄罗斯今天庆祝二战胜利76周年，总统蒲亭（Vladimir Putin）宣示俄国将「坚定」捍卫国家利益，同时谴责「俄罗斯恐惧症」（Russiaphobia）卷土重来。</p><p>    蒲亭今天在莫斯科红场（Red Square ）年度阅兵仪式开场时，对数以万计的军人和老兵发表演说。</p><p>    蒲亭对群众表示：「俄国始终捍卫国际法，与此同时，我们将坚定捍卫我方利益，以确保我国人民的安全。」</p><p>    蒲亭也谴责一些意识形态悄悄卷土重来，他说，「种族与民族至上、反犹太与恐俄症的口号，变得愈来愈尖酸刻薄」。</p><p>    俄罗斯新闻社（RIA Novosti）报导，莫斯科今天的阅兵式将有逾1万2000军方人员、约190件军事硬体装备、76架战斗机和直升机参与。</p><p>    俄国全境数十座城市也在今天举行胜利日（Victory Day）游行。这项活动在1991年苏联解体之后才变成年年举办。</p><p>    在蒲亭掌权的20年间，胜利日逐渐成为展现俄国军力复兴的重要节日。</p><p>    国营民调机构VTsIOM本周一份调查显示，69%俄国人认为胜利日是最重要的节日；1/3受访者告诉VTsIOM他们会参与庆祝活动，1/5受访者说他们会透过电视收看。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
