---
layout: post
title: 江苏南通遭极端灾害天气 致11死102伤
date: 2021-05-02 05:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210501-%E6%B1%9F%E8%8B%8F%E5%8D%97%E9%80%9A%E9%81%AD%E6%9E%81%E7%AB%AF%E7%81%BE%E5%AE%B3%E5%A4%A9%E6%B0%94-%E8%87%B411%E6%AD%BB102%E4%BC%A4
categories: rfi
---

<div>01/05/2021 - 22:49</div><img src="https://s.rfi.fr/media/display/c45ffddc-aabe-11eb-9f1d-005056bf87d6/w:310/p:16x9/WR5OU7EUWRHXZF3FEOXWZ5YG24.png"><div class="t-content__body u-clearfix" >
                    <p>极端灾害天气造成了人员伤亡和财产损失等灾情。南通市市域治理现代化指挥中心及时进入战时指挥状态，相关领导连夜赶赴现场组织抢险救灾。据统计，截至目前，受灾人口3000余人，其中因大树倒伏砸倒房屋、电线杆刮断、狂风卷入河道等原因，造成11人死亡；因灾受伤人口102人，正在组织医疗救治。</p><p> </p><p>因突遇大风，苏海门渔01728倾覆，11名船员落水，2人已成功获救，9人仍在紧张搜救中。受灾严重地区房屋倒损较多，已紧急转移安置3050人；多处电力设施受损，经连夜组织抢修，部分已恢复供电；树木倒伏、围墙倒塌、车辆受损、热水器掉落等情况较多，正在清理清障。目前，社会秩序平稳，生产生活有序。</p>
                </div>
            
                                <br>
