---
layout: post
title: 四川男脑内长满寄生虫     肉不煮熟是祸根
date: 2021-05-03 05:15:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210502-%E5%9B%9B%E5%B7%9D%E7%94%B7%E8%84%91%E5%86%85%E9%95%BF%E6%BB%A1%E5%AF%84%E7%94%9F%E8%99%AB-%E8%82%89%E4%B8%8D%E7%85%AE%E7%86%9F%E6%98%AF%E7%A5%B8%E6%A0%B9
categories: rfi
---

<div>02/05/2021 - 23:02</div><img src="https://s.rfi.fr/media/display/9dff99ce-ab89-11eb-b31a-005056bff430/w:310/p:16x9/161996979825324_P12213123.png"><div class="t-content__body u-clearfix" >
                    <p>根据《红星新闻》报导，小胡头痛前食过几次生鱼片，平时爱食螺蛳及醉虾。他因为头痛症状长达半个月之久，最终在近日到医院求诊，经查发现脑内有3个寄生虫。</p><p> </p><p>张先生常年以来都有食只经风干、未煮熟的牦牛肉干的习惯，导致寄生虫虫卵反复多次进入其体内，最后令脑内长满寄生虫。张先生的头痛症状已长达一个月之久，每次头痛都会服用止痛药，但近期他发现即使加大药量仍未能舒缓症状，于是到医院求诊。</p><p> </p><p>成都三六三医院神经内科主任医师宋晓徵表示，两名患者脑内的是囊虫，是猪肉絛虫的幼虫。猪肉絛虫是一种常见的人体寄生絛虫，当人误食生的或未煮熟的含絛虫虫卵的肉类后，人体胃酸不能杀死虫卵，虫卵便开始在人体消化道内发育，最终随血液循环进入脑部、肝脏等，引起相应疾病。</p><p> </p><p>医师提醒，脑内寄生虫不去除会诱发癫痫、视神经受损等问题，而一般的盐、辣椒、料酒等是无法杀死食物中寄生虫虫卵，因此最根本的办法是拒绝生食肉类、生鱼片、醉虾，彻底煮熟食物，才能避免脑内有寄生虫。</p>
                </div>
            
                                <br>
