---
layout: post
title: 跨性别第一人 纽西兰举重选手可望参加奥运 – 法国国际广播电台 - RFI
date: 2021-05-06 21:15:15.000000000 +08:00
link: http://www.rfi.fr//cn/%E8%B7%A8%E6%80%A7%E5%88%AB%E7%AC%AC%E4%B8%80%E4%BA%BA-%E7%BA%BD%E8%A5%BF%E5%85%B0%E4%B8%BE%E9%87%8D%E9%80%89%E6%89%8B%E5%8F%AF%E6%9C%9B%E5%8F%82%E5%8A%A0%E5%A5%A5%E8%BF%90
categories: rfi
---

<div>06/05/2021 - 15:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社威灵顿6日电）    纽西兰举重选手哈伯德（Laurel Hubbard）即将成为首位在奥运出赛的跨性别运动员，必将再次引爆与跨性别人士相关的运动伦理论辩。</p><p>    43岁的哈伯德生为男儿身，但30多岁时变性成为女人，她即将根据疫情时期实施的新规定参与东京奥运。</p><p>    哈伯德出示睾固酮浓度低于国际奥林匹克委员会（International Olympic Committee）门槛的证明之后，取得女子举重项目参赛资格。</p><p>    哈伯德目标加入纽西兰东京奥运代表队，参加女子87公斤以上级赛事。目前她在女子87公斤以上级排名世界16。</p><p>    哈伯德2018年就已青史留名，当时她参加在黄金海岸（Gold Coast）举行的大英国协运动会（Commonwealth Games），是第一位参赛的跨性别选手。不过她后来因肘伤退赛，还几乎因为伤势断送了运动生涯。</p><p>    纽西兰奥运代表队名单尚未出炉，但官员表示，哈伯德可能已符合简化过的资格标准。受2019冠状病毒疾病（Covid-19）疫情影响，国际举重总会（International Weightlifting Federation）简化了相关标准。</p><p>    纽西兰奥林匹克委员会（New Zealand Olympic Committee）表示：「纽西兰奥林匹克委员会证实，由于国际总会资格系统修订，许多纽西兰举重选手，包括大英国协运动会跨性别运动员哈伯德，可能因此取得国际总会的2020东京奥运出赛名额。」</p><p>    纽西兰奥委会非常支持哈伯德参赛，并说所有获选参加东京奥运的运动员都会得到奥委会支持；但体育界并非都抱持支持态度，哈伯德参加奥运，势必会让跨性别运动员这个棘手议题受到密切关注。（译者：郑诗韵/核稿：陈政一）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
