---
layout: post
title: 多家机构预测非洲经济今年复苏有望 - 聚焦非洲
date: 2021-05-02 17:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E8%81%9A%E7%84%A6%E9%9D%9E%E6%B4%B2/20210502-%E5%A4%9A%E5%AE%B6%E6%9C%BA%E6%9E%84%E9%A2%84%E6%B5%8B%E9%9D%9E%E6%B4%B2%E7%BB%8F%E6%B5%8E%E4%BB%8A%E5%B9%B4%E5%A4%8D%E8%8B%8F%E6%9C%89%E6%9C%9B
categories: rfi
---

<div>02/05/2021 - 11:25</div><img src="https://s.rfi.fr/media/display/c9e1d6d6-8dc7-11eb-9644-005056a98db9/w:310/p:16x9/sunset-4380633_1280.png"><div class="t-content__body u-clearfix" >
                    <p>另据世界银行预测，今年非洲有47个国家的经济将会出现反弹，其中，吉布提和肯尼亚有望成为2021年非洲国家经济增长的冠军，分别达到7.1%和6.9%；其次是突尼斯，将从去年9.1%的负增长恢复到今年5.8%的增长；卢旺达和博茨瓦纳也将从去年的经济衰退中复苏，预计今年经济增长率将达到5.7%。在上述五个国家中，吉布提，肯尼亚和卢旺达三国都属东非国家。</p><p>另据来自非洲财经通讯社的消息，在新冠疫情引发全球经济衰退，绝大多数国家出现经济负增长的大背景下，七个东非国家的GDP只轻微收缩0.3％，其中三个最具活力的经济体在2020年仍实现了增长。 埃塞俄比亚，乌干达和坦桑尼亚的国内生产总值分别增长了6.1％，2.9％和2.5％。预计整个东非今年的平均经济增长应为2.7％。值得一提的是，上述国家都属农业大国。</p><p>正如法国开发署稍早时发布《非洲经济2021》报告中所指出的：虽然人们普遍认为非洲经济十分脆弱，但在此次疫情中，非洲经济却表现出较好的韧性，其独特的经济特色功不可没；例如众多有活力的中小型企业，灵活的就业形式，人口数量爆炸式增长和人口结构年轻化，农业在经济中发挥的重要作用等。这份报告在强调非洲农业的重要性时指出，非洲是世界粮仓，全球60％的可耕地在非洲。农业占非洲大陆GDP的20％。农业是工作的源泉。该大陆的活跃人口几乎有三分之二从事农业。世界上没有任何一个大陆像非洲一样有如此多的人口参与农业生产，在撒哈拉以南非洲，该比例为54%。通常，农业发展到一定程度后，经济增长动能就要转向服务业和工业，但对于非洲来说，农业增长对于消除贫困的效用，是工业增长带动作用的3倍。</p><p>东非拥有3.5亿人口，预计在五十年内人口总数将超过10亿。据联合国粮农组织提供的数据，东非每年新增一千一百万人口。人口的体量对等粮食需求的巨量，对应农业市场拓展前景的无量和挑战。 </p><p>法国驻肯尼亚财政总局农业事务顾问阿布特在接受非洲财经通讯社的采访时表示：“我们所处的地理区域是全球人口暴增区。无论是居民，就业，消费，农业，机会都在成倍增长！ ” </p><p>他透露，东非农业面积约2.73亿公顷，是欧盟的1.6倍。可耕地面积约6,600万公顷，小于欧盟的9900万公顷，但牧场面积几乎是后者的四倍即1.97亿公顷。 中部地区农作物主要是咖啡，茶叶和花卉。北部-南苏丹，埃塞俄比亚主打畜牧业，产品主要出口到中东。在整个东非地区，牛的数量为1.73亿头，欧盟为8000万头，绵羊/山羊达2.86亿头，欧盟为7千八百万头。 东非农牧业体量之大都是欧盟难以企及的，当然，非洲同业生产率也远落后于欧盟。</p><p>东非仍有74％的人口在农村。农业部门生产占国内生产总值的31％；占出口的56％，进口15％。巨大的</p><p>潜力吸引了包括全球种业巨头法国利马格兰集团在内的众多公司投资东非农业。</p><p>值得提及的时，上述提到的东非农业大国正在借助东非共同体酝酿组建东非联邦，目前坦桑尼亚，肯尼亚，乌干达，卢旺达，布隆迪和南苏丹都支持这一倡议，联邦成立后将成为非洲领土面积最大国家，人口仅次于尼日利亚，成为非洲第二人口大国，将使用单一货币，通用非洲本土班图系语言斯瓦希里语。</p>
                </div>
            
                                <br>
