---
layout: post
title: 批拜登敌对政策过时 北韩：铸下大错 – 法国国际广播电台 - RFI
date: 2021-05-02 15:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%89%B9%E6%8B%9C%E7%99%BB%E6%95%8C%E5%AF%B9%E6%94%BF%E7%AD%96%E8%BF%87%E6%97%B6-%E5%8C%97%E9%9F%A9-%E9%93%B8%E4%B8%8B%E5%A4%A7%E9%94%99
categories: rfi
---

<div>02/05/2021 - 09:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社首尔2日电）    北韩官员今天称美国外交「虚假」，对于拜登政府日前表明在与平壤就非核化议题举行会谈持开放态度的说法，北韩同样嗤之以鼻，直批拜登对北韩政策过时，铸下大错。</p><p>    北韩中央通信社（KCNA）今天刊载北韩外交部声明，称美方主张的外交不过是「掩饰敌对行为的华丽外衣」。</p><p>    声明还警告，拜登对北韩的「过时」立场已「铸下大错」。</p><p>    北韩外务省发言人在中央通信社公布的另一篇声明中指控拜登侮辱国家领导人金正恩，还说：「我们已经给美方充足警告：你若犯我，我必犯你。」</p><p>    拜登28日首度以总统身分对国会发表政策演说时，曾表示北韩及伊朗的核子计画构成威胁，美方会透过「外交和严厉威慑力」予以遏止。白宫昨天表示，美方的目标仍是「完全实现朝鲜半岛非核化」。</p><p>    北韩外务省美国事务局长权正根在另一篇声明中提到拜登的演说内容，表示美方将北韩的国防威慑力称为威胁，不但不合逻辑，也是对北韩自卫权的侵犯。（译者：李佩珊/核稿：蔡佳敏）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
