---
layout: post
title: 印度疫情严重可能加剧全球疫苗短缺
date: 2021-05-02 05:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210501-%E5%8D%B0%E5%BA%A6%E7%96%AB%E6%83%85%E4%B8%A5%E9%87%8D%E5%8F%AF%E8%83%BD%E5%8A%A0%E5%89%A7%E5%85%A8%E7%90%83%E7%96%AB%E8%8B%97%E7%9F%AD%E7%BC%BA
categories: rfi
---

<div>01/05/2021 - 22:43</div><img src="https://s.rfi.fr/media/display/e350972a-aabd-11eb-9346-005056bf87d6/w:310/p:16x9/inde-covid-1_6304096.png"><div class="t-content__body u-clearfix" >
                    <p>印度官方周五公布的新增感染人数为38.6452万例，创全球日增数字的新记录。印度这个世界人口第二大国目前正在经历第二波疫情。由于新冠病毒发生变异，新一波疫情的烈度远高于去年发生的第一波疫情。</p><p> </p><p>印度拥有世界最大的疫苗生产产能，但受困于原材料不足和疫情的恶化，这种强大的产能尚未充分发挥出来。即便是拥有疫苗储备的地方，经济发展不平衡使各地获取疫苗的能力出现很大差异。</p><p>目前，印度私人医院注射疫苗都要收费，所以，印度有钱接种疫苗的人只占人口的很少一部分。各邦只能够负担起给6亿名45岁以下的成年人接种疫苗，联邦政府则负责3亿名医护人员和45岁以上者的疫苗接种所需费用。</p><p>截至到目前，政府疫苗都是免费的，私人医院获准收费，每注射一剂收费大约3美元。但是，这种做法正在开始改变。按照新规，邦政府和私人医院收取的费用多少要由疫苗生产厂家决定。这可能会造成一些邦因疫苗价格过高而无力承担疫苗接种的费用，而私人医院的疫苗接种费用也会随之增加。</p><p>印度卫生政策专家拉哈里亚（Chandrakant Lahariya）表示，由于邦政府和私人医院同在一个市场上竞争疫苗，邦政府出的钱少，疫苗制造商如果把疫苗卖给私人医院就可以得到更多的利润。结果，成本的上涨就给转嫁给了接种疫苗的人，加剧了不平等现象。</p><p>美联社引用拉哈里亚的话说，“两个不同的政府支付两个价格，这没有道理。”</p><p>价格问题可能会加深不平等现象。目前印度已经完成疫苗接种的人口不到2%。只打过一剂疫苗的人口大约为10%。每天平均注射次数从4月初的360万剂下降到目前的不到250万剂。</p><p>印度疫苗短缺并不只是印度一国的问题。印度承诺要遵守联合国疫苗分享计划承担起为其它国家提供疫苗的任务。</p><p>印度疫苗厂商每月预计生产7000万剂疫苗。印度联邦政府购买其中的一半给各邦，另一半可以卖给私人医院，但疫苗价格由厂家决定。</p><p>联邦政府的采购价是两美元一剂，而印度两个主要制造商的售价差别很大。印度血清研究所卖给各邦的价格是4美元一剂，卖给私人医院的价格是8美元一剂。而另一家制造商巴拉特生物技术公司卖给邦政府的疫苗价格接近5.5美元一剂，卖给私人医院的价格超过了16美元一剂。</p><p>专家们认为，印度的新冠病毒疫情急剧恶化，对疫苗的需求也更加急迫，这势必会影响到印度给世界其它国家提供疫苗的数量，从而导致全球疫苗短缺问题更加严重。</p>
                </div>
            
                                <br>
