---
layout: post
title: 中国五一假期首日旅客破5000万  年增111.5%
date: 2021-05-02 05:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210501-%E4%B8%AD%E5%9B%BD%E4%BA%94%E4%B8%80%E5%81%87%E6%9C%9F%E9%A6%96%E6%97%A5%E6%97%85%E5%AE%A2%E7%A0%B45000%E4%B8%87-%E5%B9%B4%E5%A2%9E111-5
categories: rfi
---

<div>01/05/2021 - 22:25</div><img src="https://s.rfi.fr/media/display/544d9926-aabb-11eb-b464-005056bf87d6/w:310/p:16x9/DATA_ART_27811756.png"><div class="t-content__body u-clearfix" >
                    <p>受新冠疫情影响，中国官方今年春节倡导“就地过年”，许多民众并未返乡，因此连休5天的五一假期除涌现“报复性旅游潮”，也有不少游子回家团圆，使出行人潮大增。</p><p> </p><p>《经济参考报》1日引述中国交通运输部报导，五一假期首日，预估中国铁路、公路、水路和民航发送旅客总量达5637.3万人次，比2020年同期成长了111.5%。</p><p> </p><p>其中预计铁路发送旅客1738.3万人次，公路3600万人次，水路110万人次，民航189万人次。</p><p> </p><p>而4月30日旅客总数则有4610.8万人次，也年增103.3%，</p><p> </p><p>中国交通运输部预计，五一假期客运量将达2.65亿人次。</p>
                </div>
            
                                <br>
