---
layout: post
title: 人民日报“百句党史名言” 毛泽东、习近平各占30句
date: 2021-05-03 05:15:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210502-%E4%BA%BA%E6%B0%91%E6%97%A5%E6%8A%A5-%E7%99%BE%E5%8F%A5%E5%85%9A%E5%8F%B2%E5%90%8D%E8%A8%80-%E6%AF%9B%E6%B3%BD%E4%B8%9C-%E4%B9%A0%E8%BF%91%E5%B9%B3%E5%90%84%E5%8D%A030%E5%8F%A5
categories: rfi
---

<div>02/05/2021 - 22:54</div><img src="https://s.rfi.fr/media/display/8aee699c-ab88-11eb-b405-005056a964fe/w:310/p:16x9/161997791722263_P12211085.png"><div class="t-content__body u-clearfix" >
                    <p>自由亚洲电台报导，中共建党百句名言，中共建政前有23句，建政后有77句。</p><p> </p><p>百句名言中，邓小平14句，江泽民和胡锦涛各十句；其余六句则出自已故总理周恩来（2句）、已故国家主席刘少奇、已故中共中央委员会主席朱德、已故副总理陈云和已故国防部长彭德怀，每人各一句。</p><p>第一句是毛泽东1925年在“中国社会各阶级的分析”提出的“谁是我们的敌人？谁是我们的朋友？这个问题是革命的首要问题”，最后一句是习近平今年在中共党史学习教育动员大会讲话中提出的“江山就是人民，人民就是江山”。</p><p>毛泽东上榜名言还包括“枪杆子裡面出政权”、“星星之火，可以燎原”、“我们中华民族有同自己的敌人血战到底的气概”、“一切反动派都是纸老虎”、“中国人从此站立起来了”、“在战略上要藐视敌人，在战术上要重视敌人”等。</p><p>值得注意的是，毛泽东在“别了，司徒雷登”一文中的“中国人死都不怕，还怕困难吗？”也上榜。这句话的全文是“多少一点困难怕什么。封锁吧，封锁十年八年，中国的一切问题都解决了。中国人死都不怕，还怕困难吗？”</p><p>分析认为，“别了，司徒雷登”是毛泽东于1949年8月18日在官媒新华社发表的文章，文中抨击“美国政府扶持支持中国国民党发动内战的政策”，司徒雷登（John Leighton Stuart）是中华民国政府迁台前最后一任美国驻华大使。分析认为，现今中美关系紧张、西方围堵中国，重提这句话意有所指。</p>
                </div>
            
                                <br>
