---
layout: post
title: 在美国，亚裔人成了新冠疫情的替罪羊，频遭暴力攻击 - 法国世界报
date: 2021-05-08 06:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E6%B3%95%E5%9B%BD%E4%B8%96%E7%95%8C%E6%8A%A5/20210507-%E5%9C%A8%E7%BE%8E%E5%9B%BD%EF%BC%8C%E4%BA%9A%E8%A3%94%E4%BA%BA%E6%88%90%E4%BA%86%E6%96%B0%E5%86%A0%E7%96%AB%E6%83%85%E7%9A%84%E6%9B%BF%E7%BD%AA%E7%BE%8A%EF%BC%8C%E9%A2%91%E9%81%AD%E6%9A%B4%E5%8A%9B%E6%94%BB%E5%87%BB
categories: rfi
---

<div>08/05/2021 - 00:38</div><img src="https://s.rfi.fr/media/display/78520942-1160-11ea-ba64-005056a99247/w:310/p:16x9/fa_guo_shi_jie_bao_wb161923-rfi-cn-20150123_cartouche.jpg"><div class="t-content__body u-clearfix" >
                    <p>文章描写了亚裔人士在纽约曼哈顿、在旧金山等地遭遇的暴力，文章还写道，自2020年3月以来，在美国，亚裔人就成了新冠疫情的替罪羊，根据皮尤研究中心的一份民调，20%的美国亚裔人认为，亚裔人遭遇的暴力上升的直接责任人是特朗普，因为他经常使用“中国病毒”这个词。</p><p><strong>中国援助印度，但不信任感仍然在两国间存在</strong></p><p>在周五的世界报网站上，有一篇署名勒梅特的文章，写的是，在印度新冠疫情多日接连创纪录的情况下，中国给印度送去了氧气制造机等援助。相关的文章表示，中国援助印度，然而，不信任感仍然在两国之间存在。中国和印度这两个亚洲巨人之间的竞争是如此激烈，以致于，中国在频频对印度表现出团结精神的同时，又利用印度当前的危机来凸显中国发展模式的“优越性”，并趁机推动自己在各领域的优势。</p><p><strong>中国要通过岛国基里巴斯来立足于太平洋中部</strong></p><p>在周五的法国世界报上，还有一篇和中国有关的文章，介绍中国要通过岛国基里巴斯，从而立足于太平洋中部。</p><p>这篇由娜塔莉·吉伯特（Nathalie Guibert）撰写的文章指出，在全球范围内寻找落脚点的北京当局，将要修复坎顿岛（Kanton Island）上的一条原美军跑道。</p><p>文章写道，坎顿岛是广阔的南太平洋上的一个非常小的岛屿，但由于其地理位置，坎顿岛具有战略意义。坎顿岛位于夏威夷和澳大利亚之间，离夏威夷的距离和离澳大利亚的距离几乎差不多远，是美国空军熟知的一个地方，1942到1943年之间，美国空军占领了坎顿岛，以便打击在附近岛屿上的日本人。可是，据路透社5月5日的报道，坎顿岛将很快成为中国的基地。</p><p>坎顿这个小岛上没有淡水，也几乎没有人居住，它是有着12万居民的基里巴斯小国的一个岛屿。自2006年以来，它属于一个保护区的一部分。但中国的计划是要在那里修建设施并修复这个岛上的宝贵的2公里长的跑道。这个跑道是由泛美航空公司为满足其长途飞机的加油而修建的，在1960年代被废弃。</p><p>在地球上这个美国烙印明显的地区，中国的计划引发回响，因为这是北京通过投资和信贷而对太平洋国家增强影响力的一部分。</p><p>不过，不论是路透社，还是世界报都没有能够从基里巴斯当局获得官方的确认。</p><p>世界报上的相关文章还表示，中国在基里巴斯的项目，还包括一个集装箱港口码头。拥有广阔专属经济区和重要海洋资源的基里巴斯于2019年底转向中国，加入了习近平的“一路一带”倡议。所罗门群岛和基里巴斯一样。在更南部的瓦努阿图岛国，是否修建能停靠中国军舰的码头，仍存在争议，目前还悬在那里。</p><p>其他的太平洋岛国如马绍尔群岛、图瓦卢、瑙鲁、帕劳等国，这些国家目前还在与台湾保持着外交和经济关系。帕劳总统萨兰格尔·惠普斯（Surangel Whipps）是在选举中打败了亲北京的候选人而当选总统的，帕劳总统4月初时说，他只支持台湾。帕劳总统惠普斯还呼吁美国在帕劳设立军事基地。</p><p>自1990年代末以来，为了维护其经济自主性，中国已经在世界范围内部分或全部购买了数十个港口或沿海基地。东南亚是中国的优先重点，太平洋则是中国的一个长远愿景。但是中国在太平洋的进展已经引起人们的担忧，主要是因为这些设施都具有商业和军事双重功能。</p>
                </div>
            
                                <br>
