---
layout: post
title: 福山谈论特朗普主义与美国内部分裂：从社会至政党
date: 2021-05-04 04:36:05.000000000 +08:00
link: http://chinese.aljazeera.net/united-states/2021/2/4/%e7%a6%8f%e5%b1%b1%e8%b0%88%e8%ae%ba%e7%89%b9%e6%9c%97%e6%99%ae%e4%b8%bb%e4%b9%89%e4%b8%8e%e7%be%8e%e5%9b%bd%e5%86%85%e9%83%a8%e5%88%86%e8%a3%82%e4%bb%8e%e7%a4%be%e4%bc%9a%e8%87%b3%e6%94%bf
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/02/الرتمبية-رئيسية-11233.jpg?resize=570%2C380" srcSet="/wp-content/uploads/2021/02/الرتمبية-رئيسية-11233.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/02/الرتمبية-رئيسية-11233.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/02/الرتمبية-رئيسية-11233.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/02/الرتمبية-رئيسية-11233.jpg?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content"><p>斯坦福大学政治学教授、学者弗朗西斯·福山谈到了美国政治体制改革的困难。福山认为，造成这种困难的原因有很多，其中第一个原因在于精英阶层对政治舞台根深蒂固的把控。这些精英得益于当前的选举制度形式，并阻止对其进行改革，而第二个原因在于是美国在种族、社会阶层等各方面存在的分裂，即使是在同一政党内部也是如此，内部冲突因此产生，并阻碍了敌对群体之间的和解。</p>
<h3>译文摘录</h3>
<p>在2014年的一期《外交事务》中，我对美国的政治衰退表示了不满，因为治理机构越来越多地受到干扰。我在这篇文章中写道：“思想的停滞与政治参与者根深蒂固的力量结合在一起，共同阻止了这些机构的改革。而且，如果政治体制没有受到重大的冲击，就无法保证情况会出现很大的变化。”</p>
<p>在接下来的几年中，伯尼·桑德斯和唐纳德·特朗普的崛起，似乎就可以算是这种类型的冲击。当我们回顾2016年美国总统大选期间出现的政治退化问题时，让我感到鼓舞的是，“处于政治两端的选民们已经达成了共识，以反对那些只关心自身利益并希望借助外来激进分子进行彻底清洗的腐败机构。尽管如此，我还是发出警告称，“那些不断散布迷信传说的民粹主义入侵者几乎是毫无用处的，如果他们得到追随，他们只会阻碍发展并加重危机和泥潭，而不是改善当前的局面。”</p>
<p><img class="aligncenter size-fantasia-770 wp-image-170320" src="https://chinese.aljazeera.net/wp-content/uploads/2021/02/صورة-ميدان-2021-01-26T140443.532.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>事实上，美国人却接受了这些迷信传说，或者至少说其中一部分人接受了，而且这部分人的数量足以将特朗普送入白宫。的确，糟糕的形势进一步恶化，而且这种恶化的过程还在以惊人的速度持续，并以当时难以预料的规模持续发展，还通过类似1月6日袭击美国国会大厦的事件而达到顶峰。事实上，这项反叛行动还是在美国总统的鼓励之下进行的。</p>
<p>与此同时，导致这场危机的基本条件仍然保持不变，美国政府仍然被强大的精英集团掌握在手中，这些精英集团为了自身的利益而歪曲政治并破坏整个系统的合法性，而且这个系统仍然极为僵化，无法进行自我改革。但是，这些情况却以意想不到的方式发生了变化。两种新出现的现象使得局势更加恶化：新的通信技术促进了民主协商的共同现实基础的消失，而且“蓝色阵营”和“红色阵营”之间曾经的政治分歧，已经转变为文化认同上的分歧。</p>
<h3>分歧程度超出预期</h3>
<p>从理论上而言，精英阶层对美国政府的掌控可能就是团结的源泉，因为它激怒了政治分歧的双方。但不幸的是，这种敌意的目标在不同的情况下也是不同的。对于左翼势力而言，相关的精英阶层是大型公司和资本主义利益集团，例如石油公司、华尔街银行、对冲基金、亿万富翁以及共和党的主要资助者，这些人员组成了游说集团，其金钱保护他们的利益免遭任何形式的民主问责。而对右翼势力而言，精英是来自好莱坞、主流媒体、大学和大型企业的文化力量调解人，他们拥护“复兴主义”的世俗意识形态，这种意识形态与美国保守派坚持的传统基督教价值观相抵触。即使是在人们认为这两种观点可能重叠的领域内——例如对科技巨头力量日益增长的担忧——双方担忧的问题也是不一致的。美国的蓝色阵营指责Twitter和Facebook宣传阴谋论并鼓吹特朗普主义，而红色阵营则认为这些公司对保守派不可救药地抱有偏见。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-170322" src="https://chinese.aljazeera.net/wp-content/uploads/2021/02/صورة-ميدان-2021-01-26T142721.614.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>美国这套统治制度的僵化，已经变得更加明显和棘手，但是它也拥有一定的优势。从总体来说，宪法制衡已经取得成功，尽管特朗普为削弱美国的制度基础付出了不懈的努力，但是各地法院、官僚机构和官员仍能阻止他采取更为糟糕的行动。其中最明显的例子，就是特朗普企图推翻2020年总统大选结果的尝试。尽管大多数法官是由特朗普任命的，但是他们所代表的司法系统却并未容忍特朗普在法庭上提起的数十起不合逻辑的司法诉讼，此外，包括佐治亚州的州务卿布拉德·拉文斯伯格以及负责该州选举的其他官员在内的共和党官员，他们都坚决反对总统，并无视总统向他们施加的要求推翻选举结果的压力。</p>
<p>但是，限制特朗普的这些规则本身，也将在未来限制任何希望改革这套系统的基本缺陷的努力。其中最重要的一项制度缺陷，就是共和党人由于选举机构和参议院而拥有的至关重要的优势，尽管他们在国家和州一级赢得的选票较少，但是他们却能因拥有这项优势而掌握政权。但是，对美国宪法的变更——例如废除选举人团，却根本无法被提上讨论的议程，因为在通过和批准宪法修正案上存在巨大的障碍。参议院内大多数民主党人在诸如部长任命等普通问题上取消了共和党的否决权，但是较大的改革问题——例如向哥伦比亚特区授予州的地位，或是通过新的投票权法案以应对共和党剥夺权力的企图——仍将受到共和党人的阻挠。当选总统乔·拜登需要运气和技巧以推动一些相对较小的立法，例如新的经济刺激计划和基础设施开支。在众议院民主党人最近提出的一揽子改革方案中，大多数计划仍然很难实现结构性的变革或预想中的转变。</p>
<h3>从政党到教派</h3>
<p>正如我在2016年文章中指出的那样，美国政策的根本缺陷是，美国的制衡机构与政治两极分化相互作用，从而导致僵局和永久党派内斗状态。此后，这种两极分化的深度和严重性不断增加，其中一个推动因素就是科技，科技削弱了主流媒体或政府本身等机构的能力，从而影响了公众信仰。昆尼皮亚克大学最近进行的一项民意调查结果显示，如今，有77％的共和党人相信2020年美国大选存在欺诈行为。一直有人在谈论右翼威权主义趋势在增加，这当然适用于特朗普及其许多支持者。但仍有数以千万计的人投票支持特朗普，并继续支持他，这并不是因为他们不喜欢民主想法，而是因为在他们心中，他们是在通过抵制窃取总统大选的民主党而捍卫民主。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-170324" src="https://chinese.aljazeera.net/wp-content/uploads/2021/02/صورة-ميدان-2021-01-26T151056.026.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>解决这个由科技驱动的问题将是未来一段时间内的最大挑战之一。 在特朗普支持者1月6日围攻国会大厦之后，推特和Facebook封禁特朗普账号，表现不错，这个决定可以作为应对短期国家紧急情况的相应措施，而煽动暴力不同于行使受保护的言论自由。但是，从长远来看，私有公司做出此类依赖公众的决策是不合法的。</p>
<p>实际上，国家首先允许这些平台变得强大是一个致命的错误。我和我的合著者最近在《外交事务》中提出的一种解决方案是，加强具有竞争力的“中间件”公司，使这些平台将审核内容的任务外包给这些“中间件”公司，从而降低平台影响力，并允许用户更好地控制他们查看的信息。这不会消除阴谋论，但会降低平台放大边缘化声音的能力，并削弱平台让不满用户保持沉默的能力。</p>
<p>对特朗普施加限制的规则还将限制未来改革体制的任何努力，加剧国家政治两极化的第二个事态发展——无法估计其影响力——是，从对政治问题的辩论转向对身份认同的斗争。在1990年代，两极分化才刚刚开始，美国（蓝州与红州）在税率、医疗保险、堕胎、武器和在国外使用武力等问题上存在意见分歧。这些问题并没有消失，但已被根据血统、种族，性别和其他广泛社会特征确定的固定群体身份和成员资格问题所取代，政党接管了政治部落。</p>
<p>在共和党中，部落主义的兴起更为明显，特朗普很容易说服共和党及其选民放弃一些基本原则，例如对自由贸易的信仰，对全球民主的支持以及对独裁政权的敌视。随着特朗普自我放纵加深，党内个人主义趋势也随之加剧。在特朗普担任总统期间，衡量共和党人的标准就是对特朗普的忠诚度，如果对特朗普所言或所为提出任何批评，那么就是背离对他的忠诚，将被排除在外，这最终导致共和党拒绝在2020年共和党全国代表大会上提供一个平台（共和党平台是一个表明该政党对许多问题所持立场的一个场所），相反，其选择只是确认将支持特朗普所想。因此，佩戴口罩和认真对待新冠大流行的简单举动已成为党派间的尖锐问题。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-170326" src="https://chinese.aljazeera.net/wp-content/uploads/2021/02/صورة-ميدان-2021-01-26T151954.066-1.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>所有这些都是基于2016年之后出现的关于社会、地理和人口的明显鸿沟。正如政治学家乔纳森·罗丹（Jonathan Rodin）所解释的那样，支持和反对特朗普情绪的最大指标是人口密度。美国分为蓝色城市和郊区以及红色地区和农村地区，反映了价值观之间的巨大文化鸿沟，这种分裂在美国以外的许多国家都屡见不鲜。</p>
<p>政党已经接管了政治部落，但现在无法通过结构性因素充分解释当前发生的情况。 美国国家公共电台(NPR)和益普索(Ipsos)去年秋天进行了一项民意调查，结果发现近四分之一共和党人认为针对阴谋论组织“匿名者Q”（QAnon）的丑闻指控是真实的，这个组织是“一群信奉恶魔的政治精英，恋童癖，并试图控制我们的政治和媒体”。共和党不再是一个基于思想或政策的政党，而是更接近为一个教派。</p>
<p>部落主义也存在于左翼，但在某种程度上没有那么明显。左翼政治身份诞生于1960年代和1970年代的社会运动之后，这是在反对基于血统、种族、性别或性取向歧视基础之上发展而来，对于部分左翼人士而言，他们要求在群体中获得认可和积极肯定。但总体而言，美国蓝州比红州更加多样化，拜登担任总统期间将见证民主党内部各派之间在这些问题上的巨大分歧，而特朗普领导下的共和党人从未发生过这样的事情。</p>
<h3>白宫的分裂</h3>
<p><img class="aligncenter size-fantasia-770 wp-image-170328" src="https://chinese.aljazeera.net/wp-content/uploads/2021/02/صورة-ميدان-2021-01-26T152408.125.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>所有人都在质疑美国在拜登就职总统之后将何去何从，但主要的不确定因素是共和党内部将发生什么，特朗普及其追随者猛烈围攻国会大厦的举动已走得太远，这使得许多共和党人终于与之分离。从政治层面来讲，特朗普担任总统并没有使共和党处于强势地位，因为共和党已从2017年领导国会两院和参议院状态，变为如今不再控制任何机构的局面，但对特朗普的个人崇拜已占据了共和党的主导思想，以至于转向暴力可能都不会阻止人民。可以想象，前主要共和党人会缓慢而稳定地恢复权力，他们正在应对失去权力的现实，以及扩大政党联盟以赢得未来大选的需要。除此之外，特朗普通过将自己描述为为国家牺牲一切的烈士来保持对共和党的控制。一方面，可以想象特朗普及其强硬派支持者变成了秘密恐怖主义者，他们利用暴力来回应他们所谓的拜登非法政权。</p>
<p>所发生的这一切最终将在未来几年给全球民主带来可怕后果，特朗普已经给独裁者献上了美国大礼，即内部分裂且忙于应对与其民主原则冲突局面的美国，拜登赢得了白宫，而且民主党在国会中占据多数席位，但这不足以让美国重新获得国际地位，必须摒弃特朗普主义，暴露根源，就像1950年代的麦卡锡主义。在国家机构周围设置规范壁垒的精英们必须掌握其主导，重新建立自己的道德权威，他们的挑战程度将决定美国机构的命运，更重要的是，这将决定美国人民的命运。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->电子网站</div>
