---
layout: post
title: 公鹿连两战击败篮网 连5季闯进季后赛 – 法国国际广播电台 - RFI
date: 2021-05-05 15:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%85%AC%E9%B9%BF%E8%BF%9E%E4%B8%A4%E6%88%98%E5%87%BB%E8%B4%A5%E7%AF%AE%E7%BD%91-%E8%BF%9E5%E5%AD%A3%E9%97%AF%E8%BF%9B%E5%AD%A3%E5%90%8E%E8%B5%9B
categories: rfi
---

<div>05/05/2021 - 09:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社密尔瓦基4日电）    「字母哥」安特托昆博今天独得36分，让美国职篮NBA密尔瓦基公鹿124比118击败布鲁克林篮网，连两场对战都获胜，连5季闯进季后赛。</p><p>公鹿2日主场在安特托昆博（Giannis Antetokounmpo）轰下49分带领下，以117比114险胜篮网，今天他们又靠安特托昆博拿出单场36分的强势演出，在第4节逆转获胜。</p><p>这场东区双雄正面交锋的重量级好戏打来毫无冷场，东区排名第3的公鹿首节仅以34比33领先东区第2的篮网。上半场结束时，公鹿也只以66比58领先8分。下半场开打后，篮网在第3节打出36比26攻势，让公鹿在第4 节开打前反以92比94落后2分，末节公鹿一度97比103落后，但他们此时打出一波18比1的猛烈攻势翻转战局，并因此得以连5年闯进季后赛。</p><p>公鹿今天赢球，战绩提升到41胜24败，位居东区第3，但确定能闯进季后赛。先前已取得季后赛门票的篮网，今天输球后的战绩变成43胜23败，仍居东区第2，目前两队间剩下1.5场胜差。</p><p>安特托昆博今天有36分12篮板的双十成绩；密道顿（Khris Middleton）、哈勒戴（Jrue Holiday）都为公鹿贡献23分；从板凳出发的福布斯（Bryn Forbes）攻下14分；迪文森索（Donte DiVincenzo）有10分15篮板的双十表现。</p><p>篮网的厄文（Kyrie Irving）、杜兰特（Kevin Durant）分别攻下38分、32分；哈里斯（Joe Harris）进帐12分；葛林（Jeff Green）和替补的詹姆斯（Mike James）都获10分。</p><p>篮网三巨头之一的哈登（James Harden），此役因腿筋伤势持续缺阵。</p><p></p><p></p>
            <p class="t-copyright">© 2021 AFP</p>        </div>
