---
layout: post
title: 欧盟称不寻求升级与中国的紧张关系
date: 2021-05-07 23:15:08.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210507-%E6%AC%A7%E7%9B%9F%E7%A7%B0%E4%B8%8D%E5%AF%BB%E6%B1%82%E5%8D%87%E7%BA%A7%E4%B8%8E%E4%B8%AD%E5%9B%BD%E7%9A%84%E7%B4%A7%E5%BC%A0%E5%85%B3%E7%B3%BB
categories: rfi
---

<div>07/05/2021 - 16:55</div><img src="https://s.rfi.fr/media/display/450aede4-0e43-11ea-bea6-005056a9aa4d/w:310/p:16x9/zou.png"><div class="t-content__body u-clearfix" >
                    <p>欧盟称不寻求升级与中国的紧张关系，投资协定的情况没那么严重。据路透社今天引述欧盟驻华代表团团长郁白(Nicolas Chapuis)周五表示，“我们不是在寻求…升级，但没有什么能阻止欧盟说出它想说的话。”</p><p>欧盟执委会暂停推动中欧投资协定获批的努力，意识到该协定将难以得到欧洲议会的支持，部分欧洲议会议员被中国制裁。</p><p>但据郁白在接受记者采访时说，协定的前景并没有那么暗淡。据郁白称，“情况没有一些人想象的那么严重。我们仍在与中国商务部进行密切合作。”</p><p>据路透社说，郁白发言后中国外交部副部长秦刚在欧盟招待会上表示，双方应该致力于推动投资协定的早日实施。</p>
                </div>
            
                                <br>
