---
layout: post
title: 萨赫勒遇害三欧洲人遗体运抵西班牙
date: 2021-05-01 00:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%AC%A7%E6%B4%B2/20210430-rfi-%E6%B3%95%E5%B9%BF-%E5%B0%BC%E5%8F%A4%E6%8B%89-sahel-europe-%E8%90%A8%E8%B5%AB%E5%8B%92%E9%81%87%E5%AE%B3%E4%B8%89%E6%AC%A7%E6%B4%B2%E4%BA%BA%E9%81%97%E4%BD%93%E8%BF%90%E6%8A%B5%E8%A5%BF%E7%8F%AD%E7%89%99
categories: rfi
---

<div>30/04/2021 - 18:07</div><img src="https://s.rfi.fr/media/display/1e05c7ca-a9a9-11eb-afd1-005056a964fe/w:310/p:16x9/2ac4af9b0f5c0a6808631ed337c8762001614cb6.jpg"><div class="t-content__body u-clearfix" >
                    <p>本周一4月26日晚在非洲萨赫勒国家布基纳法索遭圣战者劫持杀害的三位欧洲公民中，有两人是西班牙记者和一人是爱尔兰动物保护主义者。布基纳法索的官方声明说，在三位欧洲人遭劫持后数小时，他们的尸体被发现于靠近东部边境的Pama森林区。</p><p>据本台RFI记者Yaya Boudani发自瓦加杜古（Ouagadougou）报道，当地时间2021年4月30日周五凌晨2点40分，西班牙空军的一架空客Airbus-310飞机从瓦加杜古国际机场升空。机上运了三具装有周一在布基纳法索遭杀害的欧洲人遗体的棺材。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image RFI Archive - Quatre pays européens réaffirment le maintien de leur aide sécuritaire au Sahel"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/88723242-a986-11eb-bab3-005056a964fe\/&quot;,&quot;filename&quot;:&quot;DEPOUILLES.JPG&quot;,&quot;ratio&quot;:&quot;p:4x3&quot;,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/88723242-a986-11eb-bab3-005056a964fe/DEPOUILLES.JPG" alt="Image RFI Archive - Quatre pays européens réaffirment le maintien de leur aide sécuritaire au Sahel"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >Image d&#039;archive RFI : Les trois cercueils des Occidentaux tués dans la région de l’est du Burkina Faso avant leur départ pour l&#039;Espagne, le 30 avril 2021.</span>                <span class="m-figure__caption__credits">© RFI /Yaya Boudani 法广图片</span>            </figcaption>
            </figure>

        </div><p>每具棺材上都标注了遇害者的姓名。最先送上飞机的是爱尔兰公民罗莉·杨格（Rory Young），接着是两名西班牙记者的遗体。整个过程都在布基纳法索和西班牙两国当局的监督下，直到飞机启航。</p><p>布基纳法索的官方代表有一名军官和多名外交官，包括驻欧盟大使。西班牙方面则有领事和副领事到场。在整个交接过程期间，没有任何一名官员同意接受采访。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="法广存档图片 - Image d&#039;archive RFI: Un soldat français de l&#039;opération Barkhane Force debout sur une base FAMa (Forces armées maliennes) avec le mont Hombori en arrière-plan."
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/f774ce24-428f-11eb-a568-005056a964fe\/&quot;,&quot;filename&quot;:&quot;000_1FG6P9.jpg&quot;,&quot;ratio&quot;:&quot;p:4x3&quot;,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/f774ce24-428f-11eb-a568-005056a964fe/000_1FG6P9.jpg" alt="法广存档图片 - Image d&#039;archive RFI: Un soldat français de l&#039;opération Barkhane Force debout sur une base FAMa (Forces armées maliennes) avec le mont Hombori en arrière-plan."
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >法广存档图片 - Image d&#039;archive RFI: Un soldat français de l&#039;opération Barkhane Force debout sur une base FAMa (Forces armées maliennes) avec le mont Hombori en arrière-plan.</span>                <span class="m-figure__caption__credits">© AFP/Daphné Benoît 法新社</span>            </figcaption>
            </figure>

        </div><p>这种沉默表明，三名西方公民遇害依然是一个令人关切的重大问题。一名布基纳法索官员提出，记者和生态主义者为何与如何出现在这个极其危险的东部地区？</p><p><strong>欧洲四国表态</strong></p><p>在运送遗体的飞机抵达西班牙后不久，欧洲四个大国：法国ˎ 德国ˎ 西班牙和意大利周五一致重申，愿与萨赫勒国家维持合作，尤其是在安全领域。马德里发表的欧洲四国政府声明提到：将继续现有举措，支持该地区的军队，以及宪兵和内部安全力量的行动ˎ 培训ˎ 训练和增强他们的能力，特别是在尊重司法程序和人权领域。</p>
                </div>
            
                                <br>
