---
layout: post
title: 泰媒：缅甸仍处在黑暗时代 - 曼谷专栏
date: 2021-05-09 20:45:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E6%9B%BC%E8%B0%B7%E4%B8%93%E6%A0%8F/20210509-%E6%B3%B0%E5%AA%92-%E7%BC%85%E7%94%B8%E4%BB%8D%E5%A4%84%E5%9C%A8%E9%BB%91%E6%9A%97%E6%97%B6%E4%BB%A3
categories: rfi
---

<div>09/05/2021 - 14:34</div><img src="https://s.rfi.fr/media/display/b5be00a8-b0c2-11eb-b826-005056bf87d6/w:310/p:16x9/2021-05-05T183832Z_2061609057_RC2U9N9C1E27_RTRMADP_3_MYANMAR-POLITICS-UN.JPG"><div class="t-content__body u-clearfix" >
                    <p>泰国媒体报道：缅甸军人2月1日夺权后，军政府承诺将重新制定选举法并尽快组织全国公民选举。然而缅甸民间根本不买账，缅甸人民从不同层面掀起了反军人政变的民主运动。据悉由多名前民选政府阁员组成的缅甸民族团结政府（National Unity Government）日前宣布一份包含了35项条文的《救国计划文书》，侧重弘扬缅甸的民主与人权精神，建立公正与和平的联邦民主制度。其中一条特别说明未来担任缅甸国防部长职务的人选必须来自民主选举，要求国防预算公开并具有透明度；海陆空三军总司令必须来自总理亲自任命；所有政府部门负责人必须经过个人才干考核进行筛选；同时要求建立缅甸人民安全与国防议会等民主机制。泰国媒体认为缅甸影子政府所提出的相关条例严重挑战了当前军人集团的利益，从中也反映出前政府领导人昂山素季（Aung San Suu Kyi）遭到军人夺权的矛盾核心所在。</p><p>缅甸目前除了政府层面的对抗团体外，民间也产生出各种名目繁多的反抗团体，主要有缅甸总罢工委员会（General Strike Committee）以及由医护人员为核心骨干组织起公民抗命运动 (the Civil Disobedience Movement)；这些组织呼吁政府机关以及军事附属企业的公务员拒绝执行军政府下达的命令，要求军人政府“尊重缅甸人民的选票”。另一方面，缅甸各行各业爆发大规模的罢工和停工运动也给缅甸国家经济造成了致命性打击，目击者透露缅甸街头的自动提款机前人山人海，人们被告知“没有现金可供提取”。居住在泰国的缅甸人认为这是政府当局对示威民众采取卡喉咙的经济制裁手段。而泰国媒体则认为这是缅甸政府机制出现部分失控而导致的现象。</p><p>根据外界观察，缅甸民间反政变活动大多透过互联网进行发动，没有确定的领导人。这也是缅甸军政府多次封禁互联网的缘由所在。国际层面不断有居住在世界各地的缅甸民众自发组织反政变示威游行，呼吁军人政权尽快下台并还政于民。</p><p>曼谷媒体关于缅甸问题的分析评论指出，缅甸是一个多民族的国家，如今在对待如何收拾政治残局的问题上，各股少数民族领导的集团力量之间还存在分歧。一部分少数民族武装并没有抗议军政府的夺权行动，也没有表达呼吁全国民主联盟（NLD）重新掌权的意愿，他们继续配合缅甸军政府执行修改宪法的步骤，以落实联邦民主制度。而另一部分反对政变的少数民族武装自二月以来已跟缅甸政府军展开过多次火力对抗。根据泰国北部边境军事观察消息透露，缅甸少数民族武装近期在跟政府军的交锋驳火中军事装备能力迅速提升，他们不仅拥有先进的武器设备，还在交战谋略时展现出优良的战略部署。坊间预测一些有知识的城市青年加入反政变的少数民族武装，开始以武力跟军政府展开对抗。外界担忧这种现象若有外部势力介入，必将导致缅甸爆发全面内战，最终造成这个国家走向分裂。</p><p>此外，随着亚洲大国--印度近期爆发疫情并向尼泊尔、巴基斯坦、孟加拉、老挝、泰国等地迅速扩散，而外界注意到缅甸当局对外公布的新冠肺炎（COVID-19）感染率自二月政变以来急剧下降，截至5月8日新增病例35人。这跟泰国边境不断涌入的缅甸感染病例严重不符，因而导致缅甸军政府的国际公信度大打折扣。缅甸军队发言人昨天（8日）发表讲话称，缅甸当局将考虑接受东盟的5点建议，针对国内局势进行改善。但泰国媒体人士随即指出这次讲话刻意降低了雅加达东盟共识的要求和力度。一旦在国际社会失信，将会导致缅甸军政府更加孤立无援。截至目前为止，东盟其他九个国家政府尚未发布有关相互协调或者共同执行五项缅甸共识的进展。</p>
                </div>
            
                                <br>
