---
layout: post
title: "“39号室”：调查揭示朝鲜为其核项目提供资金的方式"
date: 2021-05-03 18:06:04.000000000 +08:00
link: http://chinese.aljazeera.net/news/political/2021/5/3/39%e5%8f%b7%e5%ae%a4%ef%bc%9a%e8%b0%83%e6%9f%a5%e6%8f%ad%e7%a4%ba%e6%9c%9d%e9%b2%9c%e4%b8%ba%e5%85%b6%e6%a0%b8%e9%a1%b9%e7%9b%ae%e6%8f%90%e4%be%9b%e8%b5%84%e9%87%91%e7%9a%84%e6%96%b9
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/kim-North-Korea.jpg?resize=770%2C513" srcSet="/wp-content/uploads/2021/05/kim-North-Korea.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/05/kim-North-Korea.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/05/kim-North-Korea.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/05/kim-North-Korea.jpg?resize=570%2C380 570w, /wp-content/uploads/2021/05/kim-North-Korea.jpg?resize=770%2C513 770w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, (max-width: 770px) 770px, 770px" alt="<div class="wysiwyg wysiwyg--all-content"><p>“39号室”独家调查揭示了朝鲜如何通过一切可能的方式，为其核项目和核武器开发计划提供资金，并以此克服美国在其前进道路上设置的所有障碍。</p>
<p>这部调查短片显示，所谓的“39号室”是隶属朝鲜政府机构的一个办公室，其目的是通过任何可能的手段购买外币，以向朝鲜政权提供资金。</p>
<p>调查小组成功联络到了部分与该办公室打交道的人员，他们透露了一些用来规避国际制裁的惊人方式，例如印刷美元、毒品贸易、走私军火、保险欺诈甚至人口贩运。</p>
<p>这部短片显示，“39号室”在所有能为朝鲜带来资金的活动中均有参与，例如出售军火、走私毒品和伪造美国账单，其每年涉及的金额高达数亿美元。</p>
<p>在朝鲜境外，并没有以“39号室”命名的机构存在，也没有任何人声称为该机构工作，因此，要对这些人员实施制裁将会非常困难，因为根本无法确认他们在其中发挥了积极的作用。</p>
<p>这部短片指出，美国的制裁对朝鲜的各个层面都产生了巨大的影响，这就意味着，由于无法以合法方式出售产品，朝鲜无法获得大量外国货币作为回报，从而影响了朝鲜经济的繁荣。</p>
<p>朝鲜也因此不能以合法的形式运输其煤炭产品，不能以合法的形式出口其铁矿石，也不能以合法的形式运输其锌矿。</p>
<p>无论一个国家的经济有多么独立，也无论其实现了何种程度的自给自足，外币对于它而言都非常重要，因此，外币对于朝鲜的生存而言，也是必不可少的要素。</p>
<p>在有关规避手段的问题上，该短片提到，中国与朝鲜之间的共同边界超过了一千公里，其中70％或80％的边界甚至没有铁丝网的存在。</p>
<p>朝鲜没有能力控制其位于边境地区的居民，这些居民与中国进行积极的贸易，而这种贸易正是朝鲜非法市场的基础。</p>
<p>因此，朝鲜政权试图控制市场，但它知道这是不可能的，因为如果关闭了这些市场，而又没有建立其他市场作为替代，那么人们将会饿死。</p>
<p>朝鲜人不允许这种情况再次发生，而这样一来，朝鲜也就真正从一个经济破裂的社会主义国家，转变为一个混合经济的资本主义国家，其表面上是社会主义，而内在却成了资本主义。</p>
<h3>谁会受益？</h3>
<p>该片还显示，在这些非法市场中，最大受益者是朝鲜官员，政权允许他们进行这种贸易，但这首先是出于自身的金融利益。因此，他们得以出售货物、走私原材料并投资房地产。</p>
<p>该片还指出，“39号室”赚回的资金直接进入了指挥部的腰包，一方面用于购买奢侈产品，另一方面用于购买梅赛德斯汽车，尽管有制裁的存在，但这些汽车仍然进入了朝鲜。但是，作为其中最为重要的用途，这些资金还被用来训练最有能效的网络黑客。</p>
<p>值得一提的是，自上世纪80年代初以来，朝鲜最高领导人已经开始培训那些在数学和编程上最具天赋的年轻人，并使他们成为黑客，以从互联网上窃取机密信息，而且他们在筹集资金上也非常熟练。</p>
<p>据信，朝鲜是黑客程序的源头，例如“WannaCry”这类的恶意勒索软件，它们会发送加密的电子病毒，侵入接收者的个人数据，并威胁要传播这些数据或信息，或者是永久性地阻止接收者访问这些数据，除非他们同意支付赎金。</p>
<p>该片还指出，朝鲜大使馆设有外交职位，但通常都是礼节性的，而其实际工作在于财政事务，而这同样也是非法的，因为朝鲜外交官员主要是向金正恩转移资金的人员，他们可能是商人、实业家，也可能是毒贩，还可能是军火走私贩，但是他们持有外交护照，并因此拥有豁免权。</p>
<p>与军事物资和训练有关的许多行动都是通过朝鲜大使馆进行的，尤其是在非洲和中东地区。叙利亚目前在所有中东国家中拥有独一无二的地位，因为在与朝鲜军事机构进行被禁止的合作行动上，叙利亚的规模最为广泛。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台</div>
