---
layout: post
title: 耶路撒冷清真寺区爆以巴冲突 十多人受伤 – 法国国际广播电台 - RFI
date: 2021-05-08 06:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E8%80%B6%E8%B7%AF%E6%92%92%E5%86%B7%E6%B8%85%E7%9C%9F%E5%AF%BA%E5%8C%BA%E7%88%86%E4%BB%A5%E5%B7%B4%E5%86%B2%E7%AA%81-%E5%8D%81%E5%A4%9A%E4%BA%BA%E5%8F%97%E4%BC%A4
categories: rfi
---

<div>08/05/2021 - 00:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社耶路撒冷7日电）    巴勒斯坦医生和以色列警方表示，耶路撒冷的艾格撒（Al-Aqsa）清真寺院区爆发冲突事件，至少14名巴勒斯坦人和3名以色列警察受伤，为伊斯兰教第3圣地罕见冲突对抗。</p><p>    法新社报导，警方发言人巴德（Waseem Bader）表示，在「暴徒」向警察丢掷石块、瓶子等物体后，警方以武力驱散「暴力骚扰」。</p><p>    巴勒斯坦红新月会（Palestinian Red Crescent）表示，至少14名巴勒斯坦人受伤，多人头部和眼睛遭以色列警察发射橡胶子弹打中。</p><p>    根据巴勒斯坦媒体，以色列安全部队在艾格撒清真寺外列阵，法新社特派员见到烟雾从这个地区升起。</p><p>    巴德说，警方进行逮捕但人数不明，另有3名警察受伤。</p><p>    这次冲突发生在斋戒月最后周五祈祷期间，此时以巴在东耶路撒冷和以色列占领的约旦河西岸暴力冲突加剧。</p><p>    今天稍早，以色列边界警察指出，3名巴勒斯坦人在约旦河西岸以步枪攻击警察，警方还击打死其中2人并打伤第3人。（译者：徐睿承）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
