---
layout: post
title: 联合国指四月全球食品价格持续攀升
date: 2021-05-07 19:45:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%94%9F%E6%80%81/20210507-%E8%81%94%E5%90%88%E5%9B%BD%E6%8C%87%E5%9B%9B%E6%9C%88%E5%85%A8%E7%90%83%E9%A3%9F%E5%93%81%E4%BB%B7%E6%A0%BC%E6%8C%81%E7%BB%AD%E6%94%80%E5%8D%87
categories: rfi
---

<div>07/05/2021 - 13:36</div><img src="https://s.rfi.fr/media/display/5f50bbe8-af28-11eb-9b05-005056bff430/w:310/p:16x9/qzb.JPG"><div class="t-content__body u-clearfix" >
                    <p>据联合国消息说，每月发布一次的粮农组织食品价格指数是衡量全球贸易最活跃的食品类商品国际价格变化的尺度。目前该指数已经达到了自2013年以来的最高水平。该组织昨天报告说，食糖价格指数较2020年4月高出近60％，原因是巴西收获进度缓慢和法国的霜冻加剧了对全球供应趋紧的担忧。在植物油价格指数方面，主要出口国的产量增长将低于预期的担忧导致国际棕榈油报价上升。</p><p>肉类价格指数显示，牛肉、羊肉和猪肉报价均受到东亚强劲需求的支撑。禽肉价格保持稳定，反映出全球市场总体平衡。</p><p>谷物价格指数扭转了3月的短暂跌势，且较去年同期水平高出26%。美国的种植意向低于预期，加上阿根廷、巴西和美国的作物条件引发担忧，导致玉米价格本月环比上涨5.7%，同比涨幅则达到66.7%。国际小麦价格总体稳定，大米、大麦和高梁的报价则呈疲软态势。</p><p>此外，在乳制品价格指数方面，亚洲强劲的进口需求推动黄油、奶酪和脱脂奶粉的报价走高。</p><p>根据昨天同时发布的《谷物供求简报》显示，2020/21年世界谷物消费量预报数上涨2.7％，粗粮消费量增加是此次调升的主因，反映了中国和美国饲料用量高于预期。</p><p>由于中国和美国玉米库存可能减少，2021年季末的世界谷物库存量的预报数较期初水平下降2.3％。预计全球谷物库存与消费量之比为28.3％，创下七年来的最低水平。</p><p>预计2020/21年世界谷物贸易量年比增长5.9％。</p><p>初步预报显示2022年季末的世界小麦库存量将创下新的记录，这主要是受到中国库存增加的影响，尽管亚洲其它地区和非洲的库存量可能跌至2012/13年度以来的最低水平。预计2020/21年度（7月/ 6月）全球小麦贸易量将同比下降1.8％，原因是澳大利亚、加拿大、俄罗斯和美国的出货量预计走低，将抵消阿根廷和欧盟出口量的涨幅。</p><p>据联合国该组织说，2021年全球粗粮产量的早期展望显示今年可能实现连续第三年增产，这是由于巴西、中国、乌克兰和美国的种植面积预将增加，欧盟的单产有望回升，而南非及其数个邻国也预报产量将大幅增长。</p>
                </div>
            
                                <br>
