---
layout: post
title: 法国倡议的尴尬处境：阿迪布放弃组阁任务后，黎巴嫩各派还期待什么？
date: 2021-05-05 08:36:06.000000000 +08:00
link: http://chinese.aljazeera.net/news/2020/9/27/%e6%b3%95%e5%9b%bd%e5%80%a1%e8%ae%ae%e7%9a%84%e5%b0%b4%e5%b0%ac%e5%a4%84%e5%a2%83%ef%bc%9a%e9%98%bf%e8%bf%aa%e5%b8%83%e6%94%be%e5%bc%83%e7%bb%84%e9%98%81%e4%bb%bb%e5%8a%a1%e5%90%8e%ef%bc%8c%e9%bb%8e
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2020/09/Mustafa-Adeeb.jpg?resize=770%2C501" srcSet="/wp-content/uploads/2020/09/Mustafa-Adeeb.jpg?resize=120%2C80 120w, /wp-content/uploads/2020/09/Mustafa-Adeeb.jpg?resize=270%2C180 270w, /wp-content/uploads/2020/09/Mustafa-Adeeb.jpg?resize=375%2C250 375w, /wp-content/uploads/2020/09/Mustafa-Adeeb.jpg?resize=570%2C380 570w, /wp-content/uploads/2020/09/Mustafa-Adeeb.jpg?resize=770%2C501 770w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, (max-width: 770px) 770px, 770px" alt="<div class="wysiwyg wysiwyg--all-content"><p>在黎巴嫩候任总理穆斯塔法·阿迪布向总统米歇尔·奥恩致信表示放弃组阁任务之后，黎巴嫩境内的事件加速发展。</p>
<p>首先产生的影响，就是黎巴嫩镑兑美元汇率的突然跳涨——从7500镑突破了8000镑的上限。</p>
<p>从政治上而言，阿迪布放弃组阁任务，预示了授权他进行组阁的法国倡议的瓦解，与此同时，各个派别之间也在不断推诿妨碍组阁的责任，但值得注意的是，其中大多数派别都期待法国的倡议能够继续保持有效性，并按照其中的议程开展工作。</p>
<p>因此，黎巴嫩总统奥恩很快便认为，“法国总统发起的倡议仍继续有效”，此外，黎巴嫩前总理萨阿德·哈里里也强调，“法国倡议并未失败。相反，导致黎巴嫩毁灭的途径已宣告失败”。</p>
<p>黎巴嫩境内两大什叶派力量——“希望运动”与真主党，其反对者们指责这两股力量妨碍了组阁进程，国会议长纳比赫·贝里发表声明称，“没有任何人像我们这样坚定的支持法国提出的倡议，但是有些人却将这份倡议淹没在与所有既定原则相反的要求中”。</p>
<p>这两股什叶派力量的盟友、马拉达运动领导人苏莱曼尼·弗兰吉则强调，有必要“通过国家的团结领导人”来重振法国的倡议，因为“来自任何一个派别的领导人都无法引领黎巴嫩走向更好的未来”。</p>
<p><img class="size-fantasia-770 wp-image-131172" src="https://chinese.aljazeera.net/wp-content/uploads/2020/08/RTX7QB3V.jpg?w=770&amp;resize=770%2C532" data-recalc-dims="1" /></p>
<h2>是谁让阿迪布的新内阁胎死腹中？</h2>
<p>黎巴嫩政治事务研究员瓦西姆·巴齐（持亲近国内两股什叶派力量的立场）认为，阿迪布放弃组阁任务并不令人震惊，而是自然而然的事情，因为“阿迪布违反了所有宪法原则，并受到了哈里里的控制”。巴齐向半岛网记者声明称，阿迪布退出政府舞台似乎是对法国一个打击，但这并不意味着法国倡议的失败。</p>
<p>巴齐指责哈里里实施秘密行动以挫败阿迪布的任务，“期望能够借此让自己重新掌权，尽管内部条件和外部环境都妨碍着这个目标的实现”。巴齐还表示，阿迪布的遭遇应了一句俗话——“我在父亲家里挨了打”。</p>
<p>但是，来自“未来运动”政治局的成员穆斯塔法·阿洛什则拒绝这项指控，并强调称，哈里里正不惜一切代价地促成法国的这项倡议。</p>
<p>阿洛什向半岛网记者表示，在法国倡议给予的宽限期结束的10天之后，阿迪布才宣布放弃组阁任务，并认为应由两股什叶派力量、总统奥恩及其政治团队来承担组阁失败的责任，因为什叶派力量要求将财政部收入囊中，并任命什叶派的部长，随后为基督教派的部长们要求获得“参与​​组阁的宪法权利”而奠定的基础。</p>
<p>另一方面，巴齐断言，“真主党与希望运动所要求的一切，都是在过去30年内累积的正当权利，在宗派政权统治黎巴嫩的情况下，他们将坚决捍卫自身利益绝不妥协。”</p>
<p>在阿迪布的经历之后，巴齐认为，两股什叶派力量将更加坚定地维护其原有诉求，并指责美国阻碍了阿迪布的组阁进程，特别是在分别对前任部长优素福·费尼亚尼奥斯和阿里·哈桑·哈利利实施制裁的政治时机之下。</p>
<p>至于指责前任政府首脑试图控制阿迪布组阁进程的问题，黎巴嫩政治家哈勒杜恩·谢里夫表示，其中的每个人都是从自身的立场出发，期望简化组阁进程，并支持法国倡议的实现。</p>
<p>谢里夫认为，有必要回到阿迪布受任的最初原则，即组建由无党派专家组成的任务政府，负责实现黎巴嫩向承诺中的改革过渡的阶段。</p>
<p>谢里夫向半岛网记者表示，阿迪布放弃组阁任务，表明了法国关于建立专家型政府的倡议的失败，因为这项倡议受到了部分要求在政府中拥有代表权力的政治派别的勒索。</p>
<p>另一方面，巴齐预计，将在哈桑·迪亚布的率领下，重新启动看守政府的工作，然后再采取宪法措施，任命候选总理以完成组阁，“特别是在事实证明，法国缺乏足够的经验来了解黎巴嫩的政治现实及其历史复杂性之后。”</p>
<figure id="attachment_139034" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-139034" src="https://chinese.aljazeera.net/wp-content/uploads/2020/09/Michel-Aoun.jpg?w=770&amp;resize=770%2C513" data-recalc-dims="1" />黎巴嫩总统奥恩表示，法国总统马克龙提出的倡议仍继续有效 (路透社)</figure>
<h2>外部因素阻碍了法国倡议的实现</h2>
<p>谢里夫预计，各方无法很快对组阁事务达成共识，他还认为，法国很可能事先就知道阿迪布会放弃组阁任务，因此，“它不会由于组阁的失败，而轻易放弃黎巴嫩，而是先要等待美国大选的结果出台”。</p>
<p>另一方面，国际法和国际关系教授拉伊夫·霍里认为，伊朗是妨碍阿迪布组阁成功的因素之一，因为地区冲突会对黎巴嫩的现实产生首要影响。</p>
<p>拉伊夫向半岛网记者表示，促成阿迪布的组阁任务，正值地区和国际上不同的政治气氛，“伊朗当时需要在安理会通过关于结束制裁并恢复武器进出口的投票，因此，它通过真主党而简化了阿迪布在贝鲁特的任命。”</p>
<p>拉伊夫认为，法国总统马克龙在黎巴嫩进行的一切尝试都证明，伊朗在黎巴嫩的影响力不容小觑，“它通过要求任命什叶派的部长而妨碍了整个组阁进程”，拉伊夫还提到了伊朗外交部长扎里夫最新的一次讲话内容，扎里夫在这些讲话中指出，黎巴嫩问题并不是伊朗目前的当务之急，这就意味着，伊朗不会向真主党施加压力以促成法国提出的倡议。</p>
<p>拉伊夫认为，法国目前面临两种选择，要么是通过再次任命候选总理而更新这项倡议，要么是将真主党列入政治和军事制裁名单之内，拉伊夫认为，法国很可能会选择第一种方案。</p>
<p>拉伊夫表示，“马克龙可能会试图阻止黎巴嫩的全面崩溃，因为这将在法国内部对他产生影响”，而且，拉伊夫认为，由于真主党会在法国的弱点上发挥作用，它将继续给法国制造不利条件，而法国又不希望其手中失去黎巴嫩这张底牌。</p>
<figure id="attachment_139039" style="width:686px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-139039" src="https://chinese.aljazeera.net/wp-content/uploads/2020/09/french-president-Macron.jpg?w=686&amp;resize=686%2C515" data-recalc-dims="1" />马克龙（中）提出的法国倡议仍受到黎巴嫩各大派别的坚持 (路透社)</figure>
<h2>追踪制裁</h2>
<p>目前，拉伊夫预期，在以色列要求与黎巴嫩划界的情况下，美国很快将启动制裁，拉伊夫还预计，当法国倡议陷入困境之后，有关真主党的问题将分为3个层级，包括其领导人，投资人及公司，以及任何试图打破真主党财政封锁的人，还有以基督教盟友为首的所有政治盟友。</p>
<p>另一方面，瓦西姆·巴齐认为，马克龙希望证明黎巴嫩是其在地中海施展更大项目的行动平台，背景是在这片海域的财富问题上存在的巨大冲突，以及法国和土耳其之间存在的冲突。</p>
<p>基于法国一贯信奉的实用主义，巴齐预计，在阿迪布放弃组阁任务后，马克龙会迅速利用其中的错误而受益，而穆斯塔法·阿洛什则害怕组建一个由真主党领导的政治对抗型政府，另一方面，法国人也将对此屈服，届时，法国人可能会表态——“任由他们组成政府并承担后果”。</p>
<p>法国总统府提到，法国总统马克龙将于27日召开新闻发布会，并讨论黎巴嫩的政治局势。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台</div>
