---
layout: post
title: 哥伦比亚反政府抗议活动进入第二周  总统杜克面临越来越大的压力
date: 2021-05-06 22:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%94%BF%E6%B2%BB/20210506-%E5%93%A5%E4%BC%A6%E6%AF%94%E4%BA%9A%E5%8F%8D%E6%94%BF%E5%BA%9C%E6%8A%97%E8%AE%AE%E6%B4%BB%E5%8A%A8%E8%BF%9B%E5%85%A5%E7%AC%AC%E4%BA%8C%E5%91%A8-%E6%80%BB%E7%BB%9F%E6%9D%9C%E5%85%8B%E9%9D%A2%E4%B8%B4%E8%B6%8A%E6%9D%A5%E8%B6%8A%E5%A4%A7%E7%9A%84%E5%8E%8B%E5%8A%9B
categories: rfi
---

<div>06/05/2021 - 16:07</div><img src="https://s.rfi.fr/media/display/085a0456-ade9-11eb-94bb-005056a9b1a7/w:310/p:16x9/2021-05-05T205340Z_6291109_RC2W9N9SN82O_RTRMADP_3_COLOMBIA-PROTESTS.JPG"><div class="t-content__body u-clearfix" >
                    <p>哥伦比亚总统杜克上月正式向国会提交新的财税改革法案，包括增加税收及减少政府支出。该国政府去年为应对新冠肺炎疫情所采取的各项措施造成政府支出大增，财政赤字攀升。但该财税改革法案遭到了强烈反对。尽管哥伦比亚正在经历第三波新冠病毒浪潮的冲击，但依然有成千上万的民众走上街头，在该国许多城市举行抗议活动。</p><p>目前示威群众已将反对财税改革法案的诉求扩大，包括要求政府采取行动对抗贫穷和警察暴力，及卫生和教育系统的不平等。群众示威加上议员反对，促使政府撤回税改案，也让财政部长下台。连日来的抗议活动和道路封锁，已导致主要出口农作物咖啡出货受阻，哥伦比亚中央银行技术主管指出，这恐对经济造成影响。</p><p>抗议活动与警方的干预导致暴力事件升级。哥伦比亚官方公布的数字称，有24人死亡，850人受伤。但一些民间组织公布的数据则更严重，表示已经有37人死亡，记者无疆界组织也指出，有76名记者遭到暴力袭击，其中有10人是被警方打伤的。</p><p>哥伦比亚总统杜克周三谴责暴力破坏行为，称其为“城市恐怖主义”。但一名示威者向法新社说，他们不是暴力破坏者，是警方先动手攻击他们。国际人权联合会也发推，谴责“哥伦比亚警方的严重违法行径”，要求欧盟立即中止向哥伦比亚提供任何武器和军事援助，并呼吁国际社会对杜克设施制裁。杜克的五年任期将于2022年8月到期。</p><p>目前，联合国、欧盟、美国以及其它一些国家已经对哥伦比亚警方过渡使用武力表达了谴责。法新社指出，哥伦比亚是拉美地区的第四大经济体。去年该国经济出现严重下滑，国内生产总值下降了6.8%，失业增加了16.8%，人口中近一半没有正式工作。哥伦比亚新冠疫情也十分严峻，在全国5千万人口中，累计确诊者已达2百90万，死亡人数为76015人。</p>
                </div>
            
                                <br>
