---
layout: post
title: 108年来首次 新泽西松树谷高球俱乐部开放女会员 – 法国国际广播电台 - RFI
date: 2021-05-02 20:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/108%E5%B9%B4%E6%9D%A5%E9%A6%96%E6%AC%A1-%E6%96%B0%E6%B3%BD%E8%A5%BF%E6%9D%BE%E6%A0%91%E8%B0%B7%E9%AB%98%E7%90%83%E4%BF%B1%E4%B9%90%E9%83%A8%E5%BC%80%E6%94%BE%E5%A5%B3%E4%BC%9A%E5%91%98
categories: rfi
---

<div>02/05/2021 - 14:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社纽约1日电）    「高尔夫文摘」（Golf Digest）今天报导，1913年创立以来就仅限男性进入的私人球场松树谷高尔夫球俱乐部做出历史性变革，今天投票通过，允许女性成为俱乐部会员。</p><p>    座落在新泽西州费城（Philadelphia）的松树谷俱乐部（Pine Valley Golf Club）多年来被「高尔夫文摘」评为美国第一，在世界也是名列前茅。</p><p>    根据高尔夫文摘取得的电子邮件，松树谷总裁戴维斯（Jim Davis）昨天在电邮中提及俱乐部理事与会员一致同意引进女性会员，并允许她们在任何时候入内打球。过去女性只能在获邀后进入球场，且只限定在周日下午。</p><p>    戴维斯电邮写道：「今晚，在会员的年度会议上，我们对松树谷的规则做出了历史性的改变。」「高球的未来必须朝包容前进，我很高兴地报告，松树谷高球俱乐部的理事和会员怀抱热情地，一致同意移除规则中性别特定的语言。」</p><p>    在松树谷之前，已有几个只限男性的着名私人俱乐部改变规则，同意让女性加入。</p><p>    例如美国名人赛（Masters）的举办地━奥古斯塔国家高球俱乐部（Augusta National），就是在2012年欢迎他们的首位女会员。苏格兰圣安德鲁（St. Andrews）的皇家古老高尔夫俱乐部（Royal & Ancient Golf Club）在2014年才有女会员，而苏格兰墨费德球场（Muirfield）则要到2017年才开始接纳女会员。（译者：郑诗韵/核稿：陈政一）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
