---
layout: post
title: 匈牙利与龙共舞 布达佩斯拒绝复旦分校
date: 2021-05-04 23:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210504-%E5%8C%88%E7%89%99%E5%88%A9%E4%B8%8E%E9%BE%99%E5%85%B1%E8%88%9E-%E5%B8%83%E8%BE%BE%E4%BD%A9%E6%96%AF%E6%8B%92%E7%BB%9D%E5%A4%8D%E6%97%A6%E5%88%86%E6%A0%A1
categories: rfi
---

<div>04/05/2021 - 16:47</div><img src="https://s.rfi.fr/media/display/2ff81bd6-ace2-11eb-819c-005056bf87d6/w:310/p:16x9/Capture-162.JPG"><div class="t-content__body u-clearfix" >
                    <p>“中国西进的特洛伊木马”，“中国软实力入欧的桥头堡”…在中东欧这片土地上，匈牙利总理奥尔班走在与龙共舞的头阵。继率先采购中国新冠疫苗，从中国贷款20亿美元建造匈塞铁路（一带一路的一部分）等令欧盟不悦的事件之后，布达佩斯复旦分校计划不仅再次引发欧盟关注，还引发了布达佩斯市的强烈抵触。市长Gergely Karacsony是匈牙利生态绿党人士，他将复旦分校与匈牙利政府压力下迁出的美国中欧大学进行对比，认为一个是虽然学术严肃，但耗费匈牙利纳税人巨资的中国共产党意识形态大学，另一个是不占用公共资金且能够提供良好教育的大学；前者经由匈政府引进，后者却在压力下迁出，是匈牙利政府享受欧盟利好，却同时成为东方大国桥头堡的写照。</p><p>根据匈牙利调查媒体Direkt364月获取的匈政府文件，复旦分校校园建设税前18亿美元，超出2019年匈牙利全国高等教育投资的综合。这当中的20%，匈政府计划从中央预算中拨划，剩下的资金来源是中国提供的15亿美元贷款。根据上述文件，布达佩斯复旦分校的建造工程，主要由中国材料与施工队来进行。</p><p>布达佩斯市复旦分校计划所在区区长Krisztina Baranyi表示，复旦分校计划不符合首都布达佩斯的利益，也不符合布达佩斯学生们的利益，她将发起地区民众公投，来阻止布达佩斯复旦分校的诞生：“没有对话，他们（匈政府）在所有事情上都不考虑我们…公投应该是唯一展现出我们的不同意见的渠道”。Krisztina Baranyi已在4月底于脸书上发消息呼吁地区公投。截至目前匈牙利政府发言人与相关部长尚未就复旦分校争议发言。</p>    <div  data-wrapper-video-player data-show-hidden-video-player="WBMZ32452-RFI-CN-20210504">
        <div class="m-em-video">
                        <div data-hidden-video-player="WBMZ32452-RFI-CN-20210504" v-cloak>
                <div class="m-em-video__video-wrapper video-type-youtube">
                                    <youtube-player
    type="em"
    video-type="youtube"
    source="https://www.youtube.com/embed/_vQgNwU1-24"
    video-id="_vQgNwU1-24"
    locale="zh-CN"
            embed_config="{&quot;primaryThemeColor&quot;:&quot;#e2001a&quot;}"
        image="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/2ff81bd6-ace2-11eb-819c-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;Capture-162.JPG&quot;,&quot;ratio&quot;:&quot;p:16x9&quot;,&quot;displayFormat&quot;:&quot;original&quot;}"    autoplay        >
</youtube-player>
                </div>
            </div>
                            
<figure class="m-figure m-figure--16x9">
    <div class="m-figure__img-wrapper">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="匈牙利智库Political Capital主任Peter Kreko"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/2ff81bd6-ace2-11eb-819c-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;Capture-162.JPG&quot;,&quot;ratio&quot;:&quot;p:16x9&quot;,&quot;displayFormat&quot;:&quot;16x9&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/2ff81bd6-ace2-11eb-819c-005056bf87d6/w:310/p:16x9/Capture-162.JPG" alt="匈牙利智库Political Capital主任Peter Kreko"
class="m-figure__img"/>
</noscript><button class="m-main-media-btn" aria-label="播放影片">
            <span class="m-main-media-btn__picto"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M30 0A30 30 0 1 1 0 30 30 30 0 0 1 30 0z" fill="#fff" opacity=".77"/><path d="M23.417 17.138v26.491l19.861-13.232z"/></svg>
</span>
</button>
    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >匈牙利智库Political Capital主任Peter Kreko</span>                <span class="m-figure__caption__credits">© AP</span>            </figcaption>
            </figure>
                                </div>
    </div>

                </div>
