---
layout: post
title: 中国央视再在母亲节刊登习近平与母亲故事
date: 2021-05-09 22:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210509-%E4%B8%AD%E5%9B%BD%E5%A4%AE%E8%A7%86%E5%86%8D%E5%9C%A8%E6%AF%8D%E4%BA%B2%E8%8A%82%E5%88%8A%E7%99%BB%E4%B9%A0%E8%BF%91%E5%B9%B3%E4%B8%8E%E6%AF%8D%E4%BA%B2%E6%95%85%E4%BA%8B
categories: rfi
---

<div>09/05/2021 - 16:12</div><img src="https://s.rfi.fr/media/display/8b23725c-b0d0-11eb-ba4e-005056a964fe/w:310/p:16x9/ysxwnt.png"><div class="t-content__body u-clearfix" >
                    <p>中国央视在母亲节，播出习近平与母亲齐心的故事。据苹果日报今天报道称，始于美国的母亲节，中国网民质疑点解过洋节。中国央视报道习近平与母的故事，指曾被告诫“高处不胜寒”。</p><p>据央视报道指，齐心是抗日战争初期在太行烽火中投身革命，并且加入中共，后奔赴延安的八路军女战士。习仲勋对妻子也赞赏有加，他曾对子女说：“你妈妈是个优秀的共产党员！”报道又指，齐心重言传、重身教，教知识、育品德，母亲的言传身教，“为习近平树立了榜样”。</p><p>苹果日报说，这并非央视首次在母亲节刊登与习近平有关的故事，去年央视讲述，2001年习近平出任福建省长，无法回北京与齐心过母亲节，习母在电话中谈到：“关键不在于你来不来，只要你把工作做好了，就是对爸爸妈妈最大的孝心。”习母还强调：“千万不可大意，千万不可犯错误。”报道又称，习近平的办公室内长年放着一张照片，就是他与母亲在公园牵手的照片。在2018年的母亲节，央视则讲述了习近平在陕北插队，一家人天南地北、骨肉分离。齐心便亲手给习近平缝制了一个针线包，上面绣了三个红色的字“娘的心”。</p><p>据该报道称，不过，正值中国与西方国家摩擦日深之际，缘自于美国的母亲节是洋节，引发不少网民讨论是否要庆祝？是否是抵制：“我们为啥（为什么）老过洋节！母亲节起源于美国，是每年5月的第二个星期日。”“今天是母亲节，好像也是洋节，不知道要不要抵制？”“ 五一节也是洋节啊，还放假……”“连历法都用洋的。”也有网民认为：“多提醒大家一次孝敬父母的机会未尝不可，不必逢美必仇”。</p>
                </div>
            
                                <br>
