---
layout: post
title: 法国世界报：欧盟“暂停”与中国的投资协议
date: 2021-05-06 21:45:08.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%9B%BD%E9%99%85/20210506-%E6%AC%A7%E7%9B%9F-%E6%9A%82%E5%81%9C-%E4%B8%8E%E4%B8%AD%E5%9B%BD%E7%9A%84%E6%8A%95%E8%B5%84%E5%8D%8F%E8%AE%AE
categories: rfi
---

<div>06/05/2021 - 15:29</div><img src="https://s.rfi.fr/media/display/f8576bc0-ad20-11eb-9a4d-005056a9b1a7/w:310/p:16x9/08bfc795bd2e80371cff5baa06dba0e4-600x400.jpg"><div class="t-content__body u-clearfix" >
                    <p>欧盟委员会（EC）执行副主席瓦尔迪斯-东布罗夫斯基斯（Valdis Dombrovskis）周二（5月4日）以他自己方式，有些简洁地宣布暂停中国和欧盟（EU）之间的投资协议。他向法新社解释说："在目前的情况下，欧盟对中国的制裁和中国的反制裁，包括对欧洲议会成员的制裁，环境不利于批准该协议"。在继续之前，他还说"暂时（......）我们暂停了欧盟委员会方面的一些政治外联工作。"</p><p>经过七年的谈判，欧盟和北京之间的投资协议于2020年12月30日匆匆通过。在新疆维吾尔人被强迫劳动和对香港的镇压之间，地缘政治的版图已经很是复杂。可德国总理默克尔热衷在这个问题上取得进展，因为在2020年底之前，柏林担任欧盟理事会的轮值主席，在这个健康危机和英国脱欧的时代，德国工业比以往任何时候都更需要机会。</p><p>投资协议文本涉及各个领域，并规定根据具体情况，中国可以或多或少地取消对外国投资者的限制，如建立合资企业或转让技术的义务。协议还规定，中国的国有集团公司应以非歧视的方式对待欧洲公司，向它们提供有偿服务。然而，有关这一问题的专家认为，从法律角度来看，落实这些承诺的机制基本上是不够的。此外，对于保护投资和解决国家与投资者之间的争端没有任何规定，这个问题是布鲁塞尔和北京之间另一个谈判的主题。</p><p style="text-align:center"><strong>敌意和怀疑态度</strong></p><p>四个月前欧盟和中国的协议达成时，就已经很明显了，协议的批准不会是水到渠成的。至于欧盟成员国，当然在整个过程中征求了它们的意见，但面对时不时不情愿的公众舆论，他们还必须能够接受结果。其中一些国家，如荷兰、奥地利、意大利和匈牙利，对协议涉及的真正范围表示保留，而其他国家则担心结论会向拜登政府发出错误的信号，布鲁塞尔希望与拜登政府重新启动跨大西洋关系。</p><p>至于欧洲议会的议员，他们远远没有觉得协议的目是理所当然。除了德国的欧洲议员和欧洲议会中保守派团体——欧洲人民党外，对投资协议的反应，从环保主义者或是激进左派代表的公然敌视到彻底的怀疑不等。甚至在传统上赞成这类协议的 "新欧洲 "的自由派中也是如此。即使是来自执政的总统多数派的法国议员也没有被说服。</p><p>近几个星期以来，欧盟与中国之间的关系紧张加剧。3月22日，欧盟对四名侵犯维吾尔人权利的中国官员实施制裁，禁止签证的签发和资产冻结。北京方面对四个欧洲实体和十名欧洲官员进行了报复性制裁，除禁止进入中国大陆、香港和澳门，还被禁止与中国做生意。法国欧洲议会议员拉斐尔-格鲁克斯曼（Raphaël Glucksmann）和德国欧洲议会对华关系代表团主席莱因哈德-比蒂科夫（Reinhard Bütikofer）榜上有名。欧盟理事会的政治和安全委员会以及欧洲议会的人权小组委员会也是如此。</p><p style="text-align:center"><strong>协议 "可能已经死亡"</strong></p><p>格鲁克斯曼议员对欧盟暂停投资协议感到满意，他说："议会本应在两星期内就冻结协议进行投票。我们感觉将赢得这一票"。在周二（5月4日）晚间的一条推文中，他还提到是 "巨大的胜利"，他说："欧盟委员会正在发挥领导作用"。从一开始就反对协议的欧洲议会绿党团体主席菲利普-朗贝尔（Philippe Lamberts）认为："在制裁之前，协议的处境就已经很糟糕了，它有可能已经寿终正寝"。</p><p>欧盟委员会方面反驳了这种说法，解释只是一种简单的延迟。东布罗夫斯基斯周二（5月4日）说，欧盟和中国之间的 "关系总是不对称的"，"这项协议将帮助我们解决这种不对称性。"</p><p>欧盟27国目前正在讨论修订欧盟的贸易政策，以便在欧洲绿色协议的时代，更好地考虑到应对全球变暖的问题。对此，一位外交官解释说：“包括德国在内的一些成员国希望在结论中增加一句话，这句话基本上是说，不能对贸易政策提出一切要求"。争论还没有结束。</p>
                </div>
            
                                <br>
