---
layout: post
title: 印度最高法院保护民众对政府抗疫不力表达不满的权利
date: 2021-05-01 03:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210430-%E5%8D%B0%E5%BA%A6%E6%9C%80%E9%AB%98%E6%B3%95%E9%99%A2%E4%BF%9D%E6%8A%A4%E6%B0%91%E4%BC%97%E5%AF%B9%E6%94%BF%E5%BA%9C%E6%8A%97%E7%96%AB%E4%B8%8D%E5%8A%9B%E8%A1%A8%E8%BE%BE%E4%B8%8D%E6%BB%A1%E7%9A%84%E6%9D%83%E5%88%A9
categories: rfi
---

<div>30/04/2021 - 21:04</div><img src="https://s.rfi.fr/media/display/8fa9c9aa-a65a-11eb-adda-005056a9b1a7/w:310/p:16x9/AP21115377792341.jpg"><div class="t-content__body u-clearfix" >
                    <p>许多印度网友最近通过社群媒体求救，寻求外界提供氧气以挽救确诊亲人生命，却遭印度人民党（BJP）主政的北方省政府和警方以“国家安全法”和“散布虚假信息”，而采取控告等法律行动。</p><p>据中央社报道：莫迪政府开放选举造势活动和大型宗教活动，未即时处理各地医院发出医疗资源缺乏警讯，被批评为是第二波冠状病毒疫情演变为海啸的原因之一。这使得印度疫情升高，医疗系统崩溃，医疗物资短缺，许多病患因而死亡。一些印度网友在社群媒体发出#ResignModi标签，要求总理莫迪辞职，为疫情失控负责的言论，遭到社群媒体封锁和删除。 传莫迪政府以信息科技法的规定要求删除这些“煽动性言论”，但印度电子与信息科技部昨天否认曾下令删除上述言论，指脸书澄清是“误删”。</p><p>就民众言论自由受到印度政府压制问题，印度最高法院3位法官组成的合议庭4月30日针对武汉肺炎相关议题开庭审理时，做出明确宣告。</p><p>印度最高法院合议庭法官钱德拉楚德（DY Chandrachud）等在听取武汉肺炎相关问题陈词时表示，公民在社群媒体或网路上表达不满，（政府）不能指控这是“虚假错误的讯息”; 身为公民和法官，不希望（政府）取缔和箝制民众讯息，让我们听到他们的声音。</p><p>印度最高法院合议庭强调，民众如果发出需要病床和氧气的讯息遭到（政府和警方）骚扰，将被视为藐视法庭。要求 “让这项强烈的讯息传达到各个省市及警察局”。</p><p>北方省省长阿蒂提亚纳特（Yogi Adityanath），最近在一场视讯记者会上宣称，北方省任何公立或私人医院没有缺乏氧气供应状况，因此当局将可能对在网络上散布谣言的人们，依国家安全法采取行动。</p><p>阿蒂提亚纳特接着下令警方“监视”散布缺乏氧气等「谣言」的人，且适当调查此类案件。 之后，北方省阿米堤镇（Amethi）警方就对一名男孩以“散布虚假信息”立案调查，只因为这名男孩推文呼吁各界提供氧气，以挽救他祖父的生命。</p><p>印度从明天起开放满18岁以上成年人接种疫苗，印度最高法院合议庭30日对疫苗定价提出质疑，认为穷人怎会有钱接种疫苗？ 要求政府应遵循印度独立以来的国家免疫接种模式。</p><p>对于新德里未获中央政府足额氧气供应，最高法院合议庭表示，中央政府对新德里负有责任，并质疑不仅新德里，在古茶拉底省（Gujarat）、马哈拉什特拉省（Maharashtra）和卡纳塔卡省（Karnataka）等都没有足额供应氧气，这将会造成什么影响？ 中央政府到底能供应多少氧气？</p><p>印度中央政府代表则向合议庭宣称，氧气供应主要是后勤运输问题，将很快获得缓解。</p>
                </div>
            
                                <br>
