---
layout: post
title: 德国破获全球最大黑暗网路儿童色情平台 – 法国国际广播电台 - RFI
date: 2021-05-04 17:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%BE%B7%E5%9B%BD%E7%A0%B4%E8%8E%B7%E5%85%A8%E7%90%83%E6%9C%80%E5%A4%A7%E9%BB%91%E6%9A%97%E7%BD%91%E8%B7%AF%E5%84%BF%E7%AB%A5%E8%89%B2%E6%83%85%E5%B9%B3%E5%8F%B0
categories: rfi
---

<div>04/05/2021 - 11:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社柏林3日电）    德国联邦警察今天宣布，他们已关闭「全球最大的黑暗网路（darknet）儿童色情平台之一」，并已于4月中发动连串突袭行动逮捕4名成员。</p><p>    根据德国警方声明，这个黑暗网路平台名为「男孩城」（Boystown），从2019年开始出现，成员超过40万人，「架设目的是为了在全球交换儿童色情内容」。</p><p>    声明表示，这个黑暗网路论坛提供用户相互联络管道，并让他们可以交换儿童色情图像和影片内容，当中甚至有「对幼童的严重性虐待」。</p><p>    德国警方共在境内发动7场相关突袭行动，逮捕3名介于40和64岁的男性。另有一名德国籍男嫌在柏林要求下，已于南美国家巴拉圭遭到拘留，等待德国法兰克福法院发布国际逮捕令遣返回国。</p><p>    德国警方表示，其中3人被控以管理员身分经营这个平台，他们不仅提供技术支援，还教导成员如何避免被当局发现；另一男子则是「平台最活跃用户之一」。</p><p>    调查人员说，这场由德国发起、持续数月的逮捕任务，由欧洲刑警组织（Europol）协调指挥，荷兰、瑞典、美国和加拿大的执法当局也提供支援。</p><p>    经过突袭行动后，包括「男孩城」和其他相关网路论坛都已从网路移除。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
