---
layout: post
title: 王忠林传将升任湖北省长
date: 2021-05-01 21:15:01.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210501-%E7%8E%8B%E5%BF%A0%E6%9E%97%E4%BC%A0%E5%B0%86%E5%8D%87%E4%BB%BB%E6%B9%96%E5%8C%97%E7%9C%81%E9%95%BF
categories: rfi
---

<div>01/05/2021 - 14:17</div><img src="https://s.rfi.fr/media/display/1068f150-22ef-11eb-bbb3-005056a964fe/w:310/p:16x9/2020-11-09T201046Z_1176847971_RC2WZJ9YH48O_RTRMADP_3_HEALTH-CORONAVIRUS-VACCINE.JPG"><div class="t-content__body u-clearfix" >
                    <p>据自由时报今天报道称，在疫情时期接任武汉市委书记的王忠林曾公开地大力拍马屁，向习近平道谢“在总书记亲自部署、亲自指挥和党中央坚强领导下，解放军及全国各地先后派出数百支医疗队，数万名医务工作者集结驰援武汉，全国捐赠物资源源不断”，更要市民“感恩总书记、共产党”，这样的言论在当时引发争议，被网友骂翻下架。</p><p>报道称，湖北省长王晓东从去年年中突然神隐，引发被落马的猜想，不过他事后被指称为“中风入院”。港媒《星岛日报》 引述消息指出，接下来王忠林将会接下王晓东职位，出任湖北省长，该消息仍有待中方确认。</p>
                </div>
            
                                <br>
