---
layout: post
title: 法国:Moderna疫苗有望近期摆上药房
date: 2021-05-02 04:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B3%95%E5%9B%BD/20210501-rfi-%E6%B3%95%E5%B9%BF-%E5%B0%BC%E5%8F%A4%E6%8B%89-covid-19-france-%E6%B3%95%E5%9B%BD-moderna%E7%96%AB%E8%8B%97%E6%9C%89%E6%9C%9B%E8%BF%91%E6%9C%9F%E6%91%86%E4%B8%8A%E8%8D%AF%E6%88%BF
categories: rfi
---

<div>01/05/2021 - 22:09</div><img src="https://s.rfi.fr/media/display/6c891c2a-a8e7-11eb-91fb-005056bf87d6/w:310/p:16x9/2021-04-15T211739Z_662200348_RC2LWM9DMDB9_RTRMADP_3_HEALTH-CORONAVIRUS-VACCINES-MRNA.JPG"><div class="t-content__body u-clearfix" >
                    <p>法国本周在东部地区，与德国和卢森堡交界的摩泽尔省（Moselle）的医生和药剂师中测试Moderna抗Covid-19病毒疫苗，总共分发了600支针剂。</p><p>据本台RFI特派记者安吉尼克·费拉（<strong>Angélique Ferat</strong>）周六（2021年5月1日）的现场报道，与德国和卢森堡接壤的摩泽尔省，在法国的第三波疫情中遭受重创。这就是法国为何选择在此测试Moderna疫苗的原因。疫苗接种在当地比其它地方更普及，23%的民众已至少注射了一剂疫苗。</p><p>本次测试有一个目标，检测疫苗在分发与运输过程中是否稳定。解冻后的Moderna疫苗在2度至8度里可以保存30天，所以需要放在冰箱里。</p><p>在距梅斯（Metz）车程20分钟的小镇Rombas，药剂师卡特琳（Catherine）认为，这一测试取得了成功。她说，每天都有人来询问，她备有哪种疫苗？一些人不要阿斯利康，要辉瑞。说到使用“信使核糖核酸技术”（ARN messager）的疫苗，人们愿意接受，因为，与辉瑞疫苗相似。</p><p><strong>法国摩泽尔省疫情已明显好转</strong></p><p>法国摩泽尔省在三月初的发病率为每10万人有400例，南非变种传播迅速。如今，已降至每10万人有198例，成了法国东部最低之一。当地医院急救中心的负责人布罗恩医生（Dr. Braun）说，这源于接种疫苗和封城禁足的双重结果。人们可以清楚地看到，住院患者比之前年轻了。为什么？答案是老年人都已接种了疫苗。现在有20岁青年，经常是那些超重，甚至患有糖尿病。摩泽尔省的医院系统里，当天有125名Covid-19患者住院治疗，其中59人在重症监护室。</p><p><strong>德国放松对法国摩泽尔省限制</strong></p><p>德国将自5月2日周日起，不再把法国摩泽尔省视为高风险地区，并放宽边境限制。伴随着这一决定，边境地区的随机检查将被取消，隔离期将缩短为10天。摩泽尔省1万6千名在德国境内逗留不超过24小时的跨境通勤工作者免受隔离措施限制，但需要提供48小时内有效的检测呈阴性的证明。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image d&#039;archive RFI : moselle france allemagne frontière covid coronavirus"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/159622ea-79f9-11eb-a86b-005056a98db9\/&quot;,&quot;filename&quot;:&quot;000_1TH25B.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/159622ea-79f9-11eb-a86b-005056a98db9/000_1TH25B.jpg" alt="Image d&#039;archive RFI : moselle france allemagne frontière covid coronavirus"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >Image d&#039;archive RFI : les personnes se rendant en Allemagne depuis la Moselle devront notamment présenter un test au Covid-19 négatif.</span>                <span class="m-figure__caption__credits">© AFP 法新社 - PATRICK HERTZOG / RFI Archive 法广存档图片</span>            </figcaption>
            </figure>

        </div><p>法国摩泽尔省与德国萨尔州（Sarre/Saar）和莱茵兰-普法尔茨州（Rhénanie-Palatinat）之间的公共交通线路，也将在周日至周一夜间恢复运行。</p>
                </div>
