---
layout: post
title: 法国军事专家评美中南中国海对阵与台湾的重要性 - 要闻解说
date: 2021-05-04 23:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E8%A6%81%E9%97%BB%E8%A7%A3%E8%AF%B4/20210504-%E6%B3%95%E5%9B%BD%E5%86%9B%E4%BA%8B%E4%B8%93%E5%AE%B6%E8%AF%84%E7%BE%8E%E4%B8%AD%E5%8D%97%E4%B8%AD%E5%9B%BD%E6%B5%B7%E5%AF%B9%E9%98%B5%E4%B8%8E%E5%8F%B0%E6%B9%BE%E7%9A%84%E9%87%8D%E8%A6%81%E6%80%A7
categories: rfi
---

<div>04/05/2021 - 16:47</div><img src="https://s.rfi.fr/media/display/c3652e68-9b9e-11eb-a8a3-005056a964fe/w:310/p:16x9/qjz0.jpg"><div class="t-content__body u-clearfix" >
                    <p>中国国防部发言人日前也在记者会表示，美驱逐舰在辽宁舰编队“正常演训活动”期间不断近距离观察中方舰队，“严重干扰中方演训活动，严重威胁双方舰艇航行安全和人员安全，性质十分恶劣”。</p><p>那么，美军近距离观察中国舰队的行为是否违反国际规定？辽宁号在海上停靠一整天可能是由于何等原因？中美两国的军舰近日频频在南中国海活动，随着日本，法国，英国以及的德国等国的军舰的加入，南中国海爆发冲突的机率是否也会随之而增长？如何评论法国舰队近日在南中国海的巡航活动？法广就以上一系列问题采访了法国军事专家，曾经在法国驻中国与越南使馆担任军事参赞，对南中国海了如指掌的法国退休将军Daniel Schaeffer 。</p><p><strong>法广： </strong>Daniel Schaeffer 将军，非常感谢您接受法广的专访，首先请您评论一下在您看来美国海军是否干扰了辽宁舰编队的“正常演训活动”？</p><p><strong>Daniel Schaeffer ：</strong>就我个人的了解，我知道美国军队与日本军队在海山操作一般十分专业，十分遵守海上航行的国际规则，如果舰队停靠不远的话，只不过是为了观察中国舰队如何操作，这虽然对中国人来说，并不是很舒服，因为谁都不喜欢有人在一旁监督，但是，这并不违反国际规则。我不太相信美国军舰会干扰中国舰队。不过，不排除北京方面有可能利用此一事件故意炒作，一方面是责怪美方，另一方面，也可以为制裁与辽宁号有关的官员寻找借口。</p><p><strong>法广：</strong>辽宁号在南海停靠了一天，引发多方猜测，您对此有何评论？</p><p><strong>Daniel Schaeffer ：</strong>我没有足够的信息可以作出评判，一般而言，这其中很可能有多种原因，但我不相信会是由于美军或者日军的原因。两年前，一艘中国船为了阻止一艘美国军舰在南中国海航行曾经近距离靠近美国船只，离船尾的距离仅为五十米，这是违背海上航行的国际规定的。我并不相信美国或者日本船只会作出同样的行为来干涉中国舰队的操练，尽管三国之间在南海问题上存在诸多分歧，但是，中国人完全有权利在南海进行操练，无论南中国海是否属于中国，同样，其他国家的船只也同样有权利在南海航行，因为这里并不是中国的内海。至于，辽宁号为何中途停靠？或许是他们在等待美国与日本舰队离开之后再启动，或者是辽宁号出现了技术故障，任何性质的技术故障都是有可能的。</p><p><strong>法广：</strong>法国海军最近几个月来加强了在印太海域的巡航，今年二月，法国的动力攻击潜水艇“翡翠号”（Emeraude）及支援舰“塞纳号”（Seine）在南海的自由航行曾经引发北京的关注。与此同时，法国海军的“雷电号”两栖攻击舰和其护卫舰“苏尔库夫”今年2月中旬也离开母港土伦港，前往太平洋执行为期3个月的任务，目前正在南中国海地区巡航，按计划将于7月14日返回土伦港，这次演习是法国“印太战略”的一部分，如何评论法国海军在南中国海地区的活动？</p><p><strong>Daniel Schaeffer ：</strong>首先我是以我个人的名义发表观点，但是，我并不认为法国海军会不赞同我的观点。今年二月法国军舰出发的时候，我就发表了一篇文章，标题就是：<a href="https://www.asie21.com/2021/03/04/please-stop-misinterpreting-the-french-navy-presence-in-the-south-china-sea/" target="_blank">不要错误地解读法国军队在南海的活动</a>，（<a href="https://www.asie21.com/2021/03/04/please-stop-misinterpreting-the-french-navy-presence-in-the-south-china-sea/" target="_blank">https://www.asie21.com/2021/03/04/please-stop-misinterpreting-the-french-navy-presence-in-the-south-china-sea/</a>）因为当时法国媒体都在说，法国此举是在挑战北京，会引发中国的不满。我对此感到十分气愤，因为事实上，根本就不是这么会事，当然，我们去南中国海，北京会不满意，但是，法国此举的目的就是要捍卫联合国的公海自由海洋的公约，《<em>联合国</em>海洋法<em>公约</em>》是由一百多个国家签署的公约，这一公约不能够因为某一个国家的利益而被弃之不顾。这是法国军队巡航的唯一原因，在玛丽安娜巡航任务结束之后，现在又有 代号为圣女贞德的演习，法国海军将与美国，日本，澳大利亚等国的海军在南海举行联合军演，也是出于同样的目的，在演习结束之后，法国军舰将返回土伦港，这也是一次捍卫自由航行的演习，在一个可以自由航行的海域，南中国海并不是中国的内湖，也不可能成为中国的一条内湖。</p><p><strong>法广：</strong>我们看到近期来除了法国之外，德国，英国先后声明要派遣船军舰前往南中国海巡航捍卫自由航行权，这是否会加剧南中国海的紧张气氛，导致擦枪走火？</p><p><strong>Daniel Schaeffer ：</strong>不，我并不认为存在类似的风险。这使我想起德国政府在作出上述宣告时，声称德国舰队将远离中国修建的人工岛屿12海里以外，我认为这是错误的决定，因为这等于是承认中国的人工岛屿的合法性，他们不应该这么说。至于，英国舰队，目前还不太清楚，英国方面究竟计划何时出发，配备18架F-35B隐形战机的伊丽莎白女王号航母舰队，将前往南海航行至东亚，引发北京的高度关注，因为英国航母规模宏大，但是，我担心北京会加倍对英国政府展开威胁，我认为北京或许担心英国航母将会顺便将一些香港居民带回英国。目前还不清楚英国航母出发的具体时间。</p><p><strong>法广：</strong>美国多位专家日前向国会建议加大国防投入，以增强美国海军在印太地区的力量投射，同时批准《联合国海洋法公约》，通过国际海事争端解决机制保护印太国家的利益。美国批准《联合国海洋法公约》对维持南海海域的和平十分重要吗？</p><p><strong>Daniel Schaeffer ：</strong>当然，美国的海军，美国的海员早就希望有这一天，但是，问题是，美国有些参议员认为批准联合国公约，认为一旦批准公约，将会影响美国的主权，这是必然的，批准国际公约自然会失去一部分主权，但是，只有批准了联合国海洋法公约，美国才能够名正言顺地站出来。因为否则地话，北京就可以顺理成章地批评说，既然美国没有批准联合国公约，就没有权利出来说三道四。这就造成了今天地局面，北京政府确实了批准了公约，但是，他可以随意地去解读公约，而美国方面倒是严格地遵守联合国的规则，但是，因为没有批准公约也就名不正言不顺。我知道美国夏威夷的共和党参议员Mazie Hirono从2012年就开始提议要求国会批准公约，但是，由于少数参议员的反对，提案到今天依然没有进展。</p>

    <a class="m-em-image" href="https://www.asie21.com/2021/02/05/avant-que-ne-saute-le-verrou-taiwanais/">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="法国将军Daniel Schaeffer撰写的有关台海军事动态的分析文章"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/32d14390-ace8-11eb-b7d5-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;Capture d\u2019\u00e9cran de 2021-05-04 16-44-20.png&quot;,&quot;ratio&quot;:&quot;p:16x9&quot;,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/32d14390-ace8-11eb-b7d5-005056bf87d6/Capture d’écran de 2021-05-04 16-44-20.png" alt="法国将军Daniel Schaeffer撰写的有关台海军事动态的分析文章"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >法国将军Daniel Schaeffer撰写的有关台海军事动态的分析文章</span>                <span class="m-figure__caption__credits">© 网络</span>            </figcaption>
            </figure>

        </a><p><strong>法广：</strong> 今天中国海军的实力日益强大，南中国海的气氛也越来越紧张，“经济学人“近日将台湾称为是全球最危险的地方，您如何评估南海以及台海地区爆发武力冲突的可能性？</p><p><strong>Daniel Schaeffer ：</strong>如果我们来分析一下美中这两个超级大国目前的状况以及今后的走向，我认为双方都不会愿意发动核武战争，如果爆发武力冲突的话，那么，发生的地点将很可能是在南中国海以及台湾海峡，我认为将是使用现代武器的传统性质的战争。中国争夺海上霸权的努力将继续持续，因为无论是为了贸易，经济海是科技发展，北京都必须保障其海路的安全。而且，我在此前就写过多篇文章介绍南中国海的地理位置对北京的重要性，因为他是保障停靠在三亚的中国的弹道导弹<em>核潜艇</em><em>（</em>SNLE）必须通过巴士海峡才能进入太平洋，北京必须保障这一通道万无一失。当然，这是在<a href="https://www.asie21.com/2021/02/05/avant-que-ne-saute-le-verrou-taiwanais" target="_blank"><strong>台湾这最后一道锁被解除之前</strong></a> （<a href="https://www.asie21.com/2021/02/05/avant-que-ne-saute-le-verrou-taiwanais/" target="_blank">https://www.asie21.com/2021/02/05/avant-que-ne-saute-le-verrou-taiwanais/</a>），这是我最近发表的另一篇文章的标题，一旦台湾被中国大陆收复，那么，北京就可以在台湾的太平洋海岸修建海军基地，完全改造当地的地理，北京可以修建核潜艇基地。所以，如果台湾被北京收复，将对美国的国家安全构成严重的威胁。这就是为什么台湾对美国来说确实是至关重要，美国政府应该与台湾密切合作，提供给台湾适当的军备，避免美国人一贯的做法盛气凌人，因为台湾的安危事关美国的安危，但是，我不知道美国人是否意识到这一点。</p><p>感谢Daniel Schaeffer 接受法广的专访。</p>
                </div>
            
                                <br>
