---
layout: post
title: 从乒乓外交到战狼外交 - 美国专栏
date: 2021-05-04 02:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E7%BE%8E%E5%9B%BD%E4%B8%93%E6%A0%8F/20210503-%E4%BB%8E%E4%B9%92%E4%B9%93%E5%A4%96%E4%BA%A4%E5%88%B0%E6%88%98%E7%8B%BC%E5%A4%96%E4%BA%A4
categories: rfi
---

<div>03/05/2021 - 14:35</div><img src="https://s.rfi.fr/media/display/35d0b110-9623-11eb-af12-005056bf87d6/w:310/p:16x9/MaoNixon.PNG"><div class="t-content__body u-clearfix" >
                    <p>美国人之所以忘记了乒乓外交，一是因为他们喜欢美式足球、篮球、棒球，看不上也没有人玩在一张桌子前你一板我一板的乒乓球；更主要的，现在美国人记住中国的是，来自武汉的新冠病毒已杀死58万美国人，中国对美国实行经济、政治、文化、意识形态的全面渗透和侵害；至于外交，美国人知道中国的战狼外交，与50年前的乒乓外交扯不上关系。</p><p>1971年3月28日至4月7日，日本名古屋举行第31届世界乒乓球锦标赛。比赛第一天结束，中国队乘巴士返回宾馆，美国运动员科恩（Glenn Cowan）上来搭便车，中国运动员庄则栋主动和他握手、寒暄，并送他一幅杭州织锦作纪念。庄则栋的动作对于正处在文化大革命“打到帝修反”的中国，如石破天惊，中国乒乓球代表团把情况紧急报告北京，毛泽东决定邀请美国乒乓球队访问中国。</p><p>此后的发生的事情是：1971年9月时任美国国家安全事务助理的基辛格秘密访问北京，1972年2月美国总统尼克松访华，1979年1月1日美国总统卡特抛弃中华民国与中华人民共和国建交。</p><p>从乒乓外交到中美建交，是中国发展史的根本转折，于是就有了1999年11月美国给予中国贸易最惠国待遇，帮助中国加入世贸组织，使得中国得以利用美国倡导的经济全球化，和不兑现对美国的承诺与不遵守世贸组织的规则，迅速崛起。崛起的中国，便由乒乓外交时的羊，变成了反噬美国、执意取代美国全球领导地位的狼；到了习近平时代，中国更是一改“韬光养晦”外交政策，组建了在国际交往中厉声嚎叫的外交战狼群。</p><p>在4月24日的庆祝活动中，王岐山致辞，他说：当前，中美关系正处在重要关口，中美合则两利、斗则俱伤，合作是双方唯一正确的选择。基辛格发言说，在当前美中两国围绕某些重要问题上存在分歧时，这事件也代表了我们许多人对于未来的一份期待，那就是美中两国人民能够基于两国在世界格局和世界经济中的重要性，在彼此之间达成一种谅解。</p><p>然而就在中国纪念乒乓外交50周年之际，与纪念活动同时进行的是一场中方公布的中国外长王毅与美国智库的视讯交流，王毅指责美国“还没有找到与中国打交道的正确途径”，他说“民主不是可口可乐，美国生产原浆，全世界一个味道”。26日，中国外交部发言人赵立坚发推文，要求世界适应中国的锋芒。这就让王岐山和基辛格对美中关系的祈愿成了废话。</p><p>就乒乓外交本身而言，值得纪念的是庄则栋和科恩，但这两人在4月24日的纪念活动中没有被提起。庄则栋因乒乓外交成为英雄，1974年至76年任<a target="_blank" href="https://zh.wikipedia.org/wiki/国家体委">国家体委</a>主任，<a target="_blank" href="https://zh.wikipedia.org/wiki/文革">文革</a>后因与四人帮的关系被隔离审查四年，2013年2月10日死于癌症。科恩始终没有成为英雄，他是<a target="_blank" href="https://zh.wikipedia.org/wiki/嬉皮士">嬉皮士</a>，吸食毒品，没有稳定的工作，居无定所甚至露宿街头，2004年4月6日死于心脏病。</p><p>开创乒乓外交是庄则栋与科恩生命中值得炫耀的事，但他们如果活到今天，看到乒乓外交已成战狼外交，想必是心中感慨却无言诉说。</p>
                </div>
            
                                <br>
