---
layout: post
title: 教宗支持豁免疫苗专利 促进贫穷国家疫苗供应 – 法国国际广播电台 - RFI
date: 2021-05-08 23:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%95%99%E5%AE%97%E6%94%AF%E6%8C%81%E8%B1%81%E5%85%8D%E7%96%AB%E8%8B%97%E4%B8%93%E5%88%A9-%E4%BF%83%E8%BF%9B%E8%B4%AB%E7%A9%B7%E5%9B%BD%E5%AE%B6%E7%96%AB%E8%8B%97%E4%BE%9B%E5%BA%94
categories: rfi
---

<div>08/05/2021 - 17:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社梵蒂冈8日电）    天主教教宗方济各（Pope Francis）在今天发布给「Vax Live：团结世界演唱会」的影像讯息中表示，他支持豁免新型冠状病毒疫苗专利，以促进对贫穷国家的疫苗供应。</p><p>    英国哈利王子（Prince Harry）及珍妮佛罗培兹（Jennifer Lopez）等流行巨星参与的「Vax Live：团结世界演唱会」（Vax Live: The Concert to Reunite The World），呼吁全球更快速且更公平地推动2019冠状病毒疾病（COVID-19）疫苗接种计画。</p><p>    阿根廷出生的教宗方济各在影像讯息中，以他的母语西班牙语表示，他支持「疫苗取得普及化及暂时中止（疫苗）智慧财产权」。</p><p>    方济各曾一再谈及分享疫苗的必要性，他在这次影像讯息中谴责「个人主义病毒使我们对他人痛苦漠不关心」。</p><p>    在方济各发出上述声明前，美国意外宣布支持全球豁免COVID-19疫苗专利，但主要药厂强烈反对这项措施。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
