---
layout: post
title: 50年来首次下降？中国正面临的人口危机 - 中华世界
date: 2021-05-09 05:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E4%B8%AD%E5%8D%8E%E4%B8%96%E7%95%8C/20210508-50%E5%B9%B4%E6%9D%A5%E9%A6%96%E6%AC%A1%E4%B8%8B%E9%99%8D-%E4%B8%AD%E5%9B%BD%E6%AD%A3%E9%9D%A2%E4%B8%B4%E7%9A%84%E4%BA%BA%E5%8F%A3%E5%8D%B1%E6%9C%BA
categories: rfi
---

<div>08/05/2021 - 23:41</div><img src="https://s.rfi.fr/media/display/c03ad93a-b044-11eb-a4f4-005056a964fe/w:310/p:16x9/280421-chine-pop-m.jpg"><div class="t-content__body u-clearfix" >
                    <p>《金融时报》在4月28日的报道说，中国即将发布 2020年全国人口普查结果，将报告50年来首次人口下降，尽管近年来中国政府已经放松严格的计划生育政策，以企扭转出生率下降的局面。《时报》援引知情人士透露，已于去年12月完成、但尚未发布结果的最新中国人口普查将报告全国总人口不到14亿。而2019年已有报道称，中国人口已超过14亿。</p><p>此外，29日的香港《南华早报》也发文援引分析人士说，中国最新的全国人口普查数据预计将显示人口出现关键性的下行趋势。这使得人口规划的决定性改革成为决策者的紧迫任务。</p><p>法国电视france24署名塞伯特（Sébastian SEIBT）的报道指，中国没有在原定的4月初发布此次人口普查结果。据国家统计局的表示，这是为了“提供更多的资料”，增加发布更多更细的信息，因而“发布前的准备工作有所增加”导致，但这个解释似乎没有说服中国人，在网络社群平台许多网民留言批评，他们怀疑这是政府不希望让外界知道此次人口普查中暴露的这个令人不快的”小秘密“。</p><p><strong>毛时代“大跃进”的痛苦先例</strong></p><p>因为三年前已有报道称中国人口已超过14亿，2019年当局甚至高调宣布跨过了这一人口里程碑。据《金融时报》报道，中国国家统计局坚持认为“人口在2020年将继续增长”。但并没有具体说明这一增长是相对于2019年还是针对上次即2010年的人口普查结果计算。由于这个数据被视为十分敏感，因此在政府各部门就数据解读达成共识之前暂时不会公布，报道引述的专家称，普查结果会对中国民众对自己国家的认知看法以及政府各部门的工作产生巨大影响，因此必须极为谨慎地对待。</p><p>法国著名汉学家、法国国家科学研究中心（CNRS）研究员白夏就北京的做法这样向法广表示：</p><p><em>白夏：很简单中共这是垄断信息，它不能容忍其他媒体，尤其是外国媒体来宣布人口下降的消息，我们都知道中国正在加紧国际竞争，成为世界第二甚至第一强国，总之必须位列前茅，而人口开始出现下降， 这就意味着印度可能超过中国，这对于中国现任领导人来说是不可接受的。但现实是我们很难理解， 因为达到人口峰值逐步下降这从根本上就是中国既定的目标。当然这会带来一系列经济和社会影响，如老龄化问题，同时我们也看到国家统计局数据中所没有撒谎的是，现在中国的出生率是自1971年以来最低，这里要指出的是，当日本出现社会老龄化时国民已经实现富裕，而中国还没有达到真正的富裕，这就将导致问题。</em></p><p><strong>人口下降低于14亿阈值的多重不利影响</strong></p><p>法国France24电视的报道更直接指，人口下降低于14亿阈值对北京来说是一个多方面产生不利影响的坏消息。首先它可能会唤起人们对上一次中国人口出现下降的痛苦记忆，那是在1959年至1961年的三年大饥荒时期，而主要原因是由于毛泽东发起的“大跃进”造成，大跃进迫使数百万农民离开土地参加工业生产。</p><p><strong>习近平的人口政策的失利</strong></p><p>其次这一下降也将标志着习近平的人口政策的失败，特别是他在2015年终止了独生子女政策的实施。但在法国中国经济研究所（Idrec）主任玛丽·弗朗索瓦·雷纳德（Mary-FrançoiseRenard）看来，“这一做法为时已晚” 。在2016年中国谨慎放松计划生育政策的执行之后，出生率从2017年开始下降超过10％。雷纳德总结指，当时中国经济增长已经开始放缓，而居民生活的支出日益昂贵，导致中国人不想生更多孩子。</p><p><strong>不利于北京对外展示实力形象</strong></p><p>再次是人口的减少也将严重不利于北京试图向外部世界展示其实力形象。 人口学者、《大国空巢》作者、美国威斯康星大学妇产科系研究人员易富贤在接受《南华早报》采访中说：“美国人感觉中国将必然赶超他们，而人口的减少表明中国并不是那么强大。”</p><p>相对于中国在地区最大竞争对手印度来说也是一样，中印几乎在各个方面都在比赛较劲，人口也不例外。印度人口13.8亿，以逼近中国，应该会更快地超过中国，因印度的生育率并未放缓而相反保持走高。</p><p><strong>威胁中国经济增长奇迹</strong></p><p>但比较而言人口减少首先将威胁到的是中国的经济增长的奇迹。雷纳德表示“人口问题是中国经济的中心结构性问题。”，她回顾近几十年中国的经济增长说，人口的增加，更具体地说是劳动人口的增加，“对近几十年来中国经济的增长做出了重大贡献。” 对此《纽约时报》报道更进一步认为人口增长甚至是中国经济模式的支柱之一。英国《金融时报》也指出，过去中国总是可以实现更多的人在工厂工作，增加其制造业的产量，进而促进其国内生产总值（GDP）的增长。</p><p><strong>社会的快速老龄化</strong></p><p>最后一点正如白夏所指出的，这一人口下降反映了中国人口正快速老龄化，这一现象在许多成熟经济体（如德国、日本等）都曾有出现，但中国社会可能对此准备不足。雷纳德强调说，“这导致对就业者的依赖增加，而在一个几乎没有全民福利的国家，意味着可观的支出。” 人们必须要照顾老人，同时也要为自己退休而储蓄存款，这就导致人们更多储蓄，而中国居民现在的储蓄水平已经很高，这不利于消费”。</p><p>因此人口减少和老龄化直接阻碍了习近平发展国内市场、以减少中国经济对出口过度依赖的宏伟计划。</p><p>那么解决这一问题的途径在哪里？如果已出台的放宽计划生育政策不足以阻止人口下降趋势，政府是否应该更进一步、全面放开生育？对此白夏教授这样向本台表示。</p><p><em>白夏：“实际上，鼓励生育似乎是矛盾的，因为中国自1970年以来一直是在努力限制生育。实际上，这是中共取得的一个成功，如果能这样说的话，因为现实已经超出了计划。设想如果中国是保持人口的自然增长率，那么今天将会有20亿人口，中国的处境将更加严峻。因此问题在于，当局是否最终会鼓励出生率。显然，就像我们在放松限制后所看到的，城市居民不愿意更多生育，独生子女也往往倾向只生一个孩子。希望多生的人多是一些欠发达地区，而这不是官方希望看到的，中国最应担心的是人口过度增长，因为中国的可耕地面积不到国土的10%，因此13亿人口已经是相当多了。</em> ”</p><p>针对当前这一人口挑战的解决方案，《纽约时报》说中国政府已经考虑过提高退休年龄，以减少工作与和不工作人群之间日益严重的不平衡。但这一在多国采用、引发不少批评反弹的做法，在中国同样存在质疑和反对，而且这一解决方案只是针对了人口下降所引发的后果，而并不针对其根源。</p><p>雷纳德认为，“这一状况只有在国家建立了更有效的社会保障体系前提下才能扭转，如果生活费用更令人足以承受，可能会说服中国人生育更多的孩子、减少他们在银行的储蓄”。但这样的改革需要时间和资金。雷纳德表示，“应该向负责实施这种社会政策的地方当局分配更多的资源。”同时也有必要组织和计划养老体系机构的建设。</p><p>最后是世界其他国家同样与中国的人口状况利益攸关。英国《金融时报》报道说，中国的人口危机“可能会给中国之外带来极大影响”。如果中国消费放缓，依靠中国市场的外国公司将会面临困难。但另一方面，雷纳德则强调，“一些领域也可以从中受益”。比如建造和经营养老院的公司，她提出在此领域处于领先的法国或者可有所作为。</p>
                </div>
            
                                <br>
