---
layout: post
title: 胡志伟在灵堂逗留37分钟完成仪式
date: 2021-05-09 15:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B8%AF%E6%BE%B3%E5%8F%B0/20210509-%E8%83%A1%E5%BF%97%E4%BC%9F%E5%9C%A8%E7%81%B5%E5%A0%82%E9%80%97%E7%95%9937%E5%88%86%E9%92%9F%E5%AE%8C%E6%88%90%E4%BB%AA%E5%BC%8F
categories: rfi
---

<div>09/05/2021 - 09:22</div><img src="https://s.rfi.fr/media/display/eb812138-b096-11eb-9ae3-005056bff430/w:310/p:16x9/AP20330172929398.jpg"><div class="t-content__body u-clearfix" >
                    <p>因初选案被还柙的胡志伟，今早获短暂保释外出，送别亡父最后一程。今早8时30分，胡志伟身穿白恤衫、深色裤及波鞋步入钻石山殡仪馆，在场人士见状大叫“志伟、加油”。现场有大批军装及便装警员驻守。至早上9时07分，胡志伟在灵堂逗留37分钟完成殓葬仪式后，在多名便装探员陪同下步出殡仪馆，然后登上警车，在场市民大叫“撑住，志伟”，稍后由两部警方私家车护送离开殡仪馆，返回惩教所。</p><p>丧礼结束后，胡的太太下午透过胡志伟facebook专页发文，表示胡志伟今早顺利“尽了身为儿子的孝道，亦可趁这短暂的时刻与年迈母亲一聚，他十分感谢香港人的支持和鼓励。”胡太特意感谢法律团队、民主党的兄弟姐妹、为事件出力的各方好友、钻石山殡仪馆和所有工作人员尽力帮助，并对传媒连来辛努采访表示谢意。她与胡志伟衷心感谢连日来致祭、送上帛金和花牌的家人、亲友和街坊好友。最后她说：“谢谢大家﹗香港人加油﹗”</p><p>根据讣文内容：胡志伟父亲胡潮受先生于公历二零二一年四月十三日与世长辞，享年九十有二。遗体奉移钻石山殡仪馆治丧，谨择公历五月七日（星期五）晚上以道教仪式设灵于二楼慈爱堂。翌日八日（星期六）上午举行大殓，辞灵仪式后随即出殡，奉柩钻石山火葬场火化。</p>
                </div>
            
                                <br>
