---
layout: post
title: 首有官校教师因反修例被「钉牌」 课余漫画批警方亦被指专业失德
date: 2021-05-01 17:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210501-%E9%A6%96%E6%9C%89%E5%AE%98%E6%A0%A1%E6%95%99%E5%B8%88%E5%9B%A0%E5%8F%8D%E4%BF%AE%E4%BE%8B%E8%A2%AB-%E9%92%89%E7%89%8C-%E8%AF%BE%E4%BD%99%E6%BC%AB%E7%94%BB%E6%89%B9%E8%AD%A6%E6%96%B9%E4%BA%A6%E8%A2%AB%E6%8C%87%E4%B8%93%E4%B8%9A%E5%A4%B1%E5%BE%B7
categories: rfi
---

<div>01/05/2021 - 10:29</div><img src="https://s.rfi.fr/media/display/325641d8-aa57-11eb-baa6-005056bf87d6/w:310/p:16x9/thumbnail_1.5%20hk1.jpg"><div class="t-content__body u-clearfix" >
                    <p>因脸书发言和漫画而被人在去年初匿名投诉的，是网名「「vawongsir」的黄姓中学通识及视艺科教师，他上月29日在脸书和其后接受传媒访问时披露，被投诉后半年，校方以「资金不足」为由，不与他续约；亦有不少朋友「unfriend」和不再分享他的帖文和创作。日前更收到教育局的裁决，指「vawongsir的漫画对政府或警察提出『无理』指控，例如法治已死、警黑勾结……」，故此投诉成立。他「为此耿耿于怀：原来视艺教师课余画画也是错的！」</p><p>教育局在向立法会提交的文件表明，即使教师的言行在校外发生或与教学工作无直接关系，该局仍会积极跟进，强调不会接受行为不检、道德水平低劣、散播歪理的人士担任教师。</p><p>黄老师对被裁定教育专业失德感到无奈，但现今香港，他对有罪无罪的界线已感到模糊，但相信日后历史会还他清白。</p><p>教育局的裁决未告知他会有何惩罚，但无论是谴责抑或「钉牌」，已教授视艺廿多年的他预计，随着政治清算不断扩大，终有一天可能难以再次踏入校园授课，因为「在政府眼中不拥护政府的，就是寻衅滋事的暴徒」，不久将来，更可能要教师宣誓和经审查才可执教。</p><p><strong>四名教师被钉牌 三人涉教学内容被批</strong></p><p>在黄老师发帖后两日，教育局昨(4月30日)在提交立法会的文件透露，上月再多两名教师被取消教师注册。据了解，二人分别是涉及专业失德的龙翔官立中学教师，以及一名因参与违法行为而被定罪的教师。连同之前两名因投诉而遭「钉牌」的教师，因反修例事件而遭「钉牌」的教师增至四人。</p><p>据了解，教育局是根据前年10月一个匿名投诉而向被「钉牌」教师长开调查，认为他在通识科教学上「持续采用大量、单一角度和偏颇立场的材料」，又指其内容「散播仇恨和偏见的讯息，以及灌输不当价值观，侧重贬损国家，挑起学生对国家、中国人民的反感，以及打击学生的国民身份认同」。局方裁定，上述行为和价值观违反教师专业操守，有负社会期望，带来负面影响。</p><p>教协指出，上述个案的教师已撰写详尽回复反驳局方指控 但涉事教师仍未收到局方就取消注册的正式通知，因此未能完全掌握相关理据，并作进一步评论。</p><p>根据教育局文件，自2019年6月中反修例事件至去年年底，局方共接获269宗有关专业失德的投诉，在已完成调查的259宗个案中，99宗不成立。文件续指，除钉牌外，局方已向42名教师发出谴责信，向43名教师发出书面警告，而在前年「6．12」事件中眼睛受伤的教师杨子俊，昨于社交媒体上公布，当局就他「不恰当言论」的投诉发出「劝喻信」。不过，他早前已没有获得校方续约，其后曾透过众筹得款应付律政司的检控。</p>
                </div>
            
                                <br>
