---
layout: post
title: 法国政府不明说地向所有人开放疫苗接种？
date: 2021-05-05 05:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B3%95%E5%9B%BD/20210504-%E6%B3%95%E5%9B%BD%E6%94%BF%E5%BA%9C%E4%B8%8D%E6%98%8E%E8%AF%B4%E5%9C%B0%E5%90%91%E6%89%80%E6%9C%89%E4%BA%BA%E5%BC%80%E6%94%BE%E7%96%AB%E8%8B%97%E6%8E%A5%E7%A7%8D
categories: rfi
---

<div>04/05/2021 - 23:20</div><img src="https://s.rfi.fr/media/display/3b798b7c-a21d-11eb-92a3-005056bff430/w:310/p:16x9/phpJs11bn.png"><div class="t-content__body u-clearfix" >
                    <p>就此，法国卫生部长韦兰周二以“常情”为名做出了回应。周二在法国欧洲一号电台上，当记者问到法国政府是不是不官方宣布但实际上是对所有人开放疫苗接种时，法国卫生部长回答说，“我们选择了常情”。</p><p>法国卫生部长进一步表示说，“我本来是可以让400万年龄在18-50岁之间的肥胖者或患有慢性病的人，在疫情流行期间，去看医生，让诊所更加拥挤，让医生给他们出具病情证明，但是，“我相信法国人”。</p><p>法国卫生部长还说，“可能有人钻空子，但这会是微不足道的。”法国卫生部长补充说，疫苗接种中心的医疗团队会对来接种疫苗的人进行评估”。</p><p>在法国北部的一个疫苗接种中心，该中心的协调员告诉法新社说，如果来接种的人拿他不当回事的话，是会让他以后再来的。不过“不可避免地会有一些人钻空子，...资格标准虽然存在，但是由于没有检查措施，总的来说，任何人都可以接种疫苗。”</p>
                </div>
            
                                <br>
