---
layout: post
title: Chickeeduck 店开业数天大批顾客花钱支持惩罚国安处
date: 2021-05-08 17:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B8%AF%E6%BE%B3%E5%8F%B0/20210508-chickeeduck-%E5%BA%97%E5%BC%80%E4%B8%9A%E6%95%B0%E5%A4%A9%E5%A4%A7%E6%89%B9%E9%A1%BE%E5%AE%A2%E8%8A%B1%E9%92%B1%E6%94%AF%E6%8C%81%E6%83%A9%E7%BD%9A%E5%9B%BD%E5%AE%89%E5%A4%84
categories: rfi
---

<div>08/05/2021 - 10:45</div><img src="https://s.rfi.fr/media/display/af12018a-afd9-11eb-864b-005056bff430/w:310/p:16x9/Capture-525.PNG"><div class="t-content__body u-clearfix" >
                    <p>Chickeeduck行政总裁周小龙向《立场》表示，仍为昨日的事感愤怒，批评国安处人员态度恶劣；对于今日有多名市民到场支持，他感动地称“屡次睇到香港人好厉害”下午约两时，记者在现场观察，Chickeeduck 荃湾店门外排起长长人龙，逾 40 人轮候入店。有在附近围观的街坊笑说，经“共产党宣传”，店铺生意大增。周小龙再次批评国安处人员搜查态度恶劣，有如“烂仔”，对于今日大批市民到场支持，周小龙笑称“好似唔驶返工咁”、“屡次睇到香港人好厉害。”但他强调，今次开店不是为了“自焚”，而是享受应有的自由。</p><p>他又透露，昨晚一名员工因国安处搜查而辞职，但表示绝对体谅，他亦已吩咐其他员工，日后有同类型事件发生，所有职员须立即离开店铺，以减低被牵连的风险，“唔希望佢哋要 go through harassment”。</p><p>周小龙接受访问期间，不少市民要求合照，又向他大叫加油，更有市民特意送上“黄店”饮品。</p><p>陈女士平日不时到 Chickeeduck 其他分店购物，今日偕友人专程跨区到荃湾支持，她表示昨日有观看直播跟进事件，批评警方“无理由无啦啦搞人，人哋只系做生意”，叹言“香港沦落到咁 ”，唯有尽力支持；她又指，“就算咩天气、者排几耐队都要嚟帮衬，就好似之前亚布泰咁。”排队近半小时后，她们终能入店购物，最后花费逾 500 元购入数件衣服及凤梨酥。</p><p>同样特意到场支持，戴着“F.D.N.O.L”黄色口罩的 73 岁林婆婆指，今日是要“惩罚”Chickeeduck，形容昨日看到新闻“火都嚟埋一路闹”，“嬲到无咩形容词可以形容”。她又说，香港市民现时可以做的只有“跟住自己立场做良心嘢。”在旁的友人 Kitty 则指，“游行唔比，排队买嘢都唔俾咩？”</p><p>在 Chickeeduck 工作的文员 Tina 表示，原本于写字楼工作，但因今日前来支持的市民比预期中多，店员应接不暇，所以须到门市协助管理人流。她表示，看到有那么多市民特意来支持很感动，指今日虽然是平日下午，但顾客人数甚至比以往的星期六、日假期还要多，“香港人好 OK，无沉过”。</p><p>她又提到，原本店铺的存货量可应付约一星期，但今日已要再补货，经过昨日的搜查，Tina 指“无得担心咁多”，只能正常做生意，又透露老板周小龙事后有向员工交代，表明假如有忧虑，可以避免在铺面工作。</p><p>据警方消息指，国安处人员到场调查，主要跟铺外的招牌上，有“光复香港、时代革命”的大型涂鸦有关，国安处的调查范围涉及铺内所出售的物品。不过，警方昨日搜铺后，未有带走任何物品。</p>
                </div>
            
                                <br>
