---
layout: post
title: 中国男驾皮艇登岛，吓台湾一跳，防长承认疏失
date: 2021-05-04 00:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B8%AF%E6%BE%B3%E5%8F%B0/20210503-%E4%B8%AD%E5%9B%BD%E7%94%B7%E9%A9%BE%E7%9A%AE%E8%89%87%E7%99%BB%E5%B2%9B%EF%BC%8C%E5%90%93%E5%8F%B0%E6%B9%BE%E4%B8%80%E8%B7%B3%EF%BC%8C%E9%98%B2%E9%95%BF%E6%89%BF%E8%AE%A4%E7%96%8F%E5%A4%B1
categories: rfi
---

<div>03/05/2021 - 18:28</div><img src="https://s.rfi.fr/media/display/da559c62-ab1f-11eb-8da1-005056a9b1a7/w:310/p:16x9/twhx.jpg"><div class="t-content__body u-clearfix" >
                    <p>台湾国防部长邱国正周一表示，当局正在对来自中国大陆的男子驾橡皮艇穿越台湾海峡，登陆台湾寻求政治庇护一事展开调查。</p><p>上周六台湾警方表示，一名周姓男子在台中市港口被拘留，因为当地人在一个堤坝附近发现了他，并说他行为可疑。</p><p>警方说，这名男子告诉他们，他从中国东南沿海的福建出发，驾驶一艘装有舷外马达和90升燃料的橡胶小艇。该男表示自己想到台湾寻求 "自由和民主"。</p><p>这名中国男以驾皮艇方式顺利抵台，令一些台湾人吃了一惊，因为这显示台湾边防可能有安全漏洞。台湾国防部长邱国表示，正在调查安全方面的"缺失"。</p><p>邱国正周一向记者们表示，"我们将与海岸警卫队取得联系，有情况时我们会通知对方，找出原因，并进行改进。"  </p><p>据法新社说，台湾海峡是世界上警戒最严的水路之一。两岸双方的海军和海岸警卫队的船只都密切关注着180公里（110英里）的海峡。</p><p>虽然历史上大陆与台湾双方曾有过叛逃行为--一些中国国民飞往台湾请求庇护--但穿越海峡的水上旅行却十分罕见，特别是考虑到台北控制着离中国海岸线仅几英里的几个岛屿。而且台湾海峡的天气也是出了名的不可预测，到台湾去寻求避难是一种冒险的策略。</p><p>台湾不承认庇护的概念，部分原因是担心中国特工渗透，也因为它希望在疫情危机时期阻止任何外来的人涌入。来自中国的非法移民已被遣返，台北有时对持不同政见者的存在睁一只眼闭一只眼。多年来，某些中国难民被悄悄地批准留下来。台湾也欢迎试图逃避北京镇压的香港人。</p>
                </div>
            
                                <br>
