---
layout: post
title: 奈及利亚拚防疫 禁两周内去过巴西印度外籍客入境 – 法国国际广播电台 - RFI
date: 2021-05-02 21:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%A5%88%E5%8F%8A%E5%88%A9%E4%BA%9A%E6%8B%9A%E9%98%B2%E7%96%AB-%E7%A6%81%E4%B8%A4%E5%91%A8%E5%86%85%E5%8E%BB%E8%BF%87%E5%B7%B4%E8%A5%BF%E5%8D%B0%E5%BA%A6%E5%A4%96%E7%B1%8D%E5%AE%A2%E5%85%A5%E5%A2%83
categories: rfi
---

<div>02/05/2021 - 15:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社奈及利亚阿布加2日电）    奈及利亚卫生当局今天表示，由于担心巴西、印度及土耳其2019 冠状病毒疾病（COVID-19）疫情严峻，将禁止过去两周去过这3个国家的非奈及利亚籍旅客入境。</p><p>    COVID-19总统指导委员会在声明中说，旅行禁令不适用只是经过这些国家的过境旅客。</p><p>    声明中说：「这些预防措施是必要步骤，以期将从其他国家传入奈及利亚的病例激增的风险降至最低。」</p><p>    声明表示：「过去14天去过这些国家的奈及利亚人和永久居民抵达后，必须在政府批准的设施接受一周的强制隔离。」</p><p>    所有抵达奈及利亚的乘客现在都必须出示证明，显示在出发前72小时内接受病毒检测呈阴性反应，而非先前规定的96小时内检测阴性证明。</p><p>    奈及利亚是非洲人口最多的国家，自2019年底疫情首度在中国出现以来，奈及利亚仅通报16万5000多起确诊病例及2063人不治。（译者：林沂锋/核稿：林治平）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
