---
layout: post
title: 有媒体称林郑二儿子林约希获美国斯坦福博士后录取了 或不涉制裁
date: 2021-05-07 18:45:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210507-%E6%9C%89%E5%AA%92%E4%BD%93%E7%A7%B0%E6%9E%97%E9%83%91%E4%BA%8C%E5%84%BF%E5%AD%90%E6%9E%97%E7%BA%A6%E5%B8%8C%E8%8E%B7%E7%BE%8E%E5%9B%BD%E6%96%AF%E5%9D%A6%E7%A6%8F%E5%8D%9A%E5%A3%AB%E5%90%8E%E5%BD%95%E5%8F%96%E4%BA%86-%E6%88%96%E4%B8%8D%E6%B6%89%E5%88%B6%E8%A3%81
categories: rfi
---

<div>07/05/2021 - 12:23</div><img src="https://s.rfi.fr/media/display/6f5ce6d4-6468-11eb-81ab-005056bff430/w:310/p:16x9/hk-3.png"><div class="t-content__body u-clearfix" >
                    <p>苹果日报今天报道说，传林郑次子获斯坦福聘用，须183日内返美。该报道称，美国财政部去年公布制裁包括林郑等11名中国及香港官员后，《传真社》曾报道指，本在美国哈佛大学攻读数学博士的林约希，突然向友人透露“家有急事”需返港。据《香港01》报道指，林约希在哈佛大学的个人网页资料显示，他将于今年秋天出任法国高等科学研究所（IHES）及美国斯坦福大学（Stanford）的博士后研究员，意味他已取得哈佛大学数学博士学位。</p><p>根据斯坦福大学网页，博士后研究员属合约制职位，研究员由下个学年起， 每年至少可获6.5万美元（即约50.4万港元），而因应疫情肆虐，所有博士后研究员受聘期间，不得在海外逗留超过183日。</p><p>该报道称，翻查资料，美国国务院去年回复《苹果》查询时表示，前美国总统特朗普签署的“香港正常化”行政命令中，有关制裁及签证限制只针对订明人员，并不针对直系亲属，但指若有关直系亲属包括子女的财务联系与被制裁者有混杂，则有遭冻结财产的风险。</p><p>该报道说，《苹果》正就事件向特首办及林约希查询，暂时未有回应。</p>
                </div>
            
                                <br>
