---
layout: post
title: 官方报告：中国农民工2.85亿人月均收入4072元
date: 2021-05-01 16:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210501-%E5%AE%98%E6%96%B9%E6%8A%A5%E5%91%8A-%E4%B8%AD%E5%9B%BD%E5%86%9C%E6%B0%91%E5%B7%A52-85%E4%BA%BF%E4%BA%BA%E6%9C%88%E5%9D%87%E6%94%B6%E5%85%A54072%E5%85%83
categories: rfi
---

<div>01/05/2021 - 10:29</div><img src="https://s.rfi.fr/media/display/3129f412-aa57-11eb-a466-005056a964fe/w:310/p:16x9/nmggs2.jpg"><div class="t-content__body u-clearfix" >
                    <p>据中央社报道说，中国官方发布报告指出，2020年全国农民工总计2亿8560万人，年减1.8%；农民工月均收入人民币4072元，年增2.8%。</p><p>根据官方定义，农民工是指户籍仍在农村，年内在本地从事非农产业或外出从业6个月及以上的劳工。他们是中国基层劳动大军。</p><p>中国国家统计局30日发布“2020年农民工监测调查报告”显示，2020年全国农民工总量2亿8560万人，比2019年减少517万人，下降1.8%。其中，外出农民工1亿6959万人，比上年减少466万人，下降2.7%；本地农民工1亿1601万人，比上年减少51万人，下降0.4%。</p><p>报告显示，农民工2020年月均收入4072元，比上年增加110元，增长2.8%。其中，外出农民工月均收入4549元，比上年增加122元，增长2.7%；本地农民工月均收入3606元，比上年增加106元，增长3.0%。</p><p>2020年在疫情垄罩下，报告称，从事第三产业（服务业）的农民工比重为51.5%，比上年微增0.5%。其中，从事批发和零售业的农民工比重为12.2%，微增0.2%；从事住宿餐饮业的农民工比重均为6.5%，微减0.4%。其他行业中，从事卫生和社会工作、公共管理、社会保障和社会组织的比重有所增加。</p><p>据报告，从事第二产业的农民工比重为48.1%，比上年下降0.5%。其中，从事制造业的农民工比重为27.3%，比上年微减0.1%；从事建筑业的农民工比重为18.3%，下降0.4%。</p><p>报告指出，在各地区就业的农民工月均收入均有增长。其中，在东部地区就业的农民工月均收入4351元最高；其次是西部地区的3808元；东北地区最少，月均收入3574元。</p><p>分行业看，从事制造业的农民工，收入增长最多，月均收入4096元，比上年增加138元，增长3.5%；从事交通运输仓储和邮政业农民工月均收入4814元，比上年增加147元，增长3.1%；从事建筑业农民工月均收入4699元，比上年增加132元，增长2.9%。从事住宿餐饮业农民工月均收入3358元，比上年增加69元，增长2.1%；从事批发和零售业农民工月均收入3532元，比上年增加60元，增长1.7%；从事居民服务修理和其他服务业农民工月均收入3387元，比上年增加50 元，增长1.5%。</p>
                </div>
            
                                <br>
