---
layout: post
title: 埃塞俄比亚向安理会投诉后 美国代表团访问喀土穆与苏丹将复兴大坝蓄水问题称为国家安全问题
date: 2021-05-04 16:36:03.000000000 +08:00
link: http://chinese.aljazeera.net/news/2021/5/4/%e5%9f%83%e5%a1%9e%e4%bf%84%e6%af%94%e4%ba%9a%e5%90%91%e5%ae%89%e7%90%86%e4%bc%9a%e6%8a%95%e8%af%89%e5%90%8e%e7%be%8e%e5%9b%bd%e4%bb%a3%e8%a1%a8%e5%9b%a2%e8%ae%bf%e9%97%ae%e5%96%80%e5%9c%9f%e7%a9%86
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/image-77.jpg?resize=770%2C513" srcSet="/wp-content/uploads/2021/05/image-77.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/05/image-77.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/05/image-77.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/05/image-77.jpg?resize=570%2C380 570w, /wp-content/uploads/2021/05/image-77.jpg?resize=770%2C513 770w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, (max-width: 770px) 770px, 770px" alt="<div class="wysiwyg wysiwyg--all-content"><p>由参议院两名著名议员率领的美国代表团当地时间5月3日抵达苏丹，以讨论该地区紧张局势，与此同时，关于在青尼罗河上修建的埃塞俄比亚复兴大坝第二次蓄水事宜的争端不断升级。</p>
<p>苏丹媒体报道称，美国代表团——由克里斯托弗·昆兹参议员和克里斯·范·霍伦参议员率领——将与苏丹高级官员举行为期三天的会谈。</p>
<p>值得注意的是，参议员昆兹起草了“苏丹豁免权”法案，该法案于去年年底获得国会批准，以恢复喀土穆对与恐怖主义有关案件的主权豁免权。</p>
<p>与此同时，苏丹外交部长玛丽安·萨迪克·马赫迪表示，她的国家正在将埃塞俄比亚复兴大坝第二次蓄水举动作为“国家安全”问题处理，并再次警告亚的斯亚贝巴在未与喀土穆及开罗达成协议下采取此举的后果。</p>
<p>马赫迪当地时间5月3日发表声明中谈及上述消息，此前，马赫迪与刚果总统费利克斯·齐塞凯迪（Felix Tshisekedi）在该国首都金沙萨举行了会晤，以此结束马赫迪从4月29日开启的非洲访问之旅，本次访问国家包括肯尼亚、卢旺达和乌干达，以解释她的国家在复兴大坝争端中所持立场。</p>
<figure id="attachment_190253" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-190253" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/h_56733564.jpg?w=770&amp;resize=770%2C505" data-recalc-dims="1" />苏丹外交部长声称，复兴大坝蓄水问题是影响数百万苏丹人生活的国家安全问题（欧洲通讯社-资料图）</figure>
<p>苏丹外交部长强调了她的国家对目前担任非洲联盟轮值主席国领导层的信心，并表示，苏丹相信刚果领导层将“认真负责处理与复兴大坝问题并支持就复兴大坝举行的谈判<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p>马赫迪表示，“苏丹最大程度地关注复兴大坝第二次蓄水问题，因为这是一个国家安全问题，影响着青尼罗河和尼罗河上数百万苏丹人的生活<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p>马赫迪强调，三个国家（苏丹、埃及和埃塞俄比亚）必须在7月之前，就复兴大坝的蓄水和运营问题达成全面和具有约束力的法律协议。</p>
<p>苏丹发表声明称，费利克斯·齐塞凯迪总统在会议上表达了他“对苏丹立场和明确要求的理解”，并承诺将竭尽所能，“寻求解决危机的办法，以满足各方的利益和关切，并实现该地区的安全与稳定<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p><img class="aligncenter size-fantasia-770 wp-image-190259" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/image-10.jpg?w=770&amp;resize=770%2C433" data-recalc-dims="1" /></p>
<p>埃塞俄比亚坚持要求在7月和8月下一个雨季时开始对复兴大坝的第二次蓄水，尽管遭遇埃及和苏丹的反对，开罗和喀土穆并要求首先就复兴大坝蓄水和运营达成三方协议，以保护其水利设施并确保其尼罗河水年度水量持续增长，据悉，埃及和苏丹的尼罗河水份额分别估计为555亿立方米和185亿立方米。</p>
<p>在谈判陷入僵局背景下，最近的严厉声明和相互指责愈演愈烈。</p>
<h3>向安理会投诉</h3>
<p>埃塞俄比亚媒体当地时间5月2日透露，埃塞俄比亚外交部长德梅克·梅孔嫩（Demeke Mekonnen）上周致信联合国安理会，指责埃及和苏丹试图破坏稳定。</p>
<p>埃塞俄比亚媒体报道称，埃塞俄比亚在信函中谈及，开罗和喀土穆签署了一项“绕开战争威胁”的双边军事协议，并试图通过中断复兴大坝问题国际化的谈判来向亚的斯亚贝巴施加压力。</p>
<p>上述投诉信函中还指出，“埃及和苏丹的行动表明，他们缺乏对非洲联盟原则的尊重和破坏稳定的愿望<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p>苏丹和埃及两国军队参谋长三月份签署了一项军事合作协议，内容涉及培训和边境安全领域，以及双方就埃塞俄比亚在尼罗河主要分支青尼罗河上修建的复兴大坝问题进行最高级别的政治协调。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台＋通讯社</div><br>
