---
layout: post
title: 日本称中国军舰通过与那国岛-台湾之间海域
date: 2021-05-02 22:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210502-%E6%97%A5%E6%9C%AC%E7%A7%B0%E4%B8%AD%E5%9B%BD%E5%86%9B%E8%88%B0%E9%80%9A%E8%BF%87%E4%B8%8E%E9%82%A3%E5%9B%BD%E5%B2%9B-%E5%8F%B0%E6%B9%BE%E4%B9%8B%E9%97%B4%E6%B5%B7%E5%9F%9F
categories: rfi
---

<div>02/05/2021 - 15:43</div><img src="https://s.rfi.fr/media/display/51075df6-ab4c-11eb-8505-005056bff430/w:310/p:16x9/hwjju.jpg"><div class="t-content__body u-clearfix" >
                    <p>日本称中国军舰通过与那国-台湾之间海域。据共同社今天引述统合幕僚监部报道说，这是首次发布中国军舰通过与那国-台湾之间海域的消息。防卫省认为包括尖阁诸岛（中国称钓鱼岛）周边在内，中方在东海的活动更加活跃，已加强了警惕。</p><p>此外，统合幕僚监部还表示，发现俄罗斯海军的驱逐舰等共2艘舰艇4月30日晚以后经对马海峡南下，驶向了东海。日方已在详细分析中俄各自的意图。日本海上自卫队发现中国护卫舰4月30日凌晨1点前后，在宫古岛东北偏北约150公里的海域航行，出动了巡逻机和护卫舰监视中方护卫舰的动向。</p><p>据该报道称，在冲绳本岛和宫古岛之间海域，中国海军航母“辽宁舰”等的舰队4月曾往返航行，还发现有中方巡逻机和情报收集机飞行。</p>
                </div>
            
                                <br>
