---
layout: post
title: 耶路撒冷冲突逾200伤 以色列或有进一步抗议 – 法国国际广播电台 - RFI
date: 2021-05-08 22:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E8%80%B6%E8%B7%AF%E6%92%92%E5%86%B7%E5%86%B2%E7%AA%81%E9%80%BE200%E4%BC%A4-%E4%BB%A5%E8%89%B2%E5%88%97%E6%88%96%E6%9C%89%E8%BF%9B%E4%B8%80%E6%AD%A5%E6%8A%97%E8%AE%AE
categories: rfi
---

<div>08/05/2021 - 16:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社耶路撒冷8日电）    以色列警察与巴勒斯坦人在耶路撒冷艾格撒清真寺（Al-Aqsa Mosque）爆发暴力冲突，造成200多人受伤后，以色列今天面临更多的抗议，欧美等国则呼吁保持冷静。</p><p>    昨天巴勒斯坦人在伊斯兰第3大圣地艾格撒清真寺朝以色列镇暴警察丢掷石块、瓶子和鞭炮，警方则发射橡胶子弹、催泪瓦斯和闪光弹反击。</p><p>    以色列警方表示，有17名员警受伤。巴勒斯坦红新月会（Palestinian Red Crescent）则通报，在艾格撒清真寺和被以色列兼并的东耶路撒冷发生的暴力冲突中，有205名巴勒斯坦人受伤。</p><p>    阿拉伯裔以色列人倡议团体呼吁今天发动示威，声援耶路撒冷巴勒斯坦人。阿拉伯裔占以色列总人口的20%。</p><p>    以色列的坚定盟友美国表示，「极度关切」这起事件，并敦促双方「避免采取升高紧张局势，或离和平更加遥远的举措」。</p><p>    美国国务院表示：「这包括在东耶路撒冷进行强行驱逐、兴建屯垦区、拆毁民宅和恐怖主义行为。」</p><p>    欧洲联盟呼吁当局「采取紧急行动缓和耶路撒冷目前的紧张局势」，还说「无法接受暴力和煽动行为，必须对各方的违法人士追究责任」。</p><p>    巴勒斯坦自治政府主席阿巴斯（Mahmud Abbas）表示，他认为以色列政府必须为这起冲突「负责」，并表达「全力支持艾格撒清真寺的英雄」。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
