---
layout: post
title: 最大的梦魇消散：拜登时代的约旦将如何应对内塔尼亚胡？ | 约旦 | 半岛电视台
date: 2021-05-09 10:36:05.000000000 +08:00
link: http://chinese.aljazeera.net/opinions/long-reads/2021/4/5/%e6%9c%80%e5%a4%a7%e7%9a%84%e6%a2%a6%e9%ad%87%e6%b6%88%e6%95%a3%e6%8b%9c%e7%99%bb%e6%97%b6%e4%bb%a3%e7%9a%84%e7%ba%a6%e6%97%a6%e5%b0%86%e5%a6%82%e4%bd%95%e5%ba%94%e5%af%b9%e5%86%85%e5%a1%94%e5%b0%bc
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/العاهل-وبايدن.jpg?resize=570%2C380" srcSet="/wp-content/uploads/2021/04/العاهل-وبايدن.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/04/العاهل-وبايدن.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/04/العاهل-وبايدن.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/04/العاهل-وبايدن.jpg?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><p>3月23日，以色列总理内塔尼亚胡在一段宣传短片中面带笑容地说道，“我有一个好消息要告诉以色列的穆斯林公民们”，他接着用手指向一幅巨大的地图，并指着地图上特拉维夫至麦加之间的位置说道，“你们梦想着从特拉维夫直飞麦加，无需中转、无需中介，也无需高昂的费用……而这个梦想即将实现<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p>作为以色列最重要的政治人物，内塔尼亚胡在不到两年的时间内参与的第四次选举中，巧妙地将以色列境内的巴勒斯坦人作为目标。在此之前，3月11日的新闻重点报道了内塔尼亚胡本人未能在当天前往阿联酋首都阿布扎比的消息，他们也因此密切关注事件的后续进展。这可谓是内塔尼亚胡计划所遭受的挫败——他试图在以色列大选举行的前几天内，完成对阿布扎比的首次正式访问，以展示他为以色列和阿联酋签署历史性的正常化协议而取得的政治胜利。</p>
<p>但更大的意外是，破坏了内塔尼亚胡此次历史性访问的幕后黑手竟然是约旦——约旦拒绝允许以色列总理的飞机通过其领空。早在几年前，约旦与内塔尼亚胡之间的关系便已经恶化，而约旦也因此想要给内塔尼亚胡一个严厉的教训，并向这位美国前总统特朗普的亲密盟友发出一个明确的信号——他应当停止那些继续将约旦边缘化的政策。而约旦采取这种立场的表面原因，很可能是由于以色列在几天前改变了约旦王储侯赛因·本·阿卜杜拉的访问计划。据悉，约旦王储原计划访问耶路撒冷圣殿山，但以色列却以王储携带武器超出规定为由，改变了他的访问计划。约旦方面认为，这严重触犯了约旦在耶路撒冷的历史性作用，而这种作用正因阿拉伯和以色列持续的正常化而面临着威胁。</p>
<figure id="attachment_183650" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-183650" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-01T080850.877.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" />约旦国王阿卜杜拉二世（左）与以色列总理内塔尼亚胡</figure>
<p>显然，以色列和约旦之间真正的问题并不在于对这次访问细节所产生的分歧。在特朗普担任美国总统的4年期间，约旦是受地区紧张局势和冲突影响最大的国家之一。现在，约旦决定采取行动以保护其切身利益，并尽力结束任何对其内部稳定、外交政策甚至地区威望构成巨大挑战的行为。约旦采取这项关键性的政策，部分是因为乔·拜登率领的新一届美国政府宣布坚持两国方案并坚持与约旦的历史伙伴关系，而这种趋势让约旦看到了机会，以制止内塔尼亚胡傲慢自大，为约旦遭遇的政治边缘化和安全威胁实施报复，并为约旦与最终解决巴勒斯坦问题相关的切身利益遭到的蓄意破坏作出反击。</p>
<h3>特朗普政府：约旦最大的梦魇</h3>
<p>在2010年底席卷该地区的抗议浪潮中，约旦也未能逃脱，但是该国相对平静的抗议活动却并未像某些邻国那样导致发生根本性的转变或内乱。约旦的君主专制政权满足了成千上万的约旦人提出的诉求：政府换届并采取解决该国经济危机的措施。同样，在2018年因税收问题而爆发的第二轮抗议浪潮，实际上却加强了约旦与海湾国家之间的关系。</p>
<p>约旦当时采取的多种立场，都与跟特朗普政府完全统一的沙特-阿联酋联盟的立场不一致，因此，约旦并没有像埃及那样，对沙特在也门战争中的政策表示绝对的支持，而且在针对卡塔尔的海湾危机中也采取了中立的立场，并拒绝支持特朗普提出的、被称为“世纪交易”的中东和平计划，还拒绝了以色列从事实上吞并约旦河西岸土地的政策。由于约旦所采取的独立政策，海湾地区决定不再向约旦提供常规的财政援助——由沙特牵头的海湾合作委员会在2011年12月承诺向约旦提供价值25亿美元的资金援助，而在2016年12月的份额到位后，这笔资金就宣告中断，直至2018年6月才开始恢复，也就是在抗议活动爆发的两周之后，因为这些抗议活动恢复了海湾地区对维持约旦稳定的重视，并促使双方付出努力以克服外部的分歧。</p>
<p>虽然约旦在过去几年中竭力坚持其政治立场，但是由于该国所遭遇的经济苦难和高达30亿美元的预算赤字（其总预算为110亿美元），约旦政权在2019年之后不得不对战略作出部分改变，以缓和地区的紧张局势并获得海湾国家的支持。其中最重要的就是，约旦在2020年7月决定以“未能纠正其法律状态”而解散了穆斯林兄弟会，而就在这项决定出台之后，自2017年成立以来便一直处于闲置状态的沙特-约旦投资基金便立即投入运作。</p>
<p>尽管发生了上述的一切，但约旦的主要困境仍然是它与美国之间关系的恶化。双方之间的关系始于70年前，却在特朗普执政时期达到最糟糕的状态，两国之间长期的伙伴关系遭遇了前所未有的苦难、紧张与不信任。紧张局势始于约旦国王在特朗普上任初期对了解这位新总统及其政府的尝试，但却发现，美国这种陌生的外交政策打破了许多与巴勒斯坦问题相关的红线，并破坏了约旦在地区的作用。例如，在约旦国王阿卜杜拉2017年2月2日与特朗普举行首次会晤后的第二天，特朗普政府便宣布，以色列在约旦河西岸建立的定居点“不是和平之路上的障碍”。而在随后的4年内，约旦与美国之间仍然关系冷淡，约旦国王阿卜杜拉与美国总统特朗普之间的5次直接会晤都未能成功改变特朗普与其以色列和海湾盟友的冒险行动产生的破坏。</p>
<p>然而，美国特朗普政府与约旦国王之间长期的冷淡关系，也并没有根本性地改变两国之间的战略关系。尽管特朗普试图将对约旦价值12.8亿美元的年度援助金额削减30%，但是这个想法遭到了美国国会的反对，而美国也继续向约旦提供军事和经济援助资金，并让约旦获得了价值15亿美元的援助，其中10.82亿美元是通过美国国际开发署提供的经济援助，另外4.25亿美元则是军事援助。此外，根据双方在2018年签署的谅解备忘录，美国还承诺在5年内约旦提供63.75亿美元，而约旦也继续维持着它与美国之间的自由贸易协定。需要指出的是，约旦是第一个与美国签署自由贸易协定的阿拉伯国家。</p>
<h3>“世纪交易”</h3>
<p><img class="aligncenter size-fantasia-770 wp-image-183657" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-01-05T115103.348.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>特朗普提出了富有争议的中东和平计划——“世纪交易”，并在其整个总统任期中为该计划的实施提供帮助。在这个过程中，美国驻以大使馆的迁址、美国切断对联合国近东巴勒斯坦难民救济和工程处（简称“近东救济工程处”）的资金供应，都导致美国与约旦之间的关系不断紧张。但是，约旦所面临的最大困境，却是巴勒斯坦难民危机爆发所产生的人口和地缘政治影响，这种影响可能改变约旦的社会结构以及它在阿拉伯世界内重要的地缘政治作用。这项计划对巴勒斯坦问题的清算，威胁到了约旦对其赋予的国家定位，此外，该计划提出的在约旦和西岸之间打造联邦项目以安置巴勒斯坦人的内容，也遭到了约旦的果断拒绝。</p>
<p>因此，在对特朗普连任的严重担忧中，约旦密切关注着去年11月美国大选的结果，与此同时，阿卜杜拉国王决定采取实际的路线以应对特朗普获胜的可能性，因此，他在2020年9月解散了约旦国民议会，并呼吁举行新的选举以组建新一届议会，旨在预备好应对任何可能出现的政治风暴，特别是那些与巴勒斯坦问题和约旦境内超过200万的巴勒斯坦难民命运相关的政治风暴。</p>
<p>在外交政策方面，约旦国王也付出了艰苦的努力，以使约旦与海湾国家之间的关系在经历了4年的停滞之后恢复活力。约旦国王制定了满满的计划表，其中包括振兴约旦外交的实际措施，并于去年11月18日前往阿联酋首都阿布扎比，与巴林和阿联酋的首脑举行了三方峰会，并在峰会上重申了在两国方案的基础上实现公正和全面的和平的重要性，以确保在1967年边界的框架内，建立一个以东耶路撒冷为首都的、拥有独立与主权的巴勒斯坦国。除上述内容之外，约旦国王还于当月晚些时候在红海上的亚喀巴港会见了巴勒斯坦权力机构主席马哈茂德·阿巴斯，并在这场会议出台的特别声明中强调，“约旦坚决巴勒斯坦人建立独立国家的合法权利”。</p>
<h3>拜登：约旦恢复伙伴关系的机会</h3>
<p><img class="aligncenter size-fantasia-770 wp-image-183659" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-01T082844.596.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>随着2020年11月的结束，特朗普离开白宫的消息终于让约旦松了一口气。约旦国王熟知的拜登将成为下一届美国总统，他也因此成为第一批祝贺拜登胜选的阿拉伯领导人之一。当时，阿卜杜拉发布推文，祝贺拜登及其副手卡马拉·哈里斯的胜利，并在几天后致电美国总统，对两国合作的未来进行了一场令人安心的交谈。约旦国王坚信，拜登政府将表现出与美国在中东地区的传统战略相符的更加平衡的态度。他还继续为加强他与以埃及和沙特为首的美国传统盟友之间的关系而开拓外交之路，特别是在与巴勒斯坦相关的问题上。其中，阿卜杜拉国王在拜登就职典礼的前夜访问了埃及总统塞西，还于3月8日在利雅得会见了沙特王储穆罕默德·本·萨勒曼，此次访问是在双方长达两年的冷淡关系后进行的，报道称之为“超越正式协议的私人与兄弟般的访问性质”。</p>
<p>但是，约旦恢复其地区作用的进程却未能实现，因为它面临着多个障碍，第一就是海湾国家与以色列之间正在形成一个以遏制伊朗为目标的新兴同盟，这就意味着约旦国王将难以说服阿拉伯国家领导人相信以维护巴勒斯坦稳定的方式公正解决巴勒斯坦问题的重要性。此外，如果内塔尼亚胡成功在最后一场选举中维持其统治权力，那么阿卜杜拉国王将在与他打交道时面临特殊的挑战。除此之外，约旦预计拜登可能无法推翻特朗普有关巴勒斯坦问题的某些决定，这就意味着约旦需要动用其全部的地区影响力，并恢复原有的联盟，以推动巴勒斯坦问题回归美国人在上世纪90年代设立的红线之内。</p>
<p>尽管如此，约旦手中仍然拥有许多筹码，可以帮助其逐步恢复它在地区内的作用。其中最重要的就是它在巴勒斯坦问题上不可替代的作用，尽管受到关系正常化、阿拉伯世界分裂和美国政府立场不明确等问题的影响，但是约旦与巴勒斯坦权力机构之间的紧密关系却在特朗普时期变得更加牢固。据信，约旦为恢复巴勒斯坦权力机构和美国新一届政府之间的关系付出了努力，此后，美国政府向巴勒斯坦人提供了1500万美元的资金，以帮助应对西岸和加沙地区新冠疫情的蔓延。</p>
<figure id="attachment_183661" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-183661" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-01T083416.842.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" />约旦国王阿卜杜拉二世与巴勒斯坦总统马哈茂德·阿巴斯</figure>
<p>最后，约旦与美国都有责任恢复双方之间的信任，并重建双方之间曾被特朗普政府摧毁的关系。另一方面，约旦发现自身迫切需要进行经济改革，以削弱因疫情影响而再度爆发抗议活动的可能性，同时，它还需要军事援助、安全合作与难民支持，特别是在叙利亚战争的背景之下，以及以色列定居点对约旦河西岸的侵蚀。而美国也将一如既往地重视维护约旦在中东地区紧张局势中的国家稳定，它还重视为巴勒斯坦问题找到一种令传统盟国都能满意的解决方案，以防止它们像土耳其在近年来所做的那样，寻求可能损害美国在地区及国际上的利益的替代关系。</p>
<p>阿卜杜拉国王及其政府手中还有多张底牌以保护自身作为该地区最后一个要塞的地位。但是，他并不会不计代价地利用这些底牌。美国将必须向约旦提供所需的保障，以维持其稳定，并应对以色列与海湾联盟的扩张。在新任总统尊重美国传统盟友历史遗产的背景之下，约旦面前似乎出现了在未来4年内，将它与美国之间的关系恢复至正确轨道的真正机会，而它也将因此拥有空间来应对内塔尼亚胡的劫掠，并以一种在特朗普执政时期无法采取的方式来摧毁内塔尼亚胡的尊严——正如约旦在两周之前所采取的行动那样。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台</div><br>
