---
layout: post
title: 日相：疫苗是防疫关键 目标一天施打百万剂
date: 2021-05-08 05:45:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%94%BF%E6%B2%BB/20210507-%E6%97%A5%E7%9B%B8-%E7%96%AB%E8%8B%97%E6%98%AF%E9%98%B2%E7%96%AB%E5%85%B3%E9%94%AE-%E7%9B%AE%E6%A0%87%E4%B8%80%E5%A4%A9%E6%96%BD%E6%89%93%E7%99%BE%E4%B8%87%E5%89%82
categories: rfi
---

<div>07/05/2021 - 22:57</div><img src="https://s.rfi.fr/media/display/c599a9de-af76-11eb-bc7b-005056bf87d6/w:310/p:16x9/55bf1bc_5737902-01-06.png"><div class="t-content__body u-clearfix" >
                    <p>为避免新冠疫情扩大，日本政府7日决定，东京都、大坂府、兵库县、京都府等4都府县实施的“紧急事态宣言”解禁日从5月11日延长到5月31日。此外，从12日起追加爱知、福冈这2县，总共6都府县适用紧急事态宣言。</p><p> </p><p>菅义伟7日晚在首相官邸（行政中心）召开记者会表示，原订本月11日到期的紧急事态宣言将延长至5月31日。他表示，疫情迟迟未平息，防疫的关键是疫苗，有更多人接种疫苗，人民才能恢复日常安居乐业的生活。</p><p>他说，从下周开始，全国的自治体将开始大规模为民众接种疫苗，5月24日起，东京、大坂的大规模接种中心将开始启用，目标是一天完成100万剂疫苗接种，希望在7月底以前，让有意愿接种疫苗的所有年长者完成2次接种。中央政府将设法协助自治体进行接种作业。</p><p>有关疫苗接种，菅义伟强调自己会当领头羊，让疫苗接种的作业加速进行。他说，正与美国生技公司莫德纳（Moderna）、诺瓦瓦克斯医药公司（Novavax Inc）协商，要从这两家公司引进日本明年所需的疫苗共2亿剂。</p><p>被媒体问到预定今年夏天举行的东京奥运，菅义伟表示，他知道很多人对举办东奥感到忧心，但美国制药大厂辉瑞（Pfizer）已同意针对参赛选手团无偿提供疫苗。因此，他认为要守护人民的性命与健康，举办一场安全安心的东奥是有可能的，会好好筹备。</p><p>此外，菅义伟表示，目前日本重症者、死亡人数持续急速增加，东京、大坂的重症者当中，20多岁至50多岁的年龄层所占比例增高。抑制年轻世代染疫以免波及高风险年长者是很重要的课题。</p><p>他说，印度目前疫情急剧扩大，也被发现有新的变种病毒株。因此，目前针对来自印度、巴基斯坦以及尼泊尔的入境人士，日本将要求做3次检查以及入境日本6 天内要待在防疫旅馆，以加强边境管制。</p>
                </div>
            
                                <br>
