---
layout: post
title: 中共建党百年与北京恢复联合国地位50年 古特雷斯打电话向习近平表祝贺
date: 2021-05-07 18:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210507-%E4%B8%AD%E5%85%B1%E5%BB%BA%E5%85%9A%E7%99%BE%E5%B9%B4%E4%B8%8E%E5%8C%97%E4%BA%AC%E6%81%A2%E5%A4%8D%E8%81%94%E5%90%88%E5%9B%BD%E5%9C%B0%E4%BD%8D50%E5%B9%B4-%E5%8F%A4%E7%89%B9%E9%9B%B7%E6%96%AF%E6%89%93%E7%94%B5%E8%AF%9D%E5%90%91%E4%B9%A0%E8%BF%91%E5%B9%B3%E8%A1%A8%E7%A5%9D%E8%B4%BA
categories: rfi
---

<div>07/05/2021 - 12:03</div><img src="https://s.rfi.fr/media/display/02f7b44a-15d8-11ea-8761-005056a99247/w:310/p:16x9/2016-10-05t164725z_1213245157_s1beufghnpaa_rtrmadp_3_un-election-guterres_1.jpg"><div class="t-content__body u-clearfix" >
                    <p>据联合国消息说，联合国秘书长古特雷斯纽约时间星期四上午在同中国国家主席习近平通电话时对中国支持联合国和多边主义表示赞赏。他表示希望联合国和中国在联合国工作的所有支柱——和平与安全、包括气候变化和生物多样性的可持续发展以及人权方面加强合作。  该报道说，2021年是中国共产党成立100周年和联合国大会关于恢复中华人民共和国在联合国合法权利的第2758号决议通过50周年。就此，古特雷斯向习近平主席表示祝贺。 </p><p>联合国消息说，古特雷斯强调了联合国对新冠疫苗全球获取机制取得成功的承诺，以及对建立一项能够使疫苗产量增加一倍、并为世界各地的每个人提供公平分配网络的全球疫苗接种计划作出贡献的承诺，他还重点谈到了在新冠疫情后复苏背景下旨在支持债务减免和增加中低收入国家流动性的倡议。 </p><p>据联合国官方消息说，在交谈中，古特雷斯还表示，他致力于确保在昆明举行的《生物多样性公约》缔约方大会第十五届会议和在格拉斯哥举行的《联合国气候变化框架公约》缔约方大会第二十六届会议取得成功，动员国际社会根据政府间气候变化专门委员会报告提出的科学论断，将全球气温上升限制在1.5摄氏度以内，并在本世纪中叶实现全球碳中和。 古特雷斯说，他期待所有国家在减缓、适应和融资方面制定雄心勃勃的国家自主贡献目标，保证对发展中国家提供必要支持。</p>
                </div>
            
                                <br>
