---
layout: post
title: 亚开行讨论停止对煤炭火力发电放贷 称有阻力
date: 2021-05-08 22:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210508-%E4%BA%9A%E5%BC%80%E8%A1%8C%E8%AE%A8%E8%AE%BA%E5%81%9C%E6%AD%A2%E5%AF%B9%E7%85%A4%E7%82%AD%E7%81%AB%E5%8A%9B%E5%8F%91%E7%94%B5%E6%94%BE%E8%B4%B7-%E7%A7%B0%E6%9C%89%E9%98%BB%E5%8A%9B
categories: rfi
---

<div>08/05/2021 - 16:05</div><img src="https://s.rfi.fr/media/display/5ce059de-b006-11eb-9331-005056bff430/w:310/p:16x9/ykhvg.png"><div class="t-content__body u-clearfix" >
                    <p>日本经济新闻今天报道称，5月7日获悉亚开行讨论停止对煤炭火力发电放贷。</p><p>亚开行目前正在制定有关能源政策的方针，最近公布了草案。计划不再向环境负荷巨大的煤炭火力发电站的新建提供贷款，同时计划不再贷款给煤炭、石油和天然气开采项目。力争借助新方针推动可再生能源的使用。</p><p>亚开行由包括亚太地区的49个国家和地区在内的68个成员构成。新兴市场国家很多，在一度程度上依赖基于煤炭火力发电等化石燃料的能源供给。如果亚开行今后不再向化石燃料相关项目提供贷款，或将对地区整体的电力和能源供给战略产生影响。影响有可能扩大至推进原油等出口的家国和地区。</p><p>据该报道称，亚开行表示由于将继续讨论相关政策，今后方向性也有可能改变。</p>
                </div>
            
                                <br>
