---
layout: post
title: 英国地方选举结果约翰逊或忧喜参半？
date: 2021-05-08 20:15:13.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%AC%A7%E6%B4%B2/20210508-%E8%8B%B1%E5%9B%BD%E5%9C%B0%E6%96%B9%E9%80%89%E4%B8%BE%E7%BB%93%E6%9E%9C%E7%BA%A6%E7%BF%B0%E9%80%8A%E6%88%96%E5%BF%A7%E5%96%9C%E5%8F%82%E5%8D%8A
categories: rfi
---

<div>08/05/2021 - 13:48</div><img src="https://s.rfi.fr/media/display/cda9cca8-afee-11eb-b0e2-005056a9b1a7/w:310/p:16x9/d49ad610abbd1046c618bab0f02427a017063b57.jpg"><div class="t-content__body u-clearfix" >
                    <p>据苹果日报今天报道称，英国地方选举仍在点票，但保守党确认夺取了工党在英格兰的传统票仓哈特尔浦（Hartlepool），反映未来继续执政形势大好。有内阁官员直言，首相约翰逊可望执政超过10年，随时超越撒切尔夫人的11年纪录。</p><p>该报道称，不过苏格兰独立议题仍是约翰逊的执政隐忧，他受访时明言即使苏格兰民族党再在当地取得大多数议席，他仍会拒绝对方举行第二次独立公投的要求。</p><p>据路透社说，支持独立的苏格兰民族党(SNP)赢得了爱丁堡中部的边缘席位，这是该党在此次议会选举中的关键目标之一，可能决定英国的未来。SNP党前副党魁Angus Robertson从保守党手中夺取了这个具有高度象征意义的席位。</p><p>苏格兰爆发了全球最著名的独立运动之一，苏格兰首席部长斯特金(Nicola Sturgeon)称这次选举是苏格兰历史上最重要的一次。斯特金是苏格兰民族党(SNP)党魁，她曾誓言，如果她的党派在苏格兰议会129个席位中赢得多数席位，将要求获得2023年底前再次举行公投的法律权力。</p><p>所有的民调都显示，民族党将赢得第四个任期，但民调也显示该党派的支持率最近下降，表明其赢得绝对多数席位的前景仍不确定。SNP唯一一次在大选中赢得多数是在2011年。时任英国首相卡梅伦屈服于压力，同意在2014年举行公投。结果苏格兰人以55-45%的公投结果决定继续留在英国。</p><p>首相约翰逊已表示他将驳回任何要求，因为问题已于七年前解决。</p><p>SNP表示，他们计划通过立法以在2023年底前举行新公投。然后端看英国政府是否敢在法庭上挑战此决定。（完）</p>
                </div>
            
                                <br>
