---
layout: post
title: 李嘉诚首富又一次改朝换代
date: 2021-05-05 14:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B8%AF%E6%BE%B3%E5%8F%B0/20210505-%E6%9D%8E%E5%98%89%E8%AF%9A%E9%A6%96%E5%AF%8C%E5%8F%88%E4%B8%80%E6%AC%A1%E6%94%B9%E6%9C%9D%E6%8D%A2%E4%BB%A3
categories: rfi
---

<div>05/05/2021 - 08:34</div><img src="https://s.rfi.fr/media/display/5ead34da-15e8-11ea-a502-005056a99247/w:310/p:16x9/842266dcad180d93c1b462c224463fea.jpg"><div class="t-content__body u-clearfix" >
                    <p>据实时数据，较早前李嘉诚曾以344亿美元身家落后于曾毓群，最新两人同样拥345亿元身家，由李嘉诚从后追上，分别于全球富豪榜上排名第39位及第41位，四叔李兆基则以322亿美元（约2,501亿港元）身家紧随其后。在福建出生的曾毓群于2005年透过优秀人才入境计划取得香港居民身分，故被福布斯归类为香港企业家。 </p><p>今年52岁的曾毓群于2011年创立宁德时代新能源科技公司，2018年于深交所上市，主力研发用于电动车的电池及电池管理系统，以及新能源技术开发，为电动车龙头Tesla的主要合作伙伴。随着电动车市场快速发展，宁德时代股价大幅飙升，2020年初至今升幅达2.5倍，最新市值达9,042亿元人币。 </p><p>曾毓群透过瑞廷投资持有宁德时代24.53%的股份，股价飙升带挈其身家暴涨，以公司最新市值计，其身家约2,218亿元人币。同时，宁德时代另有8位管理层及投资者进入了10亿美元富豪榜，包括宁德时代副董事长黄世霖及李平，两人身家分别达147亿及66亿美元；早期投资者裴振华身家达85亿美元等，九人财富合共达逾740亿美元。 </p>
                </div>
            
                                <br>
