---
layout: post
title: "“恐怖交易” 人们为何拒绝接种新冠疫苗？"
date: 2021-05-03 02:36:05.000000000 +08:00
link: http://chinese.aljazeera.net/opinions/journalist-column/2021/3/30/%e6%81%90%e6%80%96%e4%ba%a4%e6%98%93%e4%ba%ba%e4%bb%ac%e4%b8%ba%e4%bd%95%e6%8b%92%e7%bb%9d%e6%8e%a5%e7%a7%8d%e6%96%b0%e5%86%a0%e7%96%ab%e8%8b%97
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/لقاح-22.jpg?resize=570%2C380" srcSet="/wp-content/uploads/2021/03/لقاح-22.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/03/لقاح-22.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/03/لقاح-22.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/03/لقاح-22.jpg?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content"><p>几周前，大多数阿拉伯报纸都刊登了这样的新闻标题：“参与辉瑞疫苗接种试验的六人死亡。”此消息公布前一天，英国公民开始接种新冠疫苗，这在整个阿拉伯世界引发了轩然大波，但问题只是，新闻标题措辞具有误导性。</p>
<p>这则新闻——以各种形式出现——是对美国食品药品监督管理局（US Food and Drug Administration）发布报告的评论，这份53页的报告中包含大量数据，其中包括有6人死亡，但其中4例死亡是最初没有接种新冠疫苗而是接种了安慰剂的志愿者，其中2例死亡是当初接种了新冠疫苗的人员，这份报告中还指出，这些死亡发生在各年龄段和各种疾病患者，他们很可能是死于医疗原因，而且没有证据可以证实死亡与接种疫苗有关。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-182510" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/صورة-ميدان-2021-03-28T211356.518.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>这则新闻实际上可能包含更多详细信息，但有意或无意地忽略了食品药品监督管理局报告本身所得出的结论，这份报告中在第一页中清楚地表明，试验结果证明，“辉瑞疫苗是有效且安全的，因此，这款疫苗已获得使用许可。”你为什么要离开一个包含所有内容的平台，而只搜索本报告中一个段落中包含的信息？预期的原因当然是希望吸引民众注意，而不管这种标题可能带来的任何后果，这种故意 “轰动性”新闻标题误导了广大民众，特别是在各大平台竞相创作具有吸引力标题背景下。</p>
<p>为了了解问题的严重性，让我们审视一下本次民意调查，该民意调查显示，60%的美国人仅阅读新闻标题，与此同时，另一项调查结果表明， 60％的人仅根据新闻标题就会分享文章链接，甚至都不会打开这个链接！除此之外，当前获得知识的最流行方法是非常短的视频、推文和Facebook帖子，因此，社会倾向于获得有关任何问题的肤浅信息，通常，这可能不会造成太大的危害，但当涉及到诸如公共卫生之类非常关键的问题时，这种做法的影响将是巨大的。</p>
<figure id="attachment_182512" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-182512" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/حالة_التلقيح-01.jpg?w=770&amp;resize=770%2C521" data-recalc-dims="1" />截至2021年3月底，全世界大约5.3亿人接种了新冠疫苗</figure>
<p>当然，这不是阿拉伯媒体对疫苗新闻报道的唯一严重错误，但你可能会注意到，一些主要报纸永远会只关注新冠疫苗的危害性，而几乎不会关注疫苗的益处，新冠疫苗的弱点是以创纪录速度（仅一年）被研制成功，这给全世界所有国家公民留下了这样的印象，即为了快速获取新冠疫苗，可能采取了影响健康的非常重要的举措。</p>
<p>尽管有客观原因促使如此迅速地研制出新冠疫苗，我们此前就疫苗问题发表过一份详细报告，题目为<a href="https://www.aljazeera.net/midan/miscellaneous/science/2020/12/13/%D8%A5%D8%A8%D8%B1%D8%A9-%D8%A7%D9%84%D8%AE%D9%84%D8%A7%D8%B5-%D9%87%D9%84-%D8%A3%D8%AA%D9%89-%D9%84%D9%82%D8%A7%D8%AD-%D9%83%D9%88%D9%81%D9%8A%D8%AF-19-%D8%A8%D8%B4%D9%83%D9%84">“拯救针剂……我们可以信任新冠疫苗吗？”</a>，最重要的是，所有获得紧急使用许可的疫苗都已经在成千上万人身上被试用，并且已经允许数百万人使用这些疫苗，但是，只是在很小范围内使用新冠疫苗，并没有普及到公众，与此同时，人们总是担心疫苗的长期副作用，而轻视了新冠肺炎疾病本身的严重性。</p>
<h3>虚假新闻海啸</h3>
<p>还有另一个主要原因，也许是更有影响力的原因，这使得有关新冠疫苗的真实消息难以准确地向公众传播，即来自各种阴谋论者的虚假消息海啸，这些阴谋论者从四面八方聚集，包括那些相信蜥蜴统治世界的人，或者是反疫苗接种者，或者是三百委员会的拥护者以及“黄金十亿”理论的拥护者（这些拥护者认为存在故意杀人而只留下5亿至10亿人的意图），他们攻击新冠病毒及新冠疫苗。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-182515" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/صورة-ميدان-2021-03-28T211408.834.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>每天你可以看到成千上万条帖子，告诉你新冠疫苗试验结果已表明，一半的参与者都出现了非常严重的副作用，另一些则表明，接种疫苗会导致儿童自闭，还有消息告诉你说，疫苗会占据你的身体，并将在你的身体中放置受世界大国控制的纳米级物质。最大的问题是，本应该用来验证和反驳这些指控的新闻平台却有助于传播这些消息，并助长了对民众的恐吓。</p>
<p>在此背景下，加利福尼亚大学最近在《预防医学》上发表了一项研究，这项研究旨在通过向两个参与者小组展示有关疫苗的虚假新闻，来检验验证虚假新闻对人们的影响，第一组仅暴露虚假出版物，第二组暴露虚假出版物，但带有独特的“TAG”标记，以验证官方授权，结果表明，那些接收经验证新闻的人更有可能了解有关疫苗的正确信息。</p>
<p>迄今为止，科学上已经达成共识，即疫苗是安全的，常见的副作用很小，而且严重副作用症状很少见，但尽管如此，人们还是倾向于相信有关疫苗令人恐惧的虚假消息，这可能会严重影响人们对接种疫苗的决定，研究结论表明，如果政府平台和大学平台参与验证与疫苗有关的虚假出版物，则效果会更好，但到目前为止，这似乎还远远不够，不仅是在阿拉伯国家，而且在全世界范围内都是如此。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-182517" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/صورة-ميدان-2021-03-28T211444.544.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>这个领域的研究人员日复一日地强调称，虚假信息的传播具有客观统计学意义，可以预测每日平均接种疫苗人数会下降，此外，伦敦皇家学院在美国和英国对8000人进行了一项调查研究，并于2020年9月发表研究结果称，在使人们接触到有关疫苗接种的误导性消息之后，接受疫苗接种的人数百分比仅从48％降至约41.5％。</p>
<p>更重要的是，随后的研究发现，问题不仅取决于有关疫苗的本地报道以及在特定国家和地区传播的虚假新闻，而且还取决于跨境接收的新闻，例如Facebook上的帖子和误导性推文，这也会引发与接受疫苗接种有关的相同问题，总的来说，对于遵守为遏制新冠病毒传播而采取的健康措施而言，也是如此，有关于此，我们可以指出，有些国家在其他国家内故意传播有关疫苗的误导性新闻，无论是出于政治目的还是出于经济目的。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-182519" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/صورة-ميدان-2021-03-28T211421.668.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<h3>你信任你的政府吗？</h3>
<p>除了上述所有内容之外，2021年2月发表的一项研究得出了显著结果，这项研究试图确定德国不确定接种疫苗人群的政治、经济和社会分类，结果表明，对接种疫苗犹豫不决人群中的一部分不愿意参加政治活动，例如不愿参加选举中的投票活动。</p>
<p>2020年6月，美国巴塞罗那大学研究员杰弗里·拉扎鲁斯（Geoffrey Lazarus）带领的一个小组，对19个国家和地区超过1.3万人进行了一项调查，以确定他们是否愿意接种新冠疫苗，但在调查过程中，研究团队发现不同国家和地区之间存在很大差异，对新冠疫苗的接受率从90％到55％不等，接受率高的国家往往是对政府充满信心的亚洲国家，而发展中国家（例如巴西、印度和南非）则排在最后。</p>
<p>这项研究——根据实验参与者说法——得出结论，对政府的信任程度较高，因此对来自政府机构有关接种新冠疫苗信息的信任程度就较高，这是预料之中的结果，如果一个国家的公民对其政府失去信心并拒绝政治参与，因此，可以预计，这个国家的公民会质疑政府有关疫苗的选择，他们认为，他们的国家选择中国疫苗、辉瑞疫苗或阿斯利康疫苗，仅仅是出于政治目的，尽管这些疫苗具有有害的副作用。</p>
<p>截至撰写这篇文章之时，全世界有超过5.3亿人已接种了新冠疫苗，这是许多人不知道的信息，并且在如此多的人接种疫苗情况下，只有很小比例接种者出现副作用，这是正常情况，但如果这些小部分特例情况出现在社交媒体上，会发生什么？如果媒体，可能有时国家本身也参与其中，又会发生什么呢？</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台</div>
