---
layout: post
title: 苹果推广新款iPhone 12 系列手机 与此前产品有何不同？
date: 2021-05-01 08:06:03.000000000 +08:00
link: http://chinese.aljazeera.net/technology/2020/11/6/%e8%8b%b9%e6%9e%9c%e6%8e%a8%e5%b9%bf%e6%96%b0%e6%ac%beiphone12%e7%b3%bb%e5%88%97%e6%89%8b%e6%9c%ba%e4%b8%8e%e6%ad%a4%e5%89%8d%e4%ba%a7%e5%93%81%e6%9c%89%e4%bd%95%e4%b8%8d%e5%90%8c
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2020/11/maxresdefault-e1604627568465.jpg?resize=770%2C513" srcSet="/wp-content/uploads/2020/11/maxresdefault-e1604627568465.jpg?resize=120%2C80 120w, /wp-content/uploads/2020/11/maxresdefault-e1604627568465.jpg?resize=270%2C180 270w, /wp-content/uploads/2020/11/maxresdefault-e1604627568465.jpg?resize=375%2C250 375w, /wp-content/uploads/2020/11/maxresdefault-e1604627568465.jpg?resize=570%2C380 570w, /wp-content/uploads/2020/11/maxresdefault-e1604627568465.jpg?resize=770%2C513 770w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, (max-width: 770px) 770px, 770px" alt="<div class="wysiwyg wysiwyg--all-content"><p>苹果正在推广其最新款iPhone 12智能手机，这款手机拥有全新的设计、先进的充电技术、配备OLED（有机发光二极管）面板，并且拥有更强大的处理器，增强的相机功能且支持5G技术，但这是否足以鼓励用户购买iPhone 12和iPhone 12 Pro智能手机？我们在下面的报告中尝试对这个问题做出回答。</p>
<p>六年后，这家美国公司大胆推出了采用新设计的著名智能手机，新款手机机身变得更加尖锐，侧面变得平坦，改变了自iPhone 6发行以来苹果手机所依赖的圆角侧面设计，苹果新款iPhone 12采用了一种陶瓷保护罩玻璃，这种玻璃中注入了纳米陶瓷晶体，以增强耐用性，根据苹果的说法，该“陶瓷盾”提供的防护效果是iPhone 11玻璃的4倍。</p>
<h2>缩小尺寸</h2>
<p>与此前版本iPhone 11相比，苹果公司采用了一种新的方法来减小其新款手机iPhone 12的尺寸，这款新型手机厚度比以前机型减少11％，体积减小15％，重量减轻16％。</p>
<p>从正面看时，用户可能无法区分新款iPhone 12和iPhone 12 Pro，这两个型号的新型手机都具有6.1英寸（15.5厘米）OLED显示屏，分辨率为2532 x 1170像素，像素密度为460ppi。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-148309" src="https://chinese.aljazeera.net/wp-content/uploads/2020/11/Meet-iPhone-12-—-Apple.jpg?w=770&amp;resize=770%2C433" data-recalc-dims="1" /></p>
<p>OLED屏幕的特点是高亮度和高对比度，并且新型屏幕颜色更真实，由于有背光层，黑色不是纯黑，颜色显示更自然。</p>
<p>iPhone12系列手机搭载新的A14 Bionic处理器，该处理器不仅超越了以前的A13型号处理器，而且还优于所有竞争型号，这款新型处理器可确保所有应用程序平稳运行。此外，根据苹果公司说法称，新款iPhone 12拥有Deep Fusion功能，该功能可以在多次曝光中提取出最佳像素，而且iPhone 12 Pro 使用超广角镜头拍摄也可以开启夜间模式。</p>
<h2>摄像头的调整</h2>
<p>苹果对新型iPhone12系列手机摄像头进行了调整，这款手机的广角摄像头为7镜片组——而非6镜片组——组成，光圈可提供更强照明，这有助于在光线不足情况下捕捉更好的照片，而对于超广角摄像头而言，iPhone12系列手机提供镜头校正功能。与此同时，测试结果表明，与iPhone 11相比，iPhone 12拍摄的照片具有更少的噪点和更自然的色彩。</p>
<p>iPhone 12 Pro配备的激光雷达，是一种测距传感器，可通过测算光返回的时间，测量出物体之间的实际距离。因此，这项技术可用于需要与增强现实一起使用，iPhone 12 Pro上的新传感器还确保了更快的镜头调整，并且新款iPhone12手机包括一个远摄镜头，与纯数字变焦功能相比，这款摄像头能够更好地拍摄远处的物体。</p>
<p>iPhone 12 系列支持使用10位色深的4K-HDR（4K-HDR）与杜比视界（Dolby Vision），并支持4K 视频，并且这些功能以前仅限于专业设备。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-148307" src="https://chinese.aljazeera.net/wp-content/uploads/2020/11/Apple-Event-—-October-13.jpg?w=770&amp;resize=770%2C612" data-recalc-dims="1" /></p>
<h2>5G技术</h2>
<p>iPhone 12和iPhone 12 Pro是苹果公司推出的首款5G手机，这两款机型采用高通（Qualcomm）的名为X55的5G调制解调器芯片。5G网络提供的数据下载速率高达每秒500兆字节，这相当于使用VDSL技术的固定电话速度的两倍。</p>
<p>与此同时，5G数据传输速度可能达到每秒1400兆字节或每秒1.4千兆字节，但是这些高速只能在以高频段（3.5 GHz）传输的移动通信小区中才能达到。</p>
<p>除了支持5G网络之外，新款iPhone 12还将增加配件和补充配件的销量，因为苹果公司将不为新款智能手机配备电源适配器和耳机，而且，iPhone 12随附的电缆是Lightning to USB-C。</p>
<p>苹果公司解释称，采取此举的原因是为了环保，不希望通过配备电源适配器和耳机进一步污染环境，用户家中可能拥有很多苹果手机的充电器和耳机，但这种说法是不正确的，因为用户家中的大多数充电器都太旧了，无法与现代设备一起使用，但是，苹果公司旨在通过这种方式来提高其用于新智能手机的原始配件的销售。</p>
<p>新款iPhone12存储容量分别为64GB、128GB、256GB。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->德国媒体</div>
