---
layout: post
title: 拿破仑与中国4/6：探秘中法拉丁文大辞典珍本上集 - 特别节目
date: 2021-05-04 18:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E7%89%B9%E5%88%AB%E8%8A%82%E7%9B%AE/20210421-%E6%8B%BF%E7%A0%B4%E4%BB%91%E4%B8%8E%E4%B8%AD%E5%9B%BD4-6-%E6%8E%A2%E7%A7%98%E4%B8%AD%E6%B3%95%E6%8B%89%E4%B8%81%E6%96%87%E5%A4%A7%E8%BE%9E%E5%85%B8%E7%8F%8D%E6%9C%AC%E4%B8%8A%E9%9B%86
categories: rfi
---

<div>21/04/2021 - 18:01</div><img src="https://s.rfi.fr/media/display/8c8e5f0e-a2ba-11eb-9aba-005056bf87d6/w:310/p:16x9/4-1.JPG"><div class="t-content__body u-clearfix" >
                    <p><strong>Alice Caillé</strong>：这本大辞典真的是很大一本，我们需要拿小枕头来保护它。这部中法拉丁文大辞典的用纸应该不是酸性纸，因为它完全没有碎屑化。它保存地非常好，这种是质量非常好的纸张，所有的纸被缝在了一起，然后被绑在了书筋上面，这可以帮助书的结构保持完整，尤其是这么一个大部头的书，更是如此。而且大辞典的硬封皮上面虽然有划痕，但是总体来说，我们能感觉到，它在岁月里很好的起到了保护内页的作用。这本大辞典有一千多页，翻开书皮，里面是标题，作者名，虽然真正的作者并不是上面写的小德金，但他还是把自己的名字放在了最前面，而这本大辞典内文的重要原创者，意大利神父叶尊教的名字，则出现在引言里面。后面就是索引了，按照中文的笔画，然后就是正文。有中文字的读音标志，这个读音是完全出于实用的角度来标的，跟今天我们使用的系统完全不是一回事。下面有中文字的拉丁文解释，还有法语解释。大词典的最后面，还收录了一些图表，比如百家姓，等等。</p><p>这本中法拉丁文大辞典，我们可以近距离观察，它的所有书页合在一起，并没有被精切过。精切其实就是为了起到一个美观的作用。像现在这样不平整，是无法进行镶金处理的。在翻阅的时候，我们不能用手按压大辞典，拍照片时候也不许开闪光灯。我们这里还遵守法国国家图书馆的建议，在阅览这本大辞典时候, 直接用手翻阅，且手必须要是干净，干燥的，而不是戴手套去翻阅它。不建议戴手套的原因，首先就是手套上可能会有织物碎屑掉进辞典里，还有就是戴着手套去捏书页，翻页时更有可能捏坏薄薄的纸张。如果是直接上手，手部干净且干燥，损坏大辞典的几率就小。当然还要注意，不能一边吃东西一边翻阅。</p><p>米卢斯工业学会图书馆成立于19世纪，当时图书馆的条件在保存藏书方面不是很完善，而且后来随着技术的发展和条件的改善，图书馆藏这一职业也有了很大的变化。所以现如今，我们不认为当时那个条件对藏书来说是足够的。这也就是为什么，后来米卢斯工业学会与上阿尔萨斯大学签署了一项协约，来分门别类在其他地方进行保存。这样一来，米卢斯工业学会的图书馆馆藏物，被寄存到了不同的地方，我们这里主要是保管所有与工业与工人历史有关的藏书，所以说中法拉丁文大辞典被我们保存，这还是挺让我们感到惊喜的。上阿尔萨斯大学的图书馆有比较好的温度和湿度环境控制，这给古老藏书的保存提供了很好的条件。馆藏部分对公众关闭，只有职业图书馆人员才有权进入。另外，根据上阿尔萨斯大学和米卢斯工业学会签署的协约，我们有专人定期每年采购新的藏书，按照库存的书籍分类，来添置新的藏书。公众或者研究人员如果有需求，可以联系我们预约，我们就会把藏书找出来，以供使用。</p><p>这部中法拉丁文大辞典保存的地方是不透风的，当然，除了开门的时候。所以一般不会有虫子进入。一般来说，当藏书被蛀虫啃食，污染源一定是随着新收藏的藏品进馆的，比如藏品此前曾经在其他条件不是很好的地方逗留过，等等。霉菌也是一样。如果藏书环境的温度，光线强度和湿度保持在很好的水平，那么是不会有霉菌形成，去侵蚀藏书的。在我们这里，米卢斯工业学会原本的藏书馆不会再引进新的藏品，新采购的藏品会被放置到其他的地方，在采购时也对书籍本身的保存状态与年代有一定的要求。还有，如果书在进入藏馆之前遭了雨淋，没有完全干燥，那么我们会暂时把它关起来，隔离观察。在如今这种疫情大流行期间，谈论书籍的隔离观察，的确很有意思，但事实就是如此，书籍也有可能被隔离观察。隔离期间 ，我们会看是否上面有污染物，是否有霉菌出现，等等。并不是所有的霉菌都会侵蚀书籍，如果我们观察到书籍上面的霉菌已经死了，那么我们就会把书送到实验室，让实验室对霉菌残留物进行提取和化验分析。</p><p>另外就是我们创建了线上阅览平台名叫NUMiSTRAL，我们会邀请上阿尔萨斯大学的研究员来为每一本藏书撰写简介，然后研究员会扫描比较有代表性的几页放到网上，使用的是不会压迫纸张的特殊扫描机，我们只需要把书本摊开就可以了，这样可以保护藏书不受机械损害。这些扫描过的电子版，对于我们的线上馆藏来说无疑是十分宝贵的资料。</p><p><strong>Ninan WANG</strong>：存于米卢斯大学与工业学会图书馆的1813年中法拉丁文大辞典珍本影印与介绍工作，是上阿尔萨斯大学的拉丁语言和文学讲师<strong>Céline Urlacher Becht</strong>女士负责的。我们将在接下来，也是拿破仑与中国系列的最后两期当中，请<strong>Céline Urlacher Becht</strong>女士来详细介绍这本大辞典的内容与历史。</p>
                </div>
            
                                <br>
