---
layout: post
title: 美国接种疫苗需求锐减  各州力拚让民众打针 – 法国国际广播电台 - RFI
date: 2021-05-02 21:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E5%9B%BD%E6%8E%A5%E7%A7%8D%E7%96%AB%E8%8B%97%E9%9C%80%E6%B1%82%E9%94%90%E5%87%8F-%E5%90%84%E5%B7%9E%E5%8A%9B%E6%8B%9A%E8%AE%A9%E6%B0%91%E4%BC%97%E6%89%93%E9%92%88
categories: rfi
---

<div>02/05/2021 - 15:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社德州巴沙迪纳1日电）    许多国家施打COVID-19疫苗进度严重落后，甚至还没能开始，美国各地很多大型施打地点却因为需求降低而逐渐关门，当局亟盼找到新办法，好让尚未接种的民众愿接受施打。</p><p>    根据官方资料显示，全美接种2019冠状病毒疾病（COVID-19）疫苗高峰大约落在4月11日，虽然美国有55% 成人已经接种一剂或两剂疫苗，但距离达成群体免疫目标还有很长的路要走。</p><p>    急着施打疫苗的民众目前大多数都已经打过针了。问题是：如何让其他的人也去接种疫苗。</p><p>    德州就如同美国很多地方一样，接种疫苗人数如自由落体般下降。在达拉斯（Dallas）与沃斯堡（Fort Worth）之间的阿灵顿市（Arlington），一处由联邦设置的大型接种站在4月中旬因为接种人数不足而关门。</p><p>    在休士顿市NRG体育场和达拉斯市费尔公园（Fair Park）的另两个联邦施打地点，则已结束预约制，开放民众随时进入接种疫苗。</p><p>    NGR体育场为了让民众方便，将开放时间由原来下午5时止，延长到晚间九点结束，还让民众可在自己的车上接受疫苗注射。</p><p>    即便如此，体育场的接种人数仍然掉了一半。</p><p>    至于原因，有民众说，不去打疫苗是因为地点太远了，也担心副作用；有的人还在观望，有些人则是对疫苗一直持怀疑态度。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
