---
layout: post
title: 关于爱情的错误谎言毒害情感关系 以下是最著名的谎言
date: 2021-05-02 11:06:04.000000000 +08:00
link: http://chinese.aljazeera.net/sport-culture/culture/2021/2/14/%e5%85%b3%e4%ba%8e%e7%88%b1%e6%83%85%e7%9a%84%e9%94%99%e8%af%af%e8%b0%8e%e8%a8%80%e6%af%92%e5%ae%b3%e6%83%85%e6%84%9f%e5%85%b3%e7%b3%bb%e4%bb%a5%e4%b8%8b%e6%98%af%e6%9c%80%e8%91%97%e5%90%8d%e7%9a%84
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/02/love.jpeg?resize=570%2C380" srcSet="/wp-content/uploads/2021/02/love.jpeg?resize=120%2C80 120w, /wp-content/uploads/2021/02/love.jpeg?resize=270%2C180 270w, /wp-content/uploads/2021/02/love.jpeg?resize=375%2C250 375w, /wp-content/uploads/2021/02/love.jpeg?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content"><p>人类从未就爱情达成单一公式，或设定具体规则，因为每种关系都是独特的，每个人以不同的方式体验爱情，并根据其所处的文化来处理爱情。</p>
<p>但是，正确的选择仍然是，爱意味着一个人使你的生活熠熠生辉，使你感到幸福和内心的平静，而你的爱应当使你感到自在、坚强和勇敢，并提高你的自信心。任何关系的基础都是信任和尊重，缺少任何一种因素，爱都不会存在。</p>
<p>塞维利亚大学家庭治疗师玛格丽达·维埃特表示，许多关于爱情的常见误导性观念看起来十分浪漫，然而它们实际上“可能非常危险”。下面我们将回顾20种最常见的误解。</p>
<h3>1.一见钟情</h3>
<p>一见钟情可能只是眼花或钦佩。至于爱情，这是一种相互的感觉，需要时间、努力、接纳和包容，并且“源于相互欣赏和信任”。</p>
<h3>2.你的嫉妒意味着你为我疯狂</h3>
<p>这位专家说，疯狂的嫉妒不是爱，而是强迫症的一种迹象，此类强迫症患者需要帮助，“显示出极度的不安全感和自卑感”。</p>
<h3>3.赢得你的芳心后，你便属于我</h3>
<p>人不是财产，没有人喜欢被占有——所谓“痴迷的爱”。获得另一伴倾心的感觉应当持续每一天，而不是占有对方的念头。</p>
<h3>4.你不爱我，因为你从不联系我</h3>
<p>缺乏联系并不一定意味着对方不感兴趣，因为随着时间的流逝，我们会深入了解并发现对方，而不仅仅是通过言语交流。</p>
<h3>5.我的另一半在某处</h3>
<p>不要处于等待某件事的状态，真正完整的生活不需要等待别人。</p>
<h3>6.爱意味着一起做每一件事</h3>
<p>毫无疑问，一起做活动是一件很了不起的事，但是爱一个人，意味着你可以给他自由生活、独自或与家人或朋友一起做某件事的空间。每个人有时都需要个性。</p>
<h3>7.你如何获得我的爱，而没有经常与我在一起？</h3>
<p>如果一个人真的爱另一个人，即使很忙，他们也会抽出时间相距，没有人会一直在身边随叫随到。</p>
<figure id="attachment_162583" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-162583" src="https://chinese.aljazeera.net/wp-content/uploads/2021/01/0a085995-abbf-4641-b002-cf5301d4965e.jpeg?w=770&amp;resize=770%2C513" data-recalc-dims="1" />花在另一半身上的时间不是爱情的条件 (社交网站)</figure>
<h3>8.你批评我，怪罪我</h3>
<p>关于爱情的扭曲观念之一是，它可以阻止批评或指责，但可以肯定的是，持续的礼貌和奉献无济于事。</p>
<h3>9.如果你爱我，你会做我说的一切</h3>
<p>爱另一个人并不能使他们服从你。是的，他可以尊重你的愿望、需求和优先事项，但又不会牺牲他的兴趣、梦想和目标。</p>
<h3>10.爱意味着没有差异</h3>
<p>你们和所爱的人之间存在差异是健康的事情，因为你们俩都学会尊重对方的个性，但是“当差异涉及原则、价值观和生活方式时，这种关系可能很难维持”。</p>
<h3>11.没有信任的爱是可能的</h3>
<p>健康关系的基础是诚实、尊重和信任。“如果你不能信任另一个人，你将永远无法爱他，并给他和你自己生活。”</p>
<h3>12.吵架意味着我们不相爱</h3>
<p>生活并非没有争议，尤其是在感情紧张时，但重要的是要保持镇静并倾听对方的观点，避免吵架。</p>
<h3>13.我们的爱不会改变</h3>
<p>爱情就像生活中的任何事物一样都可以改变。“如果这份爱健康，获得的养分充足，即使经过一些波折，它也会随着时间的推移而变得强壮。”</p>
<figure id="attachment_172468" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-172468" src="https://chinese.aljazeera.net/wp-content/uploads/2021/02/couple-4045428.jpg?w=770&amp;resize=770%2C514" data-recalc-dims="1" />爱情会改变，就像生活中的任何事物（Pixabay）</figure>
<h3>14.害怕失去，所以避免表达</h3>
<p>“爱需要透明、真实、尊重和尊严。”如果你隐藏自己性格的方方面面，防止伤害或吓到对方，那么生活将变成监狱，而不是爱。</p>
<h3>15.爱意味着痛苦</h3>
<p>人与人之间的关系就像生活，不是没有艰难的时刻，但是爱并不是为了折磨和痛苦而被创造的，相反，“你永远不应该觉得爱是一种持续的负担”。</p>
<h3>16.夫妻生活总是不如意</h3>
<p>如果情侣对彼此没有归属感，努力挽救这段关系，而不是一起度过快乐时光，“爱情可能不会回来，缺乏感情只会增加距离感。”</p>
<h3>17.联系足以使人感到快乐</h3>
<p>世界上数百万人有各种关系将他们联系在一起，但他们并没有感到爱或幸福。“在许多情况下，我们发现一些人保持一段关系只是因为他们害怕孤独一人。”</p>
<h3>18.对稳定的渴望迫使你继续</h3>
<p>对未知事物的恐惧，负罪感，对别人说的话感到焦虑，缺爱不是结束一段感情的充分理由的想法以及对未来的不安全感都使我们没有足够勇气去结束一段糟糕关系的理由，而我们继续下去，损失可能更大。</p>
<h3>19.我必须向自己施压来挽救这段关系</h3>
<p>给别人多于自身精力的关注并没有好处，反而可能导致人际关系不平衡，增加恋爱和付出的不匹配，因而难以挽救这段感情。</p>
<h3>20.单恋</h3>
<p>良好的关系要求双方在平等的基础上彼此相爱，我们没有感受到或对方没有感受到的爱无法交换。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->电子网站</div>
