---
layout: post
title: 国安处派出大批人马搜查Chickeeduck 新店
date: 2021-05-07 15:45:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210507-%E5%9B%BD%E5%AE%89%E5%A4%84%E6%B4%BE%E5%87%BA%E5%A4%A7%E6%89%B9%E4%BA%BA%E9%A9%AC%E6%90%9C%E6%9F%A5chickeeduck-%E6%96%B0%E5%BA%97
categories: rfi
---

<div>07/05/2021 - 09:24</div><img src="https://s.rfi.fr/media/display/f2dd2a20-23d0-11ea-b190-005056a98db9/w:310/p:16x9/2019-07-27t081621z_723347415_rc15a86251c0_rtrmadp_3_hongkong-extradition.jpg"><div class="t-content__body u-clearfix" >
                    <p>据了解，国安处人员今日主要针对荃湾 Chickeeduck 分店外墙，警方指外墙上刻有“光复香港、时代革命”的涂鸦，认为有机会违反国安法。国安处人员在铺内搜证，并未带走任何证物，铺内有部分货品，刻有八个符号，据知有关货品并无违法。</p><p>Chickeeduck 的荃湾分店本身位于愉景新城，但业主在去年 6 月 30 日租约期满后不续租，Chickeeduck 本月 4 日在荃湾广场对面的享成街重开荃湾分店，公司行政总裁周小龙适逢今天在店内巡视。在下午接近 5 时，约 40 至 50 名警务处国安处便衣警员，连同机动部队及警察公共关系科传媒联络队警员，到 Chickeeduck 荃湾店外拉起橙带围封店铺门口，要求在店内的顾客步出铺门，并搜查他们，亦要求顾客出示身份证。</p><p>而在店内的周小龙则和国安处警员在店铺内，期间警员拍摄店铺内情况。警方行动持续约个半小时，周小龙其后向传媒简介警方在店内行动。他指国安处人员有法院签发的手令，搜查时态度非常差，“我问佢阿sir 你今日无嘢攞走，咁我系咪继续营业？佢话我唔需要答你，香港法治是这样的吗？”他又指警方没有带走任何东西，“依家点呀？白色恐怖呀，钟意就来搞我铺头、吓我啲客呀？”周小龙表明荃湾店会继续营业，“我唔会闩门……你想留返啲白色恐怖喺度？对唔住，白色恐怖我当佢冇到，我唔惊呀！”说罢现场围观市民街坊拍掌欢呼。</p><p>周小龙又指店内售卖的“支持自由产品”，如 T 恤、月历及烫章，又不排除会追究警方阻碍其店铺营业。他又指警员“凶神恶煞”，“（警员）佢话我讲嘢系咁粗鲁”。</p><p>分店本身有两层，地下有巨型民主女神像、亦有不少以抗争为主题的产品出售。分店上层为饼店，为此前在太古城诚品生活店内售卖抗争主题西饼糕点的 By J Art Bakery 。Chickeeduck 指会在店内开展“民主教室”，包括邀请多家小店在铺内售卖本地制作食品。</p><p>根据苹果日报Chickeeduck 荃湾店被警方国安处人员搜查时间表：</p><p>1750 警方消息指，警方在现场处理的为国安处案件。Chickeeduck 职员表示，现场传媒联络队警员表示，行动为搜证工作，警方带同法庭手令到场搜证。</p><p>1740 周小龙现身店铺地面，附近有多名便衣警陪伴，警员用摄录机拍摄周小龙及四周环境。</p><p>1725 在店舗外被截查的顾客已离开，被截停搜查期间顾客有出示身份证。</p><p>1700 下午约五时许，近 40 至 50 名便衣警员及机动部队警员，到达 Chickeeduck 位于荃湾享成街的分店，封锁店铺门口，先要求入内购物的市民离开，有顾客被查身份证。Chickeeduck 行政总裁周小龙在店铺内，跟进警方的调查</p><p>连锁童装店 Chickeeduck 去年在荃湾愉景新城分店放置港版“民主女神像”，遭商场业主要求移除但不成功，结果业主在去年 6 月 30 日租约期满后不续租予 Chickeeduck，并要求店方 21 日内迁出。</p><p>Chickeeduck 前日（4 日）在荃湾广场对面的享成街重开荃湾分店，分店有两层，地下有巨型民主女神像、亦有不少以抗争为主题的产品出售。分店上层为饼店，为此前在太古城诚品生活店内售卖抗争主题西饼糕点的 By J Art Bakery 。记者现场所见，雪柜内的糕点大部份已经出售。</p><p>Chickeeduck 指会在店内开展“民主教室”，包括邀请多家小店在铺内售卖本地制作食品。店方亦指会邀请早前总辞的中文大学学生会干事会内阁“朔夜”成员到场，印制“香港主题”烫章 T-shirt。当日荃湾分店开幕，吸引不少人入内参观</p>
                </div>
            
                                <br>
