---
layout: post
title: SpaceX火箭第5度测试 成功落地德州 – 法国国际广播电台 - RFI
date: 2021-05-06 15:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/spacex%E7%81%AB%E7%AE%AD%E7%AC%AC5%E5%BA%A6%E6%B5%8B%E8%AF%95-%E6%88%90%E5%8A%9F%E8%90%BD%E5%9C%B0%E5%BE%B7%E5%B7%9E
categories: rfi
---

<div>06/05/2021 - 09:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿5日电）    直播画面显示，太空探索科技公司（SpaceX）的「星舰」（Starship）载人火箭原型今天成功降落美国德州基地。这是「星舰」的第5度测试，先前4次都以爆炸作结。</p><p>    这次「星舰」成功落地，意味着太空探索科技公司执行长马斯克（Elon Musk）的巨大胜利。</p><p>    马斯克推文说：「星舰一如计画落地！」</p><p>    但这支50公尺高的火箭降落过程还不算完美，落地后，基座起了一簇火焰，不过很快就被扑灭。</p><p>    太空探索科技公司的网路直播员印斯布拉克（John Insprucker）解释，火箭使用甲烷燃料，所以起火并不是特别不寻常的事，工程师也还在研究设计问题。</p><p>    这支编号为SN15的火箭稍早于德州时间下午约5时25分，从德州南部的波卡契卡（Boca Chica）基地升空，达到约10公里高度，并完成一系列飞行演练。</p><p>    美国国家航空暨太空总署（NASA）已宣布要在未来的人类重返月球计画中，采用「星舰」系列作为登月舱，因此在今天的测试中，太空探索科技公司肩负必须成功的压力。</p><p>    NASA上月宣布与太空探索科技公司签下29亿美元（新台币810亿元）合约，目前暂时中止，因为两家未获选的企业对NASA的决定提出了抗议，分别是企业家贝佐斯（Jeff Bezos）的蓝源公司（Blue Origin），以及应用科学与资讯科技公司Dynetics。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
