---
layout: post
title: 通贝里批中国污染 中国日报记者怼她先多读书
date: 2021-05-09 18:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210509-%E9%80%9A%E8%B4%9D%E9%87%8C%E6%89%B9%E4%B8%AD%E5%9B%BD%E6%B1%A1%E6%9F%93-%E4%B8%AD%E5%9B%BD%E6%97%A5%E6%8A%A5%E8%AE%B0%E8%80%85%E6%80%BC%E5%A5%B9%E5%85%88%E5%A4%9A%E8%AF%BB%E4%B9%A6
categories: rfi
---

<div>09/05/2021 - 12:18</div><img src="https://s.rfi.fr/media/display/9d2facae-ff1e-11ea-8b25-005056a98db9/w:310/p:16x9/3731ed5a94a6e0f4e3a6b2cbaaefa78dbc06840d.jpg"><div class="t-content__body u-clearfix" >
                    <p>据苹果日报今天报道称，环保少女通贝里批中国污染环境，“战狼”记者称：返去读多啲书先。消息说，瑞典“环保少女”通贝里点名批评中国污染环境，有关言论随即遭中国官媒记者陈卫华反驳。</p><p>该报道称，通贝里当日引述美国有线电视新闻网络（CNN）一篇关于中国2019年温室气体排放量，超过所有发达国家总和的报道，批评“中国仍被世界贸易组织列为‘发展中国家’，它负责生产许多我们的产品。但这显然并非破坏未来和现在生活环境的借口，除非中国彻底改变路线，否则我们无法解决气候危机。”</p><p>《中国日报》驻欧盟分社社长陈卫华其后于上周六（8日）“四连击”反驳，批评“你（通贝里）的公关队伍应该教导你更多。第一，中国的人口是OECD的2倍，因此人均排放量要低得多；第二，OECD将大量污染行业转移至中国或其他发展中国家，所以不要假装你是无辜的；第三，迄今为止，OECD是历史上最大的温室气体排放国。”</p><p>陈卫华又指：“简直无法相信，你竟然为这些在两个世纪以来的排放量最大的发达国家辩护，‘破坏未来和现在生活环境’？你是否知道发展中国家有很多人甚至没有电力，每天的生活费不足1美元，你想这种生活方式继续下去吗？一个很简单的例子，如果H&M全部在瑞典生产原材料和服装，那瑞典或OECD的排放量便将上升。如果约5,000间主要的OECD公司都这样做，又将会发生什么事？所以认清事实吧，公平点！”陈卫华最后批评：“是世界银行将中国归类为‘发展中国家’，如果你想对世界银行提出异议，请马上去做吧。他们将为你提供所有统计讯息。”</p><p>据该报道称，通贝里曾于2018年孤身发起“周五为未来”罢课，掀起全球青年推动的气候示威浪潮，并于2019年在联合国气候行动峰会发表“你们好大胆”（How dare you）演说，严斥各国领袖对环保光说不做。中国当局早前秘密扣柙打算前往台湾的12名香港青年，通贝里亦曾呼吁国际社会关注事件，称“”12″ is more than just a number（‘12’不只是一个数字）”。</p><p>据苹果日报说，至于陈卫华则曾多次在Twitter上与西方政客“开火”。去年11月，德国外长马斯（Heiko Maas）发表推文祝贺拜登赢得美国总统大选，他竟回应“他X的马斯”(The fxxking Maas），引起马斯极度不满。另外，美国共和党籍女参议员布莱克本（Marsha Blackburn）曾在Twitter就中国“嫦娥5号”探测器成功降落月球表面挖土一事作评论时，留言：“中国有5000年的欺诈盗窃史，有些事情就是永远不会改变”。陈卫华回应谓：“她是我见过的最种族主义、最无知的美国参议员，一辈子都是婊子（bitch）。”</p>
                </div>
            
                                <br>
