---
layout: post
title: 黄之锋六四非法集结罪成 判刑10个月 – 法国国际广播电台 - RFI
date: 2021-05-06 12:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E9%BB%84%E4%B9%8B%E9%94%8B%E5%85%AD%E5%9B%9B%E9%9D%9E%E6%B3%95%E9%9B%86%E7%BB%93%E7%BD%AA%E6%88%90-%E5%88%A4%E5%88%9110%E4%B8%AA%E6%9C%88
categories: rfi
---

<div>06/05/2021 - 06:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社香港6日电）    前香港众志秘书长黄之锋等人去年参加「六四」烛光晚会后被捕，部分人早前承认参与未经批准集结，今天被法院被判刑4至10个月不等，其中黄之锋入狱10个月。</p><p>    法院早上就去年「六四」烛光晚会非法集结案判刑，判处黄之锋入狱10个月、专上学生联会前副秘书长岑敖晖6个月、袁嘉蔚和梁凯晴同被判监禁4个月。</p><p>    法庭预定下月中一并审理其他不承认控罪的泛民人士。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
