---
layout: post
title: 澳媒指中国军方科学家曾论SARS武器化 预言生物战
date: 2021-05-08 18:15:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210508-%E6%BE%B3%E5%AA%92%E6%8C%87%E4%B8%AD%E5%9B%BD%E5%86%9B%E6%96%B9%E7%A7%91%E5%AD%A6%E5%AE%B6%E6%9B%BE%E8%AE%BAsars%E6%AD%A6%E5%99%A8%E5%8C%96-%E9%A2%84%E8%A8%80%E7%94%9F%E7%89%A9%E6%88%98
categories: rfi
---

<div>08/05/2021 - 12:09</div><img src="https://s.rfi.fr/media/display/82c55246-7ba7-11eb-8a2f-005056a964fe/w:310/p:16x9/AP21038076033994.jpg"><div class="t-content__body u-clearfix" >
                    <p>中国军方科学家曾论SARS武器化并预言生物战。据中央社今天引述周末澳大利亚人报（The Weekend Australian）指查证后报道，这份文件是中国人民解放军科学家和中国高阶公卫官员在2015年所撰写；美国国务院官员调查2019冠状病毒疾病（COVID-19）疫情起源时，于去年5月取得这份文件。文件中形容SARS冠状病毒预示了“基因武器的新时代”，还说它们可经“人为操纵成为新兴人类疾病病毒，然后变成武器，以前所未见的方式释出”。</p><p>据澳大利亚人报调查记者马克森（Sharri Markson）新书“武汉真相”（What Really Happened In Wuhan，暂译）将在2021年9月由哈波柯林斯出版社（HarperCollins）发行，书中论及COVID-19起源的相关调查研究，也提到上述文件中披露的事。</p><p>据该报道称，英国国会下议院外交委员会主席图根哈特（Tom Tugendhat）和澳大利亚国会情报及安全联席委员会主席派特森（James Paterson）认为，这份文件引发外界对中国在COVID-19起源资讯上缺乏透明度的严重关切。</p><p>这份文件所列的18名作者当中，有些是中国公卫和军方高层，包括中国防疫单位前副主任。根据澳大利亚战略政策研究所（ASPI）的国防大学追踪系统，其中10名作者是与西安空军军医大学有关的科学家和武器专家，此校的国防研究水准被列为“非常高风险”，包括医学和心理科学研究。</p><p>据中央社说，文件中也提到美国前空军上校安斯可夫（Michael J. Ainscough）有关冲突模式和生物武器的研究，作者们据此推断说，第三次世界大战“将是生物战”，而且致胜的核心武器将是生物武器。</p>
                </div>
            
                                <br>
