---
layout: post
title: 2021五一节 厄瓜多尔因Covid疫情提前
date: 2021-05-02 00:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%94%BF%E6%B2%BB/20210501-rfi-%E6%B3%95%E5%B9%BF-%E5%B0%BC%E5%8F%A4%E6%8B%89-coronavirus-soci%C3%A9t%C3%A9-2021%E4%BA%94%E4%B8%80%E8%8A%82-%E5%8E%84%E7%93%9C%E5%A4%9A%E5%B0%94%E5%9B%A0covid%E7%96%AB%E6%83%85%E6%8F%90%E5%89%8D
categories: rfi
---

<div>01/05/2021 - 18:04</div><img src="https://s.rfi.fr/media/display/227bc9b8-aa4d-11eb-ace6-005056a964fe/w:310/p:16x9/2021-04-12T041546Z_946611993_RC24UM9ZO9A1_RTRMADP_3_ECUADOR-ELECTION.JPG"><div class="t-content__body u-clearfix" >
                    <p>厄瓜多尔满怀着对新当选总统拉索（<strong>Guillermo Lasso</strong>）五月底正式上任后政策的期待，以虚拟和机动的示威形式，提前一天在4月30日周五庆祝了2021年五一国际劳动节。</p><p>据本台RFI法广记者艾里克·桑松（<strong>Éric Samson</strong>）周六（2021年5月1日）发自基多（Quito）报道，厄瓜多尔的劳动者在周五没有长距离游行，不过，为了纪念“五一”国际劳动节，政府曾准许处于封城中的16个主要省份的民众，在本周末和节日外出。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image Archive RFI : Guillermo Lasso"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/5d269d9e-a73d-11eb-ab86-005056a9b1a7\/&quot;,&quot;filename&quot;:&quot;AP21106099801990.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/5d269d9e-a73d-11eb-ab86-005056a9b1a7/AP21106099801990.jpg" alt="Image Archive RFI : Guillermo Lasso"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >Image d&#039;archive RFI : Guillermo Lasso, célèbre après le deuxième tour de l&#039;élection présidentielle à son siège de campagne à Guayaquil, en Équateur, le dimanche 11 avril 2021.</span>                <span class="m-figure__caption__credits">© AP - Angel Dejesus / RFI Archive 法广存档图片</span>            </figcaption>
            </figure>

        </div><p>工会为了在疫情无法控制之际，遵守卫生指示，组织了机动大篷车，尤其是在厄瓜多尔的两大主要城市：基多和瓜亚基尔（Guayaquil）。工会要求不愿外出的会员们，把诉求挂在阳台和窗户上。有许多人选择发送信息给将于5月24日上任的新总统拉索（Lasso）。</p><p><strong>劳动法的弹性</strong></p><p>许多人提醒新当选总统不要忘记其创造200万工作岗位的承诺。面对一名曾在去年提议放松劳动法的自由派候选人，许多人没有掩饰他们的疑虑。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image d&#039;archive RFI - devant la dépouille du fondateur de l&#039;Opus Dei, Josemaría Escrivá de Balaguer, dans la basilique San Eugenio à Rome"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/aff7d4a8-1200-11ea-a389-005056bf7c53\/&quot;,&quot;filename&quot;:&quot;79869602f9bb24fcc6699f7b3174e8b55f4c7c9c.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/aff7d4a8-1200-11ea-a389-005056bf7c53/79869602f9bb24fcc6699f7b3174e8b55f4c7c9c.jpg" alt="Image d&#039;archive RFI - devant la dépouille du fondateur de l&#039;Opus Dei, Josemaría Escrivá de Balaguer, dans la basilique San Eugenio à Rome"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >Image d&#039;archive RFI : Plusieurs pèlerins prient devant la dépouille du fondateur de l&#039;Opus Dei, Josemaría Escrivá de Balaguer, dans la basilique San Eugenio à Rome, le 3 octobre 2002</span>                <span class="m-figure__caption__credits">© AFP / RFI Archive</span>            </figcaption>
            </figure>

        </div><p>不过，新当选的总统拉索（Lasso）在几天前，宣布了一项出人意外地决定。做为天主教主业会（Opus Dei）的一名虔诚信徒，他宣布其政府将严格尊重宪法委员会有关发生强奸时人工流产合法化的决定。</p>
                </div>
            
                                <br>
