---
layout: post
title: 欧委会：欧盟暂停敲定欧中投资协议
date: 2021-05-05 06:15:01.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210504-%E6%AC%A7%E5%A7%94%E4%BC%9A-%E6%AC%A7%E7%9B%9F%E6%9A%82%E5%81%9C%E6%95%B2%E5%AE%9A%E6%AC%A7%E6%B4%B2%E6%8A%95%E8%B5%84%E5%8D%8F%E8%AE%AE
categories: rfi
---

<div>04/05/2021 - 23:40</div><img src="https://s.rfi.fr/media/display/f8576bc0-ad20-11eb-9a4d-005056a9b1a7/w:310/p:16x9/08bfc795bd2e80371cff5baa06dba0e4-600x400.jpg"><div class="t-content__body u-clearfix" >
                    <p>法新社消息，欧盟委员会副主席杜姆布罗夫斯基斯表示，"欧盟对中国实施制裁，而中国对欧盟包括欧洲议会议员实施反制裁，很明显，当前形势不利于欧洲议会讨论批准欧中投资协议"。他说，"我们已经停止了欧盟委员会以防的政治外联活动。"</p><p>欧委会副主席还表示：“我们不能忽视欧盟与中国之间更广泛关系的背景。”</p><p>在经历了多年僵局之后，欧盟委员会于2020年底与北京达成欧中投资协议。但欧盟此后对中国实施制裁，指控中国在新疆地区侵犯人权，这是自六四事件以来欧盟首次对华实施制裁。作为报复，北京对欧洲议会议员以及学者和德国智囊机构MERICS实施了反制裁。</p><p>欧盟与中国达成的欧中投资协议还需欧洲议会和欧盟27个成员国批准。</p><p>欧委会副主席认为，要批准协定将视乎欧中关系如何发展。</p><p>欧盟委员会周三将提议，对受到国家支持压制欧洲企业的外国公司展开调查，此举被视为特别针对北京采取的立法行动。</p><p>另外，中欧关系日益紧张，欧盟预计在本周公布的工业行动计划中，在原材料、半导体、电池、云计算等6个战略领域，减少对中国及其他外国供应商的依赖。</p><p>据《路透社》获得的一份草案，由于新冠病毒大流行暴露了欧洲供应链的脆弱性，欧盟委员会决定针对6个战略领域进行审查，包括原材料、半导体、电池、氢能以及云计算等先进技术。</p><p>这份长达19页的文件指出，欧盟将尽可能依靠不同的贸易伙伴实现供需多样化，但也会在必要时进行储备和自主行动。而该份文件也披露另一个减少进口依赖的战略，即欧盟国家将在云计算、氢能、低碳工业、制药和先进半导体等"欧洲共同利益重要项目"（IPCEI）扩大投资，包括允许欧盟各国政府根据较为宽松的国家援助规则注入资金，以及允许企业从上游设计到下游生产共同合作。</p><p>文件还指出，欧盟还需要带头制定电池、氢能、海上风电、安全化学品、网路安全和太空数据的标準，以确保欧盟工业具竞争力及弹性。</p>
                </div>
            
                                <br>
