---
layout: post
title: 习近平与巴赫通电话 称配合支持举办东奥会
date: 2021-05-07 23:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210507-%E4%B9%A0%E8%BF%91%E5%B9%B3%E4%B8%8E%E5%B7%B4%E8%B5%AB%E9%80%9A%E7%94%B5%E8%AF%9D-%E7%A7%B0%E9%85%8D%E5%90%88%E6%94%AF%E6%8C%81%E4%B8%BE%E5%8A%9E%E4%B8%9C%E5%A5%A5%E4%BC%9A
categories: rfi
---

<div>07/05/2021 - 17:38</div><img src="https://s.rfi.fr/media/display/1678dff6-e3b6-11ea-883f-005056bff430/w:310/p:16x9/bjd.jpg"><div class="t-content__body u-clearfix" >
                    <p>据路透社今天引述中央电视台消息，中国国家主席习近平周五同国际奥委会主席巴赫通电话时还强调，中方正在围绕如期举办北京冬奥会和冬残奥会目标，稳步推进各项筹办工作。目前所有竞赛场馆全部完工，赛事组织和场馆运行有序开展，社会服务保障工作加快推进，宣传推广和文化活动有序推进。</p><p>据习近平说，“中方举办了雪上项目冰上项目测试活动，对办赛设计的关键要素进行了有效检验。中方将组织好下半年各项测试赛，为北京冬奥会冬残奥会打下更加坚实的基础。”</p><p>据中国官方消息说，巴赫也表示，国际奥委会愿同中方加强疫苗合作，反对将奥林匹克运动政治化，愿同中方继续密切合作，全力支持中方如期举办北京冬奥会和冬残奥会。</p>
                </div>
            
                                <br>
