---
layout: post
title: 澳洲检讨中国岚桥集团租赁达尔文港99年合约 – 法国国际广播电台 - RFI
date: 2021-05-03 20:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%BE%B3%E6%B4%B2%E6%A3%80%E8%AE%A8%E4%B8%AD%E5%9B%BD%E5%B2%9A%E6%A1%A5%E9%9B%86%E5%9B%A2%E7%A7%9F%E8%B5%81%E8%BE%BE%E5%B0%94%E6%96%87%E6%B8%AF99%E5%B9%B4%E5%90%88%E7%BA%A6
categories: rfi
---

<div>03/05/2021 - 14:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社雪梨3日电）    澳洲政府今天表示，正在检讨中国岚桥集团租赁达尔文港（Darwin Port）99年的租约，且有可能予以废止。此举为北京与坎培拉（Canberra）当局的关系开启新争端。</p><p>    达尔文港是澳洲北海岸最重要、最靠近亚洲的港口，位居印度洋-太平洋地区（Indo-Pacific）的门户。</p><p>    澳洲北领地（Northern Territory）政府2015年以5亿600万澳元（约3亿9100万美元）的价码，把达尔文港租给中国亿万富豪叶成的岚桥集团99年，遭到安全专家批评。而且2011年时任美国总统欧巴马（Barack Obama）已达成协议，要在达尔文设立一座部署大约2500名陆战队员的美军基地。</p><p>    在遭美方质疑后，澳洲国防部2015年12月否认这项合约可能妨害国安。</p><p>    时任澳洲防长李察逊（John Richardson）表示，担心解放军可能掌握进入港口设施的管道，是「危言耸听的胡说八道」。他还说中国绝无机会刺探美澳交流，因为海军船舰进入任何商港后都将停止通讯。</p><p>    澳洲新任国防部长杜登（Peter Dutton）告诉「雪梨晨驱报」（The Sydney Morning Herald），国防部已被要求回头给予2015年的租约一些建议。他拒绝排除以国安理由强迫岚桥集团撤资的可能性。</p><p>    杜登说，国防部会进行检讨，「之后我们就能研究符合我国利益的选项」。</p><p>    澳洲去年12月通过一项对外关系法，允许坎培拉当局可以否决未来的敏感合约，并对已经签署的合约展开检讨。</p><p>    预料当局今年底前就会完成相关检讨，而且各界早已预期达尔文港也在检讨范围。但杜登这次是首度公开揭露达尔文港合约面临检讨。</p><p>    若租约被废止，肯定会让原已深陷危机的澳中关系更形紧绷。</p><p>    澳洲总理莫里森（Scott Morrison）的政府上月才刚运用新法，取消北京与维多利亚州（Victoria）的「一带一路」协议。中国对此愤怒回应，并警告此举将严重伤害两国原已不和的关系。</p><p>    现在有愈来愈多人猜测，莫里森可能援引去年12月通过的新法，来取消中国企业长期租用达尔文港和纽卡索港（Newcastle）的合约。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
