---
layout: post
title: 原材料：气候目标之挑战
date: 2021-05-07 06:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210506-rfi-%E6%B3%95%E5%B9%BF-%E5%B0%BC%E5%8F%A4%E6%8B%89-%C3%A9cologie-%C3%A9nergie-%E5%8E%9F%E6%9D%90%E6%96%99-%E6%B0%94%E5%80%99%E7%9B%AE%E6%A0%87%E4%B9%8B%E6%8C%91%E6%88%98
categories: rfi
---

<div>06/05/2021 - 23:56</div><img src="https://s.rfi.fr/media/display/b9f5bb30-1090-11ea-b9e0-005056a99247/w:310/p:16x9/terres_rares_rfi_0.jpg"><div class="t-content__body u-clearfix" >
                    <p>本台法广（<strong>RFI</strong>）法文网周四（2021年5月6日）在 «原材料»专栏(<strong>Chronique des matières premières</strong>)刊出记者<strong>Marie-Pierre Olphand</strong>的最新长篇报道，探讨未来原材料供需与能源转型之间关系。在此做着重介绍。</p><p>这一报道开篇提到，要成为低碳领域的好学生，首先需要有这样的意愿，但还需要具备这样的能力。如果受限于原材料匮乏，国际气候雄心有可能很快就不得不调降。就此，国际能源署呼吁各国，如果未来想要保证好矿物供应，急切需要展开磋商，尤其是在电动汽车ˎ 光伏工厂和风力等，这些仅是清洁能源载体的领域。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Une mine, à Johannesburg."
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/c194e768-10ad-11ea-bf72-005056bf7c53\/&quot;,&quot;filename&quot;:&quot;gettyimages-183042156_0.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/c194e768-10ad-11ea-bf72-005056bf7c53/gettyimages-183042156_0.jpg" alt="Une mine, à Johannesburg."
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Une mine, à Johannesburg.</span>                <span class="a-media-legend">Getty Images/Contributeur</span>            </figcaption>
            </figure>

        </div><p>每种科技的需求各不相同。为了效率，电池需要锂（lithium）ˎ 镍（nickel）ˎ 钴（cobalt）ˎ 锰（manganèse）甚至还需要石墨（graphite）。稀土是一组17种金属，尤其被用于制造风力涡轮机的磁性材料。至于铜，只要谈到电力就必不可缺。国际能源署总结了以下数字：一座海上风力发电机组所需的矿物是同等规模天然气发电机组的9倍，一辆电动汽车之所耗则比一部汽油车辆高六倍。</p><p><strong>2030年采矿业将供不应求</strong></p><p>需求已经十分强劲，并将在十年内暴增。一些矿物的需求缺口可能会进一步扩大。比如，参照国际能源署的解释，在符合巴黎气候协议所设定的目标的情况下，到2030年，钴和锂的现有储量和正在规划中的开矿项目的储量，可能只能满足需求的一半。</p><p>原材料的可用性问题还与其分布不均有关。少数几个国家集中了能源转型所需的四分之三矿物，不同于石油和天然气的全球分布更佳。举例而言，2019年刚果的钴产量占70%；中国的稀土产量占60%。</p><p><strong>能源转型难度可能超预期</strong></p><p>能源转型可能比预期更久，更昂贵。鉴于对一些矿物开采投资的减少，提出质疑也是合理的。自勘探阶段到开采阶段，期间经常会长达10年至20年。一旦延误难以追赶。国际能源署指出，没有投资或选错目标就会导致出现能源转型所需时间更长久，所需代价更昂贵的风险。再次举例为证，如果锂或镍的价格翻倍，电池就可能涨价6%。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Photo d&#039;illustration: la première éolienne en mer en France inaugurée le 13 Octobre 2017."
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/59e52a60-14c2-11ea-bbd9-005056bf7c53\/&quot;,&quot;filename&quot;:&quot;000_tc9i4_0_0.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/59e52a60-14c2-11ea-bbd9-005056bf7c53/000_tc9i4_0_0.jpg" alt="Photo d&#039;illustration: la première éolienne en mer en France inaugurée le 13 Octobre 2017."
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Photo d&#039;illustration: la première éolienne en mer en France inaugurée le 13 Octobre 2017.</span>                <span class="a-media-legend">© AFP / LOIC VENANCE </span>            </figcaption>
            </figure>

        </div><p>国际能源署告知，如果各国不明确其能源雄心，矿业投资未来可能就无法跟进。专家提出，回收利用和科技研究寻找替代金属也是途径，但不是唯一办法。</p>
                </div>
