---
layout: post
title: 世卫秘书长谭德塞打算寻求连任 – 法国国际广播电台 - RFI
date: 2021-05-05 01:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%96%E5%8D%AB%E7%A7%98%E4%B9%A6%E9%95%BF%E8%B0%AD%E5%BE%B7%E5%A1%9E%E6%89%93%E7%AE%97%E5%AF%BB%E6%B1%82%E8%BF%9E%E4%BB%BB
categories: rfi
---

<div>04/05/2021 - 19:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社日内瓦3日电）    美国保健新闻网站Stat News披露，领导全球对抗2019冠状病毒疾病（COVID-19）疫情的世界卫生组织秘书长谭德塞打算竞选连任。</p><p>    现年56岁的谭德塞（Tedros Adhanom Ghebreyesus ）曾经担任祖国衣索比亚外长与卫生部长，不过尚未公开宣布是否寻求连任。</p><p>    但接近谭德塞的不具名消息来源向Stat News透露，明年任期届满的谭德塞打算拚连任；世卫组织（WHO）以电邮答覆法新社的询问，并未明确指出谭德塞是否要竞选连任，仅说提名候选人时程自上个月展开。</p><p>    谭德塞是在2017年当选世卫秘书长，并且是执掌此联合国（UN）卫生机构的首位非洲人，世卫秘书长任期5年一任最多可做两任，不论是首任或续任都必须经会员国票选。</p><p>    Stat News报导称，目前还不清楚是否有人会跳出来，挑战打算寻求连任的谭德塞。</p><p></p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
