---
layout: post
title: "“拯救性”新冠疫苗 贫穷国家如何获得？"
date: 2021-05-05 06:36:04.000000000 +08:00
link: http://chinese.aljazeera.net/medicine/2020/12/17/%e6%8b%af%e6%95%91%e6%80%a7%e6%96%b0%e5%86%a0%e7%96%ab%e8%8b%97%e8%b4%ab%e7%a9%b7%e5%9b%bd%e5%ae%b6%e5%a6%82%e4%bd%95%e8%8e%b7%e5%be%97
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2020/12/67682446.jpeg?resize=770%2C513" srcSet="/wp-content/uploads/2020/12/67682446.jpeg?resize=120%2C80 120w, /wp-content/uploads/2020/12/67682446.jpeg?resize=270%2C180 270w, /wp-content/uploads/2020/12/67682446.jpeg?resize=375%2C250 375w, /wp-content/uploads/2020/12/67682446.jpeg?resize=570%2C380 570w, /wp-content/uploads/2020/12/67682446.jpeg?resize=770%2C513 770w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, (max-width: 770px) 770px, 770px" alt="<div class="wysiwyg wysiwyg--all-content"><p>似乎期待已久的拯救行动正在临近，诸如英国、美国和俄罗斯等国家开始大规模接种新冠疫苗计划。</p>
<p>在欧盟国家中，预计将在12月做出接种第一批新冠疫苗的相关决定，与此同时，尽管那里的居民越来越接近获得新冠疫苗，但在贫穷国家，对于大规模接种新冠疫苗的里程碑式转变仍遥遥无期。</p>
<p>从一开始就很清楚，许多发展中国家无法在疫苗市场上独自生存。这就是世界卫生组织为什么在几个月前与诸如流行病防范创新联盟（CEPI）和全球疫苗免疫联盟（Gavi）合作创建了疫苗全球获取（COVAX）机制，旨在确保疫苗的公平分配。</p>
<p>迄今为止，已有数十个国家加入了这项计划，其中一些是自付新冠疫苗费用，而其他一些则需要财政支持。COVAX倡议承诺提供足够的剂量，以确保每个国家20％人口可以接种疫苗。</p>
<p>据德国媒体报道称，这项计划目前包括9种候选疫苗，其中两种最有可能的候选疫苗是“阿斯利康”和“莫德纳”疫苗，与此同时，“辉瑞-BioNTech疫苗”并未在候选疫苗行列。</p>
<p>与此同时，欧盟承诺支持COVAX倡议，迄今为止，欧盟已捐款4亿欧元（约合4.87亿美元），欧盟委员会主席乌尔苏拉·冯德莱恩表示，合理分配疫苗是一个重要的项目。</p>
<p>研究医学的德国政治家不断宣称，只有每个人都安全时，所有人才会安全，这位德国政治家表示，“这意味着每个人都可以接受检测和治疗，并可接种疫苗。”</p>
<p><img class="aligncenter size-fantasia-770 wp-image-158466" src="https://chinese.aljazeera.net/wp-content/uploads/2020/12/image-7-1.jpg?w=770&amp;resize=770%2C433" data-recalc-dims="1" /></p>
<h2>独家合同</h2>
<p>尽管继续强调全球团结，但欧盟还通过一份独家合同从6家公司购买了新冠疫苗，世界卫生组织总干事谭德赛最近警告称，不要让预先购买疫苗成为全国性问题。</p>
<p>通过这些合同，欧盟为其保证了将近20亿剂疫苗。一旦批准使用疫苗，欧盟所有成员国都将能够同时接种新冠疫苗，并且能满足基本需求。</p>
<p>尽管如此，各国自己决定保留新冠疫苗剂量以及向中低收入国家捐赠的新冠疫苗剂量，因此，有关疫苗分布的团结程度仍然未知。</p>
<p>COVAX倡议还计划到2021年底筹集20亿剂疫苗，但尚未获得必要的资金。世卫组织非洲区域办公室的首位女性负责人 —— 马奇迪索·莫提（Matshidiso Moeti）表示，COVAX倡议迄今已筹集了约55亿美元，但还需要42亿美元。</p>
<p>尽管缺乏资金，德国总理默克尔表示，希望这项倡议能够取得迅速进展，她并表示，“我认为，现在最重要的就是让COVAX倡议与有潜力的疫苗生产公司进行资助谈判 ……我们将谈论全球疫苗免疫联盟何时开始这些谈判，现在这个问题让我感到担心，因为到现在为止还没有采取任何行动。”</p>
<p>据全球疫苗免疫联盟发言人说法称，已经确定了数亿剂疫苗，该发言人并补充说，最近签署了提供另外2亿剂疫苗的意向书，并解释说，在此之后，将在适当时候宣布更多协议。</p>
<p>但是，仅依靠COVAX倡议是无法抗击发展中国家的新冠疫情，隶属于非洲联盟的非洲疾控中心主任约翰·恩肯加松表示，非洲大陆致力于为60％人口接种疫苗，以实现群体免疫，相比之下，COVAX倡议计划仅为20％的人口提供新冠疫苗接种。</p>
<p>因此，根据约翰·恩肯加松说法称，非洲疾控中心正试图从世界银行和非洲进出口银行获得更多资金，以便购买更多的新冠疫苗。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-158462" src="https://chinese.aljazeera.net/wp-content/uploads/2020/12/image-311-1.jpg?w=770&amp;resize=770%2C404" data-recalc-dims="1" /></p>
<h2>后勤</h2>
<p>但是，最大的挑战将是物流。例如，辉瑞疫苗应储存在零下70摄氏度条件下。约翰·恩肯加松表示，“这些运输条件使我们的大陆很难迅速进行疫苗接种，”他并补充说，阿斯利康疫苗由于冷藏条件宽松而对非洲更具吸引力，尽管这款疫苗的有效性较差，另一个困难是难以运送至偏远村庄和冲突地区的人们。</p>
<p>因此，这位卫生官员呼吁要保持耐心，“我们必须现实一点，我们非洲大陆无法在明年年中之前真正进行疫苗接种计划。”</p>
<p>非洲面临着许多危险，不能对大部分人口进行足够的疫苗接种会带来长期的可怕后果。</p>
<p>约翰·恩肯加松表示，“我们想到的最后一件事情就是新冠肺炎成为非洲大陆的地方疾病，”他并补充说，“这不仅将威胁到我们的大陆，而且将威胁到整个世界。”</p>
</div><div class="article-source">来源<!-- --> : <!-- -->德国媒体</div>
