---
layout: post
title: 凡尔赛宫路易十五私人办公室翻修完工静待游客 - 文化遗产
date: 2021-05-05 21:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E6%96%87%E5%8C%96%E9%81%97%E4%BA%A7/20210505-%E5%87%A1%E5%B0%94%E8%B5%9B%E5%AE%AB%E8%B7%AF%E6%98%93%E5%8D%81%E4%BA%94%E7%A7%81%E4%BA%BA%E5%8A%9E%E5%85%AC%E5%AE%A4%E7%BF%BB%E4%BF%AE%E5%AE%8C%E5%B7%A5%E9%9D%99%E5%BE%85%E6%B8%B8%E5%AE%A2
categories: rfi
---

<div>05/05/2021 - 15:02</div><img src="https://s.rfi.fr/media/display/aae7ce22-a72a-11ea-86fc-005056bff430/w:310/p:16x9/000_1PW0QM.jpg"><div class="t-content__body u-clearfix" >
                    <p>路易十五时期，建筑师Ange-Jacques Gabriel将 路易十四时期的一个庭廊改装，在卧室、浴室和客厅之外，还为国王设计了这间工作室。据说，喜欢安静独处的路易十五经常在这里处理信函。这间在象征着权力中心的王家宫殿内的私人工作室被看作是凡尔赛宫的一个非常标志性的设计，</p><p>工作室内原本有多张扶手椅、座椅，两张可移动的小桌儿，还有一道屏风。洛可可风格的壁炉前设有挡板。不过，房间里虽然当年有不少家具，但其实只有少数人被允许进入。室内装潢十分精致，地面是凡尔赛宫的典型装饰，室内镶板精雕细琢，镜框是棕榈叶、花环和百合花图案组成的镀金木雕。樱桃大理石的壁炉装饰有孩童嘻嘻的图案。所有镀金装饰经过修复如今重放光芒。墙壁也采用当时王家偏爱的乳白色原样粉刷。据介绍，历史上，王室偏爱这种乳白色，认为这种颜色更高雅。整个房间的设计与装饰都体现着路易十五最看中的实用与和谐。</p><p>房内最引人注目的物件是房子正中那张高1，5米的办公桌。一度失去光泽的镀金青铜装饰重新显露出其富丽堂皇，凸出6个主题：国王、文学、科学、商业、武器和美丽。而这张办公桌的神奇之处，是其中的多个暗藏的抽屉，国王可以在这里收藏不想被他人看到的信函或物件。这些暗屉有一个极为复杂的轴承机制连接，只需要一把钥匙启动机关，即可全部开启。这种机制在两百多年前堪称是工匠的重要发明。据说，工匠当时用了九年的时间，才完成这张办公桌的制作。</p><p>暗屉内如今当然已经没有路易十五曾经希望掩人耳目的信函与物件，但却并非空无一物。那里保存着一份上一次修复工程的手迹文件。一位名叫哈特费尔德的人自称曾在二战德国人占领巴黎期间进行修复工作，并在1944年8月，巴黎被联军解放那一周，完成了工程。</p><p>这间办公室虽然是路易十五希望个人独处的私人空间，但显然当年也不乏装饰功能。室内原本布置有近四十幅画作。而且，除办公桌外，人们还可以看到精工细作的抽屉柜、转角柜、时钟以及一个名为“美国独立”的烛台。</p><p>与国王私人办公室同时完成修复的还有凡尔赛宫的国王小教堂外观。这是目前唯一保存完整，并始终保持了原始功能的17-18世纪建筑。一些历史学家认为这是凡尔赛宫内工艺最好的建筑。教堂高40米，一览众山小，似乎意在象征上帝高于凡人。小教堂如今已经重新恢复了路易十四时期的面貌。金光灿灿的屋顶仿佛也让整座城市熠熠生辉。重两百公斤的几尊雕像曾被拆下，运走，在工坊修复。</p><p>国王小教堂和路易十五私人办公室被看作是凡尔赛宫的两件瑰宝。</p><p>法国第三次封城防疫措施正逐步解除，凡尔赛宫也许不久就会对公众重新开放。听众朋友不妨在外国游客翻涌而来之前，去观赏这些重现光芒的历史杰作。</p>
                </div>
            
                                <br>
