---
layout: post
title: 英国地方选举登场 苏格兰独立议题受注目 – 法国国际广播电台 - RFI
date: 2021-05-06 21:15:15.000000000 +08:00
link: http://www.rfi.fr//cn/%E8%8B%B1%E5%9B%BD%E5%9C%B0%E6%96%B9%E9%80%89%E4%B8%BE%E7%99%BB%E5%9C%BA-%E8%8B%8F%E6%A0%BC%E5%85%B0%E7%8B%AC%E7%AB%8B%E8%AE%AE%E9%A2%98%E5%8F%97%E6%B3%A8%E7%9B%AE
categories: rfi
---

<div>06/05/2021 - 15:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社伦敦6日电）    英国今天举行地方和区域选举，这是英国脱离欧洲联盟（EU）及2019冠状病毒疾病（COVID-19）疫情爆发以来首次举行这类选举，其中出现独立公投呼声的苏格兰，成为外界关注焦点。</p><p>    今天登场的地方选举也将测试英国民众对首相强生（Boris Johnson）的支持度。强生带领英国脱离欧盟和经历严峻的疫情。英国染疫死亡人数虽然在欧洲国家当中是最高，但施打疫苗速度却是最快。</p><p>    强生最近被爆出砸大钱装潢唐宁街10号官邸的丑闻，保守党忧心会冲击地方选情，强生对此不予理会。</p><p>    被称为「超级星期四」的地方选举将选出英格兰地方议会议员、伦敦等地方首长，以及威尔斯和苏格兰议会议员。</p><p>    其中以苏格兰议会选举备受瞩目，苏格兰民族党（Scottish National Party ）希望在疫情结束后，再次举行独立公投。</p><p>    苏格兰民族党党魁、苏格兰首席大臣施特金（Nicola Sturgeon）在疫情期间积极的动作，人气上扬，盼能拿下议会多数席次。</p><p>    施特金4日在电视辩论中表示：「挺过这次的危机是我的优先要务。」</p><p>    苏格兰大多数的民众反对英国离开欧盟，因此脱欧助长苏格兰追求独立的心理，但忧心疫情后经济动荡的疑虑，也有助于苏格兰民众支持留在英国。</p><p>    苏格兰2014年举行独立公投，当时55%选民投下反对票。强生曾表示，2014年的公投结果，终结一个世代的辩论。</p><p>    强生昨天表示：「现在不是举行轻率、不负责公投的时候。」（译者：刘淑琴/核稿：陈政一）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
