---
layout: post
title: 香港最新民调：近6成受访者反对修改香港选举制度
date: 2021-05-09 03:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210508-%E9%A6%99%E6%B8%AF%E6%9C%80%E6%96%B0%E6%B0%91%E8%B0%83-%E8%BF%916%E6%88%90%E5%8F%97%E8%AE%BF%E8%80%85%E5%8F%8D%E5%AF%B9%E4%BF%AE%E6%94%B9%E9%A6%99%E6%B8%AF%E9%80%89%E4%B8%BE%E5%88%B6%E5%BA%A6
categories: rfi
---

<div>08/05/2021 - 21:00</div><img src="https://s.rfi.fr/media/display/b388049e-91ac-11eb-84c5-005056bf87d6/w:310/p:16x9/2021-03-29T011701Z_1028461441_RC2PKM9UBPQG_RTRMADP_3_CHINA-PARLIAMENT-HONGKONG.JPG"><div class="t-content__body u-clearfix" >
                    <p>中国全国人大常委会3月底决定，修改香港《基本法》有关特首及立法会选举制度，确保爱国者治港，香港政府还将立法禁止公开呼吁他人不投票、投白票或投废票。而以上这项5月3日至6日进行的最新民调就是针对中国人大有关修改香港选举制度的决定。</p><p>这一网上民意调查成功访问了7,000人，结果显示有59%的受访者，反对政府即将修改香港的选举制度，支持的有30%，表示一般般的有7%，另有4%受访者表示，不知道、很难讲。</p><p>以政治取向区分，6,268名自称民主派支持者当中，有96%反对政府即将修改香港的选举制度，支持的只有4%；732名自称非民主派支持者当中，有39%反对政府即将修改香港的选举制度，支持的有44%，另有11%表示一半半，6%表示不知道，很难说。</p><p>针对政府打算立法禁止任何人士公开呼吁他人不投票、投白票或投废票，56%的受访者表示反对，支持的有34%，另有7%的受访者表示一半半，3%的受访者表示不知道、很难讲。</p><p>以政治取向区分，6,268名自称民主派支持者当中，有91%反对政府打算立法禁止任何人士公开呼吁他人不投票、投白票或投废票，支持的只有4%，另有3%表示一半半，2%的受访者表示不知道、很难讲。</p><p>732名自称非民主派支持者当中，有37%反对政府打算立法禁止任何人士公开呼吁他人不投票、投白票或投废票，支持的只有51%，另有9%表示一半半，3%的受访者表示不知道、很难讲。</p><p>分析认为：民调结果显示，96%的民主派支持者，反对政府即将修改香港的选举制度，反映对于民主派支持者来讲，是绝对不能接受，而非民主派支持者亦有接近4成反对修改选制，反映建制派支持者对修改香港选举制度也是意见分歧。</p>
                </div>
            
                                <br>
