---
layout: post
title: 安卡拉呼吁不要将其部队混淆 土耳其与德国强调外国雇佣军必须离开利比亚 | 土耳其 News | 半岛电视台
date: 2021-05-09 15:06:06.000000000 +08:00
link: http://chinese.aljazeera.net/news/2021/5/6/%e5%ae%89%e5%8d%a1%e6%8b%89%e5%91%bc%e5%90%81%e4%b8%8d%e8%a6%81%e5%b0%86%e5%85%b6%e9%83%a8%e9%98%9f%e6%b7%b7%e6%b7%86%e5%9c%9f%e8%80%b3%e5%85%b6%e4%b8%8e%e5%be%b7%e5%9b%bd%e5%bc%ba%e8%b0%83%e5%a4%96
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/Capture-8.jpg?resize=770%2C513" srcSet="/wp-content/uploads/2021/05/Capture-8.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/05/Capture-8.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/05/Capture-8.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/05/Capture-8.jpg?resize=570%2C380 570w, /wp-content/uploads/2021/05/Capture-8.jpg?resize=770%2C513 770w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, (max-width: 770px) 770px, 770px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><p>土耳其外交部长恰武什奥卢表示，他的国家和德国一致同意，所有雇佣军和外国部队必须撤离利比亚，并强调，必须尊重安卡拉与利比亚政府签署的双边协议。</p>
<p>在柏林与德国外交部长海科·马斯召开的联合新闻发布会上，恰武什奥卢强调，必须支持利比亚宣布的政治进程。</p>
<p>恰武什奥卢表示，根据与前利比亚民族团结政府达成的协议，土耳其驻利比亚武装部队将留在那里，不应将其与驻扎在利比亚的外国雇佣兵相混淆。</p>
<p>土耳其外交部长补充说，“2020年是土耳其与欧盟关系艰难的一年，但似乎今年会更好<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<h3>‘一个重要的盟友’</h3>
<p>德国外交部长表示，安卡拉是北大西洋公约组织（北约）内的“重要盟友”，并强调，“德国与土耳其之间存在着重要的伙伴关系，特别是在阿富汗问题上<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p>另一方面，德国外交部长则强调了柏林会议成果，其中最重要的是外国部队撤离利比亚，并称利比亚的政治进展令人鼓舞。</p>
<p>关于安卡拉与柏林之间的双边关系，马斯表示，安卡拉是北大西洋公约组织（北约）内的重要盟友，德国与土耳其有着重要的伙伴关系，特别是在阿富汗和平方面。</p>
<p>德国政府发言人当地时间5月5日表示，总理默克尔对土耳其总统埃尔多安表示，外国部队撤离利比亚将是“一个重要信号”，与此同时，两位领导人誓言支持新的利比亚临时政府。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台＋通讯社</div><br>
