---
layout: post
title: 日本19人接种新冠疫苗后死亡
date: 2021-05-01 18:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210501-%E6%97%A5%E6%9C%AC19%E4%BA%BA%E6%8E%A5%E7%A7%8D%E6%96%B0%E5%86%A0%E7%96%AB%E8%8B%97%E5%90%8E%E6%AD%BB%E4%BA%A1
categories: rfi
---

<div>01/05/2021 - 12:22</div><img src="https://s.rfi.fr/media/display/8e732c1e-29f7-11eb-8c17-005056bff430/w:310/p:16x9/2020-11-18T173710Z_693770841_RC2T5K9MGBWX_RTRMADP_3_HEALTH-CORONAVIRUS-BRITAIN-MHRA.JPG"><div class="t-content__body u-clearfix" >
                    <p>到27日为止，在新的疫苗接种后死亡报告中提及的9人中，一名46岁男性没有宿疾, 但是，接种次日因急性主动脉剥离死亡。一名90岁女性接种后，医疗机关表示：怀疑发生了急性过敏性反应，2日后因肺血栓栓塞症死亡。</p><p>日本厚生劳动省30日的报告还显示：从4月19日到23日，在9名死亡者中，有8名77岁到101岁的高龄者接种了新型冠状病毒疫苗后5日，分别出现脑出血和肺血栓栓塞症等。</p><p>日本全国到4月22日为止，用美国辉瑞制疫苗接种251万7045次（其中普通老年人5万1479次）有94件被诊断为急性过敏反应，发生频度为10万次中有3·7件。死亡的90岁女性的情况是否符合接种时发生急性过敏反应频率的国际基准，有待今后调查。</p><p>目前，日本疫苗接种人次到4月28日为止，医疗工作者已接种3,348,013回；高龄者到4月29日为止，已接种141,706回。</p><p>为了7月内完成对所有老年人的新冠疫苗接种，日本政府4月30日向各都道府县通知了5月下旬至6月最后一周对每个市区町村的配送量，6月底之前将配送用完所有老年人接种的部分。</p><p>目前日本只批准了辉瑞疫苗在日本的使用，而由美国制药企业莫德纳研发的新冠疫苗已开始运往日本，第一架运送疫苗的飞机于日本时间4月30日上午飞抵关西机场。莫德纳研发的新冠疫苗现在还处于审批阶段。日本政府计划在审批手续完毕后，将其用于设在东京和大阪的大型疫苗接种点等，目前相关协调工作正在进行当中。</p>
                </div>
            
                                <br>
