---
layout: post
title: 美参议院罕见促设“白宫首席制造官”职位 应对中国竞争
date: 2021-05-08 16:45:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E6%B4%B2/20210508-%E7%BE%8E%E5%8F%82%E8%AE%AE%E9%99%A2%E7%BD%95%E8%A7%81%E4%BF%83%E8%AE%BE-%E7%99%BD%E5%AE%AB%E9%A6%96%E5%B8%AD%E5%88%B6%E9%80%A0%E5%AE%98-%E8%81%8C%E4%BD%8D-%E5%BA%94%E5%AF%B9%E4%B8%AD%E5%9B%BD%E7%AB%9E%E4%BA%89
categories: rfi
---

<div>08/05/2021 - 10:21</div><img src="https://s.rfi.fr/media/display/049b818a-1a1b-11eb-bde2-005056bff430/w:310/p:16x9/2020-10-09T144337Z_20673722_RC22FJ9XSNIA_RTRMADP_3_USA-ECONOMY-FISCAL%20%281%29.JPG"><div class="t-content__body u-clearfix" >
                    <p>美参议院提议设立“白宫首席制造官”职位，以应对来自中国的竞争压力。路透社说，根据该通讯社周五看到的一份长达131页的立法草案，美国参议院委员会领袖在达成妥协后提议，五年内向基础和先进科技研究方面投资1,100亿美元，并设立一个白宫“首席制造官”职位，以应对来自中国的不断上升的竞争压力。</p><p>这份由参议院商务委员会主席Maria Cantwell和该委员会最高共和党人Roger Wicker提议的法案草案经过了修改，并将于下周三进行辩论。</p><p>这份名为“无尽的前沿”的两党提案提议的措施还包括再拨款100亿美元，设立至少十个区域技术中心，并创建一个供应链危机应对计划，来解决殃及汽车生产的半导体芯片缺口等问题。修订后的版本还将创建一个新的由参议院确认的首席制造官，他将在总统的执行办公室任职，并将领导一个新的制造和工业创新政策办公室(Office of Manufacturing and Industrial Innovation Policy)。</p><p>法案还将指示商务部建立“供应链韧性和危机应对项目”，包括“供应链在面临大流行病和生物威胁、网络攻击、极端天气、恐怖主义和地缘政治攻击、大国冲突等冲击时抵御和恢复的能力”。</p><p>路透社报道称，该法案还寻求促进基础研究，加速创新，以推进关键的矿产开采战略和技术，以消除“国家对易受供应中断影响的矿产和矿物材料的依赖”。该法案草案还将阻止中国公司在没有获得豁免的情况下参与“制造美国”项目。该项目由政府和企业主导，旨在增强工业竞争力，减少能源使用，加强美国国家安全。</p>
                </div>
            
                                <br>
