---
layout: post
title: 全球累计确诊病例8300万例 美国单日新增死亡病例数创纪录与年底疫苗希望增加
date: 2021-05-02 05:36:04.000000000 +08:00
link: http://chinese.aljazeera.net/news/2020/12/31/%e5%85%a8%e7%90%83%e7%b4%af%e8%ae%a1%e7%a1%ae%e8%af%8a%e7%97%85%e4%be%8b8300%e4%b8%87%e4%be%8b%e7%be%8e%e5%9b%bd%e5%8d%95%e6%97%a5%e6%96%b0%e5%a2%9e%e6%ad%bb%e4%ba%a1%e7%97%85%e4%be%8b%e6%95%b0
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2020/12/image-712.jpg?resize=770%2C513" srcSet="/wp-content/uploads/2020/12/image-712.jpg?resize=120%2C80 120w, /wp-content/uploads/2020/12/image-712.jpg?resize=270%2C180 270w, /wp-content/uploads/2020/12/image-712.jpg?resize=375%2C250 375w, /wp-content/uploads/2020/12/image-712.jpg?resize=570%2C380 570w, /wp-content/uploads/2020/12/image-712.jpg?resize=770%2C513 770w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, (max-width: 770px) 770px, 770px" alt="<div class="wysiwyg wysiwyg--all-content"><p>全球新冠肺炎累计确诊病例已超过8300万例，美国单日新增死亡病例接近4000大关，与此同时，值全世界准备迎接新年之际，有关疫苗终结新冠大流行的希望在不断增加。</p>
<p>根据Worldometers世界实时统计数据，全球累计确诊病例达8310万例，累计死亡病例达约181.2万例，累计治愈超过5889万例。</p>
<p>约翰·霍普金斯大学宣布，在全球受新冠疫情影响最严重的美国，在过去24消失内，新增死亡病例3927例，新增确诊病例约19万例。</p>
<p>根据Worldometers世界实时统计数据，美国累计确诊病例已超过2000万例，累计死亡病例已超过35万例。</p>
<p>美国加州州长加文·纽瑟姆（Gavin Newsom）宣布该州出现首例变异新毒株感染者，此前一天，科罗拉多州宣布该州出现首例变异毒株感染者。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-161921" src="https://chinese.aljazeera.net/wp-content/uploads/2020/12/image-4-6.jpg?w=770&amp;resize=770%2C433" data-recalc-dims="1" /></p>
<h3>疫苗</h3>
<p>迄今为止，美国已批准使用“ 辉瑞-BioNTech”和“ Moderna”两种疫苗紧急授权，约有280万人接种了第一针疫苗，但这远低于美国总统特朗普政府当初设定的目标。</p>
<p>美国政府首席传染病专家、美国国家过敏和传染病研究所（NIAID）所长安东尼·福西（Anthony Fauci）表示，预计美国能够通过接种疫苗达到一定程度的群体免疫，这将允许在2021年秋天实现正常生活的回归，尽管疫苗接种行动在早期阶段遭遇了各种障碍。</p>
<p>当地时间12月31日，中国批准国药集团中国生物新冠疫苗的使用，这是国药集团在证实疫苗有效率达79.34％后首次向公众发布疫苗。</p>
<p>阿联酋以前曾向公众提供这种中国疫苗，而巴基斯坦已购买了120万剂国药集团中国生物新冠疫苗。</p>
<p>另一方面，欧洲药品管理局表示，由“阿斯利康公司”与牛津大学合作开发的疫苗已于当地时间12月30日获得英国批准，但不太可能在下个月获得欧盟批准，欧洲药品管理局并表示，其正在等待该公司提供更多信息。</p>
<p>欧洲药品管理局已在10天前批准了“辉瑞-BioNTech”疫苗，并且还计划在一周后对“ Moderna”疫苗做出决定。</p>
<p>英国将从1月4日开始加速阿根廷采用的“阿斯利康-牛津”疫苗的接种行动。</p>
<p>德国总理默克尔预计该国的新冠疫情危机将持续到2021年。在新年之际的演讲中，默克尔表示，新冠大流行带来的挑战仍然巨大，这也是她第四届任期结束后的最后一次演讲。</p>
<p>默克尔谴责怀疑论者发表的阴谋论，并声称这些谣言是虚假的、危险的和可笑的，没有考虑到受害者及其家人的感受。</p>
<p>德国卫生部长延斯·施潘强调了疫苗接种行动的成功，并解释说，到目前为止，已有6万德国人接种了“辉瑞-BioNTech”疫苗，与此同时，政府希望将关闭学校、非必需品商店、酒吧和餐馆而实行的限制措施延长至1月10日。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-161923" src="https://chinese.aljazeera.net/wp-content/uploads/2020/12/image-6-6.jpg?w=770&amp;resize=770%2C433" data-recalc-dims="1" /></p>
<p>在法国，官员和医生对与疫苗接种运动有关的谨慎表示遗憾，他们认为，与邻国相比，法国疫苗接种行动非常缓慢，右翼参议员布鲁诺·雷塔约（Bruno Retailleau）在推特上发表推文称，“德国已为超过4.2万人接种了疫苗，英国已为90万人接种了疫苗，而法国接种疫苗人数则不足200人。”</p>
<p>在一次民意测验中，只有40％的法国人表示希望接种疫苗，与此同时，法国卫生当局赌注于人们随着疫苗接种行动的继续而改变立场，赌注于那些接种疫苗的人没有出现令人担忧的副作用。</p>
<p>在意大利，总理朱塞佩·孔特表示，疫苗接种行动的效果要到1000万至1500万公民接种疫苗之后才会显现，他并解释说，“我认为这不会在4月之前发生。”</p>
<p>意大利国家统计局（National Institute of Statistics）当地时间30日表示，该国新冠肺炎累计死亡人数比公布的数字要多得多，因为当局声称2月至11月底期间死亡病例约达5.7万例，而统计局估计上述时期死亡人数约为8.4万。</p>
<p>在活动和旅行频繁的年底假期期间，新冠病毒感染率可能会有所增加，鉴于此，各国当局收紧了封锁措施，例如德国、爱尔兰和英国。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台＋通讯社</div>
