---
layout: post
title: 挺总统比防疫重要 巴西数千人群聚示威没在怕 – 法国国际广播电台 - RFI
date: 2021-05-02 14:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%8C%BA%E6%80%BB%E7%BB%9F%E6%AF%94%E9%98%B2%E7%96%AB%E9%87%8D%E8%A6%81-%E5%B7%B4%E8%A5%BF%E6%95%B0%E5%8D%83%E4%BA%BA%E7%BE%A4%E8%81%9A%E7%A4%BA%E5%A8%81%E6%B2%A1%E5%9C%A8%E6%80%95
categories: rfi
---

<div>02/05/2021 - 08:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社巴西利亚1日电）    数千名巴西人今天走上街头声援右翼总统波索纳洛（Jair Bolsonaro），完全无视于境内COVID-19疫情加剧；反政府派人士则选择在线上举行抗议活动。</p><p>    法新社报导，今天在巴西利亚（Brasilia）、圣保罗（Sao Paulo）与里约热内卢（Rio de Janeiro）都有集会，许多游行人士高举国旗，并将黄蓝绿国旗色穿上身。</p><p>    巴西的2019冠状病毒疾病（COVID-19）疫情已夺走40.3万人性命，死亡人数高居全球第2，仅次于美国；波索纳洛因此遭受广泛批评，指他未更严肃因应疫情。</p><p>    两周前，波索纳洛表示，会先等「人民表态」再「采取措施」来撤销各地州长与市长的防疫限制令。</p><p>    最近，波索纳洛在电视专访中说，军队「可能有朝一日会进驻街头，以确保宪法获得保障，民众可以自由行动」。</p><p>    他这席话今天似乎获得数百名里约热内卢民众回应。他们在着名的柯帕加巴纳海滩（Copacabana beach）群聚，挥舞标语要求「军事介入」来扩大波索纳洛的职权。</p><p>    不只里约热内卢，巴西今天各地的集会都看得到写着「我授权波索纳洛（派遣军队）」的标语。</p><p>    相对之下，今天也有少数几场反波索纳洛抗议活动，但主要反对领袖们，无论是左派还是右派，参与的都是工会在社群媒体上筹办的批判活动。</p><p>    其中包括于2003至2010年掌权的前总统鲁拉（Luiz Inacio Lula da Silva）。他说：「对我国劳工来说，今天一个是令人难过的劳动节，也是悼念40多万COVID-19罹难者的一天，当中有许多是因为波索纳洛政府拒绝购买提供给我国的疫苗而丧命。」（译者：纪锦玲）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
