---
layout: post
title: 纽约州长放宽防疫限制 纽约地铁将恢复全天营运 – 法国国际广播电台 - RFI
date: 2021-05-04 14:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BA%BD%E7%BA%A6%E5%B7%9E%E9%95%BF%E6%94%BE%E5%AE%BD%E9%98%B2%E7%96%AB%E9%99%90%E5%88%B6-%E7%BA%BD%E7%BA%A6%E5%9C%B0%E9%93%81%E5%B0%86%E6%81%A2%E5%A4%8D%E5%85%A8%E5%A4%A9%E8%90%A5%E8%BF%90
categories: rfi
---

<div>04/05/2021 - 08:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社纽约3日电）    美国纽约州州长古莫（Andrew Cuomo）今天宣布将大幅放宽2019冠状病毒疾病（COVID-19）防疫措施，还说纽约市地铁将于17日恢复24小时营运。</p><p>    此外，从19日起，这个城市许多商家和文化活动场所，也将不再受限于纽约州祭出的人数限制，包括商店、餐厅、戏院和博物馆等。</p><p>    所有商家还是可以自行设定人数限制。不过古莫说，部分规定还是会继续实施，例如维持约2公尺社交距离，一切遵循美国疾病管制暨预防中心（CDC）指导方针。</p><p>    户外集会人数限制将从250人放宽到500人；室内集会则从100人放宽到250人。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
