---
layout: post
title: 2021五一节 中国新《动物防疫法》启用
date: 2021-05-01 22:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210501-rfi-%E6%B3%95%E5%B9%BF-%E5%B0%BC%E5%8F%A4%E6%8B%89-chine-soci%C3%A9t%C3%A9-2021%E4%BA%94%E4%B8%80%E8%8A%82-%E4%B8%AD%E5%9B%BD%E6%96%B0-%E5%8A%A8%E7%89%A9%E9%98%B2%E7%96%AB%E6%B3%95-%E5%90%AF%E7%94%A8
categories: rfi
---

<div>01/05/2021 - 16:04</div><img src="https://s.rfi.fr/media/display/5a3647fe-aa46-11eb-8283-005056bf87d6/w:310/p:16x9/3DCDA450-125A-4FD1-8C7E-6996553CDA2D.JPG"><div class="t-content__body u-clearfix" >
                    <p>来自北京的消息说，在2021年“五一”长假的第一天，新版《动物防疫法》进入实施阶段。这一新法的制定与实施可被视为中国领导层展示其在动物保护领域与国际接轨的意愿。从今往后，中国境内饲养的犬只需要如同在其它文明国家那样，按照规定定期免疫，接种狂犬病疫苗。携犬只出户，应当按规定佩挂狗牌，用绳索拴着，以防万一。</p><p>本台RFI法文网周六（2021年5月1日）刊文介绍说，中国的宠物犬数量在过去几年增长迅猛。“不文明“的饲养者有时还会触发紧张，成为不稳定因素。但从今往后，中国新法把定期为宠物接种疫苗，宠物狗出户应该佩戴狗牌，用绳索拴着等列入了饲养者的义务。</p><p>据本台RFI法广驻京记者拉加德（Stéphane LAGARDE）2021年“五一”节当天发自北京的报道，新的修正案补充了1997年通过的旧版《中国动物防疫法》。在此之前，中国有多个省份已规定在公共场所时要把狗拴着，有的甚至还规定了牵狗绳的长度。但如今是首次在全国范围予以实施。</p><p>王太太和她脚下的毛球宠物对此不能理解。这位北京老奶奶说，她的北京狗特别讨人喜爱，即不咬人，也不乱叫。大狗应该用绳索牵着，比如凶猛的斗犬，而她的狗很温柔。</p><p><strong>大型犬已遭禁止</strong></p><p>在类似北京这样的大城市，大型犬已经被禁止。但由于到处都是狗狗，有人抱怨受到了袭击。一些住宅区组织收集狗粪。LI Minh-hui，现年25岁，家中养了十只猫。他接受采访说没有问题。猫喵喵的叫，当然更温柔。它们不经常出门，所以，也不常见到它们。尤其是有越来越多的人爱猫。他几乎不给自己买任何东西，但在猫上的花费很多。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image RFI archive - chien et chat"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/1e8abd96-2a5b-11ea-bd7b-005056a964fe\/&quot;,&quot;filename&quot;:&quot;000_dv816722_0.jpg&quot;,&quot;ratio&quot;:&quot;p:4x3&quot;,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/1e8abd96-2a5b-11ea-bd7b-005056a964fe/000_dv816722_0.jpg" alt="Image RFI archive - chien et chat"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >Image d&#039;archive RFI : Par nature, le chien est omnivore et le chat est carnivore (photo d&#039;illustration).</span>                <span class="m-figure__caption__credits">PETER ENDIG - DPA - AFP / RFI Archive</span>            </figcaption>
            </figure>

        </div><p>中国大都市的高尚化也反应在宠物的增加上。法律没有明确将如何惩处“不文明饲养”的行为。官方媒体新华社说，南京对不用绳索的遛狗人处以50元人民币（不到7欧元）罚款。对累犯者，罚金将会提高。</p><p><strong>自愿者收集狗粪</strong></p><p>在北京的一些住宅区，志愿者通过微信（Wechat）指出那些不太关心公共区域清洁的房东，并组织在草坪上收集狗粪的公益活动。</p>
                </div>
