---
layout: post
title: 基里巴斯重建机场 中国将在太平洋立足
date: 2021-05-08 00:15:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210507-%E5%9F%BA%E9%87%8C%E5%B7%B4%E6%96%AF%E9%87%8D%E5%BB%BA%E6%9C%BA%E5%9C%BA-%E4%B8%AD%E5%9B%BD%E5%B0%86%E5%9C%A8%E5%A4%AA%E5%B9%B3%E6%B4%8B%E7%AB%8B%E8%B6%B3
categories: rfi
---

<div>07/05/2021 - 18:07</div><img src="https://s.rfi.fr/media/display/c86d3966-adb7-11eb-aad2-005056bf87d6/w:310/p:16x9/%E6%9C%AA%E5%91%BD%E5%90%8D%20-%201.jpg"><div class="t-content__body u-clearfix" >
                    <p><strong>太平洋中的重要小岛</strong></p><p>太平洋上的岛国基里巴斯虽然人口只有12万人，但有全球最大的专属经济海域之一，覆盖超过350万平方公里的太平洋。而坎顿岛处于夏威夷和澳大利亚中间，距离夏威夷美军基地西南方3000公里，在坎顿岛的任何重大设施都将为中国提供据点，使其深入二战以来一直与美国及其盟国保持紧密关系的地区。</p><p>《世界报》作者娜塔莉·吉伯特5月6日载文指出美军曾在1942年到1943年使用坎顿岛来轰炸日本及其周边的岛屿，路透社5月5日引述太平洋岛国基里巴斯相关议员披露，中国已制定计划，升级当地坎顿岛上的简易机场和桥梁，以恢复二战期间曾驻扎军用飞机的基地。这项尚未公开的计划，涉及珊瑚环礁坎顿岛的相关建设，而该岛礁位于亚洲和美洲之间的重要战略位置。</p><p>不过《世界报》和《路透社》目前无法得到基里巴斯政府对中国重建计划的确认。</p><p>坎顿岛上没有淡水也无人居住，从2006年以来成为自然保护区。中国计划重建一条长2公里的飞机跑道，此前在二战期间，美国军队曾利用坎顿岛，作为夏威夷和南太平洋之间“空中渡轮”运输航线的一部分。战后民用航空公司将该岛作为跨太平洋的中转加油站。</p><p>直到上世纪60年代末，美国还利用该岛进行太空和导弹追踪，如今，坎顿岛只用于紧急情况。分析指出，一旦升级现有跑道，其长度足以支持部署战斗机。如果进一步升级延伸，还足以支持部署大型运输机和海上巡逻飞机等。</p><p><strong>中国扩展影响力</strong></p><p>传统上美国在该地区具有影响力，而中国或将在基里巴斯的坎顿岛上重建飞机跑道引起外界关注，被解读为北京通过投资和信贷在太平洋地区来进一步扩充自己的势力影响范围。</p><p>分析指出中国还有在该地区建设集装箱港口的计划，基里巴斯和所罗门在与台湾断交后从2019年与北京建立外交关系，加入习近平推出的一带一路计划，中国国家主席习近平2020年1月6日在人民大会堂同基里巴斯总统马茂会晤，同样太平洋岛国瓦努阿图要在中国资助下兴建军用港口，引发争议，目前计划暂停。</p><p>目前太平洋地区地区的其他4个岛国马绍尔群岛，图瓦卢，瑙鲁，帕劳少有的继续与台湾保持外交和经贸关系，帕劳新任总统惠普尔斯呼吁美国加大对该地区的投资。</p><p>中国大力发展经济，从1990年开始在世界各地部分或者全部购买了十多个港口，东南亚属于中国投资的重大地区。目前中国加大在太平洋港口和岛屿的投资力度属于更长远的战略考量，而中国投资的港口有商贸和军事的双重用途，因此引发担忧，不过北京不承认投资的港口有军事用途。</p><p>法国退役军官休格·尤德琳（Hugues Eudeline）也是中国海军问题专家，他表示中国投资其他国家的港口首先出于经贸考量，中国要保护自己的商贸利益，使用大型运输船需要进行补给，其次航空母舰巡回需要港口停靠。</p><p><strong>中国寻找停机场</strong></p><p>美国非洲司令官斯蒂芬·汤森将军在参议院于4月22日对中国在吉布提拥有港口表示关切，说中国在该地口已经完成了大型码头的兴建，并有能力让大容量船只停靠包括中国的航母和核潜艇，他认为中国海军军事力量在不断增加。</p><p>法国退役军官休格·尤德琳认为中国在世界各大需要停机场，如在基里巴斯修建港口，也需要在该国的坎顿岛配备军民两用飞机场。</p><p>中国经济发展压力一引发相应的地缘政治后果。 在过去的十年中，北京在非洲大陆各地投资了大约15个港口基础设施。 在地中海，西方战略家现在担心中国在阿尔及利亚的歇尔谢尔（Cherchell）地区一个深水港的计划。</p><p>在大西洋沿岸，葡萄牙的锡尼什港(Sines)港口是从大西洋进入欧洲的第一门户，刚刚宣布应重新启动招标，寻找外国投资者。中国投资锡尼什港四个码头中一个码头的股份，也表示对该港口进一步投资有兴趣。</p><p>中国在大西洋沿岸投资引发诸多关注，葡萄牙国防部长若昂·戈麦斯·克拉维尼奥（Joao Gomes Cravinho）在5月4日由德国马歇尔基金会（GMF）组织的研讨会上说，我们必须向合作伙伴解释，我们不想使大西洋成为地缘政治对抗的地区。</p>
                </div>
            
                                <br>
