---
layout: post
title: 拿破仑与中国（三）：中国睡狮论的前世今生
date: 2021-05-04 18:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%9B%BD%E9%99%85/20210315-%E6%8B%BF%E7%A0%B4%E4%BB%91%E4%B8%8E%E4%B8%AD%E5%9B%BD-%E4%B8%89-%E4%B8%AD%E5%9B%BD%E7%9D%A1%E7%8B%AE%E8%AE%BA%E7%9A%84%E5%89%8D%E4%B8%96%E4%BB%8A%E7%94%9F
categories: rfi
---

<div>15/03/2021 - 15:50</div><img src="https://s.rfi.fr/media/display/c53d772e-8599-11eb-a240-005056bf87d6/w:310/p:16x9/couverture%203.jpg"><div class="t-content__body u-clearfix" >
                    <div class="m-interstitial">
    <div data-readmore-target class="m-interstitial__ad">
        <div
    class="m-block-ad "
    data-tms-ad-type="box"
    data-tms-ad-status="idle"
    data-tms-ad-pos="1"
>
    <div class="m-block-ad__label m-block-ad__label--report-enabled">
        <span class="m-block-ad__label__text">广告</span>
                <button title="举报广告" class="m-block-ad__label__report-link" rel="noopener" data-tms-ad-report><svg xmlns="http://www.w3.org/2000/svg" width="26.077" height="16.107" viewBox="0 0 26.077 16.107"><g transform="translate(1.325 0.5)"><path d="M6.669,15.107a1.5,1.5,0,0,1-1.5-1.5V10.184H0L5.169,5.637V1.5A1.5,1.5,0,0,1,6.669,0H22.752a1.5,1.5,0,0,1,1.5,1.5V13.607a1.5,1.5,0,0,1-1.5,1.5Z" fill="none" stroke="currentColor" stroke-width="1"/><g transform="translate(29.422 15.107) rotate(-180)"><path d="M-2119.5-2724.245v7.84" transform="translate(2134.21 2729.348)" fill="none" stroke="currentColor" stroke-width="2"/><path d="M-2119.5-2732v1.732" transform="translate(2134.21 2734.165)" fill="none" stroke="currentColor" stroke-width="2"/></g></g></svg>
</button>
            </div>
    <div class="m-block-ad__content">
    </div>
</div>
    </div>
        <button data-readmore-unlocker class="m-interstitial__unlock-btn">
        <span class="m-interstitial__unlock-btn__text">继续浏览后续</span>
        <span class="m-interstitial__unlock-btn__svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.414 45.414"><defs><style>.a{fill:none;stroke:#9a9a9a;stroke-width:2px}</style></defs><path class="a" d="M.707 22l22 22 22-22M22.707 44V0"/></svg>
</span>
    </button>
    </div>
                                            <div  data-wrapper-video-player data-show-hidden-video-player="WBMZ27693-RFI-CN-20210315">
        <div class="m-em-video">
                        <div data-hidden-video-player="WBMZ27693-RFI-CN-20210315" v-cloak>
                <div class="m-em-video__video-wrapper video-type-youtube">
                                    <youtube-player
    type="em"
    video-type="youtube"
    source="https://www.youtube.com/embed/T1-WsZV-2yk"
    video-id="T1-WsZV-2yk"
    locale="zh-CN"
            embed_config="{&quot;primaryThemeColor&quot;:&quot;#e2001a&quot;}"
        image="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/c53d772e-8599-11eb-a240-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;couverture%203.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"    autoplay        >
</youtube-player>
                </div>
            </div>
                            
<figure class="m-figure m-figure--16x9">
    <div class="m-figure__img-wrapper">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="拿破仑与中国（三）：中国睡狮论的前世今生"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/c53d772e-8599-11eb-a240-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;couverture%203.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;16x9&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/c53d772e-8599-11eb-a240-005056bf87d6/w:310/p:16x9/couverture%203.jpg" alt="拿破仑与中国（三）：中国睡狮论的前世今生"
class="m-figure__img"/>
</noscript><button class="m-main-media-btn" aria-label="播放影片">
            <span class="m-main-media-btn__picto"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M30 0A30 30 0 1 1 0 30 30 30 0 0 1 30 0z" fill="#fff" opacity=".77"/><path d="M23.417 17.138v26.491l19.861-13.232z"/></svg>
</span>
</button>
    </div>
                        <figcaption class="m-figure__caption">
                <span class="m-figure__caption__legend" >拿破仑与中国（三）：中国睡狮论的前世今生</span>                <span class="m-figure__caption__credits">© RFI/ Ninan WANG</span>            </figcaption>
            </figure>
                                </div>
    </div>

                </div>
            
                                <br>
