---
layout: post
title: 美国再次呼吁WHA  邀请台湾与会 – 法国国际广播电台 - RFI
date: 2021-05-01 00:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E5%9B%BD%E5%86%8D%E6%AC%A1%E5%91%BC%E5%90%81wha-%E9%82%80%E8%AF%B7%E5%8F%B0%E6%B9%BE%E4%B8%8E%E4%BC%9A
categories: rfi
---

<div>30/04/2021 - 18:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿30日电）    美国今天再次呼吁世界卫生组织（WHO）的决策机构世界卫生大会（WHA），邀请台湾与会而无须在意中国反对；并指出，台湾防治2019冠状病毒疾病（COVID－19）的成果卓着。</p><p>    今年世界卫生大会5月24日将在瑞士日内瓦开幕，是世卫组织在全球疫情肆虐下的最新一次年会。至今疫情已造成全世界300万人以上死亡。</p><p>    美国国务院发言人普莱斯（Ned Price）表示：「台湾杰出的防疫成果及对他国捐赠个人防护装备，显示已对全球卫生作出了重大贡献。」</p><p>    普莱斯在推特发文说：「台湾拥有一些防治这种疾病的数一数二专家，我们必须在世界卫生大会上听取台湾的发言。」</p><p>    美国的呼吁是总统拜登政府在国际上支持台湾的最新努力。（译者：张佑之）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
