---
layout: post
title: 布达佩斯市长反对复旦大学在该市建校 称有国安风险
date: 2021-05-04 11:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%AC%A7%E6%B4%B2/20210504-%E5%B8%83%E8%BE%BE%E4%BD%A9%E6%96%AF%E5%B8%82%E9%95%BF%E5%8F%8D%E5%AF%B9%E5%A4%8D%E6%97%A6%E5%A4%A7%E5%AD%A6%E5%9C%A8%E8%AF%A5%E5%B8%82%E5%BB%BA%E6%A0%A1-%E7%A7%B0%E6%9C%89%E5%9B%BD%E5%AE%89%E9%A3%8E%E9%99%A9
categories: rfi
---

<div>04/05/2021 - 02:05</div><img src="https://s.rfi.fr/media/display/f1fad1d8-ac6a-11eb-ab1a-005056a9b1a7/w:310/p:16x9/Capture-517.PNG"><div class="t-content__body u-clearfix" >
                    <p>自2010年欧尔班（Viktor Orbán ）第二次担任匈牙利总理以来，在其右翼民粹主义的政策方向下该国逐步走向民主倒退，致使匈牙利在民主法治等欧盟原则性问题上与主流声音出现严重分歧。2019年3月至2021年3月，由于欧尔班的政治行为，由他领导的匈牙利青民盟被欧洲议会中的欧洲人民党党团暂停了其成员资格。青民盟今年3月在这一欧洲议会内最大党团要求其成员增强对法治原则地遵守和承诺后选择脱党。由欧尔班领导的匈牙利政府近年来还不断施压，赶走了由在匈牙利出生的美国金融巨鳄索罗斯（George Soros）创建的中欧大学，引发一系列有关学术自由和公权力干预的争议。</p><p>据悉，匈牙利政府4月27日正式以在线的方式和复旦大学签署了战略合作协议，在布达佩斯共建复旦大学匈牙利校区。复旦大学匈牙利校区预计于2024年一期建设完成后投入使用，将招收6000名匈牙利、中国和其他国籍学生。该校区计划会向学生提供经济学、国际关系、医学和自然科学等课程，面向全球招生，毕业生将可获得匈牙利学位、中国学位或者中匈双学位。校园的选址在普达佩斯市中心以南，位于多瑙河左岸的一个废弃工业区内。当地已被闲置数十年，目前由充满涂鸦、瓦砾和被破旧的建筑占据。</p><p>报导指，匈牙利官员坚持认为，名列世界前100名的复旦大学将帮助提高匈牙利的高等教育水平，为两国和其他地方的学生提供教育，并会把中国的投资和研究带入匈牙利。但批评人士强调，这项大规模的投资给该国的纳税人带来了不适当的财政负担，并显示出欧尔班与中俄关系的不断升温。来自“为匈牙利对话党”的布达佩斯市市长卡拉松尼评价称，“他们想引进一所大学，而该大学的确是一所国际级的大学，但其章程要求这间学校代表中国共产党的世界观。我们在这项投资中看到了非常严重的国家安全风险。”</p><p>据匈牙利调查新闻中心Direkt36今年4月获得的政府文件显示，这个占地64英亩（近26公顷）的校园的税前建设成本估计为18亿美元，比匈牙利2019年用于整个高等教育系统的费用还要高。匈牙利政府计划为该项目的20％资金投入提供中央财政拨款，其余15亿美元的投入将依靠来自中国银行的贷款。根据文件显示，大部分建筑工作将使用中国的材料和人工来完成。卡拉松尼称，“中国人正在（为这一项目）做所有的事情，而我们只做一件事：付钱。”他说， “如果匈牙利的纳税人支付一切费用，世界上任何一所著名大学都会在这里开设校园。”</p><p>报导提及，经常与欧盟对峙的欧尔班政府一直奉行一种所谓“东方开放”的经济战略，该战略支持增加与中国、俄罗斯、土耳其和中亚国家的外交合作和贸易增长。对此，卡拉松尼则批评说，这些政策使匈牙利“成为东方大国在欧盟内部的前进据点”。去年，匈牙利同意从中国进出口银行贷款20亿美元，以在布达佩斯和塞尔维亚首都贝尔格莱德之间修建一条铁路。该项目是“一带一路”倡议的一部分。匈牙利还是华为在中国境外最大的供应中心所在地，也是欧盟唯一批准中国生产的新冠疫苗的成员国。</p><p>布达佩斯智库“政治资本”主任克雷科 (Peter Kreko)在受访时说 ，复旦大学的发展是中国通过教育项目和投资扩大软实力和影响力的其中一项努力。他向记者表示，“在过去的几年里，因为匈牙利情报部门缺乏抵制国恶势力的意愿，匈牙利已经成为俄罗斯和中国间谍的一个间谍中心。”美国驻匈牙利大使馆对中国大学来到布达佩斯表示保留意见，“鉴于北京在利用学术机构推进恶性影响议程和扼杀知识自由方面有良好的记录”。匈牙利政府发言人和负责该项目的部委都没有对多个评论请求作出回应。</p><p>复旦大学匈牙利校区的选址原计划会用于一座面向8000名布达佩斯学生开放的大学城，其中会为学生们提供住宿、娱乐和体育设施。该项目所在地、布达佩斯市9区区长巴兰伊（Krisztina Baranyi）说，首都及其学生的利益正被复旦分校的项目所取代。她说，将在当地发起公投，以阻止该项目建设。巴兰伊说，“（就这一项目的建立）没有对话，他们没有把我们纳入任何事情中”。她补充说，“我认为公投是表明我们不同意这种做法的唯一途径。”</p>
                </div>
            
                                <br>
