---
layout: post
title: 法参议院就“台湾参与国际组织工作法案“进行辩论
date: 2021-05-07 00:45:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B3%95%E5%9B%BD/20210506-%E6%B3%95%E5%8F%82%E8%AE%AE%E9%99%A2%E5%B0%B1-%E5%8F%B0%E6%B9%BE%E5%8F%82%E4%B8%8E%E5%9B%BD%E9%99%85%E7%BB%84%E7%BB%87%E5%B7%A5%E4%BD%9C%E6%B3%95%E6%A1%88-%E8%BF%9B%E8%A1%8C%E8%BE%A9%E8%AE%BA
categories: rfi
---

<div>06/05/2021 - 18:16</div><img src="https://s.rfi.fr/media/display/e72e72ea-4a28-11eb-8e36-005056bf18d4/w:310/p:16x9/000_8XW8VB.jpg"><div class="t-content__body u-clearfix" >
                    <p>中央社3月30日曾报道，法国参议院外交暨国防委员会副主席、友台小组副主席葛利欧（Joël Guerriau）及近日因中国驻法大使卢沙野致函要求取消访台行程的参议院友台小组主席阿兰·理查德（Alain Richard）等多位参议员，于3月27日共同向法国参议院提出“台湾参与国际组织工作”法案。</p><p>据报道，这个法案不具约束性，法国参议院法台友好团体的几乎所有成员都已签署，希望法国继续为台湾参加世界卫生大会、国际民用航空组织大会、《联合国气候变化公约》甚至国际刑警组织等多个国际组织做出努力。</p><p>阿兰·理查德解释说：“（这个法案）并非要承认台湾是一个国家，但台湾作为一个政治实体至少应受到保护，并有权与国际机构接触，这对整个国际社会都是可行和有益的。”，理查德曾经担任过法国国防部长，他还强调，此举也完全不是要发动一个对抗北京的行动。</p><p>理查德表示：“为了有利于多边主义和这些机构更好地运作，以及台湾可以为国际社会提供的服务，台湾最好能够更好地参与。”</p><p>法案的作者也强调了新冠疫情大流行的例子，指出：“自2019年12月31日起，台湾就凭借2003年的SARS经验，向世卫组织提请注意，在人与人之间传播的病毒出现在了武汉，但台湾的声音没有被人听到。“他们认为：”台湾被排除在世卫组织领导的研究和行动之外有损国际社会的利益。“</p><p>他们也补充说：“如果台湾的经济是亚洲最强大的国家之一，其人均国内生产总值相当于瑞典，那么让台湾参与打击有组织犯罪和气候变化的斗争也将使国际社会受益。”</p><p>中国驻法大使卢沙野最近“坚决反对”参议员前往台湾的计划，他不断抗议的举动也引起法国外交部的愤怒，指责他诉诸“恐吓方法”，同时也提醒他法国“严格尊重三权分立” 的原则。但对于中国大使来说，参议员们具有“官方地位”，“他们的台湾访问显然是官方往来的一部分，自然与一个中国的原则相矛盾”。</p><p>但理查德最近也再次确认了访台计划， 时间上“可能在今年夏天完成”。</p><p>4月1日，蔡英文总统在其Twitter帐户上以法语感谢“法国参议院的朋友”。 她说，“我们致力于为国际组织做出更多贡献，并在您的帮助下，希望世界看到台湾所能提供的一切。 ”</p><p>刚刚结束的七国集团外长会议也支持台湾参加世界卫生组织论坛和世界卫生大会，称之对于加强全球合作和确保国际组织的包容性至关重要。声明称，“国际社会应该能够从所有伙伴的经验中受益，包括台湾在应对新冠大流行方面的成功贡献。”</p>
                </div>
            
                                <br>
