---
layout: post
title: 观点周刊：民主国家应当联合起来遏制中国 - 法国报纸摘要
date: 2021-05-09 21:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E6%B3%95%E5%9B%BD%E6%8A%A5%E7%BA%B8%E6%91%98%E8%A6%81/20210509-%E8%A7%82%E7%82%B9%E5%91%A8%E5%88%8A-%E6%B0%91%E4%B8%BB%E5%9B%BD%E5%AE%B6%E5%BA%94%E5%BD%93%E8%81%94%E5%90%88%E8%B5%B7%E6%9D%A5%E9%81%8F%E5%88%B6%E4%B8%AD%E5%9B%BD
categories: rfi
---

<div>09/05/2021 - 15:32</div><img src="https://s.rfi.fr/media/display/0da2451a-0ad2-11ea-9fc7-005056a98db9/w:310/p:16x9/fa_guo_bao_zhi_zhai_yao_wb15399-rfi-cn-20100304_cartouche.jpg"><div class="t-content__body u-clearfix" >
                    <p><strong>中国是对内对外都要根除自由的极权国家</strong></p><p>中国政府正准备大张旗鼓地庆祝中共建党100周年。最新一期《观点》周刊发表Nicolas Baverez撰写的社评文章，认为，中国自1949年以来，尤其是1979年以来走过的道路在人类历史上是独一无二的。与冷战时期的苏联不同，中国对美国的挑战不仅是意识形态和战略上的，也是经济和科技领域的。中国既是美国的竞争对手，也是美国最大的工业、贸易和金融伙伴。中国是一个极权国家，但也是全球化的重要一员，与世界各地有着千丝万缕的联系。但作者指出，中国奇迹并不是中共的功劳，而是得益于中国人的活力和适应能力。中共对经济以及社会的控制有可能让这种活力与适应能力窒息。而且，中华人民共和国的历史不仅有1979年以来的快速崛起，也有大跃进和文革等悲剧。所有这些反复都与中共内部的权力斗争密切相关。党内始终有北京的意识形态派和上海的改革派之分。习近平上台使得强硬路线占据上风，但他试图恢复毛时代的终身制的努力仍然在党内引发不同意见。虽有政治宣传，但各种怀疑依然存在。倘若新冠疫情爆发的真相大白，中国政府对疫情应付的责任有可能让中国声名扫地；中国人均寿命在延长，但人口在减少，就业人口自2013年起每年减少0，4%，中国的增长模式正面对相当于国民生产总值三倍的公共债务和个人债务；成为世界第一大经济和科技强国的雄心不得不面对国企的低效、法治国家的缺失、党重新进入企业和高校、被剥夺一切政治权利的中产阶级的失望等因素的掣肘；优先国内市场的目标与输出完全资本主义模式的丝绸之路方案以及围堵美国的努力之间矛盾越来越尖锐；重新强调共产主义意识形态与日益严重的社会不平等以及党内高官的腐败相互矛盾；对外政策的高度进攻性则引发不少国家联合抵制，尤其是在亚洲。</p><p>在作者看来，中共百年纪念应当是民主国家制定遏制中国战略的时机。文章列举这项战略的三大核心观点。指出，中国不是一个专制政权，而是一个不断对内对外都要根除自由的极权国家，而要遏制中国近年来通过发展积累起来的实力，只能是建立起一个新的不局限于西方的民主联盟，面对中国威胁，民主国家应当像在冷战中战胜苏联那样，借鉴孙子兵法，不战而胜。</p><p><strong>特朗普令美国社会对亚裔的歧视更加严重</strong></p><p>由于新冠疫情，美国社会攻击亚裔人士的事件越来越多，也越来越暴力。《世界报》引述皮尤研究所的调查指出，45%的亚裔美国人都曾目睹至少一次攻击亚裔人士的事件，32%的受访者表示害怕受到攻击。尽管美国历史上一直有针对亚裔族群的歧视，但20%的亚裔美国人认为，前任总统特朗普使得亚裔面对的社会歧视更加严重。报道指出，亚裔是美国社会人数增长最快的少数族裔，而亚裔社团的收入不平等现象也最为严重。</p><p><strong>基里巴斯：中国立足太平洋的跳板</strong></p><p>太平洋岛国基里巴斯一座几乎无人居住的小岛将成为中国在太平洋的立足点。《世界报》文章介绍说，二战期间，美军战机曾自这里起飞，轰炸在周边地区的日本军队。但美军当年使用的飞机跑道如今将由中国承建修复。这是中国通过投资和贷款，向太平洋地区国家扩大影响努力的一部分。自90年代末，中国就开始在世界各地投资港口和沿海基地。东南亚是优先选项，太平洋则是更长远的目标。中国在这些地区取得的进展已经引发不安，因为这些设施既可用于贸易，也可用于军事。尽管中国政府不承认这些设施有军事用途。但中国不断取得的进展带来一系列地缘政治后果。</p>
                </div>
            
                                <br>
