---
layout: post
title: 印度确诊破2千万  在野党吁全国封城 – 法国国际广播电台 - RFI
date: 2021-05-04 22:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%8D%B0%E5%BA%A6%E7%A1%AE%E8%AF%8A%E7%A0%B42%E5%8D%83%E4%B8%87-%E5%9C%A8%E9%87%8E%E5%85%9A%E5%90%81%E5%85%A8%E5%9B%BD%E5%B0%81%E5%9F%8E
categories: rfi
---

<div>04/05/2021 - 16:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社新德里4日电）    印度2019冠状病毒疾病（COVID-19）疫情严峻，累计确诊数破2000万，在野党疾呼实施全国封城，不过每日新增确诊数减少，出现疫情可望舒缓的一线曙光。</p><p>    欧洲与美国经由大规模疫苗施打，许多封城措施陆续解除，位于南亚的印度境内疫情呈现明显对比。</p><p>    印度今天通报，新增确诊35万7229例，低于上周的高峰40万2000例，提供最坏情况或许已过去的若干乐观迹象，累计确诊2028万2833例。此外，新增3449人染疫不治，累计病故22万2408例。</p><p>    卫生与家庭福利部次长阿加渥（Lav Agarwal）表示：「若是分析每日新增确诊与死亡病例，出现朝向正面趋势的非常初步迹象，不过这些是非常早期的迹象，还得进一步确认。」</p><p>    尽管如此，印度境内疫情仍相当严峻，当地人口约1亿2000万的比哈省（Bihar）今天成为最新实施封城的省分。</p><p>    印度在野党国大党（Congress）重要领袖拉胡尔．甘地（Rahul Gandhi）在推特发文，呼吁政府实施全国封城。他说：「目前遏止疫情扩散的唯一方法就是全面封城…政府不作为使许多无辜百姓丧命。」</p><p>    疫情骤升正值印度疫苗施打骤降，这是因为疫苗的供货与配送出问题所致，至少有3个省，包括最富裕的商业大城孟买所在地马哈拉什特拉省（Maharashtra）持续通报疫苗短缺，境内若干接种中心被迫关闭。</p><p>    马哈拉什特拉省昨天仅施打了7万9491剂疫苗，相较于一周前则是施打了53万4372剂。</p><p>    虽然自5月1日以来，印度符合施打疫苗资格的人数估计倍增至8亿，不过目前两家生产疫苗的厂商预估，每月7000万至8000万剂的总产量，仅能在两个月内或更长时间才会增加，而13亿5000万总人口中，目前至少施打一剂疫苗的民众只占9.5%。（译者：曹宇帆/核稿：刘学源）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
