---
layout: post
title: 美财长叶伦：若经济热起来 利率恐要调升些许 – 法国国际广播电台 - RFI
date: 2021-05-05 12:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E8%B4%A2%E9%95%BF%E5%8F%B6%E4%BC%A6-%E8%8B%A5%E7%BB%8F%E6%B5%8E%E7%83%AD%E8%B5%B7%E6%9D%A5-%E5%88%A9%E7%8E%87%E6%81%90%E8%A6%81%E8%B0%83%E5%8D%87%E4%BA%9B%E8%AE%B8
categories: rfi
---

<div>05/05/2021 - 06:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿4日电）    美国财政部长叶伦（Janet Yellen）今天表示，若总统拜登的最新支出提案生效、经济热络起来，那么美国利率可能要上调「些许」，以抑制通货膨胀。</p><p>    叶伦一番话掀起一阵小风暴，股价也随之震荡。她稍后澄清说，她不是在预测，也不是建议联邦准备理事会（FED）应升息。</p><p>    拜登推动1.9兆美元抗疫纾困方案在今年3月获国会通过后，再推出两项提案，总计要在10年间支出近4兆美元，部分财源来自于对企业和富人增税。</p><p>    2019冠状病毒疾病（COVID-19）疫情导致2020年经济下挫，相关支出计画目标是要修补美国的经济。</p><p>    叶伦在大西洋月刊（The Atlantic）专访预录中表示：「利率可能要上调些许，以确保我们的经济不会过热。」</p><p>    不过，她说，「这些加码支出比起经济规模相对来得小」，且比抗疫纾困案的时间架构来得长。纾困案主要是针对劳工和家庭的燃眉需求。</p><p>    联准会矢言维持利率几近于零，直到就业率恢复、通膨达到目标水准2%以上有段时间，但经济学者和投资人警告声浪扩大，说政府支出将造成通货膨胀螺旋，即工资上涨和物价上涨趋势的交互作用，导致物价持续攀升。</p><p>    联准会主席鲍尔（Jerome Powell）等人一直试图淡化这些疑虑，称物价短期上扬是疫情带来空前冲击之后的反弹，也是因为经济活动恢复之时的暂时供给问题。</p><p>    叶伦在鲍尔之前也担任过联准会主席，她也同意物价上扬只是暂时现象。（译者：纪锦玲）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
