---
layout: post
title: 谢淑薇前搭档史翠可娃将退休 – 法国国际广播电台 - RFI
date: 2021-05-05 18:45:01.000000000 +08:00
link: http://www.rfi.fr//cn/%E8%B0%A2%E6%B7%91%E8%96%87%E5%89%8D%E6%90%AD%E6%A1%A3%E5%8F%B2%E7%BF%A0%E5%8F%AF%E5%A8%83%E5%B0%86%E9%80%80%E4%BC%91
categories: rfi
---

<div>05/05/2021 - 12:34</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社布拉格4日电）    3月公布怀孕喜讯的捷克网球女将史翠可娃今天表示，希望生完小孩后，能重返球场打最后一次比赛，然后将高挂球拍退休。史翠可娃原本是台湾女网好手谢淑薇的双打搭档。</p><p>    现年35岁的史翠可娃（Barbora Strycova）目前是女双世界排名第2，女单排名第52。2019年温布顿网球锦标赛她与谢淑薇联手在女双决赛夺冠，同时生涯首度打进女单四强，创下她个人在大满贯赛的最佳成绩。</p><p>    曾是世界女双球后的史翠可娃在布拉格告诉记者：「我想在观众面前再打一场比赛。」她上次出赛是在1月的澳洲公开赛。</p><p>    史翠可娃说：「我即将要向我的职业生涯告别，我不期望重返巡回赛，但我希望可以跟球迷道别。」她希望2022年在全英俱乐部（All England Club）的温布顿锦标赛进行告别战。</p><p>    她说：「在温布顿比赛是个梦想，但如果行不通，我会在捷克共和国出赛。」</p><p>    史翠可娃职业生涯拿过两座WTA单打冠军，女单排名最高来到世界第16。她共夺得31座WTA双打冠军。</p><p>    她还曾在2016年里约奥运与捷克网球女将莎伐洛娃（Lucie Safarova）夺下女双铜牌。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
