---
layout: post
title: G7外长聚会伦敦 印韩南非东盟加入
date: 2021-05-03 22:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%9B%BD%E9%99%85/20210503-g7%E5%A4%96%E9%95%BF%E8%81%9A%E4%BC%9A%E4%BC%A6%E6%95%A6-%E5%8D%B0%E9%9F%A9%E5%8D%97%E9%9D%9E%E4%B8%9C%E7%9B%9F%E5%8A%A0%E5%85%A5
categories: rfi
---

<div>03/05/2021 - 16:29</div><img src="https://s.rfi.fr/media/display/a3a92de4-ac1b-11eb-a2fd-005056bff430/w:310/p:16x9/2021-05-03T135916Z_1290552737_RC2D8N94Q6B8_RTRMADP_3_BRITAIN-G7-FOREIGN-USA.JPG"><div class="t-content__body u-clearfix" >
                    <p>法新社说，在冠状病毒肆虐印度的背景下，在西方抗疫地平线出现光明之际，英国正在接待富裕世界的高级外交官，为脱离疫情和下月在英国西南举行的七国集团峰会做准备。</p><p>印度、韩国、南非和东盟轮值主席文莱已被邀请到伦敦参加这次为期三天的会谈。</p><p>美国前总统特朗普在2020年6月向韩国发出参加G7的邀请，首尔立即抓住了这个机会。</p><p>法新社说，本次伦敦G7扩大会议将讨论与俄罗斯和中国之间不断加剧的紧张关系，以及恢复伊朗核协议的谈判。同时朝鲜议题也被加入。在乔-拜登审视美国对朝政策几天后，美国国务卿布林肯，在其下榻的酒店，分别与日本和韩国的外长举行了会谈。</p><p>韩国外长郑义溶说，"我们非常感谢有这个机会在你们的政策审查得出结论后，与美国进行深入讨论。" 他赞扬了拜登上周向国会发出的"非常积极和开放的信息"。美国总统拜登说，他将使用 "外交手段及严厉的威慑"来遏制平壤的核野心。</p><p>据美国国务院的说法，布林肯和他的日本同行茂木敏充在会晤中表示"共同关注朝鲜的核与弹道导弹计划"。根据一份声明，他们同意共同努力，并与韩国合作，向 "朝鲜半岛无核化 "迈进。</p><p>据英国外交部之前透露的消息，美国国务卿布林肯和英国外交大臣拉布讨论的议程是：经贸、中国、阿富汗、伊朗。英国外交大臣拉布还在一份声明中说："我们将采取行动，确保全世界公平地获得疫苗，为女童教育制定全球目标，并就气候变化问题制定雄心勃勃的行动，制定新的措施来解决饥荒。"</p><p>另据法新社说，本次G7外长会议将讨论包括中国，伊朗，经济复苏，打击假新闻等议题。在对待新疆维吾尔族穆斯林问题上，伦敦和华盛顿经常表现出反对北京的统一战线。美国将北京对维吾尔人的镇压界定为 "种族灭绝"。</p>
                </div>
            
                                <br>
