---
layout: post
title: 遭控6罪名 翁山苏姬24日首次亲自出庭受审 – 法国国际广播电台 - RFI
date: 2021-05-10 21:15:10.000000000 +08:00
link: http://www.rfi.fr//cn/%E9%81%AD%E6%8E%A76%E7%BD%AA%E5%90%8D-%E7%BF%81%E5%B1%B1%E8%8B%8F%E5%A7%AC24%E6%97%A5%E9%A6%96%E6%AC%A1%E4%BA%B2%E8%87%AA%E5%87%BA%E5%BA%AD%E5%8F%97%E5%AE%A1
categories: rfi
---

<div>10/05/2021 - 15:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社仰光10日电）    遭到罢黜的缅甸文人政府领导人翁山苏姬所委任律师金蒙绍表示，翁山苏姬的案子拖延数周后，法官今天下令她在24日首度亲自出庭受审。</p><p>    诺贝尔和平奖得主翁山苏姬自军方2月1日发动政变而被拘留以来，一直没有公开露面。当时军方将她赶下台，并重新掌权统治。</p><p>    翁山苏姬随后遭到一系列指控，她的法律团队也面临一场艰苦的奋战，争取与翁山苏姬私下会面。</p><p>    在首都奈比多（Naypyidaw）举行的多次法院庭讯中，遭到软禁的翁山苏姬只能透过视讯方式参与，她对诉讼程序的进度表示失望。</p><p>    在今天最新一次庭讯中，法官下令在翁山苏姬住所附近特别法庭审理她的案件。</p><p>    金蒙绍（Khin Maung Zaw）告诉法新社：「她将在5月24日亲自出庭。」不过，他又说，律师无法与她私下会面的问题仍未解决。</p><p>    75岁的翁山苏姬自被捕以来已经被指控6项罪名。</p><p>    军方的指控包括在去年竞选期间无视于防疫禁令聚众，以及违法持有无线对讲机的罪名。（译者：林沂锋/核稿：林治平）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
