---
layout: post
title: 港府破格购东京奥运转播权予商营电视台 遭质疑以公帑助商家但「零咨询」
date: 2021-05-12 16:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210512-%E6%B8%AF%E5%BA%9C%E7%A0%B4%E6%A0%BC%E8%B4%AD%E4%B8%9C%E4%BA%AC%E5%A5%A5%E8%BF%90%E8%BD%AC%E6%92%AD%E6%9D%83%E4%BA%88%E5%95%86%E8%90%A5%E7%94%B5%E8%A7%86%E5%8F%B0-%E9%81%AD%E8%B4%A8%E7%96%91%E4%BB%A5%E5%85%AC%E5%B8%91%E5%8A%A9%E5%95%86%E5%AE%B6%E4%BD%86-%E9%9B%B6%E5%92%A8%E8%AF%A2
categories: rfi
---

<div>12/05/2021 - 10:04</div><img src="https://s.rfi.fr/media/display/9c517ed6-1318-11ea-8a8a-005056a99247/w:310/p:16x9/ob_af56a0_rs-634x697-150622080518-634-tokyo-olym.jpg"><div class="t-content__body u-clearfix" >
                    <p>因疫情而推迟一年的东京奥运会将于7月23日开幕，至8月8日闭幕，各国一般由当地传媒购买转播权后在当地播放，并以广告收益填补支出，香港电视台过往曾要求港府介入，但过去三任局长均拒绝购买奥运转播权。到了今届，适逢特首换届选举，香港的商营机构更表明，受社会动乱和疫情冲击，无意购买转播权。行政长官林郑月娥昨(11日)在出席会议前突然宣布，已购入转播权，供电视台免费播放。</p><p>她表明，今次是政府首次斥资购入奥运转播权，形容做法破格、非常特殊，属一次性安排。她又说，由于磋商谈判过程属高度保密，未有咨询立法会，亦不能透露涉及金额，但就补充，比由商营机构在过去两届奥运投得的转播权费用低，价格合理。翻查公开资料，有线电视台以1.2亿港元投得2012年伦敦奥运转播权，2016年里约热内卢奥运则由无线电视以1.5亿港元购得，林郑月娥的说法是间示购入价低于1.2亿元，有关款项由港府的艺术及体育发展基金中有26亿元结余的「体育部分」拨出，港府强调，不会影响有关基金支持其他发展项目。若东京奥运最终取消，大会将退回所缴费用予港府。 林郑月娥透露，早于2019年5月已要求民政事务局留意东京奥运转播权事宜，并授权局方，有需要时可以介入；及至去年初，局方以本地电视台未能与东京奥运达成购买转播权协议，决定介入，直接与播映权持有人商讨。其后日本决定把奥运延迟一年，到了上周五(7日)，港府与播映权持有人达成协议。即民政事务局介入至达成协议，为期近一年半，但港府从未透露意向，遑论咨询公众和立法会。</p><p>对于港府动用公帑购入东京奥运转播权，获转播权的五家电视台均表示欢迎，早前建议港府购买转播权的香港体育协会暨奥林匹克委员会副会长霍启刚更表示，港府此举解决了港人可能没有机会在港观赏比赛的危机，强调电视台曾承诺，日后会制作更多推广本地体育发展的节目，不是无偿获得转播权。</p><p>香港现已取得27个项目的参赛资格，个别即将出战奥运的运动员拍摄短片表示，港人可以观赏比赛，对运动员是一种推动力。</p><p>不过，非建制的评论多对港府的破格行为持保留态度，当中，公民党成员黄鹤鸣在电台叩应节目指出，电视台认为购买转播权无利可图才不会购买，但港府却以公帑购买转播权，让电视台制作节目赚取广告费，是明显以公帑资助商业机构，亦有与民争利之嫌，与港府不干预市场的原则相违，如此重大改变，社</p><p>会应予充分讨论，但港府完全不作咨询，实属不妥。</p><p>他又质疑港府购买转播权的目的，指若港府期望藉此推广体育，又未见港府公布其他配套计划。</p><p>中文大学新闻与传播学院讲师梁丽娟关注港府的破格行为会令商营机构造成倚赖，因为奥运转播近年已非收视保证，电视台在上两次奥运节目中所赚取的广告收益并不多，日后会否继续等政府出手成为疑问。</p>
                </div>
            
                                <br>
