---
layout: post
title: 中东巴以冲突正持续 媒体设施也遭殃
date: 2021-05-16 05:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E4%B8%9C/20210515-%E4%B8%AD%E4%B8%9C%E5%B7%B4%E4%BB%A5%E5%86%B2%E7%AA%81%E6%AD%A3%E6%8C%81%E7%BB%AD-%E5%AA%92%E4%BD%93%E8%AE%BE%E6%96%BD%E4%B9%9F%E9%81%AD%E6%AE%83
categories: rfi
---

<div>15/05/2021 - 23:02</div><img src="https://s.rfi.fr/media/display/86c503ea-b587-11eb-8922-005056bf87d6/w:310/p:16x9/2021-05-15T135840Z_801703840_RC2DGN9DG6D6_RTRMADP_3_ISRAEL-PALESTINIANS-TOWER-MEDIA.JPG"><div class="t-content__body u-clearfix" >
                    <p>综合本台RFI2021年5月15日周六的多篇法文报道，巴以双方本次冲突现已持续了一周之久，造成巴勒斯坦上百人死亡，以色列方面的遇难者也达到了两位数，至少10人。</p><p>周六，巴勒斯坦一家十口在攻击中离开人世。与此同时，美联社（<strong>Associated Press</strong>）和半岛电视台（<strong>Al-Jazeera</strong>）位于加沙地带（Gaza）的办公大楼也在导弹轰击中倒塌。尽管，大楼内的人因事前已被疏散，没有造成人员伤亡，但巴勒斯坦方面通报的最新死亡数据，离140只差一。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image RFI Archive - après une frappe aérienne israélienne sur la ville de Gaza au 14 mai 2021"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/5b789972-b546-11eb-8332-005056bff430\/&quot;,&quot;filename&quot;:&quot;000_99Y9ZM.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/5b789972-b546-11eb-8332-005056bff430/000_99Y9ZM.jpg" alt="Image RFI Archive - après une frappe aérienne israélienne sur la ville de Gaza au 14 mai 2021"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Image d&#039;archive RFI : De la fumée s&#039;échappe après une frappe aérienne israélienne sur la ville de Gaza, le 14 mai 2021.</span>                <span class="a-media-legend">AFP 法新社 - MAHMUD HAMS / RFI Archive 法广存档图片</span>            </figcaption>
            </figure>

        </div><p>一名生活在加沙的青年在接受本台RFI法语记者Murielle Paradon采访时说，他以为自己要死了，家中所有的窗户都受损了，玻璃爆裂，险些击其于睡梦之中。</p><p>以色列方面，周六有一名50岁男子在特拉维夫（Tel-Aviv）附近，死于发自加沙的火箭弹。至此，以色列的死亡人数也达到两位数-10人。正是在如此热战气氛中，美国特使于周六开始在巴以双方之间调停周旋。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image RFI Archive - des membres des services d&#039;urgence israéliens"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/50713060-b579-11eb-9dfd-005056bff430\/&quot;,&quot;filename&quot;:&quot;b816b506b75581f1a365ad5f33bb15d7dd74a6fa.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/50713060-b579-11eb-9dfd-005056bff430/b816b506b75581f1a365ad5f33bb15d7dd74a6fa.jpg" alt="Image RFI Archive - des membres des services d&#039;urgence israéliens"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Image d&#039;archive RFI : des membres des services d&#039;urgence israéliens travaillent sur le site d&#039;une roquette tirée depuis Gaza, dans la ville israélienne de Ramat Gan, près de Tel Aviv, le 15 mai 2021.</span>                <span class="a-media-legend">Gil COHEN-MAGEN AFP / RFI Archive 法广存档图片</span>            </figcaption>
            </figure>

        </div><p>另外，本台RFI记者克里斯蒂安·布鲁奈尔（Christian Brunel）周六发自特拉维夫报道指出，以军为了要最大程度地消灭哈马斯组织和伊斯兰圣战者组织的有生力量，在打击前采用了一种诱敌计谋。</p>
                </div>
