---
layout: post
title: 美国燃油管道公司遭骇案仍扑朔迷离 “头号”嫌疑称不想给社会制造麻烦
date: 2021-05-11 17:45:09.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E6%B4%B2/20210511-%E7%BE%8E%E5%9B%BD%E7%87%83%E6%B2%B9%E7%AE%A1%E9%81%93%E5%85%AC%E5%8F%B8%E9%81%AD%E9%AA%87%E6%A1%88%E4%BB%8D%E6%89%91%E6%9C%94%E8%BF%B7%E7%A6%BB-%E5%A4%B4%E5%8F%B7-%E5%AB%8C%E7%96%91%E7%A7%B0%E4%B8%8D%E6%83%B3%E7%BB%99%E7%A4%BE%E4%BC%9A%E5%88%B6%E9%80%A0%E9%BA%BB%E7%83%A6
categories: rfi
---

<div>11/05/2021 - 11:43</div><img src="https://s.rfi.fr/media/display/5959f4bc-b23d-11eb-a800-005056bff430/w:310/p:16x9/khls8.png"><div class="t-content__body u-clearfix" >
                    <p>据路透社报道说，涉嫌对美国燃油管道公司进行数字勒索的组织声称不想给社会制造麻烦。周一发布在“黑暗面”网站上的简短新闻稿并没有直接提到Colonial Pipeline，但在“关于最新消息”的标题下，它指出，“我们的目标是赚钱，而不是为社会制造麻烦。”声明没有说他们想要多少钱。</p><p>据“黑暗面”表示，他们的黑客将对其他网络罪犯进行检查，“以避免未来产生社会后果。”黑客们没有回复要求其进一步置评的在其网站上的多条重复留言。</p><p>美国白宫至此拒绝就Colonial Pipeline等遭到黑客攻击的企业是否应该向攻击者支付赎金给出建议，但一名国家安全官员表示，白宫未来可能会提供一些建议。负责网络事务的副国家安全顾问Anne Neuberger对记者表示，至少从去年10月开始，美国联邦调查局(FBI)就一直在追踪涉嫌发动此次攻击的勒索软件组织“黑暗面”(DarkSide)。</p><p>Neuberger称，美国情报部门正在调查攻击Colonial的黑客是否与俄罗斯政府或其他民族国家有联系。</p><p>一份以黑暗面名义发布的新闻稿周一称，他们的目标是赚钱，而不是给社会制造麻烦。至于美国政府是否就支付赎金一事给Colonial提供了建议，Neuberger称，“通常情况下，这是民间部门的决定，政府目前没有提供进一步的建议。”</p><p>路透社引述负责网络事务的副国家安全顾问Anne Neuberger称：“考虑到勒索软件事件的增加，这无疑是我们目前在关注的一个领域，看看政府应该采取什么方式。”</p>
                </div>
            
                                <br>
