---
layout: post
title: 法国世界报 ：里兹切尼被解职明确了特朗普对美国共和党的绝对控制力 - 法国世界报
date: 2021-05-13 06:45:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E6%B3%95%E5%9B%BD%E4%B8%96%E7%95%8C%E6%8A%A5/20210512-%E6%B3%95%E5%9B%BD%E4%B8%96%E7%95%8C%E6%8A%A5-%E9%87%8C%E5%85%B9%E5%88%87%E5%B0%BC%E8%A2%AB%E8%A7%A3%E8%81%8C%E6%98%8E%E7%A1%AE%E4%BA%86%E7%89%B9%E6%9C%97%E6%99%AE%E5%AF%B9%E7%BE%8E%E5%9B%BD%E5%85%B1%E5%92%8C%E5%85%9A%E7%9A%84%E7%BB%9D%E5%AF%B9%E6%8E%A7%E5%88%B6%E5%8A%9B
categories: rfi
---

<div>13/05/2021 - 00:28</div><img src="https://s.rfi.fr/media/display/43908dae-61e3-11ea-8cf4-005056bf87d6/w:310/p:16x9/WB161923-RFI-CN-20150123.png"><div class="t-content__body u-clearfix" >
                    <p>特朗普坚持说，是选举舞弊夺走了他连任总统的机会。但是里兹切尼却认为这是一个天大的谎言，她谴责特朗普的阴谋论，投票要对特朗普在1月6日部份支持者冲击国会山里的角色提出指控。之后特朗普给国会共和党党团领袖麦卡锡压力，麦卡锡支持特朗普的立场，和前美国副总统的女儿里兹切尼势不两立。世界报说，今天的投票结果其实是在预料之中的。</p><p>世界报说，麦卡锡一开始是支持里兹切尼的。美国共和党最高层的策略是，在前总统特朗普的问题上降温，这样他们可以集中精力来对付拜登的政策。但是特朗普不肯放弃阴谋论，共和党高层劝不动。而下届国会议员中期选举中如果共和党赢的话麦卡锡想要当议长。这样一来，特朗普坚持的选举被偷走了的立场所带来的压力越来越大，迫使麦卡锡改变立场，与特朗普看齐。</p><p>法国世界报说，这一计谋污染了美国国会要调查清楚1月6日袭击国会事件的努力。麦卡锡阻挠了国会组建独立调查委员会动用一切必要的调查手段调查的动议，同时淡化这场史无前例的袭击美国国家机关事件的影响。</p><p>但是，星期二里兹切尼在国会发表讲话说，在共和党其他人走抛弃法制国家的道路，加入前总统破坏民主的道路的时刻，她不会保持沉默，无所作为的。当共和党的投票结果出来以后，里兹切尼被起哄，但是她坚持说，她要尽一切力量确保前总统再也没办法接近椭圆形办公室。</p><p>国际社会对以色列和哈马斯之间的冲突一发不可收拾感到遗憾。这是今天法国世界报的一个重点标题。哈马斯和以色列之间的冲突完全没有缓和的迹象，世界报引用联合国中东特使的话说，人们担心在这样下去会走向更大规模的战争。</p><p>法国世界报说，巴黎方面认为，美国应该干涉。法国外交事务国务秘书波恩说，虽然欧洲应该更加积极，但是很清楚，只有美国还有外交制衡力量。</p><p>柏林方面， 德国政府发言人说，以色列有权对来自哈马斯的攻击进行正当防卫。在柏林看来，向以色列城市发射火箭筒， 就是为了不分青红皂白地杀人。</p><p>欧盟也在呼吁立即停止以色列和巴勒斯坦领土里的暴力行为，避免更大规模的冲突；欧盟主管外交的官员博雷尔说，哈马斯和其他团体向以色列平民发射火箭筒狂轰滥炸， 这是不可接受的。我们在承认以色列有正当理由保卫平民的同时，要求以色列在动用武力时保持最大程度的克制，掌握分寸。</p><p>世界报说，俄罗斯总统普京星期三在和土耳其总统谈话时说，他呼吁巴以之间缓和紧张局势。他和埃尔多安都对持续进行的战斗， 对不断升高的死伤人数深表关切。</p><p>土耳其总统府表示，埃尔多安在和普京的电话会谈中强调，国际社会有必要给以色列以坚定的，有劝阻力的教训。</p><p>伊斯兰合作组织强烈谴责伊斯兰说，对以色列占领区政权对巴勒斯坦人民的多次袭击表达最强烈的谴责。他们同时谴责以色列占领军继续推动殖民计划，建殖民建筑，企图没收巴勒斯坦财产，动用武力把巴勒斯坦人从他们自己的土地上驱逐出去等。</p><p>国际刑事法庭总检察官本索达表示，对包括东耶路撒冷， 加沙内部和周围地区在内的约旦河西岸的暴力冲突升级深表忧虑，尤其对可能出现的违反罗马协定的犯罪行为深表关切。</p>
                </div>
            
                                <br>
