---
layout: post
title: 新疆议题视讯会议将登场 中国吁联合国会员国抵制 – 法国国际广播电台 - RFI
date: 2021-05-11 10:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%96%B0%E7%96%86%E8%AE%AE%E9%A2%98%E8%A7%86%E8%AE%AF%E4%BC%9A%E8%AE%AE%E5%B0%86%E7%99%BB%E5%9C%BA-%E4%B8%AD%E5%9B%BD%E5%90%81%E8%81%94%E5%90%88%E5%9B%BD%E4%BC%9A%E5%91%98%E5%9B%BD%E6%8A%B5%E5%88%B6
categories: rfi
---

<div>11/05/2021 - 04:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社纽约联合国总部10日电）    中国今天敦促美国、德国与英国取消本周针对北京打压穆斯林少数民族维吾尔族举行的视讯会议，呼吁其他联合国会员国不要参加。</p><p>    根据人权团体说法，至少有100万名维吾尔族与其他多数为穆斯林的族群成员遭拘禁在中国新疆地区的集中营，他们指控有关当局强制女性节育并实施强制劳动。</p><p>    中国常驻联合国代表团在声明中说，这场原订12日举行的视讯会议，「是基于谎言与政治偏见」而举办。</p><p>    北京「敦促合办方立即停止这一干涉中国内政的活动，并呼吁其他会员国共同抵制」。</p><p>    声明提到：「当前，中国新疆形势稳定，经济快速发展，各族人民和谐相处，处于历史上最好时期。」</p><p>    报导说，除了集中营外，中国另有数以百万计的穆斯林据称受到严苛的监督与控制。</p><p>    美国最近宣布，中国对待维吾尔族的方式构成「种族灭绝」。</p><p>    中方声明表示：「美国口口声声关心穆斯林人权，但全世界都知道，美国在阿富汗杀害穆斯林，在伊拉克杀害穆斯林，在叙利亚杀害穆斯林，世界上杀害穆斯林最多的国家恰恰正是美国及其帮凶。」</p><p>    在12日的视讯会议中，美国、德国与英国驻联合国大使，及共同主办这场活动的非政府组织「人权观察」（Human Rights Watch）代表预计将发表谈话。</p><p></p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
