---
layout: post
title: COVID-19全球逾1亿5959万例确诊 近332万人病殁 – 法国国际广播电台 - RFI
date: 2021-05-12 21:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/covid-19%E5%85%A8%E7%90%83%E9%80%BE1%E4%BA%BF5959%E4%B8%87%E4%BE%8B%E7%A1%AE%E8%AF%8A-%E8%BF%91332%E4%B8%87%E4%BA%BA%E7%97%85%E6%AE%81
categories: rfi
---

<div>12/05/2021 - 15:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社巴黎12日电）    法新社汇整官方数据显示，截至格林威治标准时间12日10时（台湾12日晚间6时），全球至少331万9512人死于2019冠状病毒疾病（COVID-19），至少1亿5959万3520例确诊。</p><p>    疫情从2019年12月在中国爆发，迄今绝大多数感染者都已康复。但有些人在痊愈后数周甚至数个月内，仍持续感受到症状。</p><p>    上述数据是依据各国卫生当局每天提供的统计，不包括俄罗斯、西班牙和英国等3国的统计单位其后提出的重新估算数据，且数据只是实际染疫总数的一部分，因为许多轻症或无症状患者一直未被检测出。</p><p>    全球11日通报新增1万3475人病殁、74万8719起确诊病例。根据通报数据，新增病殁人数最多国家依序为印度（4205死）、巴西（2311死）、美国（658死）。</p><p>    美国仍是疫情最严重国家，累计58万2848人病故、3277万9153例确诊。</p><p>    其他疫情严重国家还包括巴西（42万5540人丧生、1528万2705例确诊）、印度（25万4197人丧生、2334万938例确诊）、墨西哥（21万9323人丧生、236万8393例确诊）及英国（12万7629人丧生、443万9691例确诊）。</p><p>    依照染疫死亡人数占人口比例，匈牙利是死亡率最高国家，每10万人就有298人染疫丧命；接下来依序为捷克（278人）、波士尼亚-赫塞哥维纳（272人）、北马其顿（246人）和蒙特内哥罗（246人）。</p><p>    从区域来看，欧洲累计109万8811死、5179万5679例确诊；拉丁美洲和加勒比海地区累计96万1839死、3015万3927例确诊；美国和加拿大共计60万7554死、3407万6230例确诊。</p><p>    亚洲共计38万9327死、3073万1056例确诊；中东地区共计13万5867死、813万9990例确诊；非洲共计12万5045死、465万1749例确诊；大洋洲共计1069死、4万4892例确诊。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
