---
layout: post
title: 新冠疫情什么时候结束？ | 世界 | 半岛电视台
date: 2021-05-10 06:36:05.000000000 +08:00
link: http://chinese.aljazeera.net/medicine/2021/4/13/%e6%96%b0%e5%86%a0%e7%96%ab%e6%83%85%e4%bb%80%e4%b9%88%e6%97%b6%e5%80%99%e7%bb%93%e6%9d%9f
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/GettyImages-1214884625.jpg?resize=770%2C513" srcSet="/wp-content/uploads/2021/04/GettyImages-1214884625.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/04/GettyImages-1214884625.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/04/GettyImages-1214884625.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/04/GettyImages-1214884625.jpg?resize=570%2C380 570w, /wp-content/uploads/2021/04/GettyImages-1214884625.jpg?resize=770%2C513 770w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, (max-width: 770px) 770px, 770px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><p>新型冠状病毒大流行何时结束？英国毒株有多危险？我们有两个好消息给您，但我们还有两个令人担忧的消息。</p>
<p>我们从法国教授菲利普·安威尔开始，根据作家奥黛丽·埃默里在报纸《观点报》上发表的报告，他认为，新冠病毒的真正终结将在2022年夏天。</p>
<p>埃默里教授是去年9月初警告第二波流行病的人，但他仍然相信群体免疫的可能性将在今年夏天开始出现。</p>
<p>关于我们是否会摆脱流行病并看到隧道尽头曙光的问题，埃默里回答说，当康复部门的人数急剧减少，并且每天有足够的疫苗可以为40万人至50万人提供免疫力时，尽管感染仍然存在，但我们将克服大流行。在某些困难情况下，根据特定的卫生规定，某些活动将在5月底和6月初重新开始。</p>
<p>埃默里表示，政客应该多听专家所说的话，这有助于他们控制疫情，为了降低感染率，必须进行许多检查和调查，这是实施“检测、跟踪和隔离”的唯一方法。</p>
<p>关于是否存在其他比新冠病毒更危险的突变体（科学名称为SARS-CoV-2），埃默里表示还会出现其他突变，因为这是该病毒的正常属性，此外，法国的病毒传播速度促进了病毒的突变，而在英国毒株之后，可能会出现其他突变。</p>
<p>埃默里补充说，我们还没有足够的了解来评估新冠疫苗或自然免疫的保护期限，不过，它将在今年年底或明年年初之前变得清晰起来，借助所有这些未知数据，我们都可以估计出2022年夏天新冠病毒终止的日期。</p>
<p>关于是否要戴口罩和保持社交距离，埃默里说，在某些时候，我们将摆脱这些措施。而一旦出现新的流行病，应立即采取这些措施。</p>
<h3>英国毒株没有预期的那么危险</h3>
<p>我们转向另一个好消息，因为路透社在《柳叶刀·传染病》杂志上发表的一项研究表明，在英国首次发现的具有高传染性的变异毒株不会使在医院接受治疗的患者出现更严重的后果。</p>
<p>据美国疾病控制和预防中心称，该毒株被称为Lineage B.1.1.7，于去年年底在英国首次被发现，并成为在美国传播最广泛的毒株。</p>
<p>该研究分析了去年11月和12月在英国医院住院的496名新冠肺炎患者的数据，并比较了B.7.1.1毒株和其他毒株的结果，研究人员没有发现严重症状、死亡或其他临床结局风险上有任何差异。</p>
<p>研究人员在周一发表的研究报告中说：“我们的数据（在实际研究的框架和范围内）提供了初步的保证，即医院感染了B.7.1.1毒株的患者的症状严重程度并未达到与感染其他毒株的患者的疾病严重程度有很大不同<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p>在《柳叶刀·全球卫生》上发表的另一项研究指出，鉴于与其他毒株相比，感染英国毒株的患者的再感染率没有明显增加，因此疫苗可能对突变的英国毒株有效。</p>
<p>这项研究还证实了先前的结果，即B.7.1.1毒株更具传染性。</p>
<h3>两个令人担忧的消息</h3>
<p>虽然有了这两个好消息，但是还有两个令人不安的消息。第一个是世界卫生组织昨天（星期一）宣布，新冠病毒在全世界引起的感染和死亡人数已连续第七周急剧上升，警告这一流行病处于“危急阶段”。</p>
<p>世界卫生组织的新冠疫情首席专家玛丽亚·范·科霍夫解释说：“目前，这一流行病的危机程度正在不断增加<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p>上周，440万新增感染病例被记录下来，而一年前这个时候大约有50万例病例。</p>
<p>科霍夫说，在世界范围内，仍然很不平衡的疫苗交付和对公民分配尚不足以阻止不断上升的感染趋势。</p>
<p>她补充说：“目前，我们正处于防控疫情的关键阶段<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p>她敦促公民继续采取持续数月的基本预防措施，包括保持社交距离、戴口罩、通风和洗手。</p>
<h3>巴西重症监护中超过一半患者年龄在40岁以下</h3>
<p>另一个令人担忧的消息是来自巴西，一位研究员星期日说，巴西上个月重症监护室内40岁以下感染新冠病毒的患者超过了总数的一半。随着新的突变毒株传播，死亡人数居高不下。</p>
<p>巴西复苏医学组织的健康计划协调员阿德隆·里泽恩迪宣布，3月，在重症监护病房内，年龄在39岁及以下的新冠病毒患者上升至超过11000人，占该部门总患者的52.2％。</p>
<p>疫情爆发初期，重症监护室40岁以下的患者比例为14.6％，在去年9月至今年2月之间，比例约为45％。</p>
<p>里泽恩迪说：“以前，该人群通常表现出较轻的感染症状，不需要重症监护，如今该年龄段的重症增幅非常大<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p>他解释说，造成这一增长的因素多种多样，其中包括重症监护部门80岁以上的患者人数从13.6％下降到3月的7.8％，而且该年龄段的很大一部分人接种了新冠疫苗。</p>
<p>根据里泽恩迪的说法，无论是被迫离开家中去上班，还是因为自己认为受到病毒影响较小，年轻人都更容易感染新冠病毒。</p>
<p>另一个可能的因素是巴西的变异毒株，被称为P1，他指出，这是3月巴西新冠死亡人数显着增加的原因。</p>
<p>数据表明，P1可以感染以前感染过新冠病毒原始版本的人，而且可能更具致命性。</p>
<p>里泽恩迪告诉法新社：“进入重症监护病房的患者年龄较小，没有病史，而且也表现出更严重的症状<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台＋路透社<!-- --> + <!-- -->法国媒体</div>
