---
layout: post
title: 台陆委会：冻结黎智英资产表明在港商业风险加大
date: 2021-05-16 07:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B8%AF%E6%BE%B3%E5%8F%B0/20210515-%E5%8F%B0%E9%99%86%E5%A7%94%E4%BC%9A-%E5%86%BB%E7%BB%93%E9%BB%8E%E6%99%BA%E8%8B%B1%E8%B5%84%E4%BA%A7%E8%A1%A8%E6%98%8E%E5%9C%A8%E6%B8%AF%E5%95%86%E4%B8%9A%E9%A3%8E%E9%99%A9%E5%8A%A0%E5%A4%A7
categories: rfi
---

<div>16/05/2021 - 00:31</div><img src="https://s.rfi.fr/media/display/9d7c8b4e-420a-11eb-8ec3-005056bf18d4/w:310/p:16x9/Capture-243.PNG"><div class="t-content__body u-clearfix" >
                    <p>据法新社报导，台陆委会在一份声明中表示，没收资产突显了香港国安法对香港人民财产构成的威胁，“这相当于向国际社会宣布，香港的商业风险在增加”。陆委会重申，呼吁有关方面停止打压香港民主派，否则会偏离民意。</p><p>黎智英目前持有71.26%的壹传媒股票，市值超过3亿港元。香港警方去年12月起诉黎智英“勾结外国或者境外势力危害国家安全罪”，去年4月还指控黎智英两项罪名，“串谋勾结外国或者境外势力危害国家安全罪”和“串谋作出并意图妨碍司法公正的作为”。黎智英上个月被香港法院以组织并参与未经批准的集会罪判一年监禁。他涉违反国安法的案件，将延后到6月审判。</p><p>报导指，香港当局没收黎智英资产一事标志港府首次动用国安法冻结一家上市公司大股东的资产。这将会引起香港这个商业中心的投资者的不安。自香港国安法实施以来，已经有100多名民主派人士因违反国安法被捕。</p><p>香港美国商会12日公布的一份企业调查发现，其325家成员企业中有42%表示会在不久后考虑撤离香港。原因是它们对香港国安法的疑虑。该意见调查指，62%计划离开香港的会员认为国安法让他们感到忧虑，因此打算立即或者在未来五年中离开香港。</p><p>其中36%的会员认为该法律将影响子女在香港的教育。在325家接受意见调查的美国商会会员中，许多受访者没有子女或者子女不在香港。</p>
                </div>
            
                                <br>
