---
layout: post
title: 冷战教训 美国为何没能解决伊朗难题？ | 伊朗 | 半岛电视台
date: 2021-05-15 21:06:05.000000000 +08:00
link: http://chinese.aljazeera.net/opinions/long-reads/2021/4/27/%e5%86%b7%e6%88%98%e6%95%99%e8%ae%ad%e7%be%8e%e5%9b%bd%e4%b8%ba%e4%bd%95%e6%b2%a1%e8%83%bd%e8%a7%a3%e5%86%b3%e4%bc%8a%e6%9c%97%e9%9a%be%e9%a2%98
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-رئيسية-2-16.jpg?resize=570%2C380" srcSet="/wp-content/uploads/2021/04/صورة-رئيسية-2-16.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/04/صورة-رئيسية-2-16.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/04/صورة-رئيسية-2-16.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/04/صورة-رئيسية-2-16.jpg?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><p>美国前总统奥巴马在他的回忆录中写道：“在我执政期间，我们的政府致力于设想一种可能性，即与伊朗爆发战争的可能形式，我结束了这些讨论，并且意识到，如果强行发动战争，那将意味着摧毁我所努力要实现的一切。”奥巴马的战略是与多个国际大国进行谈判，最终于2015年签署了伊核协议，成功遏制了伊朗的核计划。根据前奥巴马政府中央情报局局长约翰·布伦南于2020年发布的题为“勇敢”的回忆录，奥巴马认为，伊朗的核协议非常重要，不仅对于地区稳定非常重要，而且对于加强伊朗温和派非常重要，特别是伊朗总统哈桑·鲁哈尼和外交部长贾瓦德·扎里夫。</p>
<p>以唐纳德·特朗普为首的美国试图采取相反做法，前总统特朗普政府退出伊核协议，并试图向德黑兰施压，以迫使伊朗投降或崩溃，前美国国务卿迈克·蓬佩奥在2018年表示：“伊朗将被迫选择；要么是为保持经济稳定而奋斗，要么是在其领土外的冲突上浪费巨额财富，它绝没有足够资源来做这两件事。”然而，由于伊朗的地区野心，残酷的暴行仍在伊朗国内发生，其核计划范围也得到了进一步扩大。</p>
<p>今天，拜登必须与伊朗站在一起，伊朗正坚定地迈向拥有制造核武器能力的方向发展，直接参与了世界上最严重的人道主义灾难，并通过威胁全球经济而以损害其他国家的方式赢得影响力和政治稳定。独裁者巴沙尔·阿萨德——他是德黑兰的一个客户——加剧了自第二次世界大战以来我们所看到的最大的全球难民危机，这刺激了整个欧洲的民粹主义者。与此同时，沙特阿拉伯与胡塞武装——德黑兰的另一个客户——在也门的代理战争也造成了可怕的人道主义危机，并带回了人类先前已经克服并忘记的疾病。此外，伊朗表现出了对沙特石油设施发动精确导弹和无人机袭击的能力，这对全球能源供应构成威胁，并预示着中东战争，同时，复杂的伊朗网络攻击已成功袭击了美国大选和商业以及美国盟友的关键基础设施。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-188553" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/hqdefault-4.jpg?w=480&amp;resize=480%2C360" data-recalc-dims="1" /></p>
<p>尽管伊朗造成了紧迫的安全挑战，美国战略只关注伊朗政府的核野心和区域野心，而对伊朗人民的民主野心视而不见，从而忽略了冷战结束的教训。美国能否利用压力和外交手段，不仅结束伊朗的核计划及其地区影响，而且结束国内的霸权吗？这是拜登面临的一个挑战，他需要制定一个战略框架，着眼于伊朗。</p>
<h3>冷战教训</h3>
<p>1979年革命后，伊斯兰共和国的性质将伊朗从亲美君主制国家转变为反对美国的宗教国家，七位美国总统试图改变美伊关系，并试图改变伊朗行为或整个伊朗政权，但都失败了。在此期间，伊斯兰共和国被证明很善于生存，但像许多革命政权一样，伊朗也无能力进行改革。与此同时，美国的伊朗事务专家也经历了四十年之久的外交疏离，例如，美国国务院将阿尔巴尼亚语的发言人多于波斯语发言人，尽管如此，伊朗革命意识形态的坚持揭示了伊朗政权的身份。</p>
<p>伊朗在大规模的全球安全和人道主义挑战——其中包括伊斯兰极端主义、能源安全、网络战、核扩散以及叙利亚、也门和阿富汗战争——中发挥了重要作用，其原因是伊朗幅员辽阔（国土面积是以色列的75倍，是德国的四倍），拥有战略地理位置，其丰富的自然资源，民众思想热情，此外，伊朗资助外国民兵。伊朗领导人一直对美国持反对态度，将其置于人民的福利和安全之上。最近，伊朗最高领导人阿亚图拉·阿里·哈梅内伊禁止使用美国生产的新冠疫苗，此举清楚地表明了这一点，尽管伊朗是受到大流行影响最严重的国家之一。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-188555" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/maxresdefault-2-4.jpg?w=770&amp;resize=770%2C433" data-recalc-dims="1" /></p>
<p>截至目前，哈梅内伊（现年81岁）被认为是世界上统治时间最长的独裁者之一，自1989年从阿亚图拉鲁霍拉·霍梅尼继承权力以来，哈梅内伊就一直没有离开伊朗，他对伊朗革命卫队——伊朗最强大的机构——的不懈支持机构，帮助镇压反对派并削弱了潜在的竞争对手，其中包括四位伊朗前总统。尽管出现了伊朗权力中心之间的竞争，但哈梅内伊对监护委员会、领导专家委员会和权宜理事会拥有有效的权力，这些机构都是伪监督机构，但实际上显示了哈梅内伊的权威。</p>
<p>耶鲁大学历史学家约翰·刘易斯·加迪斯（John Lewis Gaddis）在他的经典著作《遏制战略》中指出，美国——乔治·肯南（George Kennan）领导制定冷战期间美国的政策——对苏联的成功遏制基于三个重要方面：加强美国盟友和伙伴（包括1946年与伊朗结盟），分裂国际共产主义运动，以及煽动和恐吓，旨在试图“改变苏联行为”，这些目标并不相互冲突，而是相互促进战略的一部分。</p>
<p>特朗普政府有四年时间来证明替代理论的有效性，该理论认为，如果美国采取非外交的施压政策，就可能会破坏伊朗政权。尽管特朗普对伊朗进行了大规模的屈辱和经济封锁，其中包括2020年1月暗杀伊朗最高军事指挥官卡西姆·苏莱曼尼，但伊朗政权团结一致，核计划增加了一倍12倍，尽管支出减少，但伊朗在区域上的影响并未受到损害。简而言之，唯一对伊朗行为产生重大影响的政策是，巨大国际压力与不自满美国外交政策的融合。</p>
<figure id="attachment_188557" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-188557" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-22T163222.605.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" />美国国防部（五角大楼）宣布，2020年1月3日，在美国对巴格达国际机场的一次空袭中，伊朗革命卫队圣城旅将军苏莱曼尼和伊拉克民兵组织领导人阿布·马赫迪·穆罕迪斯身亡</figure>
<p>恢复伊核协议是拜登政府目前面临的最重要挑战。从理论上讲，这应该不困难，因为华盛顿希望伊朗放弃其核发展的步伐，同时，如果不完全或部分恢复伊核协议，伊朗将无法治愈其崩溃的经济。尽管到目前为止，由于华盛顿和德黑兰的内部政策、双方之间的极大不信任以及战术上的分歧，恢复伊核协议的道路已被封锁，但这些障碍必须最终克服。</p>
<p>另一方面，更大的挑战将是拜登政府宣布的意图，即延长伊核协议期限并加强该协议，美国希望将伊核协议有效期延长到2023年之后，届时，伊核协议的某些条款将到期，同时，美国还希望扩大伊核协议范围，以包括非核问题，但这与伊朗向其地区代理部署高精度导弹一样令人担忧，拜登做法的批评者认为，美国政府应该在重返伊核协议之前加强该核协议，而不是在重返协议之后加强，以从美国前总统特朗普政府实施的极限施压政策中获益，无论采取何种安排，美国人试图加强协议的任何企图都将遭到伊朗的强烈反对，至于对伊朗的施压——拜登政府为重返伊核协议必须取消对伊朗施加的压力，可能需要再次施加压力以改善核协议。</p>
<p>对于那些赞成迅速恢复核协议的顾问来说，事情很简单：拜登是否应该在他总统任期开始就升级与传统竞争对手伊朗的潜在升级，还是应该推迟这种升级可能性？拜登的批评者大多是共和党人，他引用亨利·基辛格的话说：“竞争的压力使人们相信，推迟问题意味着避免问题，但这通常是对灾难的回应<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<figure id="attachment_188561" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-188561" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-22T163739.670.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" />美国总统“乔·拜登”</figure>
<h3>伊朗与地区分支势力</h3>
<p>世界上没有哪个地区像中东一样威胁全球稳定，而且中东没有哪个国家像伊朗那样从地区动荡中受益最大。伊朗在四个饱受冲突困扰的阿拉伯国家——叙利亚、伊拉克、黎巴嫩和也门——的影响力不断扩大，这归因于美国2003年入侵伊拉克、2011年阿拉伯起义以及数十年执政失败造成的权力真空。这种阿拉伯国家的混乱有助于伊朗野心，而这种伊朗野心反过来又加剧了阿拉伯的混乱。</p>
<p>伊朗的区域政策具有三个轴心：反美国，反以色列和反沙特阿拉伯。德黑兰试图通过建立外国民兵网络——例如黎巴嫩真主党——来实现这些目标，据估计，这些民兵有5万至20万名战斗人员。作为中东唯一的宗教国家，伊朗比其他国家更有效地利用伊斯兰极端主义——什叶派，有时甚至是逊尼派。事实上，尽管伊朗-沙特的敌对行动通常被认为是伊朗什叶派和沙特阿拉伯逊尼派之间的宗派战争，但与利雅得不同，德黑兰享有的重要质量优势是，所有什叶派极端分子——预计——都准备与伊朗并肩作战，而包括ISIS组织和基地组织几乎所有逊尼派极端分子——预计——都希望推翻沙特阿拉伯政权。</p>
<p>伊朗与沙特可能实现缓和，至于以色列，则德黑兰已经明确表示，以色列将永远不会承认伊核协议，德黑兰为巴勒斯坦的伊斯兰圣战组织和哈马斯运动提供了数亿美元的资金，并通过真主党在黎巴嫩收集了超过10万枚弹药和导弹，全部针对以色列，与此同时，伊朗还在叙利亚迅速建立军事基地，以打开另一个反对犹太国家的阵线。另一方面，以色列进行了报复，对伊朗境内的核科学家进行了6次暗杀，并在叙利亚境内伊朗集中地区进行了200多起炸弹袭击，此外，以色列还针对伊朗基础设施和核设施发起了破坏性袭击，伊朗外交部长贾瓦德·扎里夫引用波斯谚语说，“在战争和战斗中，没有糖果可分发<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p><img class="aligncenter size-fantasia-770 wp-image-188565" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/maxresdefault-1-9.jpg?w=770&amp;resize=770%2C433" data-recalc-dims="1" /></p>
<p>尽管不能消除伊朗在中东的影响，但可以有效地暴露、抵制和遏制伊朗的影响。核协议证明，在寻求各方满意结果背景下，可以实现国际施压和美国持续外交——致力于限制伊朗核计划，而不是消除伊朗核计划——的混合方案，与此同时，也应该使用相同的混合方案，以限制伊朗影响，而不是完全消除伊朗的影响。这并不要求阿拉伯人表面上接受伊朗侵犯其国家主权的行为，但阿拉伯人必须设定可强制执行的限制条件，以遏制德黑兰采取的某些形式的不当行为，而不是单纯的要求将伊朗从阿拉伯世界中“驱逐出去”，就像前沙特阿拉伯外交大臣阿朱拜尔于2018年所提出的要求。</p>
<p>联合全面行动计划，简称伊核协议，是一份长达159页的文件，内容详尽，详实，准确地解释了如何将伊朗核计划最小化并提高透明度。同样，美国的“地区盟友”应该提出一个连贯解决方案，类​​似于如何遏制伊朗对其地区代表及其对自己国家主权的侵犯，就像《联合全面行动计划》向伊朗提供的积极奖励措施一样，阿拉伯海湾国家也应该准备不仅谈论他们的关切和要求，而且还需要谈论与伊朗的联合合作方式。气候变化是这种合作合乎逻辑的起点，这是由于气候变化可能会导致伊朗和阿拉伯世界各地区气温不断升高，很快将发展为不再适合生活的程度。</p>
<p>对伊朗和美国退出中东地区等问题的共同担忧，促进特朗普政府帮助以色列实现与阿联酋和巴林等多个阿拉伯国家之间的关系正常化进程，尽管如此，在该地区对付伊朗入侵的最强有力防御将是建立阿拉伯国家和统一的民族认同，正如苏联同盟的民族主义在面对共产主义意识形态中起着举足轻重的作用。</p>
<p>尽管黎巴嫩真主党和伊拉克人民动员部队正在有效地开展工作，作为伊朗革命卫队的延伸，但德黑兰再也不能保证其在阿拉伯什叶派中继续受到民众的支持。2019年11月，示威者袭击了伊朗驻纳杰夫和卡尔巴拉的领事馆并放火，黎巴嫩什叶派示威者对黎巴嫩南部纳巴提耶市的真主党进行示威抗议。民意测验显示，现在超过一半的阿拉伯什叶派人士对伊朗持“负面”看法。尽管阿拉伯国家的什叶派在本国饱受苦难，但很少有人将伊朗这个宗教国家视为榜样。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-188567" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-22T164926.516.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<h3>伊朗世界观</h3>
<p>迄今为止，华盛顿的努力未能促进德黑兰的政治变革。面对强硬的竞争对手，在伊朗政权中加强改革派的努力也没有取得成功，改革主义者缺乏意志，强硬派装备精良。在面对有组织的、压制的和装备精良的伊朗领导人努力中，美国激励没有防御能力，试图将伊朗平民团结起来的努力也没有取得任何重大进展。伊斯兰共和国一再表明，其愿意切断互联网并在黑暗中杀死数千名公民，就像2019年11月做法类似。独裁专制国家的改变不仅需要民众施加压力，还需要精英内部的分裂。当整个系统相信自己的安全机制时，它将面临两个选择： 要么杀人，要么被杀——就像叙利亚所发生的一样，其不反对着手实施第一种选择。</p>
<p>伊朗内部和该区域的伊斯兰共和国反对者都担心，恢复伊核协议会增强伊朗政权的实力。但是历史表明，极端贫困并没有助长政治反对派，相反，根据所谓的J曲线效应（J-Curve Effect），社会经济状况的改善提高了人们无法跟上和满足的期望上限。因此，解除美国制裁可能导致短期经济改善，这可能会在中长期破坏伊朗政权的稳定，而不是像某些人所认为的，短期经济改善将增加伊朗政权稳定。伊朗民众越来越意识到，他们的领导权而不是华盛顿在阻碍他们实现更美好的未来，伊朗的更强意识形态——伊朗民族主义——将会反抗伊朗政权本身，而不是反抗为其提供服务的工具。</p>
<p>拜登政府对德黑兰而言既是机遇，也是挑战。恢复伊核协议可能有助于扭转伊朗经济下滑趋势，但这可能使伊斯兰共和国难以继续将其无数失败归咎于美国。最近被伊朗释放的澳大利亚学者凯莉·摩尔·吉尔伯特（Kylie Moore-Gilbert）表示，“当特朗普输掉选举时，监狱中的许多人松了一口气，而革命卫队，则无疑遭遇挫败<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p><img class="aligncenter size-fantasia-770 wp-image-188569" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/maxresdefault-14.jpg?w=770&amp;resize=770%2C433" data-recalc-dims="1" /></p>
<p>与所有独裁政权一样，历史并不支持伊斯兰共和国，因为它缺乏民主更新机制，并以大规模镇压作为控制异议人士的主要工具。与此同时，大多数现代经济体试图更好地理解如何促进技术创新、应对气候变化和促进多样化，伊朗年迈的宗教领袖出售石油以维持不容忍的革命意识形态，甚至出口石油。伊朗官员他们自己也承认，技术工人移民每年使伊朗损失1500亿美元，这远远超过了国家的石油收入。最终，这种经济、政治和社会疾病将产生美国政策应该计划促进而不是阻碍的后果。</p>
<p>伊斯兰共和国成立后四十年，唯一的希望在一个年轻、充满朝气和受过良好教育的社会，民众渴望像韩国人民而不是朝鲜人民那样生活，茁壮成长并与世界和平相处。修建从伊朗宗教国家到民主国家的隧道可能要花费数年时间，但是建设的完成对中东转型至关重要。</p>
