---
layout: post
title: 德国BioNTech将在中国建立合资企业生产疫苗
date: 2021-05-12 07:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210511-%E5%BE%B7%E5%9B%BDbiontech%E5%B0%86%E5%9C%A8%E4%B8%AD%E5%9B%BD%E5%BB%BA%E7%AB%8B%E5%90%88%E8%B5%84%E4%BC%81%E4%B8%9A%E7%94%9F%E4%BA%A7%E7%96%AB%E8%8B%97
categories: rfi
---

<div>11/05/2021 - 23:49</div><img src="https://s.rfi.fr/media/display/c712c4f0-b17c-11eb-bd94-005056bff430/w:310/p:16x9/AP21118376442159.jpg"><div class="t-content__body u-clearfix" >
                    <p>据德国《商报》和德国电信公司消息，总部位于美因茨的BioNTech将和上海复星医药集团建立合资企业，在中国生产BioNTech新冠疫苗。中国媒体周日已报道了这一消息。投入合资企业的资产为2亿美元，企业将可生产10亿剂疫苗。复星由此将成为BionTech在中国、香港、台湾和澳门的全权代理。根据中方的消息，中方伙伴投入的资本为1亿美元。双方将各占合资企业份额的一半。</p><p>BionTech疫苗目前在中国还没有得到许可。媒体报道说，中方将在七月批准BionTech疫苗。中国自己想成为世界上抗新冠疫苗重要供应商，迄今为止还没有批准任何外国疫苗进入中国。专家们估测，中国会将允许外国疫苗进入中国和中国疫苗进入美国和欧洲挂钩。上周，中国国药新冠疫苗获世卫组织紧急使用许可。欧洲药品管理局目前则正在审批中国科兴疫苗。</p><p>BionTech和美国伙伴辉瑞的生意十分繁荣。据德国电视一台和德国《商报》报道，欧盟现在又增订了BioNTech疫苗，但不会再增订阿斯利康疫苗。BionTech在新加坡也将生产疫苗。BionTech于周一将本年度销售额上调约四分之一，上调到124亿欧元。辉瑞也上调了自己的营业额。</p>
                </div>
            
                                <br>
