---
layout: post
title: 法国想要推动Covid-19疫苗接种加速
date: 2021-05-13 03:45:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B3%95%E5%9B%BD/20210512-rfi-%E6%B3%95%E5%B9%BF-%E5%B0%BC%E5%8F%A4%E6%8B%89-france-coronavirus-%E6%B3%95%E5%9B%BD%E6%83%B3%E8%A6%81%E6%8E%A8%E5%8A%A8covid-19%E7%96%AB%E8%8B%97%E6%8E%A5%E7%A7%8D%E5%8A%A0%E9%80%9F
categories: rfi
---

<div>12/05/2021 - 21:35</div><img src="https://s.rfi.fr/media/display/a42e081e-ae89-11eb-a079-005056a9b1a7/w:310/p:16x9/2021-05-06T105845Z_805492071_RC2AAN9Z63SL_RTRMADP_3_HEALTH-CORONAVIRUS-FRANCE-MACRON-VACCINODROME.JPG"><div class="t-content__body u-clearfix" >
                    <p>据本台RFI法广法文网2021年5月12日周三报道，以马克龙总统（Emmanuel Macron）为首的执政团队一再重申的目标，是要让2000万民众在5月15日之前注射好第一针疫苗。一旦未能按时达到这一目标，则将可能被视为对危机管理的又一败笔。但除此之外，在未来几天乃至几周内，加速接种疫苗也将减轻疫苗反弹的风险。然而限制性措施的放宽则招致科学界的批评。</p><p><strong>疫苗接种之强行军</strong></p><p>至今，已有1850万人注射了第一剂疫苗。法国卫生部里的压力在增大。必须避免疫苗接种节奏在耶稣升天节（Ascension）期间，出现如同之前几个周末和节假日时那样的减速。计划采取的行动包括：在旅游场所接种一针剂强生疫苗(Janssen)，在疫苗接种中心组织夜间行动，提高疫苗接种人员的报酬。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="EM Image rfi archive - vaccin johnson &amp; johnson"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/619999ee-a201-11eb-8298-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;AP21104504617387.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/619999ee-a201-11eb-8298-005056bf87d6/AP21104504617387.jpg" alt="EM Image rfi archive - vaccin johnson &amp; johnson"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Image d&#039;archive RFI : The European Medicines Agency (EMA) said that the Janssen vaccine had a favourable benefit to risk ratio, despite the “very rare” risk of blood clots.</span>                <span class="a-media-legend">AP - David Zalubowski / RFI Image Archive 法广存档图片</span>            </figcaption>
            </figure>

        </div><p>法国当局还指望，在5月和6月时收到大量疫苗以进一步推动接种行动。此外，莫德纳疫苗（Moderna）将很快被城里的卫生专业人员所掌握，并在一些企业展开试点。法国当局的下一目标是：在六月中旬之前，让3000万人完成第一剂疫苗的接种。</p><p><strong>18岁即可接种疫苗</strong></p><p>马克龙总统上周四曾宣布，位于巴黎南部凡尔赛门（Porte de Versailles）的疫苗接种场启用。从5月12日周三起，所有年满18岁的成年人不论年龄和健康条件，只要有疫苗可用即可提出接种要求。疫苗接种中心欢迎那些于一天前在预约平台上找到第二天时间空隙的人们，这样不浪费任何疫苗接种时隙。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image RFI Archive - France Paris vaccination"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/6c25600c-b2a3-11eb-b4c9-005056a964fe\/&quot;,&quot;filename&quot;:&quot;AP21126576279434.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/6c25600c-b2a3-11eb-b4c9-005056a964fe/AP21126576279434.jpg" alt="Image RFI Archive - France Paris vaccination"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Image d&#039;archive RFI : Une jeune femme reçoit un vaccin contre le Covid-19 dans un nouveau centre de vaccination géré par les pompiers de Paris, le jeudi 6 mai 2021.</span>                <span class="a-media-legend">AP - Michel Euler / RFI Image Archive 法广存档图片</span>            </figcaption>
            </figure>

        </div><p>这样的机会让年轻人感到欢欣。现年23岁的路易丝（Louise）是现代文学专业的一名女大学生。她在接受采访时表示，打算尽快登记接种疫苗，以便尽快找回接近正常的生活。</p>
                </div>
