---
layout: post
title: 美国最大远征移动基地舰服役 永久驻防海外
date: 2021-05-11 22:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E6%B4%B2/20210511-%E7%BE%8E%E5%9B%BD%E6%9C%80%E5%A4%A7%E8%BF%9C%E5%BE%81%E7%A7%BB%E5%8A%A8%E5%9F%BA%E5%9C%B0%E8%88%B0%E6%9C%8D%E5%BD%B9-%E6%B0%B8%E4%B9%85%E9%A9%BB%E9%98%B2%E6%B5%B7%E5%A4%96
categories: rfi
---

<div>11/05/2021 - 15:59</div><img src="https://s.rfi.fr/media/display/168022be-b261-11eb-bf47-005056bf87d6/w:310/p:16x9/myjjj1.jpg"><div class="t-content__body u-clearfix" >
                    <p>据自由时报今天引述消息报道说，全球最大常规动力舰艇、美国海军排水量9万吨的远征移动基地舰“米格尔基思号”（USNS Miguel Keith，T-ESB-5），近日正式服役，今夏将启程前往西太平洋地区执行任务。美国南方司令部、海军上将法勒（Craig Faller）指出，“米格尔基思号”或将派往南海，对抗“中国威胁”！</p><p>据《Military.com》10日透露，除于今夏启程前往西太平洋地区外，法勒上将表示，“米格尔基思号”可以在服役期间前往世界各地，比如加勒比海、南海和霍尔木兹海峡。他还宣称，该舰的官兵将前往全球冲突最前线，对抗美国面临的威胁，尤其是中国。</p><p>据该报称，“米格尔基思号”远征移动基地舰的建造花费了大约2年时间，该舰将永久部署在海外，它的首个作战基地将设在塞班岛。该舰将搭载约100名海军士兵和44名平民舰员，巨大舰体使其能够部署一个宽阔的飞行甲板，可以容纳美国海军最大的重型直升机MH-53直升机以及陆战队的F- 35B战机。</p><p>据介绍，“米格尔基思号”的排水量9万吨，仅次于美军“福特级”和“尼米兹级”航空母舰，而且已经超过其他国家所有航舰的单舰排水量，例如即将展开印太部署的英国航空母舰伊莉莎白女王号（HMS Queen Elizabeth），排水量只有7万吨左右。俄罗斯唯一的航空母舰“库兹涅佐夫号”（Admiral Kuznetsov），排水量6万多吨，而世界上最小的核动力航舰、法国“戴高乐号”（Charles de Gaulle R91），排水量更只有3.5万吨。</p><p>据自由时报称，“米格尔基思号”采用柴电力混合动力装置，最高航速可达15节，最大航程为9500海里（约合17594公里）。该舰配备有一个约4830平方公尺的飞行甲板，还有燃料储存装置、维修车间、武器库和最多能容纳250人的宿舍。该舰还能够执行多种任务，包括空中水雷对抗、反海盗、海上安全行动、人道主义援助和救灾、危机因应等。</p>
                </div>
            
                                <br>
