---
layout: post
title: 铁矿价格飞扬-安塞乐米塔尔员工罢工
date: 2021-05-13 00:45:09.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E6%B4%B2/20210512-%E9%93%81%E7%9F%BF%E4%BB%B7%E6%A0%BC%E9%A3%9E%E6%89%AC-%E5%AE%89%E5%A1%9E%E4%B9%90%E7%B1%B3%E5%A1%94%E5%B0%94%E5%91%98%E5%B7%A5%E7%BD%A2%E5%B7%A5
categories: rfi
---

<div>12/05/2021 - 18:04</div><img src="https://s.rfi.fr/media/display/e18e0b44-10d0-11ea-9a97-005056bf7c53/w:310/p:16x9/boum%20minier_0.JPG"><div class="t-content__body u-clearfix" >
                    <p>本台RFI法文网于2021年5月12日周三在 « 原材料»专栏（Chronique des matières premières）刊出记者阿尔亭·拉扎吉（Altin Lazaj）的最新报道，介绍跨国钢铁企业安塞乐米塔尔集团（ArcelorMittal）的加拿大员工们，本周开始无限期罢工。</p><p><strong>铁矿石行情前所未有</strong></p><p>市场上的铁矿石价格确实出现了暴涨。经过历时一年的持续上扬，每吨价格现已超过200$（美元），前所未见。中国对钢材的强劲需求，推动了其原材料铁矿石价格的飙升。此外，这还得益于美国的大规模经济重振计划。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image RFI Archive - ArcelorMittal  Dofasco à Hamilton au Canada"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/2ff7bf38-1634-11ea-aa2b-005056a99247\/&quot;,&quot;filename&quot;:&quot;0db52c82b9c74da10d49fe5df38e3b6b810d85b1.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/2ff7bf38-1634-11ea-aa2b-005056a99247/0db52c82b9c74da10d49fe5df38e3b6b810d85b1.jpg" alt="Image RFI Archive - ArcelorMittal  Dofasco à Hamilton au Canada"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Image d&#039;archive RFI : Des bobines d&#039;acier dans un chantier de l&#039;aciérie ArcelorMittal Dofasco à Hamilton, Canada.</span>                <span class="a-media-legend">GETTY/AFP/File - RFI Archive 法广存档图片</span>            </figcaption>
            </figure>

        </div><p>当前行情让矿业公司不仅获利甚丰，而且股价升值。在魁北克北边沿岸经营一处大型铁矿开采场的安塞乐米塔尔集团就属于这种情形，具体矿区包括Mont Wright和Fire Lake。这里的矿石特点：品位高，属于铁精矿，铁元素含量多达66%。所以，市场价格也更昂贵。</p><p><strong>工会为员工争取待遇</strong></p><p>在此背景下，安塞乐米塔尔集团在魁北克的这一开采和加工场的员工要求让昂贵的铁价反应到工资或退休金上。劳资双方经过历时数周的谈判，没能达成任何共识。资方拿出的方案未能让工会满意。工会认为，利润流入了在伦敦的股东们的腰包。</p><p>劳资谈判破裂的后果是，这一每年生产近2600万吨铁的矿业设施，2500名员工自周一开始无限期罢工。</p>
                </div>
