---
layout: post
title: 台北市舞厅酒吧夜店三温暖等八大行业明起停业期阻断传播链
date: 2021-05-14 18:15:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210514-%E5%8F%B0%E5%8C%97%E5%B8%82%E8%88%9E%E5%8E%85%E9%85%92%E5%90%A7%E5%A4%9C%E5%BA%97%E4%B8%89%E6%B8%A9%E6%9A%96%E7%AD%89%E5%85%AB%E5%A4%A7%E8%A1%8C%E4%B8%9A%E6%98%8E%E8%B5%B7%E5%81%9C%E4%B8%9A%E6%9C%9F%E9%98%BB%E6%96%AD%E4%BC%A0%E6%92%AD%E9%93%BE
categories: rfi
---

<div>14/05/2021 - 11:52</div><img src="https://s.rfi.fr/media/display/51c35f2e-58b8-11eb-bff0-005056a964fe/w:310/p:16x9/20210116000151M.jpg"><div class="t-content__body u-clearfix" >
                    <p>澳门政府宣布，今天零点起，所有入境前14天到过台湾的人士，登机须持72小时内作出的核酸检测阴性证明，入境后必须在指定地点接受14天医学观察以及最少7天自我健康管理。</p><p>香港当局今天也宣布，所有曾在台湾停留的抵港人士，必须在指定酒店强制检疫14天，不能选择居家检疫。</p><p>今天一度传出，靠近万华区的台湾总统府内，有一位员工被确诊新冠肺炎，需要隔离。总统府发言人随即澄清表示，这位员工是明天才要公布的一位确诊者的接触者，为了安全起见，被指挥中心匡列隔离，但并非确诊者。</p><p>台北市万华区的茶艺馆早期称为「茶室」，民间俗称「阿公店」，坐台的女服务生也多在中年以上。官方已查出，活动力强的五股狮子会前会长曾前往万华茶艺馆喝茶唱歌，导致该地区茶艺馆已有23位女服务生确诊；而这位前会长也因为积极参与该地区狮子会的各项活动，该地区狮子会的相关人员已经有19人确诊。</p><p>台北市长柯文哲在下午的记者会上宣布，明天起，台北市公有场馆、10大类场所，包括8大行业加网咖与电子游戏店，所有舞厅、酒吧、夜店、三温暖及咖啡厅等地，全数都要停业，因为疫情还在蔓延，必须把防疫层级往上提升。新北市也宣布比照办理，448家娱乐场所即日起免征娱乐税，直到重新开放营业为止。</p><p>台北市政府并匡列了茶艺馆所在地的万华区和平西路等四条街道所围地区为「高风险地区」，发出60万通「细胞简讯」，针对4/15至5/12曾出入此区者要求提高警觉，有不适者应主动就医。并首度在「高风险地区」四个地点设置筛检站，呼吁民众可前往免费筛检。筛检对象有4类，包括一、曾赴万华茶艺馆者；二、街友、弱势族群、新住民；三、出现发烧及上呼吸道症状者；四、其他有意愿筛检的民众。</p><p>另市府内部也正在研议，未来可能会启动万华区内各机关「异地办公」，时间点将是17日，致力在关键几天阻断传播链。</p>
                </div>
            
                                <br>
