---
layout: post
title: 美日韩协调七国峰会期间举行首脑会谈
date: 2021-05-16 07:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210515-%E7%BE%8E%E6%97%A5%E9%9F%A9%E5%8D%8F%E8%B0%83%E4%B8%83%E5%9B%BD%E5%B3%B0%E4%BC%9A%E6%9C%9F%E9%97%B4%E4%B8%BE%E8%A1%8C%E9%A6%96%E8%84%91%E4%BC%9A%E8%B0%88
categories: rfi
---

<div>16/05/2021 - 00:20</div><img src="https://s.rfi.fr/media/display/5a07a5c2-b5ca-11eb-81fe-005056a917b9/w:310/p:16x9/Capture-543.PNG"><div class="t-content__body u-clearfix" >
                    <p>共同社报导指，这将是2017年以来再次举行三国首脑会谈，也是拜登政府上台后首次。三国将力争合作解决朝鲜核与导弹问题。此外，还将讨论举行日韩首脑对话。</p><p>在美国印太战略下，增强美日韩三方合作是其重要组成部分之一。报导指，有意见认为，美国总统拜登将在会谈中，着眼于朝鲜半岛无核化，向日韩呼吁加强三国合作。把朝鲜绑架日本人问题视为最重要课题的日本首相菅义伟则希望获得美韩首脑对早日解决该问题的支持。韩国总统文在寅拟促进对融和应对朝鲜的理解。三国的步调将如何协调成为焦点。</p><p>关于举行三方首脑会谈的提议，日本政府消息人士表示，“美国很积极，没有拒绝的理由”。韩国当局人士亦指，“力争在七国峰会期间举行”。作为今年七国集团轮值主席国，英国邀请韩国、澳大利亚、印度、文莱以及南非外长参加月初的外长会，为下月6月11日至13日举行的首脑峰会预热。</p><p>据悉，日韩还将推进探讨首脑双边会谈的方式。对于正式会谈，在两国围绕历史问题对立的背景下，要求慎重的论调在日本政府内根深蒂固，还出现了短时间非正式接触的方案。</p><p>此外，韩国青瓦台发言人朴炅美14日通过声明指，文在寅当天下午接见到访的美国国家情报总监海恩斯（Avril Haines），双方就韩半岛局势、共同关切等深入交换意见。此前，美日韩三国情报长官12日在东京举行闭门会谈，就朝鲜半岛局势、美国对朝新政策等事宜进行讨论。</p>
                </div>
            
                                <br>
