---
layout: post
title: 挪威委员会不建议打AZ娇生疫苗 德解除年龄限制 – 法国国际广播电台 - RFI
date: 2021-05-10 23:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%8C%AA%E5%A8%81%E5%A7%94%E5%91%98%E4%BC%9A%E4%B8%8D%E5%BB%BA%E8%AE%AE%E6%89%93az%E5%A8%87%E7%94%9F%E7%96%AB%E8%8B%97-%E5%BE%B7%E8%A7%A3%E9%99%A4%E5%B9%B4%E9%BE%84%E9%99%90%E5%88%B6
categories: rfi
---

<div>10/05/2021 - 17:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社奥斯陆/柏林10日电）    挪威专家委员会今天表示，考量阿斯特捷利康和娇生的COVID-19疫苗有罕见但严重的副作用风险，建议国家疫苗计画排除两者。德国今天则解除娇生疫苗高龄者优先施打限制。</p><p>    由于挪威先前出现接种英国药厂阿斯特捷利康（AstraZeneca，简称AZ）的2019冠状病毒疾病（COVID-19）疫苗后，发生血栓和脑出血死亡案例，挪威政府遂成立专家委员会，检视AZ和美国娇生集团（Johnson & Johnson）的COVID-19疫苗相关风险。因这两支疫苗皆采用相同的腺病毒技术。</p><p>    专家委员会主席佛兰德（Lars Vorland）今天递交结论报告时表示，他们「不建议国家疫苗接种计画使用腺病毒载体（adenoviral vector）疫苗」。他说，「这当然是因为」注射这类疫苗的民众当中，少部分出现「严重副作用」。</p><p>    不过，为了避免挪威疫苗接种进度因此减速，专家委员会建议，可开放民众自愿施打AZ和娇生疫苗。</p><p>    挪威卫生部长霍伊（Bent Hoie）尚未对外透露奥斯陆对这两支疫苗的施打立场。</p><p>    欧盟药品管理局（European Medicines Agency）曾表示，血栓应列为AZ和娇生疫苗的罕见副作用；但他们和世界卫生组织（WHO）皆建议继续施打这两支疫苗，原因是利仍大于弊。</p><p>    截至3月中，在挪威已施打的13万4000剂AZ疫苗接种者当中，出现5宗严重血栓案例，其中3宗有致命危险；5人都是相对年轻且原本健康人士。另有一名接种者死于脑出血。</p><p>    挪威政府已于3月11日暂停施打AZ疫苗，等待对于副作用进行更详细的研究。挪威卫生当局4月15日已建议政府将AZ疫苗排除，但奥斯陆仍决定先成立专家委员会来审查疫苗相关风险。</p><p>    至于娇生疫苗，挪威尚未开始部署接种；但美国已传出极少数血栓案例。</p><p>    挪威邻国丹麦是目前唯一欧洲国家正式将AZ和娇生疫苗排除在接种计画之外。许多欧洲国家则是对AZ疫苗设接种年龄限制。</p><p>    欧洲联盟（EU）最大成员国德国今天则开放所有成年民众施打娇生疫苗，取消原本鉴于非常罕见血栓案例而订定的接种优先顺序。</p><p>    德国卫生部长史巴恩（Jens Spahn）表示，由于预计到了6月，60岁以上民众大多将已接种过疫苗，当局因此决定不再仅限于较年长人口施打。</p><p>    史巴恩说，如今较年轻民众经过医师门诊后，可选择是否施打一共只需注射一剂的娇生疫苗。</p><p>    史巴恩指出，德国今年6和7月约将有1000万剂娇生疫苗到货，届时较高龄民众都已接种过疫苗，「因此我们决定解除娇生疫苗的优先施打规定，如同我们对AZ疫苗的做法…好让所有人都有可能获得疫苗接种」。（译者：张正芊/核稿：陈政一）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
