---
layout: post
title: 加沙美联社驻地大楼被毁 拜登致电内塔尼亚胡表示关切
date: 2021-05-16 07:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E4%B8%9C/20210515-%E5%8A%A0%E6%B2%99%E7%BE%8E%E8%81%94%E7%A4%BE%E9%A9%BB%E5%9C%B0%E5%A4%A7%E6%A5%BC%E8%A2%AB%E6%AF%81-%E6%8B%9C%E7%99%BB%E8%87%B4%E7%94%B5%E5%86%85%E5%A1%94%E5%B0%BC%E4%BA%9A%E8%83%A1%E8%A1%A8%E7%A4%BA%E5%85%B3%E5%88%87
categories: rfi
---

<div>15/05/2021 - 23:36</div><img src="https://s.rfi.fr/media/display/defddc20-b5c4-11eb-a289-005056a917b9/w:310/p:16x9/Capture-542.PNG"><div class="t-content__body u-clearfix" >
                    <p>就美以首脑的此次通话，白宫通过声明介绍称，“总统今天与以色列总理内塔尼亚胡通话。总统重申，他坚决支持以色列有权针对来自哈马斯和加沙其他恐怖组织的火箭弹袭击进行自卫。他谴责这些针对以色列各地城镇和城市的无差别攻击”。白宫声明说，“总统向总理介绍了美国在这一问题上与区域伙伴进行高级别接触的最新情况，并讨论了正在进行的外交努力。总统指出，当前的冲突时期不幸地夺去了以色列和巴勒斯坦平民的生命，包括儿童。他对记者的安全和安保表示关切，并强调需要确保他们受到保护。”</p><p>白宫声明续称，“总统对以色列各地的社区间暴力事件表示严重关切。他欢迎总理和其他领导人反对这种仇恨行为的声明，并鼓励继续采取措施，追究暴力极端分子的责任并建立平静。他们讨论了目前耶路撒冷的紧张局势，并表示他们共同希望耶路撒冷成为所有信仰和背景的人和平共处的地方。总统对约旦河西岸的暴力对抗表示关切”。拜登表示，支持采取措施，“使巴勒斯坦人民能够享受他们应得的尊严、安全、自由和经济机会，并申明他支持两国解决方案。两位领导人同意继续他们团队之间的密切磋商，并在未来几天保持联系。”</p><p>就此次通话，内塔尼亚胡在推特上写道，“我在电话中与美国总统拜登通了电话，向他介绍了以色列已经采取和打算采取的发展和行动。我感谢他对我们捍卫自己的权利给予美国的无保留支持。”以色列总理办公室发表的声明称，“总理向总统介绍了以色列的最新发展和已经采取的行动以及以色列打算采取的行动。”声明说，“内塔尼亚胡总理感谢拜登总统，感谢美国对以色列自卫权的明确支持。内塔尼亚胡总理强调，以色列正在尽一切努力避免伤害无关人员；证明这一点的是，以色列国防军正在打击恐怖主义目标的建筑物中疏散了无关人员。”</p><p>此外，拜登还与巴勒斯坦领导人阿巴斯通了电话，这是他自今年1月担任美国总统后二人的首次通电。白宫的声明说，“拜登总统今天与巴勒斯坦权力机构主席马阿巴斯通话，传达了美国对加强美巴伙伴关系的承诺。他们讨论了目前耶路撒冷和约旦河西岸的紧张局势，并表示他们共同希望耶路撒冷成为所有信仰和背景的人和平共处的地方”。声明称，“拜登总统向阿巴斯总统介绍了美国就当前冲突进行外交接触的最新情况，并强调哈马斯必须停止向以色列发射火箭弹。”</p><p>二人对包括儿童在内的无辜平民在持续不断的暴力中不幸丧生表示共同关切。声明说，“总统表示，他支持采取步骤，使巴勒斯坦人民能够享受他们应得的尊严、安全、自由和经济机会。在这方面，他强调美国最近决定恢复对巴勒斯坦人民的援助，包括为约旦河西岸和加沙的巴勒斯坦人提供经济和人道主义援助。总统还强调了他对通过谈判达成两国解决方案的坚定承诺，认为这是达成公正和持久解决以巴冲突的最佳途径。”</p><p>由于以色列和哈马斯在加沙地带的暴力冲突没有减弱的迹象，巴勒斯坦当局提供的最新数据显示，自周一以来，在对巴勒斯坦地区的轰炸中，造成145人死亡，包括41名儿童，1100人受伤。而哈马斯已向以色列发射了2300多枚火箭弹，造成以方10人死亡，包括一名儿童和一名士兵，并致使560多人受伤。</p>
                </div>
            
                                <br>
