---
layout: post
title: 特朗普主持以色列与阿联酋和巴林签署“和平协议”  并承诺沙特与其他国家也将加入 | 海湾阿拉伯国家 News | 半岛电视台
date: 2021-05-13 08:36:04.000000000 +08:00
link: http://chinese.aljazeera.net/news/2020/9/16/%e7%89%b9%e6%9c%97%e6%99%ae%e4%b8%bb%e6%8c%81%e4%bb%a5%e8%89%b2%e5%88%97%e4%b8%8e%e9%98%bf%e8%81%94%e9%85%8b%e5%92%8c%e5%b7%b4%e6%9e%97%e7%ad%be%e7%bd%b2%e5%92%8c%e5%b9%b3%e5%8d%8f%e8%ae%ae
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2020/09/sign-agreements.png?resize=570%2C380" srcSet="/wp-content/uploads/2020/09/sign-agreements.png?resize=120%2C80 120w, /wp-content/uploads/2020/09/sign-agreements.png?resize=270%2C180 270w, /wp-content/uploads/2020/09/sign-agreements.png?resize=375%2C250 375w, /wp-content/uploads/2020/09/sign-agreements.png?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><p>美国总统特朗普预期沙特将加入阿联酋和巴林的行列，“并在适当的时候”承认以色列。当地时间9月15日，在特朗普的主持下，阿联酋与巴林在白宫与以色列分别签署了“历史性”的和平协议。</p>
<p>特朗普宣布，还有其他“7或8个国家”可能与以色列签署类似协议，“包括大国在内”，他还指出，沙特也可能是这些国家之一。</p>
<p>特朗普向记者们表示，“我已经与沙特国王进行了交谈”，他们“将在适当的时候”加入。</p>
<p><img class="size-fantasia-770 wp-image-136568" src="https://chinese.aljazeera.net/wp-content/uploads/2020/09/pompeo.png?w=756&amp;resize=756%2C417" data-recalc-dims="1" /></p>
<h2>公平而全面的解决方案</h2>
<p>在这样的情况下，沙特内阁15日发表声明称，沙特支持巴勒斯坦人民，支持所有旨在为巴勒斯坦问题达成公正而全面的解决方案的努力。</p>
<p>这项声明指出，沙特内阁“指出了沙特对阿拉伯领土完整、统一与主权的重视与关注，不容地区稳定受到任何威胁，并且将坚定不移地支持巴勒斯坦人民”。</p>
<p>这项声明重申了沙特的承诺：“支持一切旨在公正、全面解决巴勒斯坦问题的努力，让巴勒斯坦人民能够根据国际合法性决议及《阿拉伯和平倡议》，在1967年边界的基础上建立以东耶路撒冷为首都的独立巴勒斯坦国”。</p>
<p>该委员会尚未对巴林、阿联酋与以色列之间签署关系正常化协议发表评论，也没有谈及美国方面关于与沙特讨论与以色列走向关系正常化的言论。</p>
<p>沙特外交大臣费萨尔8月19日在柏林与德国外交部长海科·马斯举行的新闻发布会上宣布，在根据2002年《阿拉伯和平倡议》以及联合国安理会有关决议所设定的标准，而达成全面的巴勒斯坦-以色列和平协议之前，沙特不会与以色列实现关系正常化。</p>
<p><img class="size-fantasia-770 wp-image-136574" src="https://chinese.aljazeera.net/wp-content/uploads/2020/09/kushner.png?w=760&amp;resize=760%2C422" data-recalc-dims="1" /></p>
<h2>互派大使</h2>
<p>白宫于15日举行了以色列与阿联酋、巴林之间关系正常化协议的签署仪式，美国总统特朗普承诺，该地区将有更多国家加入与以色列关系正常化的行列，而协议签署者认为，新的历史阶段已经开始。</p>
<p>出席这场签字仪式的包括美国总统特朗普、以色列总理内塔尼亚胡、阿联酋外交大臣阿卜杜拉·本·扎耶德，以及巴林外交大臣阿卜杜勒-拉蒂夫·扎耶尼。</p>
<p>在签字仪式开始时，特朗普表示，以色列、阿联酋与巴林将互派大使，并将以友好国家的身份进行合作。</p>
<p>特朗普补充说，这些协议将在友好和相互尊重的基础上，在该地区建立全面的和平，并将允许全球各地的穆斯林到阿克萨清真寺做礼拜。</p>
<p>特朗普补充道，“这些协议明确摆脱了过去的失败方式，而地区的其他国家也将加入这个行列。”</p>
<p><img class="size-fantasia-770 wp-image-136409" src="https://chinese.aljazeera.net/wp-content/uploads/2020/09/flags.jpg?w=770&amp;resize=770%2C433" data-recalc-dims="1" /></p>
<h2>改变整个中东</h2>
<p>阿联酋外交大臣阿卜杜拉表示，签订和平条约的目的是为维护该地区的稳定，他还认为，这项和平条约将更加有利于巴勒斯坦人民的立场。</p>
<p>阿卜杜拉补充称，除和平之外的选择都将意味着破坏、贫穷和人道主义灾难，而今天发生的事情将改变整个中东地区。</p>
<p>阿卜杜拉感谢以色列总理内塔尼亚“选择了和平”，他还指出，“如果没有美国总统的努力，这项倡议是不可能实现的”。</p>
<p>另一方面，内塔尼亚胡表示，“我们今天所目睹的和平，不仅是在领导人之间，而且在以色列、阿联酋和巴林的人民之间”，他还强调，这样的和平将继续下去，并且将永远结束阿以之间的冲突。</p>
<figure id="attachment_136551" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-136551" src="https://chinese.aljazeera.net/wp-content/uploads/2020/09/agreement-signing_ISRAEL-GULF-USA-2.jpg?w=770&amp;resize=770%2C513" data-recalc-dims="1" />协议签署的时刻 (路透社)</figure>
<h2>新的曙光</h2>
<p>内塔尼亚胡承诺，还将有其他的国家加入和平协议，他还认为，这一天是历史性的转变，预示着和平的新曙光。</p>
<p>内塔尼亚胡补充称，“我们向特朗普总统果敢的领导力深表感谢，他勇敢地与以色列站在一起。我感谢特朗普总统，感谢他与伊朗的对抗，以及他为美国、中东及全世界所付出的努力。”</p>
<p>内塔尼亚胡表示，“我一直在尽全力加强以色列的各项基础，以使之变得极为强大，因为力量才能带来和平。”</p>
<p>而巴林外交大臣阿卜杜勒-拉蒂夫·扎耶尼则表示，这一天对中东地区所有人民而言，都是一个历史性的时刻，和平协议是在通往永久和平的道路上迈出的历史性的一步。</p>
<p>扎耶尼认为，由于缺乏信任，中东地区的问题已经拖延了很长时间，而实际合作才是实现和平与维护权利的最佳途径。</p>
<p>扎耶尼感谢特朗普总统为“将和平变为现实”而付出的努力，他还补充称，“我们欢迎且赞赏以色列为实现和平而采取的措施”。</p>
<figure id="attachment_136556" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-136556" src="https://chinese.aljazeera.net/wp-content/uploads/2020/09/Netanyahu-and-Trump.jpg?w=770&amp;resize=770%2C513" data-recalc-dims="1" />内塔尼亚胡（左）在签署协议之前与特朗普举行会晤 (路透社)</figure>
<h2>大选前夕</h2>
<p>在签署上述协议之前，美国总统特朗普在白宫分别与巴林代表团、阿联酋代表团以及以色列代表团举行了会谈。</p>
<p>距此7周之后，美国总统大选即将举行，而特朗普希望在这届选举中赢得他的第二个总统任期。</p>
<p>据以色列广播公司报道，苏丹驻美国使馆临时代办前往白宫出席了签字仪式，而在此之前，阿曼曾宣布要派大使出席这场仪式。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台＋通讯社</div><br>
