---
layout: post
title: 星球中的一条龙 中国真得在寻求殖民太空吗？ | 中国 | 半岛电视台
date: 2021-05-10 19:06:04.000000000 +08:00
link: http://chinese.aljazeera.net/opinions/long-reads/2021/5/10/%e6%98%9f%e7%90%83%e4%b8%ad%e7%9a%84%e4%b8%80%e6%9d%a1%e9%be%99%e4%b8%ad%e5%9b%bd%e7%9c%9f%e5%be%97%e5%9c%a8%e5%af%bb%e6%b1%82%e6%ae%96%e6%b0%91%e5%a4%aa%e7%a9%ba%e5%90%97
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/التنين-بين-الكواكب-11.jpg?resize=570%2C380" srcSet="/wp-content/uploads/2021/05/التنين-بين-الكواكب-11.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/05/التنين-بين-الكواكب-11.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/05/التنين-بين-الكواكب-11.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/05/التنين-بين-الكواكب-11.jpg?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><p>中国长征五号B遥二火箭残骸可能会失控坠落，此前，长征五号B遥二火箭运载着中国新空间站“天宫”的部件进入太空，这引起了全世界对中国雄心勃勃的太空计划的关注。但事实是，这只是北京近年来采取的一系列步骤中的最新举措，以证明其在太空中的存在以及与美国的竞争能力，数十年来，华盛顿一直在太空领域处于绝对垄断地位。</p>
<p>2019年12月，中华人民共和国外交部新闻司副司长耿爽宣布，中国对美国政府最近决定建立“太空部队”表示不满，这是隶属于军队的一个军事机构，并表示，“这严重违反了关于和平利用外层空间的国际共识，从而可能破坏在这一问题上的战略平衡和全球稳定<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p>另一方面，美国政府以保护其在外层空间的利益为借口采取了这一措施，特别是在有消息称俄罗斯和中国政府拥有可以进入美国卫星战争工具之后，这威胁到美国地面公民的安全，例如，如果天气服务或GPS突然停止，会发生什么情况？</p>
<p>中国在2007年就已经使用过陆基导弹摧毁了自己已停用的卫星，这些技术主要基于从美国公司获得的信息来改进中国的卫星系统，然后被开发用于军事目的，这——从美国人角度——重申了1990年代出现的排斥政策重要性，该项政策禁止NASA所有研究人员与中国国家机构或实体有联系的中国公民共同工作或合作共处。</p>
<h3>后来者居上</h3>
<p>但是，以上只是在长达数十年冷战中的轻微火花，直到2020年7月22日，中国首次火星探测任务“天问一号”探测器成功在发射升空，同月，又有两个火星探测器升空，即阿联酋希望号火星探测器，这也是阿拉伯世界首个火星探测器，以及美国发射的“毅力号”火星探测器，其任务是寻找火星上的古代生命痕迹，但总是对美国任务大肆宣传，但目光还是不由自主地转向了“天文一号”。</p>
<figure id="attachment_191711" style="width:770px" class="wp-caption aligncenter"><img class="size-arc-image-770 wp-image-191711" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/القمر-الصناعي-الصيني-2020.jpg?w=770&amp;resize=770%2C513" data-recalc-dims="1" />中国长征五号B运载火箭发射升空（路透社）</figure>
<p>通常，前往火星的太空任务是分阶段进行的，首先是实验阶段，直到成功安装绕地球运行的卫星（轨道器）进行研究，并确定最佳的未来着陆点，然后再着手进行固定飞船的着陆工作，然后是运载火箭，但是中国——航天史上第一次——一次完成了这三个阶段，因此，中国的成功意味着访问火星方面的技术取得了巨大进步。</p>
<p>因此，“天文一号”被认为是火星上最繁忙的任务，因为它携带着13个科学装置，分别位于上方的卫星和下方的流动站之间，旨在对这个红色星球的气候、地质、环境和磁层进行全面研究，这可以帮助回答长期困扰该领域专家的问题：火星是否有一天可以像地球一样适宜居住？它发生了了什么？</p>
<h3>争夺月球资源</h3>
<p>中国会成功完成这项任务吗？是有可能完成的，中国此前取得的成功支持着这种可能性，例如，大约两年前，中国嫦娥四号飞船成功以史无前例方式降落在月球的另一侧，此前，有许多飞船抵达面对着我们的月球一面，而我们看不到的另一面，其数据则是通过绕轨道飞行的飞船数据收集而来。</p>
<p>这项中国任务旨在对月球背面地区进行准确的地质调查，还进行了生物学实验，研究了蚕、马铃薯和其他一些植物在月球背面如何生长和发育。毫无疑问，这次探索的主要目标之一是在太空科学领域，中国要展示自己的管理能力和成功完成技术上复杂运营的能力，这在太空科学领域是其他国家所无法企及的。</p>
<p>特别是，中国对月球感兴趣，想要了解其中的秘密，让我们考虑一下美国前总统唐纳德·特朗普的连续言论，即未来美国前往月球的飞行任务将不仅是出于探索目的，而是出于探究来源目的。当“巴斯·奥尔德林”—— 他是第二个降落在月球表面的人——到达月球时，他声称他所看到的是“奇妙的废墟”，这意味着他什么都没看见，一片绵延、贫瘠的土地，没有水、空气或任何值得一提的资源，但奥尔德林是错误的。</p>
<p>例如，除了月球表面的矿物质盐之外，那里还包含大量的氧气、硅和冰水，而且有可能从月球中提取氦的一种同位素（氦-3），地球仅包含几公斤这种物质。至于月球的土壤，由于在数百万年时间里与阳光的直接相互作用，月球土壤中含有百万吨这种物质，氦-3可以帮助开发来自核反应的更安全、更广谱的廉价图像，从而节省大量能源。</p>
<p>不只是月球上含有有用物质，例如，火星中含有大量的水，至于相对靠近地球的小行星，它们中的许多可能含有大量的“铂金矿物质”，例如铂、钯、铱，并拥有大特别是钪、钇和镧系元素，几乎被用于从电池和电子产品到石油精炼和能源生产的所有领域。</p>
<p><img class="aligncenter size-arc-image-770 wp-image-191715" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/صورة-ميدان-2020-08-12T122847.361.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>但是，月球仍然是每个人都渴望参与其中的最近盛宴，无论如何，中国无意让美国在这场战斗中赢得最大份额，因此，中国将其探月工程命名为嫦娥工程，这是中国古代神话中的月亮女神名字，她吃下了长生不老药后升天，但是她抓住了月亮求生，并且不想再离开那里，但是她的爱人留在了地球上。</p>
<p>中国像神话一样一直在登月，自1999年以来，中国成功迅速朝着月球靠近，这始于“神舟”任务组，其目标是将宇航员运送至地球大气层以外。实际上，中国第一艘载人飞船“神舟五号”发射成功，之后又发射了一系列“神州”飞船，其中神舟四号”是该飞行任务的一部分，不久之后，中国为载人飞行几乎做好了准备，这样，中国将成为全世界将宇航员送至月球表面的第二个国家。</p>
<h3>最高军营与最低军营</h3>
<p>但是，中国不仅希望成功地与美利坚合众国竞争，以科学任务“占领”月球或任何行星，而且还希望获得其他一切。从更明确的意义上讲，中国渴望成为“各个方面的太空超级大国”，因此，中国的目标是拥有一个太空基础设施，使其未来有资格采取更稳定步骤来完全控制该领域。</p>
<p>要了解这些意图的深度，就请参考中国空间站，中国空间站仅在两年前才正式开始工作，并邀请全世界各国在中国空间站进行实验，到2019年，已经有大约17个国家在中国空间站进行了实验，至于值得思考的问题是，大约二十年前，中国已经要求加入国际空间站，但由于美国试图确保不会与中国人举行技术会议，这个要求遭到美国的反对，因此，避免了这种情况的发生，国际空间站将在2024年停运，届时，中国空间站将是在提供服务的唯一空间站。</p>
<p>此事延伸到与美国的地缘政治冲突的范围，例如，中国去年庆祝其完工的北斗卫星导航系统：在地球周围不同类型轨道上的35颗卫星（已宣称）准确就位，以在约2.6米的范围内确定地球的位置（根据某些推测，这个距离最准确可为10厘米），这使中国成为世界上第四个拥有此范围内全部技术的国家。</p>
<p>这种先进的卫星系统具有若干基本功能，因为它提供与航天有关的研究服务以及诸如个人定位和运输服务（飞机和轮船）之类的民用服务，但是最重要的当然是军事服务，因为对于现代军队来说，主要的支持能力之一就是不断更新的全球导航系统，巴基斯坦是2019年将这一系统用于军事目的的第一个国家，这对美国构成了明显的政治威胁，因为它的敌人不一定是中国的敌人，事实上，美国的敌人通常都是中国的朋友。</p>
<h3>中国本身就像发射的火箭</h3>
<p>如果决定将中国或其他任何国家现在所取得的成就与美国在太空技术领域的成就进行比较的话，那么你无疑会注意到对美国人的支持有很大的不同，美国始于1950年代的基础设施仍然能够大力推动太空项目，并为其带来巨大的发展动力。但是问题在于，中国在太空项目方面的成就正在加速发展，这表明未来明显优于美国，为了理解这个想法，让我们审视一下中国发射火箭的次数。</p>
<p>为了使中国能够发射100枚火箭，从1970年第一颗中国卫星升起那一刻起，到2007年，中国用了37年的时间，但是要实现其他100枚火箭的发射，中国只需要7年半的时间，即从从2007年至2014年，在2019年初，中国将其第300枚火箭发射到太空，这意味着只用了四年时间就发射了100枚火箭，这是一个巨大的进步！</p>
<p>因此，仅对未来五年的太空项目进行简单的概述，就可以使我们清楚地了解中国的明显优势，中国最近已经实现了最大数量的太空发射（中国发射了39项，而美国为31项），据信，到2025年，中国可能是世界上第一个开始在月球表面上建立研究站的国家。</p>
<p>当然，这是一个明确的政治信息，这与美国人在冷战中向苏联发送的信息相同，而后者在为发展太空而开发火箭方面显然领先于美国，而美国——在大约十年中——以“后来者居上”的方式赶超苏联，并且实现了这一领域的空前发展，不仅是进入太空的第一个国家，而且也是将人类送至月球的第一个国家。</p>
<p>中国现在正试图对美国发挥同样的作用，美国在这场竞赛中面临两个大问题，第一个是劳动力市场的激烈竞争。例如，中国自豪地指出，建设私人空间站的成本仅为50亿美元，而国际空间站的成本为1000亿美元，当然，虽然这两个空间站之间存在差异，但这使中国有更多能力为世界各地的太空技术客户提供更便宜的报价。</p>
<p>例如，中国政府希望将中国北斗卫星导航系统市场价值提高到465亿美元，并且为了吸引客户进入其太空市场，其提供了中国创新和制造的火箭系统。根据美国国防情报局的一份报告称，中国设计的产品具有非常灵活的通用承载能力，因此，可以以各种可能的方式为客户提供服务，而且，中国最近对其火箭系统进行的改进明显缩短了发射时间表，提高了安全性和效率，并大大降低了飞行成本。</p>
<p>另一个最重要的问题与中国政治管理部门与中国航天项目管理部门之间的相互依存和和谐程度有关，这不仅与出于政治和经济目的而在该项目上的大量公开支出有关，而且双方之间也有这种清晰一致的愿景，这有利于决策，并确保了太空领域工作人员的安全和控制，除此之外，中国的太空计划是民族自豪感的源泉，得到了所有人的全力支持，这与美国政府在这方面的混乱状态有所不同。</p>
<h3>征服太空的新英雄</h3>
<p>从尼尔·阿姆斯特朗站到月球表面那一刻开始，他说，这是一个人的一步，但对全人类来说却是一大步，美国宣布完全控制太空科学以及所有科学的范围，我们可以看到，这种现象的根源可以追溯到1950年代，当时美国总统哈里·杜鲁门在签署成立国家科学基金会的法案时说：“我们已经意识到，我们生存和成长的能力与我们对科学进步的依赖程度息息相关。”他并补充道：“此外，在科学问题上仅与世界其他地区保持同步是远远不够的，我们必须在这一领域保持我们在世界上的领导地位<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p>现在，让我们将此声明与中国国家主席习近平在2017年10月中共会议上发表的最后一份声明进行比较。在那次讲话中，中国国家主席习近平解释了中国的下一个计划分为两个基本阶段，即2022年至2050年，包括大力推动中国成为“科学技术领域，特别是太空科学和数字技术领域的大国”，他并解释说，中国正在奉行以研究创新为驱动力的发展战略，力图从互联网、大数据和人工智能中获得最大收益。</p>
<p>就在几年前，中国完成了有史以来最大的射电望远镜，直径为500米口径球面射电望远镜（FAST）——“中国天眼”，超过了美国的射电望远镜阿雷西博（Arecibo），在“中国天眼”出现之前，阿雷西博是世界上最大的射电望远镜，中国人希望“中国天眼”能够实现人类更大的目标，即从位于广阔空间中数十亿亿公里之外的智能文明中捕获信息。</p>
<p>这意味着一条新的全球信息。例如，在所有国际上流行的外星人电影中，美国人是第一个接收遥远文明信号的人，也是使用保护整个世界免遭迫在眉睫的危险的英雄来处理这一问题的第一人，无论这位英雄本人是美国总统本人——正如1996年影片《独立日》所渲染的一样，还是在“美国队长”领导的“复仇者联盟”电影中的任何超自然生物，都以真正的美国科学为基础力量。</p>
<p>但是我们现在知道，中国有一个望远镜，还有一整套非常先进的太空技术，它可以比美国先行。这极大地影响了遍及世界所有国家的美国霸权软弱的信息，取而代之的新说法是，新的超级英雄是长着小眼睛、讲汉语的中国人，他身穿红色衣服，我们也许有一天可以称他为“中国队长” 。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台</div>
