---
layout: post
title: 新冠疫情 辉瑞疫苗对肥胖人群可能无效 | 世界 | 半岛电视台
date: 2021-05-14 19:06:04.000000000 +08:00
link: http://chinese.aljazeera.net/medicine/2021/3/3/%e6%96%b0%e5%86%a0%e7%96%ab%e6%83%85%e8%be%89%e7%91%9e%e7%96%ab%e8%8b%97%e5%af%b9%e8%82%a5%e8%83%96%e4%ba%ba%e7%be%a4%e5%8f%af%e8%83%bd%e6%97%a0%e6%95%88
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/Snipaste_2021-03-03_21-47-30.png?resize=770%2C513" srcSet="/wp-content/uploads/2021/03/Snipaste_2021-03-03_21-47-30.png?resize=120%2C80 120w, /wp-content/uploads/2021/03/Snipaste_2021-03-03_21-47-30.png?resize=270%2C180 270w, /wp-content/uploads/2021/03/Snipaste_2021-03-03_21-47-30.png?resize=375%2C250 375w, /wp-content/uploads/2021/03/Snipaste_2021-03-03_21-47-30.png?resize=570%2C380 570w, /wp-content/uploads/2021/03/Snipaste_2021-03-03_21-47-30.png?resize=770%2C513 770w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, (max-width: 770px) 770px, 770px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><p>意大利研究人员发现，与身体健康的人相比，肥胖人群接种第二剂新冠疫苗产生的抗体，约为健康人群产生抗体的一半。</p>
<p>作家琳达·格德斯（Linda Geddes）在英国《卫报》上发表的一份报告中表示，数据表明，“辉瑞-BioNTech”疫苗在肥胖症患者中的功效可能较弱，这项研究是由研究员Aldo Vinot及其同事进行的。</p>
<p>尽管现在就知道这与疫苗有效性之间的关系还为时过早，但这可能意味着，肥胖者需要额外的加强剂量以确保对新冠病毒具有足够的免疫作用。</p>
<p>实际上，以前的研究表明，肥胖人群感染新冠病毒的死亡风险增加了近50％，而入院风险增加了一倍，达到113％。</p>
<p>作者指出，这可能归因于以下事实：肥胖的人经常患有其他基本疾病，例如心脏病或2型糖尿病，这些疾病会增加感染新冠病毒的风险，而且体内过多的脂肪还会影响新陈代谢，例如胰岛素的抵抗能力或有炎症，这使人体难以抵抗感染。</p>
<p>这种慢性的、低度炎症性疾病也会损害一些免疫反应，包括由B细胞和T细胞释放的那些免疫反应，而这些免疫反应在疫苗接种后导致保护性反应。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-176457" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/Snipaste_2021-03-03_21-47-56.png?w=770&amp;resize=770%2C399" data-recalc-dims="1" /></p>
<p>研究人员Aldo Vinot及其同事在为248名医护人员接种了两剂“辉瑞-BioNTech”疫苗后评估了抗体反应。</p>
<p>接受第二剂疫苗7天后，其中99.5％的人对抗体产生了反应，该反应大于新冠肺炎治愈者所记录的反应。但是，超重和肥胖人群的反应较差。</p>
<p>研究人员Aldo Vinot及其同事写道，“由于肥胖是新冠肺炎患者发病和死亡的主要危险因素，因此，应该为肥胖人群制定有效的疫苗接种计划。”</p>
<p>尽管需要进行更多的研究，但这些数据可能对开发新冠疫苗接种策略具有重要意义，特别是对于肥胖人群更具有重要意义。</p>
<p>如果这些数据得到其他深入研究的证实，则给肥胖者接种额外剂量的疫苗或更高剂量的疫苗，这可能是应该评估以赋予肥胖人群免疫力选项之一。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->英国《卫报》</div><br>
