---
layout: post
title: 洪都拉斯拟向北京获取疫苗 美国指责利用疫苗追求政治目的
date: 2021-05-14 05:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210513-%E6%B4%AA%E9%83%BD%E6%8B%89%E6%96%AF%E6%8B%9F%E5%90%91%E5%8C%97%E4%BA%AC%E8%8E%B7%E5%8F%96%E7%96%AB%E8%8B%97-%E7%BE%8E%E5%9B%BD%E6%8C%87%E8%B4%A3%E5%88%A9%E7%94%A8%E7%96%AB%E8%8B%97%E8%BF%BD%E6%B1%82%E6%94%BF%E6%B2%BB%E7%9B%AE%E7%9A%84
categories: rfi
---

<div>13/05/2021 - 23:28</div><img src="https://s.rfi.fr/media/display/2bddfe06-b432-11eb-8704-005056bf87d6/w:310/p:16x9/2021-05-12T233224Z_1894710089_RC2NEN9L5760_RTRMADP_3_HEALTH-CORONAVIRUS-BRAZIL.JPG"><div class="t-content__body u-clearfix" >
                    <p>中央社报道，拉丁美洲数个国家都拿到中国制COVID-19疫苗，但洪都拉斯与危地马拉等台湾友邦并未获得中国疫苗。</p><p>洪都拉斯总统叶南德兹日前表示，洪都拉斯可能以设立商务办事处来获取疫苗。台湾外交部说，这清楚证明继巴拉圭疫苗危机之后，中国政府再度利用疫苗，作为逼迫急需疫苗国家进行政治及外交条件利益的交换，台湾外交部对"罔顾各国人道需求的可耻作为予以严厉谴责"。</p><p>报道称，美国国务院发言人被问及洪都拉斯的状况时告诉路透社："我们谴责利用可供救命的医疗援助，来推动某些捐助国狭隘政治议程的利己行为。"但他没有直接点名中国。</p><p>美国国务院发言人还说，台湾与洪都拉斯等国的关系，强化了民主价值、支持可持续发展；美国在洪都拉斯面临疫情考验的时刻，与洪都拉斯站在同一阵线。</p><p>路透社报导，中国、俄罗斯、美国都试图透过"疫苗外交"，在全球各地深化关系，以及推动自身的地缘政治影响力。</p><p>中国政府已输出数以百万计的COVID-19新冠疫苗，对象主要是发展中国家。但中国多次否认借此获取外交利益。</p>
                </div>
            
                                <br>
