---
layout: post
title: 阿富汗开斋节 3天停火协议生效
date: 2021-05-13 22:45:08.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210513-%E9%98%BF%E5%AF%8C%E6%B1%97%E5%BC%80%E6%96%8B%E8%8A%82-3%E5%A4%A9%E5%81%9C%E7%81%AB%E5%8D%8F%E8%AE%AE%E7%94%9F%E6%95%88
categories: rfi
---

<div>13/05/2021 - 16:43</div><img src="https://s.rfi.fr/media/display/7845995e-b372-11eb-b784-005056a964fe/w:310/p:16x9/1a99da1f0cb5bcff54880b3d0ef06cf4ac55098c.jpg"><div class="t-content__body u-clearfix" >
                    <p>由叛乱分子提出，并被阿什拉夫-加尼总统接受的这个休战协议，是在开斋节之前达成的。开斋节是穆斯林节日，标志着斋月的结束。</p><p>据法新社报道，自5月1日美国本应撤出其2500名剩余部队以来，阿富汗的暴力事件急剧增加。这是近20年冲突中的第四次休战。</p><p><strong>3天不打仗</strong></p><p>今天周四凌晨，开斋节假期开始之际，男人们、女人们和儿童们，纷纷前往清真寺或大片土地进行祈祷。开斋节假期将在周六结束。</p><p>当局在喀布尔的几座主要清真寺部署了安全部队。日出后不久便有人到清真寺祈祷，保安人员对进入清真寺的人进行安全检查。</p><p>随后，许多首都居民前往该市的动物园和公园，与家人一起享受这个节日。一位名叫米拉尤丁的人率领他的5个孩子参观了喀布尔动物园。孩子们都为此身着新衣。他说："我今天感到非常放松和平静，因为今天是开斋节，没有战斗。"  </p><p><strong>兄弟相残</strong></p><p>另一位喀布尔居民穆罕默德-萨迪克表示，美国人正在离开，以后不再有圣战了，战斗将不再是合理的了。他还说，现在是兄弟相残，因为塔利班和保安部队都是阿富汗人。</p><p>阿富汗总统加尼在开斋节讲话中，敦促塔利班在国际部队撤离阿富汗后接受持久的停战。他说："我们不希望你们投降，但我们希望你们接受一个政治解决方案"。"战争不是一个解决方案"。</p><p><strong>塔利班回来了</strong></p><p>数以万计的阿富汗人在冲突中被杀害或逃离家园。这些冲突的特点是塔利班的卷土重来，他们重新占领了该国的许多地方。</p><p>叛乱分子和阿富汗政府在9月开始了和平谈判，但谈判停滞不前。</p><p>在过去，停火协议在很大程度上被遵守，人们普遍认为，这是塔利班领导层显示其对活跃在该国的多个派别拥有掌控力的一种方式。</p><p><strong>掌控战争与和平</strong></p><p>驻喀布尔的阿富汗政治分析家法瓦德-科查伊（Fawad Kochai）称，"他（叛乱分子领导人希巴图拉-阿洪扎达）打算证明自己是掌控战争与和平的主人。</p><p>华盛顿和北约已承诺在9月11日，即2001年9.11恐怖袭击事件20周年之前，从阿富汗撤出其所有剩余部队。</p><p>很少有人相信，如果没有美国空军和特种部队的保护，阿富汗部队能够应对塔利班的攻击。最近几周，一些省份的战斗已经加剧，周二，塔利班夺取了喀布尔郊区一个政府控制的地区。</p><p>塔利班战士越来越多地包围主要城市中心，这表明他们在等待美国人撤离，然后再对该国的城市发动重大攻势。</p>
                </div>
            
                                <br>
