---
layout: post
title: 诺富特之外宜兰又爆群聚台湾官方承认已进入小区感染
date: 2021-05-11 18:45:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B8%AF%E6%BE%B3%E5%8F%B0/20210511-%E8%AF%BA%E5%AF%8C%E7%89%B9%E4%B9%8B%E5%A4%96%E5%AE%9C%E5%85%B0%E5%8F%88%E7%88%86%E7%BE%A4%E8%81%9A%E5%8F%B0%E6%B9%BE%E5%AE%98%E6%96%B9%E6%89%BF%E8%AE%A4%E5%B7%B2%E8%BF%9B%E5%85%A5%E5%B0%8F%E5%8C%BA%E6%84%9F%E6%9F%93
categories: rfi
---

<div>11/05/2021 - 12:29</div><img src="https://s.rfi.fr/media/display/7c95205e-b243-11eb-902d-005056a964fe/w:310/p:16x9/20210510000030M.jpg"><div class="t-content__body u-clearfix" >
                    <p>华航诺富特饭店案是在4月20日爆发，从初期两位机师的感染逐渐扩大，现在已有13位机师，1位空服员确诊；诺富特饭店则有6名员工及1位外包商确诊；另外还连带发生8个家庭，共14位家人的群聚感染。但到现在还找不出感染源，难以防堵，台湾官方已无法顾及华航的正常经营，大范围匡列机师及空服员，希望能把确诊者不断增加的速度压低下来。</p><p>之前，指挥中心曾说，机师返台后，如果比照一般人员居家隔离14天，华航恐怕会倒闭，因此只把3天的居家检疫延长为5天，另要求在14天内，必须检验5次。但机师仍不断爆出确诊，因此现在「清零计划2.0」最新的规定是，前舱机组员，也就是机师，全部陆续召回检疫14天；后舱组员，也就是空服员，只要曾派飞长程航班，或有接触「风险组」机组员的，也要检疫14天。而且必须在入境后，全部送到官方设置的集中检疫所，确实执行。隔离14天后并采检阴性，才能出关，回到工作岗位。</p><p>诺富特饭店是过境旅馆，位于桃园机场，由华航100%投资，之前部分申请作为防疫旅馆，供华航机师返台后隔离检疫之用。官方分析，机师可能在国外被感染后返台，住进诺富特饭店后，引发一连串的群聚感染。由于发现的时间较晚，加上机师只隔离3天就恢复正常生活工作，因此又传染给同事。</p><p>另外，有关发生在宜兰县的另一起群聚感染，指挥中心今天说，今天新增7例本土确诊个案，创下今年以来本土单日最高纪录，其中只有1例与华航诺富特案有关，其他感染途径待厘清，包括宜兰「银河百家乐」游艺场的群聚感染，有5人确诊、还有在新北市新庄、芦洲一带活动的1名男子。官方都公布了足迹，到处风声鹤唳。</p><p>在华航诺富特案刚发生时，指挥官陈时中曾说，台湾处于「小区感染边缘」，今天他强调，华航诺富特案及宜兰游艺场群聚是两起事件，疫情「已经不是在边缘，现在已进入小区感染。」</p>
                </div>
            
                                <br>
