---
layout: post
title: 中美洲严重疫情触发两岸外交战 - 台北一周
date: 2021-05-14 18:15:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E5%8F%B0%E5%8C%97%E4%B8%80%E5%91%A8/20210514-%E4%B8%AD%E7%BE%8E%E6%B4%B2%E4%B8%A5%E9%87%8D%E7%96%AB%E6%83%85%E8%A7%A6%E5%8F%91%E4%B8%A4%E5%B2%B8%E5%A4%96%E4%BA%A4%E6%88%98
categories: rfi
---

<div>14/05/2021 - 11:48</div><img src="https://s.rfi.fr/media/display/47dd1242-4cad-11ea-9101-005056a917b9/w:310/p:16x9/2020-02-11t035943z_272818263_rc23ye9n0ih2_rtrmadp_3_china-health-philippines-taiwan.jpg"><div class="t-content__body u-clearfix" >
                    <p>全球疫情日趋严重，各国正积极施打疫苗，或绞尽脑汁设法取得疫苗。台湾在中美洲的邦交国宏都拉斯卫生部10日在推特上透露，将透过2018年与台湾断交的邻国萨尔瓦多，协助向中国购买新冠肺炎疫苗。</p><p>第二天，也就是5月11日，宏都拉斯总统叶南德兹也公开地说，为了取得新冠肺炎疫苗，宏都拉斯可能在中国大陆设立商务办事处，这段谈话立刻引起台湾高度关注。</p><p>大家都知道，宏都拉斯是台湾的友邦，长期也站在美国阵营，和中国大陆则没有外交关系，但叶南德兹在谈话中对富有国家囤积疫苗感到失望。他透露，宏都拉斯已经要求台湾说服美国分享疫苗，但只要能在疫情中帮助人民，他的政府愿意做任何事，而如果有需要，宏都拉斯将在中国大陆设立商务办事处，因为这符合宏都拉斯人民的最大利益。</p><p>目前许多拉丁美洲国家都接受中国大陆的疫苗，不过，几个跟台湾有邦交关系的国家还没有接受，包括宏都拉斯与危地马拉。</p><p>面对这个今的局势，台湾外交部发言人欧江安说，已经和宏都拉斯政府就疫苗等议题充分沟通，宏国外长罗萨雷斯向台湾重申台宏邦交稳固，但是宏国政府当务之急是透过多元管道取得所需疫苗，以保护宏国国民，并期盼台湾能继续协助宏国取得疫苗。</p><p>台湾则承诺，将尽力透过各方管道，包括结合理念相近国家，设法纾缓宏都拉斯所面临的公卫危机处境。</p><p>至于叶南德兹说愿意在中国大陆设置「商务办事处」的说法，台湾外交部则炮轰中国说，这清楚证明，继巴拉圭疫苗危机之后，中国政府再度利用疫苗，作为逼迫需求孔急的国家进行政治及外交条件利益的交换，是罔顾各国人道需求的可耻作为，台湾外交部给予严厉谴责。</p><p>另外，台湾外交部长吴钊燮这几天也跟友邦危地马拉外交部长布罗洛透过视讯联系，双方针对危地马拉的疫情，及中美洲区域情势交换意见，吴钊燮说，身为危地马拉坚实友邦，台湾正透过各方管道并结合理念相近国家，设法协助瓜国取得疫苗。听得出来，这也是台湾在疫情冲击下，巩固邦交的行动之一。</p><p>由于宏都拉斯透露，也透过台湾向美国寻求购买疫苗，台湾媒体询问美国国务院是否会和台湾合作，解决宏都拉斯疫苗问题。国务院发言人以背景响应表示，宏都拉斯历经疫情、飓风侵袭，造成经济萎缩、失业率增高、粮食不足，美国会给予支持。至于疫苗方面，美国只简单地说，拜登总统宣布花40亿美金支持COVAX国际疫苗平台，会让全球取得安全、有效的疫苗。</p><p>针对这个因疫情牵动两岸外交竞逐的事件，中国国台办发言人朱凤莲说，一个中国原则是国际关系准则，和国际社会的普遍共识，希望有关国家，能够按照一个中国原则，妥善处里涉台问题。</p><p>她还说，中国努力提高疫苗在发展中国家的可及性与可负担性，且中国研发的疫苗，已获得世界卫生组织紧急使用权，纳入全球紧急使用清单，是世卫认证的安全疫苗。</p><p>中国外交部发言人华春莹则说，有关的合作光明磊落、坦坦荡荡，得到包括中美洲国家在内的国际社会的普遍欢迎，也发挥积极的示范效应。</p><p>台湾媒体分析指出，台湾在拉丁美洲几个友邦因疫苗短缺、疫情严峻，导致社会动荡，中国大陆趁机介入。面对中国力推「疫苗外交」，台湾外交部除了告诉国人双方「邦谊稳固」之外，也该认清国际政治的现实，能够提供实质帮助的，才是赢家。</p><p>据了解，中国大陆大打「建交换疫苗」攻势，连美国研究拉丁美洲的单位都提出示警，指一股在台湾和中国之间「选边站」的讨论，正在台湾的拉美友邦发酵。</p><p>目前的局势是，全球疫苗分配数量不均，各国只能各凭本事，这是极其残酷的国际现实。拉美国家疫情严重，获得数量又不足，人民上街激烈抗议，要求执政者下台负责，对人民来说，现在是生死存亡的时刻；对执政者来说，地位和权力很有可能随时不保。这些，都远比「邦交」更为迫在眉睫。</p><p>有关疫苗的国际采购，台湾目前自身难保，唯一可以期待的是，台湾自行研究开发的两款疫苗是否能够尽速通过实验，如期上市，如果迟迟等不到的话，不但台湾日益趋紧的疫情令人忧心，就连外交战场恐怕都会面临洗牌。</p>
                </div>
            
                                <br>
