---
layout: post
title: 加沙发射1800多枚火箭弹 90%被以色列拦截
date: 2021-05-14 23:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E4%B8%9C/20210514-%E5%8A%A0%E6%B2%99%E5%8F%91%E5%B0%841800%E5%A4%9A%E6%9E%9A%E7%81%AB%E7%AE%AD%E5%BC%B9-90-%E8%A2%AB%E4%BB%A5%E8%89%B2%E5%88%97%E6%8B%A6%E6%88%AA
categories: rfi
---

<div>14/05/2021 - 17:21</div><img src="https://s.rfi.fr/media/display/ce93fff2-10b3-11ea-9726-005056bf7c53/w:310/p:16x9/dome_de_fer_israel_roquettes_gaza_0.jpg"><div class="t-content__body u-clearfix" >
                    <p>据法新社5月14日发自加沙的报道，以色列的“铁穹顶”反导系统已拦截90%从加沙发射的火箭弹。</p><p>据5月14日早晨的统计，哈马斯与其他伊斯兰武装，自本周一以来，向以色列各地发射了大约1800枚火箭弹，其中90%被拦截，在空中爆炸，余下10%未被拦截的火箭弹，对以色列具有杀伤力，造成8人死亡，数百人受伤。</p><p>而在加沙地带，已有120多人在以色列和哈马斯等伊斯兰组织的军事升级中丧生，尽管当地拥有复杂的地道系统，尽管以军称其打击目标是哈马斯战斗人员和领导人。</p><p>这场致命的军事升级将持续多久？也许取决于战斗双方武器库的存量。特别是加沙地带，已被以色列围得铁桶一般，而且加沙通往西奈半岛的地道，据埃及人说，都被埃及军方破坏掉了（因哈马斯袭击外国游客，破坏埃及经济），所以哈马斯和其他伊斯兰武装手中的火箭弹还有多少，应该是这场冲突持续多久的一个重要参数。</p><p>对以色列而言，拦截火箭弹的反导飞弹，也是一笔非常昂贵的支出，需要省着用。否则持久战打下去，将难以为继。</p><p>特别是双方这场军事冲突伤害了许多平民的性命，令国际社会难以容忍。联合国安理会原定今天周五下午针对加沙危机召开的紧急会议被推迟到周日举行，届时将举行视频公开会议。</p><p>今天法国古典音乐新闻台邀请一名专家分析称，也许要等斋月和开斋节过后，哈马斯等伊斯兰武装会逐渐结束他们的“圣战”。也许美国政府也在等这个情况发生。</p>
                </div>
            
                                <br>
