---
layout: post
title: 港府冻黎智英至少3.5亿私产 评论指毁香港金融中心 变相取缔《苹果》 促制裁主事官员
date: 2021-05-15 18:15:08.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B8%AF%E6%BE%B3%E5%8F%B0/20210515-%E6%B8%AF%E5%BA%9C%E5%86%BB%E9%BB%8E%E6%99%BA%E8%8B%B1%E8%87%B3%E5%B0%913-5%E4%BA%BF%E7%A7%81%E4%BA%A7-%E8%AF%84%E8%AE%BA%E6%8C%87%E6%AF%81%E9%A6%99%E6%B8%AF%E9%87%91%E8%9E%8D%E4%B8%AD%E5%BF%83-%E5%8F%98%E7%9B%B8%E5%8F%96%E7%BC%94-%E8%8B%B9%E6%9E%9C-%E4%BF%83%E5%88%B6%E8%A3%81%E4%B8%BB%E4%BA%8B%E5%AE%98%E5%91%98
categories: rfi
---

<div>15/05/2021 - 11:46</div><img src="https://s.rfi.fr/media/display/8bc84bfc-b507-11eb-9d35-005056a917b9/w:310/p:16x9/AP20347010817166.jpg"><div class="t-content__body u-clearfix" >
                    <p>英国早在2月已修订香港营商指引，因应国安法的实施和港府行动，首次删去香港「国际金融中心」的描述，亦不再直接描述香港享有高度自治。至于评论提及的特首林郑月娥和保安局长李家超，亦早美国财政部刑入制裁名单，但未被英国制裁。</p><p>本身是英国保守党人权委员会副主席的罗杰斯（Benedict Rogers）昨(14日)在「香港观察」网页上发出声明，指北京没有依循国安法订明的内的合法程序便轻而易举地冻结了黎智英的财产，既损害香港法治，亦摧毁了香港作为国际金融中心的地位。他续称，从今以后，谁也不会质疑自己会是下一个被当局以国安法为名而冻结在港资产的人。</p><p>他认为，国际社会应该以马格尼茨基人权问责法作出制裁，冻结推倒香港自治的主责官员的财产，祭出冻结令的香港保安局长李家超便是其中之一。</p><p>香港评论员黄世泽在社交媒体上发表相若的评论，虽然《苹果日报》声称冻结黎智英私产不影响该报运作，因为两者户口是独立的，但黄世泽认为，冻结黎的资产是变相取缔《苹果》。翻查公开资料，黎智英过往曾以私人财产补贴亏蚀的《苹果》。</p><p>黄形容，港府此举是对「香港致命一击」，未审未判便冻结资本主义市场最看重的私人财产，质问谁还敢来港投资，因为当局「话割韭菜就割韭菜」。「韭菜」近年在中国原指割之不尽的小股民，反复被大户在股价高位套牢而收割其钱财，后引伸为领导人夺取民企财产。</p><p>他续称，事件亦显示，香港已转向最坏方向，反映中国国家主席习近平只把香港视作中国内地一个城市来管理，不要再妄想实行资本主义的香港，可以有别于中国内地社会主义的「两制」。</p><p>港府昨晚公布，以国安法执行细则，冻结黎智英持有的壹传媒的股份，以及其拥有的三间公司于本地银行账户内的财产。公布只是说，保安局长「如有合理理由怀疑」相关财产「会被调离香港」，便可作出冻结指示。不过，港府的公告并没有解释当局是基于什么证据作出上述「合理理由怀疑」，亦没有具体点明冻结的公司名称。</p><p>根据股价计算，港府冻结了黎智英约值3.5亿港元(折合约共3710万欧元)的股票，以及三间公司的资产。</p>
                </div>
            
                                <br>
