---
layout: post
title: 美英欧多方谴责暴力升级 呼吁巴以立即缓和局势
date: 2021-05-11 10:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E4%B8%9C/20210511-%E7%BE%8E%E8%8B%B1%E6%AC%A7%E5%A4%9A%E6%96%B9%E8%B0%B4%E8%B4%A3%E6%9A%B4%E5%8A%9B%E5%8D%87%E7%BA%A7-%E5%91%BC%E5%90%81%E5%B7%B4%E4%BB%A5%E7%AB%8B%E5%8D%B3%E7%BC%93%E5%92%8C%E5%B1%80%E5%8A%BF
categories: rfi
---

<div>11/05/2021 - 04:13</div><img src="https://s.rfi.fr/media/display/c804dcb4-8cdc-11eb-896f-005056bf87d6/w:310/p:16x9/Capture-435.PNG"><div class="t-content__body u-clearfix" >
                    <p>布林肯在与约旦外交部长艾曼·萨法迪（Ayman Safadi ）会面前说，“我们非常关注以色列、约旦河西岸、加沙的局势，对我们现在看到的火箭弹袭击深表关切，它们需要立即停止”。萨法迪敦促美国在减少暴力方面发挥领导作用。布林肯还对在耶路撒冷阿克萨清真寺及其周围发生的暴力和挑衅行动表示关切。</p><p>欧盟在一份声明中补充说，“从加沙向以色列的平民人口发射火箭弹是完全不可接受的，并助长了升级的态势。”欧盟一直在加紧呼吁双方从暴力中退让。声明说，“在被占领的约旦河西岸，包括东耶路撒冷，以及在加沙和周围地区的暴力事件显著增加，需要立即停止”。博雷利发言人指出，“所有领导人都有责任对极端主义分子采取行动。圣地的现状必须得到充分尊重”。</p><p>欧盟说，“我们再次呼吁所有各方进行缓和努力。必须优先防止进一步的平民伤亡”。英国外交大臣拉布(Dominic Raab)通过推特称，“英国谴责向耶路撒冷和以色列境内各地发射火箭的行为。在耶路撒冷和加沙的持续暴力必须停止。我们需要所有各方立即缓和局势，并停止以平民人口为目标。”</p><p>据加沙当局介绍，至少有20人在空袭中死亡，包括9名儿童和一名哈马斯高级指挥官，另有65人受伤。以色列总理内塔尼亚胡（Benjamin Netanyahu）警告说，哈马斯将导弹射向耶路撒冷，已经越过了“红线”，以方将“以武力回应”。</p><p>内塔尼亚胡说，“我们不会容忍对我们的领土、我们的首都、我们的公民和我们的士兵的攻击。袭击我们的人将付出沉重的代价。”他与军队和以色列安全机构的负责人举行了会议。据以色列军方介绍，武装分子从加沙发射了150枚火箭弹，其中数十枚被“铁穹”防空系统拦截，没有伤亡报告。</p><p>以色列军方发言人康里库斯（Jonathan Conricus）说，“我们已经开始，我重复一遍，开始攻击加沙的军事目标。”他说，“我们已经为各种情况做了准备，包括高强度的情况......。哈马斯将得到这个信息。”以色列军方说，已经瞄准了加沙的“两个火箭发射器、两个军事哨所”、一条隧道和八名哈马斯特工人员。</p><p>此前，加沙执政的伊斯兰组织哈马斯发出了最后通牒，要求以色列在伊斯兰教第三大圣地阿克萨清真寺的军警撤退。上周日当天，巴勒斯坦人和以色列警方在东耶路撒冷部分地区再次发生冲突，冲突的导火线是以色列计划把一些巴勒斯坦家庭逐出东耶路撒冷的希克加拉区。该地区在1969年六日战争中被以色列占领。周一，以色列警察和巴勒斯坦人在阿克萨清真寺周围再次爆发冲突，致使300多人受伤。</p>
                </div>
            
                                <br>
