---
layout: post
title: 美油管遭骇客攻击停摆      民众忧汽油短缺纷纷抢购
date: 2021-05-12 05:15:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E6%B4%B2/20210511-%E7%BE%8E%E6%B2%B9%E7%AE%A1%E9%81%AD%E9%AA%87%E5%AE%A2%E6%94%BB%E5%87%BB%E5%81%9C%E6%91%86-%E6%B0%91%E4%BC%97%E5%BF%A7%E6%B1%BD%E6%B2%B9%E7%9F%AD%E7%BC%BA%E7%BA%B7%E7%BA%B7%E6%8A%A2%E8%B4%AD
categories: rfi
---

<div>11/05/2021 - 22:22</div><img src="https://s.rfi.fr/media/display/a675ce84-b296-11eb-875e-005056a9b1a7/w:310/p:16x9/colonial-pipeline-usa-le-gouvernement-aide-le-principal-exploitant-d-oleoducs-apres-une-cyberattaque.png"><div class="t-content__body u-clearfix" >
                    <p>美国最大燃油管线营运业者“殖民管线”（Colonial Pipeline）遭骇客攻击，关闭整个网络。不过业界专家表示，任何短缺都只是暂时性的。</p><p> </p><p>美国环境保护署（EPA）11日宣布，暂时中止一周干净燃料规定，以缓解供应问题。</p><p> </p><p>环境保护署长黎根（Michael Regan）在致马里兰州、宾州和维吉尼亚州州长和华盛顿市市长的信函中说，这项措施意在“因应殖民管线遭骇客攻击，导致整个网络关闭所引发的燃料供应紧急状况”。</p><p> </p><p>黎根说，环境保护署和能源部“一直在积极监督燃料供应”，发现“不寻常的管路关闭已影响汽油供应”。</p><p> </p><p>殖民管线表示，希望能在周末前恢复系统运作。不过外界担心供应短缺引发汽油价格飙涨。</p>
                </div>
            
                                <br>
