---
layout: post
title: 巴以暴力升级以来的第一次：三枚火箭弹被从叙利亚发射到以色列
date: 2021-05-15 08:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E4%B8%9C/20210514-%E5%B7%B4%E4%BB%A5%E6%9A%B4%E5%8A%9B%E5%8D%87%E7%BA%A7%E4%BB%A5%E6%9D%A5%E7%9A%84%E7%AC%AC%E4%B8%80%E6%AC%A1-%E4%B8%89%E6%9E%9A%E7%81%AB%E7%AE%AD%E5%BC%B9%E8%A2%AB%E4%BB%8E%E5%8F%99%E5%88%A9%E4%BA%9A%E5%8F%91%E5%B0%84%E5%88%B0%E4%BB%A5%E8%89%B2%E5%88%97
categories: rfi
---

<div>14/05/2021 - 23:48</div><img src="https://s.rfi.fr/media/display/1c890092-b4e9-11eb-90af-005056bff430/w:310/p:16x9/AP21134670000990.jpg"><div class="t-content__body u-clearfix" >
                    <p>以色列军方表示，一枚火箭弹落在了叙利亚的境内，另外两枚火箭弹则击中了以色列北部的无人居住的地区。</p><p>根据叙利亚人权观察组织，在与以色列占领的戈兰高地接壤的叙利亚的库奈特拉附近（Qouneïtra），听到了“三声爆炸”。</p><p>但是，叙利亚人权观察组织不能断定，是来自以色列方面的射击呢还是叙利亚军队与反对派武装团体之间的零星战斗所造成的。</p><p>当天早些时候，在以色列和黎巴嫩的边界一侧，以色列士兵向黎巴嫩示威者开了枪，这些示威者曾短暂地闯入了篱笆的以色列一侧。</p><p>黎巴嫩什叶派运动以及黎巴嫩国家新闻社说，真主党的一名成员星期五因被以色列的发射击中受伤而丧生。</p><p>根据以色列军方周五的一份报告，自周一以来，大约有2千枚火箭弹被从哈马斯控制的加沙地带发射到以色列，其中的90％被“铁穹”反导系统所拦截。</p>
                </div>
            
                                <br>
