---
layout: post
title: 成千上万的游客前往红色“圣地”延安朝圣，提前庆祝中共成立一百周年
date: 2021-05-11 06:45:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210510-%E6%88%90%E5%8D%83%E4%B8%8A%E4%B8%87%E7%9A%84%E6%B8%B8%E5%AE%A2%E5%89%8D%E5%BE%80%E7%BA%A2%E8%89%B2-%E5%9C%A3%E5%9C%B0-%E5%BB%B6%E5%AE%89%E6%9C%9D%E5%9C%A3%EF%BC%8C%E6%8F%90%E5%89%8D%E5%BA%86%E7%A5%9D%E4%B8%AD%E5%85%B1%E6%88%90%E7%AB%8B%E4%B8%80%E7%99%BE%E5%91%A8%E5%B9%B4
categories: rfi
---

<div>11/05/2021 - 00:29</div><img src="https://s.rfi.fr/media/display/bb7723c6-0eb1-11ea-b571-005056bfe576/w:310/p:16x9/maozedong_0.jpg"><div class="t-content__body u-clearfix" >
                    <p>报道指出，习近平政权将在7月1日庆祝中国共产党成立100周年，届时将借助媒体和电影院进行大肆宣传。</p><p>但是在延安，是成群的游客来到延安参观被正规军追捕的红军在1935年经过数千公里的长征之后避难的地方。</p><p>法新社写道，正是在延安，毛泽东领导了与国民党的战斗，然后在1949年上台执政。在延安这个中国北方的干旱荒凉的地方，革命领袖们居住在山洞中。现在这些山洞对游人开放。</p><p>在毛泽东曾经居住过的山洞中，一位游客在前中国领导人毛泽东的床上坐下来拍照，另一位游客则在欣赏毛泽东和其第四任妻子江青的照片。</p><p>但是，中共的过分行为及其数千万受难者都没有出现在参观的路线上，参观者中也没人提及。</p><p>从河北和同事一起来的一家科技公司的员工张振兴（音）说，“中国共产党在延安期间经历了最艰难的时期，”</p><p>张振兴补充说，革命者在“极端困难的条件下”建立了中华人民共和国。他说“我发自内心地佩服他们。”</p><p>法新社的报道还指出，受到当局邀请的包括法新社在内的外国媒体，除了参观，还听了一个报告，介绍中共政权在当地所取得的基础设施成就，以及在消除贫困方面所取得的成就。</p><p>法新社的报道还表示，在延安见到的中共干部，呼吁外国记者要从埃德加·斯诺那里汲取灵感。埃德加·斯诺曾与毛泽东在延安呆了很长时间，然后写了《红星照耀中国》这本书。</p><p>根据新华社，中共现有9100万党员。中共非常关注自己的形象，并审查和他的叙述不相符合的历史事件，例如1989年对北京天安门广场民主运动的镇压。</p>
                </div>
            
                                <br>
