---
layout: post
title: 中国央行国际司司长朱隽 ： 要把握数字人民币的先发优势 - 今日经济
date: 2021-05-12 02:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E4%BB%8A%E6%97%A5%E7%BB%8F%E6%B5%8E/20210511-%E4%B8%AD%E5%9B%BD%E5%A4%AE%E8%A1%8C%E5%9B%BD%E9%99%85%E5%8F%B8%E5%8F%B8%E9%95%BF%E6%9C%B1%E9%9A%BD-%E8%A6%81%E6%8A%8A%E6%8F%A1%E6%95%B0%E5%AD%97%E4%BA%BA%E6%B0%91%E5%B8%81%E7%9A%84%E5%85%88%E5%8F%91%E4%BC%98%E5%8A%BF
categories: rfi
---

<div>11/05/2021 - 19:54</div><img src="https://s.rfi.fr/media/display/f753bd9c-61e4-11ea-a29d-005056bf87d6/w:310/p:16x9/WB149255-RFI-CN-20140608.png"><div class="t-content__body u-clearfix" >
                    <p>文章进一步指出，目前数字人民币重在提高国内零售支付的效率，尚无用于跨境支付方面的安排；但应看到，其他储备货币发行国如推出数字货币用于跨境支付可能强化对这些储备货币的需求，巩固甚至强化其国际地位，影响人民币国际化进程。</p><p>未来，一方面要稳妥有序地扩大数字人民币试点，不断优化和丰富数字人民币的功能，同时健全相关法律框架和制度安排，夯实基础；另一方面，要加强市场沟通，欧央行、瑞典央行等分别就央行数字货币发布报告、主动沟通，其做法值得借鉴。</p><p>同时，还要稳妥推动央行数字货币研发的国际合作，积极参与国际规则的讨论和研究，并密切跟踪央行数字货币的研发前沿。</p><p>另外，中国在移动支付领域的比较优势尤为突出，支付机构在境外展业过程中，提高了境外企业和居民对人民币的认知程度，一定程度上促进了人民币国际化。</p><p>下一步，应加强对支付机构的监管及国际监管协调，同时指导支付机构加强与国外监管当局沟通，更好地利用移动支付方面的优势推动人民币在跨境零售交易中的使用。</p><p>路透社报道，中国央行副行长李波此前在博鳌论坛上称，考虑在更多场景、更多城市来进行数字人民币试点，目前发展重点主要在于推进国内使用；人民币国际化应是自然而然的过程，目标绝不是要取代美元或其它国际货币，而是让市场来做出选择。</p><p>中国央行研究局局长王信4月初表示，央行数字货币研究所与香港金管局就数字人民币在内地和香港地区的跨境使用进行测试。</p><p>朱隽认为，新形势下人民币国际化需要进一步深化改革，需要进一步协同推进金融开放“三驾马车”，即金融服务业开放、资本项目可兑换、汇率市场化，在一些操作性问题上取得突破。</p><p>“继续稳妥有序地推进资本项目开放，要按照负面清单方式，在管道式开放的基础上进一步整合各类投资渠道，形成清晰、统一的开放框架。”文章指出，</p><p>同时，在合理把握资本项目开放“实需”原则的基础上，进一步发展衍生品市场。</p><p>目前，中国经济基本面稳健，汇率形成机制改革、利率市场化、金融市场开放等领域取得了重要进展，财政部门、金融部门和对外部门风险总体可控，“进一步提升汇率灵活性的条件已经具备。”</p><p>但是，还需要在两个方面破题：一是克服浮动恐惧，进一步完善外汇衍生品市场，满足市场主体风险管理和套期保值的需求；二是增强政策沟通和透明度。</p><p>另外，“一带一路”是扩大人民币跨境使用有望取得突破的重点领域；可以与中国签署本币结算协议的国家和地区为重点，协调降低部分国家使用人民币的政策障碍，鼓励离岸市场发展长期限的人民币衍生品，更好地满足“一带一路”项目的金融服务需求。</p>
                </div>
            
                                <br>
