---
layout: post
title: 中国人口减少冲撞习近平的中国梦
date: 2021-05-14 02:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210513-%E4%B8%AD%E5%9B%BD%E4%BA%BA%E5%8F%A3%E5%87%8F%E5%B0%91%E5%86%B2%E6%92%9E%E4%B9%A0%E8%BF%91%E5%B9%B3%E7%9A%84%E4%B8%AD%E5%9B%BD%E6%A2%A6
categories: rfi
---

<div>13/05/2021 - 20:14</div><img src="https://s.rfi.fr/media/display/37f54854-a7f6-11eb-8e38-005056a964fe/w:310/p:16x9/zgrkt.jpg"><div class="t-content__body u-clearfix" >
                    <p>不断宣扬其模式具优势性的中国共产党政权，是否能成功摆脱这个人口减缩的陷阱呢？布鲁耶特指出，可以肯定的是，目前外在的面子是保住了，因中国生计委肯定指出：去年中国人口继续增长，达到14.12亿居民人口（前年为14亿）；该部门延迟了一个月才公布这项人口结论，这也引发外界对这些数据真实性起疑窦。但是，与2010年相比，人口成长率增幅局限于5.4％，这是中国自1953年第一次进行人口普查以来至今的最低水平（本次是第二次人口普查）。更糟糕的是，这种下降缩减趋势可能从2022年就开始，共产党的每日喉舌报环球时报如此承认，而直至目前，北京预测的是在2027年达到高峰。 </p><p>这对于中国的环保人士来说也许将感到高兴：因为人口较少后，未来中国人就比较容易达到保护生态的目标。 </p><p>“中华民族的伟大复兴” 梦想 </p><p>中国并不是第一个遇到这种现象的国家：在亚洲，例如韩国和日本，他们早已意识到这一点。但具象征意义的是，在当前中国与美国的敌对不断加强中，并且希望自己成为一个世界领导者的此际，这些数字发出了负面信号。 </p><p> 中国现今出生率的寒冻及其人口老龄化的必然性，与这个主席习近平的民族主义讲话不太吻合；习近平承诺的是 “中华民族的伟大复兴”！而且这与中共政权铿锵有力提出的术语：“东方在崛起，西方在衰落”，也不搭配来啊！ 简而言之，这些人口统计数据并未能让人有：中国人充满了活力，而且对未来充满信心憧憬的印象。这些都并不像中共当局说的那样啊！ </p><p>鲁耶特还指出，对于中国而言，其国家人口众多是一个有分量的论据。 当它想向其经济伙伴（例如欧盟）施加压力时，它会毫不犹豫地强调其内部市场的巨大潜力，对于这些企业来说，这也就代表了非常诱人的良机。在面对亚洲它的最大敌对国、彼此关系极紧张的邻国的--印度时，中国也因自己是亚洲人口最多的国家而感到欣慰。，根据联合国预测，到了2030年，印度人口数有望超过中国人口。 </p><p>是，北京主要担忧的问题特别是在经济方面：中国人口的减少可能会挫败其能取代美国成为全球第一大经济强国的计划。 在过去的40年当中，中国的惊人崛起实际上很大程度是依赖着其庞大的低成本劳动力资源。可惜的是，中国的人口正在逐年萎缩。”根据《柳叶刀》杂志于2020年9月公布的一项研究，到2100年，中国人口将从目前的14亿减少到7.32亿，降低的幅度为48％。 </p><p>根据伦敦《 Capital Economics 》专业顾问事务所估计，到2030年，该数字可能每年下降0.5％，对GDP也会产生类似的影响。 ” 根据这家顾问事务所指出，但是，中国人口增长更加放缓将使其想达到在经济上能追赶美国的目标更加困难。 这将对中国的全球地位产生难以评估的影响。 </p><p>且有更甚者，对于在太平洋彼岸的美国，在这一议题范围的前景则反倒是有更加令人鼓舞的表现。 中国央行的研究人员在去年三月发表的一份工作文件显示出对联合国的预测表示担忧；根据联合国预测，至2050年，美国人口将比2019年增加15％，而同一时期，中国人口则将下降2.2％。 </p><p>吁启动一项鼓励生育政策  </p><p>但是，这种下降也可能起到一项刺痛作用。蒙田研究所亚洲顾问古德曼颇有涵义地指出， 这刺痛“中国不能无限期继续成为世界的工厂”。现在所有的问题在于，随着劳动人口资产的减少，中国是否仍然能够提高生产率并登上高端市场”， </p><p>在中国已宣布的解决方案中，已提出了计划延后退休年龄（现今的退休年龄为女性55岁、男性60岁），这是一个烫手的问题。这同时也必须处理整个社会人口老化造成的结果：2010至2020年之间，年龄层65岁以上的人口率，从8,87 %上升到13,5%这是一个真正的未爆弹，在很大程度上，这对中国力度还不足够的健康及退休制度构成一种威胁。 </p><p>一名专家在环球时报安抚人心地说，从今年秋季起，中国政府可能将撤销一对夫妇生孩子数目的限制；限行规定：一对夫妇可以生2个孩子。 几位中国专家恳求政府，除此之外，也应该启动一项真正的提高生育率政策。 中国广州学院人口发展部董宇正主任向一家中国报纸指出，如果再不采取任何措施，中国出生人口数甚至自明年起，就会低于数百万级以下的门槛。 </p><p>较倾向不信任外国的中国，也就不太可能采用大规模引进移民的做法。 那么，它在数字科技和人工智能领域上的惊人发展，是否能帮助它克服人口缩减带来的挑战呢？中国人民银行的研究人员在上述的报告中做出决定说：“教育及经济的进步都无法弥补人口下降的缺憾”。 </p><p>中国人口可能早就开始下降 </p><p>美国威斯康辛大学麦迪逊分校的人口学专家易富贤最终做出结论指出，其实 2018年，中国人口已开始下降，到了2020年，中国人口很可能未超过12.8亿。据他称，印度2019年的居民人口估计为13.8亿，且自2013年或2014年以来或已成为世界上人口最多的国家，将来也是。  </p><p>根据专家易富贤的说法，中共政权倒可因其人口老龄化而找到优势。因为如果15至29岁代表着经济水平上最有活力的群体，那么他们也是政治上最具激情的群体。 这名人口学专家强调指出，因为他们首先是经历过文化大革命，1990年，中国年轻人口数量达到顶峰，他们平均年龄为25岁，然后促成了民主运动在天安门广场的兴起。 </p>
                </div>
            
                                <br>
