---
layout: post
title: 成都死亡高中生母亲：“唯独事发那一段没有监控”
date: 2021-05-13 05:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210512-%E6%88%90%E9%83%BD%E6%AD%BB%E4%BA%A1%E9%AB%98%E4%B8%AD%E7%94%9F%E6%AF%8D%E4%BA%B2-%E5%94%AF%E7%8B%AC%E4%BA%8B%E5%8F%91%E9%82%A3%E4%B8%80%E6%AE%B5%E6%B2%A1%E6%9C%89%E7%9B%91%E6%8E%A7-1
categories: rfi
---

<div>12/05/2021 - 23:05</div><img src="https://s.rfi.fr/media/display/934f614c-b365-11eb-8c7f-005056a9b1a7/w:310/p:16x9/%E6%88%AA%E5%B1%8F2021-05-12%2023.01.07.png"><div class="t-content__body u-clearfix" >
                    <p>中国四川成都49林某某5月9日傍晚在学校死亡，但事发时段的监视录像看不见。这名学生的母亲说，学校没有向家人提供任何有关她儿子死亡悲剧发生的细节。而官方媒体发布的消息称，这名学生是自杀。</p><p>16岁林姓高中生的母亲鲁女士5月10日在微博中说，“今早去看了监控，唯独事发那一段没有监控，…” 她还说：“这种新闻我看了很多遍，却没曾想有一天会发生在自己身上。”</p><p>这位不幸的母亲说的情况，让人想起中国最高法院“千亿矿权案”卷宗失窃案，两台监视器同时坏掉；以及北京昌平居民雷洋被控嫖娼死于警方暴力时段监控录像不见的情况。</p><p>据多个社交网信息显示，出事的成都49中学的老师和同学们都拒绝作证。其中有匿名的学生透露，学校威胁他们，如果谁说了，将被开除，而且也不能进入其他学校，不得参加高考。</p><p>今天在推特上有人贴出一段视频显示，晚上在成都49中学大门口，许多人举着白玫瑰，集体呼喊着“真相，真相！”</p>
                </div>
            
                                <br>
