---
layout: post
title: 视频：冰岛火山爆发变成了岩浆的大型喷泉
date: 2021-05-12 02:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%AC%A7%E6%B4%B2/20210511-%E5%86%B0%E5%B2%9B-%E7%81%AB%E5%B1%B1%E7%88%86%E5%8F%91%E5%8F%98%E6%88%90%E4%BA%86%E5%B2%A9%E6%B5%86%E7%9A%84%E5%A4%A7%E5%9E%8B%E5%96%B7%E6%B3%89
categories: rfi
---

<div>11/05/2021 - 19:53</div><img src="https://s.rfi.fr/media/display/0505c520-8944-11eb-b777-005056a98db9/w:310/p:16x9/islande-eruption-volcan.jpg"><div class="t-content__body u-clearfix" >
                    <p> </p>    <div  data-wrapper-video-player data-show-hidden-video-player="WBMZ33092-RFI-CN-20210511">
        <div class="m-em-video">
                        <div data-hidden-video-player="WBMZ33092-RFI-CN-20210511" v-cloak>
                <div class="m-em-video__video-wrapper video-type-youtube">
                                    <youtube-player
    type="em"
    video-type="youtube"
    source="https://www.youtube.com/embed/fuEqcwVR1IY"
    video-id="fuEqcwVR1IY"
    locale="zh-CN"
            embed_config="{&quot;primaryThemeColor&quot;:&quot;#e2001a&quot;}"
        image="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/05fb9c58-8a38-11eb-b7cb-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;islande-volcan-eruption.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"    autoplay        >
</youtube-player>
                </div>
            </div>
                            
<figure class="m-figure m-figure--16x9">
    <div class="m-figure__img-wrapper">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="2021年3月20日星期六，冰岛西南部雷克雅那半岛的一座火山喷发。"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/05fb9c58-8a38-11eb-b7cb-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;islande-volcan-eruption.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;16x9&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/05fb9c58-8a38-11eb-b7cb-005056bf87d6/w:310/p:16x9/islande-volcan-eruption.jpg" alt="2021年3月20日星期六，冰岛西南部雷克雅那半岛的一座火山喷发。"
class="m-figure__img"/>
</noscript><button class="m-main-media-btn" aria-label="播放影片">
            <span class="m-main-media-btn__picto"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M30 0A30 30 0 1 1 0 30 30 30 0 0 1 30 0z" fill="#fff" opacity=".77"/><path d="M23.417 17.138v26.491l19.861-13.232z"/></svg>
</span>
</button>
    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >2021年3月20日星期六，冰岛西南部雷克雅那半岛的一座火山喷发。</span>                <span class="a-media-legend">AP - Marco Di Marco</span>            </figcaption>
            </figure>
                                </div>
    </div>
<p style="text-align:center"> </p>
                </div>
