---
layout: post
title: 调查：新冠期间德国近半亚裔受访者遭遇种族歧视
date: 2021-05-10 05:15:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%AC%A7%E6%B4%B2/20210509-%E8%B0%83%E6%9F%A5-%E6%96%B0%E5%86%A0%E6%9C%9F%E9%97%B4%E5%BE%B7%E5%9B%BD%E8%BF%91%E5%8D%8A%E4%BA%9A%E8%A3%94%E5%8F%97%E8%AE%BF%E8%80%85%E9%81%AD%E9%81%87%E7%A7%8D%E6%97%8F%E6%AD%A7%E8%A7%86
categories: rfi
---

<div>09/05/2021 - 22:51</div><img src="https://s.rfi.fr/media/display/3b109288-3757-11eb-aaba-005056bff430/w:310/p:16x9/2020-12-02T192349Z_899409056_RC27FK9PP6P0_RTRMADP_3_HEALTH-CORONAVIRUS-GERMANY-MERKEL.JPG"><div class="t-content__body u-clearfix" >
                    <p>2020年秋季，柏林自由大学、洪堡大学和德国融入与移民研究中心以《德国新冠危机与反亚裔歧视》为题，展开了一项有数千人参与的问卷调查。只具有部分代表性的调查结果显示，几乎一半的亚裔受访者本人（49%）在新冠疫情期间，有过遭遇歧视的经历。62%的案例是言语攻击。有11%的人甚至遭到肢体暴力，比如，被吐口水，被推搡和喷消毒剂。约有4500人接受了调查访问，其中包括约700名来自亚洲的人。大多数攻击是出现在街头或在搭乘公交路上。</p><p>调查还显示，27%的人受到机构的排斥。比如，在医院得不到预约。接受调查者约有15%同意以下说法，亚洲人“对新冠病毒大流行在德国的迅速蔓延负有责任”。但近85%的绝大多数人都不这么认为。</p><p>迄今为止，几乎没有关于反亚裔种族主义的研究。自新冠大流行以来，国际上的歧视和种族主义案例明显增加。德国联邦反歧视署去年收到的询问与2019年相比，几乎翻了一番，从约3600例增加到6000多例。过去一年里，大约有1/4的询问都与新冠病毒相关的歧视有关，询问经常针对的是据称是来自亚洲的人。</p>
                </div>
            
                                <br>
