---
layout: post
title: 哈利王子：搬到美国是为打破痛苦家族循环 – 法国国际广播电台 - RFI
date: 2021-05-14 15:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%93%88%E5%88%A9%E7%8E%8B%E5%AD%90-%E6%90%AC%E5%88%B0%E7%BE%8E%E5%9B%BD%E6%98%AF%E4%B8%BA%E6%89%93%E7%A0%B4%E7%97%9B%E8%8B%A6%E5%AE%B6%E6%97%8F%E5%BE%AA%E7%8E%AF
categories: rfi
---

<div>14/05/2021 - 09:34</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社洛杉矶13日电）    英国哈利王子（Prince Harry）在今天播出的专访中表示，带着妻小搬到美国加州，是为了打破「痛苦与煎熬」的家族循环。</p><p>    哈利接受播客节目Armchair Expert主持人谢巴德（Dax Shepard）访问时表示，当他开始想到父亲查尔斯王子（Prince Charles）的成长经历，他就意识到父亲身为王室一员，成长过程并不容易。</p><p>    哈利说，在他发现父亲「以自己曾被对待的方式对待我」后，就决定带着妻小搬到美国。</p><p>    哈利告诉主持人，他不怪父亲，但他下定决心避免对自己的孩子犯下同样的错误。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>
