---
layout: post
title: 视频：俄国喀山惊传校园枪击案 多名学童遇难
date: 2021-05-12 02:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%AC%A7%E6%B4%B2/20210511-%E4%BF%84%E5%9B%BD%E5%96%80%E5%B1%B1%E6%83%8A%E4%BC%A0%E6%A0%A1%E5%9B%AD%E6%9E%AA%E5%87%BB%E6%A1%88-%E5%A4%9A%E5%90%8D%E5%AD%A6%E7%AB%A5%E9%81%87%E9%9A%BE
categories: rfi
---

<div>11/05/2021 - 20:08</div><img src="https://s.rfi.fr/media/display/08371654-b239-11eb-9683-005056a964fe/w:310/p:16x9/AP21131329354591.jpg"><div class="t-content__body u-clearfix" >
                    <div class="m-interstitial">
    <div data-readmore-target class="m-interstitial__ad">
        <div
    class="m-block-ad "
    data-tms-ad-type="box"
    data-tms-ad-status="idle"
    data-tms-ad-pos="1"
>
    <div class="m-block-ad__label m-block-ad__label--report-enabled">
        <span class="m-block-ad__label__text">广告</span>
                <button title="举报广告" class="m-block-ad__label__report-link" rel="noopener" data-tms-ad-report><svg xmlns="http://www.w3.org/2000/svg" width="26.077" height="16.107" viewBox="0 0 26.077 16.107"><g transform="translate(1.325 0.5)"><path d="M6.669,15.107a1.5,1.5,0,0,1-1.5-1.5V10.184H0L5.169,5.637V1.5A1.5,1.5,0,0,1,6.669,0H22.752a1.5,1.5,0,0,1,1.5,1.5V13.607a1.5,1.5,0,0,1-1.5,1.5Z" fill="none" stroke="currentColor" stroke-width="1"/><g transform="translate(29.422 15.107) rotate(-180)"><path d="M-2119.5-2724.245v7.84" transform="translate(2134.21 2729.348)" fill="none" stroke="currentColor" stroke-width="2"/><path d="M-2119.5-2732v1.732" transform="translate(2134.21 2734.165)" fill="none" stroke="currentColor" stroke-width="2"/></g></g></svg>
</button>
            </div>
    <div class="m-block-ad__content">
    </div>
</div>
    </div>
        <button data-readmore-unlocker class="m-interstitial__unlock-btn">
        <span class="m-interstitial__unlock-btn__text">继续浏览后续</span>
        <span class="m-interstitial__unlock-btn__svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.414 45.414"><defs><style>.a{fill:none;stroke:#9a9a9a;stroke-width:2px}</style></defs><path class="a" d="M.707 22l22 22 22-22M22.707 44V0"/></svg>
</span>
    </button>
    </div>
                                            <div  data-wrapper-video-player data-show-hidden-video-player="WBMZ33097-RFI-CN-20210511">
        <div class="m-em-video">
                        <div data-hidden-video-player="WBMZ33097-RFI-CN-20210511" v-cloak>
                <div class="m-em-video__video-wrapper video-type-youtube">
                                    <youtube-player
    type="em"
    video-type="youtube"
    source="https://www.youtube.com/embed/NXGLCvI4tc8"
    video-id="NXGLCvI4tc8"
    locale="zh-CN"
            embed_config="{&quot;primaryThemeColor&quot;:&quot;#e2001a&quot;}"
        image="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/13baac8a-b24c-11eb-ac7e-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;AP21131321712303.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"    autoplay        >
</youtube-player>
                </div>
            </div>
                            
<figure class="m-figure m-figure--16x9">
    <div class="m-figure__img-wrapper">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="2021年5月11日星期二，俄罗斯喀山发生枪击事件后，救护车和警车以及一辆卡车停在一所学校里。"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/13baac8a-b24c-11eb-ac7e-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;AP21131321712303.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;16x9&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/13baac8a-b24c-11eb-ac7e-005056bf87d6/w:310/p:16x9/AP21131321712303.jpg" alt="2021年5月11日星期二，俄罗斯喀山发生枪击事件后，救护车和警车以及一辆卡车停在一所学校里。"
class="m-figure__img"/>
</noscript><button class="m-main-media-btn" aria-label="播放影片">
            <span class="m-main-media-btn__picto"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M30 0A30 30 0 1 1 0 30 30 30 0 0 1 30 0z" fill="#fff" opacity=".77"/><path d="M23.417 17.138v26.491l19.861-13.232z"/></svg>
</span>
</button>
    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >2021年5月11日星期二，俄罗斯喀山发生枪击事件后，救护车和警车以及一辆卡车停在一所学校里。</span>                <span class="a-media-legend">AP - Roman Kruchinin</span>            </figcaption>
            </figure>
                                </div>
    </div>
<p style="text-align:center"> </p>
                </div>
