---
layout: post
title: 反川不见容于党 共和党将表决拔丽兹钱尼党团主席 – 法国国际广播电台 - RFI
date: 2021-05-12 14:45:09.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%8F%8D%E5%B7%9D%E4%B8%8D%E8%A7%81%E5%AE%B9%E4%BA%8E%E5%85%9A-%E5%85%B1%E5%92%8C%E5%85%9A%E5%B0%86%E8%A1%A8%E5%86%B3%E6%8B%94%E4%B8%BD%E5%85%B9%E9%92%B1%E5%B0%BC%E5%85%9A%E5%9B%A2%E4%B8%BB%E5%B8%AD
categories: rfi
---

<div>12/05/2021 - 08:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿12日电）    美国联邦众议院共和党团今天将针对拔除丽兹．钱尼党团主席一职表决，由于丽兹拒绝接受川普宣称民主党偷走2020选举的说法，共和党此举，等于是将党的命运和川普绑在一起。</p><p>    距重要的期中选举还有18个月、离下次总统大选还有3年之际，共和党主张此举攸关党内团结，因为丽兹．钱尼（Liz Cheney）抨击川普搞「危险且反民主的个人崇拜」，无法在充满争议的大选后团结分崩离析的党。</p><p>    丽兹是怀俄明州选出的保守派，也是前副总统钱尼（Dick Cheney）之女，她预料会在今早的党团表决中，被拔除众院共和党第3号人物头衔。</p><p>    丽兹今晚在众院发布语气强硬的演说，她警告同僚，川普持续误导数以百万计美国人、质疑选举正当性，可能「让我国民主崩解」。</p><p>    「保持沉默，无视谎言只会让说谎者更勇敢。在其他人带头让党走上放弃法治之路时，我不会参与其中，也不会坐视不理，我不会加入这位前总统的阵营，破坏我国民主。」</p><p>    川普、众院共和党头号人物麦卡锡（Kevin McCarthy）以及第2号人物史卡利塞（Steve Scalise）都支持由斯特凡尼克（Elise Stefanik）取代丽兹。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
