---
layout: post
title: 喀布尔爆炸案刚过 塔利班宣布开斋节停火3天 – 法国国际广播电台 - RFI
date: 2021-05-10 12:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%96%80%E5%B8%83%E5%B0%94%E7%88%86%E7%82%B8%E6%A1%88%E5%88%9A%E8%BF%87-%E5%A1%94%E5%88%A9%E7%8F%AD%E5%AE%A3%E5%B8%83%E5%BC%80%E6%96%8B%E8%8A%82%E5%81%9C%E7%81%AB3%E5%A4%A9
categories: rfi
---

<div>10/05/2021 - 06:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社喀布尔9日电）    阿富汗民兵组织塔利班今天宣布停火3天，以庆祝穆斯林神圣斋戒月结束的开斋节。塔利班被控8日炸弹攻击首都喀布尔一所学校外围，造成至少68死，其中多为女童。</p><p>   塔利班（Taliban）发布声明指出，将自开斋节（Eid al-Fitr）第1至第3天于全国各地暂停对敌作战，「不过，这期间若敌方发动任何侵袭或攻击，我方也会整备作战以自我防卫」。</p><p>    塔利班去年开斋节也宣布类似停火行动。</p><p>    昨天，喀布尔（Kabul）什叶派穆斯林聚居区达斯特巴奇（Dasht-e-Barchi）一所女校校外发生一连串爆炸案，由于当时有许多居民赶在节日前外出采买，爆炸案酿成至少68死和165人受伤，为当地一年多来最致命攻击事件。</p><p>    阿富汗政府领导阶层说塔利班为幕后主使，但塔利班否认犯案。</p><p>    阿富汗政府和塔利班之间的和平谈判工作步履蹒跚，然而，美国仍持续要如期于今年9月11日前撤出剩余的2500名军力，结束20年来的战争。（译者：纪锦玲）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
