---
layout: post
title: 就业改善且趸售物价上扬 美股早盘涨 – 法国国际广播电台 - RFI
date: 2021-05-13 23:15:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%B0%B1%E4%B8%9A%E6%94%B9%E5%96%84%E4%B8%94%E8%B6%B8%E5%94%AE%E7%89%A9%E4%BB%B7%E4%B8%8A%E6%89%AC-%E7%BE%8E%E8%82%A1%E6%97%A9%E7%9B%98%E6%B6%A8
categories: rfi
---

<div>13/05/2021 - 17:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社纽约13日电）    美国政府公布的数据显示，初申失业救济人数下滑，趸售物价上扬，在市场设法中止连跌3天的盘势下，美股今天早盘走高。</p><p>    美国劳工部通报，经季节调整，截至8日为止的一周，全美初申失业救济人数为47万3000人，较预期为少，也较前一周上修后的人数减少3万4000人。</p><p>    与此同时，4月份趸售物价膨胀较去年同月攀升6.2%，为历来最高水准。</p><p>    华尔街今天开盘大约10分钟后，道琼工业指数涨升0.6%，来到33772.61点。</p><p>    标准普尔指数攀升0.7%，来到4092.00点。</p><p>    科技股那斯达克指数涨1.1%，来到13169.87点。（译者：张佑之）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
