---
layout: post
title: 投资人日益忧心通膨 亚洲股市普遍下跌 – 法国国际广播电台 - RFI
date: 2021-05-11 21:15:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%8A%95%E8%B5%84%E4%BA%BA%E6%97%A5%E7%9B%8A%E5%BF%A7%E5%BF%83%E9%80%9A%E8%86%A8-%E4%BA%9A%E6%B4%B2%E8%82%A1%E5%B8%82%E6%99%AE%E9%81%8D%E4%B8%8B%E8%B7%8C
categories: rfi
---

<div>11/05/2021 - 15:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社香港11日电）    投资人日益忧心，通膨飙升可能迫使央行比预期更早撤回超宽松货币政策，继华尔街股市昨天重跌后，亚洲股市今天追随美股跌势普遍收黑。</p><p>    美国本周将公布重要零售销售和消费者物价数据，备受投资人关注，随着美国重新开放经济，2019冠状病毒疾病（COVID-19）疫苗让人们感觉恢复常态，各界预期上述数据将大幅攀升。</p><p>    美国上周公布的就业数据远不如预期，显示经济复苏不会如预期般顺利，为市场的通膨忧心带来一些舒缓，但大宗商品价格上扬，尤其是广泛使用的铜及铁矿砂，导致市场担忧成本将会剧增。</p><p>    那些忧虑持续笼罩股市交易大厅，尽管美国联邦准备理事会（Fed）一再保证，在联准会减缓失业率及通膨持续高涨前，将尽可能维持大量购买债券及创纪录低利率立场。</p><p>    美国公布数据前引发的紧张，导致投资人急忙离场，美股道琼工业指数昨天收低，结束一连3个交易日创新高纪录，标准普尔指数则下跌逾1%，科技股为主的那斯达克则重挫2.6%。</p><p>    亚股今天追随美股跌势普遍收黑，科技股首当其冲面临沉重卖压。东京及台北股市今天下跌逾3%，香港股市下滑2%。</p><p>    雪梨及首尔股市下挫逾1%，新加坡、威灵顿、孟买、曼谷及雅加达股市皆收跌，但上海及马尼拉股市小涨。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
