---
layout: post
title: 流行病作为统治工具 殖民主义如何利用它来征服人民？ | 世界 | 半岛电视台
date: 2021-05-12 00:06:06.000000000 +08:00
link: http://chinese.aljazeera.net/opinions/long-reads/2021/5/11/%e6%b5%81%e8%a1%8c%e7%97%85%e4%bd%9c%e4%b8%ba%e7%bb%9f%e6%b2%bb%e5%b7%a5%e5%85%b7%e6%ae%96%e6%b0%91%e4%b8%bb%e4%b9%89%e5%a6%82%e4%bd%95%e5%88%a9%e7%94%a8%e5%ae%83%e6%9d%a5%e5%be%81%e6%9c%8d%e4%ba%ba
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/صورة-رئيسية-4-19.png?resize=570%2C380" srcSet="/wp-content/uploads/2021/05/صورة-رئيسية-4-19.png?resize=120%2C80 120w, /wp-content/uploads/2021/05/صورة-رئيسية-4-19.png?resize=270%2C180 270w, /wp-content/uploads/2021/05/صورة-رئيسية-4-19.png?resize=375%2C250 375w, /wp-content/uploads/2021/05/صورة-رئيسية-4-19.png?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><blockquote><p>“我相信白人应该殖民世界。”（帕特里克·曼森：英国医师、热带医学创始人、该领域首个大型参考文献的作者）</p></blockquote>
<p>随着2020年3月印度首次爆发新冠疫情，政府宣布了一系列法律措施，允许更灵活、更坚定地应对疫情，防疫措施从封锁学校开始，人们被要求呆在家中，违反者将被罚款，以至于问诊医生将导致公民接受法律制裁，但这些法律实际上并不新鲜。相反，它们是英国殖民者1897年为应对印度多个地区鼠疫蔓延颁布的《流行病法》修正后的模样。</p>
<p>英国的殖民主义确实包含应对疾病，但多年来，诸如该法之类的东西被视为无知之地的殖民主义的成就。实际上，殖民主义本身的哲学，我们的意思是，每一个殖民行为的基本思想都在为殖民行为辩护，这种思想以引领无知的人民走向科学、知识和文明为基础。但事实远非如此，尤其是在流行病方面。</p>
<h3>士兵医生</h3>
<p>例如，在殖民地国家，医疗干预的最普遍特征之一是它与军事方面的联系，不仅是因为许多医疗政策的管理者都是军人，而且还因为热带地区的医疗设备都是军事装备。根据大卫·阿诺德在《帝国医学和本土社会》一书中所说，明显的殖民主义政策是，对健康战役是一项军事行动，与此同时，军队被允许越过边界，利用流行病镇压抵抗和反抗运动。</p>
<p>特别是在印度，您很容易注意到，在19世纪末开始接种流行病疫苗的做法主要是基于“卫生带”政策，这意味着，最能接种疫苗的人是距离英国统治地区最近的人。因此，工厂工人们、帮佣、医疗队成员和直接与英国医生打交道的人排在最前面，然后是他们的亲人，和讲英语的人。</p>
<p>实际上，这促使印度人自己质疑英国人的意图，乍一看您可能会认为，拒绝接种致死流行病疫苗的人是无知的人，这便支持了殖民者的想法。您需要把自己放在他们的位置上，但是如果殖民者想通过药物治疗来降低人们的生育能力，或者只是鼓励他们像驴子一样工作，以打疫苗为借口，该怎么办？有许多迹象表明，印度对疫苗的立场是合乎逻辑的，例如，疫苗在海上运输期间遭到破坏，无法预防疾病，这向印度人证实了他们的想法。</p>
<p>除此之外，亚洲、非洲和拉丁美洲对热带医学的关注是基于可能导致殖民者感染的疾病，研究人员和医生忽略了与本土居民有关的其他疾病，诸如结核病、淋病、痢疾和肺炎等疾病仍在持续，如果不长期治疗，它们会侵蚀本地人的身体，加剧他们的无知、贫穷和脆弱性，但最糟糕的是殖民主义者给他们国家带来的变化。</p>
<p><img class="aligncenter size-arc-image-770 wp-image-192051" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/صورة-داخلية-1.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>殖民主义者带来的环境变化，例如通过在非洲大陆上兴建工厂、矿山、公路和铁路，都导致了流行病的扩散，因为它们推动了感染要素的传播，例如蚊子，从自然环境到附近的城市和乡村，原住民并没有为此做好准备。此外，殖民主义将当地工人和奴隶从一个地区转移到另一个地区，加剧了疾病的传播。但最重要的是，大多数情况下，殖民主义经常将新的疾病带到以前该疾病从未传播过的土地上，在这里，我们以天花、鼠疫和西班牙流感便是强有力的论证。</p>
<p>具体来说，我们可以仔细研究1918年西班牙流感在南罗得西亚（现在称为津巴布韦）的蔓延情况，英国占领者的工作首先是阻止消息在人民中传播。这些消息称，新的致命流行病将夺去一整个村庄的人的性命，其来源是来自受当时流行病影响的欧洲的英国人。 西班牙流感在某些地区杀死了3％的人口，而在一些贫困和营养不良的地区则杀死了10％的人口。</p>
<p><img class="aligncenter size-arc-image-770 wp-image-192047" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/صورة-داخلية-2.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>实际上，在1890年至第一次世界大战之间的这段时间里，非洲遭受了有史以来最大的流行病灾难，无论是由于占领者对环境的改变，还是由于当地居民作为奴隶或工人的流动，或者由于欧洲爆发的流行病，特别是欧洲人已经习惯并产生抵抗力，但对来非洲人来说是新型疾病的流行病。</p>
<h3>贩卖橡胶和人口的人</h3>
<p>另一方面，根据谢尔登·沃茨在他的《流行病与历史：疾病与帝国力量》中所言，您可以很容易地注意到，热带医学的出现不仅旨在服务于殖民主义哲学，而且还旨在这些亚洲和非洲地区是否适合欧洲人居住。在殖民主义之前，热带医学是基于一种人的观念和另一种关于疾病的观念，而不管周围环境如何，但随着非洲殖民地疟疾和黄热病等流行病的出现，这种模式有必要修改。</p>
<p>非洲人习惯了这些疾病，但欧洲人却没有，由此，种族主义的观念或立场出现在殖民地国家的医生心中说，由于这些差异，“黑人不如白人”，他认为，与“通常的疾病”不同，由于该地区的无知和落后，它们是严重的“非自然”流行病，严重威胁着白人的生命，并认为这在总体上证明殖民主义的必要性。如今，仍有许多政治家在针对非洲、亚洲和南美国家的政治战争中仍在使用这种观点，例如，您可以考虑美国前总统唐纳德·特朗普对亚洲裔记者的回应，他说这种流行病应该“问中国。”</p>
<p>实际上，欧洲和美洲热带医学学校（尤其是伦敦和利物浦学校）蓬勃发展的原因是对非洲、亚洲和南美洲国家的政治和经济关注，当代研究最著名的例子之一是哈佛大学热带医学系的兴起和繁荣与美国在非洲利比里亚的利益之间的关系，特别是为了在1926年建立“凡士通”天然橡胶公司，该公司是世界范围内最大的橡胶公司，为了回应其他殖民国家对美国进入利比里亚的限制。</p>
<p>医学为人类带来了武器无法制造的东西，因为它使世界为殖民者传递了和平而不是剥削的信息，希望将人们从无知的黑暗中带入文明的光明。而在流行病的情况下，可以用来控制疫情的力量被用于镇压人民，使任何反对派保持完全沉默。现在仍可以看到这种情况，但是以另一种方式，面对新冠病毒，人们担心民主国家会发生动荡，由于人们为了健康放弃了隐私。</p>
<p><img class="aligncenter size-arc-image-770 wp-image-192055" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/صورة-داخلية-3.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>殖民主义并没有将文明带给我们现在称为“第三国”的世界居民，而是为该国的健康和政治动荡做了铺垫，直到上个世纪七十年代世界卫生组织决定采用热带地区医疗制度，关心那些居民的真正利益，从他们的环境和疾病出发，但殖民主义所留下的遗物至今仍是浩劫的残余。</p>
<h3>故事是否一遍遍重复？</h3>
<p>几个世纪以来，流行病是某些人对更脆弱的人使用的生物武器，在19世纪末之前，人们从未曾谈论过这些，实际上，流行病被故意用来征服当地人。美洲是欧洲殖民主义势力作为的典型例子。正是该地区，1763年爆发了庞蒂亚克起义，一群美洲印第安人部落对英国的战争政策感到不满。</p>
<p>同时，据报道，当地军事力量的负责人威廉·特伦特写给他的指挥官的信中说：“我们从天花医院拿了一套毯子和餐巾给他们，我希望这可以天花在当地人中传播。”有迹象表明天花在结束这场叛乱中发挥了重要作用，但根据美国跨学科学者、《枪炮、细菌和钢铁》一书的作者贾雷德·戴蒙德的说法，事情不仅是毯子和手帕那么简单，它们成为了两个古老文明永远崩溃的原因。</p>
<p><img class="aligncenter size-arc-image-770 wp-image-192045" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/صورة-داخلية-4.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>地理和生理学教授戴蒙德认为，十六世纪西方对阿兹台克人和印加文明的优越感，与独特的智力无关，而是与殖民者生活了多年的地理环境有关，他强调，细菌是消灭绝大多数阿兹台克人和印加人的最重要原因之一。除了先进的武器外，一些病毒还很容易从西班牙人传播到美洲原住民，使他们灭绝。</p>
<p>根据戴蒙德得假设，人类整个历史上设法驯化了大约15种动物，其中绝大多数是在新月沃土中发现的，即伊拉克河流开始的区域，然后是叙利亚、黎巴嫩、约旦、巴勒斯坦和埃及北部。</p>
<p>几千年来，这些动物的驯养经验从东方的中国到西方的西班牙，从新月地区的东方和西方。当地居民与这些动物一起生活了数千年，一些动物向西方传播了具有高度传染性的病毒，过去曾导致数百万人死亡，但随着时间的流逝，西方人对这些疾病产生了免疫力，这些疾病处于休眠状态。随着欧洲人和美洲人第一次相遇，这些流行病传给了后者，并导致了他们的灭绝，有时是无意的，有时是有意传播。</p>
<p><img class="aligncenter size-arc-image-770 wp-image-192049" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/صورة-داخلية-5.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>在整个历史上与流行病的斗争中，悲剧不仅限于流行病对我们的影响，而且涉及我们彼此之间的关系，甚至医学也不能幸免于剥削，而是成为肆意妄为的种族主义手中的工具。例如，我们可以从一句名言中清楚地看到这一点，英国医生、热带医学创始人、该领域第一本且最重要的权威性参考文献的作者帕特里克·曼森说：“我相信白人应该殖民世界。”</p>
<p>我们现在要这样做吗？我们中某些人会利用这种流行病来征服其他人吗？就几个大国之间的冲突而言，我们现在所看到的并不是一个好兆头，而且可能会重复同样的故事：这种流行病杀死了一些人，有些人则以牺牲死难者来实现政治和经济利益。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台</div>
