---
layout: post
title: 美日韩情报长官东京举行会谈 美官员随后访韩
date: 2021-05-13 07:15:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210512-%E7%BE%8E%E6%97%A5%E9%9F%A9%E6%83%85%E6%8A%A5%E9%95%BF%E5%AE%98%E4%B8%9C%E4%BA%AC%E4%B8%BE%E8%A1%8C%E4%BC%9A%E8%B0%88-%E7%BE%8E%E5%AE%98%E5%91%98%E9%9A%8F%E5%90%8E%E8%AE%BF%E9%9F%A9
categories: rfi
---

<div>12/05/2021 - 23:08</div><img src="https://s.rfi.fr/media/display/947bea86-b365-11eb-a410-005056bff430/w:310/p:16x9/Capture-534.PNG"><div class="t-content__body u-clearfix" >
                    <p>海恩斯11日已与日本国家安全保障局局长北村滋举行了会谈。共同社报导指，两人可能就拜登政府完成调整的对朝鲜政策交换了意见。另据韩联社周三引述多名外交人士的话称，前一天启程赴日的韩国国家情报院院长朴智元当天上午在东京同海恩斯和日本内阁情报官泷泽裕昭举行了闭门会谈。据悉，朴智元前一天已与泷泽裕昭举行会谈，当天还会见了日本自民党二号人物、干事长二阶俊博。</p><p>自拜登政府今年1月上台以来，美日韩三国高官接连聚首讨论地区问题。三国4月初曾在华盛顿举行韩美日国安首长会议，本月又以七国集团（G7）外长会议为契机举行美日韩三国外长会谈。紧接着，三国情报首长周三在东京召开会议。报导指，三方可能就东北亚地区局势、拜登政府的对朝新政策、朝鲜核导问题等共同关切深入交换意见。</p><p>此外，海恩斯在会议结束后马不停蹄地飞抵韩国首尔展开访问。韩美正就海恩斯访韩期间拜会韩国总统文在寅，并与国家安保室室长徐薰举行会谈的日程进行协调。预计海恩斯将于13日访问韩朝非军事区（DMZ），并视察韩朝边境板门店共同警备区（JSA）。</p><p>白宫方面4月29日发表声明指，文在寅将于5月21日访问美国，并将与拜登举行会谈，凸显出韩美之间的“坚定不移的同盟关系”。白宫在相关声明中表示，“拜登总统期待与文在寅总统合作，进一步加强两国的同盟关系和扩大密切合作。”</p>
                </div>
            
                                <br>
