---
layout: post
title: 东耶路撒冷冲突加大以色列组阁难度
date: 2021-05-10 01:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%94%BF%E6%B2%BB/20210509-rfi-%E6%B3%95%E5%B9%BF-%E5%B0%BC%E5%8F%A4%E6%8B%89-israel-palestine-%E4%B8%9C%E8%80%B6%E8%B7%AF%E6%92%92%E5%86%B7%E5%86%B2%E7%AA%81%E5%8A%A0%E5%A4%A7%E4%BB%A5%E8%89%B2%E5%88%97%E7%BB%84%E9%98%81%E9%9A%BE%E5%BA%A6
categories: rfi
---

<div>09/05/2021 - 19:27</div><img src="https://s.rfi.fr/media/display/45fce1a6-ae6c-11eb-a7a3-005056a964fe/w:310/p:16x9/2021-05-05T182243Z_789972393_RC2U9N9P7OGU_RTRMADP_3_ISRAEL-PALESTINIANS-JERUSALEM-SHEIKH-JARRAH.JPG"><div class="t-content__body u-clearfix" >
                    <p>中东地区巴勒斯坦人和以色列人双方的紧张依旧。本台<strong>RFI</strong>法广2021年5月9日星期天的法文消息说，如果没有穆斯林忠实信徒的介入，在清真寺前广场保护以色列警察，5月8日周六的情况可能还会更严重。</p><p>据本台法广记者萨米（<strong>Sami Boukhelifa</strong>）周日早些时候发自耶路撒冷（<strong><em>Jérusalem</em></strong>）的报道，阿克萨清真寺（Mosquée Al-Aqsa）的晚祷刚结束，就聚集了大量的年轻人。他们做好了与清真寺前广场上的以色列警察针锋相对的准备。头脑一热，投掷物横飞。数十名忠实信徒迅速介入隔开双方。穆罕默德（Mohamed）和他的几位朋友保护着以色列警察。这名年轻人在接受采访时表示，打砸分子不具代表性，他们在那里是做祷告，不是为了寻机闹事。阿克萨清真寺是一处做祷告的地方。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Des musulmans prient pendant que des heurts éclatent sur l&#039;Esplanade des Mosquées, le 8 mai 2021."
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/497c8b76-b06d-11eb-b58a-005056a964fe\/&quot;,&quot;filename&quot;:&quot;2021-05-07T210947Z_1478607054_RC29BN92S54N_RTRMADP_3_ISRAEL-PALESTINIANS-JERUSALEM-SHEIKH-JARRAH.JPG&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/497c8b76-b06d-11eb-b58a-005056a964fe/2021-05-07T210947Z_1478607054_RC29BN92S54N_RTRMADP_3_ISRAEL-PALESTINIANS-JERUSALEM-SHEIKH-JARRAH.JPG" alt="Des musulmans prient pendant que des heurts éclatent sur l&#039;Esplanade des Mosquées, le 8 mai 2021."
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Des musulmans prient pendant que des heurts éclatent sur l&#039;Esplanade des Mosquées, le 8 mai 2021.</span>                <span class="a-media-legend">REUTERS - AMMAR AWAD</span>            </figcaption>
            </figure>

        </div><p>随后，一名伊斯兰教长伊玛目接手局面。他握着扩音喇叭要求立即恢复平静。一位名叫海瑟姆（Haythem）的巴勒斯坦青年赞扬这种做法。他说，这是一个明智的决定，绝不能让局势恶化。这不符合大家的利益。人们在此诵咏古兰经ˎ 信仰真主。最终您会发现，一切因他而好转。</p><p><strong>穆斯林忠实信徒保护警察</strong></p><p>为了保持平静，数十名巴勒斯坦忠实信徒排成行做祷告，尤其是为了不让打砸分子袭击警察。巴勒斯坦红新月会（<strong>Croissant-Rouge</strong>）表示，有90人在暴力冲突种受伤。比之前统计数字说50来人受伤，有所增加。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Un joven palestino durante los enfrentamientos el sábado por la noche en la Ciudad Vieja de Jerusalén Este."
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/0be5947c-b0b0-11eb-ab2e-005056bff430\/&quot;,&quot;filename&quot;:&quot;jerusalem_dimanche.JPG&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/0be5947c-b0b0-11eb-ab2e-005056bff430/jerusalem_dimanche.JPG" alt="Un joven palestino durante los enfrentamientos el sábado por la noche en la Ciudad Vieja de Jerusalén Este."
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Un joven palestino durante los enfrentamientos el sábado por la noche en la Ciudad Vieja de Jerusalén Este.</span>                <span class="a-media-legend">REUTERS - RONEN ZVULUN</span>            </figcaption>
            </figure>

        </div><p>暴力事件发生后，加沙地带朝以色列发射了一枚火箭弹，而以色列则宣布打击了盘踞在有着200万居民的巴勒斯坦飞地里的伊斯兰哈马斯运动的阵地。</p><p><strong>东耶路撒冷暴力影响组阁</strong></p><p>另据本台<strong>RFI</strong>记者克里斯蒂安（<strong>Christian Brunel</strong>）5月9日星期天下午自中东巴以地区发回的分析报道，东耶路撒冷地区的紧张气氛，尤其是在清真寺前广场发生的暴力，可能会影响到反内塔尼亚胡阵营的组阁努力。</p>
                </div>
