---
layout: post
title: 抗疫 宏都拉斯：萨尔瓦多协助采购中国疫苗 – 法国国际广播电台 - RFI
date: 2021-05-11 13:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%8A%97%E7%96%AB-%E5%AE%8F%E9%83%BD%E6%8B%89%E6%96%AF-%E8%90%A8%E5%B0%94%E7%93%A6%E5%A4%9A%E5%8D%8F%E5%8A%A9%E9%87%87%E8%B4%AD%E4%B8%AD%E5%9B%BD%E7%96%AB%E8%8B%97
categories: rfi
---

<div>11/05/2021 - 07:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社德古西加巴10日电）    宏都拉斯今天表示，由于宏国与中国没有外交关系，邻国萨尔瓦多将协助他们采购中国的2019冠状病毒疾病（COVID-19）疫苗。</p><p>    宏都拉斯卫生部今天在社群网站推特（Twitter）表示，「萨尔瓦多将协助我国打破地缘政治的封锁，从中国采购疫苗。宏都拉斯愿意为人民付出最高代价以取得疫苗」。</p><p>    宏都拉都卫生部另一则推文中宣称，宏国「感谢各个不将疫情政治化的友好国家」，点名以色列捐赠宏都拉斯境内首批6000剂疫苗，也说俄罗斯已表明本周将送达4万剂「卫星-V」（Sputnik V）疫苗。</p><p>    卫生部说：「过去，我们曾向萨尔瓦多捐赠药品与生物安全物资；如今，萨尔瓦多正协助我们打破封锁。」</p><p>    宏都拉斯目前确诊病例累计22多万例，死亡5665例。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
