---
layout: post
title: 昂山素季将出庭 遭控6种罪
date: 2021-05-10 22:45:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210510-%E6%98%82%E5%B1%B1%E7%B4%A0%E5%AD%A3%E5%B0%86%E5%87%BA%E5%BA%AD-%E9%81%AD%E6%8E%A76%E7%A7%8D%E7%BD%AA
categories: rfi
---

<div>10/05/2021 - 16:37</div><img src="https://s.rfi.fr/media/display/cdd558ce-af39-11eb-8a5e-005056a9b1a7/w:310/p:16x9/AP21126370276100.jpg"><div class="t-content__body u-clearfix" >
                    <p>据中央社今天报道称，缅甸在今天最新一次司法庭讯中，法官下令在昂山素季住所附近特别法庭审理她的案件，昂山素季必须出庭。据金蒙绍（Khin Maung Zaw）告诉法新社：“她将在5月24日亲自出庭。”不过，他又说，律师无法与她私下会面的问题仍未解决。</p><p>诺贝尔和平奖得主昂山素季自军方2月1日发动政变而被拘留以来，一直没有公开露面。当时军方将她赶下台，并重新掌权统治。昂山素季随后遭到一系列指控，她的法律团队也面临一场艰苦的奋战，争取与昂山素季私下会面。</p><p>在首都奈比多（Naypyidaw）举行的多次法院庭讯中，遭到软禁的昂山素季只能透过视讯方式参与，她对诉讼程序的进度表示失望。</p><p>75岁的昂山素季自被捕以来已经被指控6项罪名。军方的指控包括在去年竞选期间无视于防疫禁令聚众，以及违法持有无线对讲机的罪名。</p><p>据中央社说，缅甸政变动荡持续至今，中俄两国近期被指阻挠联合国安理会对缅甸情势作出更强硬的表态。中国外交部发言人华春莹今天称，要避免联合国安理会“不当介入”，损害缅甸主权。</p><p>缅甸军方今年2月对民选政府发动政变，之后引发大规模抗争与血腥镇压，僵局持续至今。</p><p>中国外交部10日下午举行例行记者会，华春莹说，要避免“一些外部势力在缅甸国内推波助澜，火上浇油，通过搞乱缅甸谋取私利”。华春莹又说，中方支持缅甸的各党各派在宪法和法律的架构下，致力于透过对话寻求政治解决分歧的途径，继续推进“得来不易”的、而且“适合缅甸国情的民主转型进程”。</p><p>东南亚国家协会（ASEAN）4月底虽与缅甸军方达成立即终止暴力等共识，但缅甸军方仍持续镇压；而东协邀缅甸军方出席峰会已经遭质疑是帮助军方合理化政变的正当性。</p><p>据华春莹今天则称，中方支持东协坚持不干涉内政原则和协商一致的传统，作为成熟的区域组织，以东协方式鼓励并且建设性地参与缅甸内部和解进程。</p><p>中国为联合国安理会5月份轮值主席，安理会7日视讯召开题为“维护国际和平与安全：维护多边主义和以联合国为核心的国际体系”高级别会议。美国国务卿布林肯（Antony Blinken）在会中不点名批评中俄两国，指当一些联合国成员国，“特别是安理会常任理事国”，藐视坚持国际承诺、注重人权，尊重主权平等原则，并试图阻止对违反国际法的人究责，这释放出即便破坏规范，也可以免责的讯号。</p><p>中央社说，联合国安理会常任理事国为中、美、英、俄、法5国。中俄两国日前被指阻挠安理会对缅甸军事政变一事，作出更强硬的表态。</p><p>缅甸反军政府诗人克席（Khet Thi）家属周日痛诉，克席遭拘留一夜后丧命，遗体送还时，器官甚至被摘除。据路透社说，军政府发言人并未对克席之死的置评要求做出回应。克席曾写下“他们朝头部射击，却不知革命其实在心中”的名言。克席的脸书（Facebook）页面显示他45岁。</p><p>据克席的妻子昭苏（Chaw Su）表示，自己和丈夫昨天在中部萨加因（Sagaing）城镇税布（Shwebo）遭武装军警带走讯问，这里是抵抗政变的核心地区。据昭苏在约100公里外的城市摩尼瓦（Monywa）含泪接受英国广播公司缅语版（BBC Burmese）访问时表示，自己和丈夫都接受讯问，军方表示丈夫人在讯问中心，“但他没有回来，回来的只有他的遗体”。据昭苏说：“他们早上打电话给我，要我到摩尼瓦的医院见他。我原本以为他只是手臂骨折之类的…但当我抵达现场时，他却在停尸间，内部脏器都被摘除。”</p><p>昭苏表示，她在医院时被告知克席有心脏问题，但她不想看死亡证明，因为她很清楚那不是真的。路透社说，无法联系上医院取得院方说法。昭苏说，军方本来打算将克席下葬，但她恳求军方归还遗体。她没有说明自己如何得知丈夫器官遭摘除。</p><p>缅甸援助政治犯协会（Assistance Association for Political Prisoners）在公告中表示：“他（克席）在讯问中心遭严刑对待后，于医院里断气。”协会统计，政变迄今遭杀害平民人数达780人。</p><p>自2月1日政变以来，克席至少是第3位在抗议行动中遭杀害的诗人。</p><p>克席原为工程师，2012年辞掉工作专注在诗作上，靠贩卖冰淇淋和蛋糕谋生。他曾于政变发生2周后写下：“我不想当英雄，我不想当烈士，我不想当弱者，我不想当傻瓜。我不想支持不公不义。如果我只有1分钟可活，我希望我的良知在那一刻是纯洁的。”</p>
                </div>
            
                                <br>
