---
layout: post
title: 中国面临人口老龄化加速的严峻挑战 - 法国报纸摘要
date: 2021-05-12 22:15:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E6%B3%95%E5%9B%BD%E6%8A%A5%E7%BA%B8%E6%91%98%E8%A6%81/20210512-%E4%B8%AD%E5%9B%BD%E9%9D%A2%E4%B8%B4%E4%BA%BA%E5%8F%A3%E8%80%81%E9%BE%84%E5%8C%96%E5%8A%A0%E9%80%9F%E7%9A%84%E4%B8%A5%E5%B3%BB%E6%8C%91%E6%88%98
categories: rfi
---

<div>12/05/2021 - 15:57</div><img src="https://s.rfi.fr/media/display/de712a84-105a-11ea-a2a3-005056bff430/w:310/p:16x9/03-revue-de-presse_0.png"><div class="t-content__body u-clearfix" >
                    <p>5月11日星期二，中国公布了十年一次的人口普查结果。至2020年底，中国总人口为14亿1178万。《回声报》和《十字架报》分别从不同角度就此一话题进行了报道和分析。</p><p><strong>中国出生率下降，老龄人口爆炸 </strong></p><p>《回声报》指出：经过数周时间的拖延和猜测，北京终于公布了期待已久的普查结果。以14亿2000万人口的官方数字，中国保住了荣誉，仍为全球人口最多的国家。</p><p>四月底，中国国家统计局驳斥了《金融时报》关于中国总人口首次出现下降的说法。在迎来中国共产党建党100周年之际，宣布人口下降可能带来诸多社会与经济后果，并扰乱习近平主席提出的“中国梦”。</p><p>报道指出：中国人口可能没有下降，但是正在快速接近人口高峰，对此，北京压力巨大，因为中国有可能在成为富裕国家之前成为人口老龄化国家。</p><p>尽管中国迅速遏制了新冠大流行病，但是去年的出生率却十分低下，降至1961年以来最低点。而人口老龄化趋势却十分明显，致使北京开始考虑进行退休体制改革。</p><p>中国在短短22年间，便进入了老龄化社会，速度远超其他西方国家，法国完成此一进程花费了140年，瑞典和美国则分别为85年和72年。而中国令人忧虑的是，目前人均GDP水平每月仅为1万美元，而发达国家则超过3万美元。</p><p>有关方面专家发出警告指出：人口老龄化加上房地产泡沫很容易导致中国重演日本“迷失十年”，从而损害习近平关于在2035年实现“社会主义现代化”社会的承诺。</p><p>《回声报》指出：在中美争夺世界领导权之际，中国人口下降也将产生严重后果。在过去的40年中，中国通过依靠廉价和充足的劳动力缩小了与美国的差距，但是在未来的30年，随着中国人口的减少，以及美国人口的增长，整个局面将出现转变。</p><p><strong>中国官方数据引发质疑</strong></p><p>《十字架报》则报道指出： 中国刚刚公布的普查结果，显示了十年来人口增长缓慢、人口老龄化步伐加速以及出生率持续下降的趋势。然而，一些人口学家表示：应对这些官方数据持谨慎态度。</p><p>报道认为：中国对待数字历来不太友善。大概正因如此，国家统计局对公布去年年底就已完成的十年一次的普查结果一拖再拖。人口统计在政治上的重要性在于：有必要对某些数据进行调整，令其符合关于人口没有减少的政治言论，否则可能引发严重的社会和经济后果。</p><p>根据官方数据，尽管中国依旧保持了人口第一大国的地位，但与第二人口大国-印度相比，区别在于：印度人口的年轻化，而中国则凸显了老龄化进程的加快。</p><p>《十字架报》指出：中国5月11日公布的人口普查结果引发了一些观察家质疑。美国威斯康星大学的人口学专家易富贤（Yi Fuxian）发表看法认为：2018年以来，中国人口一直在下降，目前应不会超过12亿8000万这个数字。北京可能操控相关数据，以避免发生损害中国形象和经济的“政治地震”。</p><p>此外，《回声报》驻京记者弗雷德里克·沙菲尔（<em>Frederic Schaeffer</em>）还刊出另外两篇报道，分别对中国解除独生子女政策却没有带来婴儿大潮以及退休体制改革在微博上引发热议的情况进行了报道和分析。</p>
                </div>
            
                                <br>
