---
layout: post
title: 法国退出地中海搜查行动 煽动欧盟对土耳其施加制裁 | 土耳其 News | 半岛电视台
date: 2021-05-16 04:06:04.000000000 +08:00
link: http://chinese.aljazeera.net/news/2020/7/2/%e6%b3%95%e5%9b%bd%e9%80%80%e5%87%ba%e5%9c%b0%e4%b8%ad%e6%b5%b7%e6%90%9c%e6%9f%a5%e8%a1%8c%e5%8a%a8
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2020/07/فرنسا.jpg?resize=770%2C513" srcSet="/wp-content/uploads/2020/07/فرنسا.jpg?resize=120%2C80 120w, /wp-content/uploads/2020/07/فرنسا.jpg?resize=270%2C180 270w, /wp-content/uploads/2020/07/فرنسا.jpg?resize=375%2C250 375w, /wp-content/uploads/2020/07/فرنسا.jpg?resize=570%2C380 570w, /wp-content/uploads/2020/07/فرنسا.jpg?resize=770%2C513 770w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, (max-width: 770px) 770px, 770px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><p>在这场利比亚局势为核心的危机中，法国与土耳其的口角是非升级，之前，土耳其驻巴黎大使要求法国对利比亚武器禁运的失败负责，而法国呼吁欧盟，对土耳其实行进一步制裁。</p>
<p>土耳其指责法国，对利比亚冲突加剧负有责任，因为法国支持哈夫塔尔并为其运送武器提供方便，而法国宣布，退出北约小组，不参与对东地中海进行海上搜查的行动，这是按照对利比亚实施的国际武器禁运，法国表示，将支持欧洲对土耳其施加进一步制裁。</p>
<p>法国退出的决定，体现了法土自几个月的利比亚危机以来不断加剧的紧张关系。紧张局势持续升温，因为土耳其宣布支持民族团结政府，法国被指控支持他的一方相继失败。</p>
<p>两国因为实施武器禁运的不同看法，相互指责对方使利比亚冲突复杂化。</p>
<p>法土军舰在地中海的摩擦事件之后，这个问题在6月凸显出来，法国向北约控诉，但法国对北约的处理方式不满，认为北约对土耳其过于纵容。</p>
<p>7月1日在法国参议院，土耳其驻法国大使伊斯梅尔·穆萨表示，每天都有从阿联酋、叙利亚和其他国家飞往利比亚的航班，无论是在航空还是陆运，“这一禁令”每天都被违反，他谴责对此事的纵容，与此同时，他指出，联合国关于禁运的决定不是自动的，没有规定应只能海运，不能陆运和空运。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-114875" src="https://chinese.aljazeera.net/wp-content/uploads/2020/07/وزير-الخارجية-الفرنسي-جون-إيف-لودريان.jpg?w=770&amp;resize=770%2C433" data-recalc-dims="1" /></p>
<p>法国没有在北约寻求答案，而是诉诸欧盟，推动欧盟对土耳其实施制裁。法国外长勒德里昂表示，法国要求在7月13日举行欧盟外长会议，专门讨论有关土耳其的问题。</p>
<p>勒德里昂补充说，欧盟因为土耳其在塞浦路斯海洋经济区的勘探行动，已对土耳其实施制裁，还可以施加进一步制裁，他强调，7月1日，法国决定撤出地中海安全行动的一艘护卫舰，直到收到有关如何协调联盟任务的解释。</p>
<p>6月30日，为了回应马克龙的讲话，土耳其外交部长恰武什奥卢在媒体声明中抨击了法国，马克龙谈到，土耳其在利比亚负有“刑事责任”。</p>
<p>恰武什奥卢表示，法国在利比亚仅仅为了实现其利益，法国对利比亚的立场具有殖民性质和破坏性，在马克龙批评土耳其之前，法国必须保持透明和诚实。</p>
<p>恰武什奥卢强调，法国支持发动政变的人物，按照利比亚毁灭性的理念而行动。他指出，虽然法国拒绝支持哈夫塔尔，但仍将阿联酋的资金转移给他。</p>
<p>6月29日在与德国总理默克尔的会晤中，法国总统否认法国一年多以前曾支持或认同哈夫塔尔袭击的黎波里。</p>
<p>马克龙重申了对土耳其在利比亚的作用的批评，他表示，目前，土耳其是利比亚的主要干预势力，土耳其负有其所谓的“历史和刑事责任”，此前，他还表示，土耳其在利比亚玩危险游戏，招致土耳其做出愤怒的回应。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台</div>
