---
layout: post
title: FBI与欧海尔机场建筑大师 骑自行车遭撞身亡 – 法国国际广播电台 - RFI
date: 2021-05-10 14:45:07.000000000 +08:00
link: http://www.rfi.fr//cn/fbi%E4%B8%8E%E6%AC%A7%E6%B5%B7%E5%B0%94%E6%9C%BA%E5%9C%BA%E5%BB%BA%E7%AD%91%E5%A4%A7%E5%B8%88-%E9%AA%91%E8%87%AA%E8%A1%8C%E8%BD%A6%E9%81%AD%E6%92%9E%E8%BA%AB%E4%BA%A1
categories: rfi
---

<div>10/05/2021 - 08:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿9日电）    美国警方今天表示，以钢铁结合玻璃的后现代建筑着称的德裔美籍建筑大师雅恩（Helmut Jahn）昨天在伊利诺州骑自行车时，不幸遭2辆车撞上，伤重不治，享寿81岁。</p><p>    依据警方说法，雅恩昨天午后在芝加哥以西约100公里处坎普顿山（Campton Hills）骑经一处路口时，「未能依照停车标志停车」，遭2辆对向来车撞上，不幸身亡。</p><p>    警方表示，雅恩在车祸现场当场丧命，1名驾驶则受到轻伤，送医治疗。（译者：李佩珊/核稿：陈昱婷）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
