---
layout: post
title: 独立小组报告：COVID-19疫情原可避免 – 法国国际广播电台 - RFI
date: 2021-05-12 22:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%8B%AC%E7%AB%8B%E5%B0%8F%E7%BB%84%E6%8A%A5%E5%91%8A-covid-19%E7%96%AB%E6%83%85%E5%8E%9F%E5%8F%AF%E9%81%BF%E5%85%8D
categories: rfi
---

<div>12/05/2021 - 16:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社日内瓦12日电）    由国际专家组成的独立小组今天在报告中指出，2019冠状病毒疾病（COVID-19）大规模疫情原本可以避免，但各国政府未能即时因应以及协调不足，导致出现的警讯受到疏忽。</p><p>    大流行防范和应对独立小组（IPPR）表示，一连串错误的决策使COVID-19迄今已夺走至少330万人性命，同时对全球经济造成重创。</p><p>    独立小组在外界期待已久的最终报告中指出，体制「未能保护人民」，视科学如无物的领导人则动摇了民众对公卫处理的信赖。</p><p>    独立小组指出，2019年12月外界对于中国武汉所发现疫情的初期反应「欠缺急迫性」，各国未能注意警讯，以致2020年2月成了代价高昂的「错失的一个月」。</p><p>    独立小组呼吁最富裕国家捐出10亿剂疫苗给最贫穷的国家，以对抗目前的疫情。同时也呼吁全球最富裕的国家，出资成立新组织，专责应对下一次大流行疫情。</p><p>    世界卫生组织（WHO）去年5月决议成立独立小组，针对COVID-19的国际卫生及世卫应对工作启动公正、独立和全面评估。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
