---
layout: post
title: 高雄电厂出事故 台湾846万户轮流停电
date: 2021-05-13 19:47:04.000000000 +08:00
link: https://www.dw.com/zh/高雄电厂出事故 台湾846万户轮流停电/a-57518882
categories: dw
---

<div><i><br>2021-05-13T11:21:36.252Z</i></div><img src="https://images.weserv.nl/?url=static.dw.com/image/57519026_303.jpg" width="100%"><div><small style="color: #999;">5月13日，台湾再次出现无预警大停电现象，846万户受到影响。</small></div><p>（德国之声中文网）据台湾中央社报道，台电公司解释事故原因时称，“高雄市路竹路北超高压变电所汇流排故障，造成兴达电厂4部机组跳脱”。</p><p>台湾经济部表示，超高压变电所故障后，机组发出电无法输送才造成跳电，“为了保护电网，所以采低压降载”。</p><p>因这起事故，台湾全岛从周四（5月13日）下午3点起，采取分区轮流供电，每次限电时间为50分钟，限电会影响846万户次。台电公司表示力争当晚恢复供电。</p><p>轮流限电执行之后，多个城市和地区均出现人员受困电梯的案件。花莲还出现一起依赖呼吸器的病人呼吸机断电的求援案例。台湾中央流行疫情指挥中心的直播画面也被迫中断。</p><p><strong>总统蔡英文：不要惊慌！</strong></p><p>台湾总统蔡英文在脸书上发文表示，“供电将会陆续恢复，政府已掌握状况”。</p><p>她还表示，“供电将会陆续恢复，请大家保持冷静，不用惊慌”。</p><p>蔡英文还在脸书上强调，“详细事故原因，政府相关部门将在完整查明后向大家报告。在这之前，也请大家切勿传递未经证实的假讯息”。</p><img src="https://images.weserv.nl/?url=static.dw.com/image/57518985_303.jpg" width="100%"><div><small style="color: #999;">今年3月，蔡英文总统重申“非核家园”与“能源转型”，并强调重启核四有安全疑虑，耗资费时不可行。 </small></div><p><strong>国民党：蔡英文不缺电承诺“再次跳票”</strong></p><p>国民党方面指责这是蔡英文执政以来台湾发生的第二次无预警的大停电，“蔡总统保证台湾不缺电的承诺又再次跳票”。</p><p>2017年8月15日下午，台湾当地经历了有史以来最大规模的无预警停电，当时总共造成全台湾668万户瞬间用电受影响，17县市出现大规模停电，比例超过台湾总用户的一半。</p><p>次日总统蔡英文发表声明，向全台湾人民致歉，并全面检讨、指示行政院尽速研拟报告说明。时任经济部长的李世光也宣布请辞下台。</p><p>“815大停电”令不少台湾人对蔡英文推行的“非核家园”能源政策的可行性产生了怀疑。当时台湾媒体报道称，如果一再灌输"台湾不缺电"的观念，恐怕下一次的停电只是迟早的事。</p><p><em>© 2021年 德国之声版权声明：本文所有内容受到著作权法保护，如无德国之声特别授权，不得擅自使用。任何不当行为都将导致追偿，并受到刑事追究。</em></p>
