---
layout: post
title: 美国商会调查：逾40%会员企业打算离开香港 国安法疑虑为最大原因
date: 2021-05-12 18:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B8%AF%E6%BE%B3%E5%8F%B0/20210512-%E7%BE%8E%E5%9B%BD%E5%95%86%E4%BC%9A%E8%B0%83%E6%9F%A5-%E9%80%BE40-%E4%BC%9A%E5%91%98%E4%BC%81%E4%B8%9A%E6%89%93%E7%AE%97%E7%A6%BB%E5%BC%80%E9%A6%99%E6%B8%AF-%E5%9B%BD%E5%AE%89%E6%B3%95%E7%96%91%E8%99%91%E4%B8%BA%E6%9C%80%E5%A4%A7%E5%8E%9F%E5%9B%A0
categories: rfi
---

<div>12/05/2021 - 11:57</div><img src="https://s.rfi.fr/media/display/8d5caef4-a58b-11ea-acfc-005056bf18d4/w:310/p:16x9/amcham-hong-kong.jpg"><div class="t-content__body u-clearfix" >
                    <p>在美国商会的这项调查中，有325家成员企业在5月5-9日期间做出回应，占其成员的24%。其中42%已考虑或计划离开香港。计划离开香港的企业当中，有3%表示打算马上进行此事，有10%表示夏季结束前进行，有15%表示年底前进行，有48%打算三至五年内采取行动。</p><p>据报道，打算搬离香港的企业中，有62%勾选了“国安法让我感到不自在”这项原因。约36%表明担心国安法将影响子女在香港的教育品质。</p><p>美国商会引述其中一位匿名受访者表示：“以前我从来不必担心自己待在香港时说了或写了什么”，他还说：“情况已经改变。这些红线是模糊的，而且似乎说变就变。我不想继续为一言一行可能导致自己无意中被捕而担心受怕。”</p><p>这些企业当中，约49%考虑迁离香港的原因是疫情相关的旅行限制；约42%对香港的竞争力感到悲观；另有近24%表示香港费用昂贵。</p><p>在打算继续留港的企业中，约77%认为生活品质良好，约55%认为商业环境“优异”，48%认为对内地市场有地利之便。据一名受访者称：“香港仍是东方与西方之间的管道，能够给企业提供的东西太多了。”</p><p>美国商会这份调查报告总的来说，打算离开香港的会员当中有43%的人表示依然会留在亚洲，39%的人选择回到本国，显示许多商人希望离开的原因是香港发生了巨变，但对在亚洲地区经商依然有信心。</p>
                </div>
            
                                <br>
