---
layout: post
title: 托瑞斯打了疫苗仍二度染疫 洋基1比9败给光芒 – 法国国际广播电台 - RFI
date: 2021-05-14 14:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%89%98%E7%91%9E%E6%96%AF%E6%89%93%E4%BA%86%E7%96%AB%E8%8B%97%E4%BB%8D%E4%BA%8C%E5%BA%A6%E6%9F%93%E7%96%AB-%E6%B4%8B%E5%9F%BA1%E6%AF%949%E8%B4%A5%E7%BB%99%E5%85%89%E8%8A%92
categories: rfi
---

<div>14/05/2021 - 08:34</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社佛州圣彼得堡13日电）    MLB洋基的托瑞斯去年染疫，康复后也再打了疫苗，却仍传确诊，这是他第2次染上2019冠状病毒疾病。今天洋基1比9败给光芒。</p><p>美国职棒大联盟MLB纽约洋基此役1比9遭坦帕湾光芒击败，且赛前洋基还传出球员染疫消息。</p><p>洋基的球员、教练4月7日起陆续开始接种娇生（Johnson & Johnson）单剂型疫苗，4月底跨越85%的接种门槛。</p><p>但本月11日先传出多名教练打了疫苗后，2019冠状病毒疾病（COVID-19）筛检结果仍呈现阳性反应，今天更是传出去年曾染疫、这次也打了疫苗的托瑞斯（Gleyber Torres）二度确诊的消息。</p><p>此役，光芒在1局下半就靠迪亚兹（Yandy Diaz）带有两分打点的安打先驰得点；梅多斯3下的两分炮，让光芒4比0持续领先；6下阿罗萨雷纳（Randy Arozarena）挥出3分炮，光芒将领先扩大成7比0；梅多斯8下再补上两分打点安打，让光芒9比0领先。</p><p>洋基只在9上临去秋波拿下1分，最终让光芒8分之差留下胜利。</p><p>希尔今天用他本季最多的104球投6.2局，送出9次三振、3个保送，只被击出3支安打无失分，在球队赢球的情况下，拿下个人本季第2胜。他连续无失分的局数，也累积到17.2局。</p><p>光芒指定打击梅多斯（Austin Meadows）今天有5打数3安打的表现，其中还包括一发两分炮，一共打进4 分打点。</p><p></p><p></p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
