---
layout: post
title: 日本新冠病毒染疫死亡过万 菅义伟议会鞠躬道歉
date: 2021-05-10 16:45:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210510-%E6%97%A5%E6%9C%AC%E6%96%B0%E5%86%A0%E7%97%85%E6%AF%92%E6%9F%93%E7%96%AB%E6%AD%BB%E4%BA%A1%E8%BF%87%E4%B8%87-%E8%8F%85%E4%B9%89%E4%BC%9F%E8%AE%AE%E4%BC%9A%E9%9E%A0%E8%BA%AC%E9%81%93%E6%AD%89
categories: rfi
---

<div>10/05/2021 - 10:28</div><img src="https://s.rfi.fr/media/display/8d4afa44-19ce-11eb-a0b3-005056bf87d6/w:310/p:16x9/2020-10-26T051157Z_1396494884_RC25QJ9MBR1R_RTRMADP_3_JAPAN-POLITICS-SUGA.JPG"><div class="t-content__body u-clearfix" >
                    <p>据日本经济新闻今天报道说，菅义伟在回答日本立宪民主党代表枝野幸男的提问时做出上述表态。关于东京奥运会和残奥会，枝野指出“可以认为，（日本）国民的生命、生活与举办奥运会不可能兼顾”。菅义伟再次表达了对举办奥运会的意愿，他说“我们会彻底采取疫情防控对策，可以放心参加。同时，将保护国民的生命和健康”。</p><p>立宪民主党代表山井和则进一步提问称“即使疫情暴发也要举办（奥运会）吗？”，菅义伟回答“我没说过这样的话”。</p><p>据该报道称，菅义伟还谈到了旨在尽快批准疫苗的新临床试验的制度。他表示，要以确认有效性和安全性为前提“考虑调整制度，以便更快批准疫苗”。</p><p>日本规制改革相河野太郎分别回答了自民党代表桥本岳的两个提问。关于扩大疫苗接种范围，他明确表示“将在听取地方政府意愿的基础上，给予支持”。河野太郎还回答了日本公明党代表国重彻的提问，他表示在面向普通民众接种的阶段“要考虑并同时提出要求（在工作单位及学校开展接种）”。</p><p>菅义伟还就将紧急事态宣言延长到5月31日的理由，回答了桥本的提问。他指出“新增感染以大城市为中心向（日本）全国蔓延，且处于高水平”。</p>
                </div>
            
                                <br>
