---
layout: post
title: 以军轰炸地道网络 加沙死亡过百
date: 2021-05-14 20:45:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E4%B8%9C/20210514-%E4%BB%A5%E5%86%9B%E8%BD%B0%E7%82%B8%E5%9C%B0%E9%81%93%E7%BD%91%E7%BB%9C-%E5%8A%A0%E6%B2%99%E6%AD%BB%E4%BA%A1%E8%BF%87%E7%99%BE
categories: rfi
---

<div>14/05/2021 - 14:28</div><img src="https://s.rfi.fr/media/display/b04b7a30-b48f-11eb-a29f-005056a917b9/w:310/p:16x9/000_99X6HE.jpg"><div class="t-content__body u-clearfix" >
                    <p>昨夜今晨（5月13-14日），以色列军队加大了对加沙地带的轰炸力度，其主要目标是摧毁当地发达的地道系统。以军表示，他们对加沙的地道网络造成了严重破坏。</p><p>向以色列发射了1800多枚火箭弹的哈马斯和其他伊斯兰战斗人员和领导人，通过复杂的地下网络移动，可以躲避以色列的高空摄像机和定点追杀。哈马斯人员甚至可通过地道越过边境，试图在以色列境内劫持人质。</p><p>之前，本周早些时候，以军的轰炸目标是哈马斯和伊斯兰武装情报领导人在加沙的办公楼和住宅楼。</p><p>自周一以来，以色列与哈马斯和其他伊斯兰武装团队的军事冲突升级，已在加沙造成119名巴勒斯坦人死亡和830人受伤。</p><p>据目击者说，面对以色列集结在边境的坦克炮火，数百名加沙人离开了他们的家。加沙这块飞地已被以色列用厚厚的超安全围栏包围。</p><p>一名16岁的加沙居民穆罕默德-纳吉布（Muhammad Najib）对法新社说， "这些轰炸完全是疯狂的，就像视频游戏一样。他认为，巴勒斯坦与以色列的和平是"永远不可能的"。</p>
                </div>
            
                                <br>
