---
layout: post
title: 忧制造碳排 特斯拉停止接受比特币购车 – 法国国际广播电台 - RFI
date: 2021-05-13 14:45:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%BF%A7%E5%88%B6%E9%80%A0%E7%A2%B3%E6%8E%92-%E7%89%B9%E6%96%AF%E6%8B%89%E5%81%9C%E6%AD%A2%E6%8E%A5%E5%8F%97%E6%AF%94%E7%89%B9%E5%B8%81%E8%B4%AD%E8%BD%A6
categories: rfi
---

<div>13/05/2021 - 08:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社旧金山12日电）    电动车龙头特斯拉（Tesla）今天宣布暂停让民众用比特币购车，表示制造新加密货币所需大量运算的过程会制造危害气候的碳排。</p><p>    特斯拉执行长马斯克（Elon Musk）马斯克推文表示：「我们担心比特币挖矿和交易过程中快速增加化石燃料的使用，尤其是在各种燃料中碳排最严重的煤矿。」</p><p>    「加密货币在许多层面上来看都是好主意，我们认为前景看好，但前提是这不能对环境造成巨大损失。」</p><p>    特斯拉今年2月透露已购买价值15亿美元的比特币，3月开始接受客户以比特币支付购车款项。（译者：李佩珊/核稿：徐睿承）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
