---
layout: post
title: 泰国单日新增确诊创新高  曼谷近郊监狱爆群聚感染 – 法国国际广播电台 - RFI
date: 2021-05-13 19:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B3%B0%E5%9B%BD%E5%8D%95%E6%97%A5%E6%96%B0%E5%A2%9E%E7%A1%AE%E8%AF%8A%E5%88%9B%E6%96%B0%E9%AB%98-%E6%9B%BC%E8%B0%B7%E8%BF%91%E9%83%8A%E7%9B%91%E7%8B%B1%E7%88%86%E7%BE%A4%E8%81%9A%E6%84%9F%E6%9F%93
categories: rfi
---

<div>13/05/2021 - 13:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社曼谷13日电）    泰国今天单日新增4887例2019冠状病毒疾病（COVID-19）确诊病例，创下新高纪录。首都曼谷近郊2所监狱爆发群聚感染，占新增病例超过半数，而多名民运领袖都被关在里面。</p><p>    泰国累计确诊病例达到9万3794例，其中518人死亡、6万615人康复出院、3万2661人住院治疗中。</p><p>    新增的4887确诊病例中，有超过2800例来自曼谷两所监狱。</p><p>    泰国正与第三波疫情奋战，病毒肆虐已迫使政府限制民众行动，关闭公共场所，并规定必须戴口罩。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
