---
layout: post
title: 通膨罩顶 亚股普遍延续前一天跌势 – 法国国际广播电台 - RFI
date: 2021-05-12 19:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E9%80%9A%E8%86%A8%E7%BD%A9%E9%A1%B6-%E4%BA%9A%E8%82%A1%E6%99%AE%E9%81%8D%E5%BB%B6%E7%BB%AD%E5%89%8D%E4%B8%80%E5%A4%A9%E8%B7%8C%E5%8A%BF
categories: rfi
---

<div>12/05/2021 - 13:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社香港12日电）    亚股今天持续笼罩在通膨疑虑下，延续前一天普遍跌势，市场焦急等待美国今天公布的重要物价数据。将出炉的通膨数据，恐升高外界对联邦准备理事会提早紧缩货币政策的预期心理。</p><p>    24资产管理公司（TwentyFour Asset Management）执行长霍尔曼（Mark Holman）说:「把800万人从沙发挖起来，重返职场，而不让物价比以前高，并不容易。这就是通膨风险。」</p><p>    尽管联邦准备理事会（Fed）一再表示，通膨攀升是因为经济复苏，加上去年比较基期低，官员不会进行减少购债或升息的政策调整，市场投资人仍感到不安。</p><p>    联准会的立场是在对失业率受到控制感到满意，以及通膨持续攀升一段时间以前，货币政策将维持不变。</p><p>    去年受惠疫情封锁措施，民众被迫待在家里而表现强劲的科技股，在这波卖压中首当其冲。科技股被认为容易受到升息的影响，因为借贷成本攀升恐对它们的未来获利和现金流造成冲击。</p><p>    美国上周五公布的就业数据不如预期，缓解市场对于通膨的忧虑，但通膨疑虑本周卷土重来，拖累美股连跌2天。观察家警告，美国今天公布的消费者物价指数（CPI ）若超乎预期，恐引发巨大卖压。</p><p>    多伦多道明证券公司（TD Securities）的米斯拉（Priya Misra）告诉彭博电视：「全都和通膨预期心理有关。」</p><p>    她说，倘若CPI数据显示「通膨可能持续一段时间，我想紧缩货币政策的讨论将再度浮上台面，然后就是升息行动。」</p><p>    亚洲股市今天连续第2天普遍下跌。日股日经指数昨天收盘重摔逾3%，今天续挫1.61%，收在28147.51点。港股恒生指数则是逆势上扬0.78%，收在28231.04点。上海综合指数上涨0.61%，收在3462.75点。</p><p>    台北股市今天在科技股疑虑，以及政府宣布严格防疫措施等利空下，一度重挫逾8%，尾盘跌幅收敛，终场收跌4.11%。</p><p>    至于其他亚洲股市，首尔股市收跌1.49%，新加坡股市收挫0.67%。澳洲股市收跌0.73%。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
