---
layout: post
title: 美股收低 道指自盘中35000点之上回跌 – 法国国际广播电台 - RFI
date: 2021-05-11 06:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E8%82%A1%E6%94%B6%E4%BD%8E-%E9%81%93%E6%8C%87%E8%87%AA%E7%9B%98%E4%B8%AD35000%E7%82%B9%E4%B9%8B%E4%B8%8A%E5%9B%9E%E8%B7%8C
categories: rfi
---

<div>11/05/2021 - 00:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社纽约10日电）    华尔街科技股今天受挫，道琼工业指数从盘中涨破35000点回软，终场温和收低，一连3个交易日创新高止步。</p><p>    今天盘势混乱代表本周一开始的行情震荡波动，美国当局将在本周公布零售销售和消费者物价等数据，而这些数据会左右市场对美国货币政策的预判。</p><p>    道琼工业指数下跌34.94点或0.10%，以34742.82点作收。</p><p>    标准普尔指数下挫44.17点或1.04%，收在4188.43点。</p><p>    科技股那斯达克指数大跌350.38点或2.55%，收13401.86点。（译者：张佑之）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
