---
layout: post
title: 一连四日无本地个案 有医生指香港未来四周有望「清零」 全港学校月内复课
date: 2021-05-11 15:45:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B8%AF%E6%BE%B3%E5%8F%B0/20210511-%E4%B8%80%E8%BF%9E%E5%9B%9B%E6%97%A5%E6%97%A0%E6%9C%AC%E5%9C%B0%E4%B8%AA%E6%A1%88-%E6%9C%89%E5%8C%BB%E7%94%9F%E6%8C%87%E9%A6%99%E6%B8%AF%E6%9C%AA%E6%9D%A5%E5%9B%9B%E5%91%A8%E6%9C%89%E6%9C%9B-%E6%B8%85%E9%9B%B6-%E5%85%A8%E6%B8%AF%E5%AD%A6%E6%A0%A1%E6%9C%88%E5%86%85%E5%A4%8D%E8%AF%BE
categories: rfi
---

<div>11/05/2021 - 09:24</div><img src="https://s.rfi.fr/media/display/a4150f32-b229-11eb-a0ff-005056a9b1a7/w:310/p:16x9/2021-04-26T031015Z_209796756_RC2F3N9OC6KX_RTRMADP_3_HEALTH-CORONAVIRUS-HONGKONG-EXAM.JPG"><div class="t-content__body u-clearfix" >
                    <p>林郑月娥今(11日)早出席会议前表示，当局追踪首宗小社区变种病毒个案后，发现引起七宗相连个案，显示变种病毒个案未有在社区大型爆发，但由于病毒潜伏期长，当局会继续密切监察。 </p><p>另外，她又说，香港过去十四天只有十一宗本地感染个案，当中只有一宗源头不明，即是七天平均数少于一宗病例，源头不明病例更是少于0.01宗，显示本地疫情稳定趋好。 </p><p>而在今早的电台节目中，呼吸系统专科医生梁子超更表示，未来两至四星期，香港疫情有机会达致「清零」，但真正的考验是要长期维持「清零」，如果疫情反弹，将要重新收紧防疫措施。为此，他对入境人士或本地紧密接触者于接种疫苗14日并符合特定条件者，可缩减检疫期的新检疫安排有保留，认为这容易造成漏网之鱼，因为现时八成输入个案的患者都没有病征，如果以自我监察代替检疫，病毒便有机会流入社区，届时将后患无穷，有可能引致持续传播或大爆发。 </p><p>不过，对于香港「清零」，香港大学感染及传染病中心总监何栢良今早在不同的电台节目有不同的预测，他表示，武肺将会成为风土病，透过接种疫苗产生免疫，只能将影响减至最低，减少传播及重症伤亡的风险，现今世上，只有少数地方，包括中国内地和澳门能达致个案「清零」，香港应该不能达到「清零」。  </p><p>截至今早，香港累积有11812人确诊武汉肺炎，210人死亡，2人危殆。</p>
                </div>
            
                                <br>
