---
layout: post
title: 日本政府应对疑似中俄朝网络攻击
date: 2021-05-13 23:45:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%9B%BD%E9%99%85/20210513-%E6%97%A5%E6%9C%AC%E6%94%BF%E5%BA%9C%E5%BA%94%E5%AF%B9%E7%96%91%E4%BC%BC%E4%B8%AD%E4%BF%84%E6%9C%9D%E7%BD%91%E7%BB%9C%E6%94%BB%E5%87%BB
categories: rfi
---

<div>13/05/2021 - 17:30</div><img src="https://s.rfi.fr/media/display/0b6e68e4-d2ac-11ea-8c5c-005056a98db9/w:310/p:16x9/w1024-p16x9-w9s-MUKUHgZ58aFyZPPzwwgOOAFB6F-Bpmsg2H-3dpzKLDP_QK8bV2qegczmu_nR9wEQJXnh54udCNc4tPOfZwNIJUq_-54Qn2zVO-lGMXAH8i7fiPJRuf-h6V1iZZw.jpg"><div class="t-content__body u-clearfix" >
                    <p>据共同社报道，日本政府今天召开网络安全战略会议，应对疑似与中俄朝有关联的网络攻击，旨在加强防御力，提升外交和安全领域的网络保障优先度，并就今年9月将成立“数字厅”推进合作，争取在东京奥运后的内阁会议上敲定网络新战略。</p><p>担任网络安全战略总长的日本官房长官加藤胜信在这次会上表示：“为了全面应对网络攻击，希望大家就发掘和培养人才以及强化体制，进行具体讨论。”</p><p>该报道说，2019年的日美外交和防务阁僚磋商将网络攻击列入《日美安保条约》第五条适用对象，此次会议提及了这项成果。</p><p>这次网络安全战略会议还例举了“疑似中方参与”的针对日本宇航究发机构（JAXA）等大约200家日本机构的攻击案例，写明对上述攻击要采取“包括外交和刑事起诉手段在内的应对措施”。</p><p>会议要点指出，在新冠疫情影响下，远程办公和在线教育已深入生活，社会发生了变化。会议提出“谁都不被抛下的网络安全”理念，强调要“确保自由、公平且安全的网络空间”。</p><p>此外，日本政府今天举行的网络安全战略会议还涉及完善东京奥运会和残奥会的安全能力，谋求确保日本全国网络安全。</p>
                </div>
            
                                <br>
