---
layout: post
title: 中国人口达14.1亿 增幅放缓 官称老龄化成基本国情
date: 2021-05-11 15:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210511-%E4%B8%AD%E5%9B%BD%E4%BA%BA%E5%8F%A3%E8%BE%BE14-1%E4%BA%BF-%E5%A2%9E%E5%B9%85%E6%94%BE%E7%BC%93-%E5%AE%98%E7%A7%B0%E8%80%81%E9%BE%84%E5%8C%96%E6%88%90%E5%9F%BA%E6%9C%AC%E5%9B%BD%E6%83%85
categories: rfi
---

<div>11/05/2021 - 08:53</div><img src="https://s.rfi.fr/media/display/1d1ada38-b225-11eb-b804-005056bff430/w:310/p:16x9/2021-05-10T103733Z_1830236896_RC2YCN9WMGXA_RTRMADP_3_CHINA-SOCIETY-CENSUS.JPG"><div class="t-content__body u-clearfix" >
                    <p>外媒早前报道，中国总人口低于预期的14亿，人口红利和退休金等问题随即浮现，故此没有如期公布人口普查结果，但中国国家统计局今(11日)早公布的第七次全国人口普查结果指出，中国人口共14亿1178万人，统计局局长宁吉喆在记者会上表示，中国仍是世界第一人口大国，人口红利继续存在，保持了大规模国内市场的优势，全国16至59岁劳动年龄人口为8.8亿人，劳动力资源仍然充沛，人口平均年龄是38.8岁，和美国的人口平均年龄38岁相若。</p><p>但他承认，人口增长未来会到达峰值，相信会在14亿的数字维持一段时间；而中国人口増长速度亦已放慢，未来会采取措施促进人口增长，优化生育政策。他引述普查结果指出，中国少儿人口比重回升，14岁以下人口占近18%，上升1.35个百分点，反映生育政策调整取得积极成效。而「二孩」占出生人口的比率，已由2013年的近三成上升到2017年的五成。</p><p>普查结果又显示，15至59岁人口占总人口六成三，60岁及以上则占一成八，上升5.44个百分点，显示人口老化程度加深。宁吉喆指出，除老龄化程度加深，中国人口发展面临的其他结构性矛盾包括劳动年龄人口和育龄妇女规模下降、总和生育率下降，出生人口数量走低等。</p><p>男女比例方面，中国男性继续较女性多，男性人口占五成一，女性占四成八，男性对女性的比例为105.07，与十年前的水平基本持平，略有降低。此外，中国的家庭规模持续缩小，全国家庭共有4.9亿户，每个家庭平均人口为2.62人，较上一次普查的3.1人少。</p><p>另一方面，城镇人口占比达六成三，较2010年的普查升逾14个百分点，乡村人口则只占三成六，反映中国新型城镇化进程稳步推进。</p><p>宁吉喆表示，人口问题是中国面临的全局性、长期性和战略性问题，会按人口普查的结果分析，推出有针对性的人口相关战略和政策，促进人口长期均衡发展。</p>
                </div>
            
                                <br>
