---
layout: post
title: 以色列军方：本周约1500枚火箭射自加萨 – 法国国际广播电台 - RFI
date: 2021-05-13 11:15:08.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BB%A5%E8%89%B2%E5%88%97%E5%86%9B%E6%96%B9-%E6%9C%AC%E5%91%A8%E7%BA%A61500%E6%9E%9A%E7%81%AB%E7%AE%AD%E5%B0%84%E8%87%AA%E5%8A%A0%E8%90%A8
categories: rfi
---

<div>13/05/2021 - 05:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社耶路撒冷13日电）    以色列军方今天表示，哈玛斯（Hamas）武装分子10日以来自加萨（Gaza）发射约1500枚火箭攻击以色列。</p><p>    以色列国防军昨天曾说，10日晚间以来有1000枚火箭自加萨发射，但到今天早上，火箭数量又激增约500枚。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
