---
layout: post
title: 在以色列、美国和俄罗斯之间 谁拥有世界上最好的导弹防御系统？ | 以色列 | 半岛电视台
date: 2021-05-16 04:36:05.000000000 +08:00
link: http://chinese.aljazeera.net/opinions/long-reads/2021/3/27/%e5%9c%a8%e4%bb%a5%e8%89%b2%e5%88%97%e7%be%8e%e5%9b%bd%e5%92%8c%e4%bf%84%e7%bd%97%e6%96%af%e4%b9%8b%e9%97%b4%e8%b0%81%e6%8b%a5%e6%9c%89%e4%b8%96%e7%95%8c%e4%b8%8a%e6%9c%80%e5%a5%bd%e7%9a%84%e5%af%bc
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/Snipaste_2021-03-27_09-30-13.png?resize=570%2C380" srcSet="/wp-content/uploads/2021/03/Snipaste_2021-03-27_09-30-13.png?resize=120%2C80 120w, /wp-content/uploads/2021/03/Snipaste_2021-03-27_09-30-13.png?resize=270%2C180 270w, /wp-content/uploads/2021/03/Snipaste_2021-03-27_09-30-13.png?resize=375%2C250 375w, /wp-content/uploads/2021/03/Snipaste_2021-03-27_09-30-13.png?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><p>“飞行的天然气管道”，伦敦人<a href="https://books.google.com.eg/books?id=aUk5DAAAQBAJ&amp;printsec=frontcover">这样</a>描述1944年9月开始在其城市上空落下的德国V-2导弹，当纳粹成功占领荷兰并在海牙市安装导弹发射器以攻击英国——第二次世界大战中最重要盟国——时，纳粹导弹计划是当时世界上第一个此类计划，而盟军的武器仅限于投掷炸弹。</p>
<p>V-2导弹与炸弹不同，由于其超音速的速度且在没有警告或发出噪音情况下落下，因此，一些官员试图将最初造成的损害归因于英国地面管道或加油站爆炸，但有公众看到这种导弹在空中飞行，并且落在没有管道或加油站的地方，随着时间的流逝，这导致了对政府关于“希特勒无法到达伦敦”断言的讽刺，希特勒当时确实是通过那些完全不属于欧洲和世界技术的“飞管”到达了英国。</p>
<figure id="attachment_181774" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-181774" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/1-4.png?w=770&amp;resize=770%2C433" data-recalc-dims="1" />德国V-2导弹的建造基于美国陆军在第二次世界大战中捐赠的导弹</figure>
<p>V-2导弹是德国生产“<a href="http://www.bbc.com/future/story/20140905-the-nazis-space-age-rocket">超级英雄或奇迹</a>”武器（Wunderwaffe）计划的一部分，其内部装有“发动机”，可以继续到达地球表面八十多公里，并装有瞄准系统，射程超过150公里的定向系统。</p>
<p>毫不奇怪，在第二次世界大战结束后，美国人和俄国人就展开了获得这种“奇妙”武器的竞赛，俄国人占领了德国之后，成功地获得了纳粹导弹工厂的残余物，与此同时，美国人则成功吸引了大多数从事纳粹导弹计划工作的德国科学家。慢慢地，V-2导弹开始出现在美国和俄罗斯，其中包括用于太空研究和登陆月球的导弹，但在冷战两极之间展开的导弹竞赛很快打开另一场比赛的大门：一场应对这些导弹的防御系统的军备竞赛，以免这两个国家都可以保护自己的天空免受世界大战中英国首都所遭遇的袭击。</p>
<h3>美国与俄罗斯：领导地位</h3>
<p>如今，德国导弹计划遗产仍然使美国人和俄罗斯人在军事上占据领导地位，特别是在导弹和防空系统领域，时至今日，导弹防御系统除了由可检测任何导弹、飞机或敌方物体的卫星发出信号外，还包括雷达站，然后，分配导弹发射器在这些物体到达目标之前拦截它们。</p>
<p>在1972年至2002年的30年间，苏联和美国承诺遵守《<a href="https://www.armscontrol.org/factsheets/abmtreaty">反弹道导弹条约</a>》，根据该协定，两国承诺仅拥有两个导弹防御系统，而每个系统配备导弹不能超过100枚，但是，伊朗和朝鲜不断增长的危险，以及武装团体使用可能会穿透美国领空物体的危险，促使时任总统布什在2002年退出该协议，然后有效地终止了该协议，世界重返防空导弹系统竞赛。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-181778" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/2-2.png?w=770&amp;resize=770%2C491" data-recalc-dims="1" /></p>
<p>如今，美国制定了<a href="https://www.mda.mil/system/gmd.html">GBMD</a>地面防御计划，以拦截可能从朝鲜、伊朗或俄罗斯发射的远程弹道导弹，这是专门保护美国领土的系统。至于允许出口到国外的国际联盟和系统，美国拥有“宙斯盾”海上导弹防御系统，华盛顿及其亚洲和欧洲的一些<a href="http://www.realcleardefense.com/articles/2017/02/21/us-japan_anti-missile_test_a_good_sign_for_europe_110840.html">盟友享</a>有海上掩护，其中最突出的就是日本和北约成员国，日本正在参与研究以自行开发“宙斯盾”系统。</p>
<p>“宙斯盾”系统的特征是安装在军舰和驱逐舰上的一组导弹发射器和雷达设备，该系统主要针对“战术”导弹，即中短程导弹，如今美国<a href="https://www.mda.mil/system/aegis_bmd.html">拥有</a>33艘装有“宙斯盾”的舰船系统中，太平洋16艘，大西洋17艘。</p>
<p>回到地面防御，美国军事工业以<a href="https://www.armscontrol.org/factsheets/usmissiledefense">PAC-3</a>爱国者防空导弹系统而闻名，该系统在北约国家中广泛使用，目前在德国、西班牙、希腊和<a href="https://www.csis.org/analysis/looking-east-european-air-and-missile-defense-after-warsaw">罗马尼亚</a>以及以色列、日本、韩国、台湾和<a href="https://www.airspacemag.com/military-aviation/does-missile-defense-actually-work-18626187/">沙特阿拉伯</a>都存在该系统，在海湾战争期间，PAC-3爱国者防空导弹系统成功拦截了萨达姆·侯赛因发射的导弹，在卡塔尔、科威特和阿联酋也存在这种系统，该系统旨在拦截短程导弹和中程导弹，北约最近在土耳其<a href="https://www.nato.int/nato_static_fl2014/assets/pdf/pdf_2017_01/20170113_1701-factsheet-patriot_en.pdf">安装</a>了爱国者组件，以确保其领空免受来自叙利亚领土的任何袭击；今天，美国拥有约1100个爱国者导弹发射器，此前已经生产了约1280个发射器。</p>
<p>最后，我们到达了最新且最高效的美国系统，即THAAD防御系统，该系统旨在拦截地球大气层以外长达200公里高空中的中小型导弹，据许多消息人士指出，由于朝鲜导弹计划带来的危险与日俱增，韩国——<a href="https://international.thenewslens.com/article/114395%20">很可能</a>——是在美国境外获得这款先进防空导弹系统的第一个国家，由于THAAD防御系统的雷达设备<a href="https://mostlymissiledefense.com/2016/07/17/thaad-radar-ranges-july-17-2018/">监视</a>范围包括中国北方在内的附近地区，这激怒了中国。</p>
<figure id="attachment_181780" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-181780" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/3-1.png?w=770&amp;resize=770%2C434" data-recalc-dims="1" />THAAD防御系统在进行测试过程中成功拦截导弹的照片</figure>
<p>再看看俄罗斯，莫斯科军械库拥有<a href="https://nationalinterest.org/blog/the-buzz/russias-scary-s-400-air-defense-system-now-protecting-the-19070">S-400防空导弹系统</a>，该系统被认为等同于美国的THAAD防御系统，俄罗斯已将最新款S-400防空导弹系统放置在其西部各州不同地区，尤其是位于波兰和波罗的海国家之间的加里宁格勒省。克里米亚半岛纳入俄罗斯之后，莫斯科又将另一个系统放置在克里米亚半岛，然后让它几乎完全控制黑海的气氛。此外，俄罗斯于2015年12月将S-400防空导弹系统放置在叙利亚城市拉塔基亚。</p>
<p>尽管宣布了几笔出售S-400系统的交易，此外，还有许多国家宣称愿意购买这款防御系统，但俄罗斯尚未将其交付给除<a href="https://economictimes.indiatimes.com/news/defence/china-successfully-tests-russias-s-400-missile-air-defence-system/articleshow/67267551.cms%20">中国</a>以外的任何国家，中国——在俄罗斯控制边界之外——是接收S-400防空导弹系统的第一个国家，该国于2018年获得了俄罗斯防御系统，此外，俄罗斯最近与北约主要成员国<a href="https://www.dailysabah.com/defense/2019/07/31/turkey-to-have-complete-control-over-s-400-defense-system-official-says">土耳其</a>就购买防御系统达成共识，已宣布的协议包括与<a href="https://thediplomat.com/2019/07/russia-confirms-delivery-of-s-400-air-defense-systems-to-india-will-begin-in-2020/">印度</a>达成的一项协议，该协议原定于2020年接收S-400防空导弹防御系统，但由于美国的反对而被推迟。</p>
<p>在俄罗斯军火库中的还有<a href="https://nationalinterest.org/feature/america-vs-russia-will-missile-defense-help-global-nuclear-18124?page=2">S-300V-4系统</a>，这相当于美国爱国者系统，该系统在拦截低至60公里，最大射程达4公里的导弹时效率更高。并拥有S-300和S-400防空导弹系统，受这两种系统保护的天空几乎不受大多数​​类型导弹和飞机的影响，但美国较先进的F-22和F-35战斗机除外。但是，这些防御系统的大量存在可能会阻碍上述三款隐形飞机的工作。</p>
<p>因此，这些坚不可摧的系统巩固了美国人、俄国人及其盟友的天空安全，直到现在，也许在很长一段时间内，这些国家一直占据世界导弹防御系统宝座，但亚洲其他三个国家和地区的军事工业正在全面发展，以追赶先进行列，这三个国家是：中国、印度和以色列。</p>
<h3>中国与印度：亚洲的两极</h3>
<p>我们不确切知道中国是如何获得美国<a href="https://books.google.com.eg/books?id=ZniTDAAAQBAJ&amp;printsec=frontcover">爱国者防御系统复制品</a>，但是可以肯定的是，中国获得美国防御系统复制品要么是通过“以色列人”——他们对此予以否认，要么是通过德国，正如其他分析人士所建议的那样。作为美国战略竞争对手，中国绝不是任何美国军事产品的市场，但中国在1990年代成功购买了爱国者防御系统电池，使其能够与从俄罗斯获得的S-300技术相结合，以完成红旗-9（HQ-9）的研制成功，这是中国迄今为止拥有的最先进系统。</p>
<p><a href="https://www.globalsecurity.org/military/world/china/hq-9.htm">红旗9</a>号系统可以拦截各种类型的战斗机、直升机、无人机（中型）、中程和远程导弹以及制导炸弹，但有些人认为，即使该系统包含“爱国者”一部分，其效率也低于俄罗斯同类系统，这反映在中国继续依赖从俄罗斯购买的S-300武器上，其中拥有三套陆地系统和1套海洋系统，保护中国海岸。</p>
<p><a href="http://www.military-today.com/missiles/hq9.htm">红旗9号系统</a>是中国近年来生产的最先进防御系统，<a href="http://www.ausairpower.net/APA-2010-02.html#mozTocId243268">对中国军</a>事工业来说是一次飞跃，促使多个国家对中国研制的防御系统感兴趣，特别是在本世纪初，土耳其与中国华腾工业有限公司（<a href="https://www.aljazeera.net/midan/reality/politics/2021/3/26/%D8%A7%D9%84%D8%A3%D8%B1%D8%B6-%D8%A7%D9%84%D8%A8%D8%A7%D9%84%D9%8A%D8%B3%D8%AA%D9%8A%D8%A9-%D8%B9%D9%85%D8%A7%D9%84%D9%82%D8%A9-%D8%A7%D9%84%D8%AF%D9%81%D8%A7%D8%B9">CPMIEC</a>）进行磋商，并于2013年选择了这家中国公司，同时，土耳其公司参与零部件的生产，但这笔交易最终被搁置，土耳其继续考虑购买俄罗斯S-400防空系统或法国-意大利阿斯特导弹系统。</p>
<figure id="attachment_181784" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-181784" src="https://chinese.aljazeera.net/wp-content/uploads/2021/03/Snipaste_2021-03-27_12-38-07.png?w=770&amp;resize=770%2C561" data-recalc-dims="1" />中国华腾工业有限公司（路透社）</figure>
<p>中国正在开发相当于美国THAAD的国内导弹防御系统“红旗19号”，尽管不确定，但类似导弹已在2015年成功测试，并被认为是“<a href="https://www.thedailybeast.com/did-china-just-test-a-new-satellite-killer">红旗19号</a>”，此外，中国正在进行“红旗26号”（相当于美国作为“宙斯盾”海军系统一部分使用的SM-3导弹）和“红旗29号”（相当于爱国者系统）的研究，为了与美国——现在是中国的主要竞争对手——技术保持同步，中国一直在与俄罗斯进行交易，以获取中国军火库中所缺少的诸如S-300之类的俄罗斯武器。</p>
<p>在亚洲另一侧，印度拥有两个防御系统，即大地防空系统（PAD）和先进防空系统（AAD）两种反导系统，前者旨在拦截50公里至80公里高空的导弹，后者旨在拦截最多不超过三十公里的低空火箭，但是，印度在这一领域的国内工业仍无法与中国竞争，因此，部分依赖于俄罗斯的S-300系统，旨在能够跟上导弹和防空领域的这个巨人。</p>
<p>印度在90年代与以色列建立了紧密的军事伙伴关系，双方当时宣布在以色列协助下开始在印度制造巴拉克-8（<a href="https://defenceprojectsindia.wordpress.com/2012/11/22/barak-8-missiles-israel-india/">Barak-8</a>）防空导弹系统，此外，印度近年来表现出有兴趣拥有以色列“铁穹”和“箭”式反导系统，为了对抗所谓的中国与巴基斯坦之间的高级战略军事协调，后者的导弹计划不可忽略，此外，伊朗在印度附近拥有财产。</p>
<p>尽管在过去二十年中，印度与美国和睦相处，但印度军事工业仍然主要依赖自冷战以来与俄罗斯的紧密伙伴关系，由于印度是当今世界上最大俄罗斯武器购买国，当过去几年宣布的出售交易开始执行时，印度人正在等待获得俄罗斯的S-400系统，然后印度人正在等待俄罗斯S-400系统的启动，由于以色列专业应对印度面临的类似危险，他们现在对以色列军事工业能提供的东西越来越感兴趣。</p>
<h3>以色列：不懈的决心</h3>
<p>毫不夸张地说，“以色列”是导弹防御地图上五个最重要的国家之一，其导弹防御计划各不相同，这取决于以色列在地理位置上和人口总数上是一个小国，而且特拉维夫将其视为敌人或竞争对手，此外，“以色列”不断参与各种冲突，从与哈马斯和真主党的战争到对伊朗政权的主要敌视。</p>
<p>“以色列”目前拥有由以色列国有军工企业拉斐尔国防系统公司研发的著名先进“铁穹”防御系统，该系统设计用于打击射程为4公里至70公里的导弹，根据以色列人说法称，“<a href="https://www.jpost.com/Defense/Iron-Dome-ups-its-interception-rate-to-over-90-percent">铁穹</a>”防御系统声誉在最近与哈马斯的战争中广为流传，成功拦截了来自加沙地带的许多火箭弹，这促使一些国家要求购买这种防御系统，其中包括与亚美尼亚发生冲突的<a href="https://www.jpost.com/Israel-News/Politics-And-Diplomacy/Azerbaijan-We-have-closed-deal-to-buy-Israels-Iron-Dome-Missile-System-475732">阿塞拜疆</a>，后者则使用俄罗斯最新的导弹。</p>
<p>以色列还拥有先进的“<a href="https://www.aljazeera.net/news/reportsandinterviews/2015/4/5/%D9%85%D9%82%D9%84%D8%A7%D8%B9-%D8%AF%D8%A7%D9%88%D8%AF-%D8%B3%D9%84%D8%A7%D8%AD-%D8%A5%D8%B3%D8%B1%D8%A7%D8%A6%D9%8A%D9%84%D9%8A-%D9%8A%D8%B3%D8%AA%D9%84%D9%87%D9%85-%D8%A7%D9%84%D8%B1%D9%85%D8%B2">铁梁</a>”激光防御系统，<a href="http://www.armyrecognition.com/weapons_defence_industry_military_technology_uk/israeli_army_idf_expects_to_deploy_new_rafael_iron_beam_laser_air_defense_system_this_year_1301154.html">该系统</a>可与激光共同作用于射程不超过7公里的导弹，通过将激光束引向导弹以将其加热然后摧毁来瞄准导弹。此外，美国雷声技术公司和以色列拉斐尔高级防御系统公司合作生产“大卫弹弓”系统，旨在拦截射程为70公里至300公里的目标，在完成并经过全面测试后，预计“大卫弹弓”系统将取代目前在以色列安置的爱国者系统。</p>
<p>以色列还拥有“<a href="http://www.reuters.com/article/us-israel-missiles-idUSKBN15229U">箭</a>”弹道导弹防御系统，该系统在1990年代就生产了“箭-1”和“箭-2”，并于2000年被激活以对抗远程导弹，最重要的是，最近由以色列航空航天工业公司与美国波音公司合作在2008年生产的“箭-3”系统，其可以拦截大气层以外的火箭，这是“以色列”所需要的技术，由于以色列认为伊朗可能会使用携带核弹头的导弹将其作为目标，因此，有必要将其尽可能远离空域。</p>
<p>与其他国家相比，以色列更热衷于面对各种风险，促使其拥有这些不同的系统，一方面，以色列对伊朗所拥有的特别感兴趣，后者拥有世界上<a href="https://www.businessinsider.com/irans-ballistic-missiles-could-be-a-wild-card-in-the-middle-east-2015-6">最强大</a>的导弹计划之一，其范围达两千公里，覆盖所有海湾国家、俄罗斯南部和东部国家、欧洲、土耳其、以色列、埃及北部和中亚大部分地区，此外，多个国家与俄罗斯保持密切关系，例如现在的叙利亚阿萨德政权，以及过去的伊拉克萨达姆政权和埃及的纳赛尔政权，这就是促使其与美国数十年来共同发展自己防御系统的原因，而且仍在推动其继续保持与俄罗斯导弹技术同步的伙伴关系，即使“以色列”不是俄罗斯的敌人。</p>
<p>因此，这五个大国塑造了导弹防御竞赛轮廓，美国和俄罗斯继续占主导地位，与此同时，俄罗斯继续坚持更为开放的政策，即向非西方大国提供俄罗斯技术，正如俄罗斯对中国、印度和伊朗所采取的措施，但在另一边，在多个军事领域，美国仍然保持着至高无上的领先地位。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台</div>
