---
layout: post
title: 龙卷风肆虐中国苏州与武汉  至少10死逾300人伤 – 法国国际广播电台 - RFI
date: 2021-05-15 15:45:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E9%BE%99%E5%8D%B7%E9%A3%8E%E8%82%86%E8%99%90%E4%B8%AD%E5%9B%BD%E8%8B%8F%E5%B7%9E%E4%B8%8E%E6%AD%A6%E6%B1%89-%E8%87%B3%E5%B0%9110%E6%AD%BB%E9%80%BE300%E4%BA%BA%E4%BC%A4
categories: rfi
---

<div>15/05/2021 - 09:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社北京15日电）    中国当局今天指出，华中的武汉与华东的苏州遭遇龙卷风侵袭，造成至少10人丧命，伤者超过300人。</p><p>    昨晚肆虐华中城市武汉的龙卷风，风速超过每小时100公里，造成6人死亡，超过200人受伤，大约有30户民宅倒塌。</p><p>    不少车辆被龙卷风袭卷而坠落的东西砸毁，树木连根拔起，建筑物被毁损，电塔倒塌，造成逾2万6000户停电。</p><p>    至于邻近上海的苏州，则是遭到时速超过200公里的龙卷风蹂躏而满目疮痍，造成4人死亡与1人失踪。</p><p>    民众争相上传社群网站的图像，显示黑压压的一阵旋风所经之处灾情惨重。</p><p>    邻近上海的另个城镇江苏省南通市，5月初遭遇冰雹及大范围雷暴强风，导致路树倾倒，砸毁房屋，电线杆被吹断，造成11人死亡、102人受伤。（译者：曹宇帆）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
