---
layout: post
title: 马克龙妥协了吗？气候立法引发全法大游行
date: 2021-05-10 22:45:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%B3%95%E5%9B%BD/20210510-%E9%A9%AC%E5%85%8B%E9%BE%99%E5%A6%A5%E5%8D%8F%E4%BA%86%E5%90%97-%E6%B0%94%E5%80%99%E7%AB%8B%E6%B3%95%E5%BC%95%E5%8F%91%E5%85%A8%E6%B3%95%E5%A4%A7%E6%B8%B8%E8%A1%8C
categories: rfi
---

<div>10/05/2021 - 16:36</div><img src="https://s.rfi.fr/media/display/8cd1aeca-b193-11eb-ad71-005056bf87d6/w:310/p:16x9/Capture%20d%E2%80%99e%CC%81cran%202021-05-10%20a%CC%80%2015.26.54.png"><div class="t-content__body u-clearfix" >
                    <p>限制空中客运，发展铁路客运，推出素食菜谱，支持节能装修，禁止排放不达标的房屋出租，禁止销售部分种类汽车，不排除回归生态税...5月4日，法国下院以332票支持，77票反对，145票弃权，通过了气候法草案的审阅表决，该草案原则上体现了公民气候协约委员会产生的149项提议精神（实则只原样采纳了其中很小一部分），接下来将继续上院表决等立法流程。公民气候协约委员会成立于法国黄背心危机当中，总统马克龙当时承诺，既不会放弃社会公平原则，也不会放弃法国的减排目标。</p><p>重视气候变化，维护生态平衡，是马克龙胜选总统之际做出的重要承诺。2022年即将迎来新一轮大选，有关马克龙的生态立法成绩，示威者们在9日大游行期间给出了不尽人意的“印象分”：“缺乏雄心”，“缺乏目标”，“妥协软弱”，“只采纳了公民气候协约委员会提出的建议的10%”；另外民众还担心承诺过的决定气候与生物多样性入宪的全民公投，会否在总统的模棱两可当中消失... 根据组织方数据，11万5千人参加了全国165支游行队伍，警方数据暂时不详。</p>    <div  data-wrapper-video-player data-show-hidden-video-player="WBMZ32976-RFI-CN-20210510">
        <div class="m-em-video">
                        <div data-hidden-video-player="WBMZ32976-RFI-CN-20210510" v-cloak>
                <div class="m-em-video__video-wrapper video-type-youtube">
                                    <youtube-player
    type="em"
    video-type="youtube"
    source="https://www.youtube.com/embed/qMEBm78_sms"
    video-id="qMEBm78_sms"
    locale="zh-CN"
            embed_config="{&quot;primaryThemeColor&quot;:&quot;#e2001a&quot;}"
        image="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/8cd1aeca-b193-11eb-ad71-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;Capture%20d%E2%80%99e%CC%81cran%202021-05-10%20a%CC%80%2015.26.54.png&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"    autoplay        >
</youtube-player>
                </div>
            </div>
                            
<figure class="m-figure m-figure--16x9">
    <div class="m-figure__img-wrapper">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="5月9日巴黎气候大游行示威者"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/8cd1aeca-b193-11eb-ad71-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;Capture%20d%E2%80%99e%CC%81cran%202021-05-10%20a%CC%80%2015.26.54.png&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;16x9&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/8cd1aeca-b193-11eb-ad71-005056bf87d6/w:310/p:16x9/Capture%20d%E2%80%99e%CC%81cran%202021-05-10%20a%CC%80%2015.26.54.png" alt="5月9日巴黎气候大游行示威者"
class="m-figure__img"/>
</noscript><button class="m-main-media-btn" aria-label="播放影片">
            <span class="m-main-media-btn__picto"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M30 0A30 30 0 1 1 0 30 30 30 0 0 1 30 0z" fill="#fff" opacity=".77"/><path d="M23.417 17.138v26.491l19.861-13.232z"/></svg>
</span>
</button>
    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >5月9日巴黎气候大游行示威者</span>                <span class="a-media-legend">© AP</span>            </figcaption>
            </figure>
                                </div>
    </div>

                </div>
            
                                <br>
