---
layout: post
title: 当下热门 信息碎片化如何将我们引向冲突而非知识？ | 世界 | 半岛电视台
date: 2021-05-10 19:06:04.000000000 +08:00
link: http://chinese.aljazeera.net/opinions/long-reads/2021/5/10/%e5%bd%93%e4%b8%8b%e7%83%ad%e9%97%a8%e4%bf%a1%e6%81%af%e7%a2%8e%e7%89%87%e5%8c%96%e5%a6%82%e4%bd%95%e5%b0%86%e6%88%91%e4%bb%ac%e5%bc%95%e5%90%91%e5%86%b2%e7%aa%81%e8%80%8c%e9%9d%9e%e7%9f%a5%e8%af%86
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/حمى-الترند-11.jpg?resize=570%2C380" srcSet="/wp-content/uploads/2021/05/حمى-الترند-11.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/05/حمى-الترند-11.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/05/حمى-الترند-11.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/05/حمى-الترند-11.jpg?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><p>您是否尝试过用盐水漱口保护自己免受新冠病毒的侵害？您是否没有确认其正确性便与其他人共享了这些虚假信息？如果您没有这样做，那么您最近一次在社交媒体上对某一事件发表评论或对政治事件发表长篇大论是什么时候？无论如何，即使您没有这样做，您身边的其他人出于一个简单的原因也会这样做，那就是不会错过“热门”。</p>
<p>热门，趋势或互动性最高的事件是社交媒体在人群中推广的文化，使人们成为事件的掌舵者，使他们充满了以任何可能的方式捕捉事件并对其进行评论的热情，在很多情况下，准确性、来源或标准无关紧要，重要的是我们不会错过火车，发表自己的意见和评级。</p>
<p>这种现象使每个人几乎在谈论一切，并把例外作为规则，在不了解的情况下影响沉默说话的人已成为“无知者喋喋不休”军团中最稀有的人。社交媒体如何使我们对发表评论如此狂热？技术真的帮助我们改变了吗？更重要的是，为什么荒谬的言论如此盛行？</p>
<p><img class="aligncenter size-arc-image-770 wp-image-191698" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/الصورة-المستطيل-2.png?w=770&amp;resize=770%2C1089" data-recalc-dims="1" /></p>
<h3>没有终点的竞赛</h3>
<p>1996年，美国心理学家金伯利·杨进行了一项专门研究，题为“网瘾：一种新型临床疾病的出现”，她得出的结论是，一些互联网用户患有与病理性赌博相关的相同症状，她说，使用病理性赌博和网络成瘾进行比较，可以将后者定义为不需要刺激性物质的“冲动控制障碍”。</p>
<p>作家易卜拉欣·萨克兰在分析社交媒体上对网络事件“滔滔不绝”现象中提到“成瘾行为”，因为成瘾的范围从整个互联网缩小到了“刷社交媒体”，社交媒体通过一系列有吸引力的机制将用户注意力转移到它身上，其中最重要的是不间断的浏览。</p>
<p>如“社交困境（Social dilemma）”纪录片所述，为了保持这种连绵不断，社交媒体公司无休止地收集用户数据，提供一种更具诱惑的环境，使用户长时间停留在自己的网站上，它们操纵信息，发展不间断提供信息的能力，并使之成为一条永无止境的信息流，手指每次在屏幕上滑动时，一分钟前看到的内容消失，新内容（帖子、照片和视频）等待您去浏览。</p>
<figure id="attachment_191702" style="width:640px" class="wp-caption aligncenter"><img class="size-arc-image-770 wp-image-191702" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/sddefault-1.jpg?w=640&amp;resize=640%2C480" data-recalc-dims="1" />(社交网站)</figure>
<p>因此，链接、新闻和“热门”评论将不断更新，以免削弱您对“刷手机”的沉迷感，所有内容都以简单而有趣的方式呈现，给用户传统媒介提供不了的体验：即时和互动，“追随者一听到新闻，无论是全球新闻还是本地新闻，他都会急于打开社交网站，不是寻求专门的分析，而是查看人们的评论和反应，他可能会参与其中，评论引发回复，回复引起回复，如此形成不间断的评论趋势<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p>面对这种现象，网络用户不再收到原始的旧新闻或专家分析过的新闻，而是相反，萨克兰指出，事件变成了通过一系列新闻、评论和敌对评论不断壮大和传播的双重新闻。在骚扰、处罚、对犯罪者和受害者的社会观念等问题上的冲突中，我们可以准确、密切地观察到这种现象。这种洪水般的参与程度可能掩藏了任何基于知识和分析的客观评论，反而充斥着对事件没有任何好处的大声疾呼、争执和互相指控。</p>
<p>这种有意识的和无知的混合动力从未止步于社会问题，同样的事情在政治、经济、宗教或医学问题上也会发生。识别信息需要大量的知识以及耐心，但这并不是流量文化所支持的，社交媒体的政策也不允许这样做，因为先人一步比真理更重要，增加互动比使用户受益更重要，因此智能手机成为一个虚拟沙龙，不管何时何地，为人们提供一个辩论的场所，这使我们可以探索这个新世界，虚拟的屏幕世界将我们变成了永不停歇的参赛者。</p>
<p><img class="aligncenter size-arc-image-770 wp-image-191696" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/صورة-ميدان-12.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<h3>“我上电视了”</h3>
<p>谁来评判谁？这是波兰社会学家 齐格蒙特·鲍曼提出的关于我们生活的真实世界和虚拟世界的问题。鲍曼认为虚拟世界不仅是已经淹没了我们的生活并挤满了旧的现实世界，而且已经取代了现实世界，并且在许多情况下成为我们的感知和努力的核心。“每一个事件，我都必须参与其中，我必须露面，我必须发言。”一个人的存在已经取决于他在社交网站上的活跃程度，如果他不展示自己的观点，他对自我存在的感觉便有所减弱。</p>
<p>吉·德伯尔认为，当前的社会，表态取代了存在，除非您在屏幕上或显示器中，否则没人会关心您的存在。换句话说，“现在许多人通过他们在社交媒体上出现的次数、照片、帖子或从粉丝获得的赞来衡量他们的存在、他们在生活中的角色、他们在工作、人际关系、婚姻或抚育孩子中的成功。因此您可以看到他们跟踪当下所有热门，看到他的名字、评论和讨论出现在各处。</p>
<p>因此，有些人将“热门”现象归因于我们的世界从人类生存的社会到图像、空间、媒介和社交网站主导的社会的转变，这促使人们在社交网站上展示自己，对每个事件永不停歇的参与和评论，一切只是为了展示，如果您不对此事件或此公共事务发表评论，那么您就不存在这个世界上，您说什么都没有关系，重要的是不要保持沉默，为什么？以免消失。</p>
<p><img class="aligncenter size-arc-image-770 wp-image-191694" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/صورة-ميدان-13.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>在这种情况下，马克·博斯特认为虚拟现实技术为其追随者带来了两个主要问题：真理问题和自我问题。至于真相问题，这是由于事实和来源的多样性，新闻有100个来源，每个来源都有增加和删除，事件已成为1000个分析，每个分析都是一个不同的观点，从而导致真相或部分真相丢失。</p>
<p>自我问题表现在以下事实上：这些交流方式仅在新闻和图片方面满足了个人的消费需求，而人们错过了家庭、学校和礼拜场所里的回答个人生活中基本问题的社会话语。至于热门选手，他没有话语，也没有人回答，他的问题不再是构成性的，不再是主要的，他的兴趣仅限于喘着粗气地谈论事件背后的真相。</p>
<p>这种现象在宗教“趋势”中很明显，该趋势涉及宗教学者几个世纪以来讨论的法理和教义问题，一个年轻人读了两本书，就提出了一个问题，并不必要地将所有情况都考虑在内。在这种现象中，一个人迷失了自己。博斯特认为，不再建立基础话语，“热门”话语上升，对战代替真理，导致自我和视野支离破碎，不再设定规则，甚至不用告诉他什么时候讲话，什么时候沉默，参与“热门”不仅是对自我的表达，更是一种与人群的互动。</p>
<p><img class="aligncenter size-arc-image-770 wp-image-191692" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/صورة-ميدان-14.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>过去，德伯尔在广播和电视媒体中看到了严重的危险，因为数十亿人可以获取相同的信息，而不论他们是否愿意和有资格与之互动，那么，例如社交媒体，更易于访问和信息更融合的媒介的情况如何？在这里，无论谈话资格，每个人都可以有所作为，每个人都可以影响别人。让我们摆脱一个有序的世界，走向一个无足轻重和空虚的世界。</p>
<h3>碎片化和无知者的入侵</h3>
<p>将您的复杂书籍放在一边。不要骄傲，不要精神，甚至不要放松。时代已经改变，不再有入侵巴士底监狱，没有什么比得上德国国会纵火案，就像俄国驳船l’Aurore并没有向日本开枪那样。尽管如此，攻击还是成功地发起了：无用者上台了。</p>
<p>加拿大哲学家艾伦·多诺在《琐碎的系统》开篇提出了这些令人震惊的话，他用一句话总结了我们新世界的形式，“我们生活在史无前例的历史舞台上，在这个时代，碎片化逐渐统治现代国家模型的所有关节。”现代社会参与了一场简化一切、摒弃努力和复杂现实的游戏，它开始倾向于低端、琐碎和肤浅的一切。</p>
<p><img class="aligncenter size-arc-image-770 wp-image-191690" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/الصورة-المستطيل-3.png?w=770&amp;resize=770%2C1089" data-recalc-dims="1" /></p>
<p>这种碎片化导致了所有领域（包括社交媒体）规范性差和标准降级。“对高质量的要求降低，对高表现的要求消失，价值体系被边缘化，颓废的品味出现，有能力的人被排除在外，竞技场上没有挑战，结果是所有无用的人和思想简单的无知者占据了上风。”</p>
<p>这让您想起什么吗？是的，那些有着成千上万粉丝、永不停息地谈论每件事的著名“网红”，他发表了自己对宗教、政治、经济学、科学、体育和娱乐的看法。 “大量的感染性内容淹没了社交媒体和应用程序。数十亿秒的广播充满了极具自我意识的废话”。</p>
<p>马歇尔·阿卜杜阿齐兹·哈贾里博士对此现象作出了评论，他说：“社交网络（例如推特、Facebook和Instagram）只是虚拟会面和交换观点的站点，仅此而已。连绵不断的推文形成集体思想。迅速瞄准一个特定主题，快速累积的观点地缩短了过去需要几代人互动（辩论、演讲、书信、书籍、出版、发行、阅读、批评、再批评）的漫长的思想交流过程。这些网站成功地将无用的人编码起来，将他们变成符号，使许多社交媒体和时尚平台上无用的名人向我们展示成功的模样”。</p>
<p><img class="aligncenter size-arc-image-770 wp-image-191688" src="https://chinese.aljazeera.net/wp-content/uploads/2021/05/صورة-ميدان-15.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>在多诺的理论中，碎片化的功能是鼓励我们以各种可能的方式入睡，而不是思考和研究不可接受的不可避免的事物，以及令人讨厌但必要的事物，即无知的人，他们在进行研究之前便匆忙表达自己的观点，匆忙和愚蠢成为他们的标签，我们当中有多少人在分享或点赞前进行了实际考虑？</p>
<p>因此，意大利作家翁贝托·埃科评论道，“毫不奇怪，诸如推特和Facebook之类的工具赋予了一群无知的人说话的权利，他们曾经只会在喝完一杯酒之后在酒吧里滔滔不绝，而不会对社会造成任何伤害，他们随时保持沉默，但现在，他们有权像诺贝尔奖得主一样发言，这是无知者的入侵！”</p>
<p>在大众生活中，尤其是在社交媒体上，向人们传授的主要技能不应该是表达意见的技能，而是“不包容”的技能，即与他人的观点保持距离的能力，尽管无法做出决定，但仍需抵制加入知识分子阵营的诱惑。参加讨论时，您没有任何道德或法律上的义务来支持任何一方，您要做的是行使知识正义和道德价值，承认自己对讨论主题的无知。知识渊博的人“不会寻求非知识分子的支持，他们所需要的只是免除自己用不明智的干预使当前局面更复杂的压力，即使他们是出于善意的，但通往地狱的道路充满了善意” 。</p>
<p>这是基石，如果需要简化观念和事件以使普通百姓理解它们，那么这种简化并不意味着每个人都能谈论一切，这导致破碎的事情大过一切，但是简化意味着简化和澄清问题，而不是没有资格这样做的人讨论和批评它，如爱因斯坦所说，一切应该以最简单的形式出现，但不应比现在更简单。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台</div>
