---
layout: post
title: 伊朗“刺儿头”前总统内贾德宣布竞选总统
date: 2021-05-13 02:45:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E4%B8%9C/20210512-%E4%BC%8A%E6%9C%97-%E5%88%BA%E5%84%BF%E5%A4%B4-%E5%89%8D%E6%80%BB%E7%BB%9F%E5%86%85%E8%B4%BE%E5%BE%B7%E5%AE%A3%E5%B8%83%E7%AB%9E%E9%80%89%E6%80%BB%E7%BB%9F
categories: rfi
---

<div>12/05/2021 - 20:27</div><img src="https://s.rfi.fr/media/display/ac001828-b304-11eb-ad52-005056a9b1a7/w:310/p:16x9/65387b2507d1d8bd8b61c5c724260141c8d29e24.jpg"><div class="t-content__body u-clearfix" >
                    <p>据法新社驻德黑兰记者报道，这次伊朗媒体整体认为，验证候选人的宪法监护委员会认可艾哈迈迪内贾德候选人资格的机会几乎为零。</p><p>自称是人民的"孩子"的艾哈迈迪内贾德向内政部提交“候选资格”后警告说，他"如果被取消资格，将宣布不赞成这次选举，也不会通过支持其他候选人或去投票来参与此次选举"。</p><p>他说：“全国数以百万计的人邀请我参加竞选，甚至命令我到这里来登记，把沉重的责任放在我的肩头”。</p><p>他重复着几年来的说辞称，伊朗人民对现任国家领导人已失去信任。他称，6月的选举也许是挽救因内外原因而面临"非常敏感"挑战的伊斯兰共和国的最后一次机会"。</p><p>64岁的艾哈迈迪内贾德抵达内政部准备提交“候选资格”申请时，受到几十名他的支持者的大声欢呼。这些内贾德粉喊着： “艾哈迈迪内贾德”、“艾哈迈迪内贾德”，“我们支持你！"</p><p>曾扬言要将以色列从地图上抹掉的艾哈迈迪内贾德于2005年到2013年担任伊朗总统。他在2009年竞选连任时，爆出违规和大规模欺诈指控曾震动伊斯兰共和国。</p><p>由于伊朗宪法禁止总统连任三届，艾哈迈迪内贾德在2013年第二个任期结束时下台（即将离任的总统哈桑-鲁哈尼今年也是如此）。</p><p>这位极端保守和民粹主义者在2017年大选时，不顾最高领袖阿亚图拉-阿里-哈梅内伊的建议，再次试运气，提交了候选资格申请，但不出所料，被宪法监护委员会的拒绝。这个保守派主导的委员会是负责控制总统选举的机构。</p><p>多年来，艾哈迈迪内贾德已成为伊朗伊斯兰共和国的一名“刺儿头“，以经常发表逆流言论，公开疑国家领导人采取的大多数重大政策著称。</p>
                </div>
            
                                <br>
