---
layout: post
title: 纽西兰超市男子持刀伤人3人伤势危急 似非恐攻 – 法国国际广播电台 - RFI
date: 2021-05-10 17:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BA%BD%E8%A5%BF%E5%85%B0%E8%B6%85%E5%B8%82%E7%94%B7%E5%AD%90%E6%8C%81%E5%88%80%E4%BC%A4%E4%BA%BA3%E4%BA%BA%E4%BC%A4%E5%8A%BF%E5%8D%B1%E6%80%A5-%E4%BC%BC%E9%9D%9E%E6%81%90%E6%94%BB
categories: rfi
---

<div>10/05/2021 - 11:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社威灵顿10日电）    纽西兰一名男子今天在一间超市持刀刺伤5人，造成3人伤势危急，不过纽西兰总理阿尔登（Jacinda Ardern）表示，这起暴行似乎与恐怖行动无关。</p><p>    警方表示，南岛丹尼丁（Dunedin）市中心Countdown超市今天下午2时30分发生攻击案，一名男子已遭拘留。这起攻击案对这个向来和平的南太平洋国家而言极不寻常。</p><p>    目击者向当地媒体表示，一名携带2把刀的男子在超市刺杀员工，试图阻止他的旁观民众也遭波及受伤。</p><p>    纽西兰近期最大规模攻击伤亡事件是2019年3月的基督城（Christchurch）清真寺枪击案，当时一名白人主义至上的枪手杀害51名穆斯林信徒，另造成40名重伤。</p><p>    阿尔登表示，她询问警方的第一个问题，就是丹尼丁攻击事件是否涉及国安，但警方向她保证此事并无国安疑虑。</p><p>    阿尔登告诉记者：「现阶段从警方的观点来看，没有任何迹象显示这起事件会被定调为国内恐怖事件。」</p><p>    她说：「我想要表彰稍早报导中提到的那些采取行动保护周遭人的旁观民众，这是英勇的行为。」（译者：李佩珊/核稿：陈政一）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
