---
layout: post
title: 疫苗专利欧美不同调 美国谨防中国与俄罗斯渔翁得利
date: 2021-05-10 16:15:09.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%9B%BD%E9%99%85/20210510-%E7%96%AB%E8%8B%97%E4%B8%93%E5%88%A9%E6%AC%A7%E7%BE%8E%E4%B8%8D%E5%90%8C%E8%B0%83-%E7%BE%8E%E5%9B%BD%E8%B0%A8%E9%98%B2%E4%B8%AD%E5%9B%BD%E4%B8%8E%E4%BF%84%E7%BD%97%E6%96%AF%E6%B8%94%E7%BF%81%E5%BE%97%E5%88%A9
categories: rfi
---

<div>10/05/2021 - 10:12</div><img src="https://s.rfi.fr/media/display/ebc58020-b164-11eb-bdc8-005056a964fe/w:310/p:16x9/1ca9e070c2cbd773168e0d2cb7873db36ffc50a9.jpg"><div class="t-content__body u-clearfix" >
                    <p>据路透社报道称，针对外界疑虑，美国官员和行业高管表示，拜登政府正在研究如何确保为援助贫穷国家而放弃新冠疫苗专利保护的同时，不会让中国和俄罗斯获得美国敏感的生物制药技术。拜登政府一位高级官员表示，虽然首要任务是挽救生命，但美国“希望在放弃专利保护生效之前，研究这对中国和俄罗斯的影响，以确保其符合目的”。</p><p>美国总统拜登周三支持美国参加世界贸易组织 (WTO)关于放弃疫苗专利的谈判，通过允许贫穷国家自己生产疫苗来增加疫苗供应。截至目前，绝大多数疫苗流入富裕国家。随着今年疫苗接种率提高，富裕国家的新冠感染率有所下降，但仍有36个国家的感染率在上升，其中印度单日新增病例接近40万。</p><p>西方制药公司强烈反对让渡知识产权来生产疫苗，称较贫穷的国家难以快速在建立产能，而且将会争夺稀缺的原料供应，从而影响生产。很多公司担心，放弃专利将使中国得以跨越多年的研究，削弱美国在生物制药领域的优势，一些美国政府官员也有相同看法。</p><p>该报道称，一位熟悉讨论情况的业内人士告诉路透社，由政府制作并发送给行业代表的一份回覆疑问文件承认，外界担心知识产权共享可能损害美国相对于中国的竞争优势。</p><p>一些分析师称，一旦放弃专利保护，对使用该技术实施限制将非常困难。辉瑞/BioNTech和Moderna新冠疫苗使用的Messenger RNA是一种新研发的生物技术。中国和俄罗斯都有自主研发的疫苗，但没有使用这种生物技术。(完)</p><p>据该报道，欧盟对放弃疫苗专利持怀疑态度，德国则强烈反对。</p><p>欧洲理事会主席米歇尔(Charles Michel)周六表示，对于以放弃新冠疫苗专利保护作为抗击疫情对策的有效性，欧盟持怀疑态度，但已准备好讨论具体方案。米歇尔在欧盟峰会第二天会议召开前对记者表示，现在抗击疫情的方式是快速生产疫苗，并解除美国和英国等国的疫苗出口限制。美英等国生产疫苗但不向他国销售。</p><p>印度和南非去年呼吁取消新冠疫苗专利保护，以促进生产和确保全球均获得供应。美国总统拜登周三表示支持该想法，但前提是通过世界贸易组织 (WTO)来实现，再次引发关于该提议的热议。</p><p>多位官员表示，德国在周五欧盟峰会上强烈反对放弃疫苗专利保护。德国公司BionTech与辉瑞共同拥有高效mRNA疫苗的专利。葡萄牙、爱沙尼亚、比利时和爱尔兰也持怀疑态度，但希腊支持放弃专利保护的想法，意大利则支持期间限定及地域限定的放弃专利保护。</p><p>据路透社说，法国总统马克龙在周六会谈前对记者称，新冠疫苗可尝试效仿多年前治疗HIV药物的做法，“当年在HIV药物方面，知识产权是一个阻力来源，应该要有解除的可能，不过是以有限度的方式。”</p>
                </div>
            
                                <br>
