---
layout: post
title: 克里姆林宫向利雅得示好 普京能否成功打破沙特与美国联盟？ | 沙特阿拉伯 | 半岛电视台
date: 2021-05-11 04:36:04.000000000 +08:00
link: http://chinese.aljazeera.net/opinions/long-reads/2021/4/22/%e5%85%8b%e9%87%8c%e5%a7%86%e6%9e%97%e5%ae%ab%e5%90%91%e5%88%a9%e9%9b%85%e5%be%97%e7%a4%ba%e5%a5%bd%e6%99%ae%e4%ba%ac%e8%83%bd%e5%90%a6%e6%88%90%e5%8a%9f%e6%89%93%e7%a0%b4%e6%b2%99%e7%89%b9%e4%b8%8e
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/بن-سلمان-1.jpg?resize=570%2C380" srcSet="/wp-content/uploads/2021/04/بن-سلمان-1.jpg?resize=120%2C80 120w, /wp-content/uploads/2021/04/بن-سلمان-1.jpg?resize=270%2C180 270w, /wp-content/uploads/2021/04/بن-سلمان-1.jpg?resize=375%2C250 375w, /wp-content/uploads/2021/04/بن-سلمان-1.jpg?resize=570%2C380 570w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, 570px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><p>3月9日，俄罗斯外交部长谢尔盖·拉夫罗夫乘坐飞机抵达利雅得，并在<a href="https://www.arabnews.com/node/1823266/saudi-arabia">访问</a>期间与沙特外交大臣、国防大臣和能源大臣举行了会晤，这次访问恰逢美国与伊朗通过间接外交渠道发出积极信息之际，所有人都知道，这些信息引发了沙特阿拉伯的担忧，沙特领空目前正在不断受到胡塞武装发射导弹和无人机的直接威胁，利雅得担忧美国与伊朗达成的协议将侧重于遏制核计划，而没有考虑伊朗在该地区军事盟友所扮演的角色。因此，利雅得开始转向美国在军事和情报方面的传统竞争对手俄罗斯，在与华盛顿竞争和寻找新的国际联盟背景下，俄罗斯被视为重要筹码。</p>
<p>在过去几十年中，沙特石油设施附近发生的有限恐怖袭击，使得美军在海湾地区的战备程度得到最大程度提高，从而使世界上最大的军事力量能够确保其石油供应。但是，在过去十年中，海湾石油重要性下降在美国战略中发生了很大变化，现在，沙特阿拉伯领土和该国东部石油装置遭遇袭击，而美国没有采取任何威慑措施来打击这些肇事者。但是，这种安全真空与华盛顿在专注于太平洋以及与中国竞争中留下的其他真空一样，引起了克里姆林宫的注意，旨在该地区发挥几年前所无法想象的作用，长期以来，这里被认为是美国具有优先权的地区。</p>
<p>当2019年9月<a href="https://www.dailysabah.com/mideast/2019/09/14/houthis-hit-key-sites-of-oil-giant-saudi-aramco-in-drone-attacks">沙特阿美石油公司</a>遭遇袭击时，俄罗斯总统普京没有等待很长时间，而是前往沙特阿拉伯，向沙特阿拉伯提供俄罗斯武器，以保护其基础设施不受任何袭击，并通过防空防御系统提供帮助，这似乎是利雅得已决定对邀请做出政治回应，此举鉴于利雅正与美国总统拜登新政府进行无声拉锯战，拜登政府决心不能无条件与沙特阿拉伯建立伙伴关系。正如美国企业研究所（American Enterprise Institute）国防和外交政策主管科里·沙克（Corrie Shake）所说，“如果我是沙特阿拉伯人，我将走上一条通往莫斯科的道路，再走上一条通往北京的道路，以寻求比美国更可靠的合作伙伴。 ”似乎这正是利雅得在做的事情。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-187537" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/hqdefault.jpg?w=480&amp;resize=480%2C360" data-recalc-dims="1" /></p>
<p>拉夫罗夫最近访问时机传达了一些信息：俄罗斯正在加强其外交举措以增强其在区域中的作用，同时，俄罗斯正在寻找机会，以获得足够筹码和条件来使其有能力领导区域政策，就像与土耳其——尽管两国之间明显敌对——在叙利亚采取的行动一样。随后，拉夫罗夫冲向沙特阿拉伯，谴责最近对沙特阿拉伯东部拉斯塔努拉石油设施袭击事件，在与沙特外交大臣费萨尔·本·法尔汉进行会晤期间，拉夫罗夫谈及胡塞武装的袭击，并谈及停止也门战争的重要性，值此之际，美国人似乎比以往任何时候都更少关注沙特阿拉伯的安全，就像对安卡拉所采取的行动一样，莫斯科似乎正在敲响一个美国盟友的大门，而这个盟友与华盛顿的关系已经冷却，但这是在复杂关系史背景下进行的尝试。</p>
<h3>莫斯科与利雅得关系历史</h3>
<p>1926年，苏联决定成为第一个<a href="https://www.arabnews.com/node/1568436/saudi-arabia">承认</a>沙特阿拉伯的国家，随后，苏联通过提高在沙特阿拉伯的外交代表级别来加深与沙特王国的政治关系，在承认沙特阿拉伯四年之后，苏联将其驻吉达市的领事馆转变为代表苏联的大使馆。尽管如此，在冷战期间，石油世界的新沙特阿拉伯与第二次世界大战胜利国之间的关系开始恶化，保守的沙特阿拉伯走上了与西方结盟反对苏联的道路，反对其共产主义意识形态。沙特人不仅与西方站在一起，而且还对阿富汗圣战者进行<a href="https://www.voanews.com/europe/saudi-monarch-begins-historic-trip-russia">武装</a>，后者与1980年入侵阿富汗的苏联进行战斗，并从沙特石油收入中获得了主要经济资助。1991年苏联解体后，沙特阿拉伯与俄罗斯之间的关系继续维持在这一水平之下，但这并不能阻止两国就某些国际立场达成共识，例如两国在联合国中半永久性地<a href="https://www.arabnews.com/node/1568436/saudi-arabia">投票</a>支持巴勒斯坦问题。</p>
<p>普京2007年访问沙特阿拉伯，作为第一位踏上沙特阿拉伯的俄罗斯总统，这成为两国关系焦点。普京与沙特阿拉伯领导人反复举行会议，两国领导人最近一次会晤是在2008年参加 “二十国集团”首脑会议间隙，然后，普京在2015年G20首脑会议上会见了萨勒曼国王。接下来，两国之间的共同利益以前所未有的方式加深，萨勒曼国王于2017年访问莫斯科时，这是沙特领导人首次访问莫斯科，两国和解关系<a href="https://www.arabnews.com/node/1173081/middle-east">达到</a>了高潮，在俄罗斯管弦乐队大阅兵背景下，萨勒曼国王在克里姆林宫圣安德鲁大厅被接待。</p>
<figure id="attachment_187539" style="width:770px" class="wp-caption aligncenter"><img class="size-fantasia-770 wp-image-187539" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-06T093449.057.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" />萨尔曼国王于2017年访问莫斯科</figure>
<p>在这次访问期间，两国之间的关系有了新的起点，两国签署了初步协议，沙特阿拉伯向俄罗斯购买S-400防空系统和制导反坦克导弹系统，此外，俄罗斯直接投资基金（RDIF）与沙特公共投资基金（PIF）之间还达成了15项协议，价值超过10亿美元，除此之外，两国还启动了能源和石化等各个领域的项目。两个主要的能源国家还讨论了国际油价方面的合作前景，在2016年<a href="https://www.aa.com.tr/en/analysis/analysis-saudi-arabia-losing-the-oil-war-might-lose-its-only-western-ally-too/1802756">以后</a>，石油成为两国关系重点，这也是多次造成两国利益不和谐的主要原因，两国相互发动石油战争之后，导致油价下跌近二十年来最低水平。</p>
<p>在普京首次访问利雅得十多年后，普京在庞大的商业、安全和军事代表团陪同下于2019年<a href="https://www.bbc.com/arabic/middleeast-50067718">再次访问</a>沙特阿拉伯，两国再次就购买和部署S-400防空系统进行了谈判。在那次访问中，宣布已经签署了二十多项协议，总价值超过二十亿美元，其中最突出的是沙特阿美公司的一项协议，根据该协议，沙特阿美公司购买了俄罗斯“ Novomet”石油设备公司30％股份，当时两国之间的<a href="https://carnegieendowment.org/2020/07/08/russia-saudi-roller-coaster-from-high-five-to-price-war-pub-81896">双边贸易额</a>超过16亿美元，其中包括俄罗斯向沙特阿拉伯王国的第一批小麦装运出口，总量为6万吨，接着又是同样数量的小麦出口，分析家认为，这克服由于石油价格战而在两国关系中普遍存在的紧张局势。</p>
<h3>俄罗斯向沙特阿拉伯张开双臂</h3>
<p>2019年10月13日，美国前总统唐纳德·特朗普宣布决定从土耳其-叙利亚边界沿线撤离大约一千名美军，这是隐含的谅解，允许土耳其发动跨界攻击，以建立一个32公里深没有库尔德人民保护部队的“安全区”，而库尔德人民保护部队在华盛顿在目前叙利亚战争中的主要盟友，美国对库尔德人的背叛不仅仅向他们传达信息，而是向其他华盛顿盟国发出了危险信息，首先是沙特阿拉伯。在美国实施撤军前夕，俄罗斯总统普京正在访问沙特阿拉伯王国，向沙特人提供俄罗斯防御系统，以应对利雅得不断增加的威胁，并增强其安全性。美国从叙利亚撤军的消息对俄罗斯总统来说是一个机会，俄罗斯总统从利雅得对美国逐渐停止履行承诺的担忧中受益，此前，俄罗斯总统表示，他的国家愿意通过最新的俄罗斯防空系统向沙特阿拉伯提供援助，<a href="https://www.middleeasteye.net/opinion/saudi-oil-attacks-how-does-russia-stand-benefit">并表示</a>，俄罗斯武器可以保护沙特基础设施未来免受任何袭击。</p>
<p><img class="aligncenter size-fantasia-770 wp-image-187543" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/صورة-ميدان-2021-04-06T092537.652.png?w=770&amp;resize=770%2C513" data-recalc-dims="1" /></p>
<p>一系列事件引起了利雅得的担忧，促使沙特阿拉伯讨论与西方以外的多个盟国进行多样化伙伴关系的建立，并将这些国家作为第一选择，这种做法可以追溯到2011年，即阿拉伯起义年，在这场阿拉伯起义中，沙特阿拉伯和所有海湾国家都认为，华盛顿和西方国家迅速放弃其重要盟友，例如埃及总统穆巴拉克。对利雅得而言，最痛苦的转变是美国前总统巴拉克·奥巴马在2015年签署了伊朗核协议，这给美沙关系留下了深深的伤口。除此之外，2018年10月沙特阿拉伯官员谋杀了记者贾马尔·卡舒吉，这向利雅得证实，美国政府无法阻止对所有肇事官员进行问责的呼声，其中包括对沙特王储的问责。</p>
<p>与美国不同，在同一时期，俄罗斯人继续保护其盟友，最著名的是叙利亚阿萨德政权，俄罗斯选择对阿萨德政权残酷镇压其人民视而不见，这些暴行不受任何法律或道德的限制，从而为困扰该地区的非民主政权提供了一个有吸引力的模式。事实上，在沙特记者卡舒吉被谋杀两个月后，俄罗斯总统普京是在当时举行G20峰会上向沙特王储致以亲切问候的唯一领导人，与此同时，尽管西方国家领导人实际上一直与沙特阿拉伯保持着联系，但他们甚至选择避开与沙特王储共同出现在镜头面前。</p>
<h3>俄罗斯手中的沙特问题</h3>
<p>2月13日，白宫发言人简·普萨基站在讲台上，就美国新政府与沙特阿拉伯关系向记者发表每日讲话称，“很明显，我们正在对沙特阿拉伯的政策进行审查，据我所知，美国尚未有与沙特王储进行通话的计划<span style="font-size:22px">”</span><span style="font-size:22px">。</span></p>
<p><img class="aligncenter size-fantasia-770 wp-image-187545" src="https://chinese.aljazeera.net/wp-content/uploads/2021/04/hqdefault-1.jpg?w=480&amp;resize=480%2C360" data-recalc-dims="1" /></p>
<p>此前的声明并没有单独宣布美国新总统采取更强硬的态度，美国新总统在总统竞选期间将沙特阿拉伯<a href="https://www.bbc.com/arabic/inthepress-56439013">称之为</a>“贱民”。拜登为履行其选举诺言而做出的决定性时代标志是，利雅得将无法享受前总统特朗普政府统治下的特权，其中最主要的是华盛顿就也门战争做出的决定，例如任命特使以寻求外交解决的决定，此前，美国暂停向利雅得的武器销售，终止美国对也门地区军事行动的支持，并开放与胡塞武装的沟通渠道。与此同时，美国政府在2月25日毫不犹豫地解密了CIA报告，该报告直指沙特王储参与暗杀沙特记者卡舒吉行动。美国女发言人发表声明仅两天后，沙特阿拉伯官员正在寻找替代方案，以应对白宫疾风，像往常一样，莫斯科出现了，因此，沙特王储与俄罗斯总统进行电话交谈时机所具的意义，不容忽视。</p>
<p>莫斯科可以通过多个问题来增加在沙特阿拉伯的地位，其中最重要的是满足利雅得购买武器欲望以及其购买“ S-400”系统的愿望。2017年秋天，利雅得知悉了与俄罗斯进行军事合作的可行性，当时，萨尔曼国王访问莫斯科期间<a href="https://caspiannews.com/news-detail/russia-delivers-1st-batch-of-tos-1-to-saudi-arabia-2019-4-15-18/">购买</a>了TOS-1A Solntsepyok多重发射系统，并<a href="https://english.alarabiya.net/News/gulf/2017/10/05/Saudi-Arabian-Military-Industries-signs-agreement-to-manucafture-Russian-weapons-locally-">同意</a>购买和制造“Kornet-EM”反坦克导弹系统和“ AGS-30”榴弹发射器，与此同时，利雅得与华盛顿之间的军事关系复杂化，这些交易表明沙特军事武库结构向东方国家转移的可能性，特别是俄罗斯明确提出了赞助海湾地区安全基础设施的提议。</p>
<p>最后，鉴于俄罗斯努力利用目前局势来加强与利雅得的关系，并加强与利雅得的立场，以使其成为该地区的重要参与者，在近半个世纪以来，俄罗斯在该地区不具有影响力，可以说，由于利雅得和华盛顿关系降温，俄罗斯和沙特的关系在未来四年可能会出现新的发展。的确，两个老牌盟友之间的关系恶化不会到俄罗斯人一夜之间取代美国的地步，但沙特人与俄国人现在的和解，意味着莫斯科正在朝着美国在海湾地区建立的根深蒂固安全架构迈出的第一步。但是，考虑到华盛顿对伊朗的示好是其与利雅得关系复杂性的主要驱动力，因此，莫斯科与德黑兰之间在叙利亚战争舞台上的紧密联盟，意味着利雅得与莫斯科的战略伙伴关系在任何方面都不会那么复杂。最后，沙特阿拉伯不需要与莫斯科结成坚实的联盟，鉴于海湾地区历史上前所未有的流动性和不稳定状态，他们开始重新洗牌，并使其军事武库多样化。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->半岛电视台</div>
