---
layout: post
title: 布林肯巴勒斯坦领袖通话 吁终止火箭袭以色列 – 法国国际广播电台 - RFI
date: 2021-05-13 17:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E5%B8%83%E6%9E%97%E8%82%AF%E5%B7%B4%E5%8B%92%E6%96%AF%E5%9D%A6%E9%A2%86%E8%A2%96%E9%80%9A%E8%AF%9D-%E5%90%81%E7%BB%88%E6%AD%A2%E7%81%AB%E7%AE%AD%E8%A2%AD%E4%BB%A5%E8%89%B2%E5%88%97
categories: rfi
---

<div>13/05/2021 - 11:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿12日电）    美国国务卿布林肯今天表示，他已与巴勒斯坦自治政府主席阿巴斯通电话，并敦促哈玛斯（Hamas）武装分子在以巴紧张升温之际，停止从加萨发射火箭攻击。</p><p>    布林肯（Antony Blinken）在推特上写道：「我与阿巴斯（Mahmoud Abbas）主席谈了耶路撒冷、约旦河西岸（West Bank）及加萨（Gaza）目前的局势。我对人员伤亡表达慰问。我也强调有必要终止火箭攻击并降低紧张。」</p><p>    美国国务院发言人普莱斯（Ned Price）声明还说，布林肯也表明「他认为巴勒斯坦人和以色列人应享有同等的自由、尊严、安全与繁荣」。</p><p>    巴勒斯坦自治政府的对话记录指出，阿巴斯强调「以色列停止攻击我们各处巴勒斯坦人民、终结屯垦者攻击情事、以及终止以色列对我们人民采取侵略性措施的重要性」。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
