---
layout: post
title: 以巴激烈冲突 川普怪罪拜登软弱不挺以色列 – 法国国际广播电台 - RFI
date: 2021-05-12 10:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BB%A5%E5%B7%B4%E6%BF%80%E7%83%88%E5%86%B2%E7%AA%81-%E5%B7%9D%E6%99%AE%E6%80%AA%E7%BD%AA%E6%8B%9C%E7%99%BB%E8%BD%AF%E5%BC%B1%E4%B8%8D%E6%8C%BA%E4%BB%A5%E8%89%B2%E5%88%97
categories: rfi
---

<div>12/05/2021 - 04:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿11日电）    耶路撒冷近日爆发巴勒斯坦人与以色列警方之间的冲突，加萨地区也发生交火，多人丧命。美国前总统川普今天展现力挺以色列的立场，指责现任总统拜登「软弱」、不支持以色列。</p><p>    川普在声明中表示：「这个世界在拜登掌权之下变得愈来愈暴力、愈来愈不稳定，因为拜登软弱、不支持以色列，导致我们的盟国遭受新的攻击。」</p><p>    川普夸耀他在位时的政府是「和平任期」，他说，以色列的对手知道，他当美国总统时，「以色列若遭攻击，（美国）很快就会报复」。</p><p>    他表示：「美国必须永远与以色列站在一起，并明确表达要巴勒斯坦人终止暴力、恐怖和火箭攻击，明示美国会永远强力支持以色列捍卫自己的权利。」</p><p>    以色列与加萨地区的伊斯兰运动组织哈玛斯（Hamas）今天交火，在以色列封锁的加萨走廊造成至少28名巴勒斯坦人死亡，以方也有3人丧生。</p><p>    此前，巴勒斯坦抗议群众和以色列警方连续数夜在东耶路撒冷的艾格撒清真寺（Al-Aqsa Mosque）一带冲突，昨晚局势恶化，伊斯兰运动分子从加萨地区发动火箭攻击，以色列也回以空袭。</p><p>    拜登政府今天呼吁以巴双方冷静克制，避免平民无故丧命。但美国国务院发言人普莱斯（Ned Price）对媒体表示：「以色列确有自卫的权利。」</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
