---
layout: post
title: 日本扩大新冠紧急事态宣言范围
date: 2021-05-15 17:45:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210515-%E6%97%A5%E6%9C%AC%E6%89%A9%E5%A4%A7%E6%96%B0%E5%86%A0%E7%B4%A7%E6%80%A5%E4%BA%8B%E6%80%81%E5%AE%A3%E8%A8%80%E8%8C%83%E5%9B%B4
categories: rfi
---

<div>15/05/2021 - 11:39</div><img src="https://s.rfi.fr/media/display/75aa6298-a485-11eb-98a0-005056bff430/w:310/p:16x9/2021-04-21T134630Z_1821086332_RC2D0N9ODZGY_RTRMADP_3_OLYMPICS-2020-IOC.JPG"><div class="t-content__body u-clearfix" >
                    <p>最初，政府与政府新型冠状病毒对策小组会协商，计划将冈山县、广岛县，群马县、熊本县和石川县五个县指定为蔓延防止重点措施实施地区。北海道除了原来的札幌市外，还将蔓延防止重点措施实施地区应用于旭川市和小樽市。</p><p>但是对策小组会鉴于日本疫情严重，提出将北海道、冈山和广岛纳入紧急事态宣言地区，小组会还批准了群马县、熊本县和石川县作为新的蔓延防止重点措施实施地区，时间是从5月16日到6月13日。</p><p>据这项决定，蔓延防止重点措施实施地区扩大为埼玉、千叶、神奈川、岐阜、三重、爱媛、冲绳、群马、熊本、石川十县。</p><p>蔓延防止重点措施实施地区是紧急事态宣言前一阶段，在各种限制上没有紧急事态宣言实施地区严格。</p><p>日本目前感染状况依旧严峻，日本全国14日新增新型冠状病毒感染者为6266人，重病者并前一天减少了5人,为1209人，但是认为史上第二多。大阪的新感染是576人，在4月5日以相隔39日时低于了600人。东京是比前上周的星期五减少53人减少，为854人。</p>
                </div>
            
                                <br>
