---
layout: post
title: 以军集结边界 似将攻入加萨 – 法国国际广播电台 - RFI
date: 2021-05-13 22:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BB%A5%E5%86%9B%E9%9B%86%E7%BB%93%E8%BE%B9%E7%95%8C-%E4%BC%BC%E5%B0%86%E6%94%BB%E5%85%A5%E5%8A%A0%E8%90%A8
categories: rfi
---

<div>13/05/2021 - 16:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社特拉维夫13日电）    以色列军队今天在加萨边界集结，似将展开地面作战，巴勒斯坦好战分子继续以火箭轰击以国。双方的激烈战事引起国际关切，也引发以国犹太和阿拉伯居民的冲突。</p><p>    以色列军方发言人说，以国沿着加萨边界部署了战斗部队，这些部队正「准备展开地面作战」，令人想起2014年以及2008－2009年的加萨战争。</p><p>    加萨卫生当局表示，他们正对昨夜一些人的丧生原因进行调查，这些人可能吸入了有毒气体。从死者采集的检体正在化验中，目前尚无定论。</p><p>    巴勒斯坦好战团体哈玛斯组织（Hamas）表示，在先前已对特拉维夫（Tel Aviv）附近主要机场发动数波火箭攻击后，今天朝以国南部埃拉特市（Eilat）附近的拉雷机场（Ramon）发射了一枚庞大的火箭，重达250公斤。哈玛斯要求「所有国际航空公司，立即停止飞往以色列的一切航班」。</p><p>    英国航空公司（BA）今天取消了往返特拉维夫的航班，美国联合航空公司（United Airlines）、达美航空公司（Delta Air Lines）和美国航空公司（American Airlines）昨天和今天也取消了飞往特拉维夫的航班。</p><p>    以色列国防部长甘茨（Benny Gantz）已下令安全部队「大规模增援」，以平息境内犹太和阿拉伯居民间的暴力冲突。各地警局遭到攻击，以、阿双方民众遭到残忍殴打。（译者：张佑之）</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
