---
layout: post
title: 东奥将届 澳洲开始让代表团接种疫苗 – 法国国际广播电台 - RFI
date: 2021-05-10 23:45:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%9C%E5%A5%A5%E5%B0%86%E5%B1%8A-%E6%BE%B3%E6%B4%B2%E5%BC%80%E5%A7%8B%E8%AE%A9%E4%BB%A3%E8%A1%A8%E5%9B%A2%E6%8E%A5%E7%A7%8D%E7%96%AB%E8%8B%97
categories: rfi
---

<div>10/05/2021 - 17:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社布里斯本10日电）    东京奥运将在7月23日登场，澳洲代表团今天开始接种2019冠状病毒疾病（COVID-19）疫苗。3度征战奥运的女泳将康贝尔（Cate Campbell）为此松了口气。</p><p>    法新社报导，澳洲虽是全球防疫最成功的国家之一，但疫苗接种进度却远远落后政府自订的时程表。</p><p>    如今坎培拉（Canberra）当局同意，将让所有前往日本的运动员快速通关接种疫苗，但他们也面临插队的指控。</p><p>    即将4度出征奥运的康贝尔，是今天率先施打疫苗的运动员之一。</p><p>    在布里斯本（Brisbane）的昆士兰体育学院（Queensland Academy of Sport）接种完疫苗后，康贝尔告诉记者，他们将在东京面临未知情况，施打疫苗让他们卸下心头重担。</p><p>    澳洲将派出约2000名运动员和工作人员，参与东京奥运暨帕拉林匹克运动会（Paralympics），官员预期当中多数人都会到全国各地疫苗注射中心接种。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
