---
layout: post
title: 中国驻以色列大使被发现在家中死亡 | 以色列 News | 半岛电视台
date: 2021-05-10 10:06:04.000000000 +08:00
link: http://chinese.aljazeera.net/news/2020/5/17/%e4%b8%ad%e5%9b%bd%e9%a9%bb%e4%bb%a5%e8%89%b2%e5%88%97%e5%a4%a7%e4%bd%bf%e8%a2%ab%e5%8f%91%e7%8e%b0%e5%9c%a8%e5%ae%b6%e4%b8%ad%e6%ad%bb%e4%ba%a1
categories: aj
---

<img loading="eager" src="https://chinese.aljazeera.net/wp-content/uploads/2020/05/Chinese-ambassador-to-Isreal.jpg?resize=770%2C513" srcSet="/wp-content/uploads/2020/05/Chinese-ambassador-to-Isreal.jpg?resize=120%2C80 120w, /wp-content/uploads/2020/05/Chinese-ambassador-to-Isreal.jpg?resize=270%2C180 270w, /wp-content/uploads/2020/05/Chinese-ambassador-to-Isreal.jpg?resize=375%2C250 375w, /wp-content/uploads/2020/05/Chinese-ambassador-to-Isreal.jpg?resize=570%2C380 570w, /wp-content/uploads/2020/05/Chinese-ambassador-to-Isreal.jpg?resize=770%2C513 770w" sizes="(max-width: 120px) 120px, (max-width: 270px) 270px, (max-width: 375px) 375px, (max-width: 570px) 570px, (max-width: 770px) 770px, 770px" alt="<div class="wysiwyg wysiwyg--all-content css-13vdfv4"><p>以色列当局17日今天上午发现，中国驻以色列大使杜伟在其位于特拉维夫北部赫兹利亚市的家中死亡。以色列警方表示，死因尚不清楚，很可能是自然死亡。</p>
<p>以色列警方发言人说：“事情在常规程序内，有警察部队在场。”当局已对死亡情况展开调查。到目前为止，中国政府尚未就死亡事件发表官方评论。</p>
<p>以色列第12频道援引身份未得到紧急服务人员确认的官员的话报道称，初步迹象表明该大使在睡眠中死亡。以色列国防军电台报道，大使的身体上没有任何暴力痕迹，调查人员认为他死于心脏病突发。</p>
<p>中国驻以色列大使杜伟今年58岁，独自一人居住在大使官邸，妻子和儿子均在中国。杜伟于2016年到2019年担任中国驻乌克兰大使，刚于今年1月上任担任驻以色列大使。</p>
<p>两天前，中国大使批评了美国国务卿迈克·蓬佩奥上周访问以色列期间发表的声明，后者攻击了中国在以色列的投资，并再次指控中国隐瞒有关新冠病毒大流行蔓延的信息。</p>
</div><div class="article-source">来源<!-- --> : <!-- -->以色列媒体<!-- --> + <!-- -->半岛电视台＋通讯社</div>
