---
layout: post
title: 美加吁以巴避免冲突 阻平民无辜丧命憾事 – 法国国际广播电台 - RFI
date: 2021-05-12 14:45:09.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E5%8A%A0%E5%90%81%E4%BB%A5%E5%B7%B4%E9%81%BF%E5%85%8D%E5%86%B2%E7%AA%81-%E9%98%BB%E5%B9%B3%E6%B0%91%E6%97%A0%E8%BE%9C%E4%B8%A7%E5%91%BD%E6%86%BE%E4%BA%8B
categories: rfi
---

<div>12/05/2021 - 08:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿11日电）    美国和加拿大今天敦促以色列、巴勒斯坦要避免让平民丧命的冲突发生。巴勒斯坦的伊斯兰武装组织发射多枚火箭攻击以色列后，以色列也空袭加萨地区作为报复。</p><p>美国国务院发言人普莱斯（Ned Price）告诉记者：「以色列有自卫的权利，但我们同时也对平民丧生的消息深深感到遗憾，希望这样的情况不再发生。」</p><p>他说：「我们不想看到挑衅，我们已经知道挑衅会导致人命损失这样让人极度哀伤的事。」</p><p>「我们持续呼吁大家冷静，继续要各方（让冲突）降温，并克制自己的行动。」</p><p>巴勒斯坦的伊斯兰组织哈玛斯（Hamas）发射火箭攻击，以色列则空袭加萨走廊（Gaza Strip）作为回应，造成包括儿童在内至少30人丧生。</p><p>哈玛斯先前表示，他们之所以发动攻击，是要迫使以色列警方自耶路撒冷的艾格撒清真寺（Al-Aqsa Mosque）撤出，以解决当地近日紧张情势。</p><p>普莱斯表示，美国国务卿布林肯（Antony Blinken ）今天与以色列外交部长阿胥肯纳吉（Gabi Ashkenazi ）通电话，讨论这场危机。</p><p>普莱斯说，布林肯「谴责火箭攻击，并重申要冲突降温的重要讯息」。</p><p>布林肯昨天在华府与约旦外交部长沙法迪（Ayman Safadi）会谈时，也强调了类似的讯息；沙法迪则呼吁让耶路撒冷地区维持现状。</p><p>加拿大总理杜鲁道（Justin Trudeau）称那些暴力行为「十分骇人」。加拿大和美国一样，是以色列重要的盟国。</p><p>杜鲁道告诉记者：「（冲突）需要立即降温，我们必须立即停止暴力和攻击行动。」</p><p>他还说：「哈玛斯发动火箭攻击，绝对是让人无法接受的。我们也非常关切屯垦区和巴勒斯坦人被驱逐的问题。」</p><p></p><p></p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
