---
layout: post
title: 欧股午盘跌幅逾2% – 法国国际广播电台 - RFI
date: 2021-05-11 21:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%AC%A7%E8%82%A1%E5%8D%88%E7%9B%98%E8%B7%8C%E5%B9%85%E9%80%BE2
categories: rfi
---

<div>11/05/2021 - 15:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社伦敦11日电）    欧洲股市今天追随亚洲股市脚步下挫，伦敦等三大股市跌幅都超过2%，主因市场忧心通货膨胀率升高恐将引发中央银行提早升息，全球市场都出现强大卖压。</p><p>    伦敦股市下挫2.7%，法兰克福股市重挫2.5%，巴黎股市也下跌2.3%。</p><p>    外汇经纪商安达（OANDA）分析师葛瑞菲斯（Sophie Griffiths）表示，欧洲股市追随华尔街股市走弱。「通膨疑虑昨晚导致（美国股市）科技股挫跌，欧洲股市科技股今天也面临压力。」</p><p></p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
