---
layout: post
title: 布雷东：欧盟6月底将不再和阿斯利康续签合同
date: 2021-05-10 05:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%AC%A7%E6%B4%B2/20210509-%E5%B8%83%E9%9B%B7%E4%B8%9C-%E6%AC%A7%E7%9B%9F6%E6%9C%88%E5%BA%95%E5%B0%86%E4%B8%8D%E5%86%8D%E5%92%8C%E9%98%BF%E6%96%AF%E5%88%A9%E5%BA%B7%E7%BB%AD%E7%AD%BE%E5%90%88%E5%90%8C
categories: rfi
---

<div>09/05/2021 - 23:18</div><img src="https://s.rfi.fr/media/display/1fd8515c-b10c-11eb-94f8-005056bff430/w:310/p:16x9/142b1bb_fw1-intel-europe-0429-1a.png"><div class="t-content__body u-clearfix" >
                    <p>欧盟委员会分管内部市场的委员蒂埃里·布雷东说：“我们还没有续签6月以后的订单。我们会看看情况再做决定。”</p><p> </p><p>欧盟委员会主席冯德莱恩7日在社交媒体推特宣布，欧盟与美国辉瑞制药有限公司和德国生物新技术公司签订新合同，预订18亿剂新冠疫苗，预期2021年至2023年交付。据路透社报道，这些辉瑞疫苗将用于接种“加强针”、捐赠和转售。</p><p>欧盟与辉瑞签新单的同一天，欧洲药品管理局说，收到阿斯利康疫苗接种者出现罕见神经功能障碍“吉兰-巴利综合征”的报告，正在评估相关数据。</p><p>欧盟委员会4月以阿斯利康公司不按合同供应疫苗、没有可靠方案确保疫苗及时交付为由起诉这家药企。欧洲药管局4月7日把血栓伴随低血小板列为阿斯利康疫苗的罕见副作用，但依然认定接种这种疫苗益处大于风险。部分民众担忧阿斯利康疫苗的安全性，一些欧盟成员国对接种阿斯利康疫苗附设年龄限制。另外，今年早些时候，有研究认为阿斯利康疫苗对南非发现的变异新冠病毒效力有限，引发对这种疫苗的疑虑。</p>
                </div>
            
                                <br>
