---
layout: post
title: 以巴冲突 联合国安理会16日召开视讯会议 – 法国国际广播电台 - RFI
date: 2021-05-14 11:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BB%A5%E5%B7%B4%E5%86%B2%E7%AA%81-%E8%81%94%E5%90%88%E5%9B%BD%E5%AE%89%E7%90%86%E4%BC%9A16%E6%97%A5%E5%8F%AC%E5%BC%80%E8%A7%86%E8%AE%AF%E4%BC%9A%E8%AE%AE
categories: rfi
---

<div>14/05/2021 - 05:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社纽约联合国总部13日电）    外交官员今天说，联合国安全理事会16日将公开举行视讯会议，处理以色列与巴勒斯坦人不断升高的暴力冲突。</p><p>    相同的消息人士说，这场会议是在突尼西亚、挪威与中国要求下召开，原定明天举行，美国原先反对并提议下周初召开后，今天也同意移至16日举行。</p><p>    美国稍早表示，希望能给外交协商更多时间。记者问到明天会议取消的问题时，美国国务卿布林肯（Antony Blinken）说，美国不是在阻挡会议，只是希望晚一点举行。</p><p>    布林肯在华府告诉记者：「对于在联合国公开讨论以巴问题，我们对此持开放态度且表示支持。」</p><p>    他说：「我想，我们期望会议时间定在下周初。我希望能争取到一些时间，让外交发挥一些作用。」之后，会议敲定16日登场。</p><p>    为报复掌控加萨走廊的巴勒斯坦伊斯兰主义组织哈玛斯（Hamas）发射火箭，以色列展开致命进攻行动，重要盟友美国已表态捍卫以色列的立场。</p><p>    但美国总统拜登的政府对造成平民伤亡提出警告，稍早还敦促以色列暂缓驱逐耶路撒冷的巴勒斯坦人。</p><p></p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
