---
layout: post
title: 国际社会呼吁以色列保持节制，避免以巴暴力升级 - 法国报纸摘要
date: 2021-05-10 18:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E6%B3%95%E5%9B%BD%E6%8A%A5%E7%BA%B8%E6%91%98%E8%A6%81/20210510-%E5%9B%BD%E9%99%85%E7%A4%BE%E4%BC%9A%E5%91%BC%E5%90%81%E4%BB%A5%E8%89%B2%E5%88%97%E4%BF%9D%E6%8C%81%E8%8A%82%E5%88%B6%EF%BC%8C%E9%81%BF%E5%85%8D%E4%BB%A5%E5%B7%B4%E6%9A%B4%E5%8A%9B%E5%8D%87%E7%BA%A7
categories: rfi
---

<div>10/05/2021 - 11:58</div><img src="https://s.rfi.fr/media/display/de712a84-105a-11ea-a2a3-005056bff430/w:310/p:16x9/03-revue-de-presse_0.png"><div class="t-content__body u-clearfix" >
                    <p>在刚刚过去的周末，穆斯林斋月尚未结束，耶路撒冷与约旦西岸占领区的紧张局势升温。以色列定居者购买了旧城区附近的穆斯林住房后，暴力升级。多份日报对此进行了报道。</p><p>《费加罗报》指出：暴力引发的冲击波令耶路撒冷问题再次成为焦点。此一问题在以色列的阿拉伯人与巴勒斯坦领土内引起共鸣。暴力升级挑战了在议会中发挥着重要作用、并有可能支持反内塔尼亚胡新政府的阿拉伯政党。</p><p>周一可能成为转折点。以色列最高法院推迟了关于对驱逐巴勒斯坦家庭上诉的最终裁决。但是在同一天，预计有成千上万的宗教犹太复国主义者将在旧城举行游行活动。他们将像往年一样，庆祝“耶路撒冷日”，以纪念六日战争中占领旧城纪念日。</p><p>《十字架报》在报道中指出：在耶路撒冷这座圣城，警察、定居者以及巴勒斯坦人之间的冲突正在加剧，5月8日星期六发生的冲突造成约100人受伤。在局势紧张的背景下，以色列司法机构决定推迟对受到驱逐威胁的巴勒斯坦家庭的听证。</p><p>被称为中东问题“四架马车”的联合国、欧盟、美国和俄罗斯四方周四表达了对当地局势的“深切关注”，同时呼吁“以色列保持节制，避免采取可能导致局势进一步恶化的措施，尤其在穆斯林斋月期间。”</p><p>刚刚与以色列实现关系正常化的阿联酋与巴林也做出反应，分别要求以色列确保局势稳定并停止挑衅耶路撒冷民众。</p><p>《解放报》突出报道了东耶路撒冷的暴力局势引发全球忧虑的情况。该报指出：东耶路撒冷地区近日爆发的冲突，是近年来最严重的暴力事件。在旧城区持续了数日的紧张局势周末升级，引发全球关注。联合国人权委员会发言人Rupert Colville强调：东耶路撒冷为巴勒斯坦被占领土的一部分，在这块土地上，国际人道法应该得到遵守。美国国务院发言人普莱斯也发出警告指出：要避免在东耶路撒冷展开包括驱逐巴勒斯坦家庭、屯垦活动、拆除住房以及恐怖主义行动在内的各种可能导致情势恶化的行动。欧盟外交事务高级代表博雷利则表示：暴力与煽动行为均不能令人接受，必须追究双方肇事者的责任。俄罗斯也表达了“不安”并呼吁“避免暴力升级”。沙特阿拉伯以及阿联酋则谴责以色列警察的行径，同时表示：坚决反对将巴勒斯坦人逐出东耶路撒冷谢赫贾拉（Cheikh Jarrah）的行动。</p><p>人道报则在报道中强调：对耶路撒冷、乃至所有被占巴勒斯坦领土而言，星期一是最具危险的一天。以色列右派和极右派准备在旧城为以军1967年占领这座城市举行庆祝。尽管此一活动极有可能引发冲突，至周日，以色列当局仍不愿意取消相关活动。最高法院关于推迟审理将巴勒斯坦家庭逐出谢赫贾拉的决定，并不足以令人感到放心。</p><p>该报指出：东耶路撒冷地区数百人受伤或被捕，周四以来，当地民众不断表示愤怒情绪。欧盟和美国均做出表态，却没有采取任何具体措施。</p>
                </div>
            
                                <br>
