---
layout: post
title: 特斯拉或不在上海扩建工厂了
date: 2021-05-11 21:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210511-%E7%89%B9%E6%96%AF%E6%8B%89%E6%88%96%E4%B8%8D%E5%9C%A8%E4%B8%8A%E6%B5%B7%E6%89%A9%E5%BB%BA%E5%B7%A5%E5%8E%82%E4%BA%86
categories: rfi
---

<div>11/05/2021 - 15:37</div><img src="https://s.rfi.fr/media/display/d64232a8-b25d-11eb-b37f-005056a964fe/w:310/p:16x9/tslxk0.jpg"><div class="t-content__body u-clearfix" >
                    <p>据路透社今天报道称，特斯拉拟停止上海购地扩厂。据中央社引述消息报道说，美国在前总统特朗普（Donald Trump）执政时期，针对源自中国（含组装）的电动车加征25%关税。由于美国目前仍执行这项措施，特斯拉打算限制自家产品中，由中国生产的比重。根据消息人士透露，特斯拉3月间决定，放弃竞标现有上海厂对面的一块地段，原因是特斯拉至少到当时为止，不计划大幅提高在中国的产能。</p><p>但面对这一消息，特斯拉在发给路透社的声明中说，公司的上海厂“发展进度正按计划进行”。</p><p>特斯拉先前曾考虑将中国制造的入门级车款Model 3扩大出口，目标是美国、欧洲等更多市场。但特斯拉目前也正在德国设立新厂。依照规划，特斯拉上海厂每年可生产50万辆，目前年产量则为45万辆，生产的车款是Model 3及Model Y。</p><p>特斯拉规划的上海厂扩厂用地，目前是一座停车场。消息人士说，特斯拉也可能利用既有厂区扩充产能。</p><p>该报道称，此外，消息人士还说，上海市政府目前正与几家生产新能源商用车的车厂，就建厂用地进行谈判。</p>
                </div>
            
                                <br>
