---
layout: post
title: 巴以冲突拜登介入不介入 - 要闻分析
date: 2021-05-13 06:45:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E8%A6%81%E9%97%BB%E5%88%86%E6%9E%90/20210512-%E5%B7%B4%E4%BB%A5%E5%86%B2%E7%AA%81%E6%8B%9C%E7%99%BB%E4%BB%8B%E5%85%A5%E4%B8%8D%E4%BB%8B%E5%85%A5
categories: rfi
---

<div>13/05/2021 - 00:19</div><img src="https://s.rfi.fr/media/display/fa930a3e-b36f-11eb-b1f4-005056a964fe/w:310/p:16x9/AP21132645305179.jpg"><div class="t-content__body u-clearfix" >
                    <p>拜登明确暗示，无望尽快解决的巴以冲突，并不是他的政府的优先任务。一如他众多的前任，这场危机迫使美国总统最小程度涉入，以免情势发生爆炸。</p><p>不断升级的暴力使民主党人面对一道复杂的方程：外交上美国的牌有限，政治上，在特朗普倾力支持特拉维夫当局之后，民主党左翼推动拜登与以色列明显拉开距离。美国前中东问题谈判代表阿伦.戴维-米勒对法新社解释：很容易理解，拜登政府认为付出的努力将白费，不会有回报，而且遍布政治陷阱。这位专家补充说，这件事没有任何可能成功的前景，双方没有任何一位领袖，愿意作出根本性的决定。在他看来，拜登政府仅仅希望能够缓和暴力。</p><p>不过，法国欧洲事务国务秘书克莱芒·博纳周三呼吁美国干预巴以冲突，他对法国电视二台说：我们需要美国干预，尽管欧洲应该更多介入。因为很明确，美国今天还拥有主要的外交杠杆。</p><p>最近几日，美国国务卿布林肯以及美国国家安全顾问沙利文不断发出呼吁，要求降低紧张局势。沙利文周二与埃及政府就加沙走廊及耶路撒冷的局势进行了通话，希望“未来几日恢复平静”。根据观察人士，华盛顿也与约旦和卡塔尔进行了接触。</p><p>但是这一部分由威胁驱逐东耶路撒冷巴勒斯坦居民来为以色列移民让路引发的流血冲突，首先是肢体冲突最后蜕变为哈马斯向以色列发射迫击炮弹，以色列轰炸加沙走廊，局势就这样变得更加凶险。</p><p>米勒认为美国人更希望在斋月结束时紧张局势自动缓解。拜登一月份担任总统后，他和他的团队明确表示不急于斡旋中东局势，除了没有明确的把握，还有一个重要原因，以色列总理内塔尼亚胡以及巴勒斯坦总统阿巴斯政治前途并不明确。</p><p>布林肯支持巴勒斯坦未来独立建国，但承认短期内没有可实现的前景。他的发言人周二确认：巴以双方目前不存在任何真正相关的谈判。</p><p>美国前总统特朗普完全放弃了国际社会期待的两国并存的解决办法，以单方面承认耶路撒冷为以色列首都来表示对内塔尼亚胡一览无余地信任。在结束任期前夕，特朗普提出了自己的巴以和平计划：让以色列并吞外约旦大部分巴勒斯坦领土，给未来只能在耶路撒冷边缘地带建立首都的巴勒斯坦国留下极小的地盘。特朗普把设法让其他阿拉伯国家承认以色列实现关系正常化作为优先任务，希望由此使得巴勒斯坦问题更加边缘化，特朗普获得了成功。</p><p>拜登政府很少认可前任政府在外交领域的成功，但承认阿拉伯国家与以色列关系正常化为前任政府的功劳，并支持这一政策。不过，面对巴以冲突，拜登政府重拾传统的平衡政策。特朗普周二指责拜登政府“软弱”，未能在危机中有力地支持以色列政府。特朗普称：在拜登领导下，世界变得更加暴力和更不稳定。</p><p>拜登和布林肯，都是美国外交领域的老手，他们同样在以色列有非常坚实的关系。但特朗普时代对以色列过分有力的立场导致民主党中的左翼，面对以色列尤其面对内塔尼亚胡时立场发生变化，他们愈来愈认为内塔尼亚胡是以色列极右翼分子的领袖。</p><p>拜登党内的主要对手桑德尔呼吁美国应“强有力揭露作为以色列政府盟友的以色列极右翼分子的暴力行径。”</p><p>被视为持左翼立场的美国专家菲利斯·贝尼斯不相信会有这种可能：“以色列不希望美国重回伊核协定，但是美国肯定会回去。作为平衡，美国将不会采取其他的可能会使以色列不满的决定。”</p>
                </div>
            
                                <br>
