---
layout: post
title: 菲律宾：侵入菲海上经济区的中国民兵船只达287艘
date: 2021-05-13 07:15:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210512-%E8%8F%B2%E5%BE%8B%E5%AE%BE-%E5%85%A5%E4%BE%B5%E8%8F%B2%E6%B5%B7%E4%B8%8A%E7%BB%8F%E6%B5%8E%E5%8C%BA%E7%9A%84%E4%B8%AD%E5%9B%BD%E6%B0%91%E5%85%B5%E8%88%B9%E5%8F%AA%E8%BE%BE287%E8%89%98
categories: rfi
---

<div>12/05/2021 - 23:25</div><img src="https://s.rfi.fr/media/display/d2ef3ed2-8a50-11eb-ab81-005056bf87d6/w:310/p:16x9/Capture-432.PNG"><div class="t-content__body u-clearfix" >
                    <p>该小组的声明说，“这一事件以及在菲律宾控制的岛屿附近发现的外国船只的持续非法入侵，已经提交给相关机构，以便采取可能的外交行动。”最近几周，菲律宾外交部多次通过外交渠道就中方船只在其专属经济区的“蜂拥而至和威胁性存在”提出抗议，并要求中国船只从争议海域中撤离。</p><p>由于中方船只的持续存在，菲律宾总统杜特尔特（Rodrigo Duterte）受到反对派和舆论地不断施压。菲律宾政府最近则通过出动船只和飞机进行“主权巡逻”，以显示其在南中国海的存在，并回应国内不满的情绪。此前，中国驻菲律宾大使黄溪连9日接受中国官媒采访时提到，“南海问题是中菲之间绕不开的议题，但并不是无法解开的死结”。</p><p>他说，“南海问题是局部，中菲关系是整体。双方不能因1%的分歧影响99%的友好与合作大局。双方应根据两国元首重要共识，通过友好协商妥处分歧，推进合作，增进互信，共同维护双边关系大局和海上和平稳定。”</p><p>专家们说，中国渔船和海警舰队是中方在南海的战略野心的核心组成部分。依照目前的迹象显示，北京方面通过向南海争议海域派遣大量船只保持存在，以使得其他声索国的渔业和海上能源勘采活动变得复杂和充满挑战。</p><p>在菲律宾与中国南海主权争执之际，杜特尔特上周发表争议言论称，2016年菲律宾在南海问题上对中国的仲裁胜利“就是废纸一张，可以扔进垃圾桶”。他的这一发言遭到了来自反对派的副总统莱妮·罗布雷多（Leni Robredo）和菲律宾最高法院前大法官东尼奥·卡皮奥（Antonio Carpio）等人批评。</p><p>在杜特尔特态度暧昧同时，菲律宾“西菲律宾海国家工作小组”4日通过声明表示，不接受中方在南海有争议的水域实行伏季休渔制度的禁令，鼓励菲律宾渔船在菲律宾领海水域内继续捕捞。菲律宾国防和安全分析学者库斯托迪奥（Jose Antonio Custodio）评价说，杜特尔特的发言“抵消了”其高级外交官和国防部长对中方采取的强硬表态。他指出，“我们没有统一的信息传递，这是在鼓励中国的行动。”</p>
                </div>
            
                                <br>
