---
layout: post
title: 艺术家巴斯奇亚画作In this Case 逾31亿元售出 – 法国国际广播电台 - RFI
date: 2021-05-12 18:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E8%89%BA%E6%9C%AF%E5%AE%B6%E5%B7%B4%E6%96%AF%E5%A5%87%E4%BA%9A%E7%94%BB%E4%BD%9Cin-this-case-%E9%80%BE31%E4%BA%BF%E5%85%83%E5%94%AE%E5%87%BA
categories: rfi
---

<div>12/05/2021 - 12:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社纽约11日电）    美国已故涂鸦艺术家巴斯奇亚的画作「既然如此」（In this Case），今天在纽约佳士得拍卖会以9310万美元（约新台币31亿6000 万元）售出，成为巴斯奇亚作品的第2高拍卖价。</p><p>    这幅1983年的画作以8100万美元拍出，但加上佣金等费用，最终价格攀上9310万美元，远高于佳士得拍卖行（Christie's）的估价5000万美元。</p><p>    「既然如此」描绘一颗骷髅头，有红色背景。另一幅巴斯奇亚（Jean-Michel Basquiat）的骷髅画作「无题」（Untitled），2017年5月在纽约苏富比（Sotheby's）拍卖会上以1亿1050万美元售出，缔造巴斯奇亚作品的最高拍卖价纪录。</p><p>    巴斯奇亚在「既然如此」中重复自身作品常见的两大主题，也就是解剖结构以及呈现非裔美国人的特点。</p><p>    同一幅画作在2002年11月仅以99万9500美元出售，稍高于今天卖价的1/100，由此可见巴斯奇亚在艺术界的地位日高。</p><p>    身为纽约客的巴斯奇亚生于1960年，1988年逝世。除了他之外，非裔美国画家长期遭收藏家看轻，在美术馆曝光度也偏低。</p><p>    但近几年来，市场已开始重新评价许多非裔美籍画家。佳士得今天的春季拍卖会上就出现若干非裔艺术家的作品。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
