---
layout: post
title: 中国大使警告孟加拉国勿加入Quad 孟外长：外国使节应保持得体礼貌
date: 2021-05-13 07:15:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210512-%E4%B8%AD%E5%9B%BD%E5%A4%A7%E4%BD%BF%E8%AD%A6%E5%91%8A%E5%AD%9F%E5%8A%A0%E6%8B%89%E5%9B%BD%E5%8B%BF%E5%8A%A0%E5%85%A5quad-%E5%AD%9F%E5%A4%96%E9%95%BF-%E5%A4%96%E5%9B%BD%E4%BD%BF%E8%8A%82%E5%BA%94%E4%BF%9D%E6%8C%81%E5%BE%97%E4%BD%93%E7%A4%BC%E8%B2%8C
categories: rfi
---

<div>12/05/2021 - 23:35</div><img src="https://s.rfi.fr/media/display/0a3c9556-b369-11eb-8980-005056bf87d6/w:310/p:16x9/185645705_985122762228298_8366726845348427765_n.jpg"><div class="t-content__body u-clearfix" >
                    <p>就中方大使李极明的表态，莫曼5月11日向记者表示，“中国是在提前谈论由美国领导的四国安全联盟-四方对话机制这个问题。目前（政府）还没有就四方对话机制做出决定，孟加拉国将作为一个独立的主权国家对此做出决定”。</p><p>此前，中国国防部长魏凤和4月27日对该国进行访问时，也曾敦促孟加拉国不要加入美国领导的四方对话机制。中国官媒在报导中将四方对话机制形容为“亚洲版北约”，这一标签遭到了包括印度在内的其成员国否认。</p><p>据悉，李极明10日在接受孟外事记者协会采访时表示，“显然，孟加拉国参加这个四国小俱乐部并不是一个好主意，因为这将大大损害我们的双边关系。”莫曼则通过孟加拉国外交部发表的答记者问的声明指出，“敦促驻达卡的外国使节在公开场合发言时保持得体和礼仪”。莫曼说，“我们是一个独立和主权的国家。我们决定我们的外交政策。但是，是的，任何国家都可以坚持自己的立场。”</p><p>与此同时，孟加拉国周三宣布收到了来自中国的5百万剂中国国药集团生产的新冠疫苗作为礼物。李极明和莫曼等孟国官员出席了交接仪式。</p>
                </div>
            
                                <br>
