---
layout: post
title: 美国输油管线遭骇客攻击 拜登：据点在俄罗斯 – 法国国际广播电台 - RFI
date: 2021-05-11 16:15:06.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E5%9B%BD%E8%BE%93%E6%B2%B9%E7%AE%A1%E7%BA%BF%E9%81%AD%E9%AA%87%E5%AE%A2%E6%94%BB%E5%87%BB-%E6%8B%9C%E7%99%BB-%E6%8D%AE%E7%82%B9%E5%9C%A8%E4%BF%84%E7%BD%97%E6%96%AF
categories: rfi
---

<div>11/05/2021 - 10:02</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿10日电）    美国最大燃油管线营运业者「殖民管线」（Colonial Pipeline）遭骇客攻击，已关闭整个网络。总统拜登今天说，这起勒索攻击的幕后主使是一个以俄罗斯为据点的团体。</p><p>    美国联邦调查局（FBI）认为发动攻击的骇客团体是「黑暗面」（DarkSide），这个飘忽不定的组织去年开始活动，企图锁住企业电脑系统，以勒索赎金。「殖民管线」公司受制于勒索软体，被迫以安全为由关闭管线控制系统；拜登昨天已宣布进入紧急状态。</p><p>    拜登对媒体说：「我们情报人员手中…目前并无证据指向（此案）与俄罗斯有关，即使有证据显示，发起攻击的人、勒索软体是在俄罗斯。」</p><p>    「殖民管线」营运被迫中断第3天，公司今天表示，正朝恢复部分管线运作的方向前进。这条管线总长8850公里，是德州和纽约州之间最大的燃油网络。</p><p>    这起事件很可能妨碍美国东部许多地方的汽油、柴油和喷射机燃料供应。白宫副国家安全顾问薛伍德-蓝道尔（Elizabeth Sherwood-Randall）说，拜登随时获知最新消息。</p><p>    薛伍德-蓝道尔说，「殖民管线」公司告知白宫，目前未有损失，燃油运输尚未中断，可相对迅速地恢复连线。</p><p>    「黑暗面」去年开始攻击中、大型企业，目标多数在西欧、加拿大、美国，据称骇客向受害企业勒索数十万到数百万美元赎金，以比特币（Bitcoin）支付。企业支付赎金后，骇客才会提供解锁电脑系统的程式。</p><p>    此外，「黑暗面」也会下载并扣留大量企业资料，并威胁企业，若不付赎就公开资料。</p><p>    「黑暗面」在黑暗网路（Darknet）的官网声明中，否认有任何政府支持，声称「我们没有政治倾向，不涉入地缘政治，不需要把我们与一个明确的政府捆绑在一起来寻找我们的动机」。黑暗网路是需要特殊软体、特殊授权、特殊设定才能存取的网路空间。</p><p>    「黑暗面」还表示：「我们的目标是赚钱，不是给社会制造麻烦。」</p><p>    资安专家阿尔佩洛维奇（Dmitri Alperovitch）说，他的团队认为「黑暗面」在俄罗斯受官方庇护。</p><p>    他推文表示：「我们认为这是一个由俄罗斯运作（可能受到庇护）的勒索软体组织，这个组织让一家向（美国）东岸输送45%石油供应量的公司停摆。这是犯罪吗？当然是。」</p><p>    他还说，这「无疑」「严重」危及国家安全，尤其是美俄关系。</p><p>    但网路安全专家凯洛（Brett Callow）接受美国国家广播公司新闻网（NBC News）访问时说，有关「黑暗面」来历的一个迹象是，这个组织使用的软体，不是为了用在初始设定语言为俄语或其他几个东欧国家语言的电脑上而设计。</p><p>    负责网路事务的白宫副国安顾问纽柏格（Anne Neuberger）则仅表示，多数勒索软体都来自跨国犯罪集团。</p><p>    媒体询问，「殖民管线」公司或其他受害企业是否应支付赎金？她说，拜登政府不提供这类建议，这些企业「若不得不付赎，须权衡成本效益」，「这通常是私营部门自己的决定」。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
