---
layout: post
title: 日美法澳在东海举行海上联合军演
date: 2021-05-15 08:15:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210514-%E6%97%A5%E7%BE%8E%E6%B3%95%E6%BE%B3%E5%9C%A8%E4%B8%9C%E6%B5%B7%E4%B8%BE%E8%A1%8C%E6%B5%B7%E4%B8%8A%E8%81%94%E5%90%88%E5%86%9B%E6%BC%94
categories: rfi
---

<div>15/05/2021 - 00:41</div><img src="https://s.rfi.fr/media/display/f4ebf9ec-b504-11eb-82f6-005056a98db9/w:310/p:16x9/Capture-539.PNG"><div class="t-content__body u-clearfix" >
                    <p>日本海上自卫队周五通过推特介绍称，“海上自卫队启动了日美法澳联合演习（ARC21），以加强防务合作，实现‘自由和开放的印度洋-太平洋’。 海上自卫队的七艘驱逐舰、巡逻机和潜艇以及美国、澳大利亚和法国海军的舰艇和飞机参加演习，其中包括岛屿防御的登陆演习。”</p><p>据日本海上自卫队介绍，海自出动直升机航母“伊势”号、宙斯盾舰“足柄”号和“金刚”号、运输舰“大隅”号等7艘水面舰艇以及潜艇、巡逻机。在登陆训练中，由从舰艇上出发的陆自直升机把队员送往雾岛。美国的两栖船坞运输舰“新奥尔良”号以及巡逻机和“鱼鹰”运输机、法国的两栖攻击舰“雷电”号和护卫舰“絮库夫”、澳大利亚的护卫舰“帕拉马塔”号分别加入训练。</p><p>据共同社报导，日本陆上自卫队14日还在横跨宫崎县和鹿儿岛县的雾岛演习场启动了与法国陆军、美国海军陆战队的训练。15日计划实施从九州以西近海的舰艇向演习场投送部队的两栖作战训练。海自14日公开的图像中，以海自直升机护卫舰“伊势”号为中心的各国舰艇编队航行。上空还有美国“鱼鹰”运输机飞行。</p><p>报导指，日本陆上自卫队一把手、陆上幕僚长吉田圭秀在13日的记者会上透露，配合与美国、法国、澳大利亚的4国联合训练“ARC21”，12日与法国陆军一把手、参谋长布克哈德（Thierry Burkhar）以视频会议方式举行了会谈。吉田介绍称，双方就增加联合训练和防卫交流以强化日法两国和多边合作的方针达成了一致。他强调，“与拥有共同价值观的国家一同训练将有助于印度太平洋的和平与稳定。”</p>
                </div>
            
                                <br>
