---
layout: post
title: "“猪坚强”将死中国多哀伤 能唤两天后的汶川冤魂祭悼？"
date: 2021-05-10 18:15:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210510-%E7%8C%AA%E5%9D%9A%E5%BC%BA-%E5%B0%86%E6%AD%BB%E4%B8%AD%E5%9B%BD%E5%A4%9A%E5%93%80%E4%BC%A4-%E8%83%BD%E5%94%A4%E4%B8%A4%E5%A4%A9%E5%90%8E%E7%9A%84%E6%B1%B6%E5%B7%9D%E5%86%A4%E9%AD%82%E7%A5%AD%E6%82%BC
categories: rfi
---

<div>10/05/2021 - 12:04</div><img src="https://s.rfi.fr/media/display/0ab1cc48-b177-11eb-b586-005056bf87d6/w:310/p:16x9/ztt3.jpg"><div class="t-content__body u-clearfix" >
                    <p>据自由亚洲今天报道称，“猪坚强”被指代表着四川人坚强乐观的态度，被选为“2008感动中国十大动物”，曾有人为其创作“猪坚强之歌”、举办弘扬“猪坚强”精神的“猪坚强”春晚等。而随着中国官方近年“白事当红事办”，把5月12日“国难日”定为“感恩日”，“猪坚强”也被吹捧为弘扬“正能量”的吉祥物。</p><p>该报道说，“猪坚强”目前已14岁，它弥留的消息传出后，包括《人民日报》、《新华网》、《中国新闻网》等中国官媒广泛报道，形容“它没有在36天暗无天日的废墟中弃生，而是坚强活过14年，实现了一只猪的天赋之年”。中国网民也纷纷留言为它打气─“再两天就是5.12啦，一定要坚强呀！”、“致敬猪坚强！”、“了不起的猪！”</p><p>据自由亚洲报道称，“猪坚强”弥留举国神伤之际，汶川豆腐渣工程亡灵无人问。当“猪坚强”的弥留引来举国关注之际，另一边，仍然记得豆腐渣工程遇难学生的，却只剩下他们的父母。多年来，不少家长坚持维权，希望追究豆腐渣工程导致学生遇难的责任，为子女讨回公道，却持续受到官方压逼和监控，部分家长更因而多次被关押。</p><p>据《香港电台》报道，其中一名家长鲁碧玉，坚信儿子是死于豆腐渣工程的人祸。她自2008年开始维权，被捕、被拘留达50次。她希望当局能给予家长们合理的说法，然而每次换领导，都令她们讨回公道的希望落空。另一名死难学生家长周兴蓉，至今无法走出丧子之痛，更多次被关押，断送健康，无法用试管婴儿再生育，左眼已近乎失明，亦无能力收养。</p>
                </div>
            
                                <br>
