---
layout: post
title: 日本疫情严峻 国际奥会主席被迫延后访日 – 法国国际广播电台 - RFI
date: 2021-05-10 17:45:08.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%97%A5%E6%9C%AC%E7%96%AB%E6%83%85%E4%B8%A5%E5%B3%BB-%E5%9B%BD%E9%99%85%E5%A5%A5%E4%BC%9A%E4%B8%BB%E5%B8%AD%E8%A2%AB%E8%BF%AB%E5%BB%B6%E5%90%8E%E8%AE%BF%E6%97%A5
categories: rfi
---

<div>10/05/2021 - 11:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社东京10日电）    东京奥运组织委员会今天表示，由于日本2019冠状病毒疾病（COVID-19）病例激增，国际奥林匹克委员会（IOC）主席巴赫被迫延后访问日本。此时距离东奥开幕只剩不到3个月。</p><p>    巴赫（Thomas Bach）原定5月17至18日访日，但奥运主办单位基于日本政府延长实施紧急事态宣言等理由，决定延后访问。</p><p>    政府与奥运官员坚称，已因疫情延后一年的奥运能够在今夏安全登场。不过民调显示，多数日本人支持取消举办或再度延期。</p><p>    日本媒体报导称，主办单位计划将巴赫访日行程延至6月。</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
