---
layout: post
title: 美警：男嫌闯生日派对枪杀6人后自戕 – 法国国际广播电台 - RFI
date: 2021-05-10 10:45:04.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%BE%8E%E8%AD%A6-%E7%94%B7%E5%AB%8C%E9%97%AF%E7%94%9F%E6%97%A5%E6%B4%BE%E5%AF%B9%E6%9E%AA%E6%9D%806%E4%BA%BA%E5%90%8E%E8%87%AA%E6%88%95
categories: rfi
---

<div>10/05/2021 - 04:32</div><img src="https://static.rfi.fr/meta_og_twcards/RFI_FB.png"><div class="t-content__body u-clearfix">
            <p>（法新社华盛顿9日电）    美国警方表示，科罗拉多州一名男子今天凌晨在生日派对上开枪，击毙6人后自戕。</p><p>    科罗拉多泉（Colorado Springs）警方午夜过后接到报案前往一处活动屋社区，地点在丹佛以南约110公里处。警方到场后发现6名成年人遭枪击身亡，1名成年男性重伤。</p><p>    男性伤者送往当地医院后伤重不治。</p><p>    初步调查显示，有多户家庭群聚在一间拖车内庆生，接着就爆发枪击案。</p><p>    警方发布声明说：「嫌疑人为其中1名女性受害者的男朋友，犯嫌开车抵达现场后，步行入拖车并开枪扫射派对群众，接着自我了断。」</p><p>    「警方还在厘清犯案动机。」</p>
            <p class="t-copyright">© 2021 AFP</p>        </div>

            
                <br>
