---
layout: post
title: 美国无人侦察机Triton首次在日本部署加强海洋监视
date: 2021-05-15 23:45:05.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%BA%9A%E6%B4%B2/20210515-%E7%BE%8E%E5%9B%BD%E6%97%A0%E4%BA%BA%E4%BE%A6%E5%AF%9F%E6%9C%BAtriton%E9%A6%96%E6%AC%A1%E5%9C%A8%E6%97%A5%E6%9C%AC%E9%83%A8%E7%BD%B2%E5%8A%A0%E5%BC%BA%E6%B5%B7%E6%B4%8B%E7%9B%91%E8%A7%86
categories: rfi
---

<div>15/05/2021 - 17:23</div><img src="https://s.rfi.fr/media/display/20615488-10c3-11ea-b735-005056a99247/w:310/p:16x9/2019-06-20t081741z_664315391_rc1e077e1650_rtrmadp_3_mideast-iran-usa.jpg"><div class="t-content__body u-clearfix" >
                    <p>共同社5月15日消息，2架美国海军无人侦察机“Triton”将在日本青森县三泽市的美军三泽基地部署约5个月，其中1架已于5月15日上午9点15分左右抵达。</p><p>据日本防卫省透露，Triton是把美国空军等运用的无人机“全球鹰”改良为海洋监视用的机型，是首次在日本部署。</p><p>日本防卫省就临时部署Triton表示，“在周边国家的海洋活动趋于活跃的形势下，此举将强化海洋监视能力，有益我国的安全保障”。</p><p>此外，美国空军每年为了躲避台风而部署到日本的、主要任务为地面监视的“全球鹰”计划从本月下旬起在美军横田基地（东京都）部署约5个月。</p>
                </div>
            
                                <br>
