---
layout: post
title: 3例本土病例都在安徽 大连否认一例有入境者接触史
date: 2021-05-15 01:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210514-3%E4%BE%8B%E6%9C%AC%E5%9C%9F%E7%97%85%E4%BE%8B%E9%83%BD%E5%9C%A8%E5%AE%89%E5%BE%BD-%E5%A4%A7%E8%BF%9E%E5%90%A6%E8%AE%A4%E4%B8%80%E4%BE%8B%E6%9C%89%E5%85%A5%E5%A2%83%E8%80%85%E6%8E%A5%E8%A7%A6%E5%8F%B2
categories: rfi
---

<div>14/05/2021 - 19:28</div><img src="https://s.rfi.fr/media/display/e4b248c2-38dd-11eb-8f91-005056bff430/w:310/p:16x9/2020-11-25T095756Z_426371655_RC29AK95XM6F_RTRMADP_3_HEALTH-CORONAVIRUS-MUTATIONS.JPG"><div class="t-content__body u-clearfix" >
                    <p>据路透社今天14日报道，这是中国大陆超过三个星期以来，首次出现本土新冠病例。目前发现的三例确诊病例均在安徽，迄今安徽已有3个区域疫情风险等级定为“中风险”。</p><p>据“安徽发布”微博消息，合肥周五上午通报，截至5月14日00点40分，合肥市，肥西县，报告新增新冠肺炎确诊病例两例，均转送至合肥市定点医院集中救治。此前，安徽六安市已确诊一例。</p><p>针对安徽的一个确诊病例曾在大连接触入境人员的说法，大连市疾控中心紧急通告予以否认称，该病例在大连期间并无入境人员接触史。并强调大连对入境人员实施严格的“14+7天”的隔离管控政策，并以“闭环”转运外域人员离开的严格措施。</p><p>中国大陆上次出现冠状病毒本土病例是4月20日在云南发现的。</p>
                </div>
            
                                <br>
