---
layout: post
title: 西亚：处于险境中的巴格达历史遗产
date: 2021-05-10 06:15:07.000000000 +08:00
link: http://www.rfi.fr//cn/%E7%A7%91%E6%8A%80%E4%B8%8E%E6%96%87%E5%8C%96/20210509-rfi-%E6%B3%95%E5%B9%BF-%E5%B0%BC%E5%8F%A4%E6%8B%89-irak-patrimoine-%E8%A5%BF%E4%BA%9A-%E5%A4%84%E4%BA%8E%E9%99%A9%E5%A2%83%E4%B8%AD%E7%9A%84%E5%B7%B4%E6%A0%BC%E8%BE%BE%E5%8E%86%E5%8F%B2%E9%81%97%E4%BA%A7
categories: rfi
---

<div>09/05/2021 - 23:55</div><img src="https://s.rfi.fr/media/display/06536480-0fad-11ea-9ca5-005056a99247/w:310/p:16x9/2019-10-28t165005z_635139182_rc15d290eb00_rtrmadp_3_iraq-protests_0.jpg"><div class="t-content__body u-clearfix" >
                    <p>本台RFI法文网2021年5月9日星期天在“国际报道”专题（<strong><u>Reportage international</u></strong>）刊出记者Lucile Wassermann的最新长篇采访报道，标题为：巴格达历史遗产处于险境（<strong><u>Le patrimoine de Bagdad en danger</u></strong> ），在此予以介绍。</p><p>这一报道开篇指出，在巴格达这座千年古城里，其居民曾经知道的ˎ 极其丰富的历史遗产已经所剩无几。在经历了数十年之久的冲突与政府的混乱管理后，这座城里的历史建筑如今破败不堪，而不仅仅只是有坍塌的威胁。</p><p>巴格达街区里的那些古老集市也正受到威胁。由于即没有游客，也没有当局的支持，一些伊拉克文化中的特有技能，比如制锅业（chaudronnerie）就在逐步消亡中。由于没有保护，巴格达老城逐渐败落，伊拉克的部分象征也随之而去。</p><p>轧钢曾经如此嘈杂，以致于在位于巴格达市中心Safafeer集市里的“制锅市场”难以交谈。在这一古老集市的狭窄小巷里，地毯销售商中，只有十几名手工匠还在打铁。84岁高龄的哈桑（Hassan）是其中之一。他目光柔和，尘土飞扬的衣着对其孱弱的身体而言显得太大。哈桑接受采访说，如今，大多数摊子卖布料，这里的制锅匠只剩下5到10个。如果有人来向他买东西，那是为了送礼。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Un Irakien marche au Souk al-Safafir, spécialisé dans les produits artisanaux, dans la capitale irakienne Bagdad le 27 août 2020."
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/98183590-b00a-11eb-ae50-005056a9b1a7\/&quot;,&quot;filename&quot;:&quot;000_1WS7DD.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/98183590-b00a-11eb-ae50-005056a9b1a7/000_1WS7DD.jpg" alt="Un Irakien marche au Souk al-Safafir, spécialisé dans les produits artisanaux, dans la capitale irakienne Bagdad le 27 août 2020."
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Un Irakien marche au Souk al-Safafir, spécialisé dans les produits artisanaux, dans la capitale irakienne Bagdad le 27 août 2020.</span>                <span class="a-media-legend">AFP - SABAH ARAR</span>            </figcaption>
            </figure>

        </div><p>伊拉克的这种技能始于阿拔斯时代（<strong>abbasside</strong>）。当纳泽姆（Nazem）在上一世纪五十年代入行时，当地居民还买这种手工制品使用。纳泽姆接受采访说：“世界已经发展，使用了新工艺，现在一切都是电器。但以前，人们洗衣都使用我们制造的特殊容器。每个人都使用灯笼和蜡烛来照明。”</p><p><strong>破旧不堪的建筑</strong></p><p>这种技能的缓慢消失，是巴格达文化遗产遭更大规模忽视的一个象征。集市旁边的al-Rasheed拉希德街上，数十座传统建筑有坍塌危险。这批建筑早于上一世纪30年代，从来没有获得保护，也没有得到维修。</p><p>侯赛因（Hussein）是其中一名业主。他把底楼当店铺使用，当不再上楼，因为这里破旧不堪。这有政府才能翻新这些受保护建筑物。侯赛因在采访中说，他曾向当局了解是否可以翻新，当局说，没有得到批准，就不可以，批准需要一年到两年时间。侯赛因表示，他也不知道这一如今已经倾斜的结构还能支撑多久。忽略危险问题，他对将来这一具有伊拉克象征性建筑的坍塌感到悲伤。</p><p>法广RFI联系了巴格达省办公室，当局表示，正在组建一个新的委员会以保护这些历史性建筑。但只要不采取任何措施，这座城市的历史遗产都将一点点的消失。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Ctésiphon est une ancienne ville parthe, située face à Séleucie du Tigre, sur la rive gauche du Tigre, à 30 km au sud-est de la ville actuelle de Bagdad, en Irak."
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/354808f6-7dd2-11eb-8d70-005056a98db9\/&quot;,&quot;filename&quot;:&quot;irak%20Ct%C3%A9siphon%20arche%20tigre%20000_Nic6216277.jpg&quot;,&quot;ratio&quot;:&quot;p:16x9&quot;,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/354808f6-7dd2-11eb-8d70-005056a98db9/irak%20Ct%C3%A9siphon%20arche%20tigre%20000_Nic6216277.jpg" alt="Ctésiphon est une ancienne ville parthe, située face à Séleucie du Tigre, sur la rive gauche du Tigre, à 30 km au sud-est de la ville actuelle de Bagdad, en Irak."
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Ctésiphon est une ancienne ville parthe, située face à Séleucie du Tigre, sur la rive gauche du Tigre, à 30 km au sud-est de la ville actuelle de Bagdad, en Irak.</span>                <span class="a-media-legend">© ALI AL-SAADI - AFP / RFI Archive </span>            </figcaption>
            </figure>

        </div>
                </div>
