---
layout: post
title: Covid-19:科学界再呼吁调查病毒源头
date: 2021-05-16 03:15:08.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210515-rfi-%E6%B3%95%E5%B9%BF-%E5%B0%BC%E5%8F%A4%E6%8B%89-chine-virus-covid-19-%E7%A7%91%E5%AD%A6%E7%95%8C%E5%86%8D%E5%91%BC%E5%90%81%E8%B0%83%E6%9F%A5%E7%97%85%E6%AF%92%E6%BA%90%E5%A4%B4
categories: rfi
---

<div>15/05/2021 - 20:54</div><img src="https://s.rfi.fr/media/display/94c04082-b595-11eb-aaa2-005056bff430/w:310/p:16x9/AP21036594536770.jpg"><div class="t-content__body u-clearfix" >
                    <p>本台RFI法文网2021年5月15日周六刊文介绍说，一批科学家5月13日周四在« 科学 »杂志(Science)上刊出的信函中表示，就Covid-19病毒的起源，不排除任何假设。</p><p>这封代表了二十来位科学家态度的信件，其中有一些为全球病毒工作领域的知名人物。科学家们在他们的论坛上呼吁发起一项调查，探索<strong>SARS-CoV-2</strong>新冠病毒起源的各种可能性。他们甚至对蝙蝠病毒经过中介宿主传染人类的假设，也持谨慎态度。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image RFI Archive - Wuhan Institute of Virology"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/fa779e7e-aca4-11eb-80c8-005056a9b1a7\/&quot;,&quot;filename&quot;:&quot;AP21034210627378.jpg&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/fa779e7e-aca4-11eb-80c8-005056a9b1a7/AP21034210627378.jpg" alt="Image RFI Archive - Wuhan Institute of Virology"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Image d&#039;archive RFI : Personnel de sécurité devant le Wuhan Institute of Virology, lors de la visite de l&#039;équipe de l&#039;OMS, en février 2021.</span>                <span class="a-media-legend">© AP - Ng Han Guan / RFI Archive 法广存档图片</span>            </figcaption>
            </figure>

        </div><p>据这些生物学家，尽管实验室事故的观点没有得到充分审视，但没有发现足够的要素予以支持。此外，世卫组织在今年初牵头开展的中外专家联合考察组工作未能排除所有怀疑。</p><p><strong>中国拒绝实验室泄漏之说</strong></p><p>这封信的作者们认为，调查大流行病起源的世卫组织没有对“冠状病毒可能来自实验室的论说”展开“平衡审核”。科学家们补充说，需要严肃面对自然感染与实验室传染的假设，直到获得足够的数据。</p>

    <div class="m-em-image">
                    
<figure class="m-figure m-figure--original">
    <div class="m-figure__img-wrapper">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Image RFI Archive - l&#039;équipe de l&#039;OMS à Wuhan"
class="m-figure__img"     data-lazyloaded="image-formats"
    data-image-dataset="{&quot;url&quot;:&quot;https:\/\/s.rfi.fr\/media\/display\/76c75328-9159-11eb-8870-005056bf87d6\/&quot;,&quot;filename&quot;:&quot;2021-03-24T163732Z_1687361667_RC2SHM999EJW_RTRMADP_3_HEALTH-CORONAVIRUS-WHO-CHINA-USA.JPG&quot;,&quot;ratio&quot;:null,&quot;displayFormat&quot;:&quot;original&quot;}"/>
<noscript><img src="https://s.rfi.fr/media/display/76c75328-9159-11eb-8870-005056bf87d6/2021-03-24T163732Z_1687361667_RC2SHM999EJW_RTRMADP_3_HEALTH-CORONAVIRUS-WHO-CHINA-USA.JPG" alt="Image RFI Archive - l&#039;équipe de l&#039;OMS à Wuhan"
class="m-figure__img"/>
</noscript>    </div>
                        <figcaption class="m-figure__caption">
                <span class="a-media-legend" >Image d&#039;archive RFI : l&#039;équipe de l&#039;OMS chargée d&#039;enquêter sur les origines du Covid-19, à leur arrivée à l&#039;aéroport de Wuhan, le 10 février 2021.</span>                <span class="a-media-legend">REUTERS - ALY SONG / RFI Archive 法广存档图片</span>            </figcaption>
            </figure>

        </div><p>中国多次拒绝接受事故的说法，但它也应该处理被匿名科学家发表于推特上的三篇学术著作。ˎ 这些在武汉开展的学术研究揭示，当地的病毒研究所曾开展改动某些病原体的实验。</p><p>尽管中国科学家确信没有造成任何泄漏，这封信的作者们仍然呼吁展开更加独立的ˎ 更加客观的和更加透明的新调查。</p>
                </div>
