---
layout: post
title: 阿富汗恐袭和巴以冲突：美国战略重心转移计划面临考验 - 要闻分析
date: 2021-05-10 04:45:03.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%93%E6%A0%8F%E6%A3%80%E7%B4%A2/%E8%A6%81%E9%97%BB%E5%88%86%E6%9E%90/20210509-%E9%98%BF%E5%AF%8C%E6%B1%97%E6%81%90%E8%A2%AD%E5%92%8C%E5%B7%B4%E4%BB%A5%E5%86%B2%E7%AA%81-%E7%BE%8E%E5%9B%BD%E6%88%98%E7%95%A5%E9%87%8D%E5%BF%83%E8%BD%AC%E7%A7%BB%E8%AE%A1%E5%88%92%E9%9D%A2%E4%B8%B4%E8%80%83%E9%AA%8C
categories: rfi
---

<div>09/05/2021 - 22:30</div><img src="https://s.rfi.fr/media/display/d5cd75f2-b097-11eb-b356-005056bff430/w:310/p:16x9/28394243f1c2021305ac7bc1a707bdefbb9aff28.jpg"><div class="t-content__body u-clearfix" >
                    <p>路透社报道，这起爆炸的伤亡已攀升至55人丧生和超过150人受伤，许多受害人是年龄介于11至15岁的女学生，当时正值放学时刻。这起重大炸弹攻击震撼喀布尔西区达斯特巴奇地区（Dasht-e-Barchi），当地是什叶派哈扎拉族（Hazara）聚居社区，经常遭逊尼派伊斯兰主义激进分子锁定为攻击目标。 爆炸发生时，居民正外出购物，准备庆祝下周穆斯林神圣斋戒月结束的开斋节（Eid al-Fitr）。</p><p>阿富汗内政部发言人告诉法新社，已针对这起爆炸案展开调查，目前尚无团体或组织出面宣称犯案，民兵组织塔利班否认涉案。 但阿富汗总统甘尼（Ashraf Ghani）把这起攻击归咎于塔利班。 塔利班还表示谴责对阿富汗平民发动的任何攻击行动。遇难家属谴责阿富汗政府和西方强国未能让暴力和持续的战争划下句点。</p><p>美国五角大楼6日曾经表示，美国军方已增派重型轰炸机和战斗机保护美国和联盟部队自阿富汗撤离，美军和联军到目前为止未遭受直接攻击。的确，美军做好了防止受到直接攻击的准备，但阿富汗政府和平民但却处于更加危险的境地。</p><p>美国参谋首长联席会议主席密利（Mark Milley）日前表示：塔利班叛乱团体每天对阿富汗政府目标发动80至120次攻击，但自5月1日撤军行动展开以来，并未出现针对美军和联盟部队的攻击。美国国防部长奥斯汀和密利都曾经强调，虽然美国持续与阿富汗安全部队密切合作，双方关系将随着这波撤军有所调整。奥斯汀还表示，美国将继续透过资金来支持阿富汗政府，驻守数百公里外的美军基地和船舰也会提供军事支持。</p><p>美国撤军前的以上保证并不足够，美军主要防备的是对自己的攻击，并不是阿富汗政府目标和平民的攻击。美国与阿富汗政府虽然正进行讨论，帮助阿富汗空军持续对地面政府军提供有效支持。但评论认为：阿富汗空军相当依赖外国技术人员，目前正陆续撤离的1万6000名承包商就包括这些技术人员。</p><p><strong>巴以冲突百人受伤</strong></p><p>除了阿富汗以外，数以百计的巴勒斯坦人本周末因与以色列维安部队起冲突而受伤，阿拉伯国家纷纷谴责以色列，包括去年同意与以色列关系正常化的苏丹等4个国家：苏丹、摩洛哥、阿拉伯联合酋长国、巴林。突尼斯已呼吁联合国安理会16日开会讨论当地情势。</p><p>法新社报道，东耶路撒冷艾格撒清真寺（Al-Aqsa Mosque）院区和旧城（Old City）周边，近日爆发2017年以来最严重的暴力事件。 这是受到犹太屯垦者多年来试图接管巴勒斯坦人的住宅所刺激。以色列在1967年的六日战争期间占领东耶路撒冷，随后加以兼并。 国际社会多半不承认此举。</p><p>拜登政府要把美国的战略重心从中东阿富汗等地区转向印度太平洋区域的计划，无疑正经受考验。</p>
                </div>
            
                                <br>
