---
layout: post
title: 台湾社区感染激增 防疫优等生会否“破功”？
date: 2021-05-12 23:17:04.000000000 +08:00
link: https://www.dw.com/zh/台湾社区感染激增 防疫优等生会否“破功”？/a-57504505
categories: dw
---

<div><i><br>2021-05-12T11:03:15.108Z</i></div><img src="https://images.weserv.nl/?url=static.dw.com/image/57504726_303.jpg" width="100%"><div><small style="color: #999;">台湾的卫生福利部部长陈时中周二强调，台湾已进入社区感染。</small></div><p>（德国之声中文网）台湾的中央流行疫情指挥中心周二（5月11日）宣布，因出现感染源不明的新冠病毒本土确诊案例，自5月11日至6月8日，台湾各项防疫措施全面升级。</p><p>这是台湾地区自去年放宽防疫措施以来首次紧缩限制。《立场新闻》报道称， 由于在此之前控制疫情方面相当成功，台湾的病毒检测率与接种疫苗都很低，到目前为止台湾疫苗接种率不到 1％ 。</p><p>台湾中央流行疫情指挥中心在周二公布新增7例本土确诊案例，其中1例为先前中华航空机师群聚感染的接触者，但有6例的感染源待厘清，因此，指挥中心将疫情警戒标准提升至第二级。</p><p>台湾的卫生福利部部长陈时中周二强调：「现在已经不是在社区感染的边缘，现在已经进入社区感染了。」</p><p>周三下午，台湾又再公布新增16例本土确诊，其中有13例为先前群聚感染的相关接触者，仍有3例感染源待厘清。</p><p>根据疫情指挥中心的标准，若出现感染源不明的本土案例，则进入疫情警戒第二级，具体防疫措施包括：民众若未配合配戴口罩规定可予以开罚; 停办室外500人以上丶室内100人以上之集会活动; 集会活动需落实确保民众维持社交距离丶实联制丶体温量测丶人流管制等，若无法确保，则应暂缓办理; 必要时强制关闭休闲娱乐相关营业场所和公共场域; 火车丶高铁丶客运等大众交通工具都禁止饮食。</p><p>台北市也在周三宣布进入准第三阶段防疫，包括台北市政府主办活动全部取消丶政府大楼落实实名制丶宗教相关群聚集会应停办丶整备医疗资源丶防疫旅馆增加床位等。</p><p>新北市周三下午也宣布，新北市娱乐场丶网路咖啡丶电子游戏场丶公有场馆丶文化场馆丶运动中心丶图书馆与活动中心等全部关闭。</p><p>未来，若进入到疫情警戒第三级，则须停止室内5人以上丶室外10人以上之聚会; 仅保留维生丶必要性丶医疗丶公务等相关服务，其馀营业及公共场域都关闭; 在发生群聚的社区执行快速围堵，民众需配合筛检，且不得离开围堵区。</p><p>另据报道， 本周三台湾股市突然大跌，台湾加权指数日内重挫8.6%。财经媒体报道称， 受疫情升温影响，台湾股市周三加速暴跌。台湾加权指数开盘即下跌67.25 点，引爆卖压全面涌出，盘中电子、传产全数成为重灾区，仅剩防疫概念股一枝独秀。</p><p><strong>全球防疫优等生</strong></p><p>新冠疫情去年开始在全球爆发以来，台湾一直被看作是全球抗疫中的优等生。去年8月，时任美国卫生部长的阿扎（Alex Azar）访问台湾。行前他在接受美国媒体访问时，强调此行的目的是加强美国和台湾在卫生安全方面的伙伴关系，并希望学习台湾应对新型冠状病毒的经验。</p><p>去年年底，台湾总统蔡英文接受美国康乃尔大学《康乃尔法律论坛》（Cornell Law Forum）期刊书面访问介绍台湾成功抗疫经验时表示，“台湾因应疫情的三项主要原则——审慎以对、迅速应变及超前部署，让我们掌握先机，免于封城”。</p><p>疫情期间台湾还打出“Taiwan can help”的口号，向诸多国家捐赠医疗口罩。今年1月，台湾《苹果日报》发表的一篇文章指出，“并从去年4月开始，捐赠超过5000万片医疗口罩，支援包含美国、欧洲、友邦、新南向政策目标国家、日本及部分非洲及中东地区等80多个疫情严重国家的第一线医疗人员”。</p><p>从去年新冠疫情在全球蔓延以来，台湾通报的总确诊人数为1231例，死亡病例12例（截至2021年5月12日）。不过去年台湾媒体也一度报道出过比利时工程师、日本留学生、日籍工程师都是在台湾做较长时间停留后，返国时被检验出感染新冠病毒的消息。但台湾中央流行疫情指挥中心调查讨论后都认为，这些病例的感染源不在台湾。由于台湾未实施过普筛，因此也有看法认为台湾通报的感染病例与实际情况之间可能存在差别。</p><p><em>© 2021</em><em>年</em> <em>德国之声版权声明：本文所有内容受到著作权法保护，如无德国之声特别授权，不得擅自使用。任何不当行为都将导致追偿，并受到刑事追究</em></p><br>
