---
layout: post
title: 世界报：对中国幻想终结  欧洲风向转往印太
date: 2021-05-14 02:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E6%AC%A7%E6%B4%B2/20210513-%E4%B8%96%E7%95%8C%E6%8A%A5-%E5%AF%B9%E4%B8%AD%E5%9B%BD%E5%B9%BB%E6%83%B3%E7%BB%88%E7%BB%93-%E6%AC%A7%E6%B4%B2%E9%A3%8E%E5%90%91%E8%BD%AC%E5%BE%80%E5%8D%B0%E5%A4%AA
categories: rfi
---

<div>13/05/2021 - 19:21</div><img src="https://s.rfi.fr/media/display/fb2568b8-9806-11eb-a6c1-005056bff430/w:310/p:16x9/AP17188318082103.jpg"><div class="t-content__body u-clearfix" >
                    <p><strong>“绝对难以理解！”</strong></p><p>5月10日星期一，匈牙利再次以一票否决了其他26个欧盟（EU）成员国谴责北京在香港实施的镇压的声明后，德国外交部长愤怒地说：“绝对难以理解！”对他而言，似乎这已经到了容忍的极限。这个声明需要27国的一致通过才能生效。 但是，真如德国外长马斯所言，这是“难以理解”的局面吗？亦或是情况太清楚不过了？</p><p>实际上，匈牙利总理欧尔班（Viktor Orban）对自己的倾向并不遮遮掩掩，在最近的一次采访中自己就透露出他刚刚与中国国家主席习近平通了话。据北京方面说，习近平在上次会谈中告诉欧尔班，他赞赏匈牙利“坚定地奉行对华友好政策”。</p><p><strong>默克尔极力促成欧中投资协议 </strong></p><p>科夫曼在文章中指出，对于德国人而言，此事尤其令人感到恼火，因为德国人自己也曾被北京铺设的地毯绊倒过。到目前为止，德国是向中国出口最多的欧盟国家。德国渴望保持这种活力，同时也受到习近平的大力鼓励和支持。德国总理安格拉·默克尔（Angela Merkel）向她的欧洲伙伴施加了与北京的全面投资协议（CAI），是她坚持要求在2020年12月30日德国担任欧盟主席任期结束之前达成这个协议的。当时由于时间紧迫，必须迅速行动，因此就决定将细节留给以后再谈。但俗话说，“魔鬼在细节中”。</p><p><strong>细节里的魔鬼</strong></p><p>之后，细节自然逐步被曝光。德国媒体《世界报》就发现在这个协议附件的第II条第9条中写着：“获准在中国开展业务的非营利组织的高级管理人员必须是中国公民。 ”具体说，这意味着，例如默克尔领导的基民盟下的慈善机构康拉德·阿登纳基金会（Konrad Adenauer Foundation）在中国设有办事处，则必须由中国人领导，而这种情况完全没有独立性的保证。</p><p>3月，当这个协议的附件出版后，某些段落被自己梳理后就发现其中掩藏着的奇特的互惠概念，但当时都被协议的推动着极力称赞过。因此，附件一的条目22中，中方要求，在视听领域的投资条款中规定，未经国家授权，任何欧洲电影或电视连续剧都不能在晚上7点至晚上10点之间搬上中国电视屏幕。同样，中国的动画频道只能在下午5点至晚上10点之间播放中文动画片。</p><p>但是，这些中国谈判代表认真刻在协议草案中严格规则，并未在附件中列出的欧盟投资条款中有对等的条款；作者指出，欧洲仍然忠于其高尚的“开放性哲学”精神。</p><p><strong>欧中协议奄奄一息 幻想破灭</strong></p><p>由于北京政权的反对者和欧洲议会的批评，当北京在3月份决定制裁多名欧洲议员和研究人员来对抗欧盟制裁参与迫害维吾尔族的官员时，欧中投资协议实际上已经岌岌可危了。之后情况越来越糟，在这个协议变得奄奄一息之际，欧盟委员会最终通过其副主席之一——瓦尔迪斯·多姆布罗夫斯基的声音将其钉在棺材上，这位拉脱维亚籍欧洲议员在5月4日承认，政治气氛“不利于“欧洲议会签署这个协议。</p><p>这也意味着幻想的破灭。</p><p><strong>欧洲风向变了 吹向印度</strong></p><p>今天，它正明显地吹向印度太平洋地区。 5月8日，在葡萄牙波尔图举行的一次欧洲峰会上，印度总理·莫迪（Narendra Modi）被邀请远距离与会，欧盟决定重新启动与印度的自由贸易协定的谈判，该协定在经过数年的艰难谈判后于2013年以失败告终。在波尔图，与会领导人就有关联合基础设施项目，可能的投资协议进行了讨论……而这些都是迄今为止中欧议程上的话题。</p><p>自然，印度不是中国，不能代替中国。但是，新德里目前被淹没在新冠疫情悲剧中难以自拔，也削弱了它与亚洲的主要竞争对手的对抗能力，因此印度与欧盟共同希望超越贸易上的歧见而彼此靠近。</p><p><strong>印度外长捉住时机</strong></p><p>在印度方面，印度外交部长苏杰生（S. Jaishankar）是一位出色的地缘政治外交官，他也比其他任何人都更能抓住这一有利时机, 他曾担任华盛顿和北京的大使。在5月9日由Politico发表的一次采访中，他清楚地证明了国际秩序的动荡使布鲁塞尔与新德里关系得以复兴。他说，“化学反应”不同于十年前了。</p><p>有一个词从来没有被提到，但是房间里的确有一头大象是共识：中国。对于印度外长苏杰生（Jaishankar）而言，新冠疫情远不止是一时的，反而在国际关系中创造了新常态。像印度一样，欧盟也意识到了其供应方面的安全漏洞。这位印度部长说：“我们必须重新构建和布局世界，将大流行性疾病造成的局面保持不变。”他鼓励欧盟在印太地区“变得更加活跃，能见度更高”。美国已经在那里。毫无疑问，如果欧洲也去的话，印度在这种包围中的感觉会更好一些。</p>
                </div>
            
                                <br>
