---
layout: post
title: 香港祭安全法 冻结黎智英财产
date: 2021-05-15 07:15:02.000000000 +08:00
link: http://www.rfi.fr//cn/%E4%B8%AD%E5%9B%BD/20210514-%E9%A6%99%E6%B8%AF%E7%A5%AD%E5%AE%89%E5%85%A8%E6%B3%95-%E5%86%BB%E7%BB%93%E9%BB%8E%E6%99%BA%E8%8B%B1%E8%B4%A2%E4%BA%A7
categories: rfi
---

<div>15/05/2021 - 00:56</div><img src="https://s.rfi.fr/media/display/8bc84bfc-b507-11eb-9d35-005056a917b9/w:310/p:16x9/AP20347010817166.jpg"><div class="t-content__body u-clearfix" >
                    <p>根据北京去年六月强加于香港的『港版国安法』而于香港设立的保安局星期五下令，冻结黎智英壹传媒集团股份及个人资产。</p><p>自学成才、现年73岁的黎智英因其集团支持2019年爆发的反送中运动激怒了北京。他的『苹果日报』坚持报道真相，在香港最动荡时期，始终如一支持长达数月之久的民主运动。</p><p>黎智英数周前被指违反北京强加于香港的『港版国安法』而被捕，该法设定分裂国家罪、颠覆国家政权罪、恐怖活动罪、勾结外国或者境外势力危害国家安全罪四类犯罪行为，被指专用来打击香港民主力量。香港民主派认为，该法从根本上颠覆了北京政权当年向港人承诺的维持五十年资本主义制度不变的“一国两制”。</p><p>黎智英出生于中国大陆，12岁闯荡香港，凭借个人努力，从一个身无分文者成为亿万富翁。他被当局指控犯下“勾结境外势力”，支持西方对破坏香港一国两制的中国和香港高官进行制裁。</p><p>四月份，当局以组织和参与2019年8月的一场泛民人士的游行判其14个月徒刑。自港版国安法公布以来，香港众多民主派领袖或被逮捕，或被囚禁，或逃亡外国。</p><p>北京不久前打出“爱国者治港”，目标：全方位控制参加立法会议员竞选资格，把民主派人士参选减少到最低程度。</p><p>黎智英成为北京重点镇压对象的一个重要原因是，以坚持报道真相为主旨的黎智英的媒体与香港同行明显不同，在北京压力下，绝大多数香港媒体采取了非常谨慎的态度。</p><p>『苹果日报』5月14日发表文告指出，冻结事件不影响壹传媒集团和『苹果』的正常运作。苹果日报周五报道表示：“《苹果》推出《9点半苹果新闻报道》，星期一至日、每晚9时半准时为你送上半小时高清电视新闻直播，由专业主播以轻松、贴地的报道手法，为你简报每日大事，透过编辑自主，呈现一些其他地方未必见到的新闻画面，还原事实真相。”</p>
                </div>
            
                                <br>
